.icons-bg-page {
  padding: 131px 0;
  color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-blue);
  background-image: url("../img/bg-tilde.svg"), url("../img/bg-quotes.svg"), url("../img/bg-arrow-up.svg"), url("../img/bg-colon.svg"), url("../img/bg-tilted-line.svg"), url("../img/bg-arrow.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position:
    19% 23%,
    calc(100% - 19%) 18%,
    6% 44%,
    calc(100% - 6%) 48%,
    19% 69%,
    calc(100% - 19%) 66%;

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__form {
    padding: 36px;
    border-radius: 8px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 16px;
    --button-padding: 16px 40px;
    @media (min-width: 768px) {
      min-width: 488px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    --plain-action-font-size: .875rem;
    
    & a {
      color: var(--color-dark-blue);
    }
    
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }

  & .button {
    margin-left: auto;
  }
}
