.home-page {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: [full-width-start] 4px [content] 1fr [full-width-end] 4px;
  flex-grow: 1;
  grid-template-rows: max-content;
  color: var(--color-dark-blue);

  @media (min-width: 768px) {
    grid-template-columns: [full-width-start] 1fr [content] minmax(375px, 960px) [full-width-end] 1fr;
  }

  & h1,
  & h2,
  & p {
    margin: 0;
  }

  &__header {
    grid-column: 1/-1;
    padding: 48px 0;
    background-color: var(--color-light-blue);
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    text-align: center;
    gap: 16px;

    &>* {
      grid-column: content;
    }

    & h1 {
      font-size: 2.125rem;
      font-weight: 400;
    }

    & p {
      font-size: 1rem;
      font-weight: 500;
      line-height: 30px;
    }

    & .button {
      margin: 0 auto;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    grid-column: content;
    margin-top: 24px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    background-color: var(--color-also-bluish-but-not-exactly-gray);
    padding: 72px 24px 24px;
    position: relative;
    width: 290px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & h2,
    & p {
      font-weight: 500;
    }

    & h2 {
      font-size: 1.25rem;
    }

    & p {
      font-size: .875rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 24px;
      background-color: white;
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    &:first-child {
      &::before {
        width: 12px;
        height: 32px;
        mask-image: url("../img/bg-arrow.svg");
      }
    }

    &:nth-child(2) {
      &::before {
        width: 42px;
        height: 14px;
        mask-image: url("../img/bg-tilde.svg");
      }
    }

    &:last-child {
      &::before {
        width: 33px;
        height: 32px;
        mask-image: url("../img/bg-arrow-up.svg");
      }
    }
  }

  &__financing {
    grid-column: content;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;

    & h2 {
      font-size: 1.5rem;
    }

    & p,
    & li {
      font-size: .875rem;
      font-weight: 500;
    }

    & ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    & li {
      position: relative;
      padding-left: 32px;

      &::before {
        mask-image: url("../img/bg-tilde.svg");
        width: 24px;
        height: 8px;
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: var(--color-light-blue);
      }
    }
  }
}
