.lex-results {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: transparent;
  color: var(--color-dark-blue);
  --lex-paging-height: 50px;

  &:has(.lex-results__paging) {
    --lex-paging-height: 80px;
  }
  
  &__container {
    container: results / size;
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 14px;
    --icon-size: 1rem;
  }
  
  &__count {
    margin-top: 6px;
    font-size: .625rem;
    font-weight: 500;
    
    & strong {
      font-weight: 700;
    }
  }
  
  &__refresh {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-010);
    box-shadow: 0px 2px 2px 0px #0000001A;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__rows {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    // Results container height - sidebar header - paging
    max-height: calc(100cqh - 42px - var(--lex-paging-height));
  }

  &__row {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-gray-010);
    box-shadow: 0px 2px 8px 0px #0000001A;
    background-color: var(--color-white);
    position: relative;
    font-size: .625rem;
    font-weight: 500;
    color: var(--color-dark-blue);
    
    & button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 8px;
      width: 100%;
      color: inherit;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      font-weight: inherit;
    }

    &.active {
      background-color: var(--color-light-blue);
      border-color: var(--color-dark-blue);
    }

    &:focus-within {
      border: 1px solid black;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__status {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 14px;
    width: 14px;
  }

  &__badge {
    font-weight: 700;
    font-size: .625rem;
    border-radius: 4px;
    border: 1px solid var(--color-gray-010);
    background-color: var(--color-hall-taust-final-final-final-hall-500);
    min-width: 16px;
    min-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__row-title {
    font-size: .75rem;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__paging {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    --icon-size: 1.5rem;

    & button {
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: .625rem;
      color: inherit;

      &[data-active='false'] {
        color: var(--color-dark-blue-25);
      }
    }
  }

  &__pages {
    display: flex;
    align-items: center;
    gap: 12px;

  }

  &__page-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    & input {
      width: 50%;
    }

    & button {
      height: 100%;
    }

    &:has(input:placeholder-shown) {
      & button {
        display: none;
      }
    }
  }
}
