.register-page {
  
  &__title {
    font-size: 1.5rem;
    font-weight: 400;
  }
  &__form {
    padding: 36px;
    border-radius: 8px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 488px;
    --button-padding: 16px 40px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    --plain-action-font-size: .875rem;
  }
}
