<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="statFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}_%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<springProfile name="prod,test">
		<root level="info">
			<appender-ref ref="statFileAppender" />
		</root>
	</springProfile>

	<springProfile name="dev,local">
		<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
		<root level="info">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

</configuration>
