.footer {
  background-color: var(--color-light-gray);
  color: var(--color-dark-blue);
  padding-top: 36px;
  margin-top: auto;
  font-size: .875rem;

  &__grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    font-weight: 500;
    gap: 24px;
    padding: 0 8vw 36px;

    & a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 767px) {
      align-items: center;
    }
  }

  &__column-header {
    min-height: 30px;
    font-size: 1.25rem;
  }

  &__logo {
    height: 30px;
  }

  &__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &--facebook {
      background-image: url(../images/facebook.svg);
    }

    &--youtube {
      background-image: url(../images/youtube.svg);
    }

    &--linkedin {
      background-image: url(../images/linkedin.svg);
    }
  }

  &__feedback-button {
    height: 48px;
    padding: 4px 24px;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    border-radius: 100px;
    width: max-content;
  }

  &__version {
    font-size: .75rem;
    font-weight: 400;
  }

  &__logos {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 16px;
    align-items: center;
    padding: 24px;
    background-color: var(--color-white);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
