.search-wrap {
  position: sticky;
  top: 70px;
  z-index: 111;
  width: 100%;
}

.search-panel {
  padding-left: 16px;

  @include media-breakpoint-up(md) {
    padding: 0 36px;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 124px;
  }
}

.main-search {
  position: relative;
}

.main-search-input {
  height: var(--main-search-input-height, 40px);
  padding-right: 80px;
  border-color: $gray-100;
  border-radius: 8px;
  border: 1px solid var(--color-dark-blue-75);

  @include media-breakpoint-up(md) {
    padding: 12px 112px 12px 16px;
  }

  @include media-breakpoint-up(lg) {
    padding: 12px 152px 12px 16px;
  }
}

.recommendation-additional-info {
  display: flex;

  i {
    margin-right: 4px;
    font-size: 1.375rem;
    color: $blue-350;
  }

  span {
    display: block;
    padding-bottom: 16px;
    font-size: .875rem;
    color: $gray-400;
  }
}



.main-search-btns {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 0;
  height: 100%;
  right: 18px;
}

.speak-btn {
  font-size: 1.0625rem;

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }
}

.search-btn,
.clear-btn,
.keyboard-btn {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: var(--color-icon-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.clear-btn {
  --icon-variation-settings: 'FILL' 1;
  color: var(--color-elephanter-gray);
}

.keyboard-btn {
  &.active {
    background-color: var(--color-gray-100);
    height: 38px;
    width: 40px;
    border-radius: 100px;
    color: var(--color-dark-blue);
    font-size: 2rem;
  }
}


.speak-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  @include border-radius(50%);
}

.keyboard-search {
  display: none;
  align-items: center;
  padding: 0;
  border-radius: 100px;

  &.lang-open {
    background: $gray-300;
  }
  
  @include media-breakpoint-up(lg){
    display: inline-flex;
  }
}

#keyboard-search-btn {
  border: none;

  &:focus {
    box-shadow: none;
    outline: 1px solid var(--color-outline);
  }

  .fas.fa-keyboard {
    width: 27px;
    height: 28px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
  }
}

#keyboard-lang-search {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding: 8px;

  .dropdown-toggle {
    display: inline-flex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $white;
    background-color: transparent;
    padding: 0;
    border: none;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .costom-keyboard-lang-angle-down {
    margin-left: 4px;

    .fa.fa-angle-down {
      width: 13px;
      height: 16px;
      font-family: "Font Awesome 5 Free";
      font-size: .875rem;
      font-style: normal;
      font-weight: 900;
      line-height: 16px;
    }
  }

  .dropdown-menu {
    min-width: auto;
  }

}

// Hide search button by default
#clear-search-btn {
  display: none;
}

// Show search button when search is not showing a placeholder AKA has a value
.main-search:has(#search:not(:placeholder-shown)) {
  #clear-search-btn {
    display: flex;
  }
}
