$icomoon-font-path: "../fonts" !default;

$icon-eki-logo: \e90e;
$icon-logo: \e90b;
$icon-logo-s: \e90a;
$icon-logo-type: \e90c;
$icon-menu: \e909;
$icon-close: \e900;
$icon-caret-down: \e901;
$icon-mic: \e902;
$icon-search: \e903;
$icon-speaker: \e904;
$icon-arrow-right: \e905;
$icon-add: \e906;
$icon-chevron-left: \e907;
$icon-chevron-right: \e908;
$icon-back: \e90d;

