$icomoon-font-path: "../fonts" !default;

$icon-arrow-right: \e905;
$icon-add: \e906;
$icon-chevron-left: \e907;
$icon-speaker: \e904;
$icon-close: \e900;
$icon-caret-down: \e901;
$icon-mic: \e902;
$icon-search: \e903;
