.node {
  cursor: pointer;
}

.node text {
  font: 20px sans-serif;
}

.link {
  cursor: pointer;
  fill: none;
  stroke: #D7E5F2;
  stroke-width: 2px;
}

.arrow {
  fill: rgb(150, 150, 150);
  stroke-width: 3px;
}
