<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(_,_)">
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'home')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">
          <span th:text="#{apply.welcome(${#authentication.name})}"></span>
        </h5>
      </div>
      <div class="card-body">
        <div class="alert alert-info" role="alert" th:if="${applicationNotSubmitted}">
          <div th:text="#{apply.ekilex.application.title}">See on EKI sõnastiku- ja terminibaasisüsteem Ekilex. Kui vaja, vali vastavad sõnakogud, millele soovid muutmisõigust.</div>
        </div>
        <div class="alert alert-info" role="alert" th:if="${applicationReviewPending}">
          <span th:text="#{apply.application.pending}">Sinu Ekilexi sõnakogude õiguste taotlus on vastu võetud ning ootab rahuldamist. Seni saad Ekilexi kasutada vaatamisõigusega</span>
          <form th:action="@{/apply_read}" method="post">
            <button type="submit" class="btn btn-primary ml-3 mt-2" th:text="#{apply.start.using}">Hakka Ekilexi kasutama</button>
          </form>
        </div>
        <div class="alert alert-warning" role="alert" th:if="${applicationDenied}">
          <div th:text="#{apply.denied}">Sinu Ekilexi kasutamise taotlus lükati tagasi.</div>
        </div>
        <div class="container float-left w-50" th:if="${applicationNotSubmitted}">
          <form th:action="@{/apply}" method="post">
            <div class="row no-gutters">
              <span class="col-10 mt-3 ml-5">
                <a class="btn btn-outline-secondary" data-toggle="collapse" href="#datasetsSelection" role="button" aria-expanded="false" aria-controls="datasetsSelection">
                  <span th:text="#{apply.crud}">Soovin sõnakogude muutmisõigust</span>
                </a>
              </span>
            </div>
            <div class="mt-3 collapse" id="datasetsSelection">
              <th:block th:each="dataset : ${allDatasets}">
                <div class="row no-gutters">
                  <span class="col-1 text-right">
                    <input type="checkbox" name="selectedDatasets" th:value="${dataset.code}" />
                  </span>
                  <span th:text="${dataset.code}" class="col-1 text-center"></span>
                  <span th:text="${dataset.name}" class="col-10"></span>
                </div>
              </th:block>
              <div class="row">
                <div class="col-8 mt-3 ml-5">
                  <label class="col-form-label" th:text="#{apply.comment}">Põhjendus</label>
                  <textarea class="form-control" rows="3" name="applicationComment" required></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col mt-3 ml-5">
                  <button type="submit" class="btn btn-primary" th:text="#{apply.submit.application}">Saada taotlus</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="container float-left w-50" th:if="${applicationReviewPending && not #lists.isEmpty(userApplications)}">
          <div>
            <b th:text="#{apply.user.applications}">Sinu sõnakogude muutmisõiguse taotlused</b>
          </div>
          <th:block th:each="userApplication,userApplicationIter : ${userApplications}">
            <div class="row no-gutters mt-3">
              <div class="col-8">
                <th:block th:each="dataset : ${userApplication.datasets}">
                  <div class="row no-gutters">
                    <span th:text="${dataset.code}" class="col-1"></span>
                    <span th:text="${dataset.name}" class="col-10"></span>
                  </div>
                </th:block>
              </div>
            </div>
            <hr class="mt-3" th:unless="${userApplicationIter.last}" />
          </th:block>
        </div>
      </div>
    </div>
    <div class="card mt-4 shadow" th:if="${applicationNotSubmitted}">
      <div class="card-body">
        <div class="alert alert-info" role="alert">
          <div th:text="#{apply.read}">Kui soovid Ekilexi vaatamisõigust ja katsebaasi muutmisõigust:</div>
        </div>
        <div class="container float-left w-50">
          <form th:action="@{/apply_read}" method="post">
            <div class="row">
              <div class="col mt-3 ml-5">
                <button type="submit" class="btn btn-primary" th:text="#{apply.start.using}">Hakka Ekilexi kasutama</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card mt-4 shadow" th:if="${applicationNotSubmitted || applicationReviewPending}">
      <div class="card-body">
        <div class="alert alert-info" role="alert">
          <div th:text="#{apply.limited}">Kui soovid hakata võrgustiku kasutajaks:</div>
        </div>
        <div class="container float-left w-50">
          <form th:action="@{/apply_limited}" method="post">
            <div class="row">
              <div class="col mt-3 ml-5">
                <button type="submit" class="btn btn-primary" th:text="#{apply.join.limited}">Liitu võrgustikuga</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
