<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <th:block th:fragment="collocation">
    <div th:id="|collocMemberMoveOrCopyDlg_${lexeme.lexemeId}|"
         th:data-callback="${@viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
         class="modal" role="dialog" th:fragment="colloc_member_move_or_copy_dlg">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form th:action="@{/colloc_member_move_or_copy}" method="post">
            <div class="modal-header">
              <h5 class="modal-title" th:text="#{lex.collocation.member.moveorcopy}">Vaheta kollokatsiooni liikmete tähendus või kopeeri...</h5>
              <button type="button" class="close" aria-label="Close" data-role="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="hidden" name="sourceCollocMemberLexemeId" th:value="${lexeme.lexemeId}">
              <input type="hidden" name="collocLexemeIds">
              <input type="hidden" name="opName">
              <div class="form-group">
                <th:block th:each="collocMemberMeaning : ${lexeme.collocationMemberMeanings}">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" 
                           name="targetCollocMemberLexemeId"
                           th:value="${collocMemberMeaning.lexemeId}"
                           th:checked="${collocMemberMeaning.lexemeId == lexeme.lexemeId}">
                    <label class="form-check-label">
                      <th:block th:each="definitionValue, definitionValueIter : ${collocMemberMeaning.definitionValues}">
                        <span th:text="${definitionValue}"></span>
                        <span th:unless="${definitionValueIter.last}" class="ml-n1">;</span>
                      </th:block>
                    </label>
                  </div>
                </th:block>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-plugin="collocMemberMoveOrCopyPlugin" value="copy" th:text="#{lex.collocation.copy}">Kopeeri</button>
              <button type="button" class="btn btn-primary" data-plugin="collocMemberMoveOrCopyPlugin" value="move" th:text="#{lex.collocation.move}">Vaheta</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      $('[data-toggle=delete-colloc-member-confirm]').confirmation({
        btnOkLabel : /*[[#{common.yes}]]*/'Jah',
        btnCancelLabel : /*[[#{common.no}]]*/'Ei',
        title : /*[[#{lex.collocation.confirm.delete.member}]]*/'Kinnita kustutamine',
        html : true,
        onConfirm : executeDelete
      });
    </script>
  </th:block>
  <div th:id="|editCollocMemberPosGroupDlg_${collocMember.id}|"
       th:data-callback="${@viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
       class="modal select-dlg" role="dialog" th:fragment="edit_colloc_member_pos_group_dlg"
       data-plugin="initSelectDlgPlugin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/update_item}" method="post">
          <div class="modal-body">
            <input type="hidden" name="id" th:value="${collocMember.id}">
            <input type="hidden" name="opCode" value="colloc_member_pos_group">
            <input type="hidden" name="value" th:value="${collocMember.posGroupCode}">
            <select class="form-control" name="value">
              <option th:each="posGroup : ${posGroups}" 
                      th:value="${posGroup.code}" 
                      th:selected="${posGroup.code == collocMember.posGroupCode}"
                      th:text="${posGroup.value}">value</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="|editCollocMemberRelGroupDlg_${collocMember.id}|"
       th:data-callback="${@viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
       class="modal select-dlg" role="dialog" th:fragment="edit_colloc_member_rel_group_dlg"
       data-plugin="initSelectDlgPlugin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/update_item}" method="post">
          <div class="modal-body">
            <input type="hidden" name="id" th:value="${collocMember.id}">
            <input type="hidden" name="opCode" value="colloc_member_rel_group">
            <input type="hidden" name="value" th:value="${collocMember.relGroupCode}">
            <select class="form-control" name="value">
              <option th:each="relGroup : ${relGroups}" 
                      th:value="${relGroup.code}" 
                      th:selected="${relGroup.code == collocMember.relGroupCode}"
                      th:text="${relGroup.value}">value</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="|addCollocMemberDlg_${lexeme.lexemeId}|"
       th:data-callback="${@viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
       class="modal" role="dialog" th:fragment="add_colloc_member_dlg">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{colloc.add.member}">Lisa kollokatsiooni liige</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form th:action="@{/colloc_member_form_search}" method="post" data-plugin="collocMemberFormSearchPlugin">
              <input type="hidden" name="collocLexemeId" th:value="${lexeme.lexemeId}">
              <input type="hidden" name="lang" th:value="${lexeme.lexemeWord.lang}">
              <input type="hidden" name="datasetCode" th:value="${lexeme.datasetCode}">
              <label th:text="#{colloc.title.searchmember}">Otsing</label>
              <div class="form-group row ui-front">
                <div class="col-5">
                  <input type="text" class="form-control" name="formValue" th:placeholder="#{colloc.title.searchform}" autocomplete="off">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary" th:text="#{common.search}">Otsi</button>
                </div>
              </div>
            </form>
          </div>
          <div id="add_colloc_member_section">
            <!-- dynamic content -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" name="collocMemberSaveBtn" data-plugin="collocMemberSavePlugin" th:text="#{common.save}" disabled="disabled">Salvesta</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
        </div>
      </div>
    </div>
  </div>
  <div th:id="|editCollocMemberDlg_${collocMember.id}|"
       th:data-callback="${@viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
       class="modal" role="dialog"
       data-plugin="initCollocMemberUpdatePlugin"
       th:fragment="edit_colloc_member_dlg">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{colloc.edit.member(${collocMember.memberFormValue})}">Kollokatsiooni liikme muutmine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form name="collocMemberMeaningSearchForm" th:action="@{/colloc_member_meaning_search}" method="post">
              <input type="hidden" name="id" th:value="${collocMember.id}">
            </form>
          </div>
          <div th:id="|edit_colloc_member_section_${collocMember.id}|">
            <!-- dynamic content -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" name="collocMemberSaveBtn" data-plugin="collocMemberSavePlugin" th:text="#{common.save}" disabled="disabled">Salvesta</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
