<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common_header(title,links)">
<title th:replace="${title}" th:text="#{general.title}">EKILEX</title>
<!-- Common styles and scripts -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="apple-touch-icon" sizes="180x180" th:href="@{/view/img/favicon/apple-touch-icon.png}">
<link rel="icon" type="image/svg+xml" th:href="@{/view/img/favicon/favicon.svg}"/>
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/view/img/favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/view/img/favicon/favicon-16x16.png}">
<link rel="manifest" th:href="@{/view/img/favicon/site.webmanifest}">
<link rel="mask-icon" th:href="@{/view/img/favicon/safari-pinned-tab.svg}" color="#5bbad5">
<!--link rel="shortcut icon" th:href="@{/view/img/favicon/favicon.ico}"-->
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="view/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<th:block th:replace=" :: css"></th:block>
<th:block th:replace=" :: js"></th:block>
<!--/* Per-page placeholder for additional links */-->
<th:block th:replace="${links}" />
<script th:inline="javascript">
	var applicationUrl = /*[[@{/}]]*/'/';
	var applicationBaseUrl = /*[[${appData.baseUrl}]]*/'/';
	const messages = {
		'common.error': /*[[#{common.error}]]*/'Viga!',
    'common.error.input': /*[[#{common.error.input}]]*/'Lisamiseks valige väärtus.',
		'common.data.add.error': /*[[#{common.data.add.error}]]*/'Andmete muutmine ebaõnnestus.',
		'common.data.update.error': /*[[#{common.data.update.error}]]*/'Andmete muutmine ebaõnnestus.',
		'common.save.error': /*[[#{common.save.error}]]*/'Salvestamine ebaõnnestus',
		'common.yes': /*[[#{common.yes}]]*/'Jah',
		'common.no': /*[[#{common.no}]]*/'Ei',
	  'common.please.wait': /*[[#{common.please.wait}]]*/'Palun oodake',
	  'common.search.add.parameter': /*[[#{common.search.add.parameter}]]*/'Palun täiendage otsingu parameetrit.',
	  'common.broken.link': /*[[#{common.broken.link}]]*/'Vigane link.',
	  'common.all.languages': /*[[#{common.all.languages}]]*/'Kõik keeled',
	  'common.confirm.delete': /*[[#{common.confirm.delete}]]*/'Kinnita kustutamine',
	  'classifiers.confirm.delete': /*[[#{classifiers.confirm.delete}]]*/'Klassifikaatorit on võimalik kustutada siis, kui see ei ole kasutuses. Kas soovid kustutada?',
	  'tag.in.use.confirm.delete': /*[[#{tag.in.use.confirm.delete}]]*/'Ettevaatust, silt on kasutusel. Kas oled kindel, et soovid kustutada?',
	  'source.confirm.delete': /*[[#{source.confirm.delete}]]*/'Palun kinnita allika kustutamine',
	  'source.attribute.confirm.delete': /*[[#{source.attribute.confirm.delete}]]*/'Palun kinnita allika atribuudi kustutamine',
		'permissions.email.send.success': /*[[#{permissions.email.send.success}]]*/'Kiri saadetud',
		'permissions.email.send.fail': /*[[#{permissions.email.send.fail}]]*/'Kirja saatmine ebaõnnestus',
		'lexjoin.fail': /*[[#{lexjoin.fail}]]*/'Tähenduste ühendamine ebaõnnestus',
		'meaningjoin.fail': /*[[#{meaningjoin.fail}]]*/'Tähenduste ühendamine ebaõnnestus',
		'tag.save.fail': /*[[#{tag.save.fail}]]*/'Salvestamine ebaõnnestus. Kontrolli, kas sellise nimega silt on juba olemas',
		'classifiers.save.fail': /*[[#{classifiers.save.fail}]]*/'Salvestamine ebaõnnestus. Kontrolli, kas sellise koodiga klassifikaator on juba olemas',
		'syn.add.syn.relation.word.fail': /*[[#{syn.add.syn.relation.word.fail}]]*/'Keelendi lisamine ebaõnnestus.',
		'syn.lexeme.exists': /*[[#{syn.lexeme.exists}]]*/'Ilmik on juba olemas.',
		'syn.press.enter.for.lexeme': /*[[#{syn.press.enter.for.lexeme}]]*/'Ilmiku tekitamiseks vali paremalt tulbast sõna vajutades \'ENTER\'.',
	  'datasets.code.exists.validation': /*[[#{datasets.code.exists.validation}]]*/'Sellise koodiga sõnakogu on olemas.',
	  'datasets.code.format.validation': /*[[#{datasets.code.format.validation}]]*/'Kood tohib sisaldada ainult tähti ja numbreid.',
	  'term.meaning.table.max.meanings.exceeded': /*[[#{term.meaning.table.max.meanings.exceeded}]]*/'Tabelivaade käivitub ainult kuni 50 mõiste korral',
    'term.add.term': /*[[#{term.add.term}]]*/'Lisa termin',
    'editor.error.add.note': /*[[#{editor.error.add.note}]]*/'Lisage tähenduse sisemärkus!'
  };
</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-3E8P83133Z"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-3E8P83133Z');
	</script>
</head>
<body>
  <!-- Bootstrap core JS -->
  <th:block th:fragment="js">
    <script type="text/javascript" th:src="@{/view/js/_jquery-3.2.1.js}"></script>
    <script type="text/javascript" src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script type="text/javascript" th:src="@{/view/js/ckeditor.jquery.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/main.js}"></script>
  </th:block>
  <!-- Bootstrap core CSS -->
  <th:block th:fragment="css">
    <link rel="stylesheet" th:href="@{/view/css/styles.css}" />
  </th:block>
  <th:block th:fragment="nav_bar">
    <nav class="navbar navbar-expand-md bg-primary navbar-dark main-navigation" th:classappend="${activeItem == 'partsyn' ? '' : 'fixed-top'}">
      <a th:href="@{/}">
        <span th:if="${activeItem == 'home' || activeItem == 'limterm'}" class="text-white">
          Ekilex <small class="pl-2" th:text="${'v.' + appData.appVersion}">1.0.0</small>
        </span>
      </a>
      <div th:if="${activeItem != 'home' && activeItem != 'limterm'}" class="dropdown side-menu">
        <button type="button" class="btn btn-primary ml-n3 side-menu-btn" id="sideMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars mr-2" aria-hidden="true"></i>
          <span th:text="#{'menu.' + ${activeItem}}">Aktiivne rakendus</span>
        </button>
        <div id="sideMenu" class="side-menu-content dropdown-menu ml-n3" aria-labelledby="sideMenuButton">
          <a class="dropdown-item side-menu-header mt-n2 d-flex align-items-center" th:href="@{/home}" th:title="${appData.appName + ' ' + appData.appVersion}">
            Ekilex <small class="text-secondary ml-auto" th:text="${'v.' + appData.appVersion}">1.0.0</small>
          </a>
          <div>
            <div class="dropdown-header" th:text="#{menu.dropdown.header}">Rakenduse valik</div>
            <div>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'lex' ? 'active' : ''}" th:href="@{/lexsearch}" th:text="#{menu.lex}">Leksikograafid</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'term' ? 'active' : ''}" th:href="@{/termsearch}" th:text="#{menu.term}">Terminoloogid</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'partsyn' ? 'active' : ''}" th:href="@{/partsynsearch}"
                 sec:authorize="#vars.userRoleData.crudRoleSelected" th:text="#{menu.partsyn}">Vasted</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'fullsyn' ? 'active' : ''}" th:href="@{/fullsynsearch}"
                 sec:authorize="#vars.userRoleData.crudRoleSelected" th:text="#{menu.fullsyn}">Tõlkevasted</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'source' ? 'active' : ''}" th:href="@{/sourcesearch}" th:text="#{menu.source}">Allikate otsing</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'limterm' ? 'limterm' : ''}" th:href="@{/limtermsearch}" th:text="#{menu.lim.term}">Võrgustiku otsing</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'history' ? 'active' : ''}" th:href="@{/history}" th:text="#{menu.history}">Kustutatud andmed</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'datasets' ? 'active' : ''}" th:href="@{/datasets}" th:text="#{menu.datasets}">Sõnakogude haldus</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'fedtermupload' ? 'active' : ''}" th:href="@{/fedtermupload}"
                 sec:authorize="#vars.userRoleData.admin" th:text="#{menu.fedtermupload}">FedTerm liidestus</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'classifiers' ? 'active' : ''}" th:href="@{/classifiers}"
                 sec:authorize="#vars.userRoleData.admin" th:text="#{menu.classifiers}">Klassifikaatorite haldus</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'tags' ? 'active' : ''}" th:href="@{/tags}"
                 sec:authorize="#vars.userRoleData.admin" th:text="#{menu.tags}">Siltide haldus</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'permissions' ? 'active' : ''}" th:href="@{/permissions}"
                 sec:authorize="#vars.userRoleData.datasetOwnerOrAdmin" th:text="#{menu.permissions}">Kasutajaõiguste haldus</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'workloadreport' ? 'active' : ''}" th:href="@{/workloadreport}"
                 sec:authorize="#vars.userRoleData.admin" th:text="#{menu.workloadreport}">Muudatuste aruanne</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'wwfeedback' ? 'active' : ''}" th:href="@{/wwfeedback}" th:text="#{menu.wwfeedback}">Sõnaveebi tagasiside</a>
              <a class="dropdown-item side-menu-item" th:classappend="${activeItem == 'stat' ? 'active' : ''}" th:href="@{/stat}" th:text="#{menu.stat}">Sõnaveebi statistika</a>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary rounded-0"
              data-toggle="modal"
              data-target="#newWordDlg"
              sec:authorize="#vars.userRoleData.crudRoleSelected"
              th:if="${activeItem == 'lex'}">
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>
        <span th:text="#{lex.new.word}">Uus keelend</span>
      </button>
      <form th:action="@{/termcreatewordandmeaning}" method="post" th:if="${activeItem == 'term'}">
        <input type="hidden" name="backUri" th:value="${backUri}">
        <button type="button" class="btn btn-primary rounded-0" data-plugin="initCreateWordPlugin" sec:authorize="#vars.userRoleData.crudRoleSelected">
          <i class="fa fa-plus mr-2" aria-hidden="true"></i>
          <span th:text="#{term.new.meaning}">Uus Mõiste</span>
        </button>
      </form>
      <button type="button" class="btn btn-primary rounded-0 border-left ml-2"
              data-toggle="modal"
              data-target="#newLimTermWordDlg"
              sec:authorize="#vars.userRoleData.crudRoleSelected"
              th:if="${activeItem == 'limterm'}">
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>
        <span th:text="#{term.lim.term.new.word}">Uus keelend</span>
      </button>
      <div th:if="${appData.devEnv}" class="bg-warning ml-2">
        <strong class="px-5" th:text="${appData.envName}">TEST</strong>
      </div>
      <ul th:if="${searchMode}" class="main-nav-tabs nav nav-tabs mb-n3 mx-auto align-self-start border-bottom-0">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${searchMode == 'SIMPLE'} ? 'active':''"
            id="simpleSearchModeBtn"
            th:text="#{common.search.mode.simple}"
            data-toggle="tab"
            href="#simple_search_filter"
            role="tab"
            aria-controls="simple_search_filter"
            aria-selected="true"
            data-plugin="chooseSearchModePlugin">Lihtotsing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${searchMode == 'DETAIL'} ? 'active':''"
            id="detailSearchModeBtn"
            th:text="#{common.search.mode.detail}"
            data-toggle="tab"
            href="#detail_search_filter"
            role="tab"
            aria-controls="simple_search_filter"
            aria-selected="true"
            data-plugin="chooseSearchModePlugin">Detailotsing</a>
        </li>
      </ul>
      <th:block th:if="${activeItem == 'partsyn'}">
        <button class="btn btn-primary mr-3" type="button" data-toggle="modal" data-target="#synTutorialDlg">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          <span th:text="#{common.user.manual}">Kasutusjuhend</span>
        </button>
      </th:block>
      <div th:if="${activeItem != 'limterm'}" class="navbar-nav" th:classappend="${searchMode == null ? 'ml-auto' : ''}">
        <th:block sec:authorize="isAuthenticated()">
          <div class="btn mr-3" style="font-size: 16px">
            <a class="btn-primary" href="mailto:kasutajatugi@ekilex.ee?subject=Ekilex" th:title="#{common.user.support}">
              <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
            </a>
            <a class="btn-primary" href="https://keeleinstituut.github.io/ekilex/" target="ekilexUserManual" th:title="#{common.user.manual}">
              <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="userMenuDropDown" class="dropdown user-menu">
            <button class="btn btn-primary dropdown-toggle user-menu-btn text-right mr-n3" type="button" data-toggle="dropdown">
              <span class="d-flex flex-wrap">
                <span class="w-100 text-truncate" th:text="${#authentication.name}">Eesnimi</span>
                <th:block th:if="${userRoleData.roleSelected}" th:with="selectedRole = ${userRoleData.userRole}">
                  <small class="w-100 text-truncate user-menu-active-role" th:with="permissionName=#{|authorityoperation.${selectedRole.authOperation}|}">
                    <span th:text="#{home.selectedrole(${selectedRole.datasetName}, ${permissionName})}"></span>
                  </small>
                </th:block>
                <th:block th:unless="${userRoleData.roleSelected}">
                  <small class="w-100 text-truncate user-menu-active-role" th:text="#{common.active.role.unseleted}">Aktiivne roll valimata</small>
                </th:block>
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right user-menu-content">
              <div>
                <div class="dropdown-header pb-0" th:text="#{common.active.role}">Aktiivne roll</div>
                <div class="px-3 d-flex flex-row">
                  <th:block th:if="${userRoleData.roleSelected}" th:with="selectedRole = ${userRoleData.userRole}">
                    <span class="pr-3"
                          th:with="permissionName=#{|authorityoperation.${selectedRole.authOperation}|}"
                          th:text="#{home.selectedrole(${selectedRole.datasetName}, ${permissionName})}">
                    </span>
                  </th:block>
                  <th:block th:unless="${userRoleData.roleSelected}">
                    <span class="pr-3 text-danger" th:text="#{common.active.role.unseleted}">Aktiivne roll valimata</span>
                  </th:block>
                  <a th:href="@{/home}" class="text-nowrap">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span th:text="#{common.switch.role}">Vaheta</span>
                  </a>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/userprofile}" th:if="${userRoleData.roleSelected}">
                <span th:text="#{common.user.profile}">Kasutaja profiili haldus</span>
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <a class="dropdown-item" th:href="@{/dologout}">
                <span th:text="#{common.log.out}">Logi välja</span>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </th:block>
      </div>
      <div th:if="${activeItem == 'limterm'}" class="navbar-nav ml-auto">
        <div class="btn mr-3" style="font-size: 16px">
          <a class="btn-primary" href="mailto:kasutajatugi@ekilex.ee?subject=Ekilex" th:title="#{common.user.support}">
            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
          </a>
          <a class="btn-primary" href="https://keeleinstituut.github.io/ekilex/" target="ekilexUserManual" th:title="#{common.user.manual}">
            <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="dropdown user-menu">
          <button class="btn btn-primary dropdown-toggle user-menu-btn text-right mr-n3" type="button" data-toggle="dropdown">
            <span class="d-flex flex-wrap">
              <span class="w-100 text-truncate" th:text="${#authentication.name}">Eesnimi</span>
            </span>
          </button>
          <div class="dropdown-menu dropdown-menu-right user-menu-content">
            <a class="dropdown-item" th:href="@{/dologout}">
              <span th:text="#{common.log.out}">Logi välja</span>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </th:block>
  <th:block th:fragment="user_message">
    <div th:if="${userMessage}" style="display: none">
      <div id="successMessage" th:text="#{${userMessage.successMessageKey}}" th:if="${userMessage.successMessageKey}"></div>
      <div id="warningMessage" th:text="#{${userMessage.warningMessageKey}}" th:if="${userMessage.warningMessageKey}"></div>
    </div>
  </th:block>
  <th:block th:fragment="ordering_buttons(itemIter)">
    <button type="button" th:hidden="${itemIter.first}" class="btn badge badge-secondary order-up float-left"
          th:title="#{common.update.ordering}"
          data-plugin="changeItemOrderingPlugin">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
    <button type="button" th:hidden="${itemIter.last}" class="btn badge badge-secondary order-down float-right"
            th:title="#{common.update.ordering}"
          data-plugin="changeItemOrderingPlugin">
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </button>
  </th:block>
  <div id="wordActivityLogDlg" class="modal" role="dialog" data-plugin="activityLogDlgPlugin">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="max-height: 90vh; overflow-y: auto;"></div>
      </div>
    </div>
  </div>
  <div id="meaningActivityLogDlg" class="modal" role="dialog" data-plugin="activityLogDlgPlugin">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  <div class="modal-body" data-name="sourceLinkDlgContent" th:fragment="source_link_dlg">
    <div id="noSourcesFoundDiv" th:if="${#lists.isEmpty(sources)}">
      <span th:text="#{source.search.not.found}">Nothing found</span>
      <button class="btn btn-primary ml-4"
              th:title="#{source.add.new}"
              data-plugin="addSourceAndSourceLinkPlugin"
              sec:authorize="${#authentication.principal.datasetCrudPermissionsExist}">Lisa uus allikas
      </button>
    </div>
    <div id="addSourceDiv" style="display: none;">
      <form th:replace="components :: add_source_form"></form>
    </div>
    <div style="max-height: 80vh; overflow-y: auto; overflow-x: hidden;" th:if="${not #lists.isEmpty(sources)}">
      <table class="w-100 border mb-2" th:each="source,sourceIter : ${sources}">
        <tr>
          <td style="width: 70px; text-align: left; vertical-align: top;">
            <b> <span th:text="${sourceIter.count + '.'}"></span>
            </b>
          </td>
          <td>
            <div class="row mb-1">
              <div class="col-3">
                <table class="table" style="background-color: #ececec; font-weight: bold">
                  <tr>
                    <td th:text="#{source.id}">allika id</td>
                    <td th:text="${source.id}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.type}">tüüp</td>
                    <td th:text="#{|source.type.${source.type}|}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 70px;"></td>
          <td>
            <th:block th:each="sourceProperty,sourcePropertyIter : ${source.sourceProperties}">
              <div class="row">
                <div class="mb-1">
                  <input th:if="${sourceProperty.type.toString() == 'SOURCE_NAME'}" type="radio" th:value="${sourceProperty.id}" th:name="${'source_' + source.id}"
                    th:checked="${sourcePropertyIter.count == 1}">
                  <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                  -
                  <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}" th:style="${sourceProperty.valueMatch ? 'background-color: #eaffea' : ''}"></span>
                  <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
                </div>
              </div>
            </th:block>
          </td>
        </tr>
        <tr>
          <td style="width: 70px;"></td>
          <td colspan="2">
            <div class="row">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-auto col-form-label" th:text="#{source.link.name}">Siseviide</label>
                  <div class="col-8">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary" th:data-source-id="${source.id}" th:text="#{common.select}">Vali</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-body" data-name="sourceLinkDlgContent" th:fragment="edit_source_link_dlg">
    <div class="row m-1 float-right">
      <a th:href="@{'/sourcesearch/' + ${source.id}}" class="btn btn-secondary btn-compact" th:text="#{source.edit.source}">Muuda allikat</a>
    </div>
    <table>
      <tr>
        <td style="width: 70px;"></td>
        <td>
          <div class="row m-1">
            <div class="col-3">
              <table class="table" style="background-color: #ececec; font-weight: bold">
                <tr>
                  <td th:text="#{source.id}">allika id</td>
                  <td th:text="${source.id}"></td>
                </tr>
                <tr>
                  <td th:text="#{source.type}">tüüp</td>
                  <td th:text="#{|source.type.${source.type}|}"></td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <th:block th:each="sourceProperty : ${source.sourceProperties}">
            <div class="row">
              <div class="mb-1">
                <input th:if="${sourceProperty.type.toString() == 'SOURCE_NAME'}" type="radio" th:value="${sourceProperty.id}" name="id2"
                       th:checked="${sourceLink.value == sourceProperty.valueText}">
                <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                -
                <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}" th:style="${sourceProperty.valueMatch ? 'background-color: #eaffea' : ''}"></span>
                <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
              </div>
            </div>
          </th:block>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="row">
            <div class="col-12">
              <div class="form-group row">
                <label class="col-auto col-form-label" th:text="#{source.link.name}">Siseviide</label>
                <div class="col-8">
                  <input type="text" class="form-control" name="value" th:value="${sourceLink.name}">
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <script th:inline="javascript" th:fragment="confirmations">
  	$('[data-toggle=confirmation]').confirmation({
      btnOkLabel : /*[[#{common.yes}]]*/'Jah',
      btnCancelLabel : /*[[#{common.no}]]*/'Ei'
  	});
  	$('[data-toggle=delete-confirm]').confirmation({
      btnOkLabel : /*[[#{common.yes}]]*/'Jah',
      btnCancelLabel : /*[[#{common.no}]]*/'Ei',
  		title : /*[[#{common.confirm.delete}]]*/'Kinnita kustutamine',
  		onConfirm : executeDelete
  	});
  </script>
  <div id="sourceDetailsDlg" class="modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  <div id="alertDlg" class="modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning" role="alert">
            <span name="alert_message"></span>
          </div>
          <div class="alert alert-success" role="alert">
            <span name="alert_message"></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close}">Sulge</button>
        </div>
      </div>
    </div>
  </div>
  <div id="alertSmall">
    <div class="alert-small-custom-content d-flex flex-row ">
      <div class="alert-small-custom-header d-flex flex-row w-100 h-100">
      <div class="alert-custom d-flex flex-row w-100 h-100">
        <div class="alert-custom-warning-hide w-100">
        <div class="alert-custom-warning d-flex flex-row w-100" role="alert">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <span class="alert-custom-message flex-grow-1 w-100" name="alert_message"></span>
        </div>
        </div>
        <div class="alert-custom-success-hide w-100">
        <div class="alert-custom-success  d-flex flex-row w-100" role="alert">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <span class="alert-custom-message flex-grow-1 w-100" name="alert_message"></span>
        </div>
      </div>
    </div>
        <button type="button" class="close" data-plugin="costomAlertClose">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
</div>
  <div id="confirmDlg" class="modal" role="dialog">
  </div>
  <div id="waitDlg" class="modal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div id="waitMessageDiv" class="modal-header">
          <h5 id="waitMessage"></h5>
        </div>
        <div class="modal-body text-center">
          <i class="fa fa-3x fa-spinner fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
