<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div class="border-bottom pb-2 title-bar" th:fragment="meaning_header">
    <div class="d-flex flex-row align-items-center">
      <div class="dragHandle">
        <span class="fa fa-ellipsis-v"></span>
        <span class="fa fa-ellipsis-v"></span>
      </div>
      <div>
        <h1 id="word-value-179411" class="mb-0"><span th:text="${meaningId}"></span></h1>
      </div>
      <div class="ml-2">
        <button class="btn btn-secondary mr-1"
                data-toggle="modal"
                data-target="#newWordDlg"
                th:data-meaning-id="${meaningId}"
                sec:authorize="#vars.isMeaningAnyLexemeCrudGranted && #vars.userRoleData.crudRoleSelected">Lisa termin</button>
        <a class="btn btn-secondary mr-1" th:href="@{'/meaningjoin/' + ${meaningId}}"
           title="Tähenduste ühendamine"
           sec:authorize="#vars.meaning.crudGrant">Ühenda</a>
        <button id="duplicateMeaningBtn"
                title="Tee duplikaat mõistest ja kõigist tema ilmikutest"
                class="btn btn-secondary mr-1"
                th:data-meaning-id="${meaningId}"
                sec:authorize="#vars.meaning.crudGrant">Dubleeri</button>
        <div style="display:inline-block" class="date-modified" title="" data-toggle="tooltip" data-placement="bottom"
             data-original-title="Viimati muudetud">
          <i class="fa fa-calendar"></i><span th:text="${#dates.format(meaning.lastChangedOn, 'dd.MM.yyyy')}"></span>
        </div>
        <button class="btn btn-link" type="button"
                th:data-id="${meaningId}"
                data-callback="doNewSearchTermSearch"
                data-toggle="deleteMeaningAndLexemesAndWords"
                sec:authorize="#vars.isMeaningLexemeCrudGranted">Kustuta</button>
      </div>
      <div class="ml-auto d-flex align-items-center flex-row">
        <a th:href="@{'/meaningactivitylog:' + ${meaningId}}"
           data-toggle="modal"
           data-target="#meaningActivityLogDlg"
           class="btn btn-secondary ml-2"
           sec:authorize="#vars.meaning.readGrant">Logi</a>
        <div th:data-id="${meaningId}" data-plugin="contextmenu" data-leftclick="true" data-contextmenu:closepanel="Sulge" class="fa fa-ellipsis-v paneMenu">
        </div>
      </div>
    </div>
  </div>
  <div id="results" class="w-100" th:fragment="result_rows">
    <th:block th:each="resultRow,resultRowIter : ${termSearchResult.results}">
      <div
        th:id="${'word-result-' + resultRow.meaningId}"
        class="d-flex flex-row flex-nowrap list-group-item"
        th:classappend="${resultRowIter.last} ? '' : 'border-bottom'" >
        <button
          type="button"
          data-plugin="contextmenu"
          data-contextmenu:compare="Ava uues paneelis"
          name="details-btn" th:data-id="${resultRow.meaningId}" class="btn btn-block ml-n1" style="color: inherit; text-decoration: none;">
          <span th:text="${resultRow.meaningId}" class="text-monospace float-right"></span>
          <th:block th:if="${resultRow.meaningWordsExist}">
            <th:block th:each="meaningWord : ${resultRow.meaningWords}">
              <div class="row ml-0" th:classappend="${meaningWord.matchingWord ? '' : 'other-word'}">
                <span>
                  <span class="mr-1">
                    <span th:if="${meaningWord.public}" class="badge badge-pill badge-primary">&nbsp;</span>
                    <span th:unless="${meaningWord.public}" class="badge badge-pill badge-light">&nbsp;</span>
                    <span th:if="${meaningWord.mostPreferred}" class="badge badge-pill badge-secondary">&nbsp;</span>
                    <span th:if="${meaningWord.leastPreferred}" class="badge badge-pill badge-danger">&nbsp;</span>
                    <span th:unless="${meaningWord.mostPreferred or meaningWord.leastPreferred}" class="badge badge-pill badge-light">&nbsp;</span>
                  </span>
                  <span th:utext="${viewUtil.getWordValueMarkup(meaningWord)}" th:class="${meaningWord.matchingWord ? 'font-weight-bold' : ''}"></span>
                  <span th:text="${'(' + viewUtil.getLangIso2(meaningWord.lang) + ')'}"></span>
                  <span class="ctxt mt-2">
                    <span th:each="datasetCode,itemIter : ${meaningWord.datasetCodes}">
                      <span th:text="${datasetCode}"></span>
                      <span th:unless="${itemIter.last}">,</span>
                    </span>
                  </span>
                </span>
              </div>
            </th:block>
          </th:block>
          <th:block th:if="${!resultRow.meaningWordsExist}">
            <div class="row">
              <span class="stxt pl-1">tähendusel ei ole valitud keeles vasteid</span>
            </div>
          </th:block>
        </button>
        <div class="result-right" style="padding: 5px;">
          <span th:id="${'meaning_select_point_' + resultRow.meaningId}" class="fa fa-play" style="display: none;"></span>
          <span th:id="${'select_wait_' + resultRow.meaningId}" class="fa fa-refresh fa-spin" style="display: none;"></span>
        </div>
      </div>
    </th:block>
    <div th:if="${termSearchResult.showPaging}">
      <div th:replace="components :: paging(${termSearchResult})"></div>
    </div>
  </div>
</body>
</html>