<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div data-name="dialogContent" th:fragment="word_search_result">
    <div class="card" th:if="${not #lists.isEmpty(wordsFoundBySearch)}">
      <div class="card-body p-2">
        <span th:text="${'Kokku leiti : ' + totalCount}"></span>
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="word : ${wordsFoundBySearch}">
              <td class="p-0" style="line-height: 0.6rem;">
                <div class="btn btn-custom pt-0">
                  <span th:utext="${viewUtil.getWordValueMarkup(word)}" class="ttl">vorm 1</span>
                  <span th:text="${word.homonymNr}" th:if="${word.homonymNr > 0}"></span>
                  <span th:text="${'(' + viewUtil.getLangIso2(word.lang) + ')'}"></span>
                </div>
                <input name="ids" type="checkbox" class="float-right mt-2 mr-2" th:value="${word.wordId}"/>
                <div class="ml-3 mb-2" style="margin-top: -6px;">
                  <small>
                    <span th:text="${#strings.listJoin(word.datasetCodes, ', ')}"></span>
                  </small>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button name="addRelationsBtn" type="submit" class="btn btn-primary float-right mt-2" disabled>Lisa valitud seosed</button>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(wordsFoundBySearch)}">
      <div th:text="#{common.not.found}" class="card-body">Not found.</div>
    </div>
  </div>
  <div data-name="dialogContent" th:fragment="lexeme_search_result">
    <div class="card" th:if="${not #lists.isEmpty(lexemesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="lexeme : ${lexemesFoundBySearch}">
              <td class="p-0">
                <div>
                  <span th:utext="${viewUtil.getWordValueMarkup(lexeme)}" class="ttl"></span>
                  <th:block th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                    <span class="pt-0">
                      <span th:utext="${viewUtil.getWordValueMarkup(meaningWord)}"></span>
                      <span th:text="${meaningWord.homonymNr}"></span>
                      <span th:text="${'( ' + viewUtil.getLangIso2(meaningWord.lang) + ' )'}"></span>
                    </span>
                    <span th:unless="${meaningWordIter.last}">|</span>
                  </th:block>
                  <input name="ids" type="checkbox" class="float-right mt-2 mr-2" th:value="${lexeme.lexemeId}"/>
                  <small th:if="${lexeme.levels != null}" th:text="${'[ ' + lexeme.levels + ' ]'}"></small>
                </div>
                <div th:if="${not #lists.isEmpty(lexeme.meaning.definitions)}">
                  <span th:text="${lexeme.meaning.definitions.get(0).value}"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button name="addRelationsBtn" type="submit" class="btn btn-primary float-right mt-2" disabled>Lisa valitud seosed</button>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(lexemesFoundBySearch)}">
      <div th:text="#{common.not.found}" class="card-body">Not found.</div>
    </div>
  </div>
  <div data-name="dialogContent" th:fragment="meaning_search_result">
    <div class="card" th:if="${not #lists.isEmpty(lexemesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="lexeme : ${lexemesFoundBySearch}">
              <td class="p-0">
                <div>
                  <span th:utext="${viewUtil.getWordValueMarkup(lexeme)}" class="ttl"></span>
                  <small class="ml-1">
                    <span th:text="${lexeme.datasetCode}"></span>
                  </small>
                  <input name="ids" type="checkbox" class="float-right mt-2 mr-2" th:value="${lexeme.meaningId}"/>
                  <div>
                    <span class="pr-1" th:text="'W' + ${lexeme.wordId}"></span>
                    <span class="pr-1" th:text="'L' + ${lexeme.lexemeId}"></span>
                    <span class="pr-1" th:text="'M' + ${lexeme.meaningId}"></span>
                  </div>
                  <div th:if="${not #lists.isEmpty(lexeme.meaningWords)}">
                    <th:block th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                      <span class="pt-0">
                        <span th:utext="${viewUtil.getWordValueMarkup(meaningWord)}"></span>
                        <span th:text="${meaningWord.homonymNr}"></span>
                        <span th:text="${'( ' + viewUtil.getLangIso2(meaningWord.lang) + ' )'}"></span>
                      </span>
                    </th:block>
                  </div>
                </div>
                <div th:if="${not #lists.isEmpty(lexeme.meaning.definitions)}">
                  <span th:utext="${lexeme.meaning.definitions.get(0).value}"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button name="addRelationsBtn" type="submit" class="btn btn-primary float-right mt-2" disabled>Lisa valitud seosed</button>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(lexemesFoundBySearch)}">
      <div th:text="#{common.not.found}" class="card-body">Not found.</div>
    </div>
  </div>
  <div data-name="dialogContent" th:fragment="source_search_result">
    <div class="card" th:if="${not #lists.isEmpty(sourcesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="source : ${sourcesFoundBySearch}">
              <td>
                <button type="button" class="btn btn-primary float-right btn-sm mr-2" th:data-source-id="${source.id}">Lisa</button>
                <div th:text="${source.sourceNames.get(0)}" th:if="${not #lists.isEmpty(source.sourceNames)}"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(sourcesFoundBySearch)}">
      <div th:text="#{person.search.not.found}" class="card-body">Not found.</div>
    </div>
  </div>
  <table class="w-100" th:fragment="source_link_details">
    <tr>
      <td style="width: 50px"></td>
      <td>
        <div class="row mb-1">
          <table style="background-color: #ececec; font-weight: bold;">
            <tr>
              <td>allika id &nbsp;</td>
              <td th:text="${source.id}"></td>
            </tr>
            <tr>
              <td>tüüp</td>
              <td th:text="#{|source.type.${source.type}|}"></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 50px"></td>
      <td>
        <th:block th:each="sourceProperty : ${source.sourceProperties}">
          <div class="row">
            <div class="mb-1">
              <div style="display: list-item; position: absolute"></div>
              <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
              -
              <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}"></span>
              <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
            </div>
          </div>
        </th:block>
      </td>
    </tr>
  </table>
  <div class="form-group row eki-editor" th:fragment="eki_editor_elem">
    <div class="col-md-12">
      <div class="formItem">
        <div class="formItem__element">
          <textarea data-id="editFld"></textarea>
        </div>
      </div>
    </div>
  </div>
  <th:block th:fragment="change_role">
    <hr/>
    <form method="post" id="changeRoleForm" th:action="@{change_role}">
      <div class="row">
        <label class="col-form-label col-auto">Vali roll:</label>
        <select class="form-control col-2" id="changeRoleSelect" name="permissionId">
          <option value="" hidden disabled th:selected="${!userRoleData.roleSelected}"></option>
          <th:block th:each="datasetPermission : ${userDatasetPermissions}">
            <option th:with="permissionName=#{|authorityoperation.${datasetPermission.authOperation}|}"
                    th:value="${datasetPermission.id}" th:text="${datasetPermission.datasetName + ' (' + permissionName + ')'
                      + (datasetPermission.authLang != null ? ' - ' + datasetPermission.authLangValue : '')}"
                    th:selected="${permDataUtil.isRoleSelected(datasetPermission)}"/>
          </th:block>
        </select>
      </div>
    </form>
  </th:block>
  <th:block th:fragment="paging(pagingResult)">
    <hr/>
    <form th:action="@{/update_paging}" method="post">
      <input type="hidden" name="offset" th:value="${pagingResult.offset}">
      <input type="hidden" name="searchUri" th:value="${searchUri}">
      <input type="hidden" name="direction">
      <div class="d-flex justify-content-center">
        <button name="pagingBtn" type="button" class="btn badge mr-2"
                title="Eelmine lehekülg"
                data-direction="previous"
                th:if="${pagingResult.previousPageExists}">
          <i class="fa fa-2x fa-angle-left" aria-hidden="true"></i>
        </button>
        <span th:text="${pagingResult.currentPage + ' / ' + pagingResult.totalPages}"></span>
        <button name="pagingBtn" type="button" class="btn badge ml-2"
                title="Järgmine lehekülg"
                data-direction="next"
                th:if="${pagingResult.nextPageExists}">
          <i class="fa fa-2x fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </th:block>
  <form th:fragment="source_search_form" th:action="@{/search_sources}">
    <div class="form-row">
      <div class="col-12">
        <div class="form-group row ui-front">
          <label class="col-auto col-form-label">Otsing</label>
          <div class="col-5">
            <input type="text" class="form-control" name="searchFilter" placeholder="sisesta mõni allika omaduse väärtus">
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary">Otsi</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form th:action="@{/create_source}" method="post" th:fragment="add_source_form">
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-md-12">
          <div class="border rounded">
            <div class="form-group row p-2 m-2">
              <div class="col-md-12">
                <input class="form-control required-field" name="name" placeholder="allika nimetus">
              </div>
            </div>
            <div class="form-group row p-2 m-2">
              <div class="col-md-12">
                <div class="form-group row">
                  <div class="col-auto">
                    <label title="Tüüp">
                      <select required class="form-control required-field" name="type">
                        <option value="" hidden disabled selected>vali allika tüüp</option>
                        <option th:each="type : ${sourceTypes}" th:value="${type}" th:text="#{|source.type.${type}|}">value</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" id="source_property_element">
        <div class="col-md-12">
          <div class="border rounded" name="sourcePropertyGroup">
            <div class="form-group row p-2 m-2">
              <div class="col-auto">
                <label title="Allika atribuudi nimetus">
                  <select required class="form-control" name="properties[][type]">
                    <option th:each="type : ${sourcePropertyTypes}" th:value="${type}" th:text="#{|source.property.${type.name()}|}">value</option>
                  </select>
                </label>
              </div>
              <div class="col-4 pl-0">
                <button type="button" class="btn btn-success btn-sm mt-1" name="addPropertyGroupBtn" title="Lisa uus allika atribuut" data-plugin="addSourcePropertyGroup">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm mt-1" name="removePropertyGroupBtn" title="Eemalda" data-plugin="removeSourcePropertyGroup">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="form-group row p-2 m-2" name="propertyValue">
              <div class="col-12">
                <textarea rows="3" class="form-control required-field" name="properties[][valueText]"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="addSourceSubmitBtn" type="button" class="btn btn-primary">Lisa</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
    </div>
  </form>
  <div class="modal-dialog modal-dialog-centered" role="document" th:fragment="meaning_delete_confirmation">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Palun kinnita kustutamine</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary" role="alert">
          <th:block th:unless="${meaningDeleteConfirmation.userRoleExist}">
            <span>Mõiste kustutamine pole ilma rollita õigustatud.</span>
          </th:block>
          <ul th:if="${meaningDeleteConfirmation.userRoleExist}">
            <li th:if="${meaningDeleteConfirmation.meaningDelete}">Valitud mõistel pole rohkem kasutust. Palun kinnita mõiste kustutamine.</li>
            <th:block th:if="${not #maps.isEmpty(meaningDeleteConfirmation.relatedMeaningsDatasetsMap)}">
              <li>Koos mõistega kustuvad ka seosed järgnevate mõistetega:</li>
              <ul>
                <li th:each="relatedMeaningEntry : ${meaningDeleteConfirmation.relatedMeaningsDatasetsMap}"
                    th:with="datasets=${#strings.arrayJoin(relatedMeaningEntry.value,', ')}">
                  <a th:href="@{'/termsearch?id=' + ${relatedMeaningEntry.key}}" th:text="${relatedMeaningEntry.key + ' - ' + datasets}" target="_blank"></a>
                </li>
              </ul>
            </th:block>
            <th:block th:if="${not #lists.isEmpty(meaningDeleteConfirmation.wordValues)}">
              <li>Koos mõistega kustuvad ka järgmised keelendid:</li>
              <ul>
                <li th:each="wordValue : ${meaningDeleteConfirmation.wordValues}" th:text="${wordValue}"></li>
              </ul>
            </th:block>
          </ul>
        </div>
      </div>
      <div class="modal-footer" th:if="${meaningDeleteConfirmation.userRoleExist}">
        <button type="button" class="btn btn-primary" data-dismiss="modal" name="ok">Jah</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancel">Ei</button>
      </div>
    </div>
  </div>
  <div class="modal-dialog modal-dialog-centered" role="document" th:fragment="lexeme_delete_confirmation">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Palun kinnita kustutamine</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" th:if="${lexemeDeleteConfirmation.showConfirmation}">
        <div class="alert alert-primary" role="alert">
          <th:block th:unless="${lexemeDeleteConfirmation.userRoleExist}">
            <span>Ilmiku kustutamine pole ilma rollita õigustatud.</span>
          </th:block>
          <ul th:if="${lexemeDeleteConfirmation.userRoleExist}">
            <li>Palun kinnita kustutamine</li>
            <li th:if="${lexemeDeleteConfirmation.meaningDelete}">Ilmiku(te) kustutamisega kaasneb ka tähenduse kustutamine. Palun kinnita tähenduse kustutamine.</li>
            <li th:if="${lexemeDeleteConfirmation.wordDelete}">Ilmiku(te) kustutamisega kaasneb ka keelendi(te) kustutamine. Palun kinnita keelendi(te) kustutamine.</li>
            <th:block th:if="${not #lists.isEmpty(lexemeDeleteConfirmation.lexemesWordValues)}">
              <li>Kustuvad järgmised ilmikud:</li>
              <ul>
                <li th:each="wordValue : ${lexemeDeleteConfirmation.lexemesWordValues}" th:text="${wordValue}"></li>
              </ul>
            </th:block>
          </ul>
        </div>
      </div>
      <div class="modal-footer" th:if="${lexemeDeleteConfirmation.userRoleExist}">
        <button type="button" class="btn btn-primary" data-dismiss="modal" name="ok">Jah</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancel">Ei</button>
      </div>
    </div>
  </div>
</body>
</html>
