<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

  <th:block th:fragment="lexeme_parameters">
    <div class="hidden-buttons" th:if="${lexeme.lexemeProcessStateCode != null}" th:fragment="lexeme_process_state">
      <span class="lbl">Haldusolek</span>
      <span th:name="${lexeme.lexemeId} + '_lexeme_process_state'"
            th:data-id="${lexeme.lexemeId}"
            th:data-op-code="lexeme_process_state"
            th:data-value="${lexeme.lexemeProcessStateCode}"
            th:text="${lexeme.lexemeProcessStateCode}"></span>
      <button type="button" class="btn badge badge-primary"
              th:title="Muuda"
              onclick="openSelectDlg(this)"
              data-toggle="modal" data-target="#lexemeProcessStateCodeDlg"
              th:data-target-elem="${lexeme.lexemeId} + '_lexeme_process_state'">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn badge badge-warning"
              th:data-target-elem="${lexeme.lexemeId} + '_lexeme_process_state'"
              data-toggle="delete-confirmation" data-placement="right">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </button>
    </div>

    <div class="hidden-buttons" th:if="${lexeme.lexemeValueStateCode != null}" th:fragment="lexeme_value_state">
      <span class="lbl">Väärtusolek</span>
      <span th:name="${lexeme.lexemeId} + '_lexeme_value_state'"
            th:data-id="${lexeme.lexemeId}"
            th:data-op-code="lexeme_value_state"
            th:data-value="${lexeme.lexemeValueStateCode}"
            th:text="${lexeme.lexemeValueStateCode}"></span>
      <button type="button" class="btn badge badge-primary"
              th:title="Muuda"
              onclick="openSelectDlg(this)"
              data-toggle="modal" data-target="#lexemeValueStateCodeDlg"
              th:data-target-elem="${lexeme.lexemeId} + '_lexeme_value_state'">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn badge badge-warning"
              th:data-target-elem="${lexeme.lexemeId} + '_lexeme_value_state'"
              data-toggle="delete-confirmation" data-placement="right">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </button>
    </div>

    <div th:if="${!#lists.isEmpty(lexeme.grammars)}" th:fragment="lexeme_grammar">
      <span class="lbl">Grammatika</span>
      <span th:each="grammar,grammarIter : ${lexeme.grammars}" class="hidden-buttons">
        <span th:name="${grammar.id} + '_lexeme_grammar'"
              th:data-id="${grammar.id}"
              th:data-op-code="lexeme_grammar"
              th:data-value="${grammar.valueText}"
              th:text="${grammar.valueText}"></span>
        <button type="button" class="btn badge badge-primary"
                th:title="Muuda" th:data-target-elem="${grammar.id} + '_lexeme_grammar'"
                onclick="openEditDlg(this)"
                data-toggle="modal" data-target="#editDlg">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-target-elem="${grammar.id} + '_lexeme_grammar'"
                data-toggle="delete-confirmation" data-placement="right">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${grammarIter.last}">,&nbsp;</span>
      </span>
    </div>

    <div class="hidden-buttons" th:fragment="lexeme_frequency_group">
      <span class="lbl">Sagedusrühm</span>
      <span th:text="${lexeme.lexemeFrequencies}"></span>
      <span th:if="${lexeme.lexemeFrequencyGroupCode != null}">
        <span th:name="${lexeme.lexemeId} + '_lexeme_frequency_group'"
              th:data-id="${lexeme.lexemeId}"
              th:data-op-code="lexeme_frequency_group"
              th:data-value="${lexeme.lexemeFrequencyGroupCode}"
              th:text="${lexeme.lexemeFrequencyGroupCode}"></span>
        <button type="button" class="btn badge badge-primary"
                th:title="Muuda"
                onclick="openSelectDlg(this)"
                data-toggle="modal" data-target="#lexemeFrequencyDlg"
                th:data-target-elem="${lexeme.lexemeId} + '_lexeme_frequency_group'">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-target-elem="${lexeme.lexemeId} + '_lexeme_frequency_group'"
                data-toggle="delete-confirmation" data-placement="right">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
      </span>
    </div>

    <div th:if="${not #lists.isEmpty(lexeme.pos)}" th:fragment="lexeme_pos">
      <span class="lbl">Sõnaliik</span>
      <span th:each="classif,classifIter : ${lexeme.pos}" class="hidden-buttons">
        <span
          th:data-id="${lexeme.lexemeId}"
          th:data-op-code="lexeme_pos"
          th:data-value="${classif.code}"
          th:name="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_pos'"
          th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                th:title="Muuda"
                onclick="openSelectDlg(this)"
                data-toggle="modal" data-target="#lexemePosDlg"
                th:data-target-elem="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_pos'">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-target-elem="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_pos'"
                data-toggle="delete-confirmation" data-placement="right">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>

    <div th:if="${not #lists.isEmpty(lexeme.derivs)}" th:fragment="lexeme_derivative">
      <span class="lbl">Tuletuskood</span>
      <span th:each="classif,classifIter : ${lexeme.derivs}" class="hidden-buttons">
        <span
          th:data-id="${lexeme.lexemeId}"
          th:data-op-code="lexeme_deriv"
          th:data-value="${classif.code}"
          th:name="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_deriv'"
          th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                th:title="Muuda"
                onclick="openSelectDlg(this)"
                data-toggle="modal" data-target="#lexemeDerivDlg"
                th:data-target-elem="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_deriv'">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-target-elem="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_deriv'"
                data-toggle="delete-confirmation" data-placement="right">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>

    <div th:if="${not #lists.isEmpty(lexeme.registers)}" th:fragment="lexeme_register">
      <span class="lbl">Register</span>
      <span th:each="classif,classifIter : ${lexeme.registers}" class="hidden-buttons">
        <span
          th:data-id="${lexeme.lexemeId}"
          th:data-op-code="lexeme_register"
          th:data-value="${classif.code}"
          th:name="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_register'"
          th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                th:title="Muuda"
                onclick="openSelectDlg(this)"
                data-toggle="modal" data-target="#lexemeRegisterDlg"
                th:data-target-elem="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_register'">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-target-elem="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_lexeme_register'"
                data-toggle="delete-confirmation" data-placement="right">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>

    <div th:if="${not #lists.isEmpty(lexeme.meaningDomains)}">
      <span class="lbl">Valdkonnad</span>
      <span th:each="classif,classifIter : ${lexeme.meaningDomains}" class="hidden-buttons">
        <span
          th:data-id="${lexeme.meaningId}"
          th:data-op-code="meaning_domain"
          th:data-value="${classif.toIdString()}"
          th:name="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_meaning_domain'"
          th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                th:title="Muuda"
                onclick="openSelectDlg(this)"
                data-toggle="modal" data-target="#meaningDomainDlg"
                th:data-target-elem="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_meaning_domain'">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-target-elem="${lexeme.lexemeId} + '_' + ${classifIter.index} + '_meaning_domain'"
                data-toggle="delete-confirmation" data-placement="right">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </th:block>

  <div th:if="${wordGenderCode != null}" class="hidden-buttons" th:fragment="word_gender">
    <span class="lbl">Sugu</span>
    <span th:name="word_gender"
          th:data-id="${wordIdCode}"
          th:data-op-code="word_gender"
          th:data-value="${wordGenderCode}"
          th:text="${T(eki.ekilex.service.util.ConversionUtil).getClassifierValue(wordGenderCode, wordGenders)}"></span>
    <button type="button" class="btn badge badge-primary"
            th:title="Muuda"
            onclick="openSelectDlg(this)"
            data-toggle="modal" data-target="#wordGenderDlg"
            th:data-target-elem="word_gender">
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn badge badge-warning"
            th:data-target-elem="word_gender"
            data-toggle="delete-confirmation" data-placement="right">
      <i class="fa fa-remove" aria-hidden="true"></i>
    </button>
  </div>

  <div th:fragment="word_type" th:if="${not #lists.isEmpty(wordTypes)}">
    <span class="lbl">Sõna tüüp</span>
    <span th:each="classif,classifIter : ${wordTypes}" class="hidden-buttons">
      <span
        th:data-id="${wordIdCode}"
        th:data-op-code="word_type"
        th:data-value="${classif.code}"
        th:name="${wordIdCode} + '_' + ${classifIter.index} + '_word_type'"
        th:text="${classif.code}"></span>
      <th:block th:unless="${classif.code == classif.value}">
        -
        <span th:text="${classif.value}"></span>
      </th:block>
      <button type="button" class="btn badge badge-primary"
              th:title="Muuda"
              onclick="openSelectDlg(this)"
              data-toggle="modal" data-target="#wordTypeDlg"
              th:data-target-elem="${wordIdCode} + '_' + ${classifIter.index} + '_word_type'">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn badge badge-warning"
              th:data-target-elem="${wordIdCode} + '_' + ${classifIter.index} + '_word_type'"
              data-toggle="delete-confirmation" data-placement="right">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </button>
      <span th:unless="${classifIter.last}">,</span>
    </span>
  </div>

  <div th:if="${details.wordAspectCode != null}" class="hidden-buttons" th:fragment="word_aspect">
    <span class="lbl">Aspekt</span>
    <span th:name="word_aspect"
          th:data-id="${wordId}"
          th:data-op-code="word_aspect"
          th:data-value="${details.wordAspectCode}"
          th:text="${T(eki.ekilex.service.util.ConversionUtil).getClassifierValue(details.wordAspectCode, wordAspects)}"></span>
    <button type="button" class="btn badge badge-primary"
            th:title="Muuda"
            onclick="openSelectDlg(this)"
            data-toggle="modal" data-target="#wordAspectDlg"
            th:data-target-elem="word_aspect">
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn badge badge-warning"
            th:data-target-elem="word_aspect"
            data-toggle="delete-confirmation" data-placement="right">
      <i class="fa fa-remove" aria-hidden="true"></i>
    </button>
  </div>

  <div id="addNewWordRelationDlg" class="modal" role="dialog">
    <div class="modal-dialog" role="document" style="max-width: 600px;">
      <div class="modal-content">
        <div class="modal-body">
          <form th:action="@{/wordsearchajax}">
            <div class="form-row">
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-8">
                    <input type="text" class="form-control" name="searchFilter" placeholder="sisesta otsitav keelend">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">Otsi</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form th:action="@{/add_item}" method="post">
            <input type="hidden" name="id">
            <input type="hidden" name="opCode" value="word_relation">
            <input type="hidden" name="id2">
              <div class="form-group row">
                <div class="col-md-6">
                  <select class="form-control" name="value">
                    <option th:each="item : ${wordRelationTypes}"
                            th:value="${item.code}"
                            th:text="${item.value}">value</option>
                  </select>
                </div>
              </div>
              <div data-name="dialogContent"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
        </div>
      </div>
    </div>
  </div>

  <div data-name="dialogContent" th:fragment="word_search_result">
    <div class="card" th:if="${not #lists.isEmpty(wordsFoundBySearch)}">
      <div class="card-body p-2">
        <span th:text="${'Kokku leiti : ' + totalCount}"></span>
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="word : ${wordsFoundBySearch}">
              <td class="p-0" style="line-height: 0.6rem;">
                <div class="btn btn-custom pt-0">
                  <span th:text="${word.value}" class="ttl">vorm 1</span>
                  <span th:text="${word.homonymNumber}" th:if="${word.homonymNumber > 0}"></span>
                  (
                  <span th:text="${word.language}"></span>
                  )
                </div>
                <button type="button" class="btn btn-primary float-right btn-sm mt-2 mr-2"
                        th:data-word-id="${word.wordId}">Lisa</button>
                <div class="ml-3 mb-2" style="margin-top: -6px;">
                  <small>
                  <span th:each="wordDatasetCode,wordDatasetIter : ${word.datasetCodes}">
                    <span th:text="${wordDatasetCode}"></span>
                    <span th:unless="${wordDatasetIter.last}">,</span>
                  </span>
                  </small>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(wordsFoundBySearch)}">
      <div th:text="#{lex.not.found}" class="card-body">Not found.</div>
    </div>
  </div>

  <div id="addNewLexemeRelationDlg" class="modal" role="dialog">
    <div class="modal-dialog" role="document" style="max-width: 600px;">
      <div class="modal-content">
        <div class="modal-body">
          <form th:action="@{/lexemesearchajax}">
            <input type="hidden" name="lexemeId">
            <div class="form-row">
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-8">
                    <input type="text" class="form-control" name="searchFilter" placeholder="sisesta otsitav keelend">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">Otsi</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form th:action="@{/add_item}" method="post">
            <input type="hidden" name="id">
            <input type="hidden" name="opCode" value="lexeme_relation">
            <input type="hidden" name="id2">
            <div class="form-group row">
              <div class="col-md-6">
                <select class="form-control" name="value">
                  <option th:each="item : ${lexemeRelationTypes}"
                          th:value="${item.code}"
                          th:text="${item.value}">value</option>
                </select>
              </div>
            </div>
            <div data-name="dialogContent"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
        </div>
      </div>
    </div>
  </div>

  <div data-name="dialogContent" th:fragment="lexeme_search_result">
    <div class="card" th:if="${not #lists.isEmpty(lexemesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="lexeme : ${lexemesFoundBySearch}">
              <td class="p-0">
                <button type="button" class="btn btn-primary float-right btn-sm mt-2 mr-2"
                        th:data-lexeme-id="${lexeme.lexemeId}">Lisa</button>
                <div>
                  <span th:each="word,wordIter : ${lexeme.words}" class="ttl">
                    <span th:text="${word}"></span>
                    <span th:unless="${wordIter.last}">,</span>
                  </span>
                  <th:block th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                    <span class="pt-0" style="color: #007bff;">
                      <span th:text="${meaningWord.value}"></span>
                      <span th:text="${meaningWord.homonymNumber}"></span>
                      <span th:text="${'( ' + meaningWord.language + ' )'}"></span>
                    </span>
                    <span th:unless="${meaningWordIter.last}">|</span>
                  </th:block>
                  <small th:if="${lexeme.levels != null}" th:text="${'[ ' + lexeme.levels + ' ]'}"></small>
                </div>
                <div th:if="${not #lists.isEmpty(lexeme.definitions)}">
                  <span th:text="${lexeme.definitions.get(0).value}"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(lexemesFoundBySearch)}">
      <div th:text="#{lex.not.found}" class="card-body">Not found.</div>
    </div>
  </div>

  <div id="addNewMeaningRelationDlg" class="modal" role="dialog">
    <div class="modal-dialog" role="document" style="max-width: 600px;">
      <div class="modal-content">
        <div class="modal-body">
          <form th:action="@{/meaningsearchajax}">
            <input type="hidden" name="meaningId">
            <div class="form-row">
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-8">
                    <input type="text" class="form-control" name="searchFilter" placeholder="sisesta otsitav keelend">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">Otsi</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form th:action="@{/add_item}" method="post">
            <input type="hidden" name="id">
            <input type="hidden" name="opCode" value="meaning_relation">
            <input type="hidden" name="id2">
            <div class="form-group row">
              <div class="col-md-6">
                <select class="form-control" name="value">
                  <option th:each="item : ${meaningRelationTypes}"
                          th:value="${item.code}"
                          th:text="${item.value}">value</option>
                </select>
              </div>
            </div>
            <div data-name="dialogContent"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
        </div>
      </div>
    </div>
  </div>

  <div data-name="dialogContent" th:fragment="meaning_search_result">
    <div class="card" th:if="${not #lists.isEmpty(lexemesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="lexeme : ${lexemesFoundBySearch}">
              <td class="p-0">
                <button type="button" class="btn btn-primary float-right btn-sm mt-2 mr-2"
                        th:data-meaning-id="${lexeme.meaningId}">Lisa</button>
                <div>
                  <span th:each="word,wordIter : ${lexeme.words}" class="ttl">
                    <span th:text="${word}"></span>
                    <span th:unless="${wordIter.last}">,</span>
                  </span>
                  <th:block th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                    <span class="pt-0" style="color: #007bff;"
                          th:text="${meaningWord.value + ' ' + meaningWord.homonymNumber + ' ( ' + meaningWord.language + ' )'}">
                    </span>
                    <span th:unless="${meaningWordIter.last}">|</span>
                  </th:block>
                </div>
                <div th:if="${not #lists.isEmpty(lexeme.definitions)}">
                  <span th:text="${lexeme.definitions.get(0).value}"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(lexemesFoundBySearch)}">
      <div th:text="#{lex.not.found}" class="card-body">Not found.</div>
    </div>
  </div>

  <div id="addNewUsageAuthorDlg" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form th:action="@{/personsearchajax}">
            <div class="form-row">
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-8">
                    <input type="text" class="form-control" name="searchFilter" placeholder="sisesta otsitav nimi">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">Otsi</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form th:action="@{/add_item}" method="post">
            <input type="hidden" name="id">
            <input type="hidden" name="opCode" value="usage_author">
            <input type="hidden" name="id2">
            <div class="form-group row">
              <div class="col-md-6">
                <select class="form-control" name="itemType">
                  <option th:value="AUTHOR" th:text="#{enum.reference.type.AUTHOR}"></option>
                  <option th:value="TRANSLATOR" th:text="#{enum.reference.type.TRANSLATOR}"></option>
                </select>
              </div>
            </div>
            <div data-name="dialogContent"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
        </div>
      </div>
    </div>
  </div>

  <div data-name="dialogContent" th:fragment="source_search_result">
    <div class="card" th:if="${not #lists.isEmpty(sourcesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="source : ${sourcesFoundBySearch}">
              <td>
                <button type="button" class="btn btn-primary float-right btn-sm mr-2"
                        th:data-source-id="${source.sourceId}">Lisa</button>
                <div th:text="${source.sourceNames.get(0)}" th:if="${not #lists.isEmpty(source.sourceNames)}"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(sourcesFoundBySearch)}">
      <div th:text="#{person.serach.not.found}" class="card-body">Not found.</div>
    </div>
  </div>

</body>