<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div data-name="dialogContent" th:fragment="word_search_result">
    <div class="card" th:if="${not #lists.isEmpty(wordsFoundBySearch)}">
      <div class="card-body p-2">
        <span th:text="#{lex.results.found}">Kokku leiti:</span>
        <span th:text="${totalCount}"></span>
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="word : ${wordsFoundBySearch}">
              <td class="p-0" style="line-height: 0.6rem;">
                <div class="btn btn-custom pt-0">
                  <span th:utext="${@viewUtil.getWordValueMarkup(word)}" class="ttl">vorm 1</span>
                  <span th:text="${word.homonymNr}" th:if="${word.homonymNr > 0}"></span>
                  <span th:text="${'(' + @viewUtil.getLangIso2(word.lang) + ')'}"></span>
                </div>
                <input name="ids" type="checkbox" class="float-right mt-2 mr-2" th:value="${word.wordId}"/>
                <div class="ml-3 mb-2" style="margin-top: -6px;">
                  <small>
                    <span th:text="${#strings.listJoin(word.datasetCodes, ', ')}"></span>
                  </small>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button name="addRelationsBtn" type="submit" class="btn btn-primary float-right mt-2" disabled th:text="#{common.add.relations}">Lisa valitud seosed</button>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(wordsFoundBySearch)}">
      <div th:text="#{common.not.found}" class="card-body">Not found.</div>
    </div>
  </div>
  <div data-name="dialogContent" th:fragment="lexeme_search_result">
    <div class="card" th:if="${not #lists.isEmpty(lexemesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="lexeme : ${lexemesFoundBySearch}">
              <td class="p-0">
                <div>
                  <span th:utext="${@viewUtil.getWordValueMarkup(lexeme.lexemeWord)}" class="ttl"></span>
                  <th:block th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                    <span class="pt-0">
                      <span th:utext="${@viewUtil.getWordValueMarkup(meaningWord)}"></span>
                      <span th:text="${meaningWord.homonymNr}"></span>
                      <span th:text="${'( ' + @viewUtil.getLangIso2(meaningWord.lang) + ' )'}"></span>
                    </span>
                    <span th:unless="${meaningWordIter.last}">|</span>
                  </th:block>
                  <input name="ids" type="checkbox" class="float-right mt-2 mr-2" th:value="${lexeme.lexemeId}"/>
                  <small th:if="${lexeme.levels != null}" th:text="${'[ ' + lexeme.levels + ' ]'}"></small>
                </div>
                <div th:if="${not #lists.isEmpty(lexeme.meaning.definitions)}">
                  <span th:text="${lexeme.meaning.definitions.get(0).valuePrese}"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button name="addRelationsBtn" type="submit" class="btn btn-primary float-right mt-2" disabled th:text="#{common.add.relations}">Lisa valitud seosed</button>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(lexemesFoundBySearch)}">
      <div th:text="#{common.not.found}" class="card-body">Not found.</div>
    </div>
  </div>
  <div data-name="dialogContent" th:fragment="meaning_search_result">
    <div class="card" th:if="${not #lists.isEmpty(lexemesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="lexeme : ${lexemesFoundBySearch}">
              <td class="p-0">
                <div>
                  <span th:utext="${@viewUtil.getWordValueMarkup(lexeme.lexemeWord)}" class="ttl"></span>
                  <small class="ml-1">
                    <span th:text="${lexeme.datasetCode}"></span>
                  </small>
                  <input name="ids" type="checkbox" class="float-right mt-2 mr-2" th:value="${lexeme.meaningId}"/>
                  <div>
                    <span class="pr-1" th:text="'W' + ${lexeme.wordId}"></span>
                    <span class="pr-1" th:text="'L' + ${lexeme.lexemeId}"></span>
                    <span class="pr-1" th:text="'M' + ${lexeme.meaningId}"></span>
                  </div>
                  <div th:if="${not #lists.isEmpty(lexeme.meaningWords)}">
                    <th:block th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                      <span class="pt-0">
                        <span th:utext="${@viewUtil.getWordValueMarkup(meaningWord)}"></span>
                        <span th:text="${meaningWord.homonymNr}"></span>
                        <span th:text="${'( ' + @viewUtil.getLangIso2(meaningWord.lang) + ' )'}"></span>
                      </span>
                    </th:block>
                  </div>
                </div>
                <div th:if="${not #lists.isEmpty(lexeme.meaning.definitions)}">
                  <span th:utext="${lexeme.meaning.definitions.get(0).valuePrese}"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button name="addRelationsBtn" type="submit" class="btn btn-primary float-right mt-2" disabled th:text="#{common.add.relations}">Lisa valitud seosed</button>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(lexemesFoundBySearch)}">
      <div th:text="#{common.not.found}" class="card-body">Not found.</div>
    </div>
  </div>
  <!-- This is lex person search, first source name is displayed: -->
  <div data-name="dialogContent" th:fragment="source_search_result">
    <div class="card" th:if="${not #lists.isEmpty(sourcesFoundBySearch)}">
      <div class="card-body p-2">
        <div style="max-height: 70vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="source : ${sourcesFoundBySearch}">
              <td>
                <button type="button" class="btn btn-primary float-right btn-sm mr-2" th:data-source-id="${source.id}" th:text="#{common.add}">Lisa</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(sourcesFoundBySearch)}">
      <div th:text="#{source.person.search.not.found}" class="card-body">Not found.</div>
    </div>
  </div>
  <table class="w-100" th:fragment="source_link_details">
    <tr>
      <td style="width: 50px"></td>
      <td>
        <div class="row mb-1">
          <div class="col-12">
            <table class="table" style="background-color: #ececec; font-weight: bold">
              <tr>
                <td th:text="#{source.id}">allika id</td>
                <td th:text="${source.id}"></td>
              </tr>
              <tr>
                <td th:text="#{source.type}">tüüp</td>
                <td th:text="#{|source.type.${source.type}|}"></td>
              </tr>
              <tr>
                <td th:text="#{source.name}">Lühike kuju</td>
                <td th:text="${source.name}"></td>
              </tr>
              <tr>
                <td th:text="#{source.value}">Pikk kuju</td>
                <td th:utext="${source.valuePrese}"></td>
              </tr>
              <tr>
                <td th:text="#{source.comment}">Mitteavalik kommentaar</td>
                <td th:text="${source.comment}"></td>
              </tr>
              <tr>
                <td th:text="#{source.publicity}">Avalikkus</td>
                <td th:text="#{'boolean.public.' + ${source.public}}">avalik/mitteavalik</td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 50px"></td>
      <td>
        <th:block th:each="sourceProperty : ${source.sourceProperties}">
          <div class="row ml-0 mr-0">
            <div class="mb-1">
              <div style="display: list-item; position: absolute"></div>
              <span class="text-break" th:text="#{|source.property.${sourceProperty.typeCode}|}"></span>
              -
              <span class="text-break" th:text="${sourceProperty.value}"></span>
            </div>
          </div>
        </th:block>
      </td>
    </tr>
  </table>
  <div class="form-group row eki-editor" th:fragment="eki_editor_elem">
    <div class="col-md-12">
      <div class="formItem">
        <div class="formItem__element">
          <textarea th:data-id="${editFld ?: 'editFld'}" data-editor-field="true" th:data-optional="${optional ?: 'false'}"></textarea>
        </div>
      </div>
    </div>
  </div>
  <th:block th:fragment="select_role">
    <form method="post" id="changeRoleForm" th:action="@{/select_role}">
      <div class="row">
        <label class="col-form-label col-auto" th:text="#{common.select.role}">Vali roll:</label>
        <select class="form-control col-4" id="changeRoleSelect" name="permissionId" data-plugin="changeSubmitFormPlugin">
          <option value="" hidden disabled th:selected="${!userRoleData.roleSelected}"></option>
          <th:block th:each="datasetPermission : ${userDatasetPermissions}">
            <option th:with="permissionName=#{|authorityoperation.${datasetPermission.authOperation}|}"
                    th:value="${datasetPermission.id}" th:text="${datasetPermission.datasetName + ' (' + permissionName + ')'
                      + (datasetPermission.authLang == null ? '' : ' - ' + datasetPermission.authLangValue)}"
                    th:selected="${@permDataUtil.isRoleSelected(datasetPermission)}"/>
          </th:block>
        </select>
      </div>
    </form>
  </th:block>
  <th:block th:fragment="paging(pagingResult)">
    <hr/>
    <form th:action="@{/update_paging}" method="post" id="pagingForm">
      <input type="hidden" name="offset" th:value="${pagingResult.offset}">
      <input type="hidden" name="totalPages" th:value="${pagingResult.totalPages}" disabled="disabled">
      <input type="hidden" name="searchUri" th:value="${searchUri}">
      <input type="hidden" name="direction">
      <input type="hidden" name="pageNum">
      <div class="d-flex justify-content-start">
        <button name="pagingBtn" type="button" class="btn badge ml-2 mr-2"
                th:title="#{common.previous.page}"
                data-direction="previous"
                th:if="${pagingResult.previousPageExists}"
                data-plugin="pagingBtnPlugin">
          <i class="fa fa-2x fa-angle-left" aria-hidden="true"></i>
        </button>
        <div class="mr-2 ml-4" th:if="${!pagingResult.previousPageExists}"></div>
        <span class="d-flex align-items-center" th:text="${pagingResult.currentPage + ' / ' + pagingResult.totalPages}"></span>
        <button name="pagingBtn" type="button" class="btn badge ml-2"
                th:title="#{common.next.page}"
                data-direction="next"
                th:if="${pagingResult.nextPageExists}"
                data-plugin="pagingBtnPlugin">
          <i class="fa fa-2x fa-angle-right" aria-hidden="true"></i>
        </button>
        <span class="paging-page-number d-flex align-items-center ml-auto" th:text="#{common.navigate.to}">Mine lehele</span>
        <input class="paging-input" type="text" data-plugin="pagingInputPlugin">
        <button name="pagingBtn" type="button" class="paging-submit btn btn-link p-0" 
               th:title="#{common.select.page}"
               data-direction="page"
               data-plugin="pagingBtnPlugin">
          <i class="paging-submit-icon fa fa-arrow-right"></i>
        </button>
      </div>
    </form>
  </th:block>
  <form th:fragment="source_search_form" th:action="@{/sourcequicksearch}">
    <div class="form-row">
      <div class="col-12">
        <div class="form-group row ui-front">
          <label class="col-auto col-form-label" th:text="#{source.search}">Otsing</label>
          <div class="col-5">
            <input type="text" class="form-control" name="searchFilter" th:placeholder="#{source.search.placeholder}">
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary" th:text="#{common.search}" data-submit-id="source_search_form">Otsi</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form th:action="@{/create_source}" method="post" data-plugin="initAddSourcePlugin" th:fragment="add_source_form">
    <div class="modal-body">
      <input type="hidden" name="sourceOwnerId">
      <input type="hidden" name="sourceOwnerName">
      <input type="hidden" name="valuePrese">
      <div class="form-group row">
        <div class="col-md-12">
          <div class="border rounded">
            <div class="form-group row m-4">
              <label class="col-12 col-form-label" th:text="#{source.type}">Tüüp</label>
              <div class="col-md-6">
                <select required class="form-control required-field" name="type">
                  <option th:each="type : ${sourceTypes}"
                          th:value="${type}"
                          th:text="#{|source.type.${type}|}"
                          th:selected="${type == T(eki.common.constant.SourceType).DOCUMENT}">value</option>
                </select>
              </div>
            </div>
            <div class="form-group row m-4">
              <label class="col-12 col-form-label" th:text="#{source.name}">Lühike kuju</label>
              <div class="col-md-12">
                <input class="form-control required-field" name="name" autocomplete="off">
              </div>
            </div>
            <div class="form-group row m-4">
              <label class="col-12 col-form-label" th:text="#{source.value}">Pikk kuju</label>
              <div class="col-md-12">
                <div th:replace="components :: eki_editor_elem"></div>
              </div>
            </div>
            <div class="form-group row m-4">
              <label class="col-12 col-form-label" th:text="#{source.comment}">Mitteavalik kommentaar</label>
              <div class="col-md-12">
                <input class="form-control" name="comment">
              </div>
            </div>
            <div class="form-group form-check m-4">
              <label class="col-12 form-check-label">
                <input class="form-check-input" type="checkbox" name="public" checked="checked" value="true">
                <span th:text="#{boolean.public.true}">Avalik</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="addSourceSubmitBtn" type="button" class="btn btn-primary" data-plugin="addSourceSubmitPlugin" th:text="#{common.add}">Lisa</button>
      <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
    </div>
  </form>
  <div class="modal-dialog modal-dialog-centered" role="document" th:fragment="meaning_delete_confirmation">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" th:text="#{delete.confirmation.title}">Palun kinnita kustutamine</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary" role="alert">
          <th:block th:unless="${meaningDeleteConfirmation.userRoleExist}">
            <span th:text="#{delete.meaning.role.exists}">Mõiste kustutamine pole ilma rollita õigustatud.</span>
          </th:block>
          <ul th:if="${meaningDeleteConfirmation.userRoleExist}">
            <li th:if="${meaningDeleteConfirmation.meaningDelete}"
                th:text="#{delete.meaning.confirmation}">Valitud mõistel pole rohkem kasutust. Palun kinnita mõiste kustutamine.</li>
            <th:block th:if="${not #maps.isEmpty(meaningDeleteConfirmation.relatedMeaningsDatasetsMap)}">
              <li th:text="#{delete.meaning.related.meanings}">Koos mõistega kustuvad ka seosed järgnevate mõistetega:</li>
              <ul>
                <li th:each="relatedMeaningEntry : ${meaningDeleteConfirmation.relatedMeaningsDatasetsMap}"
                    th:with="datasets=${#strings.arrayJoin(relatedMeaningEntry.value,', ')}">
                  <a th:href="@{'/termsearch?id=' + ${relatedMeaningEntry.key}}" th:text="${relatedMeaningEntry.key + ' - ' + datasets}" target="_blank"></a>
                </li>
              </ul>
            </th:block>
            <th:block th:if="${not #lists.isEmpty(meaningDeleteConfirmation.wordValues)}">
              <li th:text="#{delete.meaning.related.words}">Koos mõistega kustuvad ka järgmised keelendid:</li>
              <ul>
                <li th:each="wordValue : ${meaningDeleteConfirmation.wordValues}" th:text="${wordValue}"></li>
              </ul>
            </th:block>
          </ul>
        </div>
      </div>
      <div class="modal-footer" th:if="${meaningDeleteConfirmation.userRoleExist}">
        <button type="button" class="btn btn-primary" data-dismiss="modal" name="ok" th:text="#{common.yes}">Jah</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancel" th:text="#{common.no}">Ei</button>
      </div>
    </div>
  </div>
  <div class="modal-dialog modal-dialog-centered" role="document" th:fragment="lexeme_delete_confirmation">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" th:text="#{delete.confirmation.title}">Palun kinnita kustutamine</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" th:if="${lexemeDeleteConfirmation.showConfirmation}">
        <div class="alert alert-primary" role="alert">
          <th:block th:unless="${lexemeDeleteConfirmation.userRoleExist}">
            <span th:text="#{delete.lexeme.role.exists}">Ilmiku kustutamine pole ilma rollita õigustatud.</span>
          </th:block>
          <ul th:if="${lexemeDeleteConfirmation.userRoleExist}">
            <li th:if="${lexemeDeleteConfirmation.meaningDelete}"
                th:text="#{delete.lexeme.related.meanings}">Ilmiku(te) kustutamisega kaasneb ka tähenduse kustutamine. Palun kinnita kustutamine.</li>
            <li th:if="${lexemeDeleteConfirmation.wordDelete}"
                th:text="#{delete.lexeme.related.words}">Ilmiku(te) kustutamisega kaasneb ka keelendi(te) kustutamine. Palun kinnita kustutamine.</li>
            <th:block th:if="${not #lists.isEmpty(lexemeDeleteConfirmation.lexemesWordValues)}">
              <li th:text="#{delete.lexeme.words.to.delete}">Kustuvad järgmised keelendid:</li>
              <ul>
                <li th:each="wordValue : ${lexemeDeleteConfirmation.lexemesWordValues}" th:text="${wordValue}"></li>
              </ul>
            </th:block>
            <li th:if="${lexemeDeleteConfirmation.collocMemberDelete}"
                th:text="#{delete.lexeme.related.collocmem}">Ilmiku(te) kustutamisega kaasneb ka kollokatsiooni(de) liikme(te) kustutamine. Palun kinnita kustutamine.</li>
            <th:block th:if="${not #lists.isEmpty(lexemeDeleteConfirmation.lexemeCollocValues)}">
              <li th:text="#{delete.lexeme.collocmem.to.delete}">Liige kustub järgmistes kollokatsioonides:</li>
              <ul>
                <li th:each="collocValue : ${lexemeDeleteConfirmation.lexemeCollocValues}" th:text="${collocValue}"></li>
              </ul>
            </th:block>
          </ul>
        </div>
      </div>
      <div class="modal-footer" th:if="${lexemeDeleteConfirmation.userRoleExist}">
        <button type="button" class="btn btn-primary" data-dismiss="modal" name="ok" th:text="#{common.yes}">Jah</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancel" th:text="#{common.no}">Ei</button>
      </div>
    </div>
  </div>
</body>
</html>
