<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title>FedTerm liidestus</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'fedtermupload')"></th:block>
  <div class="container-fluid">
    <div class="alert alert-warning" role="alert" th:if="${!isFedTermAccessEnabled}">
      FedTerm liidestus puudub
    </div>
    <th:block th:if="${queueStats}">
      <div class="card mt-4 shadow">
        <div class="card-header">
          <h5 class="card-title">Taustategevuste jada</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped m-0 p-0">
            <tr>
              <th class="m-1 p-1">Jada nimi</th>
              <th class="m-1 p-1">Sammude arv</th>
            </tr>
            <th:block th:each="queueStat : ${queueStats}">
              <tr>
                <td class="m-1 p-1">
                  <span th:text="${queueStat.groupId}"></span>
                </td>
                <td class="m-1 p-1">
                  <span th:text="${queueStat.stepCount}"></span>
                </td>
              </tr>
            </th:block>
          </table>
        </div>
      </div>
    </th:block>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">FedTerm liidestus</h5>
      </div>
      <div class="card-body">
        <th:block th:with="isAdmin=${#vars.userRoleData.admin}">
          <table class="table table-striped m-0 p-0 table-hover">
            <tr>
              <th class="m-1 p-1" style="width: 5%">Kood</th>
              <th class="m-1 p-1" style="width: 20%">Nimi</th>
              <th class="m-1 p-1" style="width: 50%">Kirjeldus</th>
              <th class="m-1 p-1" style="width: 8%">Kontaktid</th>
              <th class="m-1 p-1" style="width: 4%"></th>
            </tr>
            <th:block th:each="dataset : ${datasets}">
              <tr th:classappend="${dataset.superior} ? 'font-weight-bold': ''">
                <td class="m-1 p-1">
                  <span th:text="${dataset.code}"></span>
                </td>
                <td class="m-1 p-1">
                  <span th:text="${dataset.name}"></span>
                </td>
                <td class="m-1 p-1">
                  <small data-toggle="tooltip" data-placement="bottom" th:title="${dataset.description}" th:text="${#strings.abbreviate(dataset.description, 500)}"></small>
                </td>
                <td class="m-1 p-1 pl-2 pr-2 border-left border-right">
                  <small data-toggle="tooltip" data-placement="bottom" th:title="${dataset.contact}" th:text="${dataset.contact}"></small>
                </td>
                <td class="m-1 p-1">
                  <th:block th:if="${isAdmin && dataset.public && isFedTermAccessEnabled}">
                    <form th:action="@{/fedtermupload}" method="post">
                      <input type="hidden" name="datasetCode" th:value="${dataset.code}">
                      <button type="submit" class="btn badge badge-primary" title="Saada">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                      </button>
                    </form>
                  </th:block>
                </td>
              </tr>
            </th:block>
          </table>
        </th:block>
      </div>
    </div>
  </div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #waitDlg"></div>
</body>
</html>