<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{fedterm.upload.title}">FedTerm liidestus</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'fedtermupload')"></th:block>
  <div class="container-fluid">
    <th:block th:if="${queueStats}">
      <div class="card mt-4 shadow">
        <div class="card-header">
          <h5 class="card-title" th:text="#{fedterm.upload.queue}">Taustategevuste jada</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped m-0 p-0">
            <tr>
              <th class="m-1 p-1" th:text="#{fedterm.upload.queue.name}">Jada nimi</th>
              <th class="m-1 p-1" th:text="#{fedterm.upload.queue.step.count}">Sammude arv</th>
            </tr>
            <th:block th:each="queueStat : ${queueStats}">
              <tr>
                <td class="m-1 p-1">
                  <span th:text="${queueStat.groupId}"></span>
                </td>
                <td class="m-1 p-1">
                  <span th:text="${queueStat.stepCount}"></span>
                </td>
              </tr>
            </th:block>
          </table>
        </div>
      </div>
    </th:block>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{fedterm.upload.title}">FedTerm liidestus</h5>
      </div>
      <div class="card-body">
        <div class="alert alert-warning" role="alert" th:if="${!isFedTermAccessEnabled}" th:text="#{fedterm.access.disabled}">FedTerm liidestus puudub</div>
        <th:block th:with="isAdmin=${#vars.userRoleData.admin}">
          <table class="table table-striped m-0 p-0 table-hover">
            <tr>
              <th class="m-1 p-1" style="width: 5%" th:text="#{fedterm.code}">Kood</th>
              <th class="m-1 p-1" style="width: 20%" th:text="#{fedterm.name}">Nimi</th>
              <th class="m-1 p-1" style="width: 30%" th:text="#{fedterm.description}">Kirjeldus</th>
              <th class="m-1 p-1" style="width: 10%" th:text="#{fedterm.contacts}">Kontaktid</th>
              <th class="m-1 p-1" style="width: 5%" th:text="#{fedterm.domain.id}">Domain ID</th>
              <th class="m-1 p-1" style="width: 5%" th:text="#{fedterm.collection.id}">Collection ID</th>
              <th class="m-1 p-1" style="width: 4%"></th>
            </tr>
            <th:block th:each="dataset : ${datasets}"
                      th:with="
                                  fedTermDomainExists=${dataset.fedTermDomainId != null},
                                  fedTermCollectionExists=${dataset.fedTermCollectionId != null}">
              <tr th:classappend="${dataset.superior} ? 'font-weight-bold': ''">
                <td class="m-1 p-1">
                  <span th:text="${dataset.code}"></span>
                </td>
                <td class="m-1 p-1">
                  <span th:text="${dataset.name}"></span>
                </td>
                <td class="m-1 p-1">
                  <small data-toggle="tooltip" data-placement="bottom" th:title="${dataset.description}" th:text="${#strings.abbreviate(dataset.description, 500)}"></small>
                </td>
                <td class="m-1 p-1 pl-2 border-left">
                  <small data-toggle="tooltip" data-placement="bottom" th:title="${dataset.contact}" th:text="${dataset.contact}"></small>
                </td>
                <td class="m-1 p-1 pl-2 border-left">
                  <small data-placement="bottom" th:text="${dataset.fedTermDomainId}" th:if="${fedTermDomainExists}"></small>
                </td>
                <td class="m-1 p-1 pl-2 border-left">
                  <th:block th:if="${fedTermCollectionExists}">
                    <a th:href="|${fedTermBrowserUrl}/${dataset.fedTermCollectionId}|" target="_blank">
                      <small th:text="${dataset.fedTermCollectionId}"></small>
                    </a>
                  </th:block>
                </td>
                <td class="m-1 p-1 pl-2 border-left">
                  <th:block th:if="${isAdmin && dataset.public && isFedTermAccessEnabled && fedTermDomainExists}">
                    <form th:action="@{/fedtermupload}" method="post">
                      <input type="hidden" name="datasetCode" th:value="${dataset.code}">
                      <button type="submit" class="btn badge badge-primary" th:title="#{fedterm.send}">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                      </button>
                    </form>
                  </th:block>
                </td>
              </tr>
            </th:block>
          </table>
        </th:block>
      </div>
    </div>
  </div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #alertSmall"></div>
  <div th:replace="common :: #waitDlg"></div>
</body>
</html>