<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(_,~{::links})">
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'home')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h4 th:text="#{index.title}" class="mt-2">Töölaud</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="p-1">
              <a th:href="@{/lexsearch}" th:text="#{menu.lex}">Leksikograafid</a>
            </div>
            <div class="p-1">
              <a th:href="@{/termsearch}" th:text="#{menu.term}">Terminoloogid</a>
            </div>
            <div class="p-1">
              <a th:href="@{/partsynsearch}" th:if="${userRoleData.crudRoleSelected}" th:text="#{menu.partsyn}">Vasted</a>
              <span th:unless="${userRoleData.crudRoleSelected}" th:title="#{menu.syn.select.crud.role}" th:text="#{menu.partsyn}">Vasted</span>
            </div>
            <div class="p-1">
              <a th:href="@{/fullsynsearch}" th:if="${userRoleData.crudRoleSelected}" th:text="#{menu.fullsyn}">Tõlkevasted</a>
              <span th:unless="${userRoleData.crudRoleSelected}" th:title="#{menu.syn.select.crud.role}" th:text="#{menu.fullsyn}">Tõlkevasted</span>
            </div>
            <div class="p-1">
              <a th:href="@{/sourcesearch}" th:text="#{menu.source}">Allikate otsing</a>
            </div>
            <div class="p-1">
              <a th:href="@{/limtermsearch}" th:text="#{menu.lim.term}">Võrgustiku otsing</a>
            </div>
            <div class="p-1 mt-3">
              <th:block th:replace="components :: select_role" sec:authorize="#vars.userRoleData.roleChangeEnabled"></th:block>
            </div>
          </div>
          <div class="col">
            <div class="p-1">
              <a th:href="@{/history}" th:text="#{menu.history}">Kustutatud andmed</a>
            </div>
            <div class="p-1">
              <a th:href="@{/datasets}" th:text="#{menu.datasets}">Sõnakogude haldus</a>
            </div>
            <div sec:authorize="#vars.userRoleData.datasetOwnerOrAdmin" class="p-1">
              <a th:href="@{/permissions}" th:text="#{menu.permissions}">Õiguste haldus</a>
            </div>
            <div sec:authorize="#vars.userRoleData.admin" class="p-1">
              <a th:href="@{/classifiers}" th:text="#{menu.classifiers}">Klassifikaatorite haldus</a>
            </div>
            <div sec:authorize="#vars.userRoleData.admin" class="p-1">
              <a th:href="@{/tags}" th:text="#{menu.tags}">Siltide haldus</a>
            </div>
            <div sec:authorize="#vars.userRoleData.admin" class="p-1">
              <a th:href="@{/news}" th:text="#{menu.news}">Uudiste haldus</a>
            </div>
            <div sec:authorize="#vars.userRoleData.admin" class="p-1">
              <a th:href="@{/workloadreport}" th:text="#{menu.workloadreport}">Muudatuste aruanne</a>
            </div>
            <div sec:authorize="#vars.userRoleData.admin" class="p-1">
              <a th:href="@{/fedtermupload}" th:text="#{menu.fedtermupload}">FedTerm liidestus</a>
            </div>
            <div sec:authorize="#authentication.principal.master" class="p-1">
              <a th:href="@{/wwfeedback}" th:text="#{menu.wwfeedback}">Sõnaveebi tagasiside</a>
            </div>
            <div class="p-1">
              <a th:href="@{/stat}" th:text="#{menu.stat}">Sõnaveebi statistika</a>
            </div>
          </div>
        </div>
        <hr />
        <div class="p-1">
          <a href="https://keeleinstituut.github.io/ekilex/" target="ekilexUserManual">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="#{menu.user.manual}"></span>
          </a>
        </div>
        <div class="p-1">
          <a th:href="@{/termsofuse}">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="#{menu.terms.of.use}"></span>
          </a>
        </div>
      </div>
    </div>
    <th:block th:if="${newsArticles}">
      <div class="card mt-4 shadow">
        <div class="card-body">
          <div class="row">
            <th:block th:each="newsArticle : ${newsArticles}">
              <div class="col px-4">
                <div>
                  <span th:text="#{|enum.newsarticletype.${newsArticle.type.name()}|}"></span>
                  <small th:text="${#temporals.format(newsArticle.created, 'dd.MM.yyyy HH:mm')}"></small>
                </div>
                <div>
                  <strong th:text="${newsArticle.title}"></strong>
                </div>
                <div>
                  <span th:text="${newsArticle.content}" style="white-space: pre-line"></span>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <div class="container-fluid" th:if="${statExists}">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <button class="btn btn-secondary" data-toggle="collapse" data-target="#statData" th:text="#{stat.header}">Ekilexi statistika</button>
      </div>
      <div id="statData" class="collapse">
        <div class="card-body">
          <h5>Olemite arvud</h5>
          <table class="table table-striped table-condensed">
            <tr>
              <th th:text="#{stat.datasets}">Sõnakogusid</th>
              <th th:text="#{stat.words}">Keelendeid</th>
              <th th:text="#{stat.lexemes}">Ilmikuid</th>
              <th th:text="#{stat.meanings}">Mõisteid</th>
              <th th:text="#{stat.definitions}">Definitsioone</th>
              <th th:text="#{stat.paradigms}">Paradigmasid</th>
              <th th:text="#{stat.forms}">Vorme</th>
              <th th:text="#{stat.collocations}">Kollokatsioone</th>
              <th th:text="#{stat.sources}">Allikaid</th>
            </tr>
            <tr>
              <td th:text="${mainEntityStatData.datasetCount}"></td>
              <td th:text="${mainEntityStatData.wordCount}"></td>
              <td th:text="${mainEntityStatData.lexemeCount}"></td>
              <td th:text="${mainEntityStatData.meaningCount}"></td>
              <td th:text="${mainEntityStatData.definitionCount}"></td>
              <td th:text="${mainEntityStatData.paradigmCount}"></td>
              <td th:text="${mainEntityStatData.formCount}"></td>
              <td th:text="${mainEntityStatData.collocationCount}"></td>
              <td th:text="${mainEntityStatData.sourceCount}"></td>
            </tr>
            <tr>
              <th th:text="#{stat.languages}">Keeli</th>
              <th th:text="#{stat.domains}">Valdkondi</th>
              <th th:text="#{stat.pos}">Sõnaliike</th>
              <th th:text="#{stat.morphs}">Vormi märgendeid</th>
              <th th:text="#{stat.registers}">Registreid</th>
              <th th:text="#{stat.aspects}">Aspekte</th>
              <th th:text="#{stat.derivs}">Tuletuskoode</th>
              <th th:text="#{stat.genders}">Sugusid</th>
            </tr>
            <tr>
              <td th:text="${mainEntityStatData.languageCount}"></td>
              <td th:text="${mainEntityStatData.domainCount}"></td>
              <td th:text="${mainEntityStatData.posCount}"></td>
              <td th:text="${mainEntityStatData.morphCount}"></td>
              <td th:text="${mainEntityStatData.registerCount}"></td>
              <td th:text="${mainEntityStatData.aspectCount}"></td>
              <td th:text="${mainEntityStatData.derivCount}"></td>
              <td th:text="${mainEntityStatData.genderCount}"></td>
            </tr>
          </table>
          <hr />
          <table th:with="columns=${6}" class="table table-striped table-condensed">
            <th:block th:each="firstRowItemIndex: ${#numbers.sequence(0, #arrays.length(freeformStatData) - 1, columns)}">
              <tr>
                <th:block th:each="rowItemCount: ${#numbers.sequence(0, columns - 1)}">
                  <th th:if="${firstRowItemIndex + rowItemCount < #arrays.length(freeformStatData)}" th:text="${freeformStatData[firstRowItemIndex + rowItemCount].name}"></th>
                </th:block>
              </tr>
              <tr>
                <th:block th:each="rowItemCount: ${#numbers.sequence(0, columns - 1)}">
                  <td th:if="${firstRowItemIndex + rowItemCount < #arrays.length(freeformStatData)}" th:text="${freeformStatData[firstRowItemIndex + rowItemCount].rowCount}"></td>
                </th:block>
              </tr>
            </th:block>
          </table>
          <hr />
          <h5 class="pt-4" th:text="#{stat.datasets.lexemes}">Sõnakogu lekseemide arvud</h5>
          <table th:with="columns=${15}" class="table table-striped table-condensed">
            <th:block th:each="firstRowItemIndex: ${#numbers.sequence(0, #arrays.length(lexemeDatasetStatData) - 1, columns)}">
              <tr>
                <th:block th:each="rowItemCount: ${#numbers.sequence(0, columns - 1)}">
                  <th th:if="${firstRowItemIndex + rowItemCount < #arrays.length(lexemeDatasetStatData)}" th:text="${lexemeDatasetStatData[firstRowItemIndex + rowItemCount].name}"></th>
                </th:block>
              </tr>
              <tr>
                <th:block th:each="rowItemCount: ${#numbers.sequence(0, columns - 1)}">
                  <td th:if="${firstRowItemIndex + rowItemCount < #arrays.length(lexemeDatasetStatData)}" th:text="${lexemeDatasetStatData[firstRowItemIndex + rowItemCount].rowCount}"></td>
                </th:block>
              </tr>
            </th:block>
          </table>
          <hr />
          <h5 class="pt-4" th:text="#{stat.last.activity}">Viimase 30 päeva tegevused</h5>
          <table th:with="columns=${15}" class="table table-striped table-condensed">
            <th:block th:each="firstRowItemIndex: ${#numbers.sequence(0, #arrays.length(activityStatData) - 1, columns)}">
              <tr>
                <th:block th:each="rowItemCount: ${#numbers.sequence(0, columns - 1)}">
                  <th th:if="${firstRowItemIndex + rowItemCount < #arrays.length(activityStatData)}" th:text="${activityStatData[firstRowItemIndex + rowItemCount].name}"></th>
                </th:block>
              </tr>
              <tr>
                <th:block th:each="rowItemCount: ${#numbers.sequence(0, columns - 1)}">
                  <td th:if="${firstRowItemIndex + rowItemCount < #arrays.length(activityStatData)}" th:text="${activityStatData[firstRowItemIndex + rowItemCount].rowCount}"></td>
                </th:block>
              </tr>
            </th:block>
          </table>
          <h5 class="pt-4">API kasutamine</h5>
          <table th:with="columns=${15}" class="table table-striped table-condensed">
            <th:block th:each="firstRowItemIndex: ${#numbers.sequence(0, #arrays.length(apiRequestStatData) - 1, columns)}">
              <tr>
                <th:block th:each="rowItemCount: ${#numbers.sequence(0, columns - 1)}">
                  <th th:if="${firstRowItemIndex + rowItemCount < #arrays.length(apiRequestStatData)}" th:text="${apiRequestStatData[firstRowItemIndex + rowItemCount].name}"></th>
                </th:block>
              </tr>
              <tr>
                <th:block th:each="rowItemCount: ${#numbers.sequence(0, columns - 1)}">
                  <td th:if="${firstRowItemIndex + rowItemCount < #arrays.length(apiRequestStatData)}" th:text="${apiRequestStatData[firstRowItemIndex + rowItemCount].rowCount}"></td>
                </th:block>
              </tr>
            </th:block>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
