<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},_)">
  <title>EKILEX</title>
</head>
<body>


  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <span class="erf-logo mini-logo"></span>
        <span class="eki-logo mini-logo"></span>
      </div>
      <div class="card-body">
        <p class="card-text">Eesti Keele Instituudi sõnastiku- ja terminibaasisüsteem Ekilex on loodud sõnastike ja terminibaaside koostamiseks ja ajakohastamiseks
          leksikograafidele, terminoloogidele ning kõigile asjahuvilistele.<br>
          Ekilex koondab infot sõnade ja terminite kohta paljudest sõnakogudest ja terminibaasidest. Iga autor või töörühm täiendab ühiskasutatavaid andmeid oma infoga,
          näiteks lisab uusi sõnu või termineid, sünonüüme, tõlkevasteid mis tahes keeles või ajakohastab terminikirjeid.<br>
          Ekilex aitab vähendada sõnakogude andmete dubleerimist, koostamisel tekkivaid püsivigu ning lihtsustab tehtu avalikustamist.<br>
          Kasutaja saab ühisotsinguga kätte kogu info kõigist sõnakogudest ja terminibaasidest. 2019. aasta aprilli seisuga sisaldab Ekilex üle 50 sõnakogu: üldkeele sõnaraamatuid, oskussõnastikke ja terminibaase.<br>
          Ekilexi töölaud on jagatud mitmeks osaks. Leksikograafide vaade näitab sõnu ja nende tähendusi. Terminoloogide vaade näitab mõisteid ja neid tähistavaid termineid.
        </p>
        <p class="card-text">Sõnastiku- ja terminibaasisüsteemi Ekilex loomist on rahastatud projektidest EKI-ASTRA (2014–2020.4.01.16-0034, 2016–2022) ning Ekilex väliskasutajaliidesed ja API (2014–2020.12.03.18-0384, 2018–2020).
        </p>
        <div class="form-group row">
          <div class="col-sm-auto">
            <a role="button" class="btn btn-primary" th:href="@{/home}">Logi sisse</a>
            <a role="button" class="btn btn-info ml-5" th:href="@{/register}">Loo kasutaja</a>
            <a class="btn btn-light ml-5" href="https://keeleinstituut.github.io/ekilex/" target="ekilexUserManual"><i class="fa fa-info-circle" aria-hidden="true"></i> Kasutusjuhend</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer role="contentinfo" class="footer">
    <div class="container footer-wrapper">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <p>
            <strong>Eesti Keele Instituut</strong>
            <br>
            Roosikrantsi 6, 10119 Tallinn
            <br>
            tel: 617 7500
            <br>
            e-post:
            <a class="text-underline" href="mailto:eki@eki.ee">eki@eki.ee</a>
            <br>
            reg-kood: 70004011
          </p>
        </div>
        <div class="col-12 col-md-4 order-2 order-md-1 col-reverse">
          <span class="last-update">
            <span th:text="#{general.lastupdate}">Ekilex 2019</span>
            <span th:if="${appData != null}" th:text="${'(' + appData.appName + '-' + appData.appVersion + ')'}" style="color: gray"></span>
          </span>
          <span class="copyright">
              &copy;&nbsp;
              <span th:text="#{general.copyright}">Eesti Keele Instituut 2019</span>
            </span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
