<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},_)">
  <title>Esileht</title>
</head>
<body>
<div class="container-fluid">
  <div class="card mt-4 shadow">
    <div class="card-header">
      <h5 class="card-title" th:text="#{index.title}">Tere</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Ekilex on Eesti Keele Instituudi sõnastiku- ja terminibaasisüsteem</p>
      <div class="form-group row">
        <div class="col-sm-auto">
          <a role="button" class="btn btn-primary" th:href="@{/home}">Logi sisse</a>
          <a role="button" class="btn btn-info ml-5" th:href="@{/register}">Loo kasutaja</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>