<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <!-- Modal steps header -->
  <div class="inexact-syn-header" th:fragment="inexact_syn_steps(step)">
    <span
      class="inexact-syn-header__step"
      th:classappend="${step == 1 ? 'inexact-syn-header__step--active' : ''}"
      th:text="#{inexactsyn.step.meaning.select}"
      >
      1. Tähenduse valimine
    </span>
    <span
      class="inexact-syn-header__step"
      th:text="#{inexactsyn.step.meaning.update}"
      th:classappend="${step == 2 ? 'inexact-syn-header__step--active' : ''}"
      >
      2. Tähenduse täiendamine
    </span>
    <span
      class="inexact-syn-header__step"
      th:text="#{inexactsyn.step.relation.create}"
      th:classappend="${step == 3 ? 'inexact-syn-header__step--active' : ''}"
      >
      3. Tähenduse seose loomine
    </span>
  </div>
  <!-- end of Modal steps header -->
  <!-- Body title with divider -->
  <th:block th:fragment="inexact_syn_body_title(title)">
    <span class="inexact-syn-body-title" th:text="${title}"></span>
    <hr class="inexact-syn-body-divider inexact-syn-body-divider--negative-margin" />
  </th:block>
  <!-- end of Body title with divider -->
  <!-- Meaning candidate -->
  <th:block th:fragment="inexact_syn_full_candidate(meaningCandidate, meaningCandidateIter)">
      <div class="inexact-syn-meaning-candidate__header">
        <div class="inexact-syn-meaning-candidate__input-wrapper">
          <input type="radio" name="inexactSynMeaningId" data-plugin="enableSubmitInexactSynMeaningBtnPlugin"
                 th:value="${meaningCandidate.meaningId}"
                 th:disabled="${meaningCandidate.disabled}"/>
          <span class="inexact-syn-meaning-candidate__identifier" th:text="'M' + ${meaningCandidate.meaningId}"></span>
        </div>
        <span class="inexact-syn-meaning-candidate__dataset" th:text="${meaningCandidate.datasetName}"></span>
        <a class="inexact-syn-meaning-candidate__link" th:href="@{'/termsearch?id=' + ${meaningCandidate.meaningId}}" target="_blank" th:text="#{inexactsyn.display.meaning}">Vaata tervet kirjet</a>
      </div>
      <hr class="inexact-syn-body-divider inexact-syn-body-divider--small"/>
      <div class="inexact-syn-body-list__wrapper">
        <span class="inexact-syn-body-list__title" th:text="#{term.terms}">Terminid</span>
        <ul class="inexact-syn-body-list">
          <th:block th:each="candidateTranslationLangWord : ${meaningCandidate.translationLangWords}">
              <li 
                class="inexact-syn-body-list__item"
                th:utext="${candidateTranslationLangWord.wordValuePrese}"
                th:classappend="${candidateTranslationLangWord.wordValue == data.translationLangWordValue ? 'inexact-syn-body-list__item--exact' : ''}"
                >
              </li>
          </th:block>
          <th:block th:each="candidateTargetLangWord : ${meaningCandidate.targetLangWords}">
              <li 
                class="inexact-syn-body-list__item"
                th:utext="${candidateTargetLangWord.wordValuePrese}"
                th:classappend="${candidateTargetLangWord.wordValue == data.targetLangWordValue ? 'inexact-syn-body-list__item--exact' : ''}"
                >
              </li>
          </th:block>
        </ul>
      </div>
      <div class="inexact-syn-body-list__wrapper">
        <span class="inexact-syn-body-list__title" th:text="#{inexactsyn.definitions}">Seletused</span>
        <ul class="inexact-syn-body-list">
          <th:block
            th:each="definition : ${meaningCandidate.definitions}"
            th:with="isInexactSynDef = ${definition.typeCode == T(eki.common.constant.GlobalConstant).DEFINITION_TYPE_CODE_INEXACT_SYN}"
            >
            <li class="inexact-syn-body-list__item">
              <span th:utext="${definition.value}"></span>
              <span class="inexact-syn-body-list__item--exact" th:if="${isInexactSynDef}" th:text="${definition.typeCode}"></span>
            </li>
          </th:block>
        </ul>
      </div>
  </th:block>
  <!-- end of Meaning candidate -->
  <!-- Word candidate -->
  <div
    class="inexact-syn-word-candidate"
    name="wordCandidatesDiv"
    th:id="${id}"
    th:fragment="inexact_syn_word_candidate(id, source, inputName, buttonText)"
    >
      <button
        class="inexact-syn-word-candidate__trigger"
        data-toggle="collapse"
        aria-expanded="false"
        th:data-target="'#' + ${id} + '-collapse'"
        th:aria-controls="'#' + ${id} + '-collapse'"
        type="button"
        >
        <span class="inexact-syn-word-candidate__icon" data-success="false"></span>
        <span class="inexact-syn-word-candidate__button-title" th:text="${buttonText}"></span>
        <span class="inexact-syn-word-candidate__arrow-indicator"></span>
      </button>
      <div class="inexact-syn-word-candidate__contents collapse" th:id="${id} + '-collapse'">
        <th:block th:each="wordCandidate,wordCandidateIter : ${source}">
          <div th:replace=" :: word_candidate_details(${inputName})"></div>
        </th:block>
        <div class="inexact-syn-body-card">
          <label class="inexact-syn-body-new__label">
            <input type="radio" name="translationLangWordId" class="mr-3" data-plugin="enableSubmitWordBtnPlugin" value="new"/>
            <span class="inexact-syn-body-new" th:text="#{inexactsyn.create.new.word}">Sobiv keelend puudub, loon uue</span>
          </label>
        </div>
      </div>
  </div>
  <!-- end of Word candidate -->
  <!-- Word candidate details -->
  <div class="inexact-syn-body-card" th:fragment="word_candidate_details(inputName)">
    <div class="inexact-syn-word-candidate__header">
      <input type="radio" th:name="${inputName}" data-plugin="enableSubmitWordBtnPlugin"
        th:value="${wordCandidate.word.wordId}"/>
      <span class="inexact-syn-word-candidate__name" th:utext="${wordCandidate.word.wordValuePrese}"></span>
      <span class="inexact-syn-word-candidate__identifier" th:text="'W' + ${wordCandidate.word.wordId}"></span>
    </div>
    <th:block th:each="lexeme,lexemeIter : ${wordCandidate.mainDatasetLexemes}">
      <hr class="inexact-syn-body-divider" th:unless="${lexemeIter.first}">
      <div th:replace=" :: word_candidate_lexeme_details"></div>
    </th:block>
    <th:block th:if="${#lists.size(wordCandidate.secondaryDatasetLexemes) > 0}">
      <div>
        <button
          class="inexact-syn-word-candidate__read-more"
          data-toggle="collapse"
          th:data-target="${'#secondaryLexemesSelect' + wordCandidateIter.index}"
          th:data-controls="${'#secondaryLexemesSelect' + wordCandidateIter.index}"
          aria-expanded="false"
          th:text="#{common.see.more}"
          type="button"
          >
            Näita rohkem
        </button>
      </div>
      <div class="collapse" th:id="${'secondaryLexemesSelect' + wordCandidateIter.index}">
        <th:block th:each="lexeme,lexemeIter : ${wordCandidate.secondaryDatasetLexemes}">
          <hr class="inexact-syn-body-divider" th:unless="${lexemeIter.first}">
          <div th:replace=" :: word_candidate_lexeme_details"></div>
        </th:block>
      </div>
    </th:block>
  </div>
  <!-- end of Word candidate details -->
  <!-- Word candidate lexeme details -->
  <div
    class="inexact-syn-body-list__wrapper inexact-syn-body-list__wrapper--extra-text"
    th:fragment="word_candidate_lexeme_details">
    <span class="inexact-syn-body-list__title" th:text="#{inexactsyn.definitions}">Seletused</span>
    <ul class="inexact-syn-body-list">
      <th:block
        th:each="definition : ${lexeme.meaning.definitions}"
        >
        <li class="inexact-syn-body-list__item" th:utext="${definition.value}"></li>
      </th:block>
    </ul>
    <span class="inexact-syn-word-candidate__source" th:text="${lexeme.datasetName}"></span>
    <a
      class="inexact-syn-word-candidate__link"
      th:href="@{'/termsearch?id=' + ${lexeme.meaningId}}"
      target="_blank"
      th:text="#{termcreatemeaning.display.meaning}"
      >
      Vaata tervet kirjet
    </a>
  </div>
  <!-- end of Word candidate lexeme details -->
  <!-- Text grid -->
  <div class="inexact-syn-simple-grid" th:fragment="inexact_syn_gray_text_grid(title, text)">
    <span class="inexact-syn-gray-text inexact-syn-gray-text--small" th:text="${title}"></span>
    <span class="inexact-syn-gray-text inexact-syn-gray-text--small" th:text="${text}"></span>
  </div>
  <!-- end of Text grid -->
  <!-- List grid -->
  <div class="inexact-syn-simple-grid" th:fragment="inexact_syn_gray_list_grid(title, list)">
    <span class="inexact-syn-gray-text inexact-syn-gray-text--small" th:text="${title}"></span>
    <ul class="m-0 pl-3">
      <th:block th:each="listItem : ${list}">
        <li class="inexact-syn-gray-text inexact-syn-gray-text--small"
          th:utext="${listItem}"
          ></li>
      </th:block>
    </ul>
  </div>
  <!-- end of List grid -->
  <div class="modal-dialog modal-dialog-scrollable h-100 mw-90" role="document" th:fragment="inexact_syn_meaning_select">
    <div class="modal-content">
      <div class="modal-header">
        <th:block th:replace=" :: inexact_syn_steps(1)"/>
      </div>
      <div class="modal-body">
        <div class="container-fluid h-100">
          <div class="row no-gutters flex-grow-1 h-100">
            <div class="col-3 pr-2 h-100">
              <div class="card h-100">
                <div class="card-body h-100">
                  <th:block th:replace=" :: inexact_syn_body_title(#{inexactsyn.search.meaning})" />
                  <div th:text="#{inexactsyn.translation.lang.word}">Tõlkevaste</div>
                  <div class="font-weight-bold" th:text="${data.translationLangWordValue}"></div>
                  <hr class="inexact-syn-body-divider" />
                  <div th:text="#{inexactsyn.source.lang.word}">Eestikeelne vaste</div>
                  <th:block th:if="${data.isSearchEnabled}">
                    <form class="inexact-syn-body-search__wrapper" th:action="@{/inexact_syn_search_meanings}" method="post" autocomplete="off" data-plugin="submitInexactSynSearchMeaningsPlugin">
                      <th:block th:replace=" :: common_input_data"></th:block>
                      <input class="form-control" name="targetLangWordValue" th:placeholder="#{lex.placeholder.word.search}">
                      <div class="inexact-syn-body-search__button-wrapper">
                        <button type="submit" class="btn btn-primary inexact-syn-body-search__button" th:text="#{common.search}">Otsi</button>
                      </div>
                    </form>
                  </th:block>
                  <th:block th:unless="${data.isSearchEnabled}">
                    <div class="font-weight-bold">
                      <span th:text="${data.targetLangWordValue}"></span>
                      <span th:if="${#strings.isEmpty(data.targetLangWordValue)}">-</span>
                    </div>
                    <div class="inexact-syn-body-change-search__wrapper">
                      <button type="button" class="inexact-syn-body-change-search" data-plugin="initInexactSynUpdateSearchBtnPlugin"
                              th:data-target-meaning-id="${data.targetMeaningId}"
                              th:data-target-lang="${data.targetLang}"
                              th:data-word-relation-id="${data.wordRelationId}"
                              th:text="#{inexactsyn.change.search}">Muuda otsingut
                      </button>
                    </div>
                  </th:block>
                </div>
              </div>
            </div>
            <th:block th:if="${not #lists.isEmpty(meaningCandidates)}">
            <div class="h-100 d-flex flex-column col-9">
              <div class="card h-100 overflow-auto">
                <div class="card-body h-100">
                  <form th:action="@{/inexact_syn_meaning}" method="post" id="inexactSynMeaningForm" autocomplete="off">
                    <th:block th:replace=" :: common_input_data"></th:block>
                    <input type="hidden" name="targetLangWordValue" th:value="${data.targetLangWordValue}">
                    <th:block th:replace=" :: inexact_syn_body_title(#{inexactsyn.select.meaning})" />
                    <th:block th:each="meaningCandidate,meaningCandidateIter : ${meaningCandidates}">
                      <div class="inexact-syn-body-card">
                        <th:block th:replace=" :: inexact_syn_full_candidate(${meaningCandidate}, ${meaningCandidateIter})" />
                      </div> 
                    </th:block>
                    <div class="inexact-syn-body-card">
                      <label class="inexact-syn-body-new__label">
                          <input type="radio" name="inexactSynMeaningId" class="mr-3" data-plugin="enableSubmitInexactSynMeaningBtnPlugin" value="new"/>
                          <span class="inexact-syn-body-new" th:text="#{inexactsyn.create.new.meaning}">Sobiv tähendus puudub, loon uue</span>
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            </th:block>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="inexact-syn-prev__wrapper">
          <div th:text="#{inexactsyn.step.1}">Samm 1/3</div>
        </div>
        <div class="inexact-syn-next-btns">
          <button type="button" class="inexact-syn-next-btns__cancel" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          <button type="button" class="inexact-syn-next-btns__next" name="submitInexactMeaningBtn" data-plugin="submitInexactSynMeaningSelectPlugin" disabled th:text="#{inexactsyn.next.step}">Järgmine samm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-dialog modal-dialog-scrollable h-100 mw-90" role="document" th:fragment="inexact_syn_word_select"
       th:with="hasCandates=${not #lists.isEmpty(meaning.translationLangWordCandidates) || not #lists.isEmpty(meaning.targetLangWordCandidates)}">
    <div class="modal-content">
      <div class="modal-header">
        <th:block th:replace=" :: inexact_syn_steps(2)"/>
      </div>
      <div class="modal-body">
        <div class="container-fluid h-100">
          <div class="row no-gutters flex-grow-1 h-100">
            <div class="col-3 pr-2 h-100">
              <div class="card h-100">
                <div class="card-body h-100">
                  <th:block th:replace=" :: inexact_syn_body_title(#{inexactsyn.update.meaning})" />
                  <div th:text="#{common.meaning}">Mõiste</div>
                  <th:block th:if="${meaning.meaningId != null}">
                    <th:block th:replace=" :: inexact_syn_gray_text_grid(#{common.id}, ${meaning.meaningId})" />
                    <th:block th:replace=" :: inexact_syn_gray_list_grid(#{inexactsyn.words}, ${meaning.meaningWordValues})" />
                    <div class="inexact-syn-simple-grid">
                      <span 
                        class="inexact-syn-gray-text inexact-syn-gray-text--small" 
                        th:text="#{inexactsyn.definitions}">Seletused</span>
                      <ul class="m-0 pl-3">
                        <th:block th:each="definition : ${meaning.definitions}">
                            <li
                              class="inexact-syn-gray-text inexact-syn-gray-text--small"
                              th:utext="${definition.value}"></li>
                        </th:block>
                      </ul>
                    </div>
                  </th:block>
                  <th:block th:replace=" :: inexact_syn_gray_text_grid(#{inexactsyn.dataset}, ${meaning.datasetName})" />
                  <hr class="inexact-syn-body-divider"/>
                  <div th:text="#{inexactsyn.translation.lang.word}">Tõlkevaste</div>
                  <div class="font-weight-bold" th:utext="${meaning.translationLangWordValue}"></div>
                  <hr class="inexact-syn-body-divider"/>
                  <th:block th:if="${#strings.isEmpty(meaning.targetLangWordValue)}">
                    <div th:text="#{inexactsyn.inexact.syn.def}">Lühivihje</div>
                    <input class="form-control required-field" id="inexactSynDef"
                           th:placeholder="#{inexactsyn.placeholder.insert.inexact.syn.def}"
                           th:value="${meaning.inexactSynDefValue}">
                  </th:block>
                  <th:block th:unless="${#strings.isEmpty(meaning.targetLangWordValue)}">
                    <div th:text="#{inexactsyn.source.lang.word}">Eestikeelne vaste</div>
                    <div class="font-weight-bold" th:text="${meaning.targetLangWordValue}"></div>
                  </th:block>
                </div>
              </div>
            </div>
            <div class="h-100 d-flex flex-column col-9">
              <div class="card h-100 overflow-auto">
                <div class="card-body h-100">
                  <form th:action="@{/inexact_syn_word}" method="post" id="inexactSynWordForm" autocomplete="off">
                    <th:block th:replace=" :: common_input_data"></th:block>
                    <input type="hidden" name="targetLangWordValue" th:value="${data.targetLangWordValue}">
                    <input type="hidden" name="inexactSynDef" th:value="${data.inexactSynDef}">
                    <input type="hidden" name="inexactSynMeaningId" th:value="${meaning.meaningId}">
                    <th:block th:if="${hasCandates}">
                      <th:block th:replace=" :: inexact_syn_body_title(#{inexactsyn.select.word.meaning})" />
                    </th:block>
                    <th:block th:unless="${hasCandates}">
                      <span class="inexact-syn-body-title" th:text="#{inexactsyn.insert.inexact.syn.def}">Sisesta lühivihje</span>
                    </th:block>
                    <th:block
                      th:unless="${#lists.isEmpty(meaning.translationLangWordCandidates)}"
                      th:replace=" :: inexact_syn_word_candidate(
                        'translationLangWordCandidatesDiv',
                        ${meaning.translationLangWordCandidates},
                        'translationLangWordId',
                        ${meaning.translationLangWordValue})"
                      />
                    <th:block
                      th:unless="${#lists.isEmpty(meaning.targetLangWordCandidates)}"
                      th:replace=" :: inexact_syn_word_candidate(
                        'targetLangWordCandidatesDiv',
                        ${meaning.targetLangWordCandidates},
                        'targetLangWordId',
                        ${meaning.targetLangWordValue})"
                      />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="inexact-syn-prev__wrapper">
          <form th:action="@{/inexact_syn_search_meanings}" method="post" autocomplete="off" data-plugin="submitInexactSynSearchMeaningsPlugin">
            <th:block th:replace=" :: common_input_data"></th:block>
            <input type="hidden" name="targetLangWordValue" th:value="${data.targetLangWordValue}">
            <input type="hidden" name="revertToPreviousStep" value="true">
            <div class="inexact-syn-prev__contents">
              <i class="fa fa-angle-left inexact-syn-prev__arrow"></i>
              <button type="submit" class="inexact-syn-prev__back-button" th:text="#{inexactsyn.previous.step}">Eelmine samm</button>
              <div class="inexact-syn-prev__progress" th:text="#{inexactsyn.step.2}">Samm 2/3</div>
            </div>
          </form>
        </div>
        <div class="inexact-syn-next-btns">
          <button type="button" class="inexact-syn-next-btns__cancel" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          <button type="button" class="inexact-syn-next-btns__next" name="submitInexactMeaningBtn" data-plugin="submitWordBtnPlugin"
                  th:disabled="${hasCandates}"
                  th:text="#{inexactsyn.next.step}">Järgmine samm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-dialog modal-dialog-scrollable h-100 mw-90" role="document" th:fragment="inexact_syn_relation_select">
    <div class="modal-content">
      <div class="modal-header">
        <th:block th:replace=" :: inexact_syn_steps(3)"/>
      </div>
      <div class="modal-body">
        <div class="container-fluid h-100">
          <div class="card h-100">
            <div class="card-body h-100">
              <th:block th:replace=" :: inexact_syn_body_title(#{inexactsyn.select.meaning.relation})" />
              <div class="row">
                <div class="col-5 inexact-syn-body-card">
                  <span th:if="${data.inexactSynMeaningId == null}" th:text="#{inexactsyn.new.meaning}">Uus tähendus</span>
                  <span th:if="${data.inexactSynMeaningId != null}" th:text="'M' + ${data.inexactSynMeaningId}"></span>
                  <hr class="inexact-syn-body-divider inexact-syn-body-divider--small">
                  <div class="inexact-syn-body-list__wrapper">
                    <span class="inexact-syn-body-list__title" th:text="#{inexactsyn.words}">Keelendid</span>
                    <ul class="inexact-syn-body-list">
                      <th:block th:each="meaningWordValue : ${data.inexactSynMeaningWordValues}">
                        <li class="inexact-syn-body-list__item" th:utext="${meaningWordValue}"></li>
                      </th:block>
                    </ul>
                  </div>
                  <div class="inexact-syn-body-list__wrapper">
                    <span class="inexact-syn-body-list__title" th:text="#{inexactsyn.definitions}">Seletused</span>
                    <ul class="inexact-syn-body-list">
                      <th:block
                        th:each="definition : ${data.inexactSynMeaningDefinitions}"
                        th:with="isInexactSynDef = ${definition.typeCode == T(eki.common.constant.GlobalConstant).DEFINITION_TYPE_CODE_INEXACT_SYN}"
                        >
                          <li class="inexact-syn-body-list__item" th:utext="${definition.value}"></li>
                          <li class="inexact-syn-body-list__item inexact-syn-body-list__item--exact" th:if="${isInexactSynDef}" th:text="${definition.typeCode}"></li>
                      </th:block>
                    </ul>
                  </div>
                </div>
                <div class="col-2">
                    <form th:action="@{/inexact_syn_meaning_relation}" method="post" id="relationForm" autocomplete="off">
                      <th:block th:replace=" :: common_input_data"></th:block>
                      <input type="hidden" name="targetLangWordValue" th:value="${data.targetLangWordValue}">
                      <input type="hidden" name="inexactSynDef" th:value="${data.inexactSynDef}">
                      <input type="hidden" name="inexactSynMeaningId" th:value="${data.inexactSynMeaningId}">
                      <input type="hidden" name="targetLangWordId" th:value="${data.targetLangWordId}">
                      <div class="inexact-syn-body-card">
                        <select required class="form-control value-select required-field" name="relationType" data-plugin="relationSelectPlugin">
                          <option value="" hidden disabled selected="true" th:text="#{common.select.value}">vali väärtus...</option>
                          <option th:value="${T(eki.common.constant.GlobalConstant).MEANING_REL_TYPE_CODE_NARROW}" th:text="#{inexactsyn.is.narrower.than}">on kitsam kui...</option>
                          <option th:value="${T(eki.common.constant.GlobalConstant).MEANING_REL_TYPE_CODE_WIDE}" th:text="#{inexactsyn.is.wider.than}">on laiem kui...</option>
                        </select>
                        <div class="inexact-syn-relation-icons">
                          <i class="fa fa-question"></i>
                          <i
                            class="fa fa-less-than"
                            style="display: none;"
                            th:data-relation-value="${dataRelationValue}"
                            th:with="dataRelationValue=${T(eki.common.constant.GlobalConstant).MEANING_REL_TYPE_CODE_NARROW}"
                            >
                          </i>
                          <i
                            class="fa fa-greater-than"
                            style="display: none;"
                            th:data-relation-value="${dataRelationValue}"
                            th:with="dataRelationValue=${T(eki.common.constant.GlobalConstant).MEANING_REL_TYPE_CODE_WIDE}"
                            >
                          </i>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="col-5 inexact-syn-body-card">
                  <span th:text="'M' + ${data.targetMeaningId}"></span>
                  <hr class="inexact-syn-body-divider inexact-syn-body-divider--small">
                  <div class="inexact-syn-body-list__wrapper">
                    <span class="inexact-syn-body-list__title" th:text="#{inexactsyn.words}">Keelendid</span>
                    <ul class="inexact-syn-body-list">
                      <th:block
                        th:each="meaningWordValue : ${data.targetMeaningWordValues}"
                        >
                          <li class="inexact-syn-body-list__item" th:utext="${meaningWordValue}"></li>
                      </th:block>
                    </ul>
                  </div>
                  <div class="inexact-syn-body-list__wrapper">
                    <span class="inexact-syn-body-list__title" th:text="#{inexactsyn.definitions}">Seletused</span>
                    <ul class="inexact-syn-body-list">
                      <th:block
                        th:each="definition : ${data.targetMeaningDefinitions}"
                        th:with="isInexactSynDef = ${definition.typeCode == T(eki.common.constant.GlobalConstant).DEFINITION_TYPE_CODE_INEXACT_SYN}"
                        >
                          <li class="inexact-syn-body-list__item" th:utext="${definition.value}"></li>
                          <li class="inexact-syn-body-list__item inexact-syn-body-list__item--exact" th:if="${isInexactSynDef}" th:text="${definition.typeCode}"></li>
                      </th:block>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="inexact-syn-prev__wrapper">
          <form th:action="@{/inexact_syn_search_meanings}" method="post" autocomplete="off" data-plugin="submitInexactSynSearchMeaningsPlugin">
            <th:block th:replace=" :: common_input_data"></th:block>
            <input type="hidden" name="targetLangWordValue" th:value="${data.targetLangWordValue}">
            <input type="hidden" name="revertToPreviousStep" value="true">
            <div class="inexact-syn-prev__contents">
              <i class="fa fa-angle-left inexact-syn-prev__arrow"></i>
              <button type="submit" class="inexact-syn-prev__back-button" th:text="#{inexactsyn.previous.step}">Eelmine samm</button>
              <div class="inexact-syn-prev__progress" th:text="#{inexactsyn.step.3}">Samm 3/3</div>
            </div>
          </form>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
        <button type="button" class="btn btn-primary" name="submitRelationSelectBtn" data-plugin="submitRelationSelectPlugin" disabled>Loo tähenduse seos</button>
      </div>
    </div>
  </div>
  <th:block th:fragment="common_input_data">
    <input type="hidden" name="targetMeaningId" th:value="${data.targetMeaningId}">
    <input type="hidden" name="datasetCode" th:value="${data.datasetCode}">
    <input type="hidden" name="targetLang" th:value="${data.targetLang}">
    <input type="hidden" name="wordRelationId" th:value="${data.wordRelationId}">
    <input type="hidden" name="translationLang" th:value="${data.translationLang}">
    <input type="hidden" name="translationLangWordValue" th:value="${data.translationLangWordValue}">
    <input type="hidden" name="translationLangWordId" th:value="${data.translationLangWordId}">
  </th:block>
</body>
</html>