<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{languagegroups.title}">Keelegrupid</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'classifiers')"></th:block>
  <div class="container-fluid">
    <div class="mt-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"  th:href="@{/classifiers}" th:text="#{classifiers.title}">Klassifikaatorid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/languagegroups}" th:text="#{languagegroup.title}">Keelegrupid</a>
        </li>
      </ul>
      <div class="card mb-4 shadow">
        <div class="card-body">
          <div>
            <button type="button" 
                    class="btn btn-primary" 
                    data-toggle="modal" 
                    data-target="#addLanguageGroupDlg" 
                    th:text="#{languagegroup.add}">
              Lisa
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="classifierdialog :: add_language_group_dialog"></div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #alertSmall"></div>
  <script th:inline="javascript">
  </script>
</body>
</html>