<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div class="card-body p-0 d-flex flex-column h-100" th:fragment="search_result">
    <div class="bg-light rounded-top px-2 py-1">
      <span th:text="${'Kokku leiti : ' + wordsResult.totalCount}"></span>
    </div>
    <div class="overflow-auto h-100">
      <ul id="results" class="mb-0 pb-3 list-group">
        <th:block th:each="word : ${wordsResult.words}">
          <li th:id="${'word-result-' + word.wordId}" class="list-group-item search-result-item border-left-0 border-right-0 rounded-0 p-0">
            <button
              type="button"
              data-plugin="contextmenu"
              data-contextmenu:compare="Ava uues paneelis"
              class="search-result-btn btn btn-block p-2 text-left position-relative rounded-0"
              th:data-id="${word.wordId}"
              name="word-details-btn">
              <span class="d-flex align-items-center">
                <span class="badge badge-light mr-2" th:text="${word.homonymNr}" th:if="${word.homonymNr > 0}"></span>
                <span th:utext="${viewUtil.getWordValueMarkup(word)}">vorm 1</span>
                <span th:text="${'(' + viewUtil.getLangIso2(word.lang) + ')'}" class="ml-1"></span>
              </span>
              <small class="d-flex">
                <span th:text="${#strings.listJoin(word.datasetCodes, ', ')}"></span>
              </small>
              <span class="d-flex align-items-start">
                <small th:if="${not #lists.isEmpty(word.lexemesValueStateCodes)}">
                  <span th:text="${#strings.listJoin(word.lexemesValueStateCodes, ', ')}"></span>
                </small>
                <small th:if="${word.lexemesArePublic != null}">
                  <span class="ml-1" th:if="${not #lists.isEmpty(word.lexemesValueStateCodes)}">|</span>
                  <span th:if="${word.lexemesArePublic}">avalik</span>
                  <span th:unless="${word.lexemesArePublic}">mitteavalik</span>
                </small>
                <span class="badge badge-pill badge-light ml-auto" th:if="${not #lists.isEmpty(word.lexemesTagNames)}">
                  <span th:text="${#strings.listJoin(word.lexemesTagNames, ', ')}"></span>
                </span>
              </span>
              <span class="position-absolute search-result-status">
                <span th:id="${'word_select_wait_' + word.wordId}" class="fa fa-refresh fa-spin" style="display: none"></span>
              </span>
            </button>
          </li>
        </th:block>
      </ul>
    </div>
    <div th:if="${wordsResult.showPaging}">
      <div th:replace="components :: paging(${wordsResult})"></div>
    </div>
  </div>
  <div class="row" th:fragment="tags">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Ilmiku sildid</span>
      <button type="button" class="btn badge badge-success float-right mr-4"
              title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addLexemeTagDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <span th:each="tag,tagIter : ${lexeme.tags}" class="hidden-buttons">
        <span th:text="${tag}"></span>
        <button type="button" class="btn badge badge-warning"
                data-op-code="lexeme_tag"
                th:data-id="${lexeme.lexemeId}"
                th:data-value="${tag}"
                th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${tagIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="hidden-buttons row" th:fragment="data_ids">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Identifikaatorid</span>
    </div>
    <div class="col pl-0">
      <span class="pr-1" th:text="'W' + ${lexeme.wordId}"></span>
      <span class="pr-1" th:text="'L' + ${lexeme.lexemeId}"></span>
      <span class="pr-1" th:text="'M' + ${lexeme.meaningId}"></span>
    </div>
  </div>
  <div class="hidden-buttons row" th:if="${lexeme.complexity != null}" th:fragment="lexeme_complexity">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Detailsus</span>
    </div>
    <div class="col pl-0">
      <span th:text="#{'enum.complexity.' + ${lexeme.complexity}}"></span>
      <button type="button" class="btn badge badge-primary"
              title="Muuda"
              data-toggle="modal"
              th:data-target="${'#editLexemeComplexityDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="hidden-buttons row" th:fragment="lexeme_publicity">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Avalikkus</span>
    </div>
    <div class="col pl-0">
      <span th:if="${lexeme.public}">avalik</span>
      <span th:unless="${lexeme.public}">mitteavalik</span>
      <button type="button" class="btn badge badge-primary"
              title="Muuda"
              data-toggle="modal"
              th:data-target="${'#editLexemePublicityDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="hidden-buttons row" th:if="${lexeme.lexemeValueStateCode != null}" th:fragment="lexeme_value_state">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Väärtusolek</span>
    </div>
    <div class="col pl-0">
      <span th:text="${lexeme.lexemeValueStateCode}"></span>
      <button type="button" class="btn badge badge-primary"
              title="Muuda"
              data-toggle="modal"
              th:data-target="${'#editLexemeValueStateCodeDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn badge badge-warning"
              data-op-code="lexeme_value_state"
              th:data-id="${lexeme.lexemeId}"
              th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
              data-toggle="delete-confirm"
              data-placement="right"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.grammars)}" th:fragment="lexeme_grammar">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Grammatika</span>
      <button type="button" class="btn badge badge-success float-right mr-4"
              title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addLexemeGrammarDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <span th:each="grammar,grammarIter : ${lexeme.grammars}" class="hidden-buttons">
        <span th:replace="lexdialog :: edit_lexeme_grammar_dlg"></span>
        <span th:utext="${grammar.valuePrese}"></span>
        <span class="ctxt" th:text="'(' + #{'enum.complexity.' + ${grammar.complexity}} + ')'"></span>
        <button type="button" class="btn badge badge-primary"
                title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemeGrammarDlg_' + lexeme.lexemeId + '_' + grammar.id}"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                data-op-code="lexeme_grammar"
                th:data-id="${grammar.id}"
                th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${grammarIter.last}" class="ml-n1">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.lexemeFrequencies) || lexeme.lexemeFrequencyGroupCode != null}" th:fragment="lexeme_frequency_group">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Sagedusrühm</span>
    </div>
    <div class="col pl-0">
      <span th:text="${lexeme.lexemeFrequencies}"></span>
      <span th:if="${lexeme.lexemeFrequencyGroupCode != null}" class="hidden-buttons">
        <span th:text="${lexeme.lexemeFrequencyGroupCode}"></span>
        <button type="button" class="btn badge badge-primary"
                title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemeFrequencyGroupDlg_' + lexeme.lexemeId}"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                data-op-code="lexeme_frequency_group"
                th:data-id="${lexeme.lexemeId}"
                th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="hidden-buttons row" th:fragment="lexeme_weight">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Ilmiku kaal</span>
    </div>
    <div class="col pl-0">
      <span th:text="${viewUtil.getFormattedLexemeWeight(lexeme.weight)}"></span>
      <button type="button" class="btn badge badge-primary"
              title="Muuda"
              data-toggle="modal"
              th:data-target="${'#editLexemeWeightDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.pos)}" th:fragment="lexeme_pos">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Sõnaliik</span>
      <button type="button" class="btn badge badge-success float-right mr-4"
              title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addLexemePosDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.pos}" class="hidden-buttons">
        <span th:replace="lexdialog :: edit_lexeme_pos_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemePosDlg_' + lexeme.lexemeId + '_' + classifIter.index}"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                data-op-code="lexeme_pos"
                th:data-id="${lexeme.lexemeId}"
                th:data-value="${classif.code}"
                th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.derivs)}" th:fragment="lexeme_derivative">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Tuletuskood</span>
      <button type="button" class="btn badge badge-success float-right mr-4"
              title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addLexemeDerivDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.derivs}" class="hidden-buttons">
        <span th:replace="lexdialog :: edit_lexeme_deriv_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemeDerivDlg_' + lexeme.lexemeId + '_' + classifIter.index}"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                data-op-code="lexeme_deriv"
                th:data-id="${lexeme.lexemeId}"
                th:data-value="${classif.code}"
                th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.registers)}" th:fragment="lexeme_register">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Register</span>
      <button type="button" class="btn badge badge-success float-right mr-4"
              title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addLexemeRegisterDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.registers}" class="hidden-buttons">
        <span th:replace="lexdialog :: edit_lexeme_register_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemeRegisterDlg_' + lexeme.lexemeId + '_' + classifIter.index}"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                data-op-code="lexeme_register"
                th:data-id="${lexeme.lexemeId}"
                th:data-value="${classif.code}"
                th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.meaning.domains)}" th:fragment="meaning_domain">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Valdkonnad</span>
      <button type="button" class="btn badge badge-success float-right mr-4"
              title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addMeaningDomainDlg_' + lexeme.meaningId}"
              sec:authorize="#vars.lexeme.meaning.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <div class="orderable" data-op-code="meaning_domain">
        <div th:each="classif,classifIter : ${lexeme.meaning.domains}" th:data-id="${classif.id}" th:data-orderby="${classif.orderBy}" class="hidden-buttons">
          <div class="row">
            <div class="action-column">
              <th:block th:replace="common :: ordering_buttons(${classifIter})" sec:authorize="#vars.lexeme.meaning.crudGrant"></th:block>
            </div>
            <div class="col">
              <span th:replace="lexdialog :: edit_meaning_domain_dlg"></span>
              <span th:text="${classif.code}"></span>
              <th:block th:unless="${classif.code == classif.value}">
                -
                <span th:text="${classif.value}"></span>
              </th:block>
              <button type="button" class="btn badge badge-primary" title="Muuda" data-toggle="modal"
                      th:data-target="${'#editMeaningDomainDlg_' + lexeme.lexemeId + '_' + classifIter.index}"
                      sec:authorize="#vars.lexeme.meaning.crudGrant">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn badge badge-warning" 
                      data-op-code="meaning_domain"
                      th:data-id="${lexeme.meaningId}"
                      th:data-value="${classif.toIdString()}"
                      th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                      data-toggle="delete-confirm"
                      data-placement="right"
                      sec:authorize="#vars.lexeme.meaning.crudGrant">
                <i class="fa fa-remove" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.meaning.semanticTypes)}" th:fragment="meaning_semantic_type">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Semantiline tüüp</span>
      <button type="button" class="btn badge badge-success float-right mr-4"
              title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addMeaningSemanticTypeDlg_' + lexeme.meaningId}"
              sec:authorize="#vars.lexeme.meaning.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.meaning.semanticTypes}" class="hidden-buttons">
        <span th:replace="lexdialog :: edit_meaning_semantic_type_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editMeaningSemanticTypeDlg_' + lexeme.meaningId + '_' + classifIter.index}"
                sec:authorize="${#vars.lexeme.meaning.crudGrant}">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                data-op-code="meaning_semantic_type"
                th:data-id="${lexeme.meaningId}"
                th:data-value="${classif.code}"
                th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="${#vars.lexeme.meaning.crudGrant}">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="mr-1" th:fragment="word_lang">
    <th:block th:if="${#strings.isEmpty(details.word.lang)}">
      <button type="button" class="btn btn-secondary btn-compact btn-sm"
              data-toggle="modal"
              th:data-target="${'#addWordLangDlg_' + wordId}"
              sec:authorize="#vars.details.word.crudGrant">
        <i class="fa fa-plus action-icon mr-1" aria-hidden="true"></i>Keel
      </button>
    </th:block>
    <th:block th:unless="${#strings.isEmpty(details.word.lang)}">
      <div class="hover-actions-container hover-actions-container-outline">
        <span th:text="${T(eki.ekilex.service.util.ConversionUtil).getClassifierValue(details.word.lang, allLanguages)}" data-toggle="tooltip" title="Keel"></span>
        <div class="hover-actions">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm" title="Muuda"
                    data-toggle="modal"
                    th:data-target="${'#editWordLangDlg_' + wordId}"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-caret-down action-icon" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <div class="mr-1" th:fragment="word_display_morph">
    <th:block th:if="${details.word.displayMorphCode == null}">
      <button type="button" class="btn btn-secondary btn-compact btn-sm"
              data-toggle="modal"
              th:data-target="${'#addWordDisplayMorphDlg_' + wordId}"
              sec:authorize="#vars.details.word.crudGrant">
        <i class="fa fa-plus action-icon mr-1" aria-hidden="true"></i>Vormikood
      </button>
    </th:block>
    <th:block th:unless="${details.word.displayMorphCode == null}">
      <div class="hover-actions-container hover-actions-container-outline">
        <span th:text="'[' + ${details.word.displayMorphCode} + ']'" data-toggle="tooltip" title="Vormikood"></span>
        <div class="hover-actions">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm" title="Muuda" data-toggle="modal" th:data-target="${'#editWordDisplayMorphDlg_' + wordId}" sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-caret-down action-icon" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm"
                    th:data-id="${wordId}"
                    data-op-code="word_display_morph"
                    data-toggle="delete-confirm"
                    data-placement="right"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-remove action-icon" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <div class="mr-1" th:fragment="word_vocal_form">
    <th:block th:if="${#strings.isEmpty(details.word.vocalForm)}">
      <button type="button" class="btn btn-secondary btn-compact btn-sm"
              data-toggle="modal"
              th:data-target="${'#addWordVocalFormDlg_' + wordId}"
              sec:authorize="#vars.details.word.crudGrant">
        <i class="fa fa-plus action-icon mr-1" aria-hidden="true"></i>Hääldus
      </button>
    </th:block>
    <th:block th:unless="${#strings.isEmpty(details.word.vocalForm)}">
      <div class="hover-actions-container hover-actions-container-outline">
        <span th:text="'[' + ${details.word.vocalForm} + ']'" data-toggle="tooltip" title="Hääldus"></span>
        <div class="hover-actions hover-actions-bottom-right">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm" title="Muuda"
                    data-toggle="modal"
                    th:data-target="${'#editWordVocalFormDlg_' + wordId}"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-pencil action-icon" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm"
                    th:data-id="${wordId}"
                    data-op-code="word_vocal_form"
                    data-toggle="delete-confirm"
                    data-placement="right"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-remove action-icon" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <div class="mr-1" th:fragment="word_gender">
    <th:block th:if="${details.word.genderCode == null}">
      <button type="button" class="btn btn-secondary btn-compact btn-sm"
              data-toggle="modal"
              th:data-target="${'#addWordGenderDlg_' + wordId}"
              sec:authorize="#vars.details.word.crudGrant">
        <i class="fa fa-plus action-icon mr-1" aria-hidden="true"></i>Sugu
      </button>
    </th:block>
    <th:block th:unless="${details.word.genderCode == null}">
      <div class="hover-actions-container hover-actions-container-outline">
        <span th:text="${T(eki.ekilex.service.util.ConversionUtil).getClassifierValue(details.word.genderCode, wordGenders)}" data-toggle="tooltip" title="Sugu"></span>
        <div class="hover-actions hover-actions-bottom-right">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm"
                    title="Muuda"
                    data-toggle="modal"
                    th:data-target="${'#editWordGenderDlg_' + wordId}"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-caret-down action-icon" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm"
                    th:data-id="${wordId}"
                    data-op-code="word_gender"
                    data-toggle="delete-confirm"
                    data-placement="right"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-remove action-icon" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <div class="mr-1" th:fragment="word_type">
    <th:block th:if="${#lists.isEmpty(details.wordTypes)}">
      <button type="button" class="btn btn-secondary btn-compact btn-sm"
              data-toggle="modal"
              th:data-target="${'#addWordTypeDlg_' + wordId}"
              sec:authorize="#vars.details.word.crudGrant">
        <i class="fa fa-plus action-icon mr-1" aria-hidden="true"></i>Sõna tüüp
      </button>
    </th:block>
    <th:block th:unless="${#lists.isEmpty(details.wordTypes)}">
      <div th:each="classif,classifIter : ${details.wordTypes}" data-toggle="tooltip" title="Sõna tüüp" class="hover-actions-container hover-actions-container-outline">
        <span th:replace="lexdialog :: edit_word_type_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <div class="hover-actions hover-actions-bottom-right">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm"
                    data-toggle="modal"
                    th:data-target="${'#addWordTypeDlg_' + wordId}"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-plus action-icon" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm" title="Muuda"
                    data-toggle="modal"
                    th:data-target="${'#editWordTypeDlg_' + wordId + '_' + classifIter.index}"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-caret-down action-icon" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm"
                    th:data-id="${wordId}"
                    data-op-code="word_type"
                    th:data-value="${classif.code}"
                    data-toggle="delete-confirm"
                    data-placement="right"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-remove action-icon" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <span th:unless="${classifIter.last}">,</span>
      </div>
    </th:block>
  </div>
  <div class="mr-1" th:fragment="word_aspect">
    <th:block th:if="${details.word.aspectCode == null}">
      <button type="button" class="btn btn-secondary btn-compact btn-sm"
              data-toggle="modal"
              th:data-target="${'#addWordAspectDlg_' + wordId}"
              sec:authorize="#vars.details.word.crudGrant">
        <i class="fa fa-plus action-icon mr-1" aria-hidden="true"></i>Aspekt
      </button>
    </th:block>
    <th:block th:unless="${details.word.aspectCode == null}">
      <div class="hover-actions-container hover-actions-container-outline">
        <span th:text="${T(eki.ekilex.service.util.ConversionUtil).getClassifierValue(details.word.aspectCode, wordAspects)}" data-toggle="tooltip" title="Aspekt"></span>
        <div class="hover-actions">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm" title="Muuda" data-toggle="modal" th:data-target="${'#editWordAspectDlg_' + wordId}" sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-caret-down action-icon" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm"
                    th:data-id="${wordId}"
                    data-op-code="word_aspect"
                    data-toggle="delete-confirm"
                    data-placement="right"
                    sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-remove action-icon" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </th:block>
  </div>
</body>
</html>
