<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <th:block th:fragment="lexeme_details_lite">
    <div class="px-3 pb-2 pt-2 border-bottom border-light details-closed">
      <div th:replace="lexdialog :: edit_lexeme_publicity_dlg"></div>
      <div class="lexeme-inner" th:classappend="${lexeme.levels != null && lexeme.levels.length() == 3} ? 'pl-4': ''">
        <div class="d-flex flex-row flex-nowrap align-items-start">
          <span th:if="${lexeme.levels != null}"
                th:data-id="${lexeme.lexemeId}"
                th:data-level1="${lexeme.level1}"
                th:data-level2="${lexeme.level2}"
                class="px-2 py-0 bg-light rounded font-weight-bold mr-2 levels-handle"
                th:text="${lexeme.levels}"> </span>
          <button class="btn text-gray" data-plugin="lexemePublicity"
                  th:data-target="${'#editLexemePublicityDlg_' + lexeme.lexemeId}"
                  th:data-edit-enabled="${#vars.lexeme.crudGrant}"
                  th:data-public="${lexeme.public}"
                  th:data-label="#{'boolean.public.' + ${lexeme.public}}">
            <span name="icon-span"></span>
          </button>
          <div>
            <div class="d-flex flex-row" th:each="synonymLangGroup : ${lexeme.synonymLangGroups}">
              <span th:if="${lexeme.wordLang == synonymLangGroup.lang}" class="mr-2" th:text="#{syn.abbreviation}"></span>
              <span th:unless="${lexeme.wordLang == synonymLangGroup.lang}" th:text="${viewUtil.getLangIso2(synonymLangGroup.lang)}" class="mr-2"></span>
              <div class="sorter-wrapper">
                <div class="sorter-more" data-plugin="readMore">
                  <div data-plugin="sorter" data-sorter:type="syn">
                    <span
                          class="sorter-item"
                          style="display: inline-block;"
                          th:each="syn,synIter : ${synonymLangGroup.synonyms}"
                          th:with="isMeaningRelSyn=${syn.type == T(eki.common.constant.SynonymType).MEANING_REL}">
                      <span th:each="synWord, synWordIter : ${syn.words}" class="btn-custom">
                        <button
                          type="button"
                          class="btn btn-link p-0"
                          th:data-id="${synWord.wordId}"
                          name="details-btn"
                          data-behaviour="replace"
                          data-plugin="contextmenu, loadDetailsPlugin"
                          data-contextmenu:compare="Ava uues paneelis">
                          <small class="font-weight-bold text-dark" th:text="${synWord.lexemeLevels}" th:if="${not #strings.isEmpty(synWord.lexemeLevels)}"></small>
                          <span th:utext="${viewUtil.getWordValueMarkup(synWord)}" th:styleappend="${isMeaningRelSyn ? 'color: #00874F' : ''}"></span>
                          <sup th:if="${synWord.homonymsExist}" th:text="${synWord.homonymNr}"></sup>
                          <small class="text-gray fontSize-12" th:each="registerCode,regIter : ${synWord.lexemeRegisterCodes}" th:text="${registerCode + (regIter.last ? '' : ', ')}"></small>
                          <small class="text-gray fontSize-12" th:if="${synWordIter.last}" th:text="${'[' + viewUtil.getFormattedWeight(syn.weight) + ']'}"></small>
                        </button><span th:unless="${synWordIter.last}">,</span>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-auto d-flex flex-row align-items-center">
            <b th:text="${lexeme.datasetName}" class="mr-2"></b>
            <button type="button" name="lexeme-details-btn"
                    class="btn btn-secondary btn-sm btn-toggle" title="Näita detaile"
                    th:data-id="${lexeme.lexemeId}" th:data-lex-levels="${lexeme.levels}" th:data-composition="full"
                    data-plugin="openLexemeDetailsPlugin">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center flex-wrap">
            <div th:if="${not #lists.isEmpty(lexeme.meaning.definitions)}">
              <span th:utext="${lexeme.meaning.definitions.get(0).value}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="lexeme_details_full">
    <div class="px-3 pb-2 mb-2 border-bottom border-light details-open"
         th:with="
           isMeaningLexemeCrudGranted=${#vars.lexeme.meaning.subGrant},
           isMeaningAnyLexemeCrudGranted=${#vars.lexeme.meaning.anyGrant}">
      <div th:replace="lexdialog :: add_lexeme_data_dlg"></div>
      <div th:replace="lexdialog :: add_lexeme_tag_dlg"></div>
      <div th:replace="lexdialog :: add_lexeme_pos_dlg"></div>
      <div th:replace="lexdialog :: add_lexeme_deriv_dlg"></div>
      <div th:replace="lexdialog :: add_lexeme_register_dlg"></div>
      <div th:replace="lexdialog :: add_lexeme_grammar_dlg"></div>
      <div th:replace="lexdialog :: add_od_lexeme_recommendation_dlg"></div>
      <div th:replace="lexdialog :: add_definition_dlg"></div>
      <div th:replace="lexdialog :: add_lexeme_source_link_dlg"></div>
      <div th:replace="lexdialog :: add_learner_comment_dlg"></div>
      <div th:replace="lexdialog :: add_meaning_relation_dlg"></div>
      <div th:replace="lexdialog :: add_syn_meaning_relation_dlg"></div>
      <div th:replace="lexdialog :: add_meaning_domain_dlg"></div>
      <div th:replace="lexdialog :: add_meaning_semantic_type_dlg"></div>
      <div th:replace="lexdialog :: add_government_dlg"></div>
      <div th:replace="lexdialog :: add_usage_dlg"></div>
      <div th:replace="lexdialog :: add_lexeme_note_dlg"></div>
      <div th:replace="lexdialog :: add_meaning_note_dlg"></div>
      <div th:replace="lexdialog :: add_lexeme_relation_dlg"></div>
      <div th:replace="lexdialog :: add_meaning_image_dlg"></div>
      <div th:replace="lexdialog :: add_meaning_media_dlg"></div>
      <div th:replace="lexdialog :: edit_lexeme_publicity_dlg"></div>
      <div th:replace="lexdialog :: edit_lexeme_value_state_dlg"></div>
      <div th:replace="lexdialog :: edit_lexeme_proficiency_level_dlg"></div>
      <div th:replace="lexdialog :: edit_lexeme_levels_dlg"></div>
      <div th:replace="lexdialog :: edit_lexeme_complexity_dlg"></div>
      <div th:replace="lexdialog :: edit_lexeme_weight_dlg"></div>
      <button th:data-id="${lexeme.lexemeId}" th:data-lex-levels="${lexeme.levels}"
            style="display: none;"
            id="refresh-open"
            data-plugin="refreshOpenPlugin"></button>
      <div class="card-body">
        <button type="button" name="lexeme-details-btn"
                class="btn btn-secondary btn-sm btn-toggle float-right" title="Peida detailid"
                th:data-id="${lexeme.lexemeId}" th:data-lex-levels="${lexeme.levels}" th:data-composition="lite"
                data-plugin="openLexemeDetailsPlugin">
          <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
        <div class="d-flex flex-row align-items-center flex-wrap">
          <div class="d-flex w-100">
            <span class="btn pl-1 pr-1" th:if="${lexeme.levels != null}"
                  th:data-id="${lexeme.lexemeId}"
                  th:data-level1="${lexeme.level1}"
                  th:data-level2="${lexeme.level2}"
                  data-toggle="modal"
                  th:data-target="${'#editLexemeLevelsDlg_' + lexeme.lexemeId}"
                  sec:authorize="#vars.lexeme.crudGrant">
              <span class="bubble">
                <span th:text="${lexeme.levels}"></span>
              </span>
            </span>
            <span class="pl-1 pr-1" th:if="${!lexeme.crudGrant}">
              <span class="bubble">
                <span th:text="${lexeme.levels}"></span>
              </span>
            </span>
            <button class="btn text-gray" data-plugin="lexemePublicity"
                    th:data-target="${'#editLexemePublicityDlg_' + lexeme.lexemeId}"
                    th:data-edit-enabled="${#vars.lexeme.crudGrant}"
                    th:data-public="${lexeme.public}"
                    th:data-label="#{'boolean.public.' + ${lexeme.public}}">
              <span name="icon-span"></span>
            </button>
            <div class="w-100" style="margin-top:5px;">
              <div th:each="synonymLangGroup : ${lexeme.synonymLangGroups}" class="orderable d-flex flex-row mr-2 w-100">
                <span th:if="${lexeme.wordLang == synonymLangGroup.lang}" class="mr-2 flex-shrink-0" style="width: 55px; white-space: nowrap;">
                  <span th:text="#{syn.abbreviation}"></span>
                  <button type="button" class="btn btn-secondary btn-compact btn-sm position-relative"
                      style="margin-left: 5px;"
                      th:title="#{lex.add.syn.meaning.relation}"
                      data-toggle="modal"
                      th:data-target="${'#addSynMeaningRelationDlg_' + lexeme.lexemeId}"
                      sec:authorize="#vars.lexeme.meaning.crudGrant">
                    <i class="fa fa-plus action-icon" aria-hidden="true"></i>
                  </button>
                </span>
                <span th:unless="${lexeme.wordLang == synonymLangGroup.lang}" th:text="${viewUtil.getLangIso2(synonymLangGroup.lang)}" class="mr-2 flex-shrink-0" style="width: 30px;"></span>
                <div data-plugin="sorter" data-sorter:type="syn" class="w-100" data-sorter:handle=".sort-handle">
                  <div th:each="syn,synIter : ${synonymLangGroup.synonyms}"
                       class="draggable-syn-rel do-refresh"
                       th:data-lexeme-id="${lexeme.lexemeId}"
                       th:data-orderby="${syn.orderBy}"
                       th:data-relation-id="${syn.relationId}"
                       th:data-syn-type="${syn.type}"
                       th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                       th:with="
                         isMeaningWordSyn=${syn.type == T(eki.common.constant.SynonymType).MEANING_WORD},
                         isMeaningWordDirectMatchSyn=${syn.type == T(eki.common.constant.SynonymType).MEANING_WORD},
                         isMeaningRelSyn=${syn.type == T(eki.common.constant.SynonymType).MEANING_REL}">
                    <th:block th:each="synWord, synWordIter : ${syn.words}">
                      <th:block th:if="${isMeaningWordSyn || isMeaningWordDirectMatchSyn}">
                        <div th:replace="lexdialog :: edit_meaning_word_and_lexeme_weight_dlg"></div>
                      </th:block>
                    </th:block>
                    <div class="hidden-buttons">
                      <span class="sort-handle">
                        <th:block th:each="synWord, synWordIter : ${syn.words}">
                          <input type="hidden" name="synword-lexeme-id" th:value="${synWord.lexemeId}"/>
                          <button type="button"
                                  class="btn btn-link p-0 syn-handle"
                                  th:data-id="${synWord.wordId}"
                                  name="details-btn"
                                  data-behaviour="replace"
                                  data-plugin="contextmenu, loadDetailsPlugin"
                                  data-contextmenu:compare="Ava uues paneelis">
                            <small class="font-weight-bold text-dark" th:text="${synWord.lexemeLevels}" th:if="${not #strings.isEmpty(synWord.lexemeLevels)}"></small>
                            <span th:utext="${viewUtil.getWordValueMarkup(synWord)}" th:styleappend="${isMeaningRelSyn ? 'color: #00874F' : ''}"></span>
                            <sup th:if="${synWord.homonymsExist}" th:text="${synWord.homonymNr}"></sup>
                            <small class="text-gray fontSize-12" th:each="registerCode,regIter : ${synWord.lexemeRegisterCodes}" th:text="${registerCode + (regIter.last ? '' : ', ')}"></small>
                            <small class="text-gray fontSize-12" th:if="${synWordIter.last}" th:text="${'[' + viewUtil.getFormattedWeight(syn.weight) + ']'}"></small>
                          </button><span th:unless="${synWordIter.last}">,</span>
                          <th:block th:if="${isMeaningWordSyn || isMeaningWordDirectMatchSyn}">
                            <div th:replace="lexdialog :: edit_meaning_word_and_lexeme_weight_dlg"></div>
                            <div class="meaning_buttons">
                              <button type="button" class="btn badge badge-primary"
                                      th:title="#{lex.edit.meaning.word}"
                                      data-toggle="modal"
                                      th:data-target="${'#editMeaningWordAndLexemeWeightDlg_' + synWord.lexemeId}"
                                      sec:authorize="#vars.lexeme.crudGrant">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                              </button>
                              <button th:id="${'duplicateMeaningWordAndLexemeBtn_' + lexeme.lexemeId}"
                                      th:data-callback="${viewUtil.composeFunction('loadFullLexemeDetails', lexeme.lexemeId, lexeme.levels)}"
                                      th:data-lexeme-id="${synWord.lexemeId}"
                                      class="btn badge badge-primary"
                                      th:title="#{lex.add.meaning.word.duplicate}"
                                      sec:authorize="#vars.lexeme.crudGrant"
                                      data-plugin="duplicateMeaningWordAndLexemePlugin">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                              </button>
                              <button type="button" class="btn badge badge-warning"
                                      th:data-id="${synWord.lexemeId}"
                                      data-callback="refreshDetailsSearch"
                                      data-toggle="deleteLexemeAndWordAndMeaning"
                                      sec:authorize="#vars.lexeme.crudGrant">
                                <i class="fa fa-remove" aria-hidden="true" data-toggle="tooltip" th:title="#{lex.delete.syn}"></i>
                              </button>
                            </div>
                          </th:block>
                        </th:block>
                      </span>
                      <th:block th:if="${isMeaningRelSyn}">
                        <div th:replace="lexdialog :: edit_syn_meaning_relation_weight_dlg"></div>
                        <div class="meaning_buttons">
                          <button type="button" class="btn badge badge-primary"
                                  th:title="#{lex.edit.syn.relation.weight}"
                                  data-toggle="modal"
                                  th:data-target="${'#editSynMeaningRelationWeightDlg_' + syn.relationId}"
                                  sec:authorize="#vars.lexeme.crudGrant">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn badge badge-warning"
                                  th:data-id="${syn.relationId}"
                                  data-op-code="syn_meaning_relation"
                                  data-toggle="delete-confirm"
                                  sec:authorize="#vars.lexeme.crudGrant">
                            <i class="fa fa-remove" aria-hidden="true" data-toggle="tooltip" th:title="#{lex.delete.syn.relation}"></i>
                          </button>
                        </div>
                      </th:block>
                      <span th:unless="${synIter.last}">|</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a class="btn btn-sm btn-primary"
               th:title="#{lex.join.meanings}"
               th:href="@{'/lexjoin/' + ${lexeme.lexemeId}}"
               sec:authorize="#vars.lexeme.crudGrant"
               th:text="#{lex.join}">Ühenda</a>
            <button th:id="${'duplicateLexemeBtn_' + lexeme.lexemeId}" class="btn btn-sm btn-primary"
                    th:title="#{lex.duplicate.lexeme}"
                    th:data-lexeme-id="${lexeme.lexemeId}"
                    sec:authorize="#vars.lexeme.crudGrant"
                    data-plugin="duplicateLexemePlugin"
                    th:text="#{lex.duplicate}">Duplikaat</button>
            <button class="btn btn-sm btn-primary" data-toggle="modal"
                    data-target="#newWordDlg"
                    th:data-meaning-id="${lexeme.meaningId}"
                    sec:authorize="#vars.isMeaningAnyLexemeCrudGranted && #vars.userRoleData.crudRoleSelected"
                    th:text="#{lex.new.word}">Uus keelend</button>
            <button th:id="${'duplicateEmptyLexemeBtn_' + lexeme.lexemeId}" class="btn btn-sm btn-primary"
                    th:title="#{lex.add.lexeme.and.meaning}"
                    th:data-lexeme-id="${lexeme.lexemeId}"
                    sec:authorize="#vars.lexeme.crudGrant"
                    data-plugin="duplicateLexemePlugin"
                    th:text="#{lex.add.meaning}">Uus tähendus</button>
            <span class="dropdown" sec:authorize="#vars.lexeme.crudGrant">
              <button class="btn btn-warning font-weight-bold btn-sm" id="deleteButton" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" th:text="#{common.delete}">Kustuta</button>
              <span class="dropdown-menu" aria-labelledby="deleteButton">
                <a class="btn btn-secondary font-weight-bold btn-sm"
                   href="#"
                   th:data-id="${lexeme.lexemeId}"
                   data-callback="doNewSearchLexDetail"
                   data-toggle="deleteLexemeAndWordAndMeaning"
                   data-id="${lexeme.meaningId}}"
                   sec:authorize="#vars.lexeme.crudGrant"
                   th:text="#{lex.delete.lexeme.and.word.and.meaning}">Kustuta koos tähendusega</a>
                <a class="btn btn-secondary font-weight-bold btn-sm"
                   href="#"
                   th:data-id="${lexeme.lexemeId}"
                   data-callback="doNewSearchLexDetail"
                   data-toggle="deleteLexemeAndRusMeaningLexemes"
                   data-id="${lexeme.meaningId}}"
                   sec:authorize="#vars.lexeme.crudGrant"
                   th:text="#{lex.delete.lexeme.and.rus.meaning.lexemes}">Kustuta koos tähenduse ja venekeelsete vastetega</a>
              </span>
            </span>
            <a th:href="@{'/meaningactivitylog:' + ${lexeme.meaningId}}" data-toggle="modal"
               data-target="#meaningActivityLogDlg"
               class="btn btn-secondary btn-compact ml-2">Logi</a>
          </div>
          <div class="ml-auto">
            <b th:text="${lexeme.datasetName}"></b>
          </div>
        </div>
        <div>
          <hr/>
          <span class="lbl" th:unless="${lexeme.lexemeOrMeaningClassifiersExist}" th:text="#{lex.lexeme.data}">Ilmiku omadused</span>
          <div class="text-right">
            <button type="button" class="btn badge badge-success"
                    th:title="#{lex.add.data}"
                    data-toggle="modal"
                    th:data-target="${'#addLexemeDataDlg_' + lexeme.lexemeId}"
                    sec:authorize="#vars.lexeme.crudGrant">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
          <th:block th:replace="lexcomp :: data_ids"></th:block>
          <th:block th:replace="lexcomp :: lexeme_tags"></th:block>
          <th:block th:replace="lexcomp :: lexeme_complexity"></th:block>
          <th:block th:replace="lexcomp :: lexeme_proficiency_level"></th:block>
          <th:block th:replace="lexcomp :: lexeme_value_state"></th:block>
          <th:block th:replace="lexcomp :: lexeme_grammar"></th:block>
          <th:block th:replace="lexcomp :: lexeme_weight"></th:block>
          <th:block th:replace="lexcomp :: lexeme_pos"></th:block>
          <th:block th:replace="lexcomp :: lexeme_derivative"></th:block>
          <th:block th:replace="lexcomp :: lexeme_register"></th:block>
          <th:block th:replace="lexcomp :: meaning_domain"></th:block>
          <th:block th:replace="lexcomp :: meaning_semantic_type"></th:block>
        </div>
        <th:block th:replace="lexcomp :: definition"></th:block>
        <th:block th:replace="lexcomp :: od_lexeme_recommendation"></th:block>
        <th:block th:replace="lexcomp :: lexeme_source_link"></th:block>
        <th:block th:replace="lexcomp :: meaning_learner_comment"></th:block>
        <th:block th:replace="lexcomp :: meaning_image"></th:block>
        <th:block th:replace="lexcomp :: meaning_media"></th:block>
        <th:block th:replace="lexcomp :: meaning_freeform"></th:block>
        <th:block th:replace="lexcomp :: meaning_relation"></th:block>
        <th:block th:replace="lexcomp :: government"></th:block>
        <th:block th:replace="lexcomp :: usage"></th:block>
        <th:block th:replace="lexcomp :: lexeme_note"></th:block>
        <th:block th:replace="lexcomp :: meaning_note"></th:block>
        <th:block th:replace="lexcomp :: lexeme_freeform"></th:block>
        <th:block th:replace="lexcomp :: lexeme_relation"></th:block>
        <th:block th:replace="lexcomp :: colloc_pos"></th:block>
        <th:block th:replace="lexcomp :: secondary_colloc"></th:block>
      </div>
      <script th:replace="common :: confirmations"></script>
      <script th:inline="javascript">
        $('[data-toggle=deleteLexemeAndWordAndMeaning]').confirmation({
          btnOkLabel : /*[[#{common.yes}]]*/'Jah',
          btnCancelLabel : /*[[#{common.no}]]*/'Ei',
          title : /*[[#{common.confirm.delete}]]*/'Kinnita kustutamine',
          onConfirm : deleteLexemeAndWordAndMeaning
        });
        $('[data-toggle=deleteLexemeAndRusMeaningLexemes]').confirmation({
          btnOkLabel : /*[[#{common.yes}]]*/'Jah',
          btnCancelLabel : /*[[#{common.no}]]*/'Ei',
          title : /*[[#{common.confirm.delete}]]*/'Kinnita kustutamine',
          onConfirm : deleteLexemeAndRusMeaningLexemes
        });
      </script>
    </div>
  </th:block>
</body>
</html>
