<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},_)">
  <title th:text="#{lexeme.join.title}">EKILEX ilmikute ühendamine</title>
</head>
<body class="body-with-navbar">

  <th:block th:replace="common :: nav_bar"></th:block>

  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary text-light" th:href="@{'/lexback/' + ${sourceLexeme.lexemeId}}">Tagasi</a>
      </p>
    </div>

    <div class="card shadow mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{lexeme.join.title}">Tähenduste ühendamine</h5>
      </div>

      <div class="card-body">
        <div style="width: 95%" class="border rounded p-2">
          <th:block th:replace=":: lexeme_deatails(${sourceLexeme}, ${sourceLexeme})"></th:block>
        </div>
      </div>

      <div class="card-body" th:if="${not #lists.isEmpty(validationMessages)}">
        <div class="alert alert-danger w-50" role="alert">
          <strong>Tähenduste ühendamine ebaõnnestus</strong>
          <li>
            <lu th:each="validationMessage : ${validationMessages}"><span th:text="${validationMessage}"></span></lu>
          </li>
        </div>
      </div>

      <th:block th:if="${#lists.isEmpty(validationMessages)}">
        <div class="card-body">
          <form th:action="@{'/lexjoin/' + ${sourceLexeme.lexemeId}}" method="post">
            <div class="form-row" name="searchFilter">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-auto col-form-label">Otsi ühendatavat tähendust</label>
                  <div class="col-5">
                    <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" placeholder="sisesta otsitav vorm">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">Otsi</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="card-body" th:if="${#lists.isEmpty(lexemes) && (searchFilter != null)}">
          <span th:text="#{lexjoin.not.found}">Not found.</span>
        </div>

        <div class="card-body" th:if="${not #lists.isEmpty(lexemes)}">
          <div style="width: 95%" class="border rounded mb-2 p-2" name="meaning" th:each="lexeme : ${lexemes}">
            <th:block th:replace=":: lexeme_deatails(${lexeme}, ${sourceLexeme})"></th:block>
          </div>
        </div>
      </th:block>

    </div>

  </div>

  <th:block th:fragment="lexeme_deatails(lexeme, lexemeToJoin)" th:if="${lexeme != null}">
    <div>
      <span>
        <span th:each="word,wordIter : ${lexeme.words}" class="ttl">
          <span th:text="${word}"></span>
          <span th:unless="${wordIter.last}">,&nbsp;</span>
        </span>
        &nbsp;
      </span>
      <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
        <span class="pt-0">
          <span th:text="${meaningWord.value}"></span>
          <span th:text="${meaningWord.homonymNumber}"></span>
          <span th:text="${'( ' + meaningWord.language + ' )'}"></span>
        </span>
        <span th:unless="${meaningWordIter.last}">|</span>
      </span>
      <span th:if="${lexeme.levels != null}">
        <small th:text="${'[ ' + lexeme.levels + ' ]'}"></small>
      </span>
      <span th:if="${lexeme.wordDisplayMorphCode != null}" th:text="${lexeme.wordDisplayMorphCode}"></span>
      <a class="btn btn-primary"
         data-toggle="confirmation" data-placement="right" data-title="Kas olete kindel, et soovite tähendused ühendada ?" data-btn-ok-label="Jah" data-btn-cancel-label="Ei"
         th:href="@{'/lexjoin/' + ${lexemeToJoin.lexemeId}} + '/' + ${lexeme.lexemeId}"
         th:if="${lexeme.meaningId != lexemeToJoin.meaningId}"
        >Ühenda</a>
      <b th:text="${lexeme.dataset}" class="float-right"></b>
    </div>
    <div th:if="${not #lists.isEmpty(lexeme.definitions)}">
      <hr />
      <span class="lbl">Seletused</span>
      <table>
        <tr th:each="definition : ${lexeme.definitions}">
          <td th:utext="${definition.value}"></td>
        </tr>
      </table>
    </div>
    <div th:if="${not #lists.isEmpty(lexeme.usages)}">
      <hr />
      <span class="lbl">Kasutusnäited, tõlked, seletused</span>
      <table th:each="usage,usageIter : ${lexeme.usages}" class="border">
        <tr>
          <td>
            <span th:utext="${usage.value}"></span>
            <span th:if="${usage.typeValue != null}" th:text="'(' + ${usage.typeValue + ')'}"></span>
            <span th:if="${not #lists.isEmpty(usage.authors)}">
                (
                <span th:each="sourceLink,sourceLinkIter : ${usage.authors}">
                  <span th:text="#{'enum.reference.type.' + ${sourceLink.type}} + ': '"></span>
                  <span th:text="${sourceLink.value}" th:if="${sourceLink.value != null}"></span>
                  <span th:text="${sourceLink.name}" th:if="${sourceLink.name != null}"></span>
                  <span th:unless="${sourceLinkIter.last}">,</span>
                </span>
                )
            </span>
            <span th:if="${not #lists.isEmpty(usage.sourceLinks)}">
              [
              <span th:each="sourceLink,sourceLinkIter : ${usage.sourceLinks}" th:if="${sourceLink.value != null}">
                <span th:text="${sourceLink.name}" th:if="${sourceLink.name != null}"></span>
                <span th:text="${sourceLink.value}"></span>
                <span th:unless="${sourceLinkIter.last}">, </span>
              </span>
              ]
            </span>
          </td>
        </tr>
        <tr th:each="usageTranslation : ${usage.translations}">
          <td>
            <span th:text="${usageTranslation.value}"></span>
          </td>
        </tr>
        <tr th:each="usageDefinition : ${usage.definitions}">
          <td>
            <span th:utext="${usageDefinition.value}"></span>
          </td>
        </tr>
      </table>
    </div>
  </th:block>

  <script th:inline="javascript">
    $('[data-toggle="confirmation"]').confirmation()
  </script>
</body>
</html>