<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{lexjoin.title}">Tähenduste ühendamine</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'lexjoin')"></th:block>
  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary" th:href="@{'/lexback/' + ${targetLexeme.lexemeId}}" th:text="#{common.back}">Tagasi</a>
      </p>
    </div>
    <div class="card shadow mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{lexjoin.title}">Tähenduste ühendamine</h5>
      </div>
      <div class="card-body">
        <div style="width: 95%" class="border rounded p-2">
          <th:block th:replace=":: lexeme_details(${targetLexeme}, ${targetLexeme})"></th:block>
        </div>
      </div>
      <div class="card-body" th:if="${not #lists.isEmpty(validationMessages)}">
        <div class="alert alert-danger w-50" role="alert">
          <strong th:text="#{lexjoin.fail}">Tähenduste ühendamine ebaõnnestus</strong>
          <ul>
            <li th:each="validationMessage : ${validationMessages}">
              <span th:text="${validationMessage}"></span>
            </li>
          </ul>
        </div>
      </div>
      <th:block th:if="${#lists.isEmpty(validationMessages)}">
        <div class="card-body">
          <form th:action="@{/lexjoinsearch}" method="post">
            <input type="hidden" name="targetLexemeId" th:value="${targetLexeme.lexemeId}">
            <div class="form-row" name="searchFilter">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-auto col-form-label" th:text="#{lexjoin.search.meaning}">Otsi ühendatavat tähendust</label>
                  <div class="col-5">
                    <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" th:placeholder="#{lexjoin.search.placeholder}" autocomplete="off">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary" th:text="#{common.search}">Otsi</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body" th:if="${#lists.isEmpty(sourceLexemes) && (searchFilter != null)}">
          <span th:text="#{lexjoin.not.found}">Ühtegi tähendust ei leitud.</span>
        </div>
        <div class="card-body" th:if="${not #lists.isEmpty(sourceLexemes)}">
          <form th:action="@{/lexjoin}" method="post">
            <input type="hidden" name="targetLexemeId" th:value="${targetLexeme.lexemeId}">
            <div class="row mb-4">
              <div class="col">
                <button type="button" class="btn btn-primary" id="joinLexemesBtn" data-toggle="join-confirm" data-placement="right" disabled
                        th:text="#{lexjoin.join}">Ühenda valitud tähendused
                </button>
              </div>
            </div>
            <div style="width: 95%" class="border rounded mb-2 p-2" name="meaning" th:each="sourceLexeme : ${sourceLexemes}">
              <th:block th:replace=":: lexeme_details(${sourceLexeme}, ${targetLexeme})"></th:block>
            </div>
          </form>
        </div>
      </th:block>
    </div>
  </div>
  <th:block th:fragment="lexeme_details(lexeme, targetLexeme)" th:if="${lexeme != null}">
    <div class="row">
      <div class="col col-w2rem">
        <input name="sourceLexemeIds" type="checkbox" class="mt-2"
          th:value="${lexeme.lexemeId}"
          th:if="${lexeme.meaningId != targetLexeme.meaningId && lexeme.datasetCode == targetLexeme.datasetCode}"
          sec:authorize="@permDataUtil.isSourceMeaningCrudGranted(#vars.lexeme.meaningId, #vars.targetLexeme.meaningId)"/>
        <input type="checkbox" class="mt-2" th:if="${lexeme.meaningId == targetLexeme.meaningId}" checked="checked" th:disabled="true" />
      </div>
      <div class="col">
        <span>
          <span th:utext="${@viewUtil.getWordValueMarkup(lexeme)}" class="ttl"></span>
          &nbsp;
        </span>
        <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
          <span class="pt-0">
            <span th:utext="${@viewUtil.getWordValueMarkup(meaningWord)}"></span>
            <span th:text="${meaningWord.homonymNr}"></span>
            <span th:text="${'( ' + @viewUtil.getLangIso2(meaningWord.lang) + ' )'}"></span>
          </span>
          <span th:unless="${meaningWordIter.last}">|</span>
        </span>
        <span th:if="${lexeme.levels != null}">
          <small th:text="${'[ ' + lexeme.levels + ' ]'}"></small>
        </span>
        <span th:if="${lexeme.lexemeWord.displayMorphCode != null}" th:text="${lexeme.lexemeWord.displayMorphCode}"></span>
        <b th:text="${lexeme.datasetName}" class="float-right"></b>
      </div>
    </div>
    <div th:if="${not #lists.isEmpty(lexeme.meaning.definitions)}">
      <hr />
      <span class="lbl" th:text="#{lex.definitions}">Seletused</span>
      <table>
        <tr th:each="definition : ${lexeme.meaning.definitions}">
          <td th:utext="${definition.valuePrese}"></td>
        </tr>
      </table>
    </div>
    <div th:if="${not #lists.isEmpty(lexeme.usages)}">
      <hr />
      <span class="lbl" th:text="#{lexjoin.usages}">Kasutusnäited, tõlked, seletused</span>
      <table th:each="usage,usageIter : ${lexeme.usages}" class="border">
        <tr>
          <td>
            <span th:utext="${usage.valuePrese}"></span>
            <span th:if="${not #lists.isEmpty(usage.sourceLinks)}">
              [
              <span th:each="sourceLink,sourceLinkIter : ${usage.sourceLinks}" th:if="${sourceLink.sourceName != null}">
                <span th:text="${sourceLink.name}" th:if="${sourceLink.name != null}"></span>
                <span th:text="${sourceLink.sourceName}"></span>
                <span th:unless="${sourceLinkIter.last}">, </span>
              </span>
              ]
            </span>
          </td>
        </tr>
        <tr th:each="usageTranslation : ${usage.translations}">
          <td>
            <span th:utext="${usageTranslation.valuePrese}"></span>
          </td>
        </tr>
        <tr th:each="usageDefinition : ${usage.definitions}">
          <td>
            <span th:utext="${usageDefinition.valuePrese}"></span>
          </td>
        </tr>
      </table>
    </div>
  </th:block>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #alertSmall"></div>
  <script th:inline="javascript">
  	initializeLexJoin();
  	$('[data-toggle=join-confirm]').confirmation({
      btnOkLabel : /*[[#{common.yes}]]*/'Jah',
      btnCancelLabel : /*[[#{common.no}]]*/'Ei',
		  title : /*[[#{lexjoin.confirm.join}]]*/'Kas olete kindel?',
  		onConfirm : joinLexemes
  	});
  </script>
</body>
</html>