<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
  <title th:text="#{lexeme.join.title}">EKILEX ilmikute ühendamine</title>
  <th:block th:fragment="links">
    <!--<script type="text/javascript" th:src="@{/view/js/ekilex-lexsearch.js}"></script>-->
  </th:block>
</head>
<body style="height: 100vh">
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <p class="card-text">
        <a th:href="@{/}">
          <span th:text="${appData.appName + ' ' + appData.appVersion}"></span>
        </a>
      </p>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{lexeme.join.title}">Ilmikute ühendamine</h5>
      </div>

      <div class="card-body">
        <div style="border: 1px solid #CCC; padding: 5px; width: 95%">
          <div style="overflow: auto;">
            <span>
              <span th:each="word,wordIter : ${lexeme.words}" class="ttl">
                <span th:text="${word}"></span>
                <span th:unless="${wordIter.last}">,&nbsp;</span>
              </span>
              &nbsp;
            </span>
            <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
              <span class="pt-0">
                <span th:text="${meaningWord.value}"></span>
                <span th:text="${meaningWord.homonymNumber}"></span>
                <span th:text="${'( ' + meaningWord.language + ' )'}"></span>
              </span>
              <span th:unless="${meaningWordIter.last}">|</span>
            </span>
            <span th:if="${lexeme.levels != null}">
              <small th:text="${'[ ' + lexeme.levels + ' ]'}"></small>
            </span>
            <span th:if="${lexeme.wordDisplayMorphCode != null}" th:text="${lexeme.wordDisplayMorphCode}"></span>
            <b th:text="${lexeme.dataset}" class="float-right"></b>
          </div>
          <div th:if="${not #lists.isEmpty(lexeme.definitions)}">
            <hr />
            <span class="lbl">Seletused</span>
            <table>
              <tr th:each="definition : ${lexeme.definitions}">
                <td th:utext="${definition.value}"></td>
              </tr>
            </table>
          </div>
          <div th:if="${not #lists.isEmpty(lexeme.governments)}">
            <hr />
            <table th:each="government,governmentIter : ${lexeme.governments}">
              <tr>
                <th class="lbl">Rektsioon</th>
              </tr>
              <tr>
                <td>
                  <span th:text="${government.value}"></span>
                </td>
              </tr>
              <tr>
                <th class="lbl">Kasutusnäited, tõlked, seletused</th>
              </tr>
              <tr>
                <td>
                  <table th:each="usageMeaning : ${government.usageMeanings}">
                    <tr th:each="usage : ${usageMeaning.usages}">
                      <td>
                        <span th:utext="${usage.value}"></span>
                        <span th:if="${usage.type != null}" th:text="'(' + ${usage.type + ')'}"></span>
                        <span th:if="${usage.author != null}" th:text="'(' + ${usage.author} + ')'"></span>
                        <span th:if="${usage.translator != null}" th:text="'(' + #{usage.translator.label} + ': ' + ${usage.translator} + ')'"></span>
                      </td>
                    </tr>
                    <tr th:each="usageTranslation : ${usageMeaning.usageTranslations}">
                      <td th:text="${usageTranslation.value}"></td>
                    </tr>
                    <tr th:each="usageDefinition : ${usageMeaning.usageDefinitions}">
                      <td th:utext="${usageDefinition.value}"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr th:unless="${governmentIter.last}">
                <td>
                  <hr />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="card-body">
        <form th:action="@{'/lexjoin/' + ${lexeme.lexemeId}}" method="post">
          <div class="form-row" name="searchFilter">
            <div class="col-12">
              <div class="form-group row">
                <label class="col-auto col-form-label">Otsi ühendatavat ilmikut</label>
                <div class="col-5">
                  <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" placeholder="sisesta otsitav vorm">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">Otsi</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</body>
</html>