<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{lex.search.title}">EKILEX otsing</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar compacted d-flex flex-column">
  <th:block th:replace="common :: nav_bar(activeItem = 'lex')"></th:block>
  <div class="card shadow rounded-0 border-0">
    <div class="card-body px-2 py-3">
      <form id="searchForm" th:action="@{/lexsearch}" method="post">
        <th:block th:replace="search :: search_form('lex_search', true)"></th:block>
      </form>
    </div>
  </div>
  <div class="container-fluid flex-grow-1 flex-shrink-1 d-flex flex-column h-100 overflow-auto" th:with="isSearchResult = ${wordsResult != null}">
    <div class="mt-4 float-left" th:if="${invalidSearch}">
      <div th:text="#{lex.search.invalid}"></div>
    </div>
    <div class="row no-gutters py-3 flex-grow-1 h-100">
      <div class="col-3 pr-2 h-100" id="searchColumn" th:if="${isSearchResult}">
        <div th:if="${noResults == true}">
          <div th:text="#{lex.not.found}">Not found.</div>
        </div>
        <div id="results_div" class="card shadow navigate-panel h-100 d-flex flex-column" th:if="${not #lists.isEmpty(wordsResult.words)}">
          <div th:replace="lexcomp :: search_result"></div>
        </div>
      </div>
      <div class="h-100 d-flex flex-column" th:classappend="${isSearchResult ? 'col-9' : 'col-auto'}" id="resultColumn">
        <div class="scrollable-area" data-plugin="ekiSortable">
          <div id="details-area" data-rel="details-area"></div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:fragment="word_details" th:if="${details != null}">
    <div th:data-id="${wordId}" id="details-area" class="h-100" data-rel="details-area" th:data-word="${details.word.wordValue}">
      <button id="refresh-details" hidden th:data-id="${wordId}" name="details-btn" data-behaviour="replace" data-refresh></button>
      <div class="navigate-panel card shadow h-100">
        <div class="card-body p-0 d-flex flex-column h-100">
          <div class="border-bottom px-2  py-2">
            <div class="d-flex flex-row align-items-center">
              <div class="dragHandle">
                <span class="fa fa-ellipsis-v"></span>
                <span class="fa fa-ellipsis-v"></span>
              </div>
              <div class="hover-actions-container hover-actions-container-outline">
                <h1 th:data-id="${wordId}" th:id="${'word-value-' + wordId}" th:utext="${viewUtil.getWordValueMarkup(details.word)}" th:title="${details.word.wordFrequency}" class="mb-0">Aktiivne sõna</h1>
                <div class="hover-actions hover-actions-bottom-right">
                  <button type="button" class="btn btn-compact btn-secondary"
                          title="Muuda"
                          data-toggle="modal"
                          th:data-target="${'#editWordValueDlg_' + wordId}"
                          sec:authorize="#vars.details.word.crudGrant">
                    <i class="fa fa-pencil action-icon" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="ml-2">
                <form th:action="@{/wordjoin}" method="get">
                  <input type="hidden" name="wordId" th:value="${details.word.wordId}">
                  <button type="submit" class="btn btn-secondary btn-compact"
                          title="Ühenda keelendid"
                          sec:authorize="#vars.details.word.crudGrant">Ühenda
                  </button>
                </form>
              </div>
              <div class="ml-2">
                <button type="button" class="btn btn-secondary btn-compact"
                        id="activeTagCompleteBtn"
                        th:data-word-id="${details.word.wordId}"
                        th:disabled="${details.activeTagComplete}"
                        th:if="${userRoleData.lexemeActiveTagChangeEnabled}"
                        sec:authorize="#vars.details.word.subGrant">Märgi tehtuks
                </button>
              </div>
              <div class="hover-actions-container hover-actions-container-outline ml-2">
                <div class="date-modified" data-toggle="tooltip" data-boundary="window" data-placement="top" title="Viimane sisuline muudatus">
                  <i class="fa fa-calendar"></i>
                  <span th:text="${#dates.format(details.word.manualEventOn, 'dd.MM.yyyy')}" class="ml-n1"></span>
                </div>
                <div class="hover-actions hover-actions-bottom-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm" title="Muuda" data-toggle="modal"
                            th:data-target="${'#editWordManualEventOnDlg_' + wordId}"
                            sec:authorize="#vars.details.word.crudGrant">
                      <i class="fa fa-pencil action-icon" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="ml-auto d-flex align-items-center flex-row">
                <div class="mr-2">
                  <div class="date-modified" title="Viimati muudetud" data-toggle="tooltip" data-placement="top">
                    <i class="fa fa-edit"></i>
                    <span th:text="${#dates.format(details.word.lastActivityEventOn, 'dd.MM.yyyy')}" class="ml-n1"></span>
                  </div>
                </div>
                <a th:href="@{'/wordactivitylog:' + ${wordId}}" data-toggle="modal" sec:authorize="#vars.details.word.readGrant" 
                   data-target="#wordActivityLogDlg"
                   class="btn btn-secondary btn-compact ml-2">Logi</a>
                <div data-plugin="paneToggle" 
                     data-hideable="toolsColumn"
                     data-extendable="contentColumn"
                     class="searchResultsToggle"><i class="fa fa-columns" aria-hidden="true"></i>
                </div>
                <div data-plugin="contextmenu"
                     th:data-id="${wordId}"
                     data-leftClick="true"
                     data-contextmenu:closePanel="Sulge"
                     class="fa fa-ellipsis-v paneMenu">
                </div>
              </div>
            </div>
            <div class="d-flex flex-row">
              <div th:replace="lexcomp :: word_lang"></div>
              <div th:replace="lexcomp :: word_display_morph"></div>
              <div th:replace="lexcomp :: word_vocal_form"></div>
              <div th:replace="lexcomp :: word_morphophono_form"></div>
              <div th:replace="lexcomp :: word_gender"></div>
              <div th:replace="lexcomp :: word_type"></div>
              <div th:replace="lexcomp :: word_aspect"></div>
            </div>
          </div>
          <div class="row no-gutters h-100 overflow-hidden">
            <div class="col-8 h-100 d-flex flex-column" id="contentColumn">
              <div class="overflow-auto pt-2 h-100" data-plugin="sorter" data-sorter:type="lex-details"  data-sorter:handle=".levels-handle">
                <th:block th:each="lexeme : ${details.lexemes}">
                  <div th:id="${'lexeme-details-' + lexeme.lexemeId}">
                    <th:block th:if="${#lists.size(details.lexemes) > 1}">
                      <th:block th:replace="lexdetail :: lexeme_details_lite"></th:block>
                    </th:block>
                    <th:block th:if="${#lists.size(details.lexemes) == 1}">
                      <th:block th:replace="lexdetail :: lexeme_details_full"></th:block>
                    </th:block>
                  </div>
                </th:block>
              </div>
              <div th:id="${'breadcrumbs-' + wordId}" class="breadcrumbs" data-plugin="panelBreadcrumbs">
                <ul>
                </ul>
              </div>
            </div>
            <div class="col-4 border-left border-light h-100 overflow-auto" id="toolsColumn">
              <div class="resize-area" data-plugin="panelResize"></div>
              <div th:replace="lexdialog :: add_group_word_relation_dlg"></div>
              <div th:replace="lexdialog :: add_od_word_recommendation_dlg"></div>
              <div th:replace="lexdialog :: add_word_note_dlg"></div>
              <div th:replace="lexdialog :: add_word_lang_dlg"></div>
              <div th:replace="lexdialog :: add_word_gender_dlg"></div>
              <div th:replace="lexdialog :: add_word_type_dlg"></div>
              <div th:replace="lexdialog :: add_word_aspect_dlg"></div>
              <div th:replace="lexdialog :: add_word_display_morph_dlg"></div>
              <div th:replace="lexdialog :: add_word_vocal_form_dlg"></div>
              <div th:replace="lexdialog :: add_word_morphophono_form_dlg"></div>
              <div th:replace="lexdialog :: edit_word_value_dlg"></div>
              <div th:replace="lexdialog :: edit_word_lang_dlg"></div>
              <div th:replace="lexdialog :: edit_word_gender_dlg"></div>
              <div th:replace="lexdialog :: edit_word_aspect_dlg"></div>
              <div th:replace="lexdialog :: edit_word_display_morph_dlg"></div>
              <div th:replace="lexdialog :: edit_word_vocal_form_dlg"></div>
              <div th:replace="lexdialog :: edit_word_morphophono_form_dlg"></div>
              <div th:replace="lexdialog :: edit_word_manual_event_on_dlg"></div>
              <div class="mb-2">
                <div class="ekiAccordion" data-plugin="ekiAccordion">
                  <div class="ekiAccordion__instance">
                    <div class="ekiAccordion__title">
                      <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.odWordRecommendations)}">•</span>
                      <span>ÕS soovitab</span>
                      <button type="button" class="ekiAccordion__add"
                              title="Lisa ÕS soovitab" data-toggle="modal"
                              th:data-target="${'#addOdWordRecommendationDlg_' + wordId}"
                              sec:authorize="#vars.details.word.crudGrant">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="ekiAccordion__content">
                      <div th:if="${#lists.isEmpty(details.odWordRecommendations)}">
                        Sisu puudub...
                      </div>
                      <div th:each="odWordRecommendation : ${details.odWordRecommendations}">
                        <div th:replace="lexdialog :: edit_od_word_recommendation"></div>
                        <div class="col hidden-buttons pr-5">
                          <div class="action-buttons-anchor">
                            <span th:utext="${odWordRecommendation.valuePrese}"></span>
                            <span class="ctxt" th:text="'[' + ${odWordRecommendation.modifiedBy} + ']'" th:if="${odWordRecommendation.modifiedBy != null}"></span>
                            <span class="ctxt" th:text="'(' + #{'enum.complexity.' + ${odWordRecommendation.complexity}} + ')'"></span>
                            <div class="action-buttons-2">
                              <button type="button" class="btn badge badge-primary"
                                      title="Muuda"
                                      data-toggle="modal"
                                      th:data-target="${'#editOdWordRecommendationDlg_' + odWordRecommendation.id}"
                                      sec:authorize="#vars.details.word.crudGrant">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                              </button>
                              <button type="button" class="btn badge badge-warning"
                                      th:data-id="${odWordRecommendation.id}"
                                      data-op-code="od_word_recommendation"
                                      data-toggle="delete-confirm"
                                      data-placement="right"
                                      sec:authorize="#vars.details.word.crudGrant">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ekiAccordion__instance">
                    <div class="ekiAccordion__title">
                      <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.word.notes)}">•</span>
                      <span>Keelendi märkused</span>
                      <button type="button" class="ekiAccordion__add"
                              title="Lisa uus" data-toggle="modal"
                              th:data-target="${'#addWordNoteDlg_' + wordId}"
                              sec:authorize="#vars.details.word.crudGrant">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="ekiAccordion__content">
                      <div th:if="${#lists.isEmpty(details.word.notes)}">
                        Sisu puudub...
                      </div>
                      <div th:each="note : ${details.word.notes}">
                        <div th:replace="lexdialog :: edit_word_note_dlg"></div>
                        <div class="col hidden-buttons pr-5">
                          <div class="action-buttons-anchor">
                            <span th:utext="${note.valuePrese}"></span>
                            <span class="ctxt" th:text="'[' + ${note.modifiedBy} + ']'" th:if="${note.modifiedBy != null}"></span>
                            <span class="ctxt" th:text="'(' + #{'boolean.public.' + ${note.public}} + ')'" th:if="${details.word.crudGrant}"></span>
                            <div class="action-buttons-2">
                              <button type="button" class="btn badge badge-primary"
                                      title="Muuda"
                                      data-toggle="modal"
                                      th:data-target="${'#editWordNoteDlg_' + note.id}"
                                      sec:authorize="#vars.details.word.crudGrant">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                              </button>
                              <button type="button" class="btn badge badge-warning"
                                      th:data-id="${note.id}"
                                      data-op-code="word_note"
                                      data-toggle="delete-confirm"
                                      data-placement="right"
                                      sec:authorize="#vars.details.word.crudGrant">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ekiAccordion__instance">
                    <div class="ekiAccordion__title">
                      <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.paradigms)}">•</span>
                      <span>Sõnavormid</span>
                    </div>
                    <div class="ekiAccordion__content">
                      <div th:if="${#lists.isEmpty(details.paradigms)}">
                        Sisu puudub...
                      </div>
                      <div class="pb-3" th:unless="${#lists.isEmpty(details.paradigms)}">
                        <div th:each="paradigm,paradigmIter : ${details.paradigms}" th:if="${paradigm.formsExist}">
                          <div class="text-secondary ml-1 invisible-buttons">
                            <span th:if="${paradigm.inflectionType != null}" th:utext="${paradigm.inflectionType}"></span>
                            <span th:if="${paradigm.wordClass}" th:text="${paradigm.wordClass}"></span>
                            <button type="button" class="btn badge badge-warning"
                                    th:data-id="${paradigm.paradigmId}"
                                    data-op-code="paradigm"
                                    data-toggle="delete-confirm"
                                    data-placement="left"
                                    sec:authorize="#vars.details.word.crudGrant">
                              <i class="fa fa-remove" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div th:if="${paradigm.comment != null}">
                            <span th:utext="${paradigm.comment}"></span>
                          </div>
                          <div th:id="${'paradigmArea_' + paradigm.paradigmId}" class="p-1">
                            <div th:unless="${#lists.isEmpty(paradigm.forms)}">
                              <table>
                                <tr th:each="form : ${paradigm.forms}">
                                  <td>
                                    <span th:unless="${#strings.isEmpty(form.displayForm)}">
                                      <span th:unless="${form.displayMorphCode}">~</span>
                                      <span th:text="${form.displayForm}" th:title="${form.formFrequency}"></span>
                                    </span>
                                  </td>
                                  <td class="pl-2">
                                    <span
                                        th:if="${form.displayMorphCode}"
                                        th:text="${form.morphCode + ' - ' + form.morphValue}"
                                        th:title="${form.morphFrequency}"
                                        class="text-secondary"
                                        style="white-space:nowrap; font-size:80%;"></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2" class="pt-2 border-bottom">
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ekiAccordion__instance">
                    <div class="ekiAccordion__title">
                      <span class="badge badge-data-exists" th:if="${details.wordRelationDetails.groupRelationExists}">•</span>
                      <span>Sõna seosed</span>
                      <button type="button" class="ekiAccordion__add"
                              title="Lisa seos" data-toggle="modal"
                              th:data-target="${'#addGroupWordRelationDlg_' + wordId}"
                              sec:authorize="#vars.details.word.crudGrant">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="ekiAccordion__content">
                      <div>
                        <span th:unless="${details.wordRelationDetails.groupRelationExists}">
                          Sisu puudub...
                        </span>
                        <table th:unless="${#lists.isEmpty(details.wordRelationDetails.wordGroups)}">
                          <tr th:each="wordGroup : ${details.wordRelationDetails.wordGroups}">
                            <td class="invisible-buttons">
                              <span th:each="relation, itemIter : ${wordGroup.members}">
                                <button type="button"
                                        class="btn btn-link btn-xs"
                                        th:data-id="${relation.wordId}"
                                        data-plugin="contextmenu"
                                        data-contextmenu:compare="Ava uues paneelis"
                                        data-behaviour="replace"
                                        name="details-btn">
                                  <span th:utext="${viewUtil.getWordValueMarkup(relation)}"></span>
                                </button>
                                <button type="button" class="btn badge badge-warning"
                                        th:data-id="${relation.id}"
                                        data-op-code="word_relation"
                                        data-toggle="delete-confirm"
                                        data-placement="left"
                                        sec:authorize="#vars.details.word.crudGrant">
                                  <i class="fa fa-remove" aria-hidden="true"></i>
                                </button>
                                <span th:unless="${itemIter.last}"></span>
                              </span>
                            </td>
                            <td>
                              <span th:text="${wordGroup.groupTypeLabel}"></span>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div th:each="relationGroup,relGroupIter : ${details.wordRelationDetails.secondaryWordRelationGroups}">
                        <table class="orderable" data-op-code="word_relation" th:unless="${#lists.isEmpty(relationGroup.members)}">
                          <tr th:each="relation, itemIter : ${relationGroup.members}" th:data-id="${relation.id}" th:data-orderby="${relation.orderBy}">
                            <td class="action-column">
                              <th:block th:replace="common :: ordering_buttons(${itemIter})" sec:authorize="#vars.details.word.crudGrant"></th:block>
                            </td>
                            <td class="invisible-buttons">
                              <button type="button"
                                      class="btn btn-link btn-text-wrap btn-xs"
                                      th:data-id="${relation.wordId}"
                                      data-plugin="contextmenu"
                                      data-contextmenu:compare="Ava uues paneelis"
                                      data-behaviour="replace"
                                      name="details-btn">
                                <span th:utext="${viewUtil.getWordValueMarkup(relation) + ' (' + viewUtil.getLangIso2(relation.wordLang) + ')'}"></span>
                              </button>
                              <button type="button" class="btn badge badge-warning"
                                      th:data-id="${relation.id}"
                                      data-op-code="word_relation"
                                      data-toggle="delete-confirm"
                                      data-placement="left"
                                      sec:authorize="#vars.details.word.crudGrant">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                              </button>
                            </td>
                            <td>
                              <span th:text="${relation.relTypeLabel}"></span>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="ekiAccordion__instance" th:each="relationGroup,relGroupIter : ${details.wordRelationDetails.primaryWordRelationGroups}">
                    <div th:replace="lexdialog :: add_primary_word_relation_dlg"></div>
                    <div class="ekiAccordion__title">
                      <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(relationGroup.members)}">•</span>
                      <span th:text="${relationGroup.groupTypeLabel}">seose liik</span>
                      <button type="button" class="ekiAccordion__add"
                              title="Lisa seos" data-toggle="modal"
                              th:data-target="${'#addPrimaryWordRelationDlg_' + wordId + '_' + relationGroup.groupTypeCode}"
                              sec:authorize="#vars.details.word.crudGrant">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="ekiAccordion__content">
                      <div th:if="${#lists.isEmpty(relationGroup.members)}">
                        Sisu puudub...
                      </div>
                      
                      <ul
                        th:unless="${#lists.isEmpty(relationGroup.members)}"
                        class="sidebar-ordering"
                        data-plugin="sorter"
                        data-sorter:type="relations"
                        data-sorter:handle=".sorter-handle">
                        <li 
                          th:each="relation, itemIter : ${relationGroup.members}"
                          th:data-id="${relation.id}"
                          th:data-orderby="${relation.orderBy}">
                          <div class="sidebar-ordering__item">
                            <span sec:authorize="#vars.details.word.crudGrant" class="sorter-handle"><i class="fa fa-ellipsis-v"></i></span>
                            <button type="button"
                              class="btn btn-link btn-text-wrap btn-xs"
                              th:data-id="${relation.wordId}"
                              data-plugin="contextmenu"
                              data-contextmenu:compare="Ava uues paneelis"
                              data-behaviour="replace"
                              name="details-btn">
                              <span th:utext="${viewUtil.getWordValueMarkup(relation) + ' (' + viewUtil.getLangIso2(relation.wordLang) + ')'}"></span>
                            </button>
                            <div class="sidebar-ordering__buttons">
                              <button type="button" class="btn badge badge-warning"
                                th:data-id="${relation.id}"
                                data-op-code="word_relation"
                                data-toggle="delete-confirm"
                                data-placement="left"
                                sec:authorize="#vars.details.word.crudGrant">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                              </button>
                            </div><!--/sidebar-ordering__buttons-->
                          </div><!--/sidebar-ordering__item-->
                        </li>
                      </ul>

                    </div>
                  </div>
                  <div class="ekiAccordion__instance" th:unless="${#lists.isEmpty(details.wordEtymology)}">
                    <div class="ekiAccordion__title">
                      <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.wordEtymology)}">•</span>
                      <span>Päritolu</span>
                    </div>
                    <div class="ekiAccordion__content">
                      <th:block th:each="wordEtym, itemIter : ${details.wordEtymology}">
                        <div>
                          <div>
                            <span th:if="${wordEtym.questionable}">?</span>
                            <span th:if="${wordEtym.etymologyTypeCode != null}" th:text="${wordEtym.etymologyTypeCode}"></span>
                            <span th:if="${wordEtym.etymologyYear != null}" th:text="${wordEtym.etymologyYear}"></span>
                          </div>
                          <div th:each="wordEtymSourceLink : ${wordEtym.wordEtymSourceLinks}">
                            <span th:text="${wordEtymSourceLink.value}"></span>
                          </div>
                          <div th:each="wordEtymRel : ${wordEtym.wordEtymRelations}">
                            <button type="button"
                                    class="btn btn-link btn-xs"
                                    th:data-id="${wordEtymRel.relatedWordId}"
                                    data-plugin="contextmenu"
                                    data-contextmenu:compare="Ava uues paneelis"
                                    data-behaviour="replace"
                                    name="details-btn">
                              <span>
                                <span th:if="${wordEtymRel.questionable}">?</span>
                                <span th:if="${wordEtymRel.compound}">+</span>
                                <span th:text="${wordEtymRel.relatedWord + ' (' + viewUtil.getLangIso2(wordEtymRel.relatedWordLang) + ')'}"></span>
                              </span>
                            </button>
                            <span th:if="${wordEtymRel.comment != null}" th:utext="${wordEtymRel.comment}"></span>
                          </div>
                          <div th:if="${wordEtym.comment != null}" th:utext="${wordEtym.comment}"></div>
                        </div>
                        <div th:unless="${itemIter.last}">
                          <hr/>
                        </div>
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="common :: #wordActivityLogDlg"></div>
      <div th:replace="common :: #meaningActivityLogDlg"></div>
      <script th:replace="common :: confirmations"></script>
    </div>
  </th:block>
  <div th:replace="common :: #sourceDetailsDlg"></div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #confirmDlg"></div>
  <div th:replace="common :: #waitDlg"></div>
  <div th:replace="lexdialog :: new_word_dlg"></div>
  <div th:replace="sourcedialog :: add_source_dlg"></div>
  <script th:inline="javascript">
	  initializeSearch('lex');
  </script>
</body>
</html>
