<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{lex.search.title}">EKILEX otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-lexsearch.js}"></script>
</th:block>
</head>
<body style="height: 100vh">
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <p class="card-text">
        <a th:href="@{/}">
          <span th:text="${appData.appName + ' ' + appData.appVersion}"></span>
        </a>
      </p>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{lex.search.title}">Vormi otsing</h5>
      </div>
      <div class="card-body">
        <form th:action="@{/lexsearch}" method="post">
          <th:block th:replace="search :: search_form"></th:block>
        </form>
      </div>
    </div>

    <div class="mt-4 float-left" th:if="${#lists.isEmpty(wordsFoundBySearch) && (simpleSearchFilter != null)}">
      <span th:text="#{lex.not.found}">Not found.</span>
    </div>

    <div class="mt-4 float-left" th:if="${not #lists.isEmpty(wordsFoundBySearch)}" style="height: calc(100vh - 15em); width: 15%; overflow-y: auto;">
      <table id="results" class="w-100">
        <tr th:each="word : ${wordsFoundBySearch}">
          <td class="w-100">
            <button type="button" class="btn btn-link" th:data-id="${word.wordId}" name="detailsBtn">
              <span th:text="${word.value}" class="ttl">vorm 1</span>
              <span th:text="${word.homonymNumber}" th:if="${word.homonymNumber > 0}"></span>
              (
              <span th:text="${word.language}"></span>
              )
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div id="details_div"></div>
  </div>

  <th:block th:fragment="details" th:if="${details != null}">
    <div class="float-left mt-4 pl-2" id="details_div" style="height: calc(100vh - 15em); width: 85%; overflow-y: auto;">
      <div class="float-left" style="width:70%">
        <th:block th:each="lexeme : ${details.lexemes}">
          <div style="border: 1px solid #CCC; padding: 5px; width: 95%">
            <div style="overflow: auto;">
              <span>
                <span th:each="word,wordIter : ${lexeme.words}" class="ttl">
                  <span th:text="${word}"></span>
                  <span th:unless="${wordIter.last}">,&nbsp;</span>
                </span>
                &nbsp;
              </span>
              <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                <button type="button" class="btn btn-link" th:data-id="${meaningWord.wordId}" name="detailsBtn">
                  <span th:text="${meaningWord.value}"></span>
                  <span th:text="${meaningWord.homonymNumber}"></span>
                  (
                  <span th:text="${meaningWord.language}"></span>
                  )
                </button>
                <span th:unless="${meaningWordIter.last}">|&nbsp;</span>
              </span>
              <span th:if="${lexeme.levels != null}">
                <small>
                  [
                  <span th:text="${lexeme.levels}"></span>
                  ]
                </small>
                &nbsp;
              </span>
              <span th:if="${lexeme.wordDisplayMorphCode != null}" th:text="${lexeme.wordDisplayMorphCode}"></span>
              <b>
                <span th:text="${lexeme.dataset}" class="float-right"></span>
              </b>
            </div>
            <div th:if="${lexeme.lexemeOrMeaningClassifiersExist}">
              <hr />
              <div th:if="${lexeme.lexemeTypeCode != null}">
                <span class="lbl">Keelendi tüüp</span>
                <span th:text="${lexeme.lexemeTypeCode}"></span>
              </div>
              <div th:if="${lexeme.lexemeFrequencyGroupCode != null}">
                <span class="lbl">Sagedusrühm</span>
                <span th:text="${lexeme.lexemeFrequencyGroupCode}"></span>
              </div>
              <div th:if="${lexeme.meaningTypeCode != null}">
                <span class="lbl">Mõistetüüp</span>
                <span th:text="${lexeme.meaningTypeCode}"></span>
              </div>
              <div th:if="${lexeme.meaningProcessStateCode != null}">
                <span class="lbl">Olek</span>
                <span th:text="${lexeme.meaningProcessStateCode}"></span>
              </div>
              <div th:if="${lexeme.meaningStateCode != null}">
                <span class="lbl">Seisund</span>
                <span th:text="${lexeme.meaningStateCode}"></span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.lexemePos)}">
                <span class="lbl">Sõnaliik</span>
                <span th:each="classif,classifIter : ${lexeme.lexemePos}">
                  <span th:text="${classif.code}"></span>
                  <th:block th:unless="${classif.code == classif.value}">
                    -
                    <span th:text="${classif.value}"></span>
                  </th:block>
                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.lexemeDerivs)}">
                <span class="lbl">Tuletuskood</span>
                <span th:each="classif,classifIter : ${lexeme.lexemeDerivs}">
                  <span th:text="${classif.code}"></span>
                  <th:block th:unless="${classif.code == classif.value}">
                    -
                    <span th:text="${classif.value}"></span>
                  </th:block>
                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.lexemeRegisters)}">
                <span class="lbl">Register</span>
                <span th:each="classif,classifIter : ${lexeme.lexemeRegisters}">
                  <span th:text="${classif.code}"></span>
                  <th:block th:unless="${classif.code == classif.value}">
                    -
                    <span th:text="${classif.value}"></span>
                  </th:block>
                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.meaningDomains)}">
                <span class="lbl">Valdkonnad</span>
                <span th:each="classif,classifIter : ${lexeme.meaningDomains}">
                  <span th:text="${classif.code}"></span>
                  <th:block th:unless="${classif.code == classif.value}">
                    -
                    <span th:text="${classif.value}"></span>
                  </th:block>
                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.definitions)}">
              <hr />
              <span class="lbl">Seletused</span>
              <table th:each="definition : ${lexeme.definitions}">
                <tr>
                  <td>
                    <span th:utext="${markdown.toHtml(definition.value)}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.meaningFreeforms)}">
              <hr />
              <span class="lbl">Tähenduse atribuudid</span>
              <table>
                <tr th:each="freeform : ${lexeme.meaningFreeforms}">
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <span th:text="${freeform.type}"></span>
                  </td>
                  <td>
                    <span th:utext="${markdown.toHtml(freeform.valueText)}" th:if="${freeform.valueText != null}"></span>
                    <span th:text="${#dates.format(freeform.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${freeform.valueDate != null}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.meaningRelations)}">
              <hr />
              <span class="lbl">Tähenduse seosed</span>
              <table>
                <tr th:each="relation : ${lexeme.meaningRelations}">
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <button type="button" class="btn btn-link" th:data-id="${relation.wordId}" name="detailsBtn">
                      <span th:text="${relation.word}"></span>
                      (
                      <span th:text="${relation.wordLang}"></span>
                      )
                    </button>
                  </td>
                  <td>
                    <span th:text="${relation.relationTypeLabel}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.rections)}">
              <hr />
              <table th:each="rection,rectionIter : ${lexeme.rections}">
                <tr>
                  <th class="lbl">Rektsioon</th>
                </tr>
                <tr>
                  <td>
                    <span th:text="${rection.value}"></span>
                  </td>
                </tr>
                <tr>
                  <th class="lbl">Kasutusnäited, tõlked, seletused</th>
                </tr>
                <tr>
                  <td>
                    <table th:each="usageMeaning,usageMeaningIter : ${rection.usageMeanings}">
                      <tr th:each="usage : ${usageMeaning.usages}">
                        <td>
                          <span th:utext="${markdown.toHtml(usage.value)}"></span>
                          <span th:if="${usage.author != null}">
                            (<span th:if="${usage.authorType != null}" th:text="${usage.authorType + ' : '}"></span><span th:text="${usage.author}"></span>)
                          </span>
                        </td>
                      </tr>
                      <tr th:each="usageTranslation : ${usageMeaning.usageTranslations}">
                        <td th:text="${usageTranslation.value}"></td>
                      </tr>
                      <tr th:each="usageDefinition : ${usageMeaning.usageDefinitions}">
                        <td th:utext="${markdown.toHtml(usageDefinition.value)}"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr th:unless="${rectionIter.last}">
                  <td>
                    <hr />
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.lexemeFreeforms)}">
              <hr />
              <span class="lbl">Ilmiku atribuudid</span>
              <table>
                <tr th:each="freeform : ${lexeme.lexemeFreeforms}">
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <span th:text="${freeform.type}"></span>
                  </td>
                  <td>
                    <span th:utext="${markdown.toHtml(freeform.valueText)}" th:if="${freeform.valueText != null}"></span>
                    <span th:text="${#dates.format(freeform.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${freeform.valueDate != null}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.wordRelations)}">
              <hr />
              <span class="lbl">Keelendi seosed</span>
              <table>
                <tr th:each="relation : ${lexeme.wordRelations}">
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <span th:text="${relation.word}"></span>
                    (
                    <span th:text="${relation.wordLang}"></span>
                    )
                  </td>
                  <td>
                    <span th:text="${relation.relationTypeLabel}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.lexemeRelations)}">
              <hr />
              <span class="lbl">Ilmiku seosed</span>
              <table>
                <tr th:each="relation : ${lexeme.lexemeRelations}">
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <button type="button" class="btn btn-link" th:data-id="${relation.wordId}" name="detailsBtn">
                      <span th:text="${relation.word}"></span>
                      (
                      <span th:text="${relation.wordLang}"></span>
                      )
                    </button>
                  </td>
                  <td>
                    <span th:text="${relation.relationTypeLabel}"></span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div style="padding: 10px"></div>
        </th:block>
      </div>
      <div class="float-left" style="width: 30%">
        <div th:if="${not #lists.isEmpty(details.paradigms)}">
          <div th:each="paradigm,paradigmIter : ${details.paradigms}" style="padding: 5px">
            <button class="btn" type="button" data-toggle="collapse" th:data-target="${'#paradigmArea_' + paradigm.paradigmId}">
              <span th:text="${'Paradigma ' + paradigmIter.count}"></span>
            </button>
            <div th:id="${'paradigmArea_' + paradigm.paradigmId}" class="collapse" style="padding: 5px">
              <div th:if="${not #lists.isEmpty(paradigm.formRelations)}">
                <div th:each="formRelation : ${paradigm.formRelations}" style="white-space: nowrap;">
                  <span th:text="${formRelation.form1Value}"></span>
                  -
                  <span th:text="${formRelation.relationTypeLabel}"></span>
                  -
                  <span th:text="${formRelation.form2Value}"></span>
                </div>
                <hr />
              </div>
              <div th:if="${#lists.size(paradigm.forms) > 1}">
                <div th:each="form : ${paradigm.forms}" style="white-space: nowrap;">
                  <span th:text="${form.value}"></span>
                  <span style="font-size: 80%; color: #999">
                    &nbsp;
                    <span th:text="${form.morphCode + ' - ' + form.morphValue}"></span>
                    <span th:text="${' | ' + form.displayForm}" th:unless="${#strings.isEmpty(form.displayForm)}"></span>
                    <span th:text="${' | ' + form.vocalForm}" th:unless="${#strings.isEmpty(form.vocalForm)}"></span>
                  </span>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <script th:inline="javascript">
  	initialise();
  </script>
</body>
</html>
