<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{lex.search.title}">EKILEX otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-lexsearch.js}"></script>
</th:block>
</head>
<body style="height: 100vh">
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <p class="card-text">
        <a th:href="@{/}">
          <span th:text="${appData.appName + ' ' + appData.appVersion}"></span>
        </a>
      </p>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{lex.search.title}">Vormi otsing</h5>
      </div>
      <div class="card-body">
        <form th:action="@{/lexsearch}" method="post">
          <th:block th:replace="search :: search_form('lex_search')"></th:block>
        </form>
      </div>
    </div>

    <div class="mt-4 float-left" th:if="${#lists.isEmpty(wordsFoundBySearch) && (simpleSearchFilter != null)}">
      <span th:text="#{lex.not.found}">Not found.</span>
    </div>

    <div class="mt-4 float-left" th:if="${not #lists.isEmpty(wordsFoundBySearch)}" style="height: calc(100vh - 15em); width: 15%; overflow-y: auto;">
      <div>
        <a href="javascript:void(0);" id="show-all-btn"><span th:text="${'Kokku leiti : ' + totalCount}"></span></a>
      </div>
      <table id="results" class="w-100">
        <tr th:each="word : ${wordsFoundBySearch}">
          <td class="w-100">
            <button type="button" class="btn btn-link pt-0" th:data-id="${word.wordId}" name="detailsBtn">
              <span th:text="${word.value}" class="ttl">vorm 1</span>
              <span th:text="${word.homonymNumber}" th:if="${word.homonymNumber > 0}"></span>
              (
              <span th:text="${word.language}"></span>
              )
            </button>
            <div style="position:relative; top: -10px; padding-left: 10px">
              <small>
                <span th:each="wordDatasetCode,wordDatasetIter : ${word.datasetCodes}">
                  <span th:text="${wordDatasetCode}"></span>
                  <span th:unless="${wordDatasetIter.last}">,</span>
                </span>
              </small>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div id="details_div"></div>
  </div>

  <th:block th:fragment="details" th:if="${details != null}">
    <div th:data-id="${wordId}" class="float-left mt-4 pl-2" id="details_div" style="height: calc(100vh - 15em); width: 85%; overflow-y: auto;">
      <div class="float-left" style="width:70%">
        <th:block th:each="lexeme : ${details.lexemes}">
          <div style="border: 1px solid #CCC; padding: 5px; width: 95%">
            <div style="overflow: auto;">
              <span>
                <span th:each="word,wordIter : ${lexeme.words}" class="ttl">
                  <span th:text="${word}"></span>
                  <span th:unless="${wordIter.last}">,&nbsp;</span>
                </span>
                &nbsp;
              </span>
              <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                <button type="button" class="btn btn-link pt-0" th:data-id="${meaningWord.wordId}" name="detailsBtn">
                  <span th:text="${meaningWord.value}"></span>
                  <span th:text="${meaningWord.homonymNumber}"></span>
                  <span th:text="${'( ' + meaningWord.language + ' )'}"></span>
                </button>
                <span th:unless="${meaningWordIter.last}">|</span>
              </span>
              <span th:if="${lexeme.levels != null}"
                    th:data-id="${lexeme.lexemeId}"
                    th:data-level1="${lexeme.level1}"
                    th:data-level2="${lexeme.level2}"
                    th:data-level3="${lexeme.level3}"
                    class="btn pt-0" onclick="openLexemeLevelDlg(this)" data-toggle="modal" data-target="#editLexemeLevelsDlg">
                <small>
                  <span th:text="${'[ ' + lexeme.levels + ' ]'}"></span>
                </small>
              </span>
              <span th:if="${lexeme.wordDisplayMorphCode != null}" th:text="${lexeme.wordDisplayMorphCode}"></span>
              <b>
                <span th:text="${lexeme.dataset}" class="float-right"></span>
              </b>
            </div>
            <div th:if="${!#lists.isEmpty(lexeme.vocalForms)}">
              <span class="lbl">Hääldus</span>
              <span th:each="vocalForm,vocalFormIter : ${lexeme.vocalForms}">
                  <span th:text="${vocalForm}"></span>
                  <span th:unless="${vocalFormIter.last}">,&nbsp;</span>
                </span>
            </div>
            <div th:if="${lexeme.lexemeOrMeaningClassifiersExist}">
              <hr />
              <div th:if="${lexeme.genderCode != null}">
                <span class="lbl">Sugu</span>
                <span th:text="${lexeme.genderCode}"></span>
              </div>
              <div th:if="${!#lists.isEmpty(lexeme.grammars)}">
                <span class="lbl">Grammatika</span>
                <span th:each="grammar,grammarIter : ${lexeme.grammars}">
                  <span th:text="${grammar}"></span>
                  <span th:unless="${grammarIter.last}">,&nbsp;</span>
                </span>
              </div>
              <div th:if="${lexeme.lexemeTypeCode != null}">
                <span class="lbl">Keelendi tüüp</span>
                <span th:text="${lexeme.lexemeTypeCode}"></span>
              </div>
              <div th:if="${lexeme.lexemeFrequencyGroupCode != null}">
                <span class="lbl">Sagedusrühm</span>
                <span th:text="${lexeme.lexemeFrequencyGroupCode}"></span>
              </div>
              <div th:if="${lexeme.meaningTypeCode != null}">
                <span class="lbl">Mõistetüüp</span>
                <span th:text="${lexeme.meaningTypeCode}"></span>
              </div>
              <div th:if="${lexeme.meaningProcessStateCode != null}">
                <span class="lbl">Olek</span>
                <span th:text="${lexeme.meaningProcessStateCode}"></span>
              </div>
              <div th:if="${lexeme.meaningStateCode != null}">
                <span class="lbl">Seisund</span>
                <span th:text="${lexeme.meaningStateCode}"></span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.lexemePos)}">
                <span class="lbl">Sõnaliik</span>
                <span th:each="classif,classifIter : ${lexeme.lexemePos}">
                  <span th:text="${classif.code}"></span>
                  <th:block th:unless="${classif.code == classif.value}">
                    -
                    <span th:text="${classif.value}"></span>
                  </th:block>
                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.lexemeDerivs)}">
                <span class="lbl">Tuletuskood</span>
                <span th:each="classif,classifIter : ${lexeme.lexemeDerivs}">
                  <span th:text="${classif.code}"></span>
                  <th:block th:unless="${classif.code == classif.value}">
                    -
                    <span th:text="${classif.value}"></span>
                  </th:block>
                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.lexemeRegisters)}">
                <span class="lbl">Register</span>
                <span th:each="classif,classifIter : ${lexeme.lexemeRegisters}">
                  <span th:text="${classif.code}"></span>
                  <th:block th:unless="${classif.code == classif.value}">
                    -
                    <span th:text="${classif.value}"></span>
                  </th:block>
                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.meaningDomains)}">
                <span class="lbl">Valdkonnad</span>
                <span th:each="classif,classifIter : ${lexeme.meaningDomains}">
                  <span th:text="${classif.code}"></span>
                  <th:block th:unless="${classif.code == classif.value}">
                    -
                    <span th:text="${classif.value}"></span>
                  </th:block>
                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.definitions)}">
              <hr />
              <span class="lbl">Seletused</span>
              <table class="orderable" th:data-op-code="definition">
                <tr th:each="definition, itemStat : ${lexeme.definitions}" th:data-id="${definition.id}" th:data-orderby="${definition.orderBy}">
                  <td>
                    <th:block th:replace="common :: ordering_buttons(${itemStat})"></th:block>
                  </td>
                  <td>
                    <span th:name="${definition.id} + '_definition'"
                          th:data-id="${definition.id}"
                          th:data-op-type="definition"
                          th:data-value="${definition.value}"
                          th:utext="${definition.value}"></span>
                    <button type="button" class="btn badge badge-primary ml-2"
                            th:title="Muuda" th:data-target-elem="${definition.id} + '_definition'"
                            onclick="openEditDlg(this)"
                            data-toggle="modal" data-target="#editDlg">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                    <div th:if="${not #lists.isEmpty(definition.refLinks)}">
                      <span th:each="refLink : ${definition.refLinks}">
                        [
                        <a th:href="@{'/def_ref_link:' + ${refLink.id}}" target="_blank">
                          <span th:if="${refLink.name != null}">
                            <span th:text="${refLink.name}"></span>
                            |
                          </span>
                          <span th:text="${refLink.value}"></span>
                        </a>
                        ]
                      </span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.meaningFreeforms)}">
              <hr />
              <span class="lbl">Tähenduse atribuudid</span>
              <table>
                <tr th:each="freeform : ${lexeme.meaningFreeforms}">
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <span th:text="${freeform.type}"></span>
                  </td>
                  <td>
                    <span th:utext="${markdown.toHtml(freeform.valueText)}" th:if="${freeform.valueText != null}"></span>
                    <span th:text="${#dates.format(freeform.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${freeform.valueDate != null}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.meaningRelations)}">
              <hr />
              <span class="lbl">Tähenduse seosed</span>
              <table>
                <tr th:each="relation : ${lexeme.meaningRelations}">
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <button type="button" class="btn btn-link pt-0" th:data-id="${relation.wordId}" name="detailsBtn">
                      <span th:text="${relation.word + ' ( ' + relation.wordLang + ' )'}"></span>
                    </button>
                  </td>
                  <td>
                    <span th:text="${relation.relationTypeLabel}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.governments)}">
              <hr />
              <table th:each="government,governmentIter : ${lexeme.governments}">
                <tr>
                  <th class="lbl">Rektsioon</th>
                </tr>
                <tr>
                  <td>
                    <span th:text="${government.value}"></span>
                  </td>
                </tr>
                <tr>
                  <th class="lbl">Kasutusnäited, tõlked, seletused</th>
                </tr>
                <tr>
                  <td>
                    <table th:each="usageMeaning,usageMeaningIter : ${government.usageMeanings}">
                      <tr th:each="usage : ${usageMeaning.usages}">
                        <td>
                          <span th:name="${usage.id} + '_usage'"
                                th:data-id="${usage.id}"
                                th:data-op-type="usage"
                                th:data-value="${usage.value}"
                                th:utext="${markdown.toHtml(usage.value)}"></span>
                          <span th:if="${usage.type != null}" th:text="'(' + ${usage.type + ')'}"></span>
                          <span th:if="${usage.author != null}" th:text="'(' + ${usage.author} + ')'"></span>
                          <span th:if="${usage.translator != null}" th:text="'(' + #{usage.translator.label} + ': ' + ${usage.translator} + ')'"></span>
                          <button type="button" class="btn badge badge-primary ml-2"
                                  th:title="Muuda" th:data-target-elem="${usage.id} + '_usage'"
                                  onclick="openEditDlg(this)"
                                  data-toggle="modal" data-target="#editDlg">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                      <tr th:each="usageTranslation : ${usageMeaning.usageTranslations}">
                        <td>
                          <span th:name="${usageTranslation.id} + '_usage_translation'"
                                th:data-id="${usageTranslation.id}"
                                th:data-op-type="usage_translation"
                                th:text="${usageTranslation.value}"></span>
                          <button type="button" class="btn badge badge-primary ml-2"
                                  th:title="Muuda" th:data-target-elem="${usageTranslation.id} + '_usage_translation'"
                                  onclick="openEditDlg(this)"
                                  data-toggle="modal" data-target="#editDlg">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                      <tr th:each="usageDefinition : ${usageMeaning.usageDefinitions}">
                        <td>
                                  <span th:name="${usageDefinition.id} + '_usage_definition'"
                                        th:data-id="${usageDefinition.id}"
                                        th:data-op-type="usage_definition"
                                        th:data-value="${usageDefinition.value}"
                                        th:utext="${markdown.toHtml(usageDefinition.value)}"></span>
                          <button type="button" class="btn badge badge-primary ml-2"
                                  th:title="Muuda" th:data-target-elem="${usageDefinition.id} + '_usage_definition'"
                                  onclick="openEditDlg(this)"
                                  data-toggle="modal" data-target="#editDlg">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr th:unless="${governmentIter.last}">
                  <td>
                    <hr />
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.lexemeFreeforms)}">
              <hr />
              <span class="lbl">Ilmiku atribuudid</span>
              <table>
                <tr th:each="freeform : ${lexeme.lexemeFreeforms}">
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <span th:text="${freeform.type}"></span>
                  </td>
                  <td>
                    <span th:utext="${markdown.toHtml(freeform.valueText)}" th:if="${freeform.valueText != null}"></span>
                    <span th:text="${#dates.format(freeform.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${freeform.valueDate != null}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.wordRelations)}">
              <hr />
              <span class="lbl">Keelendi seosed</span>
              <table class="orderable" th:data-op-code="word_relation">
                <tr th:each="relation, itemStat : ${lexeme.wordRelations}" th:data-id="${relation.id}" th:data-orderby="${relation.orderBy}">
                  <td>
                    <th:block th:replace="common :: ordering_buttons(${itemStat})"></th:block>
                  </td>
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <span th:text="${relation.word + ' ( ' + relation.wordLang + ' )'}"></span>
                  </td>
                  <td>
                    <span th:text="${relation.relationTypeLabel}"></span>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${not #lists.isEmpty(lexeme.lexemeRelations)}">
              <hr />
              <span class="lbl">Ilmiku seosed</span>
              <table class="orderable" th:data-op-code="lexeme_relation">
                <tr th:each="relation, itemStat : ${lexeme.lexemeRelations}" th:data-id="${relation.id}" th:data-orderby="${relation.orderBy}">
                  <td>
                    <th:block th:replace="common :: ordering_buttons(${itemStat})"></th:block>
                  </td>
                  <td style="vertical-align: text-top; padding-right: 1em">
                    <button type="button" class="btn btn-link" th:data-id="${relation.wordId}" name="detailsBtn">
                      <span th:text="${relation.word + ' ( ' + relation.wordLang + ' )'}"></span>
                    </button>
                  </td>
                  <td>
                    <span th:text="${relation.relationTypeLabel}"></span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div th:if="${not #lists.isEmpty(lexeme.collocationPosGroups)}">
            <hr />
            <span class="lbl">Kollokatsioonid</span>
            <th:block th:each="collocPosGr : ${lexeme.collocationPosGroups}">
              <div style="border: 1px solid #CCC; padding: 5px">
                <p th:text="${collocPosGr.name}"></p>
                <th:block th:each="collocRelGr : ${collocPosGr.relationGroups}">
                  <div style="border: 1px solid #CCC; padding: 5px">
                    <p>
                      <span th:text="${collocRelGr.name}"></span>
                      <span th:if="${collocRelGr.frequency != null}">
                        &nbsp;
                        <span class="lbl">Sagedus:</span>
                        <span th:text="${collocRelGr.frequency}"></span>
                      </span>
                      <span th:if="${collocRelGr.score != null}">
                        &nbsp;
                        <span class="lbl">Skoor:</span>
                        <span th:text="${collocRelGr.score}"></span>
                      </span>
                    </p>
                    <table>
                      <tr th:each="colloc : ${collocRelGr.collocations}">
                        <td style="vertical-align: text-top; padding: 0px 20px 0px 0px">
                          <button type="button" class="btn btn-link" th:data-id="${colloc.collocationWordId}" name="detailsBtn">
                            <span th:text="${colloc.value}"></span>
                          </button>
                        </td>
                        <td style="vertical-align: text-top; padding: 0px 20px 0px 0px">
                          <span th:text="${colloc.frequency}"></span>
                        </td>
                        <td style="vertical-align: text-top; padding: 0px 20px 0px 0px">
                          <span th:text="${colloc.score}"></span>
                        </td>
                        <td>
                          <div th:if="${not #lists.isEmpty(colloc.collocationUsages)}">
                            <div th:each="collocUsage : ${colloc.collocationUsages}">
                              <i>
                                <span th:text="${collocUsage}"></span>
                              </i>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div style="padding: 5px"></div>
                </th:block>
              </div>
              <div style="padding: 5px"></div>
            </th:block>
          </div>
          <div style="padding: 10px"></div>
        </th:block>
      </div>
      <div class="float-left" style="width: 30%">
        <div th:if="${not #lists.isEmpty(details.paradigms)}">
          <div th:each="paradigm : ${details.paradigms}" th:if="${paradigm.formsExist}" style="padding: 5px">
            <button class="btn btn-info" type="button" data-toggle="collapse" th:data-target="${'#paradigmArea_' + paradigm.paradigmId}">
              <span th:text="${paradigm.title}"></span>
            </button>
            <div th:id="${'paradigmArea_' + paradigm.paradigmId}" class="collapse" style="padding: 5px">
              <div th:if="${not #lists.isEmpty(paradigm.formRelations)}">
                <div th:each="formRelation : ${paradigm.formRelations}" style="white-space: nowrap;">
                  <span th:text="${formRelation.form1Value}"></span>
                  -
                  <span th:text="${formRelation.relationTypeLabel}"></span>
                  -
                  <span th:text="${formRelation.form2Value}"></span>
                </div>
                <hr />
              </div>
              <div th:if="${not #lists.isEmpty(paradigm.forms)}">
                <table>
                  <tr th:each="form : ${paradigm.forms}">
                    <td style="text-align: right; width: 200px">
                      <span th:text="${form.morphCode + ' - ' + form.morphValue}" th:if="${form.displayMorphCode}" style="font-size: 80%; color: #999"></span>
                    </td>
                    <td>
                      <span th:text="${form.value}"></span>
                    </td>
                    <td>
                      <span th:text="${form.displayForm}" th:unless="${#strings.isEmpty(form.displayForm)}" style="font-size: 80%; color: #999"></span>
                    </td>
                    <td>
                      <span th:text="${form.vocalForm}" th:unless="${#strings.isEmpty(form.vocalForm)}" style="font-size: 80%; color: #999"></span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <div th:replace="common :: #editDlg"></div>
  <div th:replace="common :: #editLexemeLevelsDlg"></div>

  <script th:inline="javascript">
  	initialise();
  </script>
</body>
</html>
