<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block>
    <div th:fragment="details" style="width: 100%">
      <div th:each="logRow : ${lifecycleLog}">
        <div class="card p-2 mt-2">
          <div class="row">
            <div class="col-11 stxt">
              <span th:text="${#dates.format(logRow.eventOn, 'dd.MM.yyyy HH:mm')}"></span>
              -
              <span th:text="#{|lifecyclelog.${logRow.entityName}.${logRow.entityProp}.${logRow.eventType}|(${logRow.eventBy})}"></span>
            </div>
            <div class="col-1">
              <span class="fa fa-plus" th:if="${logRow.eventType == 'CREATE'}"></span>
              <span class="fa fa-wrench" th:if="${logRow.eventType == 'UPDATE'}"></span>
              <span class="fa fa-remove" th:if="${logRow.eventType == 'DELETE'}"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-5 text-center">
              <span th:utext="${logRow.recent}" th:if="${logRow.recent != null}"></span>
              <span class="fa fa-minus" th:if="${logRow.recent == null}"></span>
            </div>
            <div class="col-1">
              <span class="fa fa-chevron-right"></span>
            </div>
            <div class="col-5 text-center">
              <span th:utext="${logRow.entry}" th:if="${logRow.entry != null}"></span>
              <span class="fa fa-minus" th:if="${logRow.entry == null}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</body>
</html>
