<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title>Võrgustiku otsing</title>
<th:block th:fragment="links">
</th:block>
<head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'limited')"></th:block>
  <div class="card shadow rounded-0 border-0 flex-shrink-0">
    <div class="card-body px-2 py-3">
      <form th:action="@{/limitedtermsearch}" method="post">
        <th:block th:replace="search :: search_form('limited_term_search', false)"></th:block>
      </form>
    </div>
  </div>
  <div class="container-fluid flex-grow-1 flex-shrink-1 d-flex flex-column h-100 overflow-auto" th:with="isSearchResult = ${termSearchResult != null}">
    <div class="mt-4 float-left" th:if="${invalidSearch}">
      <div th:text="#{term.search.invalid}"></div>
    </div>
    <div class="row no-gutters pt-2 h-100">
      <div class="mt-4 float-left" th:if="${noResults == true}">
        <div th:text="#{term.not.found}">Not found.</div>
      </div>
      <div class="col-3 pr-2 pb-2" style="height: calc(100vh - 14rem); overflow-y: auto;" id="searchColumn" th:if="${isSearchResult}">
        <div id="results_div" class="card shadow" th:if="${termSearchResult.resultExist}">
          <div th:replace="termcomp :: search_result"></div>
        </div>
      </div>
      <div class="h-100 d-flex flex-column" th:classappend="${isSearchResult ? 'col-9' : 'col-auto'}" id="resultColumn">
        <div class="scrollable-area" data-plugin="ekiSortable">
          <div id="details-area" data-rel="details-area" style="height:100%; overflow:auto;"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>