<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title>Võrgustiku otsing</title>
<th:block th:fragment="links">
</th:block>
<head>
<!--<body class="body-with-navbar">-->
<body class="body-with-navbar compacted d-flex flex-column">
  <th:block th:replace="common :: nav_bar(activeItem = 'limited')"></th:block>
<!--  <div class="card shadow rounded-0 border-0 flex-shrink-0">-->
  <div class="card shadow rounded-0 border-0">
    <div class="card-body px-2 py-3">
      <form id="searchForm" th:action="@{/limtermsearch}" method="post">
        <th:block th:replace="search :: search_form('lim_term_search', false)"></th:block>
      </form>
    </div>
  </div>
  <div class="container-fluid flex-grow-1 flex-shrink-1 d-flex flex-column h-100 overflow-auto" th:with="isSearchResult = ${termSearchResult != null}">
    <div class="mt-4 float-left" th:if="${invalidSearch}">
      <div th:text="#{term.search.invalid}"></div>
    </div>
    <div class="row no-gutters pt-2 h-100">
      <div class="mt-4 float-left" th:if="${noResults == true}">
        <div th:text="#{term.not.found}">Not found.</div>
      </div>
      <div class="col-3 pr-2 pb-2" style="height: calc(100vh - 14rem); overflow-y: auto;" th:if="${isSearchResult}">
        <div id="results_div" class="card shadow" th:if="${termSearchResult.resultExist}">
          <div th:replace="limtermcomp :: search_result"></div>
        </div>
      </div>
      <div class="h-100 d-flex flex-column" th:classappend="${isSearchResult ? 'col-9' : 'col-auto'}" id="resultColumn">
        <div class="scrollable-area" data-plugin="ekiSortable">
          <div id="details-area" data-rel="details-area" style="height:100%; overflow:auto;"></div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:fragment="details" th:if="${meaning != null}">
    <div style="height:100%; overflow:auto;"
         th:data-id="${meaningId}"
         id="details-area"
         data-rel="details-area"
         th:data-word="${meaningId}"
         th:with="
           isMeaningLexemeCrudGranted=${#vars.meaning.subGrant},
           isMeaningAnyLexemeCrudGranted=${#vars.meaning.anyGrant}">
      <div th:replace="termdialog :: add_meaning_data_dlg"></div>
      <div th:replace="termdialog :: add_meaning_domain_dlg"></div>
      <div th:replace="termdialog :: add_definition_dlg"></div>
      <div th:replace="termdialog :: add_meaning_note_dlg"></div>
      <div th:replace="termdialog :: add_meaning_relation_dlg"></div>
      <div th:replace="termdialog :: add_meaning_semantic_type_dlg"></div>
      <button id="refresh-details" hidden="hidden" th:data-id="${meaningId}" name="details-btn" data-behaviour="replace"></button>
      <div class="navigate-panel term-panel card shadow h-100">
        <div class="card border-0 mb-2">
          <div class="card-body">
            <div th:replace="commontermcomp :: meaning_header"></div>
            <div th:replace="commontermcomp :: meaning_domain"></div>
            <div th:replace="commontermcomp :: meaning_semantic_type"></div>
            <div th:replace="commontermcomp :: meaning_definition"></div>
            <div th:replace="commontermcomp :: meaning_note"></div>
            <div th:replace="commontermcomp :: meaning_image"></div>
            <div th:replace="commontermcomp :: meaning_freeform"></div>
            <div th:replace="commontermcomp :: meaning_relation"></div>
          </div>
        </div>
<!--        TODO in progress...-->
      </div>
    </div>
  </th:block>
  <div th:replace="common :: #sourceDetailsDlg"></div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #confirmDlg"></div>
  <div th:replace="common :: #waitDlg"></div>
  <div th:replace="termdialog :: new_word_dlg"></div>
  <div th:replace="sourcedialog :: add_source_dlg('term_search')"></div>
  <script th:inline="javascript">
	  $(function(){
		  initializeSearch('lim_term');
	  });
  </script>
</body>
</html>