<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(_,_)">
</head>
<body class="body-with-navbar body-with-navbar--no-padding">
  <th:block th:replace="components :: header(isDev = ${appData.devEnv}, envName = ${appData.envName})" sec:authorize="!isAuthenticated()"></th:block>
  <th:block th:replace="common :: nav_bar(activeItem = 'home')" sec:authorize="isAuthenticated()"></th:block>
  <eki-toast id="login-error-toast-container"></eki-toast>
  <div class="login-page">
    <form class="login-page__form" th:action="@{/dologin}" method="post">
      <h1 class="login-page__title" th:text="#{login.title}">Tere</h1>
      <th:block th:replace="components :: input_text(
        id = 'login-email',
        label = #{login.email},
        name = 'email',
        placeholder = #{label.login.email.placeholder},
        value = ${userEmail})"></th:block>
      <th:block th:replace="components :: input_password(
        id = 'login-password',
        label = #{login.password},
        name = 'password',
        placeholder = #{label.login.password.placeholder},
        autofocus = ${userEmail != null})"></th:block>
      <div class="login-page__links">
        <a th:href="@{/register}" th:text="#{label.home.register}">Loo kasutaja</a>
        <a th:href="@{/passwordrecovery}" th:text="#{login.password.set}">Parool kadunud?</a>
      </div>
      <button class="button" type="submit" th:text="#{login.login}">Sisene</button>
    </form>
  </div>
  <th:block th:replace="components :: footer"></th:block>

  <script th:inline="javascript">
    $(document).ready(function() {
      const toastContainer = document.getElementById('login-error-toast-container');
      // The following comment syntax is for thymeleaf to embed variables
      const successMessage = /*[[${successMessage}]]*/ "";
      const loginError = /*[[${loginerror}]]*/ "";
      if (!successMessage && !loginError) {
        return;
      }
      toastContainer.addToast({
        body: successMessage || loginError,
        closeLabel:/*[[#{common.close}]]*/ "",
        id: 'login-toast',
        type: successMessage ? 'success' : 'error'
      });
    });
  </script>
</body>
</html>
