<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(_,_)">
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'home')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{login.title}">Tere</h5>
      </div>
      <div class="card-body">
        <div class="alert alert-info" role="alert" th:if="${success_message}">
          <span th:text="${success_message}"></span>
        </div>
        <div class="alert alert-warning" role="alert" th:if="${loginerror}">
          <span th:text="${loginerror}"></span>
        </div>
        <div class="row">
          <div class="col-8">
            <form th:action="@{/dologin}" method="post">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <span class="float-right" th:text="#{login.email}">E-posti aadress</span>
                </label>
                <div class="col-sm-4">
                  <input type="email" class="form-control" name="email" th:placeholder="#{login.email}" th:value="${userEmail}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <span class="float-right" th:text="#{login.password}">Salasõna</span>
                </label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" name="password" th:autofocus="${userEmail != null}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4 offset-sm-2">
                  <button type="submit" class="btn btn-primary float-left" th:text="#{login.login}">Sisene</button>
                  <a class="float-right" th:href="@{/passwordrecovery}" th:text="#{login.password.set}">Soovin salasõna vahetada</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
