<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{meaning.join.title}">EKILEX tähenduste ühendamine</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-meaningjoin.js}"></script>
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'meaningjoin')"></th:block>
  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary" th:href="@{'/meaningback/' + ${targetMeaningId}}">Tagasi</a>
      </p>
    </div>
    <div class="card shadow mt-4" id="meaning-details-area">
      <div class="card-header">
        <h5 class="card-title" th:text="#{meaning.join.title}">Tähenduste ühendamine</h5>
      </div>
      <div class="card-body">
        <div style="width: 95%" class="border rounded p-2">
          <th:block th:replace=":: meaning_details(${targetMeaning})"></th:block>
        </div>
      </div>
      <div class="card-body" th:if="${not #lists.isEmpty(validationMessages)}">
        <div class="alert alert-danger w-50" role="alert">
          <strong>Tähenduste ühendamine ebaõnnestus</strong>
          <ul>
            <li th:each="validationMessage : ${validationMessages}">
              <span th:text="${validationMessage}"></span>
            </li>
          </ul>
        </div>
      </div>
      <th:block th:if="${#lists.isEmpty(validationMessages)}">
        <div class="card-body">
          <form th:action="@{'/meaningjoin/' + ${targetMeaningId}}" method="post">
            <div class="form-row" name="searchFilter">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-auto col-form-label">Otsing</label>
                  <div class="col-5">
                    <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" placeholder="sisesta otsitav vorm">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">Otsi</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body" th:if="${(searchFilter != null) && #lists.isEmpty(sourceMeanings)}">
          <span th:text="#{lexjoin.not.found}">Not found.</span>
        </div>
        <div class="card-body" th:if="${not #lists.isEmpty(sourceMeanings)}">
          <form th:action="@{/meaningjoin}" method="post">
            <input type="hidden" name="targetMeaningId" th:value="${targetMeaningId}">
            <div class="row mb-4">
              <div class="col">
                <button type="button" class="btn btn-primary" id="joinMeaningsBtn" data-toggle="join-confirm" data-placement="right" disabled>Ühenda valitud tähendused</button>
              </div>
            </div>
            <div style="width: 95%" class="border border-dark rounded mb-2 p-2" name="meaning" th:each="sourceMeaning : ${sourceMeanings}">
              <th:block th:replace=":: meaning_details(${sourceMeaning})"></th:block>
            </div>
          </form>
        </div>
      </th:block>
    </div>
  </div>
  <th:block th:fragment="meaning_details(meaning)" th:if="${meaning != null}">
    <div class="row">
      <div class="col col-w2rem">
        <input name="sourceMeaningIds" type="checkbox" class="mt-2"
          th:value="${meaning.meaningId}"
          th:if="${meaning.meaningId != targetMeaningId}"
          sec:authorize="#vars.permDataUtil.isSourceMeaningCrudGranted(#vars.meaning.meaningId, #vars.targetMeaningId, #vars.sessionBean)"/>
        <input type="checkbox" class="mt-2" th:if="${meaning.meaningId == targetMeaningId}" checked="checked" th:disabled="true" />
      </div>
    </div>
    <div class="row">
      <div class="col-1 pr-0">
        <span class="lbl">ID</span>
      </div>
      <div class="col pl-0">
        <span th:text="${meaning.meaningId}"></span>
      </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(meaning.definitionLangGroups)}">
      <div class="col-1 pr-0">
        <span class="lbl">Seletused</span>
      </div>
      <div class="col pl-0">
        <th:block th:each="definitionLangGroup : ${meaning.definitionLangGroups}">
          <div th:each="definition, itemIter: ${definitionLangGroup.definitions}">
            <div style="display: list-item; position: absolute"></div>
            <div>
              <span th:utext="${definition.value}"></span>
              <span class="font-italic text-info" th:text="${definition.typeValue}"></span>
              <span th:each="sourceLink : ${definition.sourceLinks}">
                [
                <a th:href="@{'/def_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.value}"></a>
                <span th:if="${sourceLink.name != null}" th:text="${sourceLink.name}"></span>
                ]
              </span>
            </div>
          </div>
        </th:block>
      </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(meaning.domains)}">
      <div class="col-1 pr-0">
        <span class="lbl">Valdkonnad</span>
      </div>
      <div class="col pl-0">
        <th:block th:each="classif,classifIter : ${meaning.domains}">
          <div style="display: list-item; position: absolute"></div>
          <div>
            <span th:text="${classif.code}"></span>
            <th:block th:unless="${classif.code == classif.value}">
              -
              <span th:text="${classif.value}"></span>
            </th:block>
          </div>
        </th:block>
      </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(meaning.publicNoteLangGroups)}">
      <div class="col-1 pr-0">
        <span class="lbl">Märkused</span>
      </div>
      <div class="col pl-0">
        <th:block th:each="publicNoteLangGroup : ${lexeme.meaning.publicNoteLangGroups}">
          <th:block th:each="publicNote : ${publicNoteLangGroup}">
            <div style="display: list-item; position: absolute"></div>
            <div th:utext="${publicNote.valuePrese}"></div>
          </th:block>
        </th:block>
      </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(meaning.freeforms)}">
      <div class="col-1 pr-0">
        <span class="lbl">Concept id</span>
      </div>
      <div class="col pl-0">
        <th:block th:each="freeform : ${meaning.freeforms}">
          <div th:if="${freeform.type.toString() == 'CONCEPT_ID'}">
            <div style="display: list-item; position: absolute"></div>
            <span th:utext="${freeform.valueText}" th:if="${freeform.valueText != null}"></span>
          </div>
        </th:block>
      </div>
    </div>
    <th:block th:each="lexemeLangGroup : ${meaning.lexemeLangGroups}">
      <div class="border rounded mb-2 p-2" th:each="lexeme : ${lexemeLangGroup.lexemes}">
        <div>
          <span th:utext="${viewUtil.getWordValueMarkup(lexeme.word)}" class="font-weight-bold"></span>
          <span th:text="${'(' + viewUtil.getLangIso2(lexeme.word.lang) + ')'}" class="ml-2"></span>
          <b class="float-right" th:text="${lexeme.datasetCode}"></b>
        </div>
        <div class="row">
          <div class="col-1 pr-0">
            <span class="lbl">Identifikaatorid</span>
          </div>
          <div class="col pl-0">
            <span class="pr-1" th:text="'W' + ${lexeme.wordId}"></span>
            <span class="pr-1" th:text="'L' + ${lexeme.lexemeId}"></span>
            <span class="pr-1" th:text="'M' + ${lexeme.meaningId}"></span>
          </div>
        </div>
        <div class="row" th:if="${lexeme.lexemeProcessStateCode != null}">
          <div class="col-1 pr-0">
            <span class="lbl">Haldusolek</span>
          </div>
          <div class="col pl-0">
            <span th:text="${lexeme.lexemeProcessStateCode}"></span>
          </div>
        </div>
        <div class="row" th:if="${lexeme.lexemeValueStateCode != null}">
          <div class="col-1 pr-0">
            <span class="lbl">Väärtusolek</span>
          </div>
          <div class="col pl-0">
            <span th:text="${lexeme.lexemeValueStateCode}"></span>
          </div>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(lexeme.wordTypes)}">
          <div class="col-1 pr-0">
            <span class="lbl">Sõna tüüp</span>
          </div>
          <div class="col pl-0">
            <span th:each="classif,classifIter : ${lexeme.wordTypes}">
              <span th:text="${classif.code}"></span>
              <th:block th:unless="${classif.code == classif.value}">
                -
                <span th:text="${classif.value}"></span>
              </th:block>
            </span>
          </div>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(lexeme.sourceLinks)}">
          <div class="col-1 pr-0">
            <span class="lbl">Allikaviited</span>
          </div>
          <div class="col pl-0">
            <th:block th:each="sourceLink : ${lexeme.sourceLinks}">
              [
              <a th:href="@{'/lex_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.value}"></a>
              <span th:if="${sourceLink.name != null}">
                <span th:text="${sourceLink.name}"></span>
              </span>
              ]
            </th:block>
          </div>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(lexeme.usages)}">
          <div class="col-1 pr-0">
            <span class="lbl">Kasutusnäited</span>
          </div>
          <div class="col pl-0">
            <th:block th:each="usage : ${lexeme.usages}">
              <div style="display: list-item; position: absolute"></div>
              <div>
                <span th:utext="${usage.value}"></span>
                <span th:if="${usage.typeValue != null}" th:text="'(' + ${usage.typeValue + ')'}"></span>
                <span th:if="${not #lists.isEmpty(usage.authors)}">
                  (
                  <span th:each="sourceLink,sourceLinkIter : ${usage.authors}">
                    <span th:text="#{'enum.reference.type.' + ${sourceLink.type}} + ': '"></span>
                    <a th:href="@{'/ff_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.value}" th:if="${sourceLink.value != null}"></a>
                    <span th:if="${sourceLink.name != null}">
                      <span th:text="${sourceLink.name}"></span>
                    </span>
                    <span th:unless="${sourceLinkIter.last}">, </span>
                  </span>
                  )
                </span>
                <span th:each="sourceLink : ${usage.sourceLinks}">
                  [
                  <a th:href="@{'/ff_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.value}"></a>
                  <span th:text="${sourceLink.name}" th:if="${sourceLink.name != null}"></span>
                  ]
                </span>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </th:block>
  </th:block>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #sourceDetailsDlg"></div>
  <script th:inline="javascript">
  	initialise();
  	$('[data-toggle=join-confirm]').confirmation({
  		btnOkLabel : 'Jah',
  		btnCancelLabel : 'Ei',
  		title : 'Kas olete kindel, et soovite tähendused ühendada?',
  		onConfirm : joinMeanings
  	});
  </script>
</body>
</html>