<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <th:block th:fragment="meaning_details(meaning)" th:if="${meaning != null}">
    <div class="row">
      <div class="col col-w2rem">
        <input name="sourceMeaningIds" type="checkbox" class="mt-2"
               th:value="${meaning.meaningId}"
               th:if="${@permDataUtil.isMeaningValidForJoin(meaning, targetMeaning)}"
               sec:authorize="#vars.@permDataUtil.isSourceMeaningCrudGranted(#vars.meaning.meaningId, #vars.targetMeaningId)"/>
        <input type="checkbox" class="mt-2" th:if="${meaning.meaningId == targetMeaningId}" checked="checked" disabled="disabled"/>
      </div>
    </div>
    <div class="row">
      <div class="col-1 pr-0">
        <span class="lbl">ID</span>
      </div>
      <div class="col pl-0">
        <span th:text="${meaning.meaningId}"></span>
      </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(meaning.definitionLangGroups)}">
      <div class="col-1 pr-0">
        <span class="lbl" th:text="#{term.definition}">Seletus</span>
      </div>
      <div class="col pl-0">
        <th:block th:each="definitionLangGroup : ${meaning.definitionLangGroups}">
          <div th:each="definition, itemIter: ${definitionLangGroup.definitions}">
            <div style="display: list-item; position: absolute"></div>
            <div>
              <span th:utext="${definition.valuePrese}"></span>
              <span class="font-italic text-info" th:text="${definition.typeValue}"></span>
              <span th:each="sourceLink : ${definition.sourceLinks}">
                [
                <a th:href="@{'/definition_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.sourceName}"></a>
                <span th:if="${sourceLink.name != null}" th:text="${sourceLink.name}"></span>
                ]
              </span>
            </div>
          </div>
        </th:block>
      </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(meaning.domains)}">
      <div class="col-1 pr-0">
        <span class="lbl" th:text="#{term.meaning.domain}">Valdkond</span>
      </div>
      <div class="col pl-0">
        <th:block th:each="classif,classifIter : ${meaning.domains}">
          <div style="display: list-item; position: absolute"></div>
          <div>
            <span th:text="${classif.code}"></span>
            <th:block th:unless="${classif.code == classif.value}">
              -
              <span th:text="${classif.value}"></span>
            </th:block>
          </div>
        </th:block>
      </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(meaning.noteLangGroups)}">
      <div class="col-1 pr-0">
        <span class="lbl" th:text="#{term.meaning.note}">Märkus</span>
      </div>
      <div class="col pl-0">
        <th:block th:each="noteLangGroup : ${lexeme.meaning.noteLangGroups}">
          <th:block th:each="note : ${noteLangGroup}">
            <div style="display: list-item; position: absolute"></div>
            <div th:utext="${note.valuePrese}"></div>
          </th:block>
        </th:block>
      </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(meaning.freeforms)}">
      <div class="col-1 pr-0">
        <span class="lbl" th:text="#{meaningjoin.concept.id}">Concept id</span>
      </div>
      <div class="col pl-0">
        <th:block th:each="freeform : ${meaning.freeforms}">
          <div th:if="${freeform.freeformTypeCode == 'CONCEPT_ID'}">
            <div style="display: list-item; position: absolute"></div>
            <span th:utext="${freeform.valueText}" th:if="${freeform.valueText != null}"></span>
          </div>
        </th:block>
      </div>
    </div>
    <th:block th:each="lexemeLangGroup : ${meaning.lexemeLangGroups}">
      <div class="border rounded mb-2 p-2" th:each="lexeme : ${lexemeLangGroup.lexemes}">
        <div>
          <span th:utext="${@viewUtil.getWordValueMarkup(lexeme.word)}" class="font-weight-bold"></span>
          <span th:text="${'(' + @viewUtil.getLangIso2(lexeme.word.lang) + ')'}" class="ml-2"></span>
          <b class="float-right" th:text="${lexeme.datasetCode}"></b>
        </div>
        <div class="row">
          <div class="col-1 pr-0">
            <span class="lbl" th:text="#{term.data.ids}">Identifikaatorid</span>
          </div>
          <div class="col pl-0">
            <span class="pr-1" th:text="'W' + ${lexeme.wordId}"></span>
            <span class="pr-1" th:text="'L' + ${lexeme.lexemeId}"></span>
            <span class="pr-1" th:text="'M' + ${lexeme.meaningId}"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-1 pr-0">
            <span class="lbl" th:text="#{common.publicity}">Avalikkus</span>
          </div>
          <div class="col pl-0">
            <span th:if="${lexeme.public}" th:text="#{boolean.public.true}">avalik</span>
            <span th:unless="${lexeme.public}" th:text="#{boolean.public.false}">mitteavalik</span>
          </div>
        </div>
        <div class="row" th:if="${lexeme.lexemeValueStateCode != null}">
          <div class="col-1 pr-0">
            <span class="lbl" th:text="#{term.lexeme.value.state}">Väärtusolek</span>
          </div>
          <div class="col pl-0">
            <span th:text="${lexeme.lexemeValueStateCode}"></span>
          </div>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(lexeme.wordTypes)}">
          <div class="col-1 pr-0">
            <span class="lbl" th:text="#{term.word.type}">Keelendi tüüp</span>
          </div>
          <div class="col pl-0">
            <span th:each="classif,classifIter : ${lexeme.wordTypes}">
              <span th:text="${classif.code}"></span>
              <th:block th:unless="${classif.code == classif.value}">
                -
                <span th:text="${classif.value}"></span>
              </th:block>
            </span>
          </div>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(lexeme.sourceLinks)}">
          <div class="col-1 pr-0">
            <span class="lbl" th:text="#{term.source.link}">Allikaviide</span>
          </div>
          <div class="col pl-0">
            <th:block th:each="sourceLink : ${lexeme.sourceLinks}">
              [
              <a th:href="@{'/lexeme_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.sourceName}"></a>
              <span th:if="${sourceLink.name != null}">
                <span th:text="${sourceLink.name}"></span>
              </span>
              ]
            </th:block>
          </div>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(lexeme.usages)}">
          <div class="col-1 pr-0">
            <span class="lbl" th:text="#{term.usage}">Kasutusnäide</span>
          </div>
          <div class="col pl-0">
            <th:block th:each="usage : ${lexeme.usages}">
              <div style="display: list-item; position: absolute"></div>
              <div>
                <span th:utext="${usage.valuePrese}"></span>
                <span th:each="sourceLink : ${usage.sourceLinks}">
                  [
                  <a th:href="@{'/usage_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.sourceName}"></a>
                  <span th:text="${sourceLink.name}" th:if="${sourceLink.name != null}"></span>
                  ]
                </span>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </th:block>
  </th:block>
</body>
</html>