<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{meaning.join.title}">EKILEX tähenduste ühendamine</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-meaningjoin.js}"></script>
</th:block>
</head>
<body class="body-with-navbar">

  <th:block th:replace="common :: nav_bar"></th:block>

  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary text-light" th:href="@{'/meaningback/' + ${targetMeaningId}}">Tagasi</a>
      </p>
    </div>

    <div class="card shadow mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{meaning.join.title}">Tähenduste ühendamine</h5>
      </div>

      <div class="card-body">
        <div style="width: 95%" class="border rounded p-2">
          <th:block th:replace=":: meaning_details(${targetMeaningLexeme}, ${targetMeaningId})"></th:block>
        </div>
      </div>

      <div class="card-body" th:if="${not #lists.isEmpty(validationMessages)}">
        <div class="alert alert-danger w-50" role="alert">
          <strong>Tähenduste ühendamine ebaõnnestus</strong>
          <li>
            <lu th:each="validationMessage : ${validationMessages}"><span th:text="${validationMessage}"></span></lu>
          </li>
        </div>
      </div>

      <th:block th:if="${#lists.isEmpty(validationMessages)}">
        <div class="card-body">
          <form th:action="@{'/meaningjoin/' + ${targetMeaningId}}" method="post">
            <div class="form-row" name="searchFilter">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-auto col-form-label">Otsing</label>
                  <div class="col-5">
                    <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" placeholder="sisesta otsitav vorm">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">Otsi</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="card-body" th:if="${(searchFilter != null) && #lists.isEmpty(sourceMeaningLexemes)}">
          <span th:text="#{lexjoin.not.found}">Not found.</span>
        </div>

        <div class="card-body" th:if="${not #lists.isEmpty(sourceMeaningLexemes)}">
          <form th:action="@{/meaningjoin}" method="post">
            <input type="hidden" name="targetMeaningId" th:value="${targetMeaningId}">
            <div class="row mb-4">
              <div class="col">
                <button type="button" class="btn btn-primary" id="joinMeaningsBtn"
                        data-toggle="join-confirm"
                        data-placement="right" disabled>Ühenda valitud tähendused
                </button>
              </div>
            </div>
            <div style="width: 95%" class="border rounded mb-2 p-2" name="meaning" th:each="sourceMeaningLexeme : ${sourceMeaningLexemes}">
              <th:block th:replace=":: meaning_details(${sourceMeaningLexeme}, ${targetMeaningId})"></th:block>
            </div>
          </form>
        </div>
      </th:block>
    </div>
  </div>

  <th:block th:fragment="meaning_details(lexeme, targetMeaningId)"
            th:if="${lexeme != null}"
            th:with="isMeaningCrudGranted=${#authorization.expression('hasPermission(#vars.lexeme.meaningId, ''MEANING'', ''DATASET:CRUD'')')}">
    <div class="row">
      <div class="col col-w2rem">
        <input name="sourceMeaningIds" type="checkbox" class="mt-2"
               th:value="${lexeme.meaningId}"
               th:if="${lexeme.meaningId != targetMeaningId}"
               sec:authorize="${#vars.isMeaningCrudGranted}"/>
        <input type="checkbox" class="mt-2" th:if="${lexeme.meaningId == targetMeaningId}" checked="checked" th:disabled="true"/>
      </div>
      <div class="col">
        <span>
          <span th:each="word,wordIter : ${lexeme.words}" class="ttl">
            <span th:text="${word}"></span>
            <span th:unless="${wordIter.last}">,</span>
          </span>
        </span>
        <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
          <span class="pt-0">
            <span th:text="${meaningWord.value}"></span>
            <span th:text="${meaningWord.homonymNumber}"></span>
            <span th:text="${'( ' + iso2languages[meaningWord.language] + ' )'}"></span>
          </span>
          <span th:unless="${meaningWordIter.last}">|</span>
        </span>
        <span th:if="${lexeme.levels != null}">
          <small th:text="${'[ ' + lexeme.levels + ' ]'}"></small>
        </span>
        <b th:text="${lexeme.dataset}" class="float-right"></b>
      </div>
    </div>
    <div th:if="${not #lists.isEmpty(lexeme.definitions)}">
      <hr />
      <span class="lbl">Seletused</span>
      <table>
        <tr th:each="definition : ${lexeme.definitions}">
          <td th:utext="${definition.value}"></td>
        </tr>
      </table>
    </div>
  </th:block>

  <script th:inline="javascript">
	  initialise();
	  $('[data-toggle=join-confirm]').confirmation({
		  btnOkLabel: 'Jah',
		  btnCancelLabel: 'Ei',
		  title: 'Kas olete kindel, et soovite tähendused ühendada?',
		  onConfirm: function() {
			  $(this).closest('form').submit();
		  }
	  });
  </script>
</body>
</html>