<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <th:block th:fragment="edit_news_article">
    <form th:action="@{/news}" method="post">
      <input type="hidden" name="newsArticleEditAreaId" th:value="${newsArticleEditAreaId}">
      <input type="hidden" name="formOpName" value="save">
      <input type="hidden" name="id" th:value="${newsArticle.id}">
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-2 col-form-label">Uudise liik</div>
          <div class="col-md-3">
            <select name="type" class="form-control required-field classifier-select">
              <option value=""></option>
              <option th:each="newsArticleType : ${T(eki.common.constant.NewsArticleType).values()}" th:value="${newsArticleType.name()}" th:text="#{|enum.newsarticletype.${newsArticleType.name()}|}"
                th:selected="${viewUtil.enumEquals(newsArticle.type, newsArticleType)}"></option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2 col-form-label">Uudise keel</div>
          <div class="col-md-3">
            <select name="lang" class="form-control required-field classifier-select">
              <option value=""></option>
              <option th:each="language : ${supportedLanguages}" th:value="${language.code}" th:text="${language.value}" th:selected="${newsArticle.lang == language.code}"></option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2 col-form-label">Pealkiri</div>
          <div class="col-md-6">
            <input type="text" name="title" th:value="${newsArticle.title}" class="form-control required-field" autocomplete="off" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2 col-form-label">Rida</div>
          <div class="col-md-6">
            <th:block th:each="newsSection,newsSectionIter : ${newsArticle.newsSections}">
              <div class="row mb-3">
                <div class="col-md-11">
                   <input type="hidden" th:name="|newsSections[${newsSectionIter.index}].id|" th:value="${newsSection.id}">
                  <textarea th:name="|newsSections[${newsSectionIter.index}].content|" th:text="${newsSection.content}" rows="3" class="form-control md-textarea" autocomplete="off"></textarea>
                </div>
                <div class="col-md-1 p-0">
                  <button type="button" class="btn badge badge-secondary mt-1" name="addNewsSection" data-plugin="addNewsSectionPlugin" th:data-area-id="${newsArticleEditAreaId}">
                    <i class="fa fa-plus mt-1" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-plugin="saveNewsArticlePlugin" th:text="#{common.save}">Salvesta</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
      </div>
    </form>
  </th:block>
</body>
</html>