<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(_,~{::links})">
  <th:block th:fragment="links">
  </th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'home')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{register.password.set}">Parooli lähtestamine</h5>
      </div>
      <div class="card-body">
        <div class="alert alert-success" role="alert" th:if="${message}">
          <span th:text="${message}"></span>
        </div>
        <div class="alert alert-warning" role="alert" th:if="${warning}">
          <span th:text="${warning}"></span>
        </div>
        <div class="row">
          <div class="col-8">
            <form id="passRecoveryForm" th:action="@{/submit}" method="post">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <span class="float-right" th:text="#{register.email}">E-posti aadress</span>
                </label>
                <div class="col-sm-4">
                  <input type="email" class="form-control" name="email" th:placeholder="#{register.email}" th:value="${userEmail}" autofocus>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-auto offset-sm-2">
                  <button type="button" class="btn btn-primary float-left" id="passRecoveryBtn"
                      th:data-code="${botProtectionCode}" data-plugin="passwordRecoveryPlugin" th:text="#{register.set.password}">Lähtesta parool</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    // Currently unneeded with plugin
	  // initializePasswordRecovery();
  </script>
</body>
</html>