<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common :: common_header(_,_)"> </head>
  <body class="body-with-navbar body-with-navbar--no-padding">
    <th:block
      th:replace="components :: header(isDev = ${appData.devEnv}, envName = ${appData.envName})"
      sec:authorize="!isAuthenticated()"
    ></th:block>
    <th:block
      th:replace="common :: nav_bar(activeItem = 'home')"
      sec:authorize="isAuthenticated()"
    ></th:block>
    <eki-toast id="password-set-error-toast-container"></eki-toast>
    <div class="icons-bg-page">
      <form
        class="icons-bg-page__form"
        id="passwordSetForm"
        th:action="@{/passwordset}"
        method="post"
      >
        <input type="hidden" name="recoveryKey" th:value="${recoveryKey}" />
        <h1
          class="icons-bg-page__title"
          th:text="#{register.user.password.set(${userEmail})}"
        ></h1>
        <th:block
          th:replace="components :: input_password(
        id = 'password-set-new-password',
        label = #{register.new.password},
        name = 'salasona',
        placeholder = #{label.register.password.placeholder},
        minlength='8')"
        ></th:block>
        <th:block
          th:replace="components :: input_password(
          id = 'password-set-new-password-repeat',
          label = #{register.password.again},
          name = 'salasona2',
          placeholder = #{label.register.password_repeat.placeholder})"
        ></th:block>
        <div class="icons-bg-page__actions">
          <button class="button" type="submit" th:text="#{common.save}">
            Salvesta
          </button>
        </div>
      </form>
    </div>
    <th:block th:replace="components :: footer"></th:block>
    <script th:inline="javascript">
      $(document).ready(function () {
        const toastContainer = document.getElementById(
          "password-set-error-toast-container"
        );
        // The following comment syntax is for thymeleaf to embed variables
        const errorMessage = /*[[${error}]]*/ "";
        if (!errorMessage) {
          return;
        }
        toastContainer.addToast({
          body: errorMessage,
          closeLabel: /*[[#{common.close}]]*/ "",
          id: "password-set-toast",
          type: "error",
        });
      });
    </script>
  </body>
</html>
