<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(_,~{::links})">
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar body-with-navbar--no-padding">
  <th:block th:replace="components :: header(isDev = ${appData.devEnv}, envName = ${appData.envName})" sec:authorize="!isAuthenticated()"></th:block>
  <th:block th:replace="common :: nav_bar(activeItem = 'home')" sec:authorize="isAuthenticated()"></th:block>
  <eki-toast id="recovery-toast-container"></eki-toast>
  <div class="icons-bg-page">
    <form class="icons-bg-page__form" id="passRecoveryForm" th:action="@{/submit}" method="post">
      <h1 class="icons-bg-page__title" th:text="#{register.password.set}">Parooli lähtestamine</h1>
      <th:block th:replace="components :: input_text(
        id = 'recovery-email',
        type = 'email',
        label = #{register.email},
        name = 'email',
        placeholder = #{label.recovery.email.placeholder},
        value = ${userEmail},
        required = ${true},
        autofocus = ${true})"></th:block>
      <div class="icons-bg-page__actions">
        <a th:href="@{/}" th:text="#{label.recovery.cancel}">Tühista</a>
        <button type="submit" 
                id="passRecoveryBtn"
                th:text="#{register.set.password}" 
                th:data-code="${botProtectionCode}" 
                data-plugin="passwordRecoveryPlugin" 
                class="button">
          Lähtesta parool
        </button>
      </div>
    </form>
  </div>
  <th:block th:replace="components :: footer"></th:block>
  <script th:inline="javascript">
		$(document).ready(
			function() {
				const toastContainer = document.getElementById('recovery-toast-container');
				// The following comment syntax is for thymeleaf to embed variables
				const successMessage = /*[[${message}]]*/"";
				const warning = /*[[${warning}]]*/"";
				if (!successMessage && !warning) {
					return;
				}
				toastContainer.addToast({
					body : successMessage || warning,
					closeLabel : /*[[#{common.close}]]*/"",
					id : 'recovery-toast',
					type : successMessage ? 'success' : 'warning'
				});
			});
  </script>
</body>
</html>
