<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(_,_)">
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'home')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{register.user.password.set(${userEmail})}"></h5>
      </div>
      <div class="card-body">
        <div class="alert alert-danger" role="alert" th:if="${error}">
          <span th:text="${error}"></span>
        </div>
        <div class="row">
          <div class="col-8">
            <form th:action="@{/passwordset}" method="post">
              <input type="hidden" name="recoveryKey" th:value="${recoveryKey}">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <span class="float-right" th:text="#{register.new.password}">Uus Salasõna</span>
                </label>
                <div class="col-sm-2">
                  <input type="password" class="form-control" name="salasona" minlength="8" th:title="#{register.password.min.length}" autofocus>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                  <span class="float-right" th:text="#{register.password.again}">Parool uuesti</span>
                </label>
                <div class="col-sm-2">
                  <input type="password" class="form-control" name="salasona2">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                  <button type="submit" class="btn btn-primary" th:text="#{common.save}">Salvesta</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>