<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{permissions.title}">Kasutajaõiguste haldus</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'permissions')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{permissions.title}">Kasutajaõiguste haldus</h5>
      </div>
      <div class="card-body">
        <div>
          <form th:action="@{/permissions/search}" method="post">
            <div class="form-group row">
              <div class="col-3">
                <input type="text" class="form-control" name="userNameFilter" th:value="${permSearchBean.userNameFilter}" th:placeholder="#{permissions.placeholder.search}">
              </div>
              <div class="col-3">
                <select class="form-control" name="userPermDatasetCodeFilter">
                  <option value="" th:text="#{permissions.dataset}">Sõnakogu</option>
                  <option th:each="dataset : ${userOwnedDatasets}"
                          th:value="${dataset.code}"
                          th:text="${dataset.name}"
                          th:selected="${dataset.code == permSearchBean.userPermDatasetCodeFilter}">name</option>
                </select>
              </div>
              <div class="col-2">
                <div class="form-control">
                  <input type="checkbox" class="ml-1 form-check-input" name="userEnablePendingFilter" th:checked="${permSearchBean.userEnablePendingFilter}">
                  <label class="ml-4 form-check-label" th:text="#{permissions.pending.applications}">Uued avaldused</label>
                </div>
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary" th:text="#{common.search}">Otsi</button>
              </div>
            </div>
          </form>
        </div>
        <div class="float-left w-100">
          <th:block th:fragment="permissions">
            <div id="permissionsArea">
              <th:block th:if="${not #lists.isEmpty(ekiUserPermissions)}">
                <div class="mb-2">
                  <span th:text="#{permissions.results}">Tulemusi:</span>
                  <span th:text="${#lists.size(ekiUserPermissions)}"></span>
                </div>
                <table class="table table-striped m-0 p-0 table-hover">
                  <tr>
                    <th class="p-1"></th>
                    <th class="p-1 text-nowrap">
                      <form th:action="@{/permissions/orderby}" method="post">
                        <input type="hidden" name="orderBy" value="DATE">
                        <button type="submit" class="btn badge badge-light">
                          <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                        </button>
                        <span th:text="#{permissions.date}">Kuupäev</span>
                      </form>
                    </th>
                    <th class="p-1 text-nowrap">
                      <form th:action="@{/permissions/orderby}" method="post">
                        <input type="hidden" name="orderBy" value="NAME">
                        <button type="submit" class="btn badge badge-light">
                          <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                        </button>
                        <span th:text="#{permissions.name}">Nimi</span>
                      </form>
                    </th>
                    <th class="p-1" th:text="#{permissions.email}">E-post</th>
                    <th class="p-1 text-center" th:text="#{permissions.api}">api</th>
                    <th class="p-1 text-center" th:text="#{permissions.crud}">crud</th>
                    <th class="p-1 text-center" th:text="#{permissions.admin}">Admin</th>
                    <th class="p-1 text-center" th:text="#{permissions.master}">Ülevaataja</th>
                    <th class="p-1 text-center" th:text="#{permissions.enabled}">Lubatud</th>
                    <th class="p-1" th:text="#{permissions.comment}">Kommentaar</th>
                    <th class="p-1" th:text="#{permissions.applications}">Avaldused</th>
                    <th class="p-1" colspan="3" th:text="#{permissions.dataset.permissions}">Load</th>
                  </tr>
                  <th:block th:each="userPerm : ${ekiUserPermissions}"
                            th:with="
                              isOwnPermission=${@permDataUtil.isOwnPermission(userPerm.id)},
                              isAdmin=${userRoleData.admin},
                              isDatasetOwnerOrAdmin=${userRoleData.datasetOwnerOrAdmin}">
                    <tr>
                      <td class="p-1 text-center">
                        <span th:if="${userPerm.enablePending}" class="fa fa-circle"></span>
                      </td>
                      <td class="p-1">
                        <span th:text="${#dates.format(userPerm.createdOn, 'dd.MM.yyyy')}"></span>
                      </td>
                      <td class="p-1 text-nowrap">
                        <span th:text="${userPerm.name}"></span>
                      </td>
                      <td class="p-1">
                        <span th:text="${userPerm.email}"></span>
                      </td>
                      <td class="p-1 text-center">
                        <span class="text-success fa" th:classappend="${userPerm.apiKeyExists ? 'fa-check' : ''}"></span>
                      </td>
                      <td class="p-1 text-center">
                        <input type="checkbox"
                               th:data-id="${userPerm.id}"
                               data-plugin="userApiCrudCheck"
                               th:checked="${userPerm.apiCrud}"
                               th:disabled="${!(userPerm.apiKeyExists && #vars.isAdmin)}"/>
                      </td>
                      <td class="p-1 text-center">
                        <input type="checkbox"
                               th:data-id="${userPerm.id}"
                               data-plugin="userAdminCheck"
                               th:checked="${userPerm.admin}"
                               th:disabled="${(#vars.isOwnPermission) || (!#vars.isAdmin)}"/>
                      </td>
                      <td class="p-1 text-center">
                        <input type="checkbox"
                               th:data-id="${userPerm.id}"
                               data-plugin="userMasterCheck"
                               th:checked="${userPerm.master}"
                               th:disabled="${(#vars.isOwnPermission) || (!#vars.isAdmin)}"/>
                      </td>
                      <td class="p-1 text-center">
                        <input type="checkbox"
                               th:data-id="${userPerm.id}"
                               data-plugin="userEnableCheck"
                               th:checked="${userPerm.enabled}"
                               th:disabled="${#vars.isOwnPermission}"/>
                      </td>
                      <td class="p-1">
                        <div th:replace="permdialog :: edit_review_comment_dlg"></div>
                        <button type="button" class="btn badge badge-success" th:title="#{permissions.add.comment}"
                                data-toggle="modal"
                                th:data-target="${'#editPermReviewCommentDlg_' + userPerm.id}"
                                sec:authorize="${#vars.isDatasetOwnerOrAdmin}"
                                th:if="${#strings.isEmpty(userPerm.reviewComment)}">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <div class="invisible-buttons" th:unless="${#strings.isEmpty(userPerm.reviewComment)}">
                          <span th:text="${userPerm.reviewComment}"></span>
                          <button type="button" class="btn badge badge-primary" th:title="#{common.edit}"
                                  data-toggle="modal"
                                  th:data-target="${'#editPermReviewCommentDlg_' + userPerm.id}"
                                  sec:authorize="${#vars.isDatasetOwnerOrAdmin}">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn badge badge-warning"
                                  th:title="#{permissions.delete.comment}"
                                  th:data-id="${userPerm.id}"
                                  data-plugin="deletePermReviewCommentPlugin"
                                  sec:authorize="${#vars.isDatasetOwnerOrAdmin}">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                        </div>
                      </td>
                      <td class="p-1">
                        <span th:if="${#lists.isEmpty(userPerm.applications)}">-</span>
                        <th:block th:each="userApplication,userApplicationIter : ${userPerm.applications}">
                          <div class="border">
                            <span class="lbl" th:text="#{permissions.status}">Staatus</span>
                            <span th:text="#{|applicationstatus.${userApplication.status}|}"></span>
                            <div th:replace="permdialog :: approve_application_dlg"></div>
                            <th:block th:if="${userApplication.status == T(eki.ekilex.constant.ApplicationStatus).NEW}">
                              <button type="button" class="btn btn-xs badge badge-success" data-toggle="modal"
                                      th:title="#{permissions.approve.application}"
                                      th:data-target="${'#approveApplicationDlg_' + userApplication.id}"
                                      sec:authorize="${#vars.isDatasetOwnerOrAdmin}"
                                      th:disabled="${#vars.isOwnPermission}">
                                <i class="fa fa-check" aria-hidden="true"></i>
                              </button>
                              <button class="btn btn-xs badge badge-warning" data-toggle="reject-application-confirm" data-placement="right"
                                      th:data-application-id="${userApplication.id}"
                                      sec:authorize="${#vars.isDatasetOwnerOrAdmin}"
                                      th:disabled="${#vars.isOwnPermission}">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                              </button>
                            </th:block>
                            <br/>
                            <span class="lbl" th:text="#{permissions.time}">Aeg</span>
                            <span th:text="${#dates.format(userApplication.created, 'dd.MM.yyyy HH:mm')}"></span>
                            <br/>
                            <span class="lbl" th:text="#{permissions.dataset}">Sõnakogu</span>
                            <span th:text="${userApplication.datasetName}"></span>
                            <br/>
                            <span class="lbl" th:text="#{permissions.wished.auth.op}">Soovitud õigus</span>
                            <span th:text="#{|authorityoperation.${userApplication.authOperation}|}"></span>
                            <br/>
                            <span class="lbl" th:text="#{permissions.lang}">Keel</span>
                            <span th:if="${!#strings.isEmpty(userApplication.lang)}" th:text="${userApplication.langValue}"></span>
                            <span th:if="${#strings.isEmpty(userApplication.lang)}">-</span>
                            <th:block th:if="${!#strings.isEmpty(userApplication.comment)}">
                              <br/>
                              <span class="lbl" th:text="#{permissions.comment}">Kommentaar</span>
                              <span th:text="${userApplication.comment}"></span>
                            </th:block>
                          </div>
                        </th:block>
                      </td>
                      <td class="p-1">
                        <div th:replace="permdialog :: add_dataset_perm_dlg"></div>
                        <button type="button" class="btn badge badge-success" th:title="#{permissions.add.dataset.permission}"
                                data-toggle="modal"
                                th:data-target="${'#addDatasetPermissionDlg_' + userPerm.id}"
                                sec:authorize="${#vars.isDatasetOwnerOrAdmin}"
                                th:disabled="${#vars.isOwnPermission}">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </td>
                      <td class="p-1">
                        <th:block th:each="datasetPerm,datasetPermIter : ${userPerm.datasetPermissions}">
                          <div class="invisible-buttons text-nowrap">
                            <span th:text="${datasetPerm.datasetCode}"></span>
                            <span th:text="${datasetPerm.authOperation}"></span>
                            <span th:if="${datasetPerm.authLang != null}">
                              <span th:text="${datasetPerm.authLang}"></span>
                            </span>
                            <button class="btn badge badge-warning"
                                    th:data-id="${datasetPerm.id}"
                                    data-toggle="delete-confirm"
                                    data-placement="right"
                                    sec:authorize="${#vars.isDatasetOwnerOrAdmin}"
                                    th:disabled="${#vars.isOwnPermission}">
                              <i class="fa fa-remove" aria-hidden="true"></i>
                            </button>
                          </div>
                        </th:block>
                      </td>
                      <td class="p-1">
                        <button type="button" class="btn badge"
                                data-toggle="send-mail-confirm"
                                data-placement="top"
                                th:data-user-email="${userPerm.email}"
                                sec:authorize="${#vars.isDatasetOwnerOrAdmin}"
                                th:disabled="${#vars.isOwnPermission}">
                          <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </th:block>
                </table>
              </th:block>
            </div>
            <script type="text/javascript">
              $('[data-toggle=delete-confirm]').confirmation({
                btnOkLabel : /*[[#{common.yes}]]*/'Jah',
                btnCancelLabel : /*[[#{common.no}]]*/'Ei',
                title : /*[[#{common.confirm.delete}]]*/'Kinnita kustutamine',
                onConfirm: function () {
                  let datasetPermId = $(this).data('id');
                  deleteDatasetPermission(datasetPermId);
                }
              });
              $('[data-toggle=send-mail-confirm]').confirmation({
                btnOkLabel : /*[[#{common.yes}]]*/'Jah',
                btnCancelLabel : /*[[#{common.no}]]*/'Ei',
                title : /*[[#{permissions.send.email.confirmation}]]*/'Saada kasutajale e-postiga olemasolevate õiguste nimekiri',
                onConfirm : function() {
                  let userEmail = $(this).data('user-email');
                  sendPermissionsEmail(userEmail);
                }
              });
              $('[data-toggle=reject-application-confirm]').confirmation({
                btnOkLabel : /*[[#{common.yes}]]*/'Jah',
                btnCancelLabel : /*[[#{common.no}]]*/'Ei',
                title : /*[[#{permissions.confirm.application.reject}]]*/'Kinnita avalduse tagasilükkamine',
                onConfirm: function () {
                  let applicationId = $(this).data('application-id');
                  rejectApplication(applicationId);
                }
              });
            </script>
          </th:block>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #alertSmall"></div>
  <div th:replace="common :: #waitDlg"></div>
</body>
</html>
