<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title>EKILEX kasutajaõigused</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-permissions.js}"></script>
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">Kasutajaõiguste haldus</h5>
      </div>
      <div class="card-body">
        <div class="float-left mt-3 w-100">
          <th:block th:fragment="permissions">
            <div id="permissionsArea">
              <table class="table table-striped m-0 p-0">
                <tr>
                  <th class="m-1 p-1"></th>
                  <th class="m-1 p-1">Nimi</th>
                  <th class="m-1 p-1">E-post</th>
                  <th class="m-1 p-1 text-center">Admin</th>
                  <th class="m-1 p-1 text-center">Lubatud</th>
                  <th class="m-1 p-1">Avaldused</th>
                  <th class="m-1 p-1" colspan="2">Load</th>
                </tr>
                <th:block th:each="userPerm : ${ekiUserPermissions}">
                  <tr>
                    <td class="m-1 p-1 text-center">
                      <span th:if="${userPerm.enablePending}" class="fa fa-circle"></span>
                    </td>
                    <td class="m-1 p-1">
                      <span th:text="${userPerm.name}"></span>
                    </td>
                    <td class="m-1 p-1">
                      <span th:text="${userPerm.email}"></span>
                    </td>
                    <td class="m-1 p-1 text-center">
                      <input type="checkbox" th:data-id="${userPerm.id}" name="userAdminCheck" th:checked="${userPerm.admin}" th:disabled="${#authentication.principal.id == userPerm.id}"/>
                    </td>
                    <td class="m-1 p-1 text-center">
                      <input type="checkbox" th:data-id="${userPerm.id}" name="userEnableCheck" th:checked="${userPerm.enabled}" th:disabled="${#authentication.principal.id == userPerm.id}"/>
                    </td>
                    <td class="m-1 p-1">
                      <span th:if="${#lists.isEmpty(userPerm.applications)}">-</span>
                      <th:block th:each="userApplication,userApplicationIter : ${userPerm.applications}">
                        <span th:text="${#dates.format(userApplication.created, 'dd.MM.yyyy HH:mm')}"></span>
                        <span th:if="${userApplication.datasetCodes != null}" th:text="${userApplication.datasetCodes}"></span>
                        <span th:if="${!#strings.isEmpty(userApplication.comment)}" th:text="${userApplication.comment}"></span>
                      </th:block>
                    </td>
                    <td class="m-1 p-1">
                      <button type="button" class="btn badge badge-success" title="Lisa luba"
                              th:data-id="${userPerm.id}"
                              onclick="openAddDatasetPermissionDlg(this)"
                              data-toggle="modal" data-target="#addDatasetPermissionDlg">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td class="m-1 p-1">
                      <th:block th:each="datasetPerm,datasetPermIter : ${userPerm.datasetPermissions}">
                        <div>
                          <span th:text="${datasetPerm.datasetCode}"></span>
                          <span th:text="${datasetPerm.authOperation}"></span>
                          <span th:text="${datasetPerm.authItem}"></span>
                          <span th:if="${datasetPerm.authLang != null}">
                            <span th:text="${datasetPerm.authLang}"></span>
                          </span>
                        </div>
                      </th:block>
                    </td>
                  </tr>
                </th:block>
              </table>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </div>
  <div id="addDatasetPermissionDlg" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/permissions/adddatasetperm}" method="post">
          <input type="hidden" id="datasetPermUserId" name="userId"/>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-10">
                <select class="form-control" name="datasetCode">
                  <option value="" disabled selected>Vali</option>
                  <option th:each="dataset : ${allDatasets}"
                          th:value="${dataset.code}"
                          th:text="${dataset.name}">name</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-5">
                <select class="form-control" name="authItem">
                  <option value="" disabled selected>Vali</option>
                  <option th:each="authItem : ${T(eki.common.constant.AuthorityItem).values()}"
                          th:value="${authItem}" 
                          th:text="${authItem}">
                  </option>
                </select>
              </div>
              <div class="col-5">
                <select class="form-control" name="authOp">
                  <option value="" disabled selected>Vali</option>
                  <option th:each="authOp : ${T(eki.common.constant.AuthorityOperation).values()}"
                          th:value="${authOp}"
                          th:text="${authOp}">
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-10">
                <select class="form-control" name="authLang">
                  <option value="" disabled selected>Vali</option>
                  <option th:each="language : ${allLanguages}"
                          th:value="${language.code}"
                          th:text="${language.value}">language</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Lisa</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
