<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title>EKILEX kasutajaõigused</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-permissions.js}"></script>
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">Kasutajaõiguste haldus</h5>
      </div>
      <div class="card-body">
        <div class="float-left mt-3 w-100">
          <th:block th:fragment="permissions">
            <div id="permissionsArea">
              <table class="table table-striped m-0 p-0 table-hover">
                <tr>
                  <th class="m-1 p-1"></th>
                  <th class="m-1 p-1">
                    <form th:action="@{/permissions}" method="post">
                      <input type="hidden" name="orderBy" value="DATE">
                      <button type="submit" class="btn badge badge-light">
                        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                      </button>
                      Kuupäev
                    </form>
                  </th>
                  <th class="m-1 p-1">
                    <form th:action="@{/permissions}" method="post">
                      <input type="hidden" name="orderBy" value="NAME">
                      <button type="submit" class="btn badge badge-light">
                        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                      </button>
                      Nimi
                    </form>
                  </th>
                  <th class="m-1 p-1">E-post</th>
                  <th class="m-1 p-1 text-center">Admin</th>
                  <th class="m-1 p-1 text-center">Lubatud</th>
                  <th class="m-1 p-1 text-center">Tegeletud</th>
                  <th class="m-1 p-1">Kommentaar</th>
                  <th class="m-1 p-1">Avaldused</th>
                  <th class="m-1 p-1" colspan="3">Load</th>
                </tr>
                <th:block th:each="userPerm : ${ekiUserPermissions}">
                  <tr>
                    <td class="m-1 p-1 text-center">
                      <span th:if="${userPerm.enablePending}" class="fa fa-circle"></span>
                    </td>
                    <td class="m-1 p-1">
                      <span th:text="${#dates.format(userPerm.createdOn, 'dd.MM.yyyy')}"></span>
                    </td>
                    <td class="m-1 p-1">
                      <span th:text="${userPerm.name}"></span>
                    </td>
                    <td class="m-1 p-1">
                      <span th:text="${userPerm.email}"></span>
                    </td>
                    <td class="m-1 p-1 text-center">
                      <input type="checkbox"
                             class="form-check-input"
                             th:data-id="${userPerm.id}"
                             th:data-order-by="${orderBy}"
                             name="userAdminCheck"
                             th:checked="${userPerm.admin}"
                             th:disabled="${(#authentication.principal.id == userPerm.id) || (!#authentication.principal.admin)}"/>
                    </td>
                    <td class="m-1 p-1 text-center">
                      <input type="checkbox"
                             class="form-check-input"
                             th:data-id="${userPerm.id}"
                             th:data-order-by="${orderBy}"
                             name="userEnableCheck"
                             th:checked="${userPerm.enabled}"
                             th:disabled="${#authentication.principal.id == userPerm.id}"/>
                    </td>
                    <td class="m-1 p-1 text-center">
                      <input type="checkbox"
                             class="form-check-input"
                             th:data-id="${userPerm.id}"
                             th:data-order-by="${orderBy}"
                             name="userReviewedCheck"
                             th:checked="${userPerm.reviewed}"
                             th:disabled="${#authentication.principal.id == userPerm.id}"/>
                    </td>
                    <td class="m-1 p-1">
                      <div th:replace="permdialog :: edit_review_comment_dlg"></div>
                      <button type="button" class="btn badge badge-success" title="Lisa kommentaar"
                              data-toggle="modal"
                              th:data-target="${'#editReviewCommentDlg_' + userPerm.id}"
                              sec:authorize="${#authentication.principal.datasetOwnershipExist or #authentication.principal.admin}"
                              th:if="${#strings.isEmpty(userPerm.reviewComment)}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                      <div class="invisible-buttons" th:unless="${#strings.isEmpty(userPerm.reviewComment)}">
                        <span th:text="${userPerm.reviewComment}"></span>
                        <button type="button" class="btn badge badge-primary" title="Muuda"
                                data-toggle="modal"
                                th:data-target="${'#editReviewCommentDlg_' + userPerm.id}"
                                sec:authorize="${#authentication.principal.datasetOwnershipExist or #authentication.principal.admin}">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <a class="btn badge badge-warning"
                           title="Kustuta kommentaar"
                           th:href="@{'/permissions/deletereviewcomment/' + ${userPerm.id} + '/' + ${orderBy}}"
                           sec:authorize="${#authentication.principal.datasetOwnershipExist or #authentication.principal.admin}">
                          <i class="fa fa-remove" aria-hidden="true"></i>
                        </a>
                      </div>
                    </td>
                    <td class="m-1 p-1">
                      <span th:if="${#lists.isEmpty(userPerm.applications)}">-</span>
                      <th:block th:each="userApplication,userApplicationIter : ${userPerm.applications}">
                        <span th:text="${#dates.format(userApplication.created, 'dd.MM.yyyy HH:mm')}"></span>
                        <span th:if="${userApplication.datasetCodes != null}" th:text="${userApplication.datasetCodes}"></span>
                        <span th:if="${!#strings.isEmpty(userApplication.comment)}" th:text="${userApplication.comment}"></span>
                      </th:block>
                    </td>
                    <td class="m-1 p-1 text-center">
                      <div th:replace="permdialog :: add_dataset_perm_dlg"></div>
                      <button type="button" class="btn badge badge-success" title="Lisa luba"
                              data-toggle="modal"
                              th:data-target="${'#addDatasetPermissionDlg_' + userPerm.id}"
                              sec:authorize="${#authentication.principal.datasetOwnershipExist or #authentication.principal.admin}"
                              th:disabled="${#authentication.principal.id == userPerm.id}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td class="m-1 p-1" style="width: 160px">
                      <th:block th:each="datasetPerm,datasetPermIter : ${userPerm.datasetPermissions}">
                        <div class="invisible-buttons">
                          <span th:text="${datasetPerm.datasetCode}"></span>
                          <span th:text="${datasetPerm.authOperation}"></span>
                          <span th:text="${datasetPerm.authItem}"></span>
                          <span th:if="${datasetPerm.authLang != null}">
                            <span th:text="${datasetPerm.authLang}"></span>
                          </span>
                          <button class="btn badge badge-warning"
                                  th:data-id="${datasetPerm.id}"
                                  th:data-order-by="${orderBy}"
                                  data-toggle="delete-confirm"
                                  data-placement="right"
                                  sec:authorize="${#authentication.principal.datasetOwnershipExist or #authentication.principal.admin}"
                                  th:disabled="${#authentication.principal.id == userPerm.id}">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                        </div>
                      </th:block>
                    </td>
                    <td class="m-1 p-1">
                      <button type="button" class="btn badge"
                              data-toggle="send-mail-confirm"
                              data-placement="top"
                              th:data-user-email="${userPerm.email}"
                              sec:authorize="${#authentication.principal.datasetOwnershipExist or #authentication.principal.admin}"
                              th:disabled="${#authentication.principal.id == userPerm.id}">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </th:block>
              </table>
            </div>
            <script type="text/javascript">
              $('[data-toggle=delete-confirm]').confirmation({
                btnOkLabel: 'Jah',
                btnCancelLabel: 'Ei',
                title: 'Palun kinnita kustutamine',
                onConfirm: function () {
                  let datasetPermId = $(this).data('id');
                  let orderBy = $(this).data('order-by');
                  deleteDatasetPermission(datasetPermId, orderBy);
                }
              });
              $('[data-toggle=send-mail-confirm]').confirmation({
                btnOkLabel : 'Jah',
                btnCancelLabel : 'Ei',
                title : 'Saada kasutajale e-postiga olemasolevate õiguste nimekiri',
                onConfirm : function() {
                  let userEmail = $(this).data('user-email');
                  sendPermissionsEmail(userEmail);
                }
              });
            </script>
          </th:block>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common :: #alertDlg"></div>
</body>
</html>
