<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div th:id="${'addDatasetPermissionDlg_' + userPerm.id}" class="modal" role="dialog" th:fragment="add_dataset_perm_dlg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/permissions/adddatasetperm}" method="post">
          <input type="hidden" name="userId" th:value="${userPerm.id}"/>
          <input type="hidden" name="orderBy" th:value="${orderBy}"/>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-12">
                <label class="col-form-label" th:text="#{permissions.dataset}">Sõnakogu</label>
                <select required class="form-control required-field" name="datasetCode" data-plugin="permDatasetCodeSelect">
                  <option value="" disabled selected th:text="#{common.select}">Vali</option>
                  <option th:each="dataset : ${userOwnedDatasets}"
                          th:value="${dataset.code}"
                          th:text="${dataset.name}">name</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <label class="col-form-label" th:text="#{permissions.auth.op}">Õigus</label>
                <select required class="form-control required-field" name="authOp">
                  <option value="" disabled selected th:text="#{common.select}">Vali</option>
                  <option th:each="authOp : ${T(eki.common.constant.AuthorityOperation).values()}"
                          th:value="${authOp}"
                          th:text="#{|authorityoperation.${authOp}|}">
                  </option>
                </select>
              </div>
              <div class="col-6">
                <label class="col-form-label" th:text="#{permissions.lang}">Keel</label>
                <select class="form-control" name="authLang">
                  <option value="" selected th:text="#{common.all.languages}">Kõik keeled</option>
                  <option th:each="language : ${allLanguages}"
                          th:value="${language.code}"
                          th:text="${language.value}">language</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-plugin="addDatasetPermPlugin" th:text="#{common.add}">Lisa</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="${'approveApplicationDlg_' + userApplication.id}" class="modal" role="dialog" th:fragment="approve_application_dlg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/permissions/adddatasetperm}" method="post">
          <input type="hidden" name="userId" th:value="${userPerm.id}"/>
          <input type="hidden" name="userApplicationId" th:value="${userApplication.id}"/>
          <input type="hidden" name="orderBy" th:value="${orderBy}"/>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-12">
                <label class="col-form-label" th:text="#{permissions.dataset}">Sõnakogu</label>
                <select required class="form-control required-field" name="datasetCode" data-plugin="permDatasetCodeSelect" readonly>
                  <option th:value="${userApplication.datasetCode}" selected th:text="${userApplication.datasetName}"></option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <label class="col-form-label" th:text="#{permissions.auth.op}">Õigus</label>
                <select required class="form-control required-field" name="authOp">
                  <option th:each="authOp : ${T(eki.common.constant.AuthorityOperation).values()}"
                          th:value="${authOp}"
                          th:selected="${authOp == userApplication.authOperation}"
                          th:text="#{|authorityoperation.${authOp}|}">
                  </option>
                </select>
              </div>
              <div class="col-6">
                <label class="col-form-label" th:text="#{permissions.lang}">Keel</label>
                <select class="form-control" name="authLang">
                  <option value="" selected th:text="#{common.all.languages}">Kõik keeled</option>
                  <option th:each="language : ${allLanguages}"
                          th:value="${language.code}"
                          th:selected="${language.code == userApplication.lang}"
                          th:text="${language.value}">language</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-plugin="addDatasetPermPlugin" th:text="#{common.add}">Lisa</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="${'editPermReviewCommentDlg_' + userPerm.id}" class="modal" role="dialog" th:fragment="edit_review_comment_dlg">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/permissions/updatereviewcomment}" method="post">
          <input type="hidden" name="userId" th:value="${userPerm.id}"/>
          <input type="hidden" name="orderBy" th:value="${orderBy}"/>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-md-12">
                <textarea class="form-control" rows="4" name="reviewComment" th:text="${userPerm.reviewComment}"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-plugin="editPermReviewCommentPlugin" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
