<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block>
    <div th:fragment="details" style="width: 100%">
      <div th:each="logRow : ${processLog}">
        <div class="card p-2 mt-2">
          <div class="row">
            <div class="col-11 stxt">
              <span th:text="${#dates.format(logRow.eventOn, 'dd.MM.yyyy HH:mm')}"></span>
              -
              <span th:text="${logRow.eventBy}"></span>
              <span th:if="${logRow.processStateCode != null}">muutis haldusolekut</span>
            </div>
            <div class="col-1">
              <span class="float-right" th:text="${logRow.datasetCode}"></span>
            </div>
          </div>

          <div class="row" th:if="${logRow.processStateCode != null}">
            <div class="col-5 text-center">
              <span th:text="${logRow.comment}"></span>
            </div>
            <div class="col-1">
              <span class="fa fa-chevron-right"></span>
            </div>
            <div class="col-5 text-center">
              <span th:text="${logRow.processStateCode}"></span>
            </div>
          </div>

          <div class="row" th:if="${logRow.processStateCode == null}">
            <div class="col-11" th:utext="${logRow.comment}"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </th:block>
</body>
</html>