<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(_,_)">
</head>
<body class="body-with-navbar">
<th:block th:replace="common :: nav_bar"></th:block>
<div class="container-fluid">
  <div class="card mt-4 shadow">
    <div class="card-header">
      <h5 class="card-title">Kasutajaks registreerumine</h5>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" role="alert" th:if="${error_message}">
        <span th:text="${error_message}"></span>
      </div>
      <form th:action="@{/register}" method="post">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Ees- ja perekonnanimi</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="name" th:value="${userName}" th:autofocus="${userName == null}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">E-posti aadress</label>
          <div class="col-sm-3">
            <input type="email" class="form-control" name="email" placeholder="E-posti aadress"  th:value="${userEmail}">
          </div>
        </div>
        <div class="form-group row validation">
          <label class="col-sm-2 col-form-label">Kontroll kood</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="ccode">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Parool</label>
          <div class="col-sm-2">
            <input type="password" class="form-control" name="password" th:autofocus="${userName != null}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Parool uuesti</label>
          <div class="col-sm-2">
            <input type="password" class="form-control" name="password2">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Registreeru</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
