<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="term_dataset_form">
  <form id="term-dataset-form" th:action="@{/reports/generate/term-dataset}" method="post" data-plugin="generateReportPlugin">
    <div class="form-group row">
      <label class="col-md-2 col-form-label" th:text="#{report.period}">Periood</label>
      <div class="col-md-2 input-group date"
           data-provide="datepicker"
           data-date-language="et"
           data-date-autoclose="true"
           th:title="#{report.period.from}">
        <input type="text" class="form-control bg-white required-field" name="dateFrom" readonly>
        <div class="input-group-addon input-group-append">
          <div class="input-group-text">
            <i class="fa fa-calendar fa-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-md-2 input-group date"
           data-provide="datepicker"
           data-date-language="et"
           data-date-autoclose="true"
           th:title="#{report.period.until}">
        <input type="text" class="form-control bg-white required-field" name="dateUntil" readonly>
        <div class="input-group-addon input-group-append">
          <div class="input-group-text">
            <i class="fa fa-calendar fa-lg"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" th:text="#{report.datasets}">Sõnakogud</label>
      <div class="col-md-4">
        <select id="term-dataset-select" name="datasetCodes" class="form-control classifier-select multi-select required-field" multiple
                data-live-search="true"
                data-actions-box="true"
                th:title="#{report.select.datasets}"
                th:data-select-all-text="#{common.select.all}"
                th:data-deselect-all-text="#{common.unselect.all}">
          <option th:each="dataset : ${reportDatasets}"
                  th:value="${dataset.code}"
                  th:text="${dataset.name}">
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-md-2 col-md-4">
        <button type="submit" class="btn btn-primary" th:text="#{report.generate}">Genereeri</button>
      </div>
    </div>
  </form>
</th:block>
<th:block th:fragment="term_dataset_content">
  <div class="mb-3">
    <span th:text="#{report.period}">Periood</span>:
    <span th:text="${#temporals.format(reportContent.parameters.dateFrom, 'dd.MM.yyyy')}"></span>
    –
    <span th:text="${#temporals.format(reportContent.parameters.dateUntil, 'dd.MM.yyyy')}"></span>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm m-0 p-0">
      <tr>
        <th class="py-1 px-3 align-bottom" th:text="#{report.termdataset.dataset}">Sõnakogu</th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.public.meaning.count}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.all.meaning.count}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.public.term.count}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.all.term.count}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.create.meaning.count}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.update.meaning.count}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.with.domain.meaning.count}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.with.domain.meaning.percent}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.with.domain.update.meaning.count}"></th>
        <th class="py-1 px-3 text-right align-bottom" th:text="#{report.termdataset.with.domain.update.meaning.percent}"></th>
        <th class="py-1 px-3 align-bottom" th:text="#{report.termdataset.without.domain.term.sample}"></th>
      </tr>
      <tr th:each="row : ${reportContent.rows}">
        <td class="py-1 px-3 text-nowrap" th:text="${row.datasetName}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.publicMeaningCount}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.allMeaningCount}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.publicTermCount}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.allTermCount}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.createMeaningCount}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.updateMeaningCount}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.withDomainMeaningCount}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.withDomainMeaningPercent}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.withDomainUpdateMeaningCount}"></td>
        <td class="py-1 px-3 text-right" th:text="${row.withDomainUpdateMeaningPercent}"></td>
        <td class="py-1 px-3 text-nowrap" th:text="${row.withoutDomainTermSample}"></td>
      </tr>
    </table>
  </div>
</th:block>
</body>
</html>