<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="syn_work_form">
  <form id="syn-work-form" th:action="@{/reports/generate/syn-work}" method="post" data-plugin="generateReportPlugin">
    <div class="form-group row">
      <label class="col-md-2 col-form-label" th:text="#{report.period}">Periood</label>
      <div class="col-md-2 input-group date"
           data-provide="datepicker"
           data-date-language="et"
           data-date-autoclose="true"
           data-date-orientation="bottom"
           th:title="#{report.period.from}">
        <input type="text" class="form-control bg-white required-field" name="dateFrom" readonly>
        <div class="input-group-addon input-group-append">
          <div class="input-group-text">
            <i class="fa fa-calendar fa-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-md-2 input-group date"
           data-provide="datepicker"
           data-date-language="et"
           data-date-autoclose="true"
           data-date-orientation="bottom"
           th:title="#{report.period.until}">
        <input type="text" class="form-control bg-white required-field" name="dateUntil" readonly>
        <div class="input-group-addon input-group-append">
          <div class="input-group-text">
            <i class="fa fa-calendar fa-lg"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-md-2 col-md-4">
        <button type="submit" class="btn btn-primary" th:text="#{report.generate}">Genereeri</button>
      </div>
    </div>
  </form>
</th:block>
<th:block th:fragment="term_dataset_form">
  <form id="term-dataset-form" th:action="@{/reports/generate/term-dataset}" method="post" data-plugin="generateReportPlugin">
    <div class="form-group row">
      <label class="col-md-2 col-form-label" th:text="#{report.period}">Periood</label>
      <div class="col-md-2 input-group date"
           data-provide="datepicker"
           data-date-language="et"
           data-date-autoclose="true"
           data-date-orientation="bottom"
           th:title="#{report.period.from}">
        <input type="text" class="form-control bg-white required-field" name="dateFrom" readonly>
        <div class="input-group-addon input-group-append">
          <div class="input-group-text">
            <i class="fa fa-calendar fa-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-md-2 input-group date"
           data-provide="datepicker"
           data-date-language="et"
           data-date-autoclose="true"
           data-date-orientation="bottom"
           th:title="#{report.period.until}">
        <input type="text" class="form-control bg-white required-field" name="dateUntil" readonly>
        <div class="input-group-addon input-group-append">
          <div class="input-group-text">
            <i class="fa fa-calendar fa-lg"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" th:text="#{report.datasets}">Sõnakogud</label>
      <div class="col-md-4">
        <select id="term-dataset-select" name="datasetCodes" class="form-control classifier-select multi-select required-field" multiple
                data-live-search="true"
                data-actions-box="true"
                th:title="#{report.select.datasets}"
                th:data-select-all-text="#{common.select.all}"
                th:data-deselect-all-text="#{common.unselect.all}">
          <option th:each="dataset : ${reportDatasets}"
                  th:value="${dataset.code}"
                  th:text="${dataset.name}">
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-md-2 col-md-4">
        <button type="submit" class="btn btn-primary" th:text="#{report.generate}">Genereeri</button>
      </div>
    </div>
  </form>
</th:block>
</body>
</html>