<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div class="modal-body" data-name="sourceLinkDlgContent" th:fragment="source_link_dlg">
    <div id="noSourcesFoundDiv" th:unless="${sourceSearchResult.resultExist}">
      <span th:text="#{source.search.not.found}">Nothing found</span>
      <button class="btn btn-primary ml-4" th:title="#{source.add.new}" data-plugin="addSourceAndSourceLinkPlugin" sec:authorize="${#authentication.principal.datasetCrudPermissionsExist}">Lisa
        uus allikas</button>
    </div>
    <div id="addSourceDiv" style="display: none;">
      <form th:replace="components :: add_source_form"></form>
    </div>
    <div style="max-height: 80vh; overflow-y: auto; overflow-x: hidden;" th:if="${sourceSearchResult.resultExist}">
      <table class="w-100 border mb-2" th:each="source,sourceIter : ${sourceSearchResult.sources}">
        <tr>
          <td style="width: 70px; text-align: left; vertical-align: top;">
            <b>
              <span th:text="${sourceIter.count + '.'}"></span>
            </b>
          </td>
          <td>
            <div class="row mb-1">
              <div class="col-12">
                <table class="table" style="background-color: #ececec; font-weight: bold">
                  <tr>
                    <td th:text="#{source.id}">allika id</td>
                    <td th:text="${source.id}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.dataset}">sõnakogu</td>
                    <td th:text="${source.datasetCode}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.type}">tüüp</td>
                    <td th:text="#{|source.type.${source.type}|}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.name}">Lühike kuju</td>
                    <td th:text="${source.name}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.value}">Pikk kuju</td>
                    <td th:utext="${source.valuePrese}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.comment}">Mitteavalik kommentaar</td>
                    <td th:text="${source.comment}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.publicity}">Avalikkus</td>
                    <td th:text="#{|boolean.public.${source.public}|}">avalik/mitteavalik</td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 70px;"></td>
          <td>
            <th:block th:each="sourceProperty,sourcePropertyIter : ${source.sourceProperties}">
              <div class="row">
                <div class="mb-1">
                  <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                  -
                  <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}" th:style="${sourceProperty.valueMatch ? 'background-color: #eaffea' : ''}"></span>
                  <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
                </div>
              </div>
            </th:block>
          </td>
        </tr>
        <tr>
          <td style="width: 70px;"></td>
          <td colspan="2">
            <div class="row">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-auto col-form-label" th:text="#{source.link.name}">Siseviide</label>
                  <div class="col-8">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary" th:data-source-id="${source.id}" th:text="#{common.select}" th:if="${source.priority}">Vali</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-body" data-name="sourceLinkDlgContent" th:fragment="edit_source_link_dlg">
    <div class="row m-1 float-right">
      <a th:href="@{'/sourceidsearch/' + ${source.id}}" class="btn btn-secondary btn-compact" th:text="#{source.edit.source}">Muuda allikat</a>
    </div>
    <table>
      <tr>
        <td style="width: 70px;"></td>
        <td>
          <div class="row m-1">
            <div class="col-12">
              <table class="table" style="background-color: #ececec; font-weight: bold">
                <tr>
                  <td th:text="#{source.id}">allika id</td>
                  <td th:text="${source.id}"></td>
                </tr>
                <tr>
                  <td th:text="#{source.dataset}">sõnakogu</td>
                  <td th:text="${source.datasetCode}"></td>
                </tr>
                <tr>
                  <td th:text="#{source.type}">tüüp</td>
                  <td th:text="#{|source.type.${source.type}|}"></td>
                </tr>
                <tr>
                  <td th:text="#{source.name}">Lühike kuju</td>
                  <td th:text="${source.name}"></td>
                </tr>
                <tr>
                  <td th:text="#{source.value}">Pikk kuju</td>
                  <td th:utext="${source.valuePrese}"></td>
                </tr>
                <tr>
                  <td th:text="#{source.comment}">Mitteavalik kommentaar</td>
                  <td th:text="${source.comment}"></td>
                </tr>
                <tr>
                  <td th:text="#{source.publicity}">Avalikkus</td>
                  <td th:text="#{|boolean.public.${source.public}|}">avalik/mitteavalik</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <th:block th:each="sourceProperty : ${source.sourceProperties}">
            <div class="row">
              <div class="mb-1">
                <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                -
                <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}" th:style="${sourceProperty.valueMatch ? 'background-color: #eaffea' : ''}"></span>
                <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
              </div>
            </div>
          </th:block>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="row">
            <div class="col-12">
              <div class="form-group row">
                <label class="col-auto col-form-label" th:text="#{source.link.name}">Siseviide</label>
                <div class="col-8">
                  <input type="text" class="form-control" name="value" th:value="${sourceLink.name}">
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div th:fragment="search_result">
    <input type="hidden" id="pageNum" th:value="${sourceSearchResult.currentPage}">
    <div class="mt-2">
      <span th:text="#{source.results}">Tulemusi</span>
      <span th:text="${sourceSearchResult.resultCount}">123</span>
    </div>
    <div th:each="source,sourceIter : ${sourceSearchResult.sources}" class="card shadow mt-2">
      <div class="card-body">
        <span class="font-weight-bold" th:text="|${sourceSearchResult.offset + sourceIter.count}.|"></span>
        <th:block th:replace="sourcecomp :: source_details"></th:block>
      </div>
    </div>
    <div th:if="${sourceSearchResult.showPaging}">
      <div th:replace="components :: paging(${sourceSearchResult})"></div>
    </div>
    <div th:replace="common :: #alertDlg"></div>
    <div th:replace="common :: #alertSmall"></div>
    <script th:inline="javascript">
      initDeleteConfirmations();
    </script>
  </div>
  <div th:id="|sourceDetails_${source.id}|" th:fragment="source_details">
    <div class="col-auto form-inline">
      <div class="ml-auto">
        <form th:action="@{/open_source_join}" method="post">
          <input type="hidden" name="previousSearch" th:value="${simpleSearchFilter}">
          <input type="hidden" name="sourceId" th:value="${source.id}">
          <button type="submit" class="btn btn-primary btn-sm" sec:authorize="#vars.source.crudGrant" th:text="#{source.join}">Ühenda</button>
        </form>
      </div>
      <div class="ml-2">
        <button type="button" class="btn btn-warning font-weight-bold btn-sm" th:data-source-id="${source.id}" data-toggle="delete-source-confirm" sec:authorize="#vars.source.crudGrant"
          th:text="#{source.delete}">Eemalda allikas</button>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm ml-4" id="detailSearchButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{source.search.source.links}">Otsi
          viiteid</button>
        <div class="dropdown-menu" aria-labelledby="detailSearchButton">
          <a class="dropdown-item btn btn-secondary font-weight-bold btn-sm" th:href="@{'/sourcedetailsearch/lexsearch/' + ${source.id}}" th:text="#{source.lex.search}">Leks otsing</a>
          <a class="dropdown-item btn btn-secondary font-weight-bold btn-sm" th:href="@{'/sourcedetailsearch/termsearch/' + ${source.id}}" th:text="#{source.term.search}">Term otsing</a>
        </div>
      </div>
      <a th:href="@{'/sourceactivitylog:' + ${source.id}}" data-toggle="modal" data-target="#sourceActivityLogDlg" class="btn btn-secondary btn-sm ml-2"
        sec:authorize="${#authentication.principal.datasetPermissionsExist}" th:text="#{source.activity.log}">Logi</a>
    </div>
    <div>
      <div class="row">
        <div class="col-2 text-right" th:text="#{source.id}">Allika id</div>
        <div class="font-weight-bold" th:text="${source.id}"></div>
        <button type="button" class="btn badge badge-primary ml-4" data-toggle="modal" th:title="#{common.edit}" th:data-target="${'#editSourceDlg_' + source.id}"
          sec:authorize="#vars.source.crudGrant">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
        <div th:replace="sourcedialog :: edit_source_dlg"></div>
      </div>
      <div class="row">
        <div class="col-2 text-right" th:text="#{source.dataset}">Sõnakogu</div>
        <div class="font-weight-bold" th:text="${source.datasetCode}"></div>
      </div>
      <div class="row">
        <div class="col-2 text-right" th:text="#{source.name}">Lühike kuju</div>
        <div class="font-weight-bold" th:text="${source.name}"></div>
      </div>
      <div class="row">
        <div class="col-2 text-right" th:text="#{source.value}">Pikk kuju</div>
        <div class="font-weight-bold" th:utext="${source.valuePrese}"></div>
      </div>
      <div class="row">
        <div class="col-2 text-right" th:text="#{source.comment}">Mitteavalik kommentaar</div>
        <div class="font-weight-bold" th:text="${source.comment}"></div>
      </div>
      <div class="row">
        <div class="col-2 text-right" th:text="#{source.publicity}">Avalikkus</div>
        <div class="font-weight-bold" th:text="#{'boolean.public.' + ${source.public}}">avalik/mitteavalik</div>
      </div>
      <div class="row">
        <div class="col-2 text-right" th:text="#{source.type}">tüüp</div>
        <div class="font-weight-bold" th:text="#{|source.type.${source.type}|}">tüüp</div>
      </div>
    </div>
    <th:block th:if="${source.sourceProperties}">
      <div class="mt-3">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-10">
            <th:block th:each="sourceProperty : ${source.sourceProperties}">
              <div class="row">
                <div class="invisible-buttons action-buttons-anchor mw-90 mb-1">
                  <div style="display: list-item; position: absolute"></div>
                  <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                  -
                  <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}" th:style="${sourceProperty.valueMatch ? 'background-color: #eaffea' : ''}"></span>
                  <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <div th:id="|sourceDetails_${source.id}|" th:fragment="etym_source_details">
    <table class="w-100">
      <tr>
        <td style="width: 100px;"></td>
        <td>
          <div class="row mb-1">
            <table style="background-color: #ececec; font-weight: bold">
              <tr>
                <td th:text="#{source.id}">allika id</td>
                <td th:text="${source.id}"></td>
              </tr>
              <tr>
                <td th:text="#{source.type}">tüüp</td>
                <td>
                  <div class="hidden-buttons">
                    <div class="col pl-0">
                      <span th:text="#{|source.type.${source.type}|}"></span>
                      <button type="button" class="btn badge badge-primary" th:title="#{common.edit}" data-toggle="modal" th:data-target="${'#editSourceTypeDlg_' + source.id}"
                        sec:authorize="#vars.source.crudGrant">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </button>
                      <div th:replace="sourcedialog :: edit_source_dlg"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;"></td>
        <td>
          <th:block th:each="sourceProperty : ${source.sourceProperties}">
            <div class="row">
              <div class="invisible-buttons action-buttons-anchor mw-90 mb-1">
                <div style="display: list-item; position: absolute"></div>
                <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                -
                <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}" th:style="${sourceProperty.valueMatch ? 'background-color: #eaffea' : ''}"></span>
                <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
              </div>
            </div>
          </th:block>
        </td>
      </tr>
    </table>
  </div>
  <th:block th:fragment="source_join_details(targetSourceId,source)" th:if="${source != null}">
    <div>
      <table class="w-100" th:fragment="details">
        <tr>
          <td style="width: 50px"></td>
          <td>
            <div class="row mb-1">
              <div class="col-12">
                <table class="table" style="background-color: #ececec; font-weight: bold">
                  <tr>
                    <td th:text="#{source.id}">allika id</td>
                    <td th:text="${source.id}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.dataset}">sõnakogu</td>
                    <td th:text="${source.datasetCode}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.type}">tüüp</td>
                    <td th:text="#{|source.type.${source.type}|}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.name}">Lühike kuju</td>
                    <td th:text="${source.name}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.value}">Pikk kuju</td>
                    <td th:utext="${source.valuePrese}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.comment}">Mitteavalik kommentaar</td>
                    <td th:text="${source.comment}"></td>
                  </tr>
                  <tr>
                    <td th:text="#{source.publicity}">Avalikkus</td>
                    <td th:text="#{|boolean.public.${source.public}|}">avalik/mitteavalik</td>
                  </tr>
                </table>
              </div>
              <div class="ml-4">
                <form th:action="@{/source_join}" method="post">
                  <input type="hidden" name="targetSourceId" th:value="${targetSource.id}">
                  <input type="hidden" name="originSourceId" th:value="${source.id}">
                  <button type="button" class="btn btn-primary" data-toggle="join-confirm" data-placement="right" th:if="${source.id != targetSourceId}" sec:authorize="#vars.source.crudGrant"
                    th:text="#{source.join}">Ühenda</button>
                </form>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 50px"></td>
          <td>
            <th:block th:each="sourceProperty : ${source.sourceProperties}">
              <div class="row">
                <div class="mb-1">
                  <div style="display: list-item; position: absolute"></div>
                  <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                  -
                  <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}"></span>
                  <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
                </div>
              </div>
            </th:block>
          </td>
        </tr>
      </table>
    </div>
    <script th:inline="javascript">
		$('[data-toggle=join-confirm]')
				.confirmation(
						{
							btnOkLabel : /*[[#{common.yes}]]*/'Jah',
							btnCancelLabel : /*[[#{common.no}]]*/'Ei',
							title : /*[[#{source.confirm.join}]]*/'Kas olete kindel, et soovite allikad ühendada?',
							onConfirm : function() {
								$(this).closest('form').submit();
							}
						});
	</script>
  </th:block>
</body>
</html>