<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{source.search.title}">Allikate otsing</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'source')"></th:block>
  <div class="container-fluid">
    <div class="card shadow rounded-0 border-0 flex-shrink-0">
      <div class="card-body px-2 py-3">
        <form th:action="@{/sourcesearch}" method="post">
          <th:block th:replace="search :: search_form('source_search', false)"></th:block>
        </form>
      </div>
    </div>
    <div>
      <button class="btn btn-secondary mt-2"
              th:title="#{source.add.new}"
              data-toggle="modal"
              data-target="#addSourceDlg"
              sec:authorize="${#authentication.principal.datasetCrudPermissionsExist}"
              th:text="#{source.add.new}">Lisa uus allikas
      </button>
    </div>
    <div class="float-left w-100 mb-4" th:if="${sourceSearchResult.resultExist}">
      <div class="mt-2">
        <span th:text="#{source.results}">Tulemusi</span>
        <span th:text="${sourceSearchResult.resultCount}">123</span>
      </div>
      <div th:each="source,sourceIter : ${sourceSearchResult.sources}" class="card shadow mt-2">
        <div class="card-body">
          <span class="font-weight-bold" th:text="${sourceIter.count + '.'}"></span>
          <th:block th:replace="sourcecomp :: source_search_result"></th:block>
        </div>
      </div>
    </div>
  </div>
  <div id="sourceActivityLogDlg" class="modal" role="dialog" data-plugin="activityLogDlgPlugin">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  <div th:replace="sourcedialog :: add_source_dlg"></div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #alertSmall"></div>
  <script th:inline="javascript">
	  initializeSourceSearch();
  </script>
</body>
</html>
