<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{search.title}">Allikate otsing</title>
<th:block th:fragment="links">
</th:block>
</head>
<body>
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <p class="card-text">
        <a th:href="@{/}">
          <span th:text="${appData.appName + ' ' + appData.appVersion}"></span>
        </a>
      </p>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="card-title">Allikate otsing</h5>
      </div>
      <div class="card-body">
        <form th:action="@{/sourcesearch}">
          <div class="form-row">
            <div class="col-12">
              <div class="form-group row">
                <label class="col-auto col-form-label">Otsing</label>
                <div class="col-5">
                  <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" placeholder="sisesta mõni allika omaduse väärtus">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">Otsi</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div style="padding: 5px"></div>
    <div class="float-left w-75" th:if="${sourcesFoundBySearch != null}">
      <th:block th:each="source,sourceIter : ${sourcesFoundBySearch}">
        <div style="border: 1px solid #CCC; padding: 5px;">
          <table style="width: 100%">
            <tr>
              <td style="width: 50px; text-align: center; vertical-align: top; background-color: #fafafa">
                <b>
                  <span th:text="${sourceIter.count + '.'}"></span>
                </b>
              </td>
              <td style="width: 30%">
                <table>
                  <tr>
                    <th>concept</th>
                    <td th:text="${source.concept}"></td>
                  </tr>
                  <tr>
                    <th>created on</th>
                    <td th:text="${#dates.format(source.createdOn, 'dd.MM.yyyy HH:mm')}"></td>
                  </tr>
                  <tr>
                    <th>created by</th>
                    <td th:text="${source.createdBy}"></td>
                  </tr>
                  <tr>
                    <th>modified on</th>
                    <td th:text="${#dates.format(source.modifiedOn, 'dd.MM.yyyy HH:mm')}"></td>
                  </tr>
                  <tr>
                    <th>modified by</th>
                    <td th:text="${source.modifiedBy}"></td>
                  </tr>
                  <tr>
                    <th>entry class</th>
                    <td th:text="${source.entryClassCode}"></td>
                  </tr>
                  <tr>
                    <th>type</th>
                    <td th:text="${source.type}"></td>
                  </tr>
                </table>
              </td>
              <td>
                <th:block th:each="sourceHeading,sourceHeadingIter : ${source.sourceHeadings}">
                  <p>
                    <span th:text="${sourceHeading.type}"></span>
                    -
                    <i style="text-decoration: underline;">
                      <span th:text="${sourceHeading.valueText}"></span>
                    </i>
                  </p>
                  <p th:each="sourceProperty : ${sourceHeading.children}">
                    <span th:text="${sourceProperty.type}"></span>
                    -
                    <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}"></span>
                    <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
                  </p>
                  <hr th:unless="${sourceHeadingIter.last}"/>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
        <div style="padding: 5px"></div>
      </th:block>
    </div>
  </div>
</body>
</html>
