<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{source.search.title}">Allikate otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-editor.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ekilex-sourcedialog.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ekilex-sourcesearch.js}"></script>
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar"></th:block>
  <div class="container-fluid">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title">Allikate otsing</h5>
      </div>
      <div class="card-body">
        <button class="btn btn-primary position-right"
                title="Lisa uus allikas"
                data-toggle="modal"
                data-target="#addSourceDlg">
          Lisa uus allikas
        </button>
        <form id="sourceSearchForm" th:action="@{/sourcesearch}" method="post">
          <div class="form-row">
            <div class="col-12">
              <div class="form-group row">
                <label class="col-auto col-form-label">Otsing</label>
                <div class="col-5">
                  <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" placeholder="sisesta mõni allika omaduse väärtus">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">Otsi</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="float-left w-50 mb-4" th:if="${sources != null}">
      <div class="mt-2">
        <span>Tulemusi</span>
        <span th:text="${sourceCount}">123</span>
      </div>
      <th:block th:each="source,sourceIter : ${sources}" th:with="count=${sourceIter.count}">
          <th:block th:replace="sourcecomp :: source_search_result"></th:block>
      </th:block>
    </div>
  </div>
  <div th:replace="sourcedialog :: add_source_dlg"></div>
  <div th:replace="common :: #alertDlg"></div>
</body>
</html>
