<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div th:id="${'editSourceDlg_' + source.id}" class="modal" role="dialog" th:fragment="edit_source_dlg">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/update_source}" method="post" data-plugin="editSourcePlugin">
          <div class="modal-body">
            <input type="hidden" name="id" th:value="${source.id}">
            <input type="hidden" name="valuePrese" th:value="${source.valuePrese}">
            <div class="form-group row m-4">
              <label class="col-12 col-form-label" th:text="#{source.type}">Tüüp</label>
              <div class="col-md-6">
                <select required class="form-control required-field" name="type">
                  <option th:each="type : ${sourceTypes}"
                          th:value="${type}"
                          th:text="#{|source.type.${type}|}"
                          th:selected="${type == source.type}">value</option>
                </select>
              </div>
            </div>
            <div class="form-group row m-4">
              <label class="col-12 col-form-label" th:text="#{source.name}">Lühike kuju</label>
              <div class="col-md-12">
                <input class="form-control required-field" name="name" th:value="${source.name}" maxlength="50">
              </div>
              <div role="alert">
                <div class="alert alert-danger alert--form d-none" data-id="edit-source-short-name-error" th:text="#{common.error.max_length(50)}">
                  Sisend ei saa olla pikem kui 50 karakteri
                </div>
              </div>
            </div>
            <div class="form-group row m-4">
              <label class="col-12 col-form-label" th:text="#{source.value}">Pikk kuju</label>
              <div class="col-md-12">
                <div th:replace="components :: eki_editor_elem"></div>
              </div>
            </div>
            <div class="form-group row m-4">
              <label class="col-12 col-form-label" th:text="#{source.comment}">Mitteavalik kommentaar</label>
              <div class="col-md-12">
                <input class="form-control" name="comment" th:value="${source.comment}">
              </div>
            </div>
            <div class="form-group form-check m-4">
              <label class="col-12 form-check-label">
                <input class="form-check-input" type="checkbox" name="public" th:checked="${source.public}" value="true">
                <span th:text="#{boolean.public.true}">Avalik</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="addSourceDlg" class="modal" role="dialog" th:fragment="add_source_dlg">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:replace="components :: add_source_form"></form>
      </div>
    </div>
  </div>
</body>
</html>
