<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{source.view.title}">Allikas</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar"></th:block>
  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary" th:href="@{${backUrl}}">Tagasi</a>
      </p>
    </div>
    <div class="float-left w-75" th:if="${source != null}">
      <th:block>
        <div style="border: 1px solid #CCC; padding: 5px;">
          <table class="w-100" th:fragment="details">
            <tr>
              <td style="width: 50px"></td>
              <td>
                <div class="row mb-1">
                  <table style="background-color: #ececec; font-weight: bold;">
                    <tr>
                      <td>source id &nbsp;</td>
                      <td th:text="${source.id}"></td>
                    </tr>
                    <tr>
                      <td>type</td>
                      <td th:text="${source.type}"></td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 50px"></td>
              <td>
                <th:block th:each="sourceProperty : ${source.sourceProperties}">
                  <div class="row">
                    <div class="mb-1">
                      <div style="display: list-item; position: absolute"></div>
                      <span th:text="${sourceProperty.type}"></span>
                      -
                      <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}"></span>
                      <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
                    </div>
                  </div>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
      </th:block>
    </div>
  </div>
</body>
</html>
