<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div th:id="${'editSourcePropertyDlg_' + sourceProperty.id}" class="modal" role="dialog" th:fragment="edit_source_property_dlg"
        data-plugin="initEditSourcePropertyDlgPlugin">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/update_source_property}">
          <div class="modal-body">
            <input type="hidden" name="sourcePropertyId" th:value="${sourceProperty.id}">
            <div class="form-group row">
              <div class="col-auto">
                <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <textarea rows="3" class="form-control required-field" name="valueText" th:text="${sourceProperty.valueText}"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:data-source-id="${source.id}">Muuda</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="${'addSourcePropertyDlg_' + source.id}" class="modal" role="dialog" th:fragment="add_source_property_dlg"
        data-plugin="initAddSourcePropertyDlgPlugin">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/create_source_property}">
          <div class="modal-body">
            <input type="hidden" name="sourceId" th:value="${source.id}">
            <div class="form-group row">
              <div class="col-auto">
                <select required class="form-control" name="type">
                  <option th:each="type : ${sourcePropertyTypes}" th:value="${type}" th:text="#{|source.property.${type.name()}|}">value</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <textarea rows="3" class="form-control required-field" name="valueText"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:data-source-id="${source.id}">Lisa</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="${'editSourceTypeDlg_' + source.id}" class="modal select-dlg" role="dialog" th:fragment="edit_source_type_dlg"
        data-plugin="initEditSourceTypeSelectDlgPlugin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/update_source}">
          <div class="modal-body">
            <input type="hidden" name="sourceId" th:value="${source.id}">
            <select class="form-control" name="sourceType">
              <option th:each="type : ${sourceTypes}" th:value="${type}" th:text="#{|source.type.${type}|}" th:selected="${type == source.type}">value</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="addSourceDlg" class="modal" role="dialog" th:fragment="add_source_dlg">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:replace="components :: add_source_form"></form>
      </div>
    </div>
  </div>
</body>
</html>