<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},_)">
<title th:text="#{source.join.title}">EKILEX allikate ühendamine</title>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'sourcejoin')"></th:block>
  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <form th:action="@{/sourcesearch}" method="post">
        <input type="hidden" name="simpleSearchFilter" th:value="${previousSearch}">
        <button type="submit" class="btn btn-sm btn-secondary" th:text="#{common.back}">Tagasi</button>
      </form>
    </div>
    <div class="card shadow mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{source.join.title}">Allikate ühendamine</h5>
      </div>
      <div class="card-body">
        <div style="width: 95%" class="border rounded p-2">
          <th:block th:replace="sourcecomp :: source_join_details(${targetSource.id},${targetSource})"></th:block>
        </div>
      </div>
      <div class="card-body">
        <form th:action="@{/sourcejoinsearch}" method="post">
          <input type="hidden" name="targetSourceId" th:value="${targetSource.id}">
          <input type="hidden" name="previousSearch" th:value="${previousSearch}">
          <div class="form-row">
            <div class="col-12">
              <div class="form-group row">
                <label class="col-auto col-form-label" th:text="#{source.search}">Otsing</label>
                <div class="col-5">
                  <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" th:placeholder="#{source.search.placeholder}" autocomplete="off">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary" th:text="#{common.search}">Otsi</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body" th:if="${(searchFilter != null) && #lists.isEmpty(sources)}">
        <span th:text="#{source.search.not.found}">Not found.</span>
      </div>
      <div class="card-body" th:if="${not #lists.isEmpty(sources)}">
        <div style="width: 95%" class="border rounded mb-2 p-2" name="source" th:each="source : ${sources}">
          <th:block th:replace="sourcecomp :: source_join_details(${targetSource.id}, ${source})"></th:block>
        </div>
      </div>
    </div>
  </div>
</body>
</html>