<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div th:id="${'sourceSearchResult_' + source.id}" th:fragment="source_search_result">
    <div class="col-auto form-inline">
      <div class="ml-auto">
        <button type="button" class="btn badge badge-success float-right"
                title="Lisa allikale uus atribuut"
                data-toggle="modal"
                th:data-target="${'#addSourcePropertyDlg_' + source.id}"
                sec:authorize="#vars.source.crudGrant">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="ml-2">
        <form th:action="@{/source_join}" method="post">
          <input type="hidden" name="previousSearch" th:value="${simpleSearchFilter}">
          <input type="hidden" name="sourceId" th:value="${source.id}">
          <button type="submit" class="btn btn-primary btn-sm" sec:authorize="#vars.source.crudGrant">Ühenda</button>
        </form>
      </div>
      <div class="ml-2">
        <button type="button" class="btn btn-warning font-weight-bold btn-sm"
                th:data-source-id="${source.id}"
                data-toggle="delete-source-confirm"
                sec:authorize="#vars.source.crudGrant">Eemalda allikas</button>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm ml-4" id="detailSearchButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Otsi viiteid</button>
        <div class="dropdown-menu" aria-labelledby="detailSearchButton">
          <a class="dropdown-item btn btn-secondary font-weight-bold btn-sm" th:href="@{'/sourcedetailsearch/lexsearch/' + ${source.id}}">Leks otsing</a>
          <a class="dropdown-item btn btn-secondary font-weight-bold btn-sm" th:href="@{'/sourcedetailsearch/termsearch/' + ${source.id}}">Term otsing</a>
        </div>
      </div>
      <a th:href="@{'/sourceactivitylog:' + ${source.id}}"
         data-toggle="modal"
         data-target="#sourceActivityLogDlg"
         class="btn btn-secondary btn-sm ml-2"
         sec:authorize="${#authentication.principal.datasetPermissionsExist}">Logi</a>
    </div>
    <table class="w-100">
      <tr>
        <td style="width: 100px;"></td>
        <td>
          <div class="row mb-1">
            <table style="background-color: #ececec; font-weight: bold">
              <tr>
                <td>allika id</td>
                <td th:text="${source.id}"></td>
              </tr>
              <tr>
                <td>tüüp</td>
                <td>
                  <div class="hidden-buttons">
                    <div class="col pl-0">
                      <span th:text="#{|source.type.${source.type}|}"></span>
                      <button type="button" class="btn badge badge-primary"
                              title="Muuda"
                              data-toggle="modal"
                              th:data-target="${'#editSourceTypeDlg_' + source.id}"
                              sec:authorize="#vars.source.crudGrant">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;"></td>
        <td>
          <th:block th:each="sourceProperty : ${source.sourceProperties}">
            <div th:replace="sourcedialog :: edit_source_property_dlg"></div>
            <div th:replace="sourcedialog :: add_source_property_dlg"></div>
            <div th:replace="sourcedialog :: edit_source_type_dlg"></div>
            <div class="row">
              <div class="invisible-buttons action-buttons-anchor mw-90 mb-1">
                <div style="display: list-item; position: absolute"></div>
                <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                -
                <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}" th:style="${sourceProperty.valueMatch ? 'background-color: #eaffea' : ''}"></span>
                <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
                <div class="action-buttons-2" sec:authorize="#vars.source.crudGrant">
                  <button type="button" class="btn badge badge-primary" th:title="Muuda" data-toggle="modal" th:data-target="${'#editSourcePropertyDlg_' + sourceProperty.id}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn badge badge-warning"
                          th:data-source-property-id="${sourceProperty.id}"
                          th:data-source-id="${source.id}"
                          data-toggle="delete-source-property-confirm" data-placement="right">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </th:block>
        </td>
      </tr>
    </table>
  </div>
  <th:block th:fragment="source_join_details(targetSourceId,source)" th:if="${source != null}">
    <div>
      <table class="w-100" th:fragment="details">
        <tr>
          <td style="width: 50px"></td>
          <td>
            <div class="row mb-1">
              <table style="background-color: #ececec; font-weight: bold;">
                <tr>
                  <td>allika id &nbsp;</td>
                  <td th:text="${source.id}"></td>
                </tr>
                <tr>
                  <td>tüüp</td>
                  <td th:text="#{|source.type.${source.type}|}"></td>
                </tr>
              </table>
              <div class="ml-4">
                <form th:action="@{/join_sources}" method="post">
                  <input type="hidden" name="targetSourceId" th:value="${targetSource.id}">
                  <input type="hidden" name="originSourceId" th:value="${source.id}">
                  <button type="button" class="btn btn-primary"
                          data-toggle="join-confirm"
                          data-placement="right"
                          th:if="${source.id != targetSourceId}"
                          sec:authorize="#vars.source.crudGrant">Ühenda</button>
                </form>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 50px"></td>
          <td>
            <th:block th:each="sourceProperty : ${source.sourceProperties}">
              <div class="row">
                <div class="mb-1">
                  <div style="display: list-item; position: absolute"></div>
                  <span th:text="#{|source.property.${sourceProperty.type}|}"></span>
                  -
                  <span th:text="${sourceProperty.valueText}" th:if="${sourceProperty.valueText != null}"></span>
                  <span th:text="${#dates.format(sourceProperty.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${sourceProperty.valueDate != null}"></span>
                </div>
              </div>
            </th:block>
          </td>
        </tr>
      </table>
    </div>
    <script th:inline="javascript">
      $('[data-toggle=join-confirm]').confirmation({
        btnOkLabel: 'Jah',
        btnCancelLabel: 'Ei',
        title: 'Kas olete kindel, et soovite allikad ühendada?',
        onConfirm: function() {
          $(this).closest('form').submit();
        }
      });
    </script>
  </th:block>
</body>
</html>