<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div id="wwSearchStat" th:fragment="wwsearchstat">
    <div class="card mt-4 mb-4 shadow w-50">
      <th:block th:if="${statSearchResult}">
        <th:block th:unless="${statSearchResult.resultsExist}">
          <div th:text="#{common.not.found}" class="card-body">Not found.</div>
        </th:block>
        <th:block th:if="${statSearchResult.resultsExist}">
          <table class="table table-sm table-striped mb-0">
            <tr>
              <th th:text="#{stat.order}">Järjekord</th>
              <th th:text="#{stat.search.word}">Otsingusõna</th>
              <th th:text="#{stat.search.count}">Päringute arv</th>
            </tr>
            <tr th:each="valueCount,valueCountIter : ${statSearchResult.valueCounts}">
              <td>
                <span th:text="${valueCountIter.count}"></span>
              </td>
              <td>
                <span th:text="${valueCount.value}"></span>
              </td>
              <td>
                <span th:text="${valueCount.count}"></span>
              </td>
            </tr>
          </table>
        </th:block>
      </th:block>
    </div>
  </div>
</body>
</html>