<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div class="card-body p-0 d-flex flex-column h-100" th:fragment="search_result">
    <div class="bg-light rounded-top px-2 py-1">
      <small th:text="#{syn.results.found}">Kokku leiti:</small>
      <small th:text="${wordsResult.totalCount}"></small>
    </div>
    <div class="overflow-auto h-100 keyboard-nav-list" data-panel-index="1">
      <ul id="results" class="mb-0 pb-3 list-group ">
        <li th:each="word, wordIter : ${wordsResult.words}"
            class="list-group-item search-result-item navigate-item border-left-0 border-right-0 rounded-0 p-0"
            th:data-navigate-index="${wordIter.index}"
            th:attrappend="data-navigate-selected=${wordIter.index == 0}?'true'"
            th:classappend="${wordIter.index == 0 ? 'navigate-selected active': ''}">
          <button type="button" class="search-result-btn btn btn-block p-2 text-left position-relative rounded-0" th:data-id="${word.wordId}" name="synDetailsBtn">
            <span class="d-flex align-items-center">
              <span class="badge badge-light mr-2" th:text="${word.homonymNr}" th:if="${word.homonymNr > 0}"></span>
              <span th:utext="${viewUtil.getWordValueMarkup(word)}">vorm 1</span>
              <span th:text="${'(' + viewUtil.getLangIso2(word.lang) + ')'}"></span>
            </span>
            <span class="d-flex align-items-start">
              <small>
                <span th:text="${#strings.listJoin(word.datasetCodes, ', ')}"></span>
              </small>
              <span class="badge badge-pill badge-light ml-auto" th:if="${not #lists.isEmpty(word.lexemesTagNames)}">
                <span th:text="${#strings.listJoin(word.lexemesTagNames, ', ')}"></span>
              </span>
            </span>
            <span class="position-absolute search-result-status">
              <span th:id="${'syn_select_wait_' + word.wordId}" class="fa fa-refresh fa-spin" style="display: none"></span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div th:if="${wordsResult.showPaging}">
      <div th:replace="components :: paging(${wordsResult})"></div>
    </div>
  </div>
  <div th:fragment="definitions_data">
    <div class="d-flex flex-row flex-wrap ml-3" th:each="definition : ${lexeme.meaning.definitions}">
      <div style="display: list-item; position: absolute"></div>
      <span th:utext="${definition.value}"></span>
      <span th:each="sourceLink : ${definition.sourceLinks}">
        [
        <a th:href="@{'/definition_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.sourceName}"></a>
        <span th:if="${sourceLink.name != null}" th:text="${sourceLink.name}"></span>
        ]
      </span>
    </div>
  </div>
  <div th:data-id="${lexeme.lexemeId}" th:fragment="usages_data">
    <th:block th:if="${not #lists.isEmpty(lexeme.usages)}">
      <div class="d-flex flex-wrap ml-3 text-secondary" th:each="usage : ${lexeme.usages}">
        <span th:utext="${usage.value}"></span>
        <span th:each="sourceLink : ${usage.sourceLinks}">
          [
          <a th:href="@{'/usage_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.sourceName}"></a>
          <span th:text="${sourceLink.name}" th:if="${sourceLink.name != null}"></span>
          ]
        </span>
      </div>
    </th:block>
  </div>
  <div th:fragment="syn_logdata" sec:authorize="#vars.details.word.readGrant" class="ml-auto d-flex align-items-center flex-row">
    <a th:href="@{'/wordactivitylog:' + ${wordId}}" data-toggle="modal"
       data-target="#wordActivityLogDlg"
       class="btn btn-secondary btn-compact ml-2"
       sec:authorize="#vars.details.word.readGrant"
       th:text="#{syn.activity.log}">Logi</a>
    <div id="wordActivityLogDlg" class="modal" role="dialog" data-plugin="activityLogDlgPlugin">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" style="max-height: 90vh; overflow-y: auto;"></div>
        </div>
      </div>
    </div>
  </div>
  <span th:fragment="pos_data" class="clasifiers pr-2 text-secondary" th:if="${not #lists.isEmpty(lexeme.pos)}">
    <span th:each="classif,classifIter : ${lexeme.pos}">
      <span class="font-italic" th:text="${classif.code}" data-toggle="tooltip" th:title="${classif.code} + '-' + ${classif.value}"></span>
    </span>
  </span>
  <span th:fragment="registers_data" class="clasifiers pr-2 text-secondary" th:if="${not #lists.isEmpty(lexeme.registers)}">
    <span th:each="classif,classifIter : ${lexeme.registers}">
      <span th:text="${classif.code}" data-toggle="tooltip" th:title="${classif.code} + '-' + ${classif.value}"></span>
    </span>
  </span>
</body>
</html>