<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div class="card-body p-0 d-flex flex-column h-100" th:fragment="search_result">
    <div class="bg-light rounded-top px-2 py-1">
      <small th:text="#{syn.results.found}">Kokku leiti:</small>
      <small th:text="${wordsResult.totalCount}"></small>
    </div>
    <div class="overflow-auto h-100 keyboard-nav-list" data-panel-index="1">
      <ul id="results" class="mb-0 pb-3 list-group ">
        <li th:each="word, wordIter : ${wordsResult.words}"
            class="list-group-item search-result-item navigate-item border-left-0 border-right-0 rounded-0 p-0"
            th:data-navigate-index="${wordIter.index}"
            th:attrappend="data-navigate-selected=${wordIter.index == 0}?'true'"
            th:classappend="${wordIter.index == 0 ? 'navigate-selected active': ''}">
          <button type="button" class="search-result-btn btn btn-block p-2 text-left position-relative rounded-0" th:data-id="${word.wordId}" name="synDetailsBtn">
            <span class="d-flex align-items-center">
              <span class="badge badge-light mr-2" th:text="${word.homonymNr}" th:if="${word.homonymNr > 0}"></span>
              <span th:utext="${viewUtil.getWordValueMarkup(word)}">vorm 1</span>
              <span th:text="${'(' + viewUtil.getLangIso2(word.lang) + ')'}"></span>
            </span>
            <span class="d-flex align-items-start">
              <small>
                <span th:text="${#strings.listJoin(word.datasetCodes, ', ')}"></span>
              </small>
              <span class="badge badge-pill badge-light ml-auto" th:if="${not #lists.isEmpty(word.lexemesTagNames)}">
                <span th:text="${#strings.listJoin(word.lexemesTagNames, ', ')}"></span>
              </span>
            </span>
            <span class="position-absolute search-result-status">
              <span th:id="${'syn_select_wait_' + word.wordId}" class="fa fa-refresh fa-spin" style="display: none"></span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div th:if="${wordsResult.showPaging}">
      <div th:replace="components :: paging(${wordsResult})"></div>
    </div>
  </div>
  <div data-name="dialogContent" th:fragment="syn_word_search_result">
    <div class="card">
      <div class="card-body p-2">
        <div class="form-group row">
          <div class="col-md-4 ml-2">
            <label th:text="#{syn.candidate.weight}">Kandidaadi kaal</label>
            <input name="weight" id="weightInput" type="number" min="0" max="0.9" step=".1" class="form-control required-field required-range" value="0.7">
          </div>
        </div>
      </div>
    </div>
    <div class="card" th:if="${not #lists.isEmpty(wordsFoundBySearch)}">
      <div class="card-body p-2">
        <span th:text="#{syn.results.found}">Kokku leiti:</span>
        <span th:text="${totalCount}"></span>
        <div style="max-height: 50vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="word : ${wordsFoundBySearch}" th:with="wordExists = ${existingIds != null && #lists.contains(existingIds, word.wordId)}">
              <td class="p-0" style="line-height: 0.6rem;">
                <div class="btn btn-custom pt-0">
                  <span th:utext="${viewUtil.getWordValueMarkup(word)}" class="ttl">vorm 1</span>
                  <span th:text="${word.homonymNr}" th:if="${word.homonymNr > 0}"></span>
                  <span th:text="${'(' + viewUtil.getLangIso2(word.lang) + ')'}"></span>
                </div>
                <input name="ids" type="checkbox" class="float-right mt-2 mr-2"
                       th:value="${word.wordId}"
                       th:disabled="${wordExists}"
                       th:title="${wordExists} ? #{syn.candidate.exists} : ''"/>
                <div class="ml-3 mb-2" style="margin-top: -6px;">
                  <small>
                    <span th:text="${#strings.listJoin(word.datasetCodes, ', ')}"></span>
                  </small>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button name="addRelationsBtn" type="submit" class="btn btn-primary float-right mt-2" disabled th:text="#{syn.add.selected.candidates}">Lisa valitud kandidaadid</button>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(wordsFoundBySearch)}">
      <div th:text="#{common.not.found}" class="card-body">Not found.</div>
    </div>
    <div class="card">
      <div class="card-body p-2">
        <div class="form-group row">
          <div class="col-md-9 ml-2">
            <div th:text="${userRoleData.userRole.datasetName}"></div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-9 ml-2">
            <select required id="wordPermLanguageSelect" class="form-control required-field" name="language">
              <option value="" selected disabled th:text="#{common.select.language}">vali keel...</option>
              <option th:each="language : ${userRoleLanguages}" th:value="${language.code}" th:text="${language.value}" th:selected="${language.code == selectedWordLanguage}"></option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 ml-2">
            <input class="form-control required-field" readonly name="value" th:value="${searchedWord}"/>
          </div>
          <div class="col-md-3">
            <button type="button" id="addSynRelationWord" class="btn btn-sm btn-success" data-btn-menu th:text="#{syn.add.syn.relation.word}">Lisa uus keelend</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:fragment="definitions_data">
    <div class="d-flex flex-row flex-wrap ml-3" th:each="definition : ${lexeme.meaning.definitions}">
      <div style="display: list-item; position: absolute"></div>
      <span th:utext="${definition.value}"></span>
    </div>
  </div>
  <div th:data-id="${lexeme.lexemeId}" th:fragment="usages_data">
    <th:block th:if="${not #lists.isEmpty(lexeme.usages)}">
      <div class="d-flex flex-wrap ml-3" th:each="usage : ${lexeme.usages}">
        <span class="text-secondary" th:utext="${usage.value}"></span>
      </div>
    </th:block>
  </div>
  <div th:fragment="syn_logdata" sec:authorize="#vars.details.word.readGrant" class="ml-auto d-flex align-items-center flex-row">
    <a th:href="@{'/wordactivitylog:' + ${wordId}}" data-toggle="modal"
       data-target="#wordActivityLogDlg"
       class="btn btn-secondary btn-compact ml-2"
       sec:authorize="#vars.details.word.readGrant"
       th:text="#{syn.activity.log}">Logi</a>
    <div id="wordActivityLogDlg" class="modal" role="dialog" data-plugin="activityLogDlgPlugin">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" style="max-height: 90vh; overflow-y: auto;"></div>
        </div>
      </div>
    </div>
  </div>
  <span th:fragment="pos_data" class="clasifiers pr-2 text-secondary" th:if="${not #lists.isEmpty(lexeme.pos)}">
    <span th:each="classif,classifIter : ${lexeme.pos}">
      <span class="font-italic" th:text="${classif.code}" data-toggle="tooltip" th:title="${classif.code} + '-' + ${classif.value}"></span>
    </span>
  </span>
  <span th:fragment="registers_data" class="clasifiers pr-2 text-secondary" th:if="${not #lists.isEmpty(lexeme.registers)}">
    <span th:each="classif,classifIter : ${lexeme.registers}">
      <span th:text="${classif.code}" data-toggle="tooltip" th:title="${classif.code} + '-' + ${classif.value}"></span>
    </span>
  </span>
</body>
</html>