<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div id="synCandidatesListDiv"
       class="overflow-auto h-100"
       data-panel-index="3"
       th:fragment="syn_candidate_list">
    <ul th:if="${not #lists.isEmpty(details.wordRelationDetails.wordSynRelations)}" width="100%" class="orderable list-unstyled p-0"
          data-op-code="word_relation"
          data-sorter:type="relations"
          data-plugin="sorter">
      <li th:each="synRelation,relationIter : ${details.wordRelationDetails.wordSynRelations}"
          class="border w-100"
          th:data-id="${synRelation.id}"
          th:data-orderby="${synRelation.orderBy}">
        <div class="d-flex flex-row hover-actions-container align-items-center pl-1 bg-light"
             th:data-word-id="${synRelation.wordId}"
             th:data-word="${synRelation.wordValue}"
             th:data-meaning-id="${synRelation.meaningId}">
          <span th:if="${synRelation.relationStatus}" th:title="#{|relationstatus.${synRelation.relationStatus}|}" data-toggle="tooltip" class="px-2">
            <i class="fa" th:classappend="#{|relationstatus.icon.${synRelation.relationStatus}|}" aria-hidden="true"></i>
          </span>
          <span th:unless="${synRelation.relationStatus}" th:title="#{syn.no.relation}" data-toggle="tooltip" class="px-2">
            <i class="fa fa-exclamation-triangle text-muted" aria-hidden="true"></i>
          </span>
          <div class="mr-auto pl-0 d-flex flex-row flex-nowrap align-items-center">
            <p class="py-2 pr-1 m-0 list-item-value" th:inline="text">
              <span th:utext="${viewUtil.getWordValueMarkup(synRelation)}"></span>
              <sup th:if="${synRelation.homonymsExist}" th:title="#{syn.homonym.num}" th:text="${synRelation.wordHomonymNr}">1</sup>
            </p>
          </div>
          <div class="hover-actions">
            <button type="button" th:hidden="${relationIter.first}" class="btn btn-xs btn-secondary order-up "
                  th:title="#{common.update.ordering}"
                  data-plugin="changeItemOrderingPlugin">
              <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
            <button type="button" th:hidden="${relationIter.last}" class="btn btn-xs  btn-secondary order-down "
                    th:title="#{common.update.ordering}"
                  data-plugin="changeItemOrderingPlugin">
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn  btn-xs btn-secondary rel-status-btn" th:data-id="${synRelation.id}"
                  data-status="UNDEFINED"
                  th:title="#{syn.update.undefined}"
                  data-plugin="changeSynRelationPlugin">
              <i class="fa fa-question" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-xs btn-success rel-status-btn" th:data-id="${synRelation.id}"
                  data-status="PROCESSED"
                  th:title="#{syn.update.processed}"
                  data-plugin="changeSynRelationPlugin">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-xs btn-danger rel-status-btn" th:data-id="${synRelation.id}"
                  data-status="DELETED"
                  data-placement="right"
                  th:title="#{syn.update.deleted}"
                  data-plugin="changeSynRelationPlugin">
              <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
          </div>
          <button type="button" class="btn btn-sm px-0 syn-stats-popover" data-trigger="hover" data-toggle="popover" th:data-title="${synRelation.wordValue}" data-html="true">
            <i class="fa fa-bar-chart action-icon px-2 d-block" aria-hidden="true"></i>
          </button>
          <div class="syn-stats-content d-none">
            <div th:if="${not #lists.isEmpty(synRelation.wordLexemesPoses)}">
              <span th:text="#{syn.lexeme.pos}">Sõnaliik:</span>
              <th:block th:each="lexemePos,lexemePosIter : ${synRelation.wordLexemesPoses}">
                <span th:text="${lexemePos}"></span>
                <span th:unless="${lexemePosIter.last}">, </span>
              </th:block>
            </div>
            <div>
              <br>
              <ul th:if="${not #lists.isEmpty(synRelation.relationParams)}" class="list-unstyled">
                <li th:each="relationParam : ${synRelation.relationParams}" class="d-flex flex-row flex-nowrap row">
                  <span class="col-6" th:text="${relationParam.name}">Label</span>
                  <span class="col-6" th:text="${relationParam.value}">Value</span>
                </li>
              </ul>
              <p th:if="${#lists.isEmpty(synRelation.relationParams)}" th:text="#{syn.no.relation.params}">Seosetugevuste andmed puuduvad</p>
            </div>
          </div>
          <span th:if="${synRelation.oppositeRelationStatus != null}"
                th:title="#{|relationstatus.${synRelation.oppositeRelationStatus}|}"
                data-toggle="tooltip"
                class="border-left border-light px-2">
            <i class="fa" th:classappend="#{|relationstatus.icon.${synRelation.oppositeRelationStatus}|}" aria-hidden="true"></i>
          </span>
          <span th:if="${synRelation.oppositeRelationStatus == null}" th:title="#{syn.no.relation}" data-toggle="tooltip" class="border-left border-light px-2">
            <i class="fa fa-exclamation-triangle text-muted" aria-hidden="true"></i>
          </span>
        </div>
        <div class="draggable-synonym drag-handle keyboard-nav-list"
             th:each="meaning,meaningIter : ${synRelation.wordMeanings}"
             th:data-meaning-id="${meaning.meaningId}"
             th:data-relation-id="${synRelation.id}"
             th:data-id="${synRelation.id}"
             th:data-navigate-index="${meaningCount.increment()}"
             th:data-navigate-selected="${markedSynMeaningId != null && markedSynMeaningId == meaning.meaningId}?'true'"
             th:data-active-panel="${markedSynMeaningId != null}?'true'"
             th:classappend="${markedSynMeaningId != null && markedSynMeaningId == meaning.meaningId ? 'navigate-marked' : ''}">
          <div data-toggle="tooltip" data-html="true" th:title="${viewUtil.getLexRegisterTooltipHtml(meaning.lexRegisterCodes)}">
            <span class="px-2 handle drag-handle border-right border-light text-muted" title="Lohista siit">
              <i class="fa fa-ellipsis-v text-muted" aria-hidden="true"></i>
            </span>
            <span class="small" th:text="#{syn.meaning.id}">Tähenduse id:</span>
            <span class="small" th:text="${meaning.meaningId}"></span>
            <span class="pr-2 small" th:if="${not #lists.isEmpty(meaning.lexPosCodes)}">
              <span th:each="posCode : ${meaning.lexPosCodes}">
                <span class="font-italic" th:text="${posCode}"></span>
              </span>
            </span>
          </div>
          <div class="d-flex flex-row" data-toggle="tooltip" th:title="#{syn.definition}" th:each="definition : ${meaning.definitions}">
            <span class="small" th:utext="${definition}"></span>
          </div>
          <div class="d-flex flex-row" data-toggle="tooltip" th:title="#{syn.usage}" th:each="usage : ${meaning.usages}">
            <span class="small text-info" th:utext="${usage}"></span>
          </div>
        </div>
      </li>
    </ul>
    <p th:unless="${not #lists.isEmpty(details.wordRelationDetails.wordSynRelations)}"
       class="text-secondary font-italic p-3"
       th:text="#{syn.no.word.syn.relations}">Vastete kandidaadid puuduvad valitud keeltes</p>
  </div>
  <div class="card-body p-0 d-flex flex-column h-100" th:fragment="search_result">
    <div class="bg-light rounded-top px-2 py-1">
      <small th:text="#{syn.results.found}">Kokku leiti:</small>
      <small th:text="${wordsResult.totalCount}"></small>
    </div>
    <div class="overflow-auto h-100 keyboard-nav-list" data-panel-index="1">
      <ul id="results" class="mb-0 pb-3 list-group ">
        <li th:each="word, wordIter : ${wordsResult.words}"
            class="list-group-item search-result-item navigate-item border-left-0 border-right-0 rounded-0 p-0"
            th:data-navigate-index="${wordIter.index}"
            th:attrappend="data-navigate-selected=${wordIter.index == 0}?'true'"
            th:classappend="${wordIter.index == 0 ? 'navigate-selected active': ''}">
          <button type="button" class="search-result-btn btn btn-block p-2 text-left position-relative rounded-0" th:data-id="${word.wordId}" name="synDetailsBtn">
            <span class="d-flex align-items-center">
              <span class="badge badge-light mr-2" th:text="${word.homonymNr}" th:if="${word.homonymNr > 0}"></span>
              <span th:utext="${viewUtil.getWordValueMarkup(word)}">vorm 1</span>
              <span th:text="${'(' + viewUtil.getLangIso2(word.lang) + ')'}"></span>
            </span>
            <span class="d-flex align-items-start">
              <small>
                <span th:text="${#strings.listJoin(word.datasetCodes, ', ')}"></span>
              </small>
              <span class="badge badge-pill badge-light ml-auto" th:if="${not #lists.isEmpty(word.lexemesTagNames)}">
                <span th:text="${#strings.listJoin(word.lexemesTagNames, ', ')}"></span>
              </span>
            </span>
            <span class="position-absolute search-result-status">
              <span th:id="${'syn_select_wait_' + word.wordId}" class="fa fa-refresh fa-spin" style="display: none"></span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div th:if="${wordsResult.showPaging}">
      <div th:replace="components :: paging(${wordsResult})"></div>
    </div>
  </div>
  <div data-name="dialogContent" th:fragment="syn_word_search_result">
    <div class="card">
      <div class="card-body p-2">
        <div class="form-group row">
          <div class="col-md-4 ml-2">
            <label th:text="#{syn.candidate.weight}">Kandidaadi kaal</label>
            <input name="weight" id="weightInput" type="number" min="0" max="0.9" step=".1" class="form-control required-field required-range" value="0.7">
          </div>
        </div>
      </div>
    </div>
    <div class="card" th:if="${not #lists.isEmpty(wordsFoundBySearch)}">
      <div class="card-body p-2">
        <span th:text="#{syn.results.found}">Kokku leiti:</span>
        <span th:text="${totalCount}"></span>
        <div style="max-height: 50vh; overflow: auto;">
          <table class="table table-striped mb-0">
            <tr th:each="word : ${wordsFoundBySearch}" th:with="wordExists = ${existingIds != null && #lists.contains(existingIds, word.wordId)}">
              <td class="p-0" style="line-height: 0.6rem;">
                <div class="btn btn-custom pt-0">
                  <span th:utext="${viewUtil.getWordValueMarkup(word)}" class="ttl">vorm 1</span>
                  <span th:text="${word.homonymNr}" th:if="${word.homonymNr > 0}"></span>
                  <span th:text="${'(' + viewUtil.getLangIso2(word.lang) + ')'}"></span>
                </div>
                <input name="ids" type="checkbox" class="float-right mt-2 mr-2"
                       th:value="${word.wordId}"
                       th:disabled="${wordExists}"
                       th:title="${wordExists} ? #{syn.candidate.exists} : ''"/>
                <div class="ml-3 mb-2" style="margin-top: -6px;">
                  <small>
                    <span th:text="${#strings.listJoin(word.datasetCodes, ', ')}"></span>
                  </small>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button name="addRelationsBtn" type="submit" class="btn btn-primary float-right mt-2" disabled th:text="#{syn.add.selected.candidates}">Lisa valitud kandidaadid</button>
      </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(wordsFoundBySearch)}">
      <div th:text="#{common.not.found}" class="card-body">Not found.</div>
    </div>
    <div class="card">
      <div class="card-body p-2">
        <div class="form-group row">
          <div class="col-md-9 ml-2">
            <div th:text="${userRoleData.userRole.datasetName}"></div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-9 ml-2">
            <select required id="wordPermLanguageSelect" class="form-control required-field" name="language">
              <option value="" selected disabled th:text="#{common.select.language}">vali keel...</option>
              <option th:each="language : ${userRoleLanguages}" th:value="${language.code}" th:text="${language.value}" th:selected="${language.code == selectedWordLanguage}"></option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 ml-2">
            <input class="form-control required-field" readonly name="value" th:value="${searchedWord}"/>
          </div>
          <div class="col-md-3">
            <button type="button" id="addSynRelationWord" class="btn btn-sm btn-success" data-btn-menu th:text="#{syn.add.syn.relation.word}">Lisa uus keelend</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:fragment="definitions_data">
    <div class="d-flex flex-row flex-wrap ml-3" th:each="definition : ${lexeme.meaning.definitions}">
      <div style="display: list-item; position: absolute"></div>
      <span th:utext="${definition.value}"></span>
    </div>
  </div>
  <div th:data-id="${lexeme.lexemeId}" th:fragment="usages_data">
    <th:block th:if="${not #lists.isEmpty(lexeme.usages)}">
      <div class="d-flex flex-wrap ml-3" th:each="usage : ${lexeme.usages}">
        <span class="text-secondary" th:utext="${usage.value}"></span>
      </div>
    </th:block>
  </div>
  <div th:fragment="syn_data"
       th:if="${not #lists.isEmpty(lexeme.synonymLangGroups)}"
       class="orderable border-top">
    <div class="orderable d-flex flex-row" th:each="synonymLangGroup : ${lexeme.synonymLangGroups}" >
      <span th:if="${lexeme.wordLang == synonymLangGroup.lang}" class="mr-2" th:text="#{syn.abbreviation}"></span>
      <span th:unless="${lexeme.wordLang == synonymLangGroup.lang}" th:text="${viewUtil.getLangIso2(synonymLangGroup.lang)}" class="mr-2"></span>
      <div data-plugin="sorter" data-sorter:type="syn" data-sorter:handle=".syn-handle">
        <span th:each="syn,synIter : ${synonymLangGroup.synonyms}"
              class="hidden-buttons draggable-syn-rel droppable-syn-rel do-refresh"
              th:data-lexeme-id="${lexeme.lexemeId}"
              th:data-orderby="${syn.orderBy}"
              th:data-relation-id="${syn.relationId}"
              th:data-syn-type="${syn.type}"
              th:with="
                isMeaningWordSyn=${syn.type == T(eki.common.constant.SynonymType).MEANING_WORD},
                isMeaningRelSyn=${syn.type == T(eki.common.constant.SynonymType).MEANING_REL}">
          <span class="hidden-buttons">
            <th:block th:each="synWord, synWordIter : ${syn.words}">
              <input type="hidden" class="relation-meaning-id" th:value="${syn.meaningId}"/>
              <input type="hidden" name="synword-lexeme-id" th:value="${synWord.lexemeId}"/>
              <span class="syn-handle">
                <small class="font-weight-bold" th:text="${synWord.lexemeLevels}" th:if="${not #strings.isEmpty(synWord.lexemeLevels)}"></small>
                <span th:utext="${viewUtil.getWordValueMarkup(synWord)}" th:styleappend="${isMeaningRelSyn ? 'color: #00874F' : 'color: #005aa9'}"></span>
                <sup th:if="${synWord.homonymsExist}" th:text="${synWord.homonymNr}"></sup>
                <small th:each="registerCode,regIter : ${synWord.lexemeRegisterCodes}" th:text="${registerCode + (regIter.last ? '' : ', ')}"></small>
                <small th:if="${synWordIter.last}" th:text="${'[' + viewUtil.getFormattedWeight(syn.weight) + ']'}"></small>
              </span>
              <span th:unless="${synWordIter.last}">,</span>
            </th:block>
            <th:block th:if="${isMeaningRelSyn}">
              <div th:replace="syndialog :: edit_syn_meaning_relation_weight_dlg"></div>
              <button type="button" class="btn badge badge-secondary btn-xs"
                      th:title="#{syn.edit.meaning.rel.weight}"
                      data-toggle="modal"
                      th:data-target="${'#editSynMeaningRelationWeightDlg_' + syn.relationId}"
                      sec:authorize="#vars.lexeme.crudGrant">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn badge badge-secondary btn-xs"
                      th:data-id="${syn.relationId}"
                      data-op-code="syn_meaning_relation"
                      data-toggle="delete-confirm"
                      sec:authorize="#vars.lexeme.crudGrant">
                <i class="fa fa-remove" aria-hidden="true" data-toggle="tooltip" th:title="#{syn.delete.meaning.rel}"></i>
              </button>
            </th:block>
            <span th:unless="${synIter.last}">|</span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div th:fragment="syn_logdata" sec:authorize="#vars.details.word.readGrant" class="ml-auto d-flex align-items-center flex-row">
    <a th:href="@{'/wordactivitylog:' + ${wordId}}" data-toggle="modal"
       data-target="#wordActivityLogDlg"
       class="btn btn-secondary btn-compact ml-2"
       sec:authorize="#vars.details.word.readGrant"
       th:text="#{syn.activity.log}">Logi</a>
    <div id="wordActivityLogDlg" class="modal" role="dialog" data-plugin="activityLogDlgPlugin">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" style="max-height: 90vh; overflow-y: auto;"></div>
        </div>
      </div>
    </div>
  </div>
  <span th:fragment="pos_data" class="clasifiers pr-2 text-secondary" th:if="${not #lists.isEmpty(lexeme.pos)}">
    <span th:each="classif,classifIter : ${lexeme.pos}">
      <span class="font-italic" th:text="${classif.code}" data-toggle="tooltip" th:title="${classif.code} + '-' + ${classif.value}"></span>
    </span>
  </span>
  <span th:fragment="registers_data" class="clasifiers pr-2 text-secondary" th:if="${not #lists.isEmpty(lexeme.registers)}">
    <span th:each="classif,classifIter : ${lexeme.registers}">
      <span th:text="${classif.code}" data-toggle="tooltip" th:title="${classif.code} + '-' + ${classif.value}"></span>
    </span>
  </span>
</body>
</html>