<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <div th:id="${'addLexemeTagDlg_' + lexeme.lexemeId}" class="modal"
       role="dialog"
       th:fragment="add_lexeme_tag_dlg"
       data-plugin="initAddMultiDataDlgPlugin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/create_item}" method="post">
          <div class="modal-body">
            <input type="hidden" name="id" th:value="${lexeme.lexemeId}">
            <input type="hidden" name="opCode" value="lexeme_tag">
            <input type="hidden" name="value">
            <div class="form-group row">
              <div class="col-md-8">
                <select required class="form-control value-select required-field">
                  <option value="" hidden disabled selected th:text="#{common.select.value}">vali väärtus...</option>
                  <option th:each="tag : ${lexemeTags}" th:value="${tag}" th:text="${tag}" th:unless="${#lists.contains(lexeme.tags, tag)}">tag</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:text="#{common.add}">Lisa</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="${'addWordForumDlg_' + wordId}" class="modal"
        role="dialog"
        th:fragment="add_word_forum_dlg"
        data-plugin="initEkiEditorDlgAndFocusPlugin">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/create_item}" method="post">
          <div class="modal-body">
            <input type="hidden" name="id" th:value="${wordId}">
            <input type="hidden" name="opCode" value="word_forum">
            <input type="hidden" name="value">
            <div th:replace="components :: eki_editor_elem"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:text="#{common.add}">Lisa</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="${'editWordForumDlg_' + forum.id}" class="modal"
        role="dialog"
        th:fragment="edit_word_forum_dlg"
        data-plugin="initEkiEditorDlgAndFocusPlugin">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/update_item}" method="post">
          <div class="modal-body">
            <input type="hidden" name="id" th:value="${forum.id}">
            <input type="hidden" name="opCode" value="word_forum">
            <input type="hidden" name="value" th:value="${forum.valuePrese}">
            <div th:replace="components :: eki_editor_elem"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
