<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{syn.search.title}">EKILEX otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-editor.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ekilex-searchfilter.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ekilex-synsearch.js}"></script>
</th:block>
</head>
<body class="body-with-navbar compacted">
  <th:block th:replace="common :: nav_bar(activeItem = 'syn')"></th:block>

  <div class="container-fluid">
    <div class="card shadow">
      <div class="card-body p-2">
        <form th:action="@{/synsearch}" method="post">
          <th:block th:replace="search :: search_form('syn_search', ${sessionBean.userRole != null && sessionBean.userRole.isAdmin()})"></th:block>
        </form>
      </div>
    </div>

    <div class="mt-4 float-left" th:if="${noResults}">
      <div th:text="#{lex.not.found}">Not found.</div>
    </div>

    <div class="row no-gutters mt-2" th:unless="${noResults}">
      <div class="col-3 pr-2" style="height: calc(100vh - 12rem); overflow-y: auto;">
        <div class="card shadow" th:if="${not #lists.isEmpty(wordsResult.words)}">
          <div class="card-body p-2">
            <span th:text="${'Kokku leiti : ' + wordsResult.totalCount}"></span>
            <table id="results" class="table table-striped mb-0">
              <tr th:each="word : ${wordsResult.words}">
                <td class="p-0">
                  <button type="button" class="btn btn-link pt-0" th:data-id="${word.wordId}" name="synDetailsBtn">
                    <span th:text="${(word.suffixoid ? '-' : '') + word.value + (word.prefixoid ? '-' : '')}" class="ttl">vorm 1</span>
                    <span th:text="${word.homonymNumber}" th:if="${word.homonymNumber > 0}"></span>
                    <span th:text="${'(' + word.language + ')'}"></span>
                  </button>
                  <span class="float-right" style="padding: 15px">
                    <span th:id="${'syn_select_point_' + word.wordId}" class="fa fa-play" style="display: none"></span>
                    <span th:id="${'syn_select_wait_' + word.wordId}" class="fa fa-refresh fa-spin" style="display: none"></span>
                  </span>
                  <div style="position:relative; top: -10px; padding-left: 10px">
                    <small>
                      <span th:each="wordDatasetCode,wordDatasetIter : ${word.datasetCodes}">
                        <span th:text="${wordDatasetCode}"></span>
                        <span th:unless="${wordDatasetIter.last}">,</span>
                      </span>
                    </small>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-9" style="height: calc(100vh - 12rem); overflow-y: auto;">
        <div id="syn_details_div"></div>
      </div>
    </div>

  </div>
  <th:block th:fragment="details" th:if="${details != null}">
    <div th:data-id="${wordId}" id="syn_details_div"
         th:with="isWordCrudGranted=${#authorization.expression('hasPermission(#vars.wordId, ''WORD'', ''DATASET:CRUD'')')}">
      <button id="refresh-details" hidden th:data-id="${wordId}" name="synDetailsBtn" data-refresh></button>
      <div class="row no-gutters">
        <div class="col-8 pr-2">
          <div class="card shadow mb-2" th:each="lexeme : ${details.lexemes}"
               th:with="
               isLexemeCrudGranted=${#authorization.expression('hasPermission(#vars.lexeme.lexemeId, ''LEXEME'', ''DATASET:CRUD'')')},
               isMeaningCrudGranted=${#authorization.expression('hasPermission(#vars.lexeme.meaningId, ''MEANING'', ''DATASET:CRUD'')')}
               ">

            <div class="card-body" data-lexeme-title>
              <div class="d-flex flex-row align-items-center flex-wrap">
                <div class="d-flex align-items-center flex-wrap">
                  <th:block th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                    <div class="btn-custom">
                      MEANINGWORDS:
                      <span th:text="${meaningWord.value}"></span>
                      <span th:text="${meaningWord.homonymNumber}"></span>
                      <span th:text="${'(' + meaningWord.language + ')'}"></span>
                    </div>
                    <span th:unless="${meaningWordIter.last}">&nbsp;|&nbsp;</span>
                  </th:block>
                  <span th:if="${lexeme.levels != null}"
                        th:data-id="${lexeme.lexemeId}"
                        th:data-level1="${lexeme.level1}"
                        th:data-level2="${lexeme.level2}"
                        th:data-level3="${lexeme.level3}"
                        class="pl-1">
                    LEVELS: <span th:text="${'[ ' + lexeme.levels + ' ]'}"></span>
                  </span>
                </div>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.definitions)}">
                DEFINITIONS : <span th:utext="${lexeme.definitions.get(0).value}"></span>
              </div>
            </div>


            <div class="row" th:if="${not #lists.isEmpty(lexeme.pos)}">
              POS:
              <div class="col pr-0 col-w13rem">
                <span class="lbl">Sõnaliik</span>
              </div>
              <div class="col pl-0">
                <span th:each="classif,classifIter : ${lexeme.pos}" class="hidden-buttons">

                <span th:text="${classif.code}"></span>
                <th:block th:unless="${classif.code == classif.value}">
                  -
                  <span th:text="${classif.value}"></span>
                </th:block>

                  <span th:unless="${classifIter.last}">,</span>
                </span>
              </div>
            </div>


            <div class="card-body" th:data-id="${lexeme.lexemeId}">
              <div class="d-flex align-items-center flex-wrap">
                <div class="row" th:if="${not #lists.isEmpty(lexeme.usages)}">
                  USAGES:
                  <div class="col pl-0">
                    <th:block th:if="${not #lists.isEmpty(lexeme.usages)}">
                      <div th:with="usage= ${lexeme.usages[0]}, isUsageCrudGranted=${#authorization.expression('hasPermission(#vars.usage.id, ''USAGE'', ''DATASET:CRUD'')')}">
                        <div class="row" th:each="usageTranslation : ${usage.translations}">
                          <div th:replace="lexdialog :: edit_usage_translation_dlg"></div>
                          <div class="col">
                            <!-- intentional generic lexeme perm on translations -->
                            <div class="col">
                              <span th:utext="${usageTranslation.value}"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row" th:each="usageDefinition : ${usage.definitions}">
                          <div class="col">
                            <span th:utext="${usageDefinition.value}"></span>
                          </div>
                        </div>
                      </div>
                    </th:block>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-4 pr-2">
          <div class="card shadow mb-2">
            <div class="lbl mb-2">Sünonüümid</div>
            <div th:if="${!#lists.isEmpty(details.relations)}" th:each="synRelation : ${details.relations}">
              <table width="100%">
                <tr>
                  <td>
                    <span class="btn-custom" th:text="${synRelation.word}"/>
                  </td>
                  <td>
                    <span th:if="${synRelation.oppositeRelationStatus != null}">
                      <span style="font-family:'LucidaGrande', 'Lucida Grande';">↳</span>
                      <span  style="font-family:'ArialMT', 'Arial';" th:text="#{|relationstatus.${synRelation.oppositeRelationStatus}|}">
                      </span>
                    </span>
                  </td>
                  <td align="right">
                    <span>
                      <button type="button" class="btn badge badge-secondary"
                              data-toggle="modal"
                              th:data-target="${'#synStatsDlg' + synRelation.id}">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                      </button>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div th:if="${!#lists.isEmpty(details.relations)}" th:each="synRelation : ${details.relations}">
      <div th:replace="syndialog :: syn_stats_dlg(${synRelation})"></div>
    </div>
  </th:block>

  <!--<div th:replace="common :: #sourceDetailsDlg"></div>-->
  <div th:replace="common :: #alertDlg"></div>
  <!--<div th:replace="common :: #confirmDlg"></div>-->

  <script th:inline="javascript">
	  initialise();
  </script>
</body>
</html>
