<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div id="addTagDlg" class="modal" role="dialog" th:fragment="add_tag_dlg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/create_tag}" method="post">
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" th:text="#{tag.name}"></label>
              <input type="text" name="tagName" class="col-md-8 form-control required-field"/>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" th:text="#{tag.type}"></label>
              <select required class="form-control required-field col-md-8" name="tagType">
                <option value="" hidden disabled selected th:text="#{tag.select.type}">vali sildi tüüp</option>
                <option th:each="tagType : ${tagTypes}" th:value="${tagType}" th:text="#{|enum.tag.type.${tagType}|}">tagType</option>
              </select>
            </div>
            <div class="form-group form-check mt-1">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="setAutomatically" value="true"/>
                <span th:text="#{tag.set.automatically}"></span>
              </label>
            </div>
            <div class="form-group form-check mt-1">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="removeToComplete" value="true"/>
                <span th:text="#{tag.remove.to.complete}"></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-plugin="saveTag" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="editTagDlg" class="modal edit-dataset-dialog" role="dialog" th:fragment="edit_tag_dlg">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/update_tag}" method="post">
          <input type="hidden" name="currentTagName">
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" th:text="#{tag.order}">Järjekord</label>
              <input type="text" name="tagOrder" class="col-md-1 form-control required-field"/>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" th:text="#{tag.name}"></label>
              <input type="text" name="tagName" class="col-md-8 form-control required-field"/>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" th:text="#{tag.type}"></label>
              <span name="tagType"></span>
            </div>
            <div class="form-check mt-1">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="setAutomatically" value="true"/>
                <span th:text="#{tag.set.automatically}"></span>
              </label>
            </div>
            <div class="form-check mt-1">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="removeToComplete" value="true"/>
                <span th:text="#{tag.remove.to.complete}"></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-plugin="saveTag" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
