<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{term.search.title}">EKILEX otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-termsearch.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ekilex-editor.js}"></script>
</th:block>
</head>
<body class="body-with-navbar compacted">

  <th:block th:replace="common :: nav_bar(activeItem = 'term')"></th:block>

  <div class="container-fluid">
    <div class="card shadow">
      <div class="card-body p-2">
        <form th:action="@{/termsearch}" method="post">
          <th:block th:replace="search :: search_form('term_search')"></th:block>
          <div class="form-row pt-2 align-items-center">
            <div class="col-auto">
              <div class="row align-items-center">
                <label class="col-auto col-form-label">Tulemused:</label>
                <div class="col-auto">
                  <select id="resultLang" name="resultLang" class="form-control">
                    <option value="">Kõik keeled</option>
                    <option
                        th:each="lang : ${allLanguages}"
                        th:value="${lang.code}"
                        th:selected="${lang.code == sessionBean.resultLang}"
                        th:text="${lang.value}"></option>
                  </select>
                </div>
                <div class="col-auto">
                  <label class="switch mb-0">
                    <input id="meaning-other-words-visible-check" type="checkbox" checked="checked"/>
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-1">
              &nbsp;
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="mt-4 float-left" th:if="${noResults}">
      <div th:text="#{term.not.found}">Not found.</div>
    </div>

    <div class="row no-gutters mt-2">
      <div class="col-3 pr-2 pb-2" style="height: calc(100vh - 14rem); overflow-y: auto;">
        <div class="card shadow" th:if="${meaningsResult.resultExist}">
          <div class="card-body p-2">
            <div>
              <a href="javascript:void(0);" id="show-all-btn">
                <span th:text="${'Mõisteid : ' + meaningsResult.meaningCount}"></span>
                &nbsp;|&nbsp;
                <span th:text="${'Termineid : ' + meaningsResult.wordCount}"></span>
              </a>
            </div>
            <hr />
            <div id="results" class="w-100">
              <div th:each="termMeaning,termMeaningIter : ${meaningsResult.termMeanings}" th:class="${termMeaningIter.last} ? '' : 'border-bottom'">
                <div>
                  <button type="button" class="btn btn-link pt-0" th:data-id="${termMeaning.meaningId}" name="detailsBtn">
                    <th:block th:if="${termMeaning.mainWord != null}">
                      <span th:text="${termMeaning.mainWord.word}" class="ttl">EuropeAid</span>
                      <span th:text="${termMeaning.mainWord.homonymNr}" th:if="${termMeaning.mainWord.homonymNr > 0}"></span>
                      <span th:text="${'(' + termMeaning.mainWord.wordLang + ')'}"></span>
                    </th:block>
                    <span th:if="${termMeaning.mainWord == null}" th:text="${termMeaning.conceptId}" class="ttl">23648236</span>
                  </button>
                  <span class="float-right" style="padding: 15px">
                    <span th:id="${'meaning_select_point_' + termMeaning.meaningId}" class="fa fa-play" style="display: none"></span>
                    <span th:id="${'meaning_select_wait_' + termMeaning.meaningId}" class="fa fa-refresh fa-spin" style="display: none"></span>
                  </span>
                  <div style="position:relative; top: -10px; padding-left: 10px" th:if="${termMeaning.mainWord != null}">
                    <small>
                      <span th:text="${termMeaning.mainWord.datasetCodesWrapup}"></span>
                    </small>
                  </div>
                  <div th:if="${not #lists.isEmpty(termMeaning.otherWords)}" class="other-words" style="margin-top: -10px">
                    <ul class="mb-1">
                      <li th:each="otherWord : ${termMeaning.otherWords}">
                        <span th:text="${otherWord.word}"></span>
                        <span th:text="${otherWord.homonymNr}"></span>
                        <span th:text="${'(' + otherWord.wordLang + ')'}"></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9" style="height: calc(100vh - 14rem); overflow-y: auto; overflow-x: hidden;">
        <div id="details_div"></div>
      </div>
    </div>
  </div>

  <th:block th:fragment="details" th:if="${meaning != null}">
    <div th:data-id="${meaningId}" id="details_div">
      <button id="refresh-details" hidden="hidden" th:data-id="${meaningId}" name="detailsBtn" data-refresh></button>
      <div class="card mb-2 shadow" style="border-style: dotted; border-width: 4px; border-color: #aaa">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <div class="float-right">
                <a class="btn btn-primary btn-sm" th:href="@{'/meaningjoin/' + ${meaningId}}">Ühenda</a>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newWordDlg" th:data-meaning-id="${meaningId}">Lisa uus keelend</button>
                <button id="meaningCopyBtn" class="btn btn-primary btn-sm" th:data-meaning-id="${meaningId}">Duplikaat</button>
              </div>
              <div th:if="${meaning.processStateCode != null}">
                <span class="lbl">Protsessi olek</span>
                <span th:text="${meaning.processStateCode}"></span>
              </div>
              <div class="row">
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Valdkonnad</span>
                  <button type="button" class="btn badge badge-success" title="Lisa uus"
                          th:data-meaning-id="${meaningId}"
                          onclick="openClassifiersDlg(this)"
                          data-toggle="modal" data-target="#termMeaningClassifiersDlg">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col pl-0">
                  <span th:each="classif,classifIter : ${meaning.domains}" class="hidden-buttons" th:if="${not #lists.isEmpty(meaning.domains)}">
                    <span
                      th:data-id="${meaningId}"
                      th:data-op-code="meaning_domain"
                      th:data-value="${classif.toIdString()}"
                      th:name="${classifIter.index} + '_meaning_domain'"
                      th:text="${classif.code}"></span>
                    <th:block th:unless="${classif.code == classif.value}">
                      -
                      <span th:text="${classif.value}"></span>
                    </th:block>
                    <button type="button" class="btn badge badge-primary"
                            th:title="Muuda"
                            onclick="openSelectDlg(this)"
                            data-toggle="modal" data-target="#meaningDomainDlg"
                            th:data-target-elem="${classifIter.index} + '_meaning_domain'">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn badge badge-warning"
                            th:data-target-elem="${classifIter.index} + '_meaning_domain'"
                            data-toggle="delete-confirmation" data-placement="right">
                      <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                    <span th:unless="${classifIter.last}">,</span>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Seletused</span>
                  <button type="button" class="btn badge badge-success" title="Lisa uus"
                          th:data-id="${meaningId}"
                          onclick="openEkiEditorAddDlg(this)"
                          data-toggle="modal" data-target="#addNewDefinitionDlg">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col pl-0">
                  <th:block th:each="definitionLangGroup : ${meaning.definitionLangGroups}">
                    <div>
                      <span th:text="${definitionLangGroup.lang}" class="mr-2"></span>
                      <button name="lang-collapse-btn" type="button" class="btn badge badge-secondary btn-toggle" th:data-lang="${definitionLangGroup.lang}">
                        <i th:class="${definitionLangGroup.selected ? 'fa fa-angle-down' : 'fa fa-angle-right'}" aria-hidden="true"></i>
                      </button>
                    </div>
                    <th:block th:if="${definitionLangGroup.selected}" th:each="definition : ${definitionLangGroup.definitions}">
                      <div class="ml-4" style="position: relative">
                        <div style="display: list-item; position: absolute"></div>
                        <div class="hidden-buttons action-buttons-anchor">
                          <div th:name="${definition.id} + '_definition'"
                                th:data-id="${definition.id}"
                                th:data-op-code="definition"
                                th:data-value="${definition.value}"
                                th:utext="${definition.value}"></div>
                          <div class="action-buttons-2">
                            <button type="button" class="btn badge badge-primary"
                                    th:title="Muuda" th:data-target-elem="${definition.id} + '_definition'"
                                    onclick="openEkiEditorDlg(this)"
                                    data-toggle="modal" data-target="#ekiEditorDlg">
                              <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn badge badge-warning"
                                    th:data-target-elem="${definition.id} + '_definition'"
                                    data-toggle="delete-confirmation" data-placement="right">
                              <i class="fa fa-remove" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                        <div class="hidden-buttons">
                          <span th:if="${#lists.isEmpty(definition.sourceLinks)}">[]</span>
                          <span th:each="sourceLink : ${definition.sourceLinks}">
                            [
                            <a th:href="@{'/def_source_link:' + ${sourceLink.id}}"
                               th:name="${sourceLink.id} + '_def_source_link'"
                               th:data-id="${sourceLink.id}"
                               th:data-op-code="def_source_link"
                               th:text="${sourceLink.value}"
                            ></a>
                            <span th:if="${sourceLink.name != null}">
                              <span th:text="${sourceLink.name}"></span>
                            </span>
                            <button type="button" class="btn badge badge-warning"
                                    th:data-target-elem="${sourceLink.id} + '_def_source_link'"
                                    data-toggle="delete-confirmation" data-placement="right">
                              <i class="fa fa-remove" aria-hidden="true"></i>
                            </button>
                            ]
                          </span>
                          <button type="button" class="btn badge badge-success" title="Lisa allikaviide"
                                  th:data-id="${definition.id}"
                                  th:data-op-code="def_source_link"
                                  onclick="openAddSourceLinkDlg(this)"
                                  data-toggle="modal" data-target="#addNewSourceLinkDlg">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </th:block>
                  </th:block>
                </div>
              </div>
              <div class="row">
                <hr />
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Õppekommentaarid
                    <button type="button" class="btn badge badge-success" title="Lisa uus"
                            th:data-id="${meaningId}"
                            onclick="openEkiEditorAddDlg(this)"
                            data-toggle="modal" data-target="#addNewLearnerCommentDlg">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
                <div class="col pl-0">
                  <table>
                    <tr th:each="learnerComment : ${meaning.learnerComments}">
                      <td class="hidden-buttons action-buttons-anchor">
                        <div th:name="${learnerComment.id} + '_learner_comment'"
                              th:data-id="${learnerComment.id}"
                              th:data-op-code="learner_comment"
                              th:data-value="${learnerComment.valuePrese}"
                              th:utext="${learnerComment.valuePrese}"></div>
                        <div class="action-buttons-2">
                          <button type="button" class="btn badge badge-primary"
                                  th:title="Muuda" th:data-target-elem="${learnerComment.id} + '_learner_comment'"
                                  onclick="openEkiEditorDlg(this)"
                                  data-toggle="modal" data-target="#ekiEditorDlg">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn badge badge-warning"
                                  th:data-target-elem="${learnerComment.id} + '_learner_comment'"
                                  data-toggle="delete-confirmation" data-placement="right">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row" th:if="${not #lists.isEmpty(meaning.freeforms)}">
                <hr/>
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Tähenduse atribuudid</span>
                </div>
                <div class="col pl-0">
                  <table>
                    <tr th:each="freeform : ${meaning.freeforms}">
                      <td style="vertical-align: text-top; padding-right: 1em">
                        <span th:text="${freeform.type}"></span>
                      </td>
                      <td th:unless="${freeform.type.toString() == 'IMAGE_FILE'}">
                        <span th:utext="${markdown.toHtml(freeform.valueText)}" th:if="${freeform.valueText != null}"></span>
                        <span th:text="${#dates.format(freeform.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${freeform.valueDate != null}"></span>
                      </td>
                      <td th:if="${freeform.type.toString() == 'IMAGE_FILE'}">
                        <img class="w-100" th:src="@{'/files/images/' + ${freeform.valueText}}">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row">
                <hr />
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Tähenduse seosed</span>
                  <button type="button" class="btn badge badge-success" title="Lisa seos"
                          th:data-id="${meaning.meaningId}"
                          onclick="openAddNewMeaningRelationDlg(this)"
                          data-toggle="modal" data-target="#addNewMeaningRelationDlg">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col pl-0">
                  <table th:if="${not #lists.isEmpty(meaning.groupedRelations)}">
                    <tr th:each="relations : ${meaning.groupedRelations}"
                        th:data-id="${relations.get(0).id}"
                        th:data-op-code="meaning_relation"
                        th:name="${relations.get(0).id} + '_meaning_relation'"
                        class="hidden-buttons">
                      <td class="pr-3">
                        <th:block th:each="relation, iter : ${relations}">
                          <button type="button" class="btn btn-link p-0" th:data-id="${relation.meaningId}" name="detailsBtn">
                            <span th:text="${relation.word + ' (' + relation.wordLang + ')'}"></span>
                          </button>
                          <span th:unless="${iter.last}">,</span>
                        </th:block>
                      </td>
                      <td>
                        <span th:text="${relations.get(0).relationTypeLabel}"></span>
                        <button type="button" class="btn badge badge-warning"
                                th:data-target-elem="${relations.get(0).id} + '_meaning_relation'"
                                data-toggle="delete-confirmation" data-placement="right">
                          <i class="fa fa-remove" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-1">
              <a th:href="@{'/meaninglifecyclelog:' + ${meaningId}}"
                 data-toggle="modal"
                 data-target="#meaningLifecycleLogDlg"
                 class="btn btn-secondary btn-sm ml-3">Tegevuste logi</a>
              <div id="meaningLifecycleLogDlg" class="modal" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <th:block th:each="lexemeLangGroup : ${meaning.lexemeLangGroups}">
        <div class="ml-2 mt-2 mb-2">
          <span th:text="${lexemeLangGroup.lang}" class="mr-2"></span>
          <button name="lang-collapse-btn" type="button" class="btn badge badge-secondary btn-toggle" th:data-lang="${lexemeLangGroup.lang}">
            <i th:class="${lexemeLangGroup.selected ? 'fa fa-angle-down' : 'fa fa-angle-right'}" aria-hidden="true"></i>
          </button>
        </div>
        <div class="orderable" data-op-code="lexeme">
          <div class="card mb-2 shadow" th:each="lexeme,lexemeIter : ${lexemeLangGroup.lexemes}" th:if="${lexemeLangGroup.selected}"
               th:data-id="${lexeme.lexemeId}"
               th:data-op-code="lexeme"
               th:name="${lexeme.lexemeId} + '_lexeme'"
               th:data-orderby="${lexeme.orderBy}">
            <div class="card-body" th:data-toggle-name="${'lexBody_' + lexeme.lexemeId}">
              <div class="d-flex flex-row align-items-center flex-wrap">
                <div class="d-flex align-items-center flex-wrap">
                  <span th:text="${lexeme.word}" class="ttl"></span>
                  <span th:text="${lexeme.homonymNumber}" class="pl-1"></span>
                  <span th:text="${'(' + lexeme.wordLang + ')'}" class="pl-1"></span>
                  <span th:if="${lexeme.wordDisplayMorphCode != null}" th:text="${lexeme.wordDisplayMorphCode}" class="pl-1"></span>
                </div>
                <div class="ml-auto">
                  <button class="btn btn-warning font-weight-bold btn-sm" type="button"
                          th:data-target-elem="${lexeme.lexemeId} + '_lexeme'"
                          data-toggle="delete-confirmation">Eemalda</button>
                </div>
                <div class="ml-2">
                  <b th:text="${lexeme.dataset}"></b>
                </div>
                <div class="ml-2">
                  <th:block th:replace="common :: ordering_buttons(${lexemeIter})"></th:block>
                </div>
              </div>
              <div>
                <hr />
                <span th:unless="${lexeme.classifiersExist}">&nbsp;</span>
                <button type="button" class="btn badge badge-success float-right" title="Lisa klassifikaator"
                        th:data-lexeme-id="${lexeme.lexemeId}"
                        th:data-meaning-id="${lexeme.meaningId}"
                        th:data-word-id="${lexeme.wordId}"
                        onclick="openClassifiersDlg(this)"
                        data-toggle="modal" data-target="#termLexemeClassifiersDlg">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <div th:replace="components :: lexeme_process_state"></div>
                <div th:replace="components :: lexeme_value_state"></div>
                <th:block th:with="wordGenderCode=${lexeme.wordGenderCode},wordIdCode=${lexeme.wordId}">
                  <div th:replace="components :: word_gender('col-w13rem')"></div>
                </th:block>
                <th:block th:with="wordTypes=${lexeme.wordTypes},wordIdCode=${lexeme.wordId}">
                  <div th:replace="components :: word_type('col-w13rem')"></div>
                </th:block>
                <div th:replace="components :: lexeme_frequency_group"></div>
                <div th:replace="components :: lexeme_grammar"></div>
                <div th:replace="components :: lexeme_pos"></div>
                <div th:replace="components :: lexeme_derivative"></div>
                <div th:replace="components :: lexeme_register"></div>
              </div>
              <button type="button" hidden th:if="${#lists.isEmpty(lexeme.sourceLinks)}"
                      th:data-id="${lexeme.lexemeId}"
                      data-op-code="lex_source_link"
                      onclick="openAddSourceLinkDlg(this)"
                      data-btn-id="#addNewSourceLink"
                      data-toggle="modal" data-target="#addNewSourceLinkDlg">
              </button>
              <div class="row" th:if="${not #lists.isEmpty(lexeme.sourceLinks)}">
                <hr />
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Allikaviide</span>
                  <button type="button" class="btn badge badge-success" title="Lisa allikaviide"
                          th:data-id="${lexeme.lexemeId}"
                          ata-op-code="lex_source_link"
                          onclick="openAddSourceLinkDlg(this)"
                          data-btn-id="#addNewSourceLink"
                          data-toggle="modal" data-target="#addNewSourceLinkDlg">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col pl-0">
                  <span th:each="sourceLink : ${lexeme.sourceLinks}" class="hidden-buttons">
                    [
                    <a th:href="@{'/lex_source_link:' + ${sourceLink.id}}"
                       th:name="${sourceLink.id} + '_lex_source_link'"
                       th:data-id="${sourceLink.id}"
                       th:data-op-code="lex_source_link"
                       th:text="${sourceLink.value}"
                    ></a>
                    <span th:if="${sourceLink.name != null}">
                      <span th:text="${sourceLink.name}"></span>
                    </span>
                    <button type="button" class="btn badge badge-warning"
                            th:data-target-elem="${sourceLink.id} + '_lex_source_link'"
                            data-toggle="delete-confirmation" data-placement="right">
                      <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                    ]
                  </span>
                </div>
              </div>
              <button type="button" hidden th:if="${#lists.isEmpty(lexeme.usages)}"
                      th:data-id="${lexeme.lexemeId}"
                      onclick="openEkiEditorAddDlg(this)"
                      data-btn-id="#addNewUsage"
                      data-toggle="modal" data-target="#addNewUsageDlg">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <div class="row" th:if="${not #lists.isEmpty(lexeme.usages)}">
                <hr />
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Kasutusnäited</span>
                  <button type="button" class="btn badge badge-success" title="Lisa uus"
                          th:data-id="${lexeme.lexemeId}"
                          onclick="openEkiEditorAddDlg(this)"
                          data-btn-id="#addNewUsage"
                          data-toggle="modal" data-target="#addNewUsageDlg">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
                <div th:if="${not #lists.isEmpty(lexeme.usages)}" class="col pl-0">
                    <th:block th:each="usage : ${lexeme.usages}">
                      <div class="hidden-buttons action-buttons-anchor">
                        <div style="display: list-item; position: absolute"></div>
                        <div>
                          <span th:name="${usage.id} + '_usage'"
                                th:data-id="${usage.id}"
                                th:data-op-code="usage"
                                th:data-value="${usage.value}"
                                th:utext="${usage.value}"></span>
                          <span th:if="${usage.typeValue != null}" th:text="'(' + ${usage.typeValue + ')'}"></span>
                          <span th:if="${not #lists.isEmpty(usage.authors)}">
                            (
                            <span th:each="sourceLink,sourceLinkIter : ${usage.authors}">
                              <span th:text="#{'enum.reference.type.' + ${sourceLink.type}} + ': '"></span>
                              <a th:href="@{'/ff_source_link:' + ${sourceLink.id}}"
                                 th:name="${sourceLink.id} + '_ff_source_link'"
                                 th:data-id="${sourceLink.id}"
                                 th:data-op-code="ff_source_link"
                                 th:text="${sourceLink.value}"
                                 th:if="${sourceLink.value != null}"
                              ></a>
                              <span th:if="${sourceLink.name != null}">
                                <span th:text="${sourceLink.name}"></span>
                              </span>
                              <span th:unless="${sourceLinkIter.last}">, </span>
                            </span>
                            )
                          </span>
                        </div>
                        <div class="action-buttons-2">
                          <button type="button" class="btn badge badge-primary"
                                  th:title="Muuda" th:data-target-elem="${usage.id} + '_usage'"
                                  onclick="openEkiEditorDlg(this)"
                                  data-toggle="modal" data-target="#ekiEditorDlg">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn badge badge-warning"
                                  th:data-target-elem="${usage.id} + '_usage'"
                                  data-toggle="delete-confirmation" data-placement="right">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      <div class="hidden-buttons">
                        <span th:if="${#lists.isEmpty(usage.sourceLinks)}">[]</span>
                        <span th:each="sourceLink : ${usage.sourceLinks}">
                          [
                          <a th:href="@{'/ff_source_link:' + ${sourceLink.id}}"
                             th:name="${sourceLink.id} + '_ff_source_link'"
                             th:data-id="${sourceLink.id}"
                             th:data-op-code="ff_source_link"
                             th:text="${sourceLink.value}"
                          ></a>
                          <span th:if="${sourceLink.name != null}">
                            <span th:text="${sourceLink.name}"></span>
                          </span>
                          <button type="button" class="btn badge badge-warning"
                                  th:data-target-elem="${sourceLink.id} + '_ff_source_link'"
                                  data-toggle="delete-confirmation" data-placement="right">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                          ]
                        </span>
                        <button type="button" class="btn badge badge-success" title="Lisa allikaviide"
                                th:data-id="${usage.id}"
                                th:data-op-code="ff_source_link"
                                onclick="openAddSourceLinkDlg(this)"
                                data-toggle="modal" data-target="#addNewSourceLinkDlg">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </th:block>
                </div>
              </div>
              <button type="button" hidden th:if="${#lists.isEmpty(lexeme.lexemeRelations)}"
                      th:data-id="${lexeme.lexemeId}"
                      onclick="openAddNewLexemeRelationDlg(this)"
                      data-toggle="modal" data-target="#addNewLexemeRelationDlg">
              </button>
              <div class="row" th:if="${not #lists.isEmpty(lexeme.lexemeRelations)}">
                <hr />
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Ilmiku seosed</span>
                  <button type="button" class="btn badge badge-success" title="Lisa seos"
                          th:data-id="${lexeme.lexemeId}"
                          onclick="openAddNewLexemeRelationDlg(this)"
                          data-toggle="modal" data-target="#addNewLexemeRelationDlg">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col pl-0">
                  <table class="orderable" th:data-op-code="lexeme_relation" th:if="${not #lists.isEmpty(lexeme.lexemeRelations)}">
                    <tr th:each="relation, itemStat : ${lexeme.lexemeRelations}"
                        th:data-id="${relation.id}"
                        th:data-op-code="lexeme_relation"
                        th:name="${relation.id} + '_lexeme_relation'"
                        th:data-orderby="${relation.orderBy}">
                      <td class="action-column">
                        <th:block th:replace="common :: ordering_buttons(${itemStat})"></th:block>
                      </td>
                      <td class="invisible-buttons pr-3 pl-1">
                        <button type="button" class="btn btn-link btn-xs" th:data-id="${relation.meaningId}" name="detailsBtn">
                          <span th:text="${relation.word + ' (' + relation.wordLang + ')'}"></span>
                        </button>
                        <button type="button" class="btn badge badge-warning"
                                th:data-target-elem="${relation.id} + '_lexeme_relation'"
                                data-toggle="delete-confirmation" data-placement="left">
                          <i class="fa fa-remove" aria-hidden="true"></i>
                        </button>
                      </td>
                      <td>
                        <span th:text="${relation.relationTypeLabel}"></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <button type="button" hidden th:if="${#lists.isEmpty(lexeme.publicNotes)}"
                      th:data-id="${lexeme.lexemeId}"
                      onclick="openEkiEditorAddDlg(this)"
                      data-btn-id="#addNewPublicNote"
                      data-toggle="modal" data-target="#addNewPublicNoteDlg">
              </button>
              <div class="row" th:if="${not #lists.isEmpty(lexeme.publicNotes)}">
                <hr />
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Märkused
                    <button type="button" class="btn badge badge-success" title="Lisa uus"
                            th:data-id="${lexeme.lexemeId}"
                            onclick="openEkiEditorAddDlg(this)"
                            data-btn-id="#addNewPublicNote"
                            data-toggle="modal" data-target="#addNewPublicNoteDlg">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
                <div class="col pl-0">
                  <table>
                    <tr th:each="publicNote : ${lexeme.publicNotes}">
                      <td class="hidden-buttons action-buttons-anchor">
                        <div th:name="${publicNote.id} + '_public_note'"
                              th:data-id="${publicNote.id}"
                              th:data-op-code="public_note"
                              th:data-value="${publicNote.valuePrese}"
                              th:utext="${publicNote.valuePrese}"></div>
                        <div class="action-buttons-2">
                          <button type="button" class="btn badge badge-primary"
                                  th:title="Muuda" th:data-target-elem="${publicNote.id} + '_public_note'"
                                  onclick="openEkiEditorDlg(this)"
                                  data-toggle="modal" data-target="#ekiEditorDlg">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn badge badge-warning"
                                  th:data-target-elem="${publicNote.id} + '_public_note'"
                                  data-toggle="delete-confirmation" data-placement="right">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.freeforms)}" class="row">
                <hr />
                <div class="col pr-0 col-w13rem">
                  <span class="lbl">Ilmiku atribuudid</span>
                </div>
                <div class="col pl-0">
                  <table>
                    <tr th:each="freeform : ${lexeme.freeforms}">
                      <td style="vertical-align: text-top; padding-right: 1em">
                        <span th:text="${freeform.type}"></span>
                      </td>
                      <td>
                        <span th:utext="${markdown.toHtml(freeform.valueText)}" th:if="${freeform.valueText != null}"></span>
                        <span th:text="${#dates.format(freeform.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${freeform.valueDate != null}"></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>
    <script th:inline="javascript">
        $('[data-toggle=confirmation]').confirmation(
            {
                btnOkLabel: 'Jah',
                btnCancelLabel: 'Ei'
            }
        );
        $('[data-toggle=delete-confirmation]').confirmation(
            {
                btnOkLabel: 'Jah',
                btnCancelLabel: 'Ei',
                title: 'Kas olete kindel, et soovite eemaldada ?',
                onConfirm: performDelete
            }
        );
        decorateSourceLinks();
    </script>
  </th:block>

  <div th:replace="ekilex_editor :: #addNewDefinitionDlg"></div>
  <div th:replace="ekilex_editor :: #addNewUsageDlg"></div>
  <div th:replace="common :: newWordDlg('term_search')"></div>
  <div th:replace="common :: #addNewSourceLinkDlg"></div>
  <div th:replace="common :: #detailsDlg"></div>
  <div th:replace="common :: #meaningDomainDlg"></div>
  <div th:replace="common :: #termMeaningClassifiersDlg"></div>
  <div th:replace="common :: #lexemeFrequencyDlg"></div>
  <div th:replace="common :: #lexemePosDlg"></div>
  <div th:replace="common :: #lexemeDerivDlg"></div>
  <div th:replace="common :: #lexemeRegisterDlg"></div>
  <div th:replace="common :: #lexemeValueStateCodeDlg"></div>
  <div th:replace="common :: #lexemeProcessStateCodeDlg"></div>
  <div th:replace="common :: #wordGenderDlg"></div>
  <div th:replace="common :: #wordTypeDlg"></div>
  <div th:replace="common :: #termLexemeClassifiersDlg"></div>
  <div th:replace="components :: #addNewMeaningRelationDlg"></div>
  <div th:replace="components :: #addNewLexemeRelationDlg"></div>
  <div th:replace="ekilex_editor :: #ekiEditorDlg"></div>
  <div th:replace="ekilex_editor :: #addNewLearnerCommentDlg"></div>
  <div th:replace="ekilex_editor :: #addNewPublicNoteDlg"></div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #confirmDlg"></div>

  <script th:inline="javascript">
  	initialise();
  </script>
</body>
</html>
