<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(_,~{::links})">
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'home')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">Tingimused</h5>
      </div>
      <div class="card-body" th:utext="${activeTerms}"></div>
      <div class="form-group row">
        <div class="col-md-auto ml-4">
          <form class="d-inline" th:action="@{/agree_terms}" method="post">
            <button type="submit" class="btn btn-primary">Kinnitan tingimustega nõusoleku</button>
          </form>
          <form class="d-inline" th:action="@{/refuse_terms}" method="post">
            <button type="submit" class="btn btn-primary ml-3">Keeldun</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>