<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{term.search.title}">EKILEX otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-termsearch.js}"></script>
</th:block>
</head>
<body style="height: 100vh">
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <p class="card-text">
        <a th:href="@{/}">
          <span th:text="${appData.appName + ' ' + appData.appVersion}"></span>
        </a>
      </p>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{term.search.title}">Vormi otsing</h5>
      </div>
      <div class="card-body">
        <form th:action="@{/termsearch}">
          <div class="form-row">
            <div class="col-12">
              <div class="form-group row">
                <label class="col-auto col-form-label">Otsing</label>
                <div class="col-5">
                  <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" placeholder="sisesta otsitav vorm">
                </div>
                <div class="col-4" th:if="${datasets}">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dataset_select" aria-expanded="false" aria-controls="dataset_select">
                    Sõnastiku valik
                  </button>
                  <div id="dataset_select" class="collapse">
                    <button class="btn btn-secondary btn-sm mt-2" type="button" onclick="selectDatasets(true)">Vali kõik</button>
                    <button class="btn btn-secondary btn-sm mt-2" type="button" onclick="selectDatasets(false)">Eemalda valikud</button>
                    <div class="custom-controls-stacked mt-2">
                      <label class="custom-control custom-checkbox" th:each="dict : ${datasets}">
                        <input type="checkbox" class="custom-control-input" th:value="${dict.key}" th:name="dicts" th:checked="${#lists.contains(selectedDatasets, dict.key)}">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description" th:text="${dict.value}">answer</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">Otsi</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="mt-4 float-left" th:if="${wordsFoundBySearch.isEmpty() && searchFilter != null}">
      <span th:text="#{term.not.found}">Not found.</span>
    </div>

    <div class="mt-4 float-left w-25" th:if="${!wordsFoundBySearch.isEmpty()}" style="height: calc(100vh - 15em); overflow-y: auto;">
      <table id="results" class="w-100">
        <tr th:each="word : ${wordsFoundBySearch}">
          <td class="w-100" name="word_form">
            <button type="button" class="btn btn-link" th:data-id="${word.formId}" name="details">
              <span th:text="${word.value}">vorm 1</span>
              <span th:text="${'(' + word.homonymNumber + ')'}" th:if="${word.homonymNumber > 0}"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div id="details_div"></div>
  </div>

  <th:block th:fragment="details" th:if="${details != null}">
    <div th:data-id="${formId}" class="float-left mt-4 ml-2" id="details_div" style="height: calc(100vh - 15em); width: 60%; overflow-y: auto;">
      <th:block th:each="meaning : ${details.meanings}">
        <div style="border: 1px solid #CCC; padding: 5px;">
          <div th:if="${meaning.typeCode != null}">
            <b>Mõistetüüp</b>
            <span th:text="${meaning.typeCode}"></span>
          </div>
          <div th:if="${meaning.processStateCode != null}">
            <b>Olek</b>
            <span th:text="${meaning.processStateCode}"></span>
          </div>
          <div th:if="${meaning.stateCode != null}">
            <b>Seisund</b>
            <span th:text="${meaning.stateCode}"></span>
          </div>
          <p th:if="${not #lists.isEmpty(meaning.domains)}">
            <b>Valdkonnad</b>
            <span th:each="domain,domainIter : ${meaning.domains}">
              <span th:text="${domain.code}"></span>
              <th:block th:unless="${domain.code == domain.value}">
              -
              <span th:text="${domain.value}"></span>
              </th:block>
              <span th:unless="${domainIter.last}">,</span>
            </span>
          </p>
          <div th:if="${not #lists.isEmpty(meaning.definitions)}">
            <b>Seletused</b>
            <br />
            <ul>
              <li th:each="definition : ${meaning.definitions}" th:unless="${#strings.isEmpty(definition)}">
                <span th:name="${definition.id} + '_definition'"
                      th:data-id="${definition.id}"
                      th:data-op-type="definition"
                      th:data-value="${definition.value}"
                      th:utext="${markdown.toHtml(definition.value)}"></span>
                <button type="button" class="btn btn-primary btn-sm ml-2"
                        th:title="Muuda" th:data-target-elem="${definition.id} + '_definition'"
                        onclick="initEditDlg(this)"
                        data-toggle="modal" data-target="#editDlg">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
              </li>
            </ul>
          </div>
          <div th:if="${not #lists.isEmpty(meaning.freeforms)}">
            <b>Tähenduse atribuudid</b>
            <table>
              <tr th:each="freeform : ${meaning.freeforms}">
                <td style="vertical-align: text-top; padding-right: 1em">
                  <span th:text="${freeform.type}"></span>
                </td>
                <td>
                  <span th:utext="${markdown.toHtml(freeform.valueText)}" th:if="${freeform.valueText != null}"></span>
                  <span th:text="${#dates.format(freeform.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${freeform.valueDate != null}"></span>
                </td>
              </tr>
            </table>
          </div>
          <th:block th:each="lexeme,lexemeIter : ${meaning.lexemes}">
            <div style="border: 1px solid rgba(200,200,200,0.4); padding: 5px; width: 100%">
              <a style="color: #1e7e34" class="mr-2" th:href="@{'/termsearch?searchFilter=' + ${lexeme.word}}">
                <span th:text="${lexeme.word}"></span>
                (
                <span th:text="${lexeme.wordLang}"></span>
                )
              </a>
              <span th:if="${lexeme.levels != null}">
                <small>
                  [
                  <span th:text="${lexeme.levels}"></span>
                  ]
                </small>
                &nbsp;
              </span>
              <span th:text="${lexeme.dataset}" class="pr-2"></span>
              <div th:if="${lexeme.typeCode != null}">
                <b>Keelendi tüüp</b>
                <span th:text="${lexeme.typeCode}"></span>
              </div>
              <div th:if="${lexeme.frequencyGroupCode != null}">
                <b>Sagedusrühm</b>
                <span th:text="${lexeme.frequencyGroupCode}"></span>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.rections)}" style="margin-top: -0.5em;">
                <table>
                  <tr th:each="rection,rectionIter : ${lexeme.rections}">
                    <td>
                      <table>
                        <tr>
                          <th>Rektsioon</th>
                        </tr>
                        <tr>
                          <td th:text="${rection.value}"></td>
                        </tr>
                        <tr th:if="${rection.meaningful}">
                          <td>
                            <table th:each="usageMeaning,usageMeaningIter : ${rection.usageMeanings}">
                              <tr>
                                <td>
                                  <i style="text-decoration: underline;">
                                    <span>Kasutusnäite tähendus #</span>
                                    <span th:text="${usageMeaningIter.count}"></span>
                                  </i>
                                </td>
                              </tr>
                              <tr th:if="${not #lists.isEmpty(usageMeaning.usages)}">
                                <td>
                                  <b>Kasutusnäited</b>
                                </td>
                              </tr>
                              <tr th:each="usage : ${usageMeaning.usages}">
                                <td>
                                  <span th:name="${usage.id} + '_usage'"
                                        th:data-id="${usage.id}"
                                        th:data-op-type="usage"
                                        th:data-value="${usage.value}"
                                        th:utext="${markdown.toHtml(usage.value)}"></span>
                                  <button type="button" class="btn btn-primary btn-sm ml-2"
                                          th:title="Muuda" th:data-target-elem="${usage.id} + '_usage'"
                                          onclick="initEditDlg(this)"
                                          data-toggle="modal" data-target="#editDlg">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                  </button>
                                </td>
                              </tr>
                              <tr th:if="${not #lists.isEmpty(usageMeaning.usageTranslations)}">
                                <td>
                                  <b>Kasutusnäite tõlked</b>
                                </td>
                              </tr>
                              <tr th:each="usageTranslation : ${usageMeaning.usageTranslations}">
                                <td>
                                  <span th:name="${usageTranslation.id} + '_usage_translation'"
                                        th:data-id="${usageTranslation.id}"
                                        th:data-op-type="usage_translation"
                                        th:text="${usageTranslation.value}"></span>
                                  <button type="button" class="btn btn-primary btn-sm ml-2"
                                          th:title="Muuda" th:data-target-elem="${usageTranslation.id} + '_usage_translation'"
                                          onclick="initEditDlg(this)"
                                          data-toggle="modal" data-target="#editDlg">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                  </button>
                                </td>
                              </tr>
                              <tr th:if="${not #lists.isEmpty(usageMeaning.usageDefinitions)}">
                                <td>
                                  <b>Kasutusnäite seletused</b>
                                </td>
                              </tr>
                              <tr th:each="usageDefinition : ${usageMeaning.usageDefinitions}">
                                <td>
                                  <span th:name="${usageDefinition.id} + '_usage_definition'"
                                        th:data-id="${usageDefinition.id}"
                                        th:data-op-type="usage_definition"
                                        th:data-value="${usageDefinition.value}"
                                        th:utext="${markdown.toHtml(usageDefinition.value)}"></span>
                                  <button type="button" class="btn btn-primary btn-sm ml-2"
                                          th:title="Muuda" th:data-target-elem="${usageDefinition.id} + '_usage_definition'"
                                          onclick="initEditDlg(this)"
                                          data-toggle="modal" data-target="#editDlg">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                  </button>
                                </td>
                              </tr>
                              <tr th:unless="${usageMeaningIter.last}">
                                <td>
                                  <hr />
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              <div th:if="${not #lists.isEmpty(lexeme.freeforms)}">
                <b>Ilmiku atribuudid</b>
                <table>
                  <tr th:each="freeform : ${lexeme.freeforms}">
                    <td style="vertical-align: text-top; padding-right: 1em">
                      <span th:text="${freeform.type}"></span>
                    </td>
                    <td>
                      <span th:utext="${markdown.toHtml(freeform.valueText)}" th:if="${freeform.valueText != null}"></span>
                      <span th:text="${#dates.format(freeform.valueDate, 'dd.MM.yyyy HH:mm')}" th:if="${freeform.valueDate != null}"></span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div style="padding: 5px" th:unless="${lexemeIter.last}"></div>
          </th:block>
        </div>
        <div style="padding: 10px"></div>
      </th:block>
    </div>
  </th:block>

  <div id="editDlg" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form th:action="@{/modify}" method="post">
          <div class="modal-body">
            <input type="hidden" name="id">
            <input type="hidden" name="op_type">
            <div class="form-group row">
              <div class="col-md-12">
                <textarea class="form-control" rows="5" name="modified_value"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
  	initialize(applicationUrl);
  </script>
</body>
</html>
