<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{term.meaning.table.title}">Tabelivaade</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'term')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-body">
        <th:block th:if="${searchResult.resultCount > 0}">
          <table class="table table-sm border-bottom">
            <tr>
              <th style="width: 10%" th:text="#{term.meaning.table.meaning.id}">mõiste id</th>
              <th style="width: 30%" th:text="#{term.meaning.table.definitions}">seletused</th>
              <th style="width: 30%" th:text="#{term.meaning.table.lexemes}">ilmikud</th>
              <th style="width: 30%" th:text="#{term.meaning.table.usages}">kasutusnäited</th>
            </tr>
            <tr th:each="meaningTableRow : ${searchResult.results}">
              <td>
                <span th:text="${meaningTableRow.meaningId}"></span>
              </td>
              <td>
                <div th:each="definition : ${meaningTableRow.definitions}">
                  <span th:utext="${definition.value}"></span>
                  <span class="ctxt" th:text="'(' + #{'boolean.public.' + ${definition.public}} + ')'" data-plugin="complexity"></span>
                </div>
              </td>
              <td colspan="2">
                <table class="table table-sm table-bordered">
                  <tr th:each="lexeme : ${meaningTableRow.lexemes}">
                    <td style="width: 50%">
                      <span th:utext="${lexeme.word.valuePrese}"></span>
                      <span th:text="${'(' + viewUtil.getLangIso2(lexeme.word.lang) + ')'}" class="ml-1"></span>
                      <span th:text="'(' + ${lexeme.datasetCode + ')'}" class="ml-1"></span>
                      <span class="ctxt" th:text="'(' + #{'boolean.public.' + ${lexeme.public}} + ')'" data-plugin="complexity"></span>
                    </td>
                    <td style="width: 50%">
                      <div th:each="usage : ${lexeme.usages}">
                        <span th:utext="${usage.valuePrese}"></span>
                        <div class=" ctxt" th:text="'(' + #{'boolean.public.' + ${usage.public}} + ')'" data-plugin="complexity"></div>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </th:block>
      </div>
    </div>
  </div>
</body>
</html>
