<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <div class="card-body px-2 pt-1 pb-2" th:fragment="search_result">
    <div class="row">
      <div class="col-auto">
        <div class="btn-group btn-group-toggle btn-tabs" data-toggle="buttons">
          <label class="btn btn-secondary" th:classappend="${sessionBean.termSearchResultMode == T(eki.ekilex.constant.SearchResultMode).WORD ? 'active' : ''}">
            <span th:text="${'Term : ' + termSearchResult.wordCount}"></span>
            <input type="radio" name="resultMode" autocomplete="off"
                  data-plugin="relativeFormItem"
                  data-relativeFormItem:id="search-result-mode-1"
                  th:checked="${sessionBean.termSearchResultMode == T(eki.ekilex.constant.SearchResultMode).WORD}"
                  th:value="${T(eki.ekilex.constant.SearchResultMode).WORD}"/>
          </label>
          <label class="btn btn-secondary" th:classappend="${sessionBean.termSearchResultMode == T(eki.ekilex.constant.SearchResultMode).MEANING ? 'active' : ''}">
            <span  th:text="${'Mõisteid : ' + termSearchResult.meaningCount}"></span>
            <input type="radio" name="resultMode" autocomplete="off"
                  data-plugin="relativeFormItem"
                  data-relativeFormItem:id="search-result-mode-2"
                  th:checked="${sessionBean.termSearchResultMode == T(eki.ekilex.constant.SearchResultMode).MEANING}"
                  th:value="${T(eki.ekilex.constant.SearchResultMode).MEANING}"/>
          </label>
        </div>
      </div>
      <div class="col-auto ml-auto">
        <select
          name="resultLang"
          data-plugin="relativeFormItem"
          data-relativeFormItem:id="lang-select-item"
          class="form-control classifier-select"
          data-live-search="true">
          <option value="">Kõik keeled</option>
          <option th:each="lang : ${allLanguages}" th:value="${lang.code}" th:selected="${lang.code == sessionBean.termSearchResultLang}" th:text="${lang.value}"></option>
        </select>
      </div>
    </div>
    <div th:replace="commontermcomp :: result_rows"></div>
  </div>
  <div class="hidden-buttons row" th:fragment="data_ids" style="display: none;">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Identifikaatorid</span>
    </div>
    <div class="col pl-0" data-id="identificators">
      <span class="pr-1" th:text="'W' + ${lexeme.wordId}"></span>
      <span class="pr-1" th:text="'L' + ${lexeme.lexemeId}"></span>
      <span class="pr-1" th:text="'M' + ${lexeme.meaningId}"></span>
    </div>
  </div>
  <div class="row" th:fragment="tags">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Ilmiku sildid</span>
      <button type="button" class="btn badge badge-secondary float-right mr-4"
              title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addLexemeTagDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <span th:each="tag,tagIter : ${lexeme.tags}" class="hidden-buttons">
        <span th:text="${tag}"></span>
        <button type="button" class="btn badge badge-warning"
                th:data-id="${lexeme.lexemeId}"
                data-op-code="lexeme_tag"
                th:data-value="${tag}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${tagIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="hidden-buttons row" th:if="${lexeme.complexity != null}" th:fragment="lexeme_complexity">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Detailsus</span>
    </div>
    <div class="col pl-0">
      <span th:text="#{'enum.complexity.' + ${lexeme.complexity}}"></span>
    </div>
  </div>
  <div class="hidden-buttons row" th:fragment="lexeme_publicity" style="display: none;">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Avalikkus</span>
    </div>
    <div class="col pl-0" data-id="status" th:data-target="${'#editLexemePublicityDlg_' + lexeme.lexemeId}">
      <span th:if="${lexeme.public}">avalik</span>
      <span th:unless="${lexeme.public}">mitteavalik</span>
      <button type="button" class="btn badge badge-primary" title="Muuda"
              data-toggle="modal"
              th:data-target="${'#editLexemePublicityDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="hidden-buttons row" th:if="${lexeme.lexemeValueStateCode != null}" th:fragment="lexeme_value_state"  data-id="valuestatus" style="display: none;">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Väärtusolek</span>
    </div>
    <div class="col pl-0">
      <span th:text="${lexeme.lexemeValueStateCode}"></span>
      <button type="button" class="btn badge badge-primary" title="Muuda"
              data-toggle="modal"
              th:data-target="${'#editLexemeValueStateCodeDlg_' + lexeme.lexemeId}"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn badge badge-warning"
              th:data-id="${lexeme.lexemeId}"
              data-op-code="lexeme_value_state"
              data-toggle="delete-confirm"
              data-placement="right"
              sec:authorize="#vars.lexeme.crudGrant">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.grammars)}" th:fragment="lexeme_grammar">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Grammatika</span>
    </div>
    <div class="col pl-0">
      <span th:each="grammar,grammarIter : ${lexeme.grammars}" class="hidden-buttons">
        <span th:utext="${grammar.valuePrese}"></span>
        <span th:unless="${grammarIter.last}" class="ml-n1">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.pos)}" th:fragment="lexeme_pos">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Sõnaliik</span>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.pos}" class="hidden-buttons">
        <span th:replace="termdialog :: edit_lexeme_pos_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary" title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemePosDlg_' + lexeme.lexemeId + '_' + classifIter.index}"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-id="${lexeme.lexemeId}"
                data-op-code="lexeme_pos"
                th:data-value="${classif.code}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.derivs)}" th:fragment="lexeme_derivative">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Tuletuskood</span>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.derivs}" class="hidden-buttons">
        <span th:replace="termdialog :: edit_lexeme_deriv_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary" title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemeDerivDlg_' + lexeme.lexemeId + '_' + classifIter.index}"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-id="${lexeme.lexemeId}"
                data-op-code="lexeme_deriv"
                th:data-value="${classif.code}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.registers)}" th:fragment="lexeme_register">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Register</span>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.registers}" class="hidden-buttons">
        <span th:replace="termdialog :: edit_lexeme_register_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary" title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemeRegisterDlg_' + lexeme.lexemeId + '_' + classifIter.index}"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-id="${lexeme.lexemeId}"
                data-op-code="lexeme_register"
                th:data-value="${classif.code}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="#vars.lexeme.crudGrant">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(lexeme.regions)}" th:fragment="lexeme_region">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Regioon</span>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.regions}" class="hidden-buttons">
        <span th:replace="termdialog :: edit_lexeme_region_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary" title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editLexemeRegionDlg_' + lexeme.lexemeId + '_' + classifIter.index}">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-id="${lexeme.lexemeId}"
                data-op-code="lexeme_region"
                th:data-value="${classif.code}"
                data-toggle="delete-confirm"
                data-placement="right">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(meaning.domains)}" th:fragment="meaning_domain">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Valdkonnad</span>
      <button type="button" class="btn badge badge-secondary float-right mr-4" title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addMeaningDomainDlg_' + meaningId}"
              sec:authorize="#vars.meaning.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <div class="orderable" data-op-code="meaning_domain">
        <div th:each="classif,classifIter : ${meaning.domains}"
             th:data-id="${classif.id}"
             th:data-orderby="${classif.orderBy}"
             class="hidden-buttons">
          <div class="row">
            <div class="action-column">
              <th:block th:replace="common :: ordering_buttons(${classifIter})" sec:authorize="#vars.meaning.crudGrant"></th:block>
            </div>
            <div class="col">
              <span th:replace="termdialog :: edit_meaning_domain_dlg"></span>
              <span th:text="${classif.code}"></span>
              <th:block th:unless="${classif.code == classif.value}">
                -
                <span th:text="${classif.value}"></span>
              </th:block>
              <button type="button" class="btn badge badge-primary" title="Muuda"
                      data-toggle="modal"
                      th:data-target="${'#editMeaningDomainDlg_' + meaningId + '_' + classifIter.index}"
                      sec:authorize="${#vars.meaning.crudGrant}">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn badge badge-warning"
                      th:data-id="${meaningId}"
                      data-op-code="meaning_domain"
                      th:data-value="${classif.toIdString()}"
                      data-toggle="delete-confirm"
                      data-placement="right"
                      sec:authorize="${#vars.meaning.crudGrant}">
                <i class="fa fa-remove" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" th:if="${not #lists.isEmpty(meaning.semanticTypes)}" th:fragment="meaning_semantic_type">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Semantiline tüüp</span>
      <button type="button" class="btn badge badge-secondary float-right mr-4" title="Lisa uus"
              data-toggle="modal"
              th:data-target="${'#addMeaningSemanticTypeDlg_' + meaningId}"
              sec:authorize="#vars.meaning.crudGrant">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${meaning.semanticTypes}" class="hidden-buttons">
        <span th:replace="termdialog :: edit_meaning_semantic_type_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary"
                title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editMeaningSemanticTypeDlg_' + meaningId + '_' + classifIter.index}"
                sec:authorize="${#vars.meaning.crudGrant}">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-id="${meaningId}"
                data-op-code="meaning_semantic_type"
                th:data-value="${classif.code}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="${#vars.meaning.crudGrant}">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
  <div class="row mr-0 hidden-buttons" th:if="${lexeme.word.genderCode != null}" th:fragment="word_gender">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Sugu</span>
    </div>
    <div class="col pl-0">
      <span th:text="${T(eki.ekilex.service.util.ConversionUtil).getClassifierValue(lexeme.word.genderCode, wordGenders)}"></span>
      <button type="button" class="btn badge badge-primary" title="Muuda"
              data-toggle="modal"
              th:data-target="${'#editWordGenderDlg_' + lexeme.lexemeId + '_' + lexeme.wordId}">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn badge badge-warning"
              th:data-id="${lexeme.wordId}"
              data-op-code="word_gender"
              data-toggle="delete-confirm"
              data-placement="right"
              sec:authorize="${#vars.lexeme.word.crudGrant}">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row mr-0 hidden-buttons" th:if="${lexeme.word.lang != null}" th:fragment="word_lang">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Sõna keel</span>
    </div>
    <div class="col pl-0">
      <span th:text="${T(eki.ekilex.service.util.ConversionUtil).getClassifierValue(lexeme.word.lang, allLanguages)}"></span>
      <button type="button" class="btn badge badge-primary" title="Muuda"
              data-toggle="modal"
              th:data-target="${'#editWordLangDlg_' + lexeme.lexemeId + '_' + lexeme.wordId}"
              sec:authorize="${#vars.lexeme.word.crudGrant}">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row mr-0" th:if="${not #lists.isEmpty(lexeme.wordTypes)}" th:fragment="word_type">
    <div class="col pr-0 col-w13rem">
      <span class="lbl">Sõna tüüp</span>
    </div>
    <div class="col pl-0">
      <span th:each="classif,classifIter : ${lexeme.wordTypes}" class="hidden-buttons">
        <span th:replace="termdialog :: edit_word_type_dlg"></span>
        <span th:text="${classif.code}"></span>
        <th:block th:unless="${classif.code == classif.value}">
          -
          <span th:text="${classif.value}"></span>
        </th:block>
        <button type="button" class="btn badge badge-primary" title="Muuda"
                data-toggle="modal"
                th:data-target="${'#editWordTypeDlg_' + lexeme.lexemeId + '_' + lexeme.wordId + '_' + classifIter.index}"
                sec:authorize="${#vars.lexeme.word.crudGrant}">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn badge badge-warning"
                th:data-id="${lexeme.wordId}"
                data-op-code="word_type"
                th:data-value="${classif.code}"
                data-toggle="delete-confirm"
                data-placement="right"
                sec:authorize="${#vars.lexeme.word.crudGrant}">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <span th:unless="${classifIter.last}">,</span>
      </span>
    </div>
  </div>
</body>
</html>
