<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{term.meaning.table.title}">Tabelivaade</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'term')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-body">
        <th:block th:if="${searchResult.resultCount > 0}">
          <form id="updateMeaningForm" th:action="@{/termmeaningtable/update_meaning}" method="post"></form>
          <form id="updateDefinitionsPublicityForm" th:action="@{/termmeaningtable/update_definitions_publicity}" method="post">
            <input type="hidden" name="searchUri" th:value="${searchUri}">
            <input type="hidden" name="public">
          </form>
          <form id="updateLexemesPublicityForm" th:action="@{/termmeaningtable/update_lexemes_publicity}" method="post">
            <input type="hidden" name="searchUri" th:value="${searchUri}">
            <input type="hidden" name="public">
          </form>
          <form id="updateUsagesPublicityForm" th:action="@{/termmeaningtable/update_usages_publicity}" method="post">
            <input type="hidden" name="searchUri" th:value="${searchUri}">
            <input type="hidden" name="public">
          </form>
          <table class="table table-sm border-bottom">
            <tr>
              <th style="width: 10%" th:text="#{term.meaning.table.meaning.id}">mõiste id</th>
              <th style="width: 30%">
                <span th:text="#{term.meaning.table.definitions}">seletused</span>
                <button class="btn text-gray" data-plugin="meaningTableItemsPublicity" data-type="definition">
                  <span class="fa fa-lock"></span>
                </button>
              </th>
              <th style="width: 30%">
                <span th:text="#{term.meaning.table.lexemes}">ilmikud</span>
                <button class="btn text-gray" data-plugin="meaningTableItemsPublicity" data-type="lexeme">
                  <span class="fa fa-lock"></span>
                </button>
              </th>
              <th style="width: 30%">
                <span th:text="#{term.meaning.table.usages}">kasutusnäited</span>
                <button class="btn text-gray" data-plugin="meaningTableItemsPublicity" data-type="usage">
                  <span class="fa fa-lock"></span>
                </button></th>
            </tr>
            <th:block th:each="meaningTableRow : ${searchResult.results}">
              <tr th:replace="termmeaningtablecomp :: meaning_table_row"></tr>
            </th:block>
          </table>
        </th:block>
      </div>
    </div>
  </div>
  <div id="editRowItemPublicityDlg" class="modal select-dlg" role="dialog" data-plugin="initMeaningRowItemPublicityDlgPlugin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <input type="hidden" name="publicityInputId">
          <input type="hidden" name="meaningId">
          <select class="form-control" name="public">
            <option value="true" th:text="#{boolean.public.true}">avalik</option>
            <option value="false" th:text="#{boolean.public.false}">mitteavalik</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div id="editTableItemsPublicityDlg" class="modal select-dlg" role="dialog" data-plugin="initMeaningTableItemsPublicityDlgPlugin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <input type="hidden" name="type">
          <select class="form-control" name="public">
            <option value="true" th:text="#{term.meaning.table.set.all.public}">Avalikusta kõik</option>
            <option value="false" th:text="#{term.meaning.table.set.all.non.public}">Mitteavalikusta kõik</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="common :: user_message"></th:block>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #alertSmall"></div>
  <div th:replace="common :: #waitDlg"></div>
</body>
</html>
