<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <th:block th:fragment="terms_text">

    <p>Ekilexi kasutustingimused<br>

    <p>1. Sõnakogu looja loovutab sõnakogu loomisel loodud autoriõigusega kaitstavate teoste varalised õigused Eesti Keele Instituudile (EKI)
      selle eest eraldi tasu saamata. Õiguste osas, millised seaduse kohaselt ei ole loovutatavad (isiklikud õigused), annab sõnakogu looja
      EKI-le tähtajatu ja tagasivõtmatu ainulitsentsi kogu maailmas selle eest eraldi tasu saamata.<br>

    <p>2. Ekilexi sõnakogude tüüplitsentsiks on Creative Commons BY 4.0, mis tähendab, et materjali on lubatud töödelda ja esitada mistahes
      vajalikul moel, näiteks liitsõnaraamatuks, õppematerjaliks, äpiks, spelleri lähtematerjaliks jne. Kommertskasutust ei piirata,
      kuid ressursi kasutaja peab oma rakenduse juures säilitama viite sõnakogu autorile, Eesti Keele Instituudile ja
      EKI sõnastiku- ja terminibaasile Ekilex ning kirjeldama omapoolseid muudatusi.<br>

    <p>3. Annan loa, et EKI-l on õigus minu sõnakogu andmeid muuta või täiendada: ühendada sõnakogude vahel samakujulisi keelendeid,
      ühendada sõnakogude vahel samasisulisi mõisteid, parandada tekstis ilmseid näpuvigu.<br>

  </th:block>
</body>
</html>
