<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{search.title}">EKILEX otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-termsearch.js}"></script>
</th:block>
</head>
<body>
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <p class="card-text">
        <a th:href="@{/}">
          <span th:text="${appData.appName + ' ' + appData.appVersion}"></span>
        </a>
      </p>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="card-title" th:text="#{search.title}">Vormi otsing</h5>
      </div>
      <div class="card-body">
        <form th:action="@{/termsearch}">
          <div class="form-row">
            <div class="col-12">
              <div class="form-group row">
                <label class="col-auto col-form-label">Otsing</label>
                <div class="col-5">
                  <input type="text" class="form-control" name="searchFilter" th:value="${searchFilter}" placeholder="sisesta otsitav vorm">
                </div>
                <div class="col-4 custom-controls-stacked" th:if="${datasets}">
                  <label class="custom-control custom-checkbox" th:each="dict : ${datasets}">
                    <input type="checkbox" class="custom-control-input" th:value="${dict.key}" th:name="dicts" th:checked="${#lists.contains(selectedDatasets, dict.key)}">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" th:text="${dict.value}">answer</span>
                  </label>
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">Otsi</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mt-4 ml-4" th:if="${wordsFoundBySearch != null}">
      <table id="results" class="w-100">
        <tr th:each="word : ${wordsFoundBySearch}">
          <td class="w-100">
            <span th:text="${word.value}">vorm 1</span>
            <span th:text="${'(' + word.homonymNumber + ')'}" th:if="${word.homonymNumber > 0}"></span>
            <button type="button" class="btn btn-link" th:data-id="${word.formId}" name="details">Detailid</button>
            <div th:name="${word.formId}+'_details'"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <th:block th:fragment="details" th:if="${details != null}">
    <div th:name="${detailsName}" class="pl-4">
      <div class="float-left w-25">
        <th:block>
          <span>&nbsp;</span>
        </th:block>
      </div>
      <div class="float-left w-75">
        <th:block th:each="meaning : ${details.meanings}">
          <div style="border: 1px solid #CCC; padding: 5px; width: 60%">
            <span th:each="dataset : ${meaning.datasets}" th:text="${dataset}" class="pr-2"></span>
            <span th:text="${meaning.level1 + '.' + meaning.level2 + '.' + meaning.level3}" th:if="${meaning.level1 > 0}"></span>
            <div th:if="${meaning.lexemeTypeCode != null}">
              <b>Keelendi t&#252;&#252;p</b>
              <span th:text="${meaning.lexemeTypeCode}"></span>
            </div>
            <div th:if="${meaning.frequencyGroupCode != null}">
              <b>Sagedusrühm</b>
              <span th:text="${meaning.frequencyGroupCode}"></span>
            </div>
            <p th:if="${not #lists.isEmpty(meaning.domains)}">
              <b>Valdkonnad</b>
              <span th:each="domain,domainIter : ${meaning.domains}">
                <span th:text="${domain.code}"></span>
                -
                <span th:text="${domain.value}"></span>
                <span th:unless="${domainIter.last}">,</span>
              </span>
            </p>
            <hr />
            <div th:if="${not #lists.isEmpty(meaning.rections)}" style="margin-top: -0.5em;">
              <table>
                <tr th:each="rection,rectionIter : ${meaning.rections}">
                  <td style="vertical-align: text-top; padding-right: 1em"><span th:text="${rection.value}"></span></td>
                  <td>
                  <span th:each="usage,usageIter : ${rection.usages}">
                    <th:block th:each="usageValue, usageValueIter : ${usage}">
                      <th:block th:if="${usageValue != null}">
                        <span th:unless="${usageValueIter.first}">-</span>
                        <span th:text="${usageValue}"></span>
                      </th:block>
                    </th:block>
                    <br th:unless="${usageIter.last}" />
                  </span>
                  </td>
                </tr>
              </table>
              <hr />
            </div>
            <div th:if="${not #lists.isEmpty(meaning.definitions)}">
              <b>Seletused</b><br />
              <ul>
                <li th:each="definition : ${meaning.definitions}" th:text="${definition}" th:unless="${#strings.isEmpty(definition)}"></li>
              </ul>
              <hr />
            </div>
            <div th:if="${not #lists.isEmpty(meaning.freeforms)}">
              <b>Vabavormid</b>
              <table th:if="${not #lists.isEmpty(meaning.lexemeFreeforms)}">
                <thead><th colspan="2"><small>ilmiku vabavormid</small></th></thead>
                <tr th:each="freeform : ${meaning.lexemeFreeforms}">
                  <td style="vertical-align: text-top; padding-right: 1em"><span th:text="${freeform.type}"></span></td>
                  <td><span th:text="${freeform.displayString}"></span></td>
                </tr>
              </table>
              <table th:if="${not #lists.isEmpty(meaning.meaningFreeforms)}">
                <thead><th colspan="2"><small>tähenduse vabavormid</small></th></thead>
                <tr th:each="freeform : ${meaning.meaningFreeforms}">
                  <td style="vertical-align: text-top; padding-right: 1em"><span th:text="${freeform.type}"></span></td>
                  <td><span th:text="${freeform.displayString}"></span></td>
                </tr>
              </table>
              <hr />
            </div>
            <ul>
              <li th:each="word,wordIter : ${meaning.words}">
                <a style="color: #1e7e34" class="mr-2" th:href="@{'/termsearch?searchFilter=' + ${word.value}}">
                  <span th:text="${word.value}"></span>
                  (
                  <span th:text="${word.lang}"></span>
                  )
                </a>
                <span th:if="${word.displayForm != null}">
                  [
                  <span th:text="${word.displayForm}"></span>
                  ]
                </span>
                <span th:text="${word.vocalForm}"></span>
                <span th:text="${word.morphCode}"></span>
                <span th:text="${word.morphValue}"></span>
              </li>
            </ul>
          </div>
          <div style="padding: 5px"></div>
        </th:block>
      </div>
    </div>
  </th:block>

  <script th:inline="javascript">
  	initialize(applicationUrl);
  </script>

</body>
</html>
