<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <div id="addApplicationDlg" class="modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form th:action="@{/reapply}" method="post">
          <div class="modal-body">
            <div class="row no-gutters">
              <label class="col-10 ml-5 col-form-label">Taotluse kommentaar</label>
              <div class="col-10 ml-5">
                <textarea class="form-control md-textarea" rows="3" name="applicationComment"></textarea>
              </div>
            </div>
            <div class="row no-gutters">
              <span class="col-10 mt-3 ml-5">
                <a class="btn btn-outline-secondary" data-toggle="collapse" href="#datasetsSelection" role="button" aria-expanded="false" aria-controls="datasetsSelection">
                  <span>Märgi sõnakogud, millele soovid õigusi</span>
                </a>
              </span>
            </div>
            <div class="mt-3 collapse" id="datasetsSelection">
              <th:block th:each="dataset : ${allDatasets}">
                <div class="row no-gutters">
                  <span class="col-1 text-right">
                    <input type="checkbox" name="selectedDatasets" th:value="${dataset.code}"/>
                  </span>
                  <span th:text="${dataset.code}" class="col-1 text-center"></span>
                  <span th:text="${dataset.name}" class="col-10"></span>
                </div>
              </th:block>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Saada taotlus</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="selectMeaningRelationPrefsDlg" class="modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form th:action="@{/update_meaning_rel_prefs}" method="post">
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-md-auto col-form-label">Kuvatavate keelendite keeled</label>
              <div class="col-md-12">
                <select name="meaningRelationWordLanguages" class="classifier-select multi-select required-field" multiple data-live-search="true" data-actions-box="true"
                        title="Vali tähenduste seoste juures kuvatavate sõnade keeled"
                        th:data-select-all-text="#{button.select.all.text}"
                        th:data-deselect-all-text="#{button.unselect.all.text}">
                  <th:block th:each="language: ${allLanguages}">
                    <option th:value="${language.code}" th:text="${language.value}" th:selected="${#lists.contains(userProfile.preferredMeaningRelationWordLangs, language.code)}"/>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label">
                <input type="checkbox" name="showLexMeaningRelationSourceLangWords" th:checked="${userProfile.showLexMeaningRelationSourceLangWords}">
                <span>Näita leksikograafide vaates ainult märksõna keelseid sõnu</span>
              </label>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label">
                <input type="checkbox" name="showMeaningRelationFirstWordOnly" th:checked="${userProfile.showMeaningRelationFirstWordOnly}">
                <span>Näita valitud keeltes ainult esimest sõna</span>
              </label>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label">
                <input type="checkbox" name="showMeaningRelationMeaningId" th:checked="${userProfile.showMeaningRelationMeaningId}">
                <span>Näita tähenduse id-d</span>
              </label>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label">
                <input type="checkbox" name="showMeaningRelationWordDatasets" th:checked="${userProfile.showMeaningRelationWordDatasets}">
                <span>Näita sõnakogude koode</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="selectTagPrefsDlg" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form th:action="@{/update_tag_prefs}" method="post">
          <div class="modal-body">
            <div class="form-group row">
                <label class="col-md-auto col-form-label">Otsingutulemustes nähtavad sildid</label>
              <div class="col-md-12">
                <select name="searchableTagNames" multiple data-live-search="true" data-actions-box="true"
                        title="Vali otsingutulemustes nähtavad sildid"
                        th:data-select-all-text="#{button.select.all.text}"
                        th:data-deselect-all-text="#{button.unselect.all.text}">
                  <th:block th:each="tag : ${tags}">
                    <option th:value="${tag}" th:text="${tag}" th:selected="${userProfile.searchableTagNames != null && #lists.contains(userProfile.searchableTagNames, tag)}"/>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-auto col-form-label">Aktiivne silt</label>
              <div class="col-md-12">
                <select name="preferredTagName" class="form-control">
                  <option value="" hidden disabled selected>vali aktiivne silt</option>
                  <option th:each="tag : ${tags}"
                          th:value="${tag}"
                          th:selected="${tag == userProfile.preferredTagName}"
                          th:text="${tag}">tags
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>