<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <div id="addApplicationDlg" class="modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form th:action="@{/reapply}" method="post">
          <div class="modal-body">
            <div class="row no-gutters">
              <label class="col-10 ml-5 col-form-label" th:text="#{userprofile.application.comment}">Taotluse kommentaar</label>
              <div class="col-10 ml-5">
                <textarea class="form-control md-textarea" rows="3" name="applicationComment"></textarea>
              </div>
            </div>
            <div class="row no-gutters">
              <span class="col-10 mt-3 ml-5">
                <a class="btn btn-outline-secondary" data-toggle="collapse" href="#datasetsSelection" role="button" aria-expanded="false" aria-controls="datasetsSelection">
                  <span th:text="#{userprofile.select.datasets}">Märgi sõnakogud, millele soovid õigusi</span>
                </a>
              </span>
            </div>
            <div class="mt-3 collapse" id="datasetsSelection">
              <th:block th:each="dataset : ${allDatasets}">
                <div class="row no-gutters">
                  <span class="col-1 text-right">
                    <input type="checkbox" name="selectedDatasets" th:value="${dataset.code}"/>
                  </span>
                  <span th:text="${dataset.code}" class="col-1 text-center"></span>
                  <span th:text="${dataset.name}" class="col-10"></span>
                </div>
              </th:block>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:text="#{userprofile.send.application}">Saada taotlus</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="selectMeaningRelationPrefsDlg" class="modal" role="dialog" data-plugin="selectMeaningRelationPrefsDlgPlugin">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form th:action="@{/update_meaning_rel_prefs}" method="post">
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-md-auto col-form-label" th:text="#{userprofile.meaning.rel.languages}">Tähenduse seose juures kuvatavate keelendite keeled</label>
              <div class="col-md-12">
                <select name="meaningRelationWordLanguages" class="classifier-select multi-select required-field" multiple data-live-search="true" data-actions-box="true"
                        th:title="#{userprofile.select.meaning.rel.languages}"
                        th:data-select-all-text="#{common.select.all}"
                        th:data-deselect-all-text="#{common.unselect.all}">
                  <th:block th:each="language: ${allLanguages}">
                    <option th:value="${language.code}" th:text="${language.value}" th:selected="${#lists.contains(userProfile.preferredMeaningRelationWordLangs, language.code)}"/>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label">
                <input type="checkbox" name="showLexMeaningRelationSourceLangWords" th:checked="${userProfile.showLexMeaningRelationSourceLangWords}">
                <span th:text="#{userprofile.show.lex.meaning.rel.source.lang.words}">Näita leksikograafide vaates ainult märksõna keelseid sõnu</span>
              </label>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label">
                <input type="checkbox" name="showMeaningRelationFirstWordOnly" th:checked="${userProfile.showMeaningRelationFirstWordOnly}">
                <span th:text="#{userprofile.show.meaning.rel.first.word.only}">Näita valitud keeltes ainult esimest sõna</span>
              </label>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label">
                <input type="checkbox" name="showMeaningRelationMeaningId" th:checked="${userProfile.showMeaningRelationMeaningId}">
                <span th:text="#{userprofile.show.meaning.rel.meaning.id}">Näita tähenduse id-d</span>
              </label>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label">
                <input type="checkbox" name="showMeaningRelationWordDatasets" th:checked="${userProfile.showMeaningRelationWordDatasets}">
                <span th:text="#{userprofile.show.meaning.rel.word.datasets}">Näita sõnakogude koode</span>
              </label>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label" th:text="#{userprofile.pref.meaning.word.langs}">Kuvatavate täissünonüümide keeled</label>
              <div class="col-md-12">
                <select name="meaningWordLanguages" class="classifier-select multi-select required-field" multiple data-live-search="true" data-actions-box="true"
                        th:title="#{userprofile.select.pref.meaning.word.langs}"
                        th:data-select-all-text="#{common.select.all}"
                        th:data-deselect-all-text="#{common.unselect.all}">
                  <th:block th:each="language: ${userRoleLanguages}">
                    <option th:value="${language.code}" th:text="${language.value}" th:selected="${userProfile.preferredSynLexMeaningWordLangs != null && #lists.contains(userProfile.preferredSynLexMeaningWordLangs, language.code)}"/>
                  </th:block>
                </select>
              </div>
            </div>
            <hr/>
            <div class="row">
              <label class="col-md-auto col-form-label" th:text="#{userprofile.pref.part.syn.candidate.langs}">Osavastete kandidaatide keeled</label>
              <div class="col-md-12">
                <select name="partSynCandidateLanguages" class="classifier-select multi-select required-field" multiple data-live-search="true" data-actions-box="true"
                        th:title="#{userprofile.select.pref.part.syn.candidate.langs}"
                        th:data-select-all-text="#{common.select.all}"
                        th:data-deselect-all-text="#{common.unselect.all}">
                  <th:block th:each="language: ${userRoleLanguages}">
                    <option th:value="${language.code}" th:text="${language.value}" th:selected="${userProfile.preferredPartSynCandidateLangs != null && #lists.contains(userProfile.preferredPartSynCandidateLangs, language.code)}"/>
                  </th:block>
                </select>
              </div>
            </div>
            <hr/>
            <div class="row">
              <label class="col-md-auto col-form-label" th:text="#{userprofile.pref.full.syn.candidate.dataset}">Tõlkevastete kandidaatide sõnakogu</label>
              <div class="col-md-12">
                <select name="fullSynCandidateDatasetCode" class="classifier-select" th:title="#{userprofile.select.pref.full.syn.candidate.dataset}">
                  <option th:each="dataset : ${userVisibleDatasets}"
                          th:value="${dataset.code}"
                          th:text="${dataset.name}"
                          th:selected="${dataset.code == userProfile.preferredFullSynCandidateDatasetCode}">dataset
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-md-auto col-form-label" th:text="#{userprofile.pref.full.syn.candidate.lang}">Tõlkevastete kandidaatide keeled</label>
              <div class="col-md-12">
                <select name="fullSynCandidateLanguage" class="classifier-select" th:title="#{userprofile.select.pref.full.syn.candidate.lang}">
                  <option th:each="lang : ${allLanguages}" th:value="${lang.code}" th:selected="${lang.code == userProfile.preferredFullSynCandidateLang}" th:text="${lang.value}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="selectTagPrefsDlg" class="modal" role="dialog" data-plugin="selectTagPrefsDlgPlugin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form th:action="@{/update_tag_prefs}" method="post">
          <div class="modal-body">
            <div class="form-group row">
                <label class="col-md-auto col-form-label" th:text="#{userprofile.pref.tag.names}">Otsingutulemustes nähtavad sildid (maksimum 3)</label>
              <div class="col-md-12">
                <select name="preferredTagNames" multiple data-live-search="true"
                        data-max-options="3" data-max-options-text="lubatud on kuni 3 valikut"
                        th:title="#{userprofile.select.pref.tag.names}">
                  <th:block th:each="tag : ${lexemeTags}">
                    <option th:value="${tag}" th:text="${tag}" th:selected="${userProfile.preferredTagNames != null && #lists.contains(userProfile.preferredTagNames, tag)}"/>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-auto col-form-label" th:text="#{userprofile.active.tag}">Aktiivne silt</label>
              <div class="col-md-12">
                <select name="activeTagName" class="form-control">
                  <option value="" hidden disabled selected th:text="#{userprofile.select.active.tag}">vali aktiivne silt</option>
                  <option th:each="tag : ${lexemeTags}"
                          th:value="${tag}"
                          th:selected="${tag == userProfile.activeTagName}"
                          th:text="${tag}">tags
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>