<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{userprofile.title}">Kasutaja profiil</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'userprofile')"></th:block>
  <div class="container-fluid">
    <th:block th:replace="common :: op_message"></th:block>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{userprofile.user}">Kasutaja</h5>
      </div>
      <div class="card-body">
        <div>
          <span th:text="${user.name}"></span>
        </div>
        <div class="mt-3">
          <span th:text="${user.email}"></span>
          <button type="button" class="btn btn-secondary btn-compact ml-3" th:text="#{userprofile.update}" data-toggle="modal" data-target="#updateEmailDlg">Muuda</button>
        </div>
      </div>
    </div>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{userprofile.preferences}">Seaded</h5>
      </div>
      <div class="card-body">
        <div>
          <button type="button" class="btn btn-secondary btn-compact" data-toggle="modal" data-target="#selectMeaningRelationPrefsDlg"
                  th:text="#{userprofile.edit.meaning.rel.prefs}">Muuda tähenduste seoste ja vastete kuva seadeid</button>
        </div>
        <div class="mt-3">
          <button type="button" class="btn btn-secondary btn-compact" data-toggle="modal" data-target="#selectTagPrefsDlg"
                  th:text="#{userprofile.edit.tag.prefs}">Muuda siltide seadeid</button>
        </div>
        <div class="mt-3">
          <form th:action="@{/enable_approve_meaning}" method="post">
            <label>
              <input type="checkbox" name="approveMeaningEnabled" onchange="submit()" value="true" th:checked="${userProfile.approveMeaningEnabled}">
              <span class="ml-2" th:text="#{userprofile.approve.meaning}">Mõiste kinnitamine</span>
            </label>
          </form>
        </div>
      </div>
    </div>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{userprofile.permissions}">Olemasolevad õigused</h5>
      </div>
      <div class="card-body" th:if="${#lists.isEmpty(userDatasetPermissions)}">
        <span th:text="#{userprofile.no.permissions}">Õiguseid pole</span>
      </div>
      <div class="card-body" th:unless="${#lists.isEmpty(userDatasetPermissions)}">
        <table class="table table-striped m-0 p-0 table-hover">
          <tr>
            <th class="m-1 p-1" style="width: 10%" th:text="#{userprofile.dataset.code}">Sõnakogu kood</th>
            <th class="m-1 p-1" style="width: 70%" th:text="#{userprofile.dataset.name}">Sõnakogu nimetus</th>
            <th class="m-1 p-1" style="width: 10%" th:text="#{userprofile.dataset.permission}">Õigus</th>
            <th class="m-1 p-1" style="width: 10%" th:text="#{userprofile.dataset.lang}">Keel</th>
          </tr>
          <th:block th:each="datasetPermission : ${userDatasetPermissions}">
            <tr>
              <td class="m-1 p-1">
                <span th:text="${datasetPermission.datasetCode}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="${datasetPermission.datasetName}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="#{|authorityoperation.${datasetPermission.authOperation}|}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="${datasetPermission.authLangValue}"></span>
              </td>
            </tr>
          </th:block>
        </table>
      </div>
    </div>
    <div class="card mt-4 mb-4 shadow">
      <div class="card-header">
        <h5 class="card-title">
          <span th:text="#{userprofile.applications}">Esitatud õiguste taotlused</span>
          <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addApplicationDlg" th:text="#{userprofile.add.application}">Esita uus taotlus</button>
        </h5>
      </div>
      <div class="card-body" th:if="${#lists.isEmpty(userApplications)}">
        <span th:text="#{userprofile.no.applications}">Taotluseid pole</span>
      </div>
      <div class="card-body" th:unless="${#lists.isEmpty(userApplications)}">
        <table class="table table-striped m-0 p-0 table-hover">
          <tr>
            <th class="m-1 p-1" style="width: 10%" th:text="#{userprofile.application.created}">Esitamise aeg</th>
            <th class="m-1 p-1" style="width: 10%" th:text="#{userprofile.application.status}">Staatus</th>
            <th class="m-1 p-1" style="width: 20%" th:text="#{userprofile.application.dataset.name}">Sõnakogu nimi</th>
            <th class="m-1 p-1" style="width: 10%" th:text="#{userprofile.application.wished.auth.op}">Soovitud õigus</th>
            <th class="m-1 p-1" style="width: 10%" th:text="#{userprofile.application.lang}">Keel</th>
            <th class="m-1 p-1" style="width: 40%" th:text="#{userprofile.application.comment}">Kommentaar</th>
          </tr>
          <th:block th:each="userApplication : ${userApplications}">
            <tr>
              <td class="m-1 p-1">
                <span th:text="${#temporals.format(userApplication.created, 'dd.MM.yyyy HH:mm')}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="#{|applicationstatus.${userApplication.status}|}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="${userApplication.datasetName}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="#{|authorityoperation.${userApplication.authOperation}|}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="${userApplication.langValue}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="${userApplication.comment}"></span>
              </td>
            </tr>
          </th:block>
        </table>
      </div>
    </div>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{userprofile.api.key}">Ekilex API võti</h5>
      </div>
      <div class="card-body" th:unless="${userRoleData.admin}">
        <span th:text="#{userprofile.api.admin.warning}">Ekilex API kasutamiseks on vajalik administraatori õigus</span>
      </div>
      <div class="card-body">
        <form th:action="@{/generate_api_key}" method="post">
          <th:block th:if="${#authentication.principal.apiKey != null}">
            <span th:text="${#authentication.principal.apiKey}">cd8c61505b17427282150624463fcace</span>
            <strong th:if="${#authentication.principal.apiCrud}">CRUD</strong>
            <strong th:if="${!#authentication.principal.apiCrud}">READ</strong>
          </th:block>
          <button class="btn btn-primary pull-right" type="submit" th:text="#{userprofile.generate.api.key}">Genereeri võti</button>
        </form>
      </div>
    </div>
  </div>
  <div th:replace="userprofiledialog :: #updateEmailDlg"></div>
  <div th:replace="userprofiledialog :: #addApplicationDlg"></div>
  <div th:replace="userprofiledialog :: #selectMeaningRelationPrefsDlg"></div>
  <div th:replace="userprofiledialog :: #selectTagPrefsDlg"></div>
</body>
</html>