<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{user.profile.title}">Kasutaja profiil</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-userprofile.js}"></script>
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'userprofile')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">Seaded</h5>
      </div>
      <div class="card-body">
        <div>
          <button type="button" class="btn btn-secondary btn-compact" data-toggle="modal" data-target="#selectMeaningRelationPrefsDlg">Muuda tähenduste seoste kuva seadeid</button>
        </div>
        <div class="mt-3">
          <button type="button" class="btn btn-secondary btn-compact" data-toggle="modal" data-target="#selectTagPrefsDlg">Muuda siltide seadeid</button>
        </div>
      </div>
    </div>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">Olemasolevad õigused</h5>
      </div>
      <div class="card-body" th:if="${#lists.isEmpty(userDatasetPermissions)}">
        Õiguseid pole
      </div>
      <div class="card-body" th:unless="${#lists.isEmpty(userDatasetPermissions)}">
        <table class="table table-striped m-0 p-0 table-hover">
          <tr>
            <th class="m-1 p-1" style="width: 10%">Sõnakogu kood</th>
            <th class="m-1 p-1" style="width: 70%">Sõnakogu nimetus</th>
            <th class="m-1 p-1" style="width: 20%">Õigus</th>
          </tr>
          <th:block th:each="datasetPermission : ${userDatasetPermissions}">
            <tr>
              <td class="m-1 p-1">
                <span th:text="${datasetPermission.datasetCode}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="${datasetPermission.datasetName}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="#{|authorityoperation.${datasetPermission.authOperation}|}"></span>
              </td>
            </tr>
          </th:block>
        </table>
      </div>
    </div>
    <div class="card mt-4 mb-4 shadow">
      <div class="card-header">
        <h5 class="card-title">
          Esitatud õiguste taotlused
          <button class="btn btn-primary pull-right" title="Esita uus taotlus" data-toggle="modal" data-target="#addApplicationDlg">Esita uus taotlus</button>
        </h5>
      </div>
      <div class="card-body" th:if="${#lists.isEmpty(userApplications)}">
        Taotluseid pole
      </div>
      <div class="card-body" th:unless="${#lists.isEmpty(userApplications)}">
        <table class="table table-striped m-0 p-0 table-hover">
          <tr>
            <th class="m-1 p-1" style="width: 10%">Esitamise aeg</th>
            <th class="m-1 p-1" style="width: 40%">Taotluses märgitud sõnakogude koodid</th>
            <th class="m-1 p-1" style="width: 50%">Kommentaar</th>
          </tr>
          <th:block th:each="userApplication : ${userApplications}">
            <tr>
              <td class="m-1 p-1">
                <span th:text="${#dates.format(userApplication.created, 'dd.MM.yyyy HH:mm')}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="${userApplication.datasetCodes}"></span>
              </td>
              <td class="m-1 p-1">
                <span th:text="${userApplication.comment}"></span>
              </td>
            </tr>
          </th:block>
        </table>
      </div>
    </div>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">Ekilex API võti</h5>
      </div>
      <div class="card-body" th:unless="${userRoleData.admin}">
        Ekilex API kasutamiseks on vajalik administraatori õigus
      </div>
      <div class="card-body" th:if="${userRoleData.admin}">
        <form th:action="@{/generate_api_key}" method="post">
          <span th:text="${#authentication.principal.apiKey}">cd8c61505b17427282150624463fcace</span>
          <button class="btn btn-primary pull-right" type="submit">Genereeri võti</button>
        </form>
      </div>
    </div>
  </div>
  <div th:replace="userprofiledialog :: #addApplicationDlg"></div>
  <div th:replace="userprofiledialog :: #selectMeaningRelationPrefsDlg"></div>
  <div th:replace="userprofiledialog :: #selectTagPrefsDlg"></div>
</body>
</html>