<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
  <title th:text="#{lexeme.join.title}">EKILEX sõna valik</title>
  <th:block th:fragment="links">
  </th:block>
</head>
<body class="body-with-navbar">

  <th:block th:replace="common :: nav_bar"></th:block>

  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary text-light" th:href="@{${returnPage} == 'LEX_SEARCH' ? '/lexsearch' : '/termsearch'}">Tagasi</a>
      </p>
    </div>

    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">Olemasoleva sõna valik</h5>
      </div>

      <div class="card-body">
        <form th:action="@{/add_homonym}" method="post">
          <input hidden name="returnPage" th:value="${returnPage}">
          <input hidden name="dataset" th:value="${dataset}">
          <input hidden name="language" th:value="${language}">
          <input hidden name="morphCode" th:value="${morphCode}">
          <input hidden name="value" th:value="${wordValue}">

          <div style="border: 1px solid #CCC; padding: 5px; width: 95%" class="mb-2">
            <span th:text="${wordValue}" class="ttl"></span>
            <button type="submit" class="btn btn-primary ml-4">Lisa uus homonüüm</button>
            <span class="float-right"><b th:text="${dataset}"></b></span>
          </div>
        </form>
      </div>
      <div class="card-body" th:if="${not #lists.isEmpty(words)}">
        <div style="border: 1px solid #CCC; padding: 5px; width: 95%" class="mb-2" th:each="word : ${words}">
          <div>
            <span th:text="${word.value}" class="ttl"></span>
            <span th:text="${word.homonymNumber}" class="ttl"></span>
            <a class="btn btn-primary" th:href="@{'/wordselect/' + ${word.wordId} + '/' + ${dataset} + '/' + ${returnPage}}">Vali</a>
            <span class="float-right">
              <th:block th:each="code, codeIter : ${word.datasetCodes}">
                <b th:text="${code}"></b>
                <b th:unless="${codeIter.last}">, </b>
              </th:block>
            </span>
          </div>
          <hr />
          <div>
            <span th:each="lexeme, lexemeIter : ${details.get(word.getWordId()).getLexemes()}">
              <th:block th:unless="${lexeme.meaningWords.isEmpty()}">
                <b th:unless="${lexemeIter.first}">,</b>
                <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                  <b th:text="${meaningWord.value}"></b>
                  <b th:text="${meaningWord.homonymNumber}"></b>
                  <b th:text="${'( ' + meaningWord.language + ' )'}"></b>
                  <b th:unless="${meaningWordIter.last}">,</b>
                </span>
              </th:block>
            </span>
          </div>
          <div class="mt-2" th:if="${hasDefinitions.get(word.getWordId())}">
            <span class="lbl">Seletused</span>
            <th:block th:each="lexeme : ${details.get(word.getWordId()).getLexemes()}">
              <div th:each="definition : ${lexeme.getDefinitions()}" th:text="${definition.getValue()}"></div>
            </th:block>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>
</html>