<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{wordjoin.title}">Keelendite ühendamine</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'wordselect')"></th:block>
  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary" th:href="@{/lexsearch}" th:text="#{common.back}">Tagasi</a>
      </p>
    </div>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{wordjoin.header}">Olemasoleva sõna valik</h5>
      </div>
      <div class="card-body" th:if="${!meaningWordCandidates.meaningHasWord}">
        <form th:action="@{/create_homonym}" method="post">
          <input type="hidden" name="wordValue" th:value="${wordDetails.wordValue}">
          <input type="hidden" name="language" th:value="${wordDetails.language}">
          <input type="hidden" name="dataset" th:value="${wordDetails.dataset}">
          <input type="hidden" name="meaningId" th:value="${wordDetails.meaningId}">
          <div style="width: 95%" class="border rounded p-2 mb-2">
            <span th:text="${meaningWordCandidates.wordValue}" class="ttl"></span>
            <button type="submit" class="btn btn-primary ml-4" th:text="#{wordjoin.add.homonym}">Lisa uus homonüüm</button>
            <span class="float-right">
              <b th:text="${wordDetails.dataset}"></b>
            </span>
          </div>
        </form>
      </div>
      <div class="card-body" th:if="${meaningWordCandidates.wordCandidatesExist}">
        <div style="width: 95%" class="border rounded p-2 mb-2" th:each="wordCandidate : ${meaningWordCandidates.wordCandidates}">
          <div>
            <span th:utext="${@viewUtil.getWordValueMarkup(wordCandidate.word)}" class="ttl"></span>
            <span th:text="${wordCandidate.word.homonymNr}" class="ttl"></span>
            <span th:text="${'(' + @viewUtil.getLangIso2(wordCandidate.word.lang) + ')'}"></span>
            <a class="btn btn-primary"
               th:href="@{'/wordselect/' + ${wordDetails.dataset} + '/' + ${wordCandidate.word.wordId} + '/' + ${wordDetails.meaningId}}"
               th:text="#{common.select}">Vali</a>
            <span class="float-right">
              <b th:text="${#strings.listJoin(wordCandidate.word.datasetCodes, ', ')}"></b>
            </span>
          </div>
          <hr />
          <div>
            <span th:each="lexeme, lexemeIter : ${wordCandidate.lexemes}">
              <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                <span th:utext="${@viewUtil.getWordValueMarkup(meaningWord)}"></span>
                <span th:text="${meaningWord.homonymNr}"></span>
                <span th:text="${'(' + @viewUtil.getLangIso2(meaningWord.lang) + ')'}"></span>
                <span th:unless="${meaningWordIter.last}">,</span>
              </span>
            </span>
          </div>
          <div class="mt-2" th:if="${not #lists.isEmpty(wordCandidate.definitions)}">
            <span class="lbl" th:text="#{lex.definition}">Seletus</span>
            <div th:each="definition : ${wordCandidate.definitions}" th:utext="${definition}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>