<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <th:block th:fragment="word_eki_recommendation" th:with="wordEkiRecommendationSectionId=${'word_eki_recommendation_' + wordId}">
    <div th:data-replace-id="${wordEkiRecommendationSectionId}">
      <div class="ekiAccordion__instance">
        <div class="ekiAccordion__title">
          <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.word.wordEkiRecommendations)}">•</span>
          <span th:text="#{lex.word.eki.recommendation}">ÕS soovitab</span>
          <button type="button" class="ekiAccordion__add"
                  th:title="#{common.add.new}" data-toggle="modal"
                  th:data-target="${'#addWordEkiRecommendationDlg_' + wordId}"
                  sec:authorize="#vars.details.word.crudGrant">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
        <div class="ekiAccordion__content">
          <div th:if="${#lists.isEmpty(details.word.wordEkiRecommendations)}" th:text="#{common.no.content}">
            Sisu puudub...
          </div>
          <div th:each="wordEkiRecommendation : ${details.word.wordEkiRecommendations}">
            <div th:replace="lexdialog :: edit_word_eki_recommendation"></div>
            <div class="col hidden-buttons pr-5">
              <div class="action-buttons-anchor">
                <div>
                  <div th:utext="${wordEkiRecommendation.valuePrese}"></div>
                  <span class="ctxt" th:text="'[' + ${wordEkiRecommendation.modifiedBy} + ']'" th:if="${wordEkiRecommendation.modifiedBy != null}"></span>
                  <span class="ctxt" th:text="'(' + ${#temporals.format(wordEkiRecommendation.modifiedOn, 'dd.MM.yyyy')} + ')'" th:if="${wordEkiRecommendation.modifiedOn != null}"></span>
                </div>
                <div class="action-buttons-2">
                  <button type="button" class="btn badge badge-primary"
                          th:title="#{common.edit}"
                          data-toggle="modal"
                          th:data-target="${'#editWordEkiRecommendationDlg_' + wordEkiRecommendation.id}"
                          sec:authorize="#vars.details.word.crudGrant">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn badge badge-warning"
                          th:data-id="${wordEkiRecommendation.id}"
                          data-op-code="word_eki_recommendation"
                          data-toggle="delete-confirm"
                          data-placement="right"
                          sec:authorize="#vars.details.word.crudGrant">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                </div>
                <th:block
                  sec:authorize="#vars.details.word.crudGrant"
                  th:replace="components :: entity_publishing(
                    entityId = ${wordEkiRecommendation.id},
                    entityName = 'word_eki_recommendation',
                    isPublic = ${wordEkiRecommendation.isPublic},
                    isWwUnif = ${wordEkiRecommendation.wwUnif},
                    isWwLite = ${wordEkiRecommendation.wwLite},
                    isWwOs = ${wordEkiRecommendation.wwOs},
                    replaceSectionId = ${wordEkiRecommendationSectionId},
                    replaceOwnerId = ${wordId},
                    initAccordion = true,
                    withPublicSwitch = false)">
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_os_morph">
    <div class="ekiAccordion__instance">
      <div class="ekiAccordion__title">
        <span class="badge badge-data-exists" th:if="${details.word.wordOsMorph}">•</span>
        <span th:text="#{lex.word.os.morph}">ÕS lühimorfoloogia</span>
        <button type="button" class="ekiAccordion__add"
                th:title="#{common.add.new}" data-toggle="modal"
                th:data-target="${'#addWordOsMorphDlg_' + wordId}"
                th:unless="${details.word.wordOsMorph}"
                sec:authorize="#vars.details.word.crudGrant">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="ekiAccordion__content">
        <div th:if="${details.word.wordOsMorph == null}" th:text="#{common.no.content}">
          Sisu puudub...
        </div>
        <div th:if="${details.word.wordOsMorph}">
          <th:block th:with="wordOsMorph=${details.word.wordOsMorph}">
            <div th:replace="lexdialog :: edit_word_os_morph"></div>
            <div class="col hidden-buttons pr-5">
              <div class="action-buttons-anchor">
                <div>
                  <div th:utext="${wordOsMorph.valuePrese}"></div>
                  <span class="ctxt" th:text="'[' + ${wordOsMorph.modifiedBy} + ']'" th:if="${wordOsMorph.modifiedBy != null}"></span>
                  <span class="ctxt" th:text="'(' + ${#temporals.format(wordOsMorph.modifiedOn, 'dd.MM.yyyy')} + ')'" th:if="${wordOsMorph.modifiedOn != null}"></span>
                </div>
                <div class="action-buttons-2">
                  <button type="button" class="btn badge badge-primary"
                          th:title="#{common.edit}"
                          data-toggle="modal"
                          th:data-target="${'#editWordOsMorphDlg_' + wordOsMorph.id}"
                          sec:authorize="#vars.details.word.crudGrant">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn badge badge-warning"
                          th:data-id="${wordOsMorph.id}"
                          data-op-code="word_os_morph"
                          data-toggle="delete-confirm"
                          data-placement="right"
                          sec:authorize="#vars.details.word.crudGrant">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_os_usage">
    <div class="ekiAccordion__instance">
      <div class="ekiAccordion__title">
        <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.word.wordOsUsages)}">•</span>
        <span th:text="#{lex.word.os.usage}">ÕS kasutusnäited</span>
        <button type="button" class="ekiAccordion__add" th:title="#{common.add.new}" data-toggle="modal" th:data-target="${'#addWordOsUsageDlg_' + wordId}" sec:authorize="#vars.details.word.crudGrant">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="ekiAccordion__content">
        <div th:if="${#lists.isEmpty(details.word.wordOsUsages)}" th:text="#{common.no.content}">Sisu puudub...</div>
        <div data-plugin="sorter" data-sorter:type="word_os_usage" data-sorter:handle=".sorter-handle" th:unless="${#lists.isEmpty(details.word.wordOsUsages)}">
          <th:block th:each="wordOsUsage : ${details.word.wordOsUsages}">
            <div th:replace="lexdialog :: edit_word_os_usage"></div>
            <div class="d-flex sidebar-actions" th:data-id="${wordOsUsage.id}" th:data-orderby="${wordOsUsage.orderBy}">
              <span sec:authorize="#vars.details.word.crudGrant" class="sorter-handle">
                <i class="fa fa-ellipsis-v"></i>
              </span>
              <div class="col hidden-buttons pr-5">
                <div class="action-buttons-anchor">
                  <div>
                    <div th:utext="${wordOsUsage.valuePrese}"></div>
                    <span class="ctxt" th:text="'[' + ${wordOsUsage.modifiedBy} + ']'" th:if="${wordOsUsage.modifiedBy != null}"></span>
                    <span class="ctxt" th:text="'(' + ${#temporals.format(wordOsUsage.modifiedOn, 'dd.MM.yyyy')} + ')'" th:if="${wordOsUsage.modifiedOn != null}"></span>
                  </div>
                  <div class="action-buttons-2">
                    <button type="button" class="btn badge badge-primary" th:title="#{common.edit}" data-toggle="modal" th:data-target="${'#editWordOsUsageDlg_' + wordOsUsage.id}"
                      sec:authorize="#vars.details.word.crudGrant">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn badge badge-warning" th:data-id="${wordOsUsage.id}" data-op-code="word_os_usage" data-toggle="delete-confirm" data-placement="right"
                      sec:authorize="#vars.details.word.crudGrant">
                      <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_forum">
    <div class="ekiAccordion__instance">
      <div class="ekiAccordion__title">
        <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.word.forums)}">•</span>
        <span th:text="#{lex.word.forum}">Sisemärkus</span>
        <button type="button" class="ekiAccordion__add"
                th:title="#{common.add.new}" data-toggle="modal"
                th:data-target="${'#addWordForumDlg_' + wordId}"
                sec:authorize="#vars.userRoleData.crudRoleSelected">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="ekiAccordion__content">
        <div th:if="${#lists.isEmpty(details.word.forums)}" th:text="#{common.no.content}">
          Sisu puudub...
        </div>
        <div th:each="forum,forumIter : ${details.word.forums}">
          <div th:replace="lexdialog :: edit_word_forum_dlg"></div>
          <div class="col hidden-buttons pr-5" th:classappend="${forumIter.last ? '' : 'mb-3'}">
            <div class="action-buttons-anchor">
              <div>
                <span th:utext="${forum.valuePrese}"></span>
                <span class="ctxt" th:text="'[' + ${forum.modifiedBy} + ']'" th:if="${forum.modifiedBy != null}"></span>
                <span class="ctxt" th:text="'(' + ${#temporals.format(forum.modifiedOn, 'dd.MM.yyyy')} + ')'" th:if="${forum.modifiedOn != null}"></span>
              </div>
              <div class="action-buttons-2">
                <button type="button" class="btn badge badge-primary"
                        th:title="#{common.edit}"
                        data-toggle="modal"
                        th:data-target="${'#editWordForumDlg_' + forum.id}"
                        sec:authorize="#vars.forum.crudGrant">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn badge badge-warning"
                        th:data-id="${forum.id}"
                        data-op-code="word_forum"
                        data-toggle="delete-confirm"
                        data-placement="right"
                        sec:authorize="#vars.forum.crudGrant">
                  <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_paradigm">
    <div class="ekiAccordion__instance">
      <div class="ekiAccordion__title">
        <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.word.paradigms)}">•</span>
        <span th:text="#{lex.paradigms}">Sõnavormid</span>
      </div>
      <div class="ekiAccordion__content">
        <div class="col hidden-buttons pr-5 pb-2">
          <div class="action-buttons-anchor">
            <span th:utext="${details.word.morphComment}" th:if="${details.word.morphComment}"></span>
            <small th:unless="${details.word.morphComment}">
              <i th:text="#{lex.add.word.morph.comment}" class="text-muted"></i>
            </small>
            <div class="action-buttons-2">
              <button type="button" class="btn badge badge-primary"
                      th:title="#{common.edit}"
                      data-toggle="modal"
                      th:data-target="${'#editWordMorphCommentDlg_' + wordId}"
                      sec:authorize="#vars.details.word.crudGrant">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn badge badge-warning"
                      th:data-id="${wordId}"
                      data-op-code="word_morph_comment"
                      data-toggle="delete-confirm"
                      data-placement="right"
                      sec:authorize="#vars.details.word.crudGrant">
                <i class="fa fa-remove" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <hr />
        <div th:if="${#lists.isEmpty(details.word.paradigms)}" th:text="#{common.no.content}">
          Sisu puudub...
        </div>
        <div class="pb-3" th:unless="${#lists.isEmpty(details.word.paradigms)}">
          <div th:each="paradigm,paradigmIter : ${details.word.paradigms}" th:if="${paradigm.formsExist}">
            <div class="text-secondary ml-1">
              <span th:if="${paradigm.inflectionType != null}" th:utext="${paradigm.inflectionType}"></span>
              <span th:if="${paradigm.wordClass}" th:text="${paradigm.wordClass}"></span>
            </div>
            <div th:if="${paradigm.comment != null}">
              <span th:utext="${paradigm.comment}"></span>
            </div>
            <div th:id="${'paradigmArea_' + paradigm.paradigmId}" class="p-1">
              <div th:unless="${#lists.isEmpty(paradigm.forms)}">
                <table>
                  <tr th:each="form : ${paradigm.forms}">
                    <td>
                      <span th:unless="${#strings.isEmpty(form.displayForm)}">
                        <span th:unless="${form.displayMorphCode}">~</span>
                        <span th:text="${form.displayForm}" th:title="${form.formFrequency}"></span>
                      </span>
                    </td>
                    <td class="pl-2">
                      <span
                          th:if="${form.displayMorphCode}"
                          th:text="${form.morphCode + ' - ' + form.morphValue}"
                          th:title="${form.morphFrequency}"
                          class="text-secondary"
                          style="white-space:nowrap; font-size:80%;"></span>
                    </td>
                  </tr>
                  <tr th:unless="${paradigmIter.last}">
                    <td colspan="2" class="pt-2 border-bottom">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_relation" th:with="wordRelationSectionId=${'word_relation_section_' + wordId}">
    <div th:data-replace-id="${wordRelationSectionId}">
      <th:block th:replace=" :: word_sec_relation"></th:block>
      <th:block th:replace=" :: word_prim_relation"></th:block>
    </div>
  </th:block>
  <th:block th:fragment="word_sec_relation">
    <div class="ekiAccordion__instance">
      <div class="ekiAccordion__title">
        <span th:if="${details.wordRelationDetails.groupRelationExists}" class="badge badge-data-exists">•</span>
        <span th:text="#{lex.word.relation}">Sõna seos</span>
        <button type="button" class="ekiAccordion__add"
                th:title="#{common.add.new}" data-toggle="modal"
                th:data-target="${'#addGroupWordRelationDlg_' + wordId}"
                sec:authorize="#vars.details.word.crudGrant">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="ekiAccordion__content">
        <div>
          <span th:unless="${details.wordRelationDetails.groupRelationExists}" th:text="#{common.no.content}">
            Sisu puudub...
          </span>
          <table th:unless="${#lists.isEmpty(details.wordRelationDetails.wordGroups)}">
            <tr th:each="wordGroup : ${details.wordRelationDetails.wordGroups}">
              <td class="invisible-buttons">
                <span th:each="relation, itemIter : ${wordGroup.members}">
                  <button type="button"
                          class="btn btn-link btn-xs"
                          th:data-id="${relation.wordId}"
                          data-plugin="contextmenu, loadDetailsPlugin"
                          data-contextmenu:compare="Ava uues paneelis"
                          data-behaviour="replace"
                          name="details-btn">
                    <span th:utext="${@viewUtil.getWordValueMarkup(relation)}"></span>
                  </button>
                  <button type="button" class="btn badge badge-warning"
                          th:data-id="${relation.id}"
                          data-op-code="word_relation"
                          data-toggle="delete-confirm"
                          data-placement="left"
                          sec:authorize="#vars.details.word.crudGrant">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                  <span th:unless="${itemIter.last}"></span>
                </span>
              </td>
              <td>
                <span th:text="${wordGroup.groupTypeLabel}"></span>
              </td>
            </tr>
          </table>
        </div>
        <div th:each="relationGroup,relGroupIter : ${details.wordRelationDetails.secondaryWordRelationGroups}">
          <div th:text="${relationGroup.groupTypeLabel}" class="ml-2"></div>
          <th:block th:replace=" :: word_relation_group_list"></th:block>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_prim_relation">
    <div th:each="relationGroup,relGroupIter : ${details.wordRelationDetails.primaryWordRelationGroups}" class="ekiAccordion__instance">
      <div th:replace="lexdialog :: add_primary_word_relation_dlg"></div>
      <div class="ekiAccordion__title">
        <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(relationGroup.members)}">•</span>
        <span th:text="${relationGroup.groupTypeLabel}">seose liik</span>
        <button type="button" class="ekiAccordion__add"
                title="Lisa seos" data-toggle="modal"
                th:data-target="${'#addPrimaryWordRelationDlg_' + wordId + '_' + relationGroup.groupTypeCode}"
                sec:authorize="#vars.details.word.crudGrant">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="ekiAccordion__content">
        <div th:if="${#lists.isEmpty(relationGroup.members)}" th:text="#{common.no.content}">
          Sisu puudub...
        </div>
        <th:block th:replace=" :: word_relation_group_list"></th:block>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_relation_group_list">
    <ul
      th:unless="${#lists.isEmpty(relationGroup.members)}"
      class="sidebar-actions"
      data-plugin="sorter"
      data-sorter:type="relations"
      data-sorter:handle=".sorter-handle">
      <li 
        th:each="relation, itemIter : ${relationGroup.members}"
        th:data-id="${relation.id}"
        th:data-orderby="${relation.orderBy}">
        <div class="sidebar-actions__item">
          <span sec:authorize="#vars.details.word.crudGrant" class="sorter-handle">
            <i class="fa fa-ellipsis-v"></i>
          </span>
          <button type="button"
            class="btn btn-link btn-text-wrap btn-xs"
            th:data-id="${relation.wordId}"
            data-plugin="contextmenu, loadDetailsPlugin"
            data-contextmenu:compare="Ava uues paneelis"
            data-behaviour="replace"
            name="details-btn">
            <span th:utext="${@viewUtil.getWordValueMarkup(relation)}"></span>
            <span th:utext="|(${@viewUtil.getLangIso2(relation.wordLang)})|"></span>
          </button>
          <div class="sidebar-actions__buttons">
            <button type="button" class="btn badge badge-warning"
              th:data-id="${relation.id}"
              data-op-code="word_relation"
              data-toggle="delete-confirm"
              data-placement="left"
              sec:authorize="#vars.details.word.crudGrant">
              <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
          </div>
          <th:block
            sec:authorize="#vars.details.word.crudGrant"
            th:replace="components :: entity_publishing(
              entityId = ${relation.id},
              entityName = 'word_relation',
              isPublic = ${relation.isPublic},
              isWwUnif = ${relation.wwUnif},
              isWwLite = ${relation.wwLite},
              isWwOs = ${relation.wwOs},
              replaceSectionId = ${wordRelationSectionId},
              replaceOwnerId = ${wordId},
              initAccordion = true,
              withPublicSwitch = false)">
          </th:block>
        </div>
      </li>
    </ul>
  </th:block>
  <th:block th:fragment="word_etym">
    <div class="ekiAccordion__instance" th:unless="${#lists.isEmpty(details.word.etymology)}">
      <div class="ekiAccordion__title">
        <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.word.etymology)}">•</span>
        <span th:text="#{lex.word.etymology}">Päritolu</span>
      </div>
      <div class="ekiAccordion__content">
        <th:block th:each="wordEtym, itemIter : ${details.word.etymology}">
          <div>
            <div>
              <span th:if="${wordEtym.questionable}">?</span>
              <span th:if="${wordEtym.etymologyTypeCode != null}" th:text="${wordEtym.etymologyTypeCode}"></span>
              <span th:if="${wordEtym.etymologyYear != null}" th:text="${wordEtym.etymologyYear}"></span>
            </div>
            <div th:each="wordEtymSourceLink : ${wordEtym.wordEtymSourceLinks}">
              <span th:text="${wordEtymSourceLink.sourceName}"></span>
            </div>
            <div th:each="wordEtymRel : ${wordEtym.wordEtymRelations}">
              <button type="button"
                      class="btn btn-link btn-xs"
                      th:data-id="${wordEtymRel.relatedWordId}"
                      data-plugin="contextmenu, loadDetailsPlugin"
                      data-contextmenu:compare="Ava uues paneelis"
                      data-behaviour="replace"
                      name="details-btn">
                <span>
                  <span th:if="${wordEtymRel.questionable}">?</span>
                  <span th:if="${wordEtymRel.compound}">+</span>
                  <span th:text="${wordEtymRel.relatedWord + ' (' + @viewUtil.getLangIso2(wordEtymRel.relatedWordLang) + ')'}"></span>
                </span>
              </button>
              <span th:if="${wordEtymRel.commentPrese != null}" th:utext="${wordEtymRel.commentPrese}"></span>
            </div>
            <div th:if="${wordEtym.comment != null}" th:utext="${wordEtym.comment}"></div>
          </div>
          <div th:unless="${itemIter.last}">
            <hr/>
          </div>
        </th:block>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_freeform">
    <div class="ekiAccordion__instance">
      <div class="ekiAccordion__title">
        <span class="badge badge-data-exists" th:unless="${#lists.isEmpty(details.word.freeforms)}">•</span>
        <span th:text="#{lex.word.freeforms}">Atribuutid</span>
        <button type="button" class="ekiAccordion__add"
            th:title="#{common.add.new}" data-toggle="modal"
            th:data-target="${'#addWordFreeformDlg_' + wordId}"
            sec:authorize="#vars.details.word.crudGrant">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="ekiAccordion__content">
        <div th:if="${#lists.isEmpty(details.word.freeforms)}" th:text="#{common.no.content}">
          Sisu puudub...
        </div>
        <div th:each="freeform,freeformIter : ${details.word.freeforms}"
             th:data-id="${freeform.id}"
             th:data-orderby="${freeform.orderBy}">
          <div th:replace="lexdialog :: edit_word_freeform_dlg"></div>
          <div th:replace="lexdialog :: add_word_freeform_source_link_dlg"></div>
          <div class="col hidden-buttons pr-5">
            <div class="invisible-buttons action-buttons-anchor">
            <span th:text="${freeform.freeformTypeValue}" class="text-monospace mr-3"></span>
            <span th:utext="${freeform.valuePrese}"></span>
            <div class="action-buttons-3">
              <button type="button" class="btn badge badge-primary"
                  th:title="#{common.edit}"
                  data-toggle="modal"
                  th:data-target="${'#editWordFreeformDlg_' + wordId + '_' + freeform.id}"
                  sec:authorize="#vars.details.word.crudGrant">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn badge badge-success hidden"
                  th:title="#{common.add.source.link}"
                  data-toggle="modal"
                  th:data-target="${'#addWordFreeformSourceLinkDlg_' + wordId + '_' + freeform.id}"
                  sec:authorize="#vars.details.word.crudGrant">
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn badge badge-warning"
                  th:data-id="${freeform.id}"
                  data-op-code="word_freeform"
                  data-toggle="delete-confirm"
                  data-placement="right"
                  sec:authorize="#vars.details.word.crudGrant">
                <i class="fa fa-remove" aria-hidden="true"></i>
              </button>
            </div>
            </div>
            <div class="hidden-buttons">
              <th:block th:unless="${#lists.isEmpty(freeform.sourceLinks)}">
                <div class="orderable" data-op-code="freeform_source_link">
                  <div th:each="sourceLink,sourceLinkIter : ${freeform.sourceLinks}"
                       th:data-id="${sourceLink.id}"
                       th:data-orderby="${sourceLink.orderBy}"
                       class="ml-4" style="position: relative;">
                    <div th:replace="lexdialog :: edit_word_freeform_source_link_dlg"></div>
                    <div style="position: absolute; display: list-item;"></div>
                    <div class="action-column">
                      <th:block th:replace="common :: ordering_buttons(${sourceLinkIter})" sec:authorize="#vars.details.word.crudGrant"></th:block>
                    </div>
                    <div class="invisible-buttons action-buttons-anchor mw-80">
                      <span>
                        <a th:href="@{'/freeform_source_link:' + ${sourceLink.id}}" th:text="${sourceLink.sourceName}"></a>
                        <span th:if="${sourceLink.name != null}" th:text="${sourceLink.name}"></span>
                        <button type="button" class="btn badge badge-primary"
                                th:title="#{common.edit}"
                                data-toggle="modal"
                                th:data-target="${'#editWordFreeformSourceLinkDlg_' + sourceLink.id}"
                                sec:authorize="#vars.details.word.crudGrant">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn badge badge-warning"
                                data-op-code="freeform_source_link"
                                th:data-id="${sourceLink.id}"
                                data-toggle="delete-confirm"
                                data-placement="right"
                                sec:authorize="#vars.details.word.crudGrant">
                          <i class="fa fa-remove" aria-hidden="true"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</body>
</html>
