<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title>Etümoloogia POC</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar compacted d-flex flex-column">
  <th:block th:replace="common :: nav_bar(activeItem = 'lex')"></th:block>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-default" th:title="#{lex.wordetym.back.to.word}">
        <span class="fa fa-arrow-left"></span>
        Tagasi keelendi juurde
      </button>
    </div>
  </div>
  <div class="container-fluid h-100 wordetym-wrapper">
    <th:block th:if="${wordEtym.level == 1}">
      <div th:replace="wordetymcomp :: wordetym_card(${wordEtym})"></div>
    </th:block>

    <th:block th:if="${wordEtym.children != null}">
      <ul class="etym-tree">
        <th:block th:each="etymlvl1 : ${wordEtym.children}">
          <li th:if="${etymlvl1.level == 2}" class="step-block level-1">
            <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
            <div th:replace="wordetymcomp :: wordetym_card(${etymlvl1})"></div>
              
            <th:block th:if="${etymlvl1.children != null}">
              <ul> 
                <th:block th:each="etymlvl2 : ${etymlvl1.children}">
                  <li th:if="${etymlvl2.level == 3}" class="step-block level-2">
                    <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
                    <div th:replace="wordetymcomp :: wordetym_card(${etymlvl2})"></div>
                    
                    <th:block th:if="${etymlvl2.children != null}">
                      <ul>
                        <th:block th:each="etymlvl3 : ${etymlvl2.children}">
                          <li th:if="${etymlvl3.level == 4}" class="step-block level-3">
                            <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
                            <div th:replace="wordetymcomp :: wordetym_card(${etymlvl3})"></div>
                          </li>
                        </th:block>
                      </ul>
                    </th:block>
                  </li>
                  <!-- <li class="step-block level-2">
                    <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
                    <div class="wordetym-card"  data-plugin="wordetymCard">
                      <div class="wordetym-card__links">
                        <button class="btn-edit-etym" type="button" data-plugin="initEkiEditorDlgEtym">
                          <span class="fa fa-pencil"></span>
                        </button>
                        <button class="btn-delete-etym" type="button">
                          <span class="fa fa-trash"></span>
                        </button>
                      </div>
                      <div class="wordetym-card__header">
                        <div class="wordetym-card__info">
                          <span th:utext="${wordEtym.lang}" class="lang-abbr"></span>
                          <span th:utext="${wordEtym.word}" class="etym-text"></span>
                        </div>
                      </div>
                      <div th:replace="wordetymcomp :: wordetym_edit_card"></div>
                      <div class="etym-tree-link">
                        <button class="btn-add-etym" 
                                type="button"
                                th:title="#{common.add.new}" 
                                data-toggle="modal"
                                th:data-target="${'#addEtymLanguageDlg_' + wordEtym.wordId}">
                          <span class="fa fa-plus"></span>
                        </button>
                      </div>
                    </div>
                    <ul>
                      <li class="step-block level-3 small">
                        <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
                        <div class="wordetym-card wordetym-card--small" data-plugin="wordetymCard">
                          <div class="wordetym-card__header">
                            <div class="wordetym-card__info">
                              <span th:utext="${wordEtym.lang}" class="lang-abbr"></span>
                              <span th:utext="${wordEtym.word}" class="etym-text"></span>
                            </div>
                          </div>
                          <div class="wordetym-card__links">
                            <button class="btn-edit-etym" type="button" data-plugin="initEkiEditorDlgEtym">
                              <span class="fa fa-pencil"></span>
                            </button>
                            <button class="btn-delete-etym" type="button">
                              <span class="fa fa-trash"></span>
                            </button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="step-block level-2">
                    <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
                    <div class="wordetym-card"  data-plugin="wordetymCard">
                      <div class="wordetym-card__links">
                        <button class="btn-edit-etym" type="button" data-plugin="initEkiEditorDlgEtym">
                          <span class="fa fa-pencil"></span>
                        </button>
                        <button class="btn-delete-etym" type="button">
                          <span class="fa fa-trash"></span>
                        </button>
                      </div>
                      <div class="wordetym-card__header">
                        <div class="wordetym-card__info">
                          <span th:utext="${wordEtym.lang}" class="lang-abbr"></span>
                          <span th:utext="${wordEtym.word}" class="etym-text"></span>
                        </div>
                      </div>
                      <div th:replace="wordetymcomp :: wordetym_edit_card"></div>
                      <div class="etym-tree-link">
                        <button class="btn-add-etym" 
                                type="button"
                                th:title="#{common.add.new}" 
                                data-toggle="modal"
                                th:data-target="${'#addEtymLanguageDlg_' + wordEtym.wordId}">
                          <span class="fa fa-plus"></span>
                        </button>
                      </div>
                    </div>
                    <ul>
                      <li class="step-block level-3">
                        <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
                        <div class="wordetym-card" data-plugin="wordetymCard">
                          <div class="wordetym-card__header">
                            <div class="wordetym-card__info">
                              <span th:utext="${wordEtym.lang}" class="lang-abbr"></span>
                              <span th:utext="${wordEtym.word}" class="etym-text"></span>
                            </div>
                          </div>
                          <div class="display-etym-info">
                            <div class="wordetym-card__body">
                              <span class="origin mb-3">Kirjakeele sõna</span>
                              <span th:utext="${wordEtym.comment}" class="comment mb-3"></span>
                              <span th:text="${wordEtym.etymYear}"class="year mb-3"></span>
                              <span class="sources">
                                <span class="source-item">Tallinn</span>
                                <span class="source-item">Tallinn</span>
                                <span class="source-item">Tallinn</span>
                              </span>
                            </div>
                          </div>
                          <div class="wordetym-card__links">
                            <button class="btn-edit-etym" type="button" data-plugin="initEkiEditorDlgEtym">
                              <span class="fa fa-pencil"></span>
                            </button>
                            <button class="btn-delete-etym" type="button">
                              <span class="fa fa-trash"></span>
                            </button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="step-block level-2">
                    <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
                    <div class="wordetym-card"  data-plugin="wordetymCard">
                      <div class="wordetym-card__links">
                        <button class="btn-edit-etym" type="button" data-plugin="initEkiEditorDlgEtym">
                          <span class="fa fa-pencil"></span>
                        </button>
                        <button class="btn-delete-etym" type="button">
                          <span class="fa fa-trash"></span>
                        </button>
                      </div>
                      <div class="wordetym-card__header">
                        <div class="wordetym-card__info">
                          <span th:utext="${wordEtym.lang}" class="lang-abbr"></span>
                          <span th:utext="${wordEtym.word}" class="etym-text"></span>
                        </div>
                      </div>
                      <div th:replace="wordetymcomp :: wordetym_edit_card"></div>
                      <div class="etym-tree-link">
                        <button class="btn-add-etym" 
                                type="button"
                                th:title="#{common.add.new}" 
                                data-toggle="modal"
                                th:data-target="${'#addEtymLanguageDlg_' + wordEtym.wordId}">
                          <span class="fa fa-plus"></span>
                        </button>
                      </div>
                    </div>
                  </li> -->
                </th:block>
              </ul>
            </th:block>
          </li>
    
          <!-- <li class="step-block level-1">
            <div th:replace="wordetymcomp :: wordetym_edit_card_link"></div>
            <div class="wordetym-card" data-plugin="wordetymCard">
              <div class="wordetym-card__header">
                <div class="wordetym-card__info">
                  <span th:utext="${wordEtym.lang}" class="lang-abbr"></span>
                  <span th:utext="${wordEtym.word}" class="etym-text"></span>
                </div>
              </div>
              <div class="wordetym-card__links">
                <button class="btn-edit-etym" type="button" data-plugin="initEkiEditorDlgEtym">
                  <span class="fa fa-pencil"></span>
                </button>
                <button class="btn-delete-etym" type="button">
                  <span class="fa fa-trash"></span>
                </button>
              </div>
              <div class="etym-tree-link">
                <button class="btn-add-etym" 
                        type="button"
                        th:title="#{common.add.new}" data-toggle="modal"
                        th:data-target="${'#addEtymLanguageDlg_' + wordEtym.wordId}">
                  <span class="fa fa-plus"></span>
                </button>
              </div>
            </div>
          </li> -->
        </th:block>
      </ul>
    </th:block>

    
    <!-- <div th:text="${wordEtym}"></div> -->
    <!-- <div>
      <span>Järgmise taseme tulemusi:</span>
      <span th:text="${#lists.size(wordEtym.children)}"></span>
    </div> -->
  </div>
  <div th:replace="wordetymdialog :: add_etym_lang_dlg"></div>
  <div th:replace="wordetymdialog :: add_etym_lang_relation_dlg"></div>
  <div th:replace="wordetymdialog :: add_definition_source_link_etym_dlg"></div>
</body>
</html>