<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{wordjoin.title}"></title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'wordjoin')"></th:block>
  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary" th:href="@{'/wordback/' + ${targetWordDetails.word.wordId}}" th:text="#{common.back}">Tagasi</a>
      </p>
    </div>
    <div class="card shadow mt-4 w-75">
      <div class="card-header">
        <h5 class="card-title" th:text="#{wordjoin.title}"></h5>
      </div>
      <div class="card-body">
        <div class="border rounded p-2">
          <div th:if="${targetWordDetails != null}">
            <input type="checkbox" class="mt-2" checked="checked" th:disabled="true"/>
            <span th:utext="${viewUtil.getWordValueMarkup(targetWordDetails.word)}" class="wttl ml-2"></span>
            <span th:text="${targetWordDetails.word.homonymNr}" th:if="${targetWordDetails.word.homonymNr > 0}"></span>
            <span th:text="${'(' + viewUtil.getLangIso2(targetWordDetails.word.lang) + ')'}" class="ml-2"></span>
            <div th:if="${targetWordDetails.firstDefinitionValue != null}">
              <span th:utext="${targetWordDetails.firstDefinitionValue}"></span>
            </div>
            <th:block th:replace=":: gender(${targetWordDetails})"></th:block>
            <th:block th:replace=":: word_types(${targetWordDetails})"></th:block>
            <th:block th:replace=":: aspect_code(${targetWordDetails})"></th:block>
            <th:block th:replace=":: etymology(${targetWordDetails})"></th:block>
          </div>
        </div>
      </div>
      <div class="card-body" th:if="${#lists.isEmpty(sourceWordDetailsList)}">
        <span th:text="#{wordjoin.not.found}">Not found.</span>
      </div>
      <div class="card-body" th:if="${not #lists.isEmpty(sourceWordDetailsList)}">
        <form th:action="@{/wordjoin}" method="post">
          <input type="hidden" name="targetWordId" th:value="${targetWordDetails.word.wordId}">
            <button type="button" class="btn btn-primary" id="joinWordsBtn"
                    data-toggle="join-confirm"
                    data-placement="right"
                    disabled
                    th:text="#{wordjoin.join}">Ühenda valitud keelendid
            </button>
          <div class="border border-dark rounded mt-2 mb-2 p-2" th:each="sourceWordDetails : ${sourceWordDetailsList}">
            <div th:if="${sourceWordDetails != null}">
              <div class="d-flex align-items-center flex-wrap mb-2">
                <input name="sourceWordIds" type="checkbox" class="mt-2"
                       th:value="${sourceWordDetails.word.wordId}"
                       th:if="${permDataUtil.isWordValidForJoin(sourceWordDetails.word.wordId, targetWordDetails.word.wordId)}"
                       sec:authorize="#vars.permDataUtil.isSourceWordCrudGranted(#vars.sourceWordDetails.word.wordId, #vars.targetWordDetails.word.wordId)"/>
                <span th:utext="${viewUtil.getWordValueMarkup(sourceWordDetails.word)}" class="wttl ml-2"></span>
                <span th:text="${sourceWordDetails.word.homonymNr}" th:if="${sourceWordDetails.word.homonymNr > 0}" class="ml-2"></span>
                <span th:text="${'(' + viewUtil.getLangIso2(sourceWordDetails.word.lang) + ')'}" class="ml-2"></span>
              </div>
              <th:block th:replace=":: gender(${sourceWordDetails})"></th:block>
              <th:block th:replace=":: word_types(${sourceWordDetails})"></th:block>
              <th:block th:replace=":: aspect_code(${sourceWordDetails})"></th:block>
              <th:block th:replace=":: etymology(${sourceWordDetails})"></th:block>
              <div class="border rounded mb-2 p-2" th:each="lexeme : ${sourceWordDetails.lexemes}">
                <div class="d-flex align-items-center flex-wrap">
                  <span th:if="${lexeme.levels != null}" class="pr-2">
                    <span class="bubble" th:text="${lexeme.levels}">
                      <span th:text="${lexeme.levels}"></span>
                    </span>
                  </span>
                  <th:block th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                    <div class="btn-custom">
                      <span th:utext="${viewUtil.getWordValueMarkup(meaningWord)}"></span>
                      <span th:text="${meaningWord.homonymNr}"></span>
                      <span th:text="${'(' + viewUtil.getLangIso2(meaningWord.lang) + ')'}"></span>
                    </div>
                    <span th:unless="${meaningWordIter.last}">&nbsp;|&nbsp;</span>
                  </th:block>
                  <div class="ml-auto">
                    <b th:text="${lexeme.datasetName}"></b>
                  </div>
                </div>
                <div class="d-flex align-items-center flex-wrap" th:if="${not #lists.isEmpty(lexeme.meaning.definitions)}">
                  <span th:utext="${lexeme.meaning.definitions.get(0).value}"></span>
                </div>
                <div class="row">
                  <div class="col pr-0 col-w13rem">
                    <span class="lbl" th:text="#{lex.data.ids}">Identifikaatorid</span>
                  </div>
                  <div class="col pl-0">
                    <span class="pr-1" th:text="'W' + ${lexeme.wordId}"></span>
                    <span class="pr-1" th:text="'L' + ${lexeme.lexemeId}"></span>
                    <span class="pr-1" th:text="'M' + ${lexeme.meaningId}"></span>
                  </div>
                </div>
                <div class="row" th:if="${not #lists.isEmpty(lexeme.pos)}">
                  <div class="col pr-0 col-w13rem">
                    <span class="lbl" th:text="#{lex.lexeme.pos}">Sõnaliik</span>
                  </div>
                  <div class="col pl-0">
                    <span th:each="classif,classifIter : ${lexeme.pos}" class="hidden-buttons">
                      <span th:text="${classif.code}"></span>
                      <th:block th:unless="${classif.code == classif.value}">
                        -
                        <span th:text="${classif.value}"></span>
                      </th:block>
                      <span th:unless="${classifIter.last}">,</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <th:block th:fragment="gender(details)" th:if="${details != null}">
    <div class="row" th:if="${details.word.genderCode != null}">
      <div class="col pr-0 col-w13rem">
        <span class="lbl" th:text="#{lex.word.gender}">Sugu</span>
      </div>
      <div class="col pl-0">
        <span th:text="${viewUtil.getClassifierValue(details.word.genderCode, wordGenders)}"></span>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word_types(details)" th:if="${details != null}">
    <div class="row" th:if="${not #lists.isEmpty(details.wordTypes)}">
      <div class="col pr-0 col-w13rem">
        <span class="lbl" th:text="#{lex.word.type}">Keelendi tüüp</span>
      </div>
      <div class="col pl-0">
        <span th:each="classif,classifIter : ${details.wordTypes}" class="hidden-buttons">
          <span th:text="${classif.code}"></span>
          <th:block th:unless="${classif.code == classif.value}">
            -
            <span th:text="${classif.value}"></span>
          </th:block>
        </span>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="aspect_code(details)" th:if="${details != null}">
    <div class="row" th:if="${details.word.aspectCode != null}">
      <div class="col pr-0 col-w13rem">
        <span class="lbl" th:text="#{lex.word.aspect}">Aspekt</span>
      </div>
      <div class="col pl-0">
        <span th:text="${viewUtil.getClassifierValue(details.word.aspectCode, wordAspects)}"></span>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="etymology(details)" th:if="${details != null}">
    <div class="row mb-2" th:if="${not #lists.isEmpty(details.wordEtymology)}">
      <div class="col pr-0 col-w13rem">
        <span class="lbl" th:text="#{lex.word.etymology}">Päritolu</span>
      </div>
      <div class="col pl-0 small" style="line-height: 0.8rem;">
        <th:block th:each="wordEtym, itemIter : ${details.wordEtymology}">
          <div>
            <div>
              <span th:if="${wordEtym.questionable}">?</span>
              <span th:if="${wordEtym.etymologyTypeCode != null}" th:text="${wordEtym.etymologyTypeCode}"></span>
              <span th:if="${wordEtym.etymologyYear != null}" th:text="${wordEtym.etymologyYear}"></span>
            </div>
            <div th:each="wordEtymSourceLink : ${wordEtym.wordEtymSourceLinks}">
              <span th:text="${wordEtymSourceLink.sourceName}"></span>
            </div>
            <div th:each="wordEtymRel : ${wordEtym.wordEtymRelations}">
              <span class="btn-link">
                <span th:if="${wordEtymRel.questionable}">?</span>
                <span th:if="${wordEtymRel.compound}">+</span>
                <span th:text="${wordEtymRel.relatedWord + ' (' + viewUtil.getLangIso2(wordEtymRel.relatedWordLang) + ')'}"></span>
              </span>
              <span th:if="${wordEtymRel.commentPrese != null}" th:utext="${wordEtymRel.commentPrese}"></span>
            </div>
            <div th:if="${wordEtym.comment != null}" th:utext="${wordEtym.comment}"></div>
          </div>
          <div th:unless="${itemIter.last}">
            <hr />
          </div>
        </th:block>
      </div>
    </div>
  </th:block>
  <script th:inline="javascript">
	  initializeWordJoin();
	  $('[data-toggle=join-confirm]').confirmation({
      btnOkLabel : /*[[#{common.yes}]]*/'Jah',
      btnCancelLabel : /*[[#{common.no}]]*/'Ei',
      title : /*[[#{wordjoin.confirm.join}]]*/'Kas olete kindel?',
		  onConfirm: function() {
			  $(this).closest('form').submit();
		  }
	  });
  </script>
</body>
</html>