<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{word.join.title}">Keelendite ühendamine</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar"></th:block>
  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <p class="card-text">
        <a class="btn btn-sm btn-secondary" th:if="${returnPage == 'lex_search'}" th:href="@{/lexsearch}">Tagasi</a>
        <a class="btn btn-sm btn-secondary" th:if="${returnPage == 'term_search'}" th:href="@{/termsearch}">Tagasi</a>
      </p>
    </div>
    <div class="card mt-4 shadow">
      <div class="card-header">
        <h5 class="card-title">Olemasoleva sõna valik</h5>
      </div>
      <div class="card-body">
        <form th:action="@{/create_homonym}" method="post">
          <input type="hidden" name="dataset" th:value="${dataset}">
          <input type="hidden" name="language" th:value="${language}">
          <input type="hidden" name="morphCode" th:value="${morphCode}">
          <input type="hidden" name="wordValue" th:value="${wordValue}">
          <input type="hidden" name="meaningId" th:value="${meaningId}">
          <input type="hidden" name="returnPage" th:value="${returnPage}">
          <div style="width: 95%" class="border rounded p-2 mb-2">
            <span th:text="${wordValue}" class="ttl"></span>
            <button type="submit" class="btn btn-primary ml-4">Lisa uus homonüüm</button>
            <span class="float-right">
              <b th:text="${dataset}"></b>
            </span>
          </div>
        </form>
      </div>
      <div class="card-body" th:if="${not #lists.isEmpty(wordDescripts)}">
        <div style="width: 95%" class="border rounded p-2 mb-2" th:each="wordDescript : ${wordDescripts}">
          <div>
            <span th:text="${wordDescript.word.value}" class="ttl"></span>
            <span th:text="${wordDescript.word.homonymNumber}" class="ttl"></span>
            <span th:text="${'(' + iso2languages[wordDescript.word.language] + ')'}"></span>
            <a class="btn btn-primary" th:href="@{'/wordselect/' + ${dataset} + '/' + ${wordDescript.word.wordId} + '/' + ${meaningId} + '/' + ${returnPage}}">Vali</a>
            <span class="float-right">
              <th:block th:each="code, codeIter : ${wordDescript.word.datasetCodes}">
                <b th:text="${code}"></b>
                <b th:unless="${codeIter.last}">, </b>
              </th:block>
            </span>
          </div>
          <hr />
          <div>
            <span th:each="lexeme, lexemeIter : ${wordDescript.lexemes}">
              <th:block th:if="${not #lists.isEmpty(lexeme.meaningWords)}">
                <span th:each="meaningWord,meaningWordIter : ${lexeme.meaningWords}">
                  <span th:text="${meaningWord.value}"></span>
                  <span th:text="${meaningWord.homonymNumber}"></span>
                  <span th:text="${'(' + iso2languages[meaningWord.language] + ')'}"></span>
                  <span th:unless="${meaningWordIter.last}">,</span>
                </span>
              </th:block>
            </span>
          </div>
          <div class="mt-2" th:if="${not #lists.isEmpty(wordDescript.definitions)}">
            <span class="lbl">Seletused</span>
            <div th:each="definition : ${wordDescript.definitions}" th:text="${definition}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>