<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{workloadreport.title}">Muudatuste aruanne</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'workloadreport')"></th:block>
  <div class="container-fluid">
    <div class="card mt-4 shadow">
      <form th:action="@{/workloadreport/search}" method="post">
        <div class="card-header">
          <h5 class="card-title" th:text="#{workloadreport.title}">Muudatuste aruanne</h5>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{workloadreport.period}">Periood</label>
            <div class="col-md-2 input-group date" data-provide="datepicker" th:title="#{workloadreport.period.from}" data-date-language="et" data-date-autoclose="true">
              <input type="text" class="form-control bg-white required-field" name="dateFrom" th:value="${#temporals.format(dateFrom, 'dd.MM.yyyy')}" readonly>
              <div class="input-group-addon input-group-append">
                <div class="input-group-text">
                  <i class="fa fa-calendar fa-lg"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2 input-group date" data-provide="datepicker" th:title="#{workloadreport.period.until}" data-date-language="et" data-date-autoclose="true">
              <input type="text" class="form-control bg-white required-field" name="dateUntil" th:value="${#temporals.format(dateUntil, 'dd.MM.yyyy')}" readonly>
              <div class="input-group-addon input-group-append">
                <div class="input-group-text">
                  <i class="fa fa-calendar fa-lg"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{workloadreport.datasets}">Rolli sõnakogud</label>
            <div class="col-md-4">
              <select name="datasetCodes" class="dataset-select" multiple data-live-search="true" th:title="#{workloadreport.select.dataset.codes}" data-plugin="workloadReportDatasetSelectPlugin"
                      data-actions-box="true" th:data-select-all-text="#{common.select.all}" th:data-deselect-all-text="#{common.unselect.all}">
                <option value="dataset-none"
                        th:text="#{workloadreport.dataset.none}"
                        th:selected="${datasetCodes != null && #lists.contains(datasetCodes, 'dataset-none')}">Roll määramata</option>
                <option th:each="dataset : ${workloadReportDatasets}"
                        th:value="${dataset.code}"
                        th:text="${dataset.name}"
                        th:selected="${datasetCodes != null && #lists.contains(datasetCodes, dataset.code)}">dataset
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row" id="dataset-users-div">
            <th:block th:if="${userNames != null}">
              <th:block th:replace="workloadreportcomp :: dataset_users_select"></th:block>
            </th:block>
          </div>
          <div>
            <th:block th:if="${workloadReport != null}">
              <hr/>
              <div th:if="${workloadReport.resultCount == 0}">
                <span class="font-weight-bold" th:text="#{workloadreport.no.results}">Tulemusi ei leitud</span>
              </div>
              <table class="table table-sm table-striped m-0 p-0 table-hover w-auto" th:if="${workloadReport.resultCount > 0}">
                <tr>
                  <th></th>
                  <th:block th:each="userName : ${workloadReport.userNames}">
                    <th th:text="${userName}"></th>
                  </th:block>
                  <th th:text="#{workloadreport.total}">KOKKU:</th>
                </tr>
                <th:block th:each="reportRow : ${workloadReport.reportRows}">
                  <tr class="font-weight-bold">
                    <td>
                      <span th:text="#{|workloadreport.owner.type.${reportRow.activityOwner}.${reportRow.activityType}|}"></span>
                    </td>
                    <th:block th:each="userCount : ${reportRow.userCounts}">
                      <td>
                        <span th:text="${userCount.count}"></span>
                      </td>
                    </th:block>
                    <td class="font-weight-bold" th:text="${reportRow.totalCount}"></td>
                  </tr>
                  <th:block th:each="functionRow : ${reportRow.functionRows}">
                    <tr class="small">
                      <td>
                        <span th:text="${functionRow.functName}"></span>
                      </td>
                      <th:block th:each="functionRowUserCount : ${functionRow.userCounts}">
                        <td>
                          <span th:text="${functionRowUserCount.count}"></span>
                        </td>
                      </th:block>
                      <td></td>
                    </tr>
                  </th:block>
                </th:block>
              </table>
            </th:block>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div th:replace="common :: #waitDlg"></div>
  <script th:inline="javascript">
	  initializeWorkloadReport();
  </script>
</body>
</html>
