<!DOCTYPE HTML>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<th:block th:fragment="dataset_users_select">
  <label class="col-md-2 col-form-label" th:text="#{workloadreport.dataset.users}">Sõnakogu kasutajad</label>
  <div class="col-md-4">
    <select name="userNames" id="users-select" class="users-select" multiple data-live-search="true" th:title="#{workloadreport.select.dataset.users}"
            data-actions-box="true" th:data-select-all-text="#{common.select.all}" th:data-deselect-all-text="#{common.unselect.all}">
      <option th:each="user : ${datasetUsers}"
              th:value="${user.name}"
              th:text="${user.name}"
              th:selected="${userNames != null && #lists.contains(userNames, user.name)}">user
      </option>
    </select>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" data-plugin="workloadReportSearchPlugin" th:text="#{common.search}">Otsi</button>
  </div>
</th:block>
</body>
</html>