<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{feedback.title}">Sõnaveebi tagasiside</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ekilex-editor.js}"></script>
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar"></th:block>
  <div class="container-fluid">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title">Sõnaveebi tagasiside</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped table-condensed">
          <thead class="thead-light">
            <tr>
              <th>Saadetud</th>
              <th>Tagasiside tüüp</th>
              <th>Saatja</th>
              <th>E-post</th>
              <th>Sõna</th>
              <th>Teade</th>
              <th>Viimane otsing</th>
              <th>EKI kommentaarid</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="fbItem : ${feedbackLog}">
              <td class="text-nowrap" th:text="${#dates.format(fbItem.createdOn, 'dd.MM.yyyy HH:mm')}"></td>
              <td th:text="${fbItem.feedbackType}"></td>
              <td th:text="${fbItem.sender}"></td>
              <td th:text="${fbItem.email}"></td>
              <td th:text="${fbItem.word}"></td>
              <td>
                <div class="row ml-1" th:if="${fbItem.definition != null}">
                  <span class="lbl pr-2">Tähendus</span>
                  <span th:text="${fbItem.definition}"></span>
                </div>
                <div class="row ml-1" th:if="${fbItem.usages != null}">
                  <span class="lbl pr-2">Kasutusnäited</span>
                  <span th:text="${fbItem.usages}"></span>
                </div>
                <div class="row ml-1" th:if="${fbItem.comments != null}">
                  <span class="lbl pr-2">Kommentaar</span>
                  <span th:text="${fbItem.comments}"></span>
                </div>
                <div class="row ml-1" th:if="${fbItem.otherInfo != null}">
                  <span class="lbl pr-2">Muu info</span>
                  <span th:text="${fbItem.otherInfo}"></span>
                </div>
              </td>
              <td th:text="${fbItem.lastSearch}"></td>
              <td style="max-width: 40vw;">
                <button type="button" class="btn badge badge-success" title="Lisa uus"
                  onclick="openEkiEditorAddDlg(this, () => loadEkiComments(this))"
                  th:data-id="${fbItem.id}"
                  data-toggle="modal"
                  data-target="#addFeedbackCommentDlg">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <table th:fragment="eki_comments">
                  <tr th:each="ekiComment : ${fbItem.feedbackComments}">
                    <td th:text="${#dates.format(ekiComment.createdOn, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${ekiComment.userName}"></td>
                    <td th:utext="${ekiComment.comment}"></td>
                  </tr>
                </table>
              </td>
              <td>
                <button type="button" class="btn badge badge-warning" 
                  th:data-id="${fbItem.id}"
                  th:data-op-code="feedback"
                  data-callback="removeClosestRow"
                  data-toggle="delete-confirmation"
                  data-placement="left">
                  <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="addFeedbackCommentDlg" class="modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/add_item}" method="post">
          <div class="modal-body">
            <input type="hidden" name="id">
            <input type="hidden" name="language" value="est">
            <input type="hidden" name="opCode" value="feedback_comment">
            <input type="hidden" name="value">
            <div th:replace="components :: eki_editor_elem(false)"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Lisa</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:replace="common :: #alertDlg"></div>
  <script th:inline="javascript">
	$('[data-toggle=delete-confirmation]').confirmation({
		btnOkLabel: 'Jah',
		btnCancelLabel: 'Ei',
		title: 'Kas olete kindel, et soovite eemaldada ?',
		onConfirm: performDelete
	});

	function performDelete() {
		let targetName = $(this)[0].getAttribute('data-target-elem');
		let targetElement = targetName === null ? $(this) : $('[name="' + targetName + '"]');
		let currentValue = typeof targetElement.data('value') === 'object' ? JSON.stringify(targetElement.data('value')) : targetElement.data('value');
		let removeUrl = applicationUrl + 'remove_item?opCode=' + targetElement.data('op-code') + '&id=' + targetElement.data('id') + '&value=' + encodeURIComponent(currentValue);
		let validateUrl = applicationUrl + 'remove_item_validate?opCode=' + targetElement.data('op-code') + '&id=' + targetElement.data('id');
		let callbackFunc = () => $('#refresh-details').trigger('click');
		let callbackName = targetElement.data('callback');
		if (callbackName !== undefined) {
			callbackFunc = () => eval(callbackName)($(this))
		}
		$.post(validateUrl).done(function(data) {
			let response = JSON.parse(data);
			if (response.status === 'ok') {
				doPostDelete(removeUrl, callbackFunc);
			} else if (response.status === 'confirm') {
				openConfirmDlg(response.question, function() {
					doPostDelete(removeUrl, callbackFunc)
				});
			} else if (response.status === 'invalid') {
				openAlertDlg(response.message);
			} else {
				openAlertDlg("Andmete eemaldamine ebaõnnestus.");
			}
		}).fail(function(data) {
			openAlertDlg("Andmete eemaldamine ebaõnnestus.");
			console.log(data);
		});
	}

	function removeClosestRow(elem) {
		elem.closest('tr').remove();
	}

	function loadEkiComments(elem) {
		let feedbackId = $(elem).data('id');
		let tableElement = $(elem).closest('td').find('table');
		let url = applicationUrl + 'ww_feedback/comments/' + feedbackId;
		$.get(url).done(function(data) {
			tableElement.replaceWith(data);
		});
	}
  </script>
</body>
</html>
