<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div th:id="|createFeedbackCommentDlg_${feedbackLog.id}|" class="modal" role="dialog" th:fragment="create_feedback_comment_dlg">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form th:action="@{/wwfeedback/createcomment}" method="post">
          <div class="modal-body">
            <input type="hidden" name="feedbackLogId" th:value="${feedbackLog.id}">
            <textarea name="comment" class="form-control required-field" rows="4" required="required"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" data-plugin="feedbackActionBtn" class="btn btn-primary" th:text="#{common.save}">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="|createWordSuggestionDlg_${feedbackLog.id}|" class="modal" role="dialog" th:fragment="create_word_suggestion_dlg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/wwfeedback/savewordsuggestion}" method="post">
          <div class="modal-body">
            <input type="hidden" name="feedbackLogId" th:value="${feedbackLog.id}">
            <div class="form-group">
              <label th:text="#{feedback.word}" class="col-form-label">Pakutav sõna</label>
              <th:block th:each="feedbackLogAttr : ${feedbackLog.feedbackLogAttrs}" th:if="${feedbackLogAttr.name == 'word'}">
                <input type="text" name="wordValue" th:value="${feedbackLogAttr.value}" class="form-control required-field" required="required" autocomplete="off">
              </th:block>
            </div>
            <div class="form-group">
              <label th:text="#{feedback.definition}" class="col-form-label">Tähendus ja näitelaused</label>
              <textarea name="definitionValue" th:text="${feedbackLog.description}" rows="4" class="form-control required-field" required="required" autocomplete="off"></textarea>
            </div>
            <div class="form-group">
              <label th:text="#{feedback.author}" class="col-form-label">Nimi</label>
              <th:block th:each="feedbackLogAttr : ${feedbackLog.feedbackLogAttrs}" th:if="${feedbackLogAttr.name == 'sender_name'}">
                <input type="text" name="authorName" th:value="${feedbackLogAttr.value}" class="form-control" autocomplete="off">
              </th:block>
            </div>
            <div class="form-group">
              <label th:text="#{feedback.email}" class="col-form-label">E-post</label>
              <input type="email" name="authorEmail" th:value="${feedbackLog.senderEmail}" class="form-control form-email required-field" required="required" autocomplete="off">
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="public">
                <span th:text="#{boolean.public.true}">Avalik</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-plugin="feedbackActionBtn" class="btn btn-primary" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:id="|updateWordSuggestionDlg_${feedbackLog.wordSuggestion.id}|" class="modal" role="dialog" th:fragment="update_word_suggestion_dlg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form th:action="@{/wwfeedback/savewordsuggestion}" method="post">
          <div class="modal-body">
            <input type="hidden" name="id" th:value="${feedbackLog.wordSuggestion.id}">
            <input type="hidden" name="feedbackLogId" th:value="${feedbackLog.wordSuggestion.feedbackLogId}">
            <div class="form-group">
              <label th:text="#{feedback.word}" class="col-form-label">Pakutav sõna</label>
              <input type="text" name="wordValue" th:value="${feedbackLog.wordSuggestion.wordValue}" class="form-control required-field" required="required" autocomplete="off">
            </div>
            <div class="form-group">
              <label th:text="#{feedback.definition}" class="col-form-label">Tähendus ja näitelaused</label>
              <textarea name="definitionValue" th:text="${feedbackLog.wordSuggestion.definitionValue}" rows="4" class="form-control required-field" required="required" autocomplete="off"></textarea>
            </div>
            <div class="form-group">
              <label th:text="#{feedback.author}" class="col-form-label">Nimi</label>
              <input type="text" name="authorName" th:value="${feedbackLog.wordSuggestion.authorName}" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
              <label th:text="#{feedback.email}" class="col-form-label">E-post</label>
              <input type="email" name="authorEmail" th:value="${feedbackLog.wordSuggestion.authorEmail}" class="form-control form-email required-field" required="required" autocomplete="off">
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="public" value="true" th:checked="${feedbackLog.wordSuggestion.public}">
                <span th:text="#{boolean.public.true}">Avalik</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-plugin="feedbackActionBtn" class="btn btn-primary" th:text="#{common.save}">Salvesta</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Katkesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>