<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: common_header(~{::title},~{::links})">
<title th:text="#{feedback.title}">Sõnaveebi tagasiside</title>
<th:block th:fragment="links">
  <style>
.breakWords {
	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word
}
</style>
</th:block>
</head>
<body class="body-with-navbar">
  <th:block th:replace="common :: nav_bar(activeItem = 'wwfeedback')"></th:block>
  <div class="container-fluid">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title" th:text="#{feedback.title}">Sõnaveebi tagasiside</h5>
      </div>
      <div class="card-body">
        <div>
          <form th:action="@{/wwfeedback/search}" method="post">
            <div class="form-group row">
              <div class="col-2">
                <input type="text" class="form-control" name="searchFilter" th:value="${wwFeedbackSearchBean.searchFilter}" th:placeholder="#{feedback.placeholder.search}">
              </div>
              <div class="col-2">
                <div class="form-control">
                  <input type="checkbox" class="ml-1 form-check-input" name="notCommentedFilter" th:checked="${wwFeedbackSearchBean.notCommentedFilter}">
                  <label class="ml-4 form-check-label" th:text="#{feedback.not.commented}">Kommenteerimata</label>
                </div>
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary" th:text="#{common.search}">Otsi</button>
                <a th:href="@{/wwfeedback}" class="btn btn-secondary ml-2" th:text="#{common.clear}">Tühjenda</a>
              </div>
            </div>
          </form>
        </div>
        <hr />
        <div class="d-flex justify-content-center mb-2">
          <a th:href="@{'/wwfeedback/page/' + ${feedbackLogResult.pageNum - 1}}" th:hidden="${feedbackLogResult.pageNum == 1}" th:title="#{common.previous.page}" class="btn badge mr-2">
            <i class="fa fa-2x fa-angle-left" aria-hidden="true"></i>
          </a>
          <span class="mt-1" th:text="${feedbackLogResult.pageNum + ' / ' + feedbackLogResult.pageCount}"></span>
          <a th:href="@{'/wwfeedback/page/' + ${feedbackLogResult.pageNum + 1}}" th:hidden="${feedbackLogResult.pageNum == feedbackLogResult.pageCount}" th:title="#{common.next.page}"
            class="btn badge ml-2">
            <i class="fa fa-2x fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
        <table class="table table-striped table-condensed table-hover" th:with="isDatasetCrudOwnerOrAdmin=${userRoleData.datasetCrudOwnerOrAdmin}">
          <thead class="thead-light">
            <tr>
              <th th:text="#{feedback.created.on}">Saadetud</th>
              <th th:text="#{feedback.created.by}">Saatja</th>
              <th th:text="#{feedback.last.search}">Sõna/Viimane otsing</th>
              <th th:text="#{feedback.message}">Teade</th>
              <th></th>
              <th style="min-width: 350px" th:text="#{feedback.eki.comment}">EKI kommentaarid</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="feedbackLog : ${feedbackLogResult.feedbackLogs}">
              <td>
                <span class="text-nowrap font-weight-light" th:text="${#temporals.format(feedbackLog.createdOn, 'dd.MM.yyyy HH:mm')}"></span>
                <span class="badge badge-info" th:text="${feedbackLog.feedbackType}"></span>
              </td>
              <td>
                <div class="text-primary" th:text="${feedbackLog.senderEmail}"></div>
              </td>
              <td>
                <span th:text="${feedbackLog.lastSearch}"></span>
              </td>
              <td class="breakWords pr-3">
                <div class="row ml-1" th:unless="${#strings.isEmpty(feedbackLog.description)}">
                  <span class="lbl pr-2" th:text="#{feedback.description}">Kirjeldus</span>
                  <span th:text="${feedbackLog.description}"></span>
                </div>
                <th:block th:if="${feedbackLog.feedbackLogAttrs}">
                  <th:block th:each="feedbackLogAttr : ${feedbackLog.feedbackLogAttrs}">
                    <div class="row ml-1">
                      <span class="lbl pr-2" th:text="#{|feedback.${feedbackLogAttr.name}|}">Attr name</span>
                      <span th:text="${feedbackLogAttr.value}"></span>
                    </div>
                  </th:block>
                </th:block>
              </td>
              <td>
                <div th:replace="wwfeedbackdialog :: add_feedback_comment_dlg"></div>
                <button type="button" class="btn badge badge-success" th:title="#{common.add.new}"
                        data-toggle="modal" th:data-target="${'#addFeedbackCommentDlg_' + feedbackLog.id}"
                        sec:authorize="${#vars.isDatasetCrudOwnerOrAdmin}">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </td>
              <td>
                <th:block th:fragment="eki_comments">
                  <table th:id="${'ekiCommentsArea_' + feedbackLog.id}">
                    <tr th:each="feedbackLogComment : ${feedbackLog.feedbackLogComments}">
                      <td class="text-nowrap">
                        <div class="font-weight-light" th:text="${#temporals.format(feedbackLogComment.createdOn, 'dd.MM.yyyy HH:mm')}"></div>
                        <div>
                          <em th:text="${feedbackLogComment.userName}"></em>
                        </div>
                      </td>
                      <td th:utext="${feedbackLogComment.comment}" class="breakWords"></td>
                    </tr>
                  </table>
                </th:block>
              </td>
              <td>
                <form th:action="@{/wwfeedback/deletefeedback}">
                  <input type="hidden" name="feedbackId" th:value="${feedbackLog.id}" />
                  <button type="button" class="btn badge badge-warning" data-toggle="delete-confirm" data-placement="left" sec:authorize="${#vars.isDatasetCrudOwnerOrAdmin}">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <div class="d-flex justify-content-center mb-2">
          <a th:href="@{'/wwfeedback/page/' + ${feedbackLogResult.pageNum - 1}}" th:hidden="${feedbackLogResult.pageNum == 1}" th:title="#{common.previous.page}" class="btn badge mr-2">
            <i class="fa fa-2x fa-angle-left" aria-hidden="true"></i>
          </a>
          <span class="mt-1" th:text="${feedbackLogResult.pageNum + ' / ' + feedbackLogResult.pageCount}"></span>
          <a th:href="@{'/wwfeedback/page/' + ${feedbackLogResult.pageNum + 1}}" th:hidden="${feedbackLogResult.pageNum == feedbackLogResult.pageCount}" th:title="#{common.next.page}"
            class="btn badge ml-2">
            <i class="fa fa-2x fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common :: #alertDlg"></div>
  <div th:replace="common :: #alertSmall"></div>
  <script type="text/javascript">
	$('[data-toggle=delete-confirm]').confirmation({
		btnOkLabel : /*[[#{common.yes}]]*/'Jah',
		btnCancelLabel : /*[[#{common.no}]]*/'Ei',
		title : /*[[#{common.confirm.delete}]]*/'Kinnita kustutamine',
		onConfirm : function() {
			$(this).closest('form').submit();
		}
	});
  </script>
</body>
</html>
