{
  "extends": [
    "stylelint-config-twbs-bootstrap/scss"
  ],
  "rules": {
    "property-blacklist": [
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "transition"
    ],
    "font-family-no-missing-generic-family-keyword": null,
    "selector-max-id": null,
    "scss/dollar-variable-default": null
  }
}
