eki-foreign {
	color: #00874F;
	font-style: italic;
}

eki-highlight {
	font-weight: bold;
}

.word-value eki-highlight {
	font-weight: normal;
}

eki-sub {
	vertical-align: sub;
	font-size: 70%;
}

eki-sup {
	vertical-align: super;
	font-size: 70%;
}

eki-meta {
	color: #00874F;
	font-variant: small-caps;
	font-stretch: expanded;
}

eki-link {
	color: #004F87;
	cursor: pointer;
}

eki-disabled {
	pointer-events: none;
	opacity: 0.4;
}

eki-outline {
	/*height: 100px;*/
	/*width: 100px;*/
	/*background: black;*/
	/*color: white;*/
	outline: thick solid #00ff00;
}