.login-form-wrap {
	max-width: 300px;
	margin: 20px auto 0;
}

.login-form-content {
	border: 1px solid #efefef;
	border-radius: 3px 3px 0 0;
	padding: 20px 20px 40px;
	margin-top: 20px;
}

.login-form-footer {
	background: #efefef;
	margin: 0;
	padding: 20px 20px 30px;
	text-align: center;
}

.login-btn {
	font-weight: 700;
}
