<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Viga</title>
<link rel="stylesheet" type="text/css" th:href="@{/view/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/view/css/common-styles.css}" />
</head>
<body>
  <br />
  <div class="container-fluid">
    <div>
      <div class="form-header clearfix">
        <a th:href="@{/}" class="logo">Ekilex</a>
      </div>
      <div class="context-message">
        <h2 th:text="${errorName}"></h2>
        <p th:text="${errorDescription}"></p>
      </div>
    </div>
  </div>
</body>
</html>
