<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ekilex Main</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{/view/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/view/css/main-styles.css}" />
<link rel="icon" type="image/png" th:href="@{/view/img/favicon-32x32.png}" sizes="32x32" />
<link rel="icon" type="image/png" th:href="@{/view/img/favicon-16x16.png}" sizes="16x16" />
</head>
<body>
  <div class="container-fluid">
    <div>
      <div class="form-header clearfix">
        <a th:href="@{/}" class="logo">Ekilex</a>
      </div>
      <div class="logout-area">
        <span class="username" th:text="${user.name}"></span>
        <a class="btn btn-default btn-xs" th:href="@{/dologout}" title="Välju">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <div class="context-message">
        <h2>
          Tere
          <span th:text="${user.name}">Nimi</span>
          !
        </h2>
      </div>
    </div>
  </div>
</body>
</html>
