<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title,links)">
  <title th:replace="${title}" th:text="#{general.title}">Eesti-Vene-Eesti</title>
  <!-- Common styles and scripts -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--<link rel="shortcut icon" th:href="@{/favicon.ico}">-->

  <th:block th:replace=" :: css"></th:block>
  <th:block th:replace=" :: js"></th:block>

  <!--/* Per-page placeholder for additional links */-->
  <th:block th:replace="${links}"/>
</head>

<body>
<!-- Bootstrap core JS -->
<th:block th:fragment="js">
  <script type="text/javascript" th:src="@{/view/js/jquery-3.2.1.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/bootstrap.js}"></script>
</th:block>

<!-- Bootstrap core CSS -->
<th:block th:fragment="css">
  <link rel="stylesheet" th:href="@{/view/css/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/view/css/bootstrap-grid.css}"/>
  <link rel="stylesheet" th:href="@{/view/css/bootstrap-reboot.css}"/>
</th:block>

<!-- debugging aid -->
<div th:fragment="dump_vars" class="m-4">
  <h4>Dump of all variables in Thymeleaf context</h4>
  <hr/>
  <table>
    <tr th:each="var : ${#lists.sort(#vars.getVariableNames())}">
      <td th:text="${var}"></td>
      <td th:text="${#vars.getVariable(var)}"></td>
    </tr>
    <tr>
      <td>param</td>
      <td th:text="${#vars.getVariable('param')}"></td>
    </tr>
    <tr>
      <td>session</td>
      <td th:text="${#vars.getVariable('session')}"></td>
    </tr>
    <tr>
      <td>application</td>
      <td th:text="${#vars.getVariable('application')}"></td>
    </tr>
  </table>
</div>

</body>
</html>
