<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},_)">
  <title>Viga</title>
</head>

<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div class="container-fluid">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title" th:text="${errorName}"></h4>
      <p class="card-text" th:text="${errorId}" th:if="${errorId != null}"></p>
      <p class="card-text" th:text="${errorDescription}"></p>
      <p th:unless="${httpStatus.value() == 200}" th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|"></p>
    </div>
  </div>
</div>
</body>
</html>
