<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<charset>UTF-8</charset>
			<layout class="eki.ekilex.log.EkiUserLogPatternLayout">
				<Pattern>${FILE_LOG_PATTERN}</Pattern>
			</layout>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}_%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<charset>UTF-8</charset>
			<layout class="eki.ekilex.log.EkiUserLogPatternLayout">
				<Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
			</layout>
		</encoder>
	</appender>

	<springProfile name="prod,test">
		<root level="info">
			<appender-ref ref="fileAppender" />
		</root>
	</springProfile>

	<springProfile name="dev,local">
		<root level="info">
			<appender-ref ref="consoleAppender" />
		</root>
	</springProfile>

</configuration>
