.os-home {
  background-color: var(--color-white);

  & .home-page-content {
    container: home-content / inline-size;
    flex-grow: 1;

    &::before {
      position: absolute;
      left: 0;
      top: calc(68px + 197px);
      width: clamp(100px, 54vw, 866px);
      height: 289px;
      background-repeat: no-repeat;
      z-index: -1;

      @include media-breakpoint-up(lg) {
        content: "";
        background-image: url(../images/os-half-tilde.svg);
      }
    }

    &::after {
      position: absolute;
      inset: 0;
      background-position: right 0 top 68px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-image: url(../images/os-large-letters.svg);
      background-size: auto 70cqh;

      z-index: -1;

      @include media-breakpoint-up(lg) {
        content: "";
      }
    }
  }

  --header-bg-color: var(--color-white);

  &__logo {
    background-image: url(../images/os-full.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 270px;
    height: 91px;
    margin: 0 auto 4px;

    @include media-breakpoint-up(sm) {
      width: 418px;
      margin-bottom: 48px;
    }
  }
}


.os-link {
  color: var(--color-dark-blue);
  font-size: .875rem;
  font-weight: 500;
  display: block;
  margin: 24px auto 24px;

  &:hover {
    text-decoration: none;
  }

  & span:first-child {
    text-decoration: underline;
  }

  @include media-breakpoint-up(md) {
    margin: 88px auto 198px;
  }

  &--smaller-margin {
    margin: 16px auto;
  }
}
