.content-wrap {
  padding-top: .625rem;
}

.content-panel {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  min-height: 100%;

  @include media-breakpoint-up(md) {
    @include border-radius(.6875rem);
  }

  >.loading-indicator {
    display: none;
  }

  &.loading {
    position: relative;

    .loading-indicator {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: $zindex-modal;
      display: block;
      transform: translate(-50%);
    }
  }
}

.lexeme-level {
  line-height: 1.25;
}

.level-2-panel {
  position: relative;
  padding-top: 0;
  margin: 0 -15px;

  &:first-child {
    border-top: none;
  }

  .level-3-panel:last-of-type {
    border-bottom: 0;
  }
}

.level-3-panel {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid $gray-200;

  @include media-breakpoint-up(md) {
    padding-right: 2.5rem;
  }

  .dependencies {
    .expand .dependence {

      display: inline-flex;
      opacity: 1;
    }

    .dependence:nth-child(1),
    .dependence:nth-child(2) {
      display: inline-flex;
      opacity: 1;
    }
  }

  .dependence.expand {
    display: inline-flex;
    opacity: 1;

    .meaning,
    .meaning-meta {
      flex: 0 1 auto;
    }
  }
}

.level-3-panel:hover .more-btn {
  color: #001124;
}

.more-data .level-3-panel {
  @include media-breakpoint-up(md) {
    padding: 1rem 2.5rem 1rem 1rem;
  }
}

.word-matches-search {
  background-color: var(--color-light-blue-alternate);
}

.rections {
  color: $gray-400;
}

.sidebar .level-3-panel:last-child {
  border-bottom: 0;
}

.corp-warning {
  display: flex;
  font-size: $font-size-md;
  color: $gray-400;
}

.word-relations.expand .limited-group,
.word-relations:not(.expand) .full-group {
  display: none;
}

.word-relations.expand .full-group,
.word-relations:not(.expand) .limited-group {
  display: block;
}

.level-3-panel .collocations-section:not(.expand) .colloc-fulldata,
.level-3-panel .collocations-section.expand .colloc-samples {
  display: none;
  opacity: 0;
}

.level-3-panel .collocations-section.expand .colloc-fulldata,
.level-3-panel .collocations-section:not(.expand) .colloc-samples {
  display: block;
  opacity: 1;
}

.homonym-page {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  min-height: 100%;

  .search-results-header,
  .content-panel {
    width: 100%;
  }

}

.sticky-scroll-panel {
  &__tags {
    display: none;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__tag {
    background-color: var(--color-white);
    border: 1px solid var(--color-bluish-gray);
    border-radius: 100px;
    color: var(--color-gray-900);
    font-weight: 700;
    font-size: .75rem;
    padding: 6px 10px;

    &--active,
    &:active {
      background-color: var(--color-dark-blue);
      color: var(--color-white);

      &:hover {
        color: var(--color-white);
        border-color: var(--color-light-blue);
      }
    }

    &:hover {
      border-color: var(--color-black);
      text-decoration: none;
    }
  }
}

@include media-breakpoint-down(sm) {
  & .sticky-scroll-panel {
    position: sticky;
    background-color: var(--color-gray-010);
    z-index: 2;
    top: 64px;
    margin: 0 -15px;
    padding: 1px 15px 14px;

    &__tags {
      display: flex;
    }
  }
}


.word-panel {
  margin-top: 16px;

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-white);
    border: 0;
    padding: 16px 4px 16px 16px;
    width: auto;
    gap: 8px;
    color: var(--color-dark-blue);
    font-weight: 700;
    line-height: 19px;
    flex-grow: 1;
    
    &:not(&--nested) {
      border-bottom: 1px solid var(--color-bluish-gray);
      border-radius: 8px 8px 0 0;
      padding: 16px;
      width: 100%;
    }

    &-icon {
      font-size: 1rem;
      transition: transform 250ms ease-in-out;
    }

    &[aria-expanded="true"] .word-panel__toggle-icon {
      transform: rotateZ(180deg);
    }

    &-text {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      padding-right: 16px;
      gap: 4px;
      background-color: var(--color-white);
    }
  }

  &__modified {
    margin-left: auto;
    display: flex;
    gap: 4px;
    line-height: 15px;
    font-size: .75rem;
    font-weight: 400;

    &-prefix {
      color: var(--color-darker-gray);
    }
    @include media-breakpoint-down(sm) {
      font-size: .875rem;
      &-prefix {
        display: none;
      }
    }
  }

  &__content {
    background-color: var(--color-white);
    border-radius: 0 0 8px 8px;

    &--padded {
      padding: 4px 36px 16px;
    }

    & .level-3-panel:last-child {
      border: none;
    }
  }
}

.word-sidebar-block {
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 16px;

  &+& {
    margin-top: 16px;
  }
}


.word-results {
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 16px;
  flex-grow: 1;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
}

.search-tag {
  background-color: var(--color-white);
  color: var(--color-darker-gray);
  font-size: .75rem;
  font-weight: 500;
  line-height: 14.52px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  height: 16px;

  &--alternate {
    background-color: var(--color-gray-010);
    color: var(--color-darker-gray);
    font-size: .625rem;
    font-weight: 500;
    line-height: 12.1px;
    border-radius: 8px;
    height: 16px;
    padding: 4px 8px;
    margin-left: 4px;
    display: inline-flex;
    align-items: center;
    border: 0;
  }
}

.meaning-data {
  &__modified {
    font-size: .625rem;
    font-weight: 500;
    line-height: 12.1px;
    color: var(--color-darker-gray);
  }

  &__date {
    color: var(--color-dark-blue);
  }

  &__domain {
    font-size: .625rem;
    font-weight: 400;
    line-height: 12.1px;
    color: var(--color-darker-gray);
  }

  &__word-info {
    font-size: .625rem;
    font-weight: 500;
    line-height: 12.1px;
    color: var(--color-even-darker-gray);

    & + & {
      margin-left: 4px;
    }
  }

  &__link {
    font-size: .625rem;
    font-weight: 500;
    line-height: 12.1px;
    color: var(--color-blue-300);
    text-align: right;
  }

  &__popover-trigger {
    background-color: var(--color-gray-010);
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-darker-gray);
    border: 0;
    padding: 0 4px;
    font-size: 0.75rem;
  }
}

.word-notes {
  &__toggle {
    display: flex;
    background-color: var(--color-white);
    border: 0;
    width: max-content;
    gap: 16px;
    align-items: center;
    line-height: 19px;
    color: black;
    padding: 0 4px;
    // Use slight left margin to line up arrow while still keeping padding
    margin: 0 0 10px -4px;
    // Prevent weird outline while icon is rotating 
    min-height: 28px;

    &-icon {
      color: var(--color-dark-blue);
      font-size: 1.125rem;
      transition: transform 250ms ease-in-out;
    }

    &[aria-expanded="true"] .word-notes__toggle-icon {
      transform: rotateZ(180deg);
    }

    &--top-margin {
      margin-top: 10px;
    }
  }

  &__info-icon {
    color: var(--color-lighter-gray);
  }

  &__list {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
  }
}

.meaning-reliability {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: .625rem;
  font-weight: 500;
  height: 20px;
  color: var(--color-even-darker-gray);
  margin-left: 8px;
  &--green {
    color: var(--color-success-green);
  }

  &--red {
    color: var(--color-error-red);
  }
}


.search-filter {
  &__menu {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    max-width: 997px;
    overflow-y: auto;
    overflow-x: clip;
    max-height: 350px;
    padding: 20px;
    &.show {
      display: grid;
    }
  }

  &__item {
    height: max-content;
  }
}
