.word-suggestion-page {
  background-color: var(--color-white);

  &__wrapper {
    display: grid;
    grid-template-columns: [full-width-start] 4px [content] 1fr [full-width-end] 4px;
    gap: 16px;
    flex-grow: 1;
    margin-bottom: 36px;

    background-image: url("../images/bg-arrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 87px) 310px;

    @media (max-width: 1200px) {
      background-image: none;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns:
        [full-width-start] 1fr [content] minmax(375px, 750px)
        [full-width-end] 1fr;
      gap: 36px;
    }
  }

  &__header {
    grid-column: 1/-1;
    padding: 64px 0;
    background-color: var(--color-light-blue);
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    text-align: center;
    gap: 16px;
    color: var(--color-dark-blue);

    background-image: url("../images/bg-quotes.svg");
    background-repeat: no-repeat;
    background-position: 87px 48px;

    & h1,
    & p {
      margin: 0;
      grid-column: content;
    }

    & h1 {
      font-size: 2.125rem;
      font-weight: 400;
      line-height: 41.15px;
      letter-spacing: 0.0025em;
    }

    & p {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 19.6px;
      letter-spacing: 0.0025em;
    }

    @media (max-width: 1200px) {
      background-image: none;
    }
  }

  &__content-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 24px;
    font-size: 2.125rem;

    & h1 {
      font-size: inherit;
    }
  }

  &__count {
    color: var(--color-saku-suurhall);
  }

  &__content {
    grid-column: content;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 16px;
    border: 1px solid var(--color-light-gray);
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #0000001a;
    text-align: left;
    color: var(--color-dark-blue);

    & p {
      margin: 0;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    & h2 {
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
    }
  }
  &__item-author {
    font-size: 0.625rem;
    background-color: var(--color-halleluja);
    text-transform: uppercase;
    padding: 2px 6px;
    border-radius: 4px;
    width: max-content;
    color: var(--color-hallitus);

    &--desktop {
      display: none;
    }

    @include media-breakpoint-up(md) {
      &--desktop {
        display: inline-block;
      }
      &--mobile {
        display: none;
      }
    }
  }

  &__definition {
    font-weight: 500;
    font-size: 0.875rem;
  }

  &__usage {
    font-size: 0.75rem;
    color: var(--color-hallitus);
    border-left: 1px solid var(--color-light-gray);
    padding: 4px 8px;
    background-color: var(--color-halle-berry);
    border-radius: 4px;
  }

  &__empty-description {
    margin-bottom: 36px;
  }
}
