<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links})">
  <title>Portaalist</title>
  <th:block th:fragment="links">
  <link type="text/css" rel="stylesheet" th:href="@{/view/css/learn.css}" />
</th:block>
</head>
<body>
  <div th:replace="common-app :: menu"></div>
  <div class="container-fluid home-page-content">
    <div class="row learn-container">
      <div class="col-12 col-md-3">

      </div>
      <div class="col-12 col-md-9 learn-content">
        <div class="pb-4">
          
        </div>
      </div>
    </div>
  </div>

  <div th:replace="common-app :: footer-content"></div>
  <div th:replace="common-app :: modal-content"></div>
</body>
</html>

