<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Sõnaveeb - Portaalist</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: wcag-sidebar"></th:block>
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu"></div>
  <div class="container">
    <div class="row learn-container">
      <aside class="col-12 col-md-4" role="navigation" id="sidebar">
        <div class="sticky-side-nav">
          <div th:replace="common-app :: important-links-menu"></div>
          <ul class="mt-4 list-unstyled">
            <li>
              <a href="#portaalist">О портале</a> 
            </li>
            <li>
              <a href="#sam">Омонимы</a>
            </li>
            <li>
              <a href="#uue">Новые слова и значения</a>
            </li>
            <li>
              <a href="#son">Этимология</a>
            </li>
            <li>
              <a href="#haa">Произношение</a>
            </li>
            <li>
              <a href="#dik">Голосовой запрос</a>
            </li>
            <li>
              <a href="#sonavorm">Формы слова</a>
            </li>
            <li>
              <a href="#sonaseos">Связи слова</a>
            </li>
            <li>
              <a href="#uhe">Составные слова и устойчивые выражения</a>
            </li>
            <li>
              <a href="#tahendused">Значения</a>
            </li>
            <li>
              <a href="#tahendussuhe">Лексические связи слова</a>
            </li>
            <li>
              <a href="#naaber">Устойчивые словосочетания</a>
            </li>
            <li>
              <a href="#rekts">Управление</a>
            </li>
            <li>
              <a href="#naite">Предложения</a>
            </li>
            <li>
              <a href="#pilt">Словарь в картинках</a>
            </li>
            <li>
              <a href="#vene">Русские соответствия</a>
            </li>
            <li>
              <a href="#autor">Авторские права</a>
            </li>
            <li>
              <a href="#kuidas">Как ссылаться на Sõnaveeb</a>
            </li>
            <li>
              <a href="#ver">Версионирование</a>
            </li>
          </ul>
        </div>
      </aside>
      <div id="main" role="main" class="col-12 col-md-8 learn-content">
        <div class="pb-4">
          <h3 class="mt-4 mb-2 text-left">О портале</h3>
          <p>
            <b>Sõnaveeb</b> – языковой портал Института эстонского языка, содержащий информацию из более чем 140 словарей. На портале представлены толковые, терминологические, учебные и переводные (дву- и многоязычные) словари. Портал содержит около 400 000 эстонских слов и выражений и примерно 240 000 русских слов и выражений. Многие словари содержат переводные соответствия эстонских слов также на английском, немецком, французском, финском, украинском и других языках.
          </p>
          <p>
            <b>Sõnaveeb для учащихся (Keeleõppija SÕnaveeb)</b> – учебный словарь, предназначенный для изучающих эстонский язык на уровнях от A1 до B1. Словарь содержит 6000 эстонских слов и их соответствия на русском, украинском, французском и английском языках. Слова объяснены простым языком и сопровождаются примерами использования в предложениях. Для лучшего понимания значения около 1000 слов снабжены иллюстрациями.
          </p>
          <p>
            Информация на порталах «Sõnaveeb» и «Sõnaveeb для учащихся» воспроизводится из <a href="https://ekilex.ee">Ekilex</a> – системы составления словарей, которую администрирует и развивает Институт эстонского языка. Все словари, представленные на порталах, создаются и редактируются в <a href="https://ekilex.ee">Ekilex</a>.
          <br><b>NB!</b> Институт эстонского языка предоставляет непосредственный открытый доступ к контенту <a href="https://ekilex.ee">Ekilex</a> на бесплатной основе под лицензией <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 («С указанием авторства»)</a>. Эта лицензия позволяет пользователям копировать, распространять, передавать, адаптировать, перерабатывать и использовать контент даже в коммерческих целях при условии указания авторства Института эстонского языка. Для скачивания словарей необходимо создать аккаунт в <a href="https://ekilex.ee">Ekilex</a> и получить ключ для использования <a href="https://github.com/keeleinstituut/ekilex/wiki/Ekilex-API">Ekilex API</a>.
          </p>
          <p>
            С порталом «Sõnaveeb» связан «Интернет-корпус эстонского языка 2020». Запросы осуществляются через <a href="https://github.com/spraakbanken/korp-backend/">API</a> корпусного менеджера <a href="https://korp.keeleressursid.ee/#?lang=et&stats_reduce=word&cqp=%5B%5D">KORP</a>.
          </p>
          <p>
         <b>Большой словарь EKI (EKI ühendsõnastik)</b> – это комплексный словарь современного эстонского языка, который постоянно дополняется новыми словами и выражениями. Словарь содержит также данные таких ранее изданных словарей, как «Толковый словарь эстонского языка» (2019), «Словарь сочетаемости слов эстонского языка» (2019), «Базовый словарь эстонского языка» (2014), «Эстонско-русский школьный ортологический словарь» (2019), «Эстонско-русский словарь» (2019, 1-е издание 1997–2009) и «Словарь иностранных слов эстонского языка» (2012). 
          </p>
          <h5 id="ven" class="highlighted">Омонимы</h5>
          <p>
            В эстонском языке есть около 1000 слов, которые совпадают по написанию с другим словом, но имеют разное лексическое значение. Такие слова называются омонимами. 
             Например: <i>palk</i> ‘töötasu’ (заработная плата) и <i>palk</i> ‘langetatud puu’(бревно); <i>tee</i> ‘sõidutee’(дорога) и <i>tee</i> ‘jook’(напиток); <i>pits</i> ‘võrkkudum’(кружево), <i>pits</i> ‘väike napsiklaas’ (рюмочка) и <i>pits</i> ‘piibuvarre osa’(мундштук). Больше всего, а именно пять омонимов, в Sõnaveeb имеют четыре слова: <i>matt</i>, <i>mutt</i>, <i>tikk</i> и <i>viik</i>.<br>
            В Sõnaveeb омонимы даются отдельными лексемами.
          </p><br>
          <h5 id="det" class="highlighted">Новые слова и значения</h5>
          <p>
           Неологизмы - это слова, которые вошли в обращение в последние двадцать лет, например: <i>erisoodustusmaks</i>, <i>eelhääletus</i>, <i>eeslinnastumine</i>, <i>euroskeptitsism</i>, <i>e-valimisedv</i>, <i>vastustaja</i>, <i>makroanalüütik</i>, <i>asümmeetriline sõda</i>, <i>elektrooniline võru</i> ja <i>elektronvõru</i>, <i>veebimajutus</i>, <i>manageerima</i>, <i>puuküürnik</i>, <i>putinism</i>, <i>hapu laen</i>, <i>infoväli</i>, <i>islamimaailm</i>, <i>islamiseeruma</i>, <i>islamofoobia</i>; <i>küüslauguvõi</i>, <i>maitsesool</i>, <i>kabotša</i>, <i>flamm</i>; <i>epiduraalanesteesia</i>, <i>kompuutertomograaf</i>, <i>mammograafiabuss</i> ja <i>mammobuss</i>, <i>unearst</i>, <i>hapnikuvõlg</i>; <i>maalilaager</i>, <i>kelguhoki</i>, <i>kendo</i>, <i>enduuro</i>, <i>eterkeha</i> ja <i>eeterlik keha</i>, <i>sisekosmos</i>, <i>energiaväli</i>, <i>üliteadvus</i>, <i>sekstiil</i>.
          </p>
          <p>
            В Sõnaveeb представлено большое количество сложноставных слов, которые ранее не рассматривались как самостоятельные единицы, например: <i>alkohoolne jook</i>, <i>elu ja surma küsimus</i>, <i>häälest ära</i>, <i>identsed kaksikud</i>, <i>klassikaline filoloogia</i>, <i>löömaks minema</i>.
          </p>
          <p>
            В виде отдельных слов даются формы глаголов и имён существительных, получившие самостоятельное значение, например: <i>kadunud</i> (‘<i>hukkumisele või läbikukkumisele määratud</i>’), <i>kaelani</i> (‘<i>täiesti, üleni, läbinisti</i>’).
          </p>
          <h5 id="sam" class="highlighted">Этимология слова</h5>
          <p>
           На портале Sõnaveeb даётся информация о происхождении эстонских слов и выражений (примерно 20 000 слов).
          </p>
          <p>
           Разъяснения происхождения слов могут быть различными. В первую очередь указывается вид этимологии: исконное, заимствованное, ономатопоэтическое слово, имя, название изделия, калька, полукалька, литературное или искусственное слово. Затем даётся следующая информация: соответствия в других языках, распространение в родственных языках, автор искусственного слова и время создания.
           </p>
          <p>
            <span class="highlighted">Исконное слово.</span>
            Давно существующие в языке слова, о которых известно, что они не являются заимствованными, а также такие относящиеся к древнейшему слою эстонской лексики слова, которые имеют чёткое соответствие в какой-нибудь другой семье языков, но в заимствовании которых нельзя быть однозначно уверенным. При указании распространения исконных слов в родственных языках использованы следующие категории:
          </p>
          <ul class="dotted-list">
            <li>
              уральское слово (соответствие по меньшей мере в одном самоедском языке): <i>ei, elama, kaaren,</i>
            </li>
            <li>
              финно-угорское слово (соответствие по меньшей мере в одном угорском языке): <i>kolm, kuru, köis,</i>
            </li>
            <li>
              прибалтийско-финское-пермское слово (соответствие по меньшей мере в одном пермском языке): <i>jäse, kaas, amb,</i>
            </li>
            <li>
              прибалтийско-финское-волжское слово (соответствие в марийском языке): <i>jahvatama, haab, ihuma,</i>
            </li>
            <li>
              прибалтийско-финское –мордовское слово (соответствие в мордовских языках): <i>inimene, istuma, aher,</i>
            </li>
            <li>
              прибалтийско-финское-саамское слово (соответствие в саамских языках): <i>hiilgama, hõbe, ilves,</i>
            </li>
            <li>
              прибалтийско-финское слово (встречается в нескольких прибалтийско-финских языках, имеется соответствие в вепсском, ливском языках):  <i>matma, habras, jäme,</i>
            </li>
            <li>
              прибалтийско-финское слово ограниченного распространения (встречается в нескольких прибалтийско-финских языках): <i>helmes, hirm, hulkuma,</i>
            </li>
            <li>
              прибалтийско-финское слово южной группы (встречается в эстонском, ливском и водском языке): <i>kudrutama, matma, niiske,</i>
            </li>
            <li>
              эстонско-финское слово: <i>eblakas, edenema, puju,</i>
            </li>
            <li>
              эстонско-ливское слово: <i>hullama, käi, maru,</i>
            </li>
            <li>
              эстонско-водское слово: <i>jõhvikas, otsus, vaatama</i>.
            </li>
          </ul>
          <p>
            <span class="highlighted">Заимствованное слово.</span>
           Это слова, усвоенные из других языков. Указывается источник или источники заимствования. Если заимствование новейшее, то, как правило, указывается конкретный язык (например, нижненемецкий, немецкий, русский, финский), если заимствование давнее, то языковая группа (например, арийская, балтийская, германская). Если слово исходного языка в свою очередь является заимствованным, по возможности указывается через какие языки слово пришло в эстонский язык.
          </p>
          <p>
            <span class="highlighted">Ономатопоэтическое слово.</span>
            Представлены как слова, в которых звучание определено значением слова, так и случаи их переносного использования (т.н. ономатопоэтические-дескриптивные слова).
          </p>
          <p>
            <span class="highlighted">Имя и название изделия.</span>
            Если слово происходит из имени собственного или названия изделия, то указано <i>nimi</i>(имя) или <i>tootenimi</i> (названия изделия). Например, слово <i>kutt</i> происходит от фамильярного сокращения мужского имени <i>Gustav Kutt</i>; слово <i>kets</i> от марки спортивной обуви Keds американской фирмы US Rubber Company; слово <i>barbi</i> от названия изделия Barbie.
          </p>
          <p>
            <span class="highlighted">Переводное заимствование и наполовину переводное заимствование.</span>
            Переводные заимствования – это сложные слова и выражения, вошедшие в эстонский язык в результате перевода сложного слова или выражения из другого языка: англ. chain smoker > эст. ahelsuitsetaja, англ. Internet of things > эст. asjade internet. В случае, когда это наполовину переводное заимствование, одна часть слова или выражения заимствована, вторая – переведена: нем. Bubikragen > эст. bubikrae.
          </p>
          <p>
            <span class="highlighted">Литературное слово и искусственное слово.</span>
            Большая часть таких слов в эстонском языке являются новыми, сознательно созданными для развития литературного языка. Такие слова отмечены как kirjakeele sõna (слово литературного языка): padrik (сошный крестьянин), aheraine (пустая порода). По возможности указан автор и дата создания: lõigend (отрывной талон) – Харальд Пыльд, 1910, aimekirjandus (научно-популярная литература) – Харри Ыйглане, 1974. Искусственно созданные слова отмечены как tehissõna. Как правило, автор и дата создания известны и указаны: lünk (пробел) – Йоханнес Аавик, 1917/1921, etlema (декламировать) – Айн Каалеп, 1969.
          </p>
          <h5 id="haa" class="highlighted">Произношение</h5>
          <p>
            Иностранные имена, сокращения и слова, пришедшие из других языков, даются в транскрипции: Ali Baba [alii babaa], alma mater [alma maater], cappuccino [kaputšiino], KGB [kaa-gee-bee], TalTech [tal-tehh, tal-tek].
          </p>
          <p>Для того чтобы услышать, как произносятся слова, следует нажать на значок мегафона. Произношение даётся по электронной версии словаря иностранных слов «Võõrsõnade leksikon» (2015) и оно близко к оригинальному.
          </p>
          <p>
            Также можно прослушать произношение основных словоформ около 10 000 слов, в том числе всех слов, составляющих базовый лексикон эстонского языка. Для этого следует нажать на значок мегафона рядом с формами слова в разделе Sõnavormid (Формы слова). 
          </p>
          <p>
            Услышать можно произношение приводимых в качестве примера предложений, для этого следует нажать на значок мегафона рядом с предложением. Предложения генерируются при помощи <a href="http://www.eki.ee/heli/index.php?option=com_content&view=article&id=5&Itemid=466">синтезатора речи</a>, разработанного в Институте эстонского языка. 
          </p>
          <h5 id="dik" class="highlighted">Голосовой запрос</h5>
          <p>
            В Sõnaveeb можно также активировать голосовой поиск, произнеся искомое слово или выражение. Для этого в разделе поиска следует включить микрофон. После того как слово или выражение произнесено, микрофон следует выключить. Браузер в реальном времени направляет речь в сервер Института кибернетики ТТУ, где она преобразуется в текст и отправляется обратно в браузер.
          </p>
          <h5 id="sonavorm" class="highlighted">Формы слова</h5>
          <p>Информация, касающаяся словоизменения, приводится из «Морфологической базы данных Института эстонского языка 2019-».
          </p>
          <h5 id="sonaseos" class="highlighted">Связи слова</h5>
          <p>
            В Sõnaveeb наряду с искомым словом представлены связанные с ним слова и выражения: формы сравнения, производные слова, составные слова и устойчивые выражения.
          </p>
          <p>
            <span class="highlighted">Формы сравнения.</span>
            Формы сравнения даются при прилагательных и наречиях: <i>ilus</i> – сравнительная степень <i>ilusam</i> , превосходная степень <i>kõige ilusam</i> , <i>ilusaim</i> ; <i>kaugel</i> – сравнительная степень <i>kaugemal</i> .
          </p>
          <p>
            <span class="highlighted">Производные слова.</span>
            Некоторые производные слова представлены в Sõnaveeb без самостоятельного описания. Если ввести в поиск слово <i>punaselt</i>, то получим ответ, что оно образовано от слова <i>punane</i>.
          </p>
          <p>
          <span class="highlighted">Составные слова и устойчивые выражения.</span>
            Рядом с искомым словом перечисляются слова, в состав которых оно входит. 
          </p>
          <span class="highlighted">Представлены:</span>
          <ul class="dotted-list">
            <li>
              составные глаголы: <i>ette trügima, järele kontrollima, kokku arvutama</i>
            </li>
            <li>
              фразеологизированные глаголы: <i>nägu tegema, pahaks panema, silma jääma</i>
            </li>
            <li>
              составные союзы: <i>kui et, nii et, niikaua kui</i>
            </li>
            <li>
              метафорические и идиоматические выражения: <i> täispangale minema, vale puu all haukuma, kirju koer, tarkade kivi, Achilleuse kand, Ameerika mäed, onu Heino</i>
            </li>
            <li>
              идиоматические устойчивые сравнения: <i>nagu kulda, raha nagu ratsahobuse sitta, täis nagu templielevant</i>
            </li>
            <li>
              терминологические сочетания: <i>absoluutne kuulmine, erakorraline meditsiin, helkivad ööpilved, Hispaania avang, huvide konflikt</i>
            </li>
            <li>
              названия языков: <i>aramea keel, akadi keel, krimmitatari keel</i>
            </li>
            <li>
              сочетания существительных с несклоняемыми прилагательными, предлогами и наречиям: <i>katoliku kirik, luteri usk, ookeani taga, püssi alla</i>
            </li>
            <li>
              имена собственные: <i>Vaikne ookean, Ameerika Ühendriigid, Liibüa kõrb</i>
            </li>
            <li>
              предложные сочетания: <i>au sees, mitut pidi, ookeani taga, pöidla all, püssi alla</i>
            </li>
            <li>
              lauselised ütlused (ka mõned kõnekäänud ja vanasõnad): <i>mis liig, see liig, näitan, kuidas Luukas õlut teeb, uhkus ajab upakile, vanajumal oli lätlane</i>
            </li>
            <li>
              формулы речевого этикета: <i>head aega, tere tulemast</i>
            </li>
            </ul>
            <h5 id="naaber" class="highlighted">Устойчивые словосочетания</h5>
          <p>
            Устойчивые словосочетания даны для отдельных значений 10 000 наиболее частотных слов эстонского языка. Информация даётся из словаря сочетаемости слов эстонского языка “Eesti keele naabersõnad 2019”, который был составлен на основе “Национального корпуса эстонского языка 2013» («Eesti keele ühendkorpus 2013»).
          </p>
         <p>
          Словосочетания сгруппированы на основе частеречной принадлежности тех слов, с которыми сочетается искомое слово.
          </p>
         <p>
           Наиболее частотные типы словосочетания для существительных: <i>прилагательное</i> + <i>существительное</i>, <i>существительное</i> (в функции подлежащего) + <i>глагол</i>, <i>существительное</i> (в функции прямого дополнения) + <i>глагол</i>, <i>существительное</i> (в функции косвенного дополнения) + <i>глагол</i>, <i>наречие</i> + <i>существительное</i> и <i>существительное</i> + <i>существительное</i>. Например, слово <i>kohv</i> чаще всего встречается вместе с прилагательными <i>kange</i>, <i>kuum</i>, <i>kofeiinivaba</i>, с глаголами <i>kohv aurab, jahtub, ergutab</i>, с существительными <i>kohvi joomine, valmistamine</i>.
         </p>
         <p>
          Наиболее частотные типы словосочетания для прилагательных: <i>прилагательное</i> + <i>существительное</i>, <i>наречие</i> + <i>прилагательное</i>, <i>прилагательное</i> + <i>глагол</i>, <i>прилагательное</i> + <i>прилагательное</i>.
         </p>
         <p>
          Наиболее частотные типы словосочетания для глаголов: <i>существительное</i> (в функции подлежащего) + <i>глагол</i>, <i>существительное</i> (в функции прямого дополнения) + <i>глагол</i>, <i>существительное</i> (в функции косвенного дополнения) + <i>глагол</i>, <i>наречие</i> + <i>глагол</i>, <i>глагол</i> + <i>глагол</i>.
          </p>
          <p>         
          Наиболее частотные типы словосочетания для наречий: <i>наречие</i> + <i>глагол</i>, <i>наречие</i> + <i>прилагательное</i>, <i>наречие</i>+<i>наречие</i>.
          </p>
          <p>
          В каждой группе сочетаемые слова в свою очередь сгруппированы в зависимости от грамматической формы искомого слова. Например, если в поиск ввести слово <i>töö</i>, то сочетания <i>tööd tegema</i>, <i>tööl käima</i> и <i>töölt lahkuma</i> будут представлены как отдельные группы. 
          Для каждой группы приводятся также иллюстративные предложения. 
          </p>
          <h5 id="tahendused" class="highlighted">Значения</h5>
          <p>Как правило, значения упорядочены по частоте: на первом месте наиболее часто встречающееся в языке значение. Значения подразделяются на основные (указываются под номерами 1, 2, 3 и т.д.) и подзначения, которые указываются под номерами 1.1, 1.2, 1.3 и т.д.
          </p>
        
          <h5 id="tahendussuhe" class="highlighted">Лексические связи слова</h5>
          <p>Для отдельных слов даются следующие виды лексической связи: синонимы, антонимы, паронимы, гипонимы и гиперонимы.</p>
          <p>
            <span class="highlighted">Антонимы.</span>
            Слова, имеющие противоположное значение, отмечены как <i>vastand</i> (противоположные по смыслу слово): <i>absoluutne vastand</i> <i>suhteline</i>; <i>reesuspositiivne</i> vastand <i>reesusnegatiivne</i>.
          </p>
          <p>
            <span class="highlighted">Гипонимы и гиперонимы.</span>
           Гипонимы и гиперонимы отмечены при помощи пометы <i>võrdle</i> (сравни): <i>peamõis</i> võrdle <i>abimõis; riigimets</i> võrdle <i>eramets</i>.
          </p>
          <p>
            <span class="highlighted">Паронимы.</span>
            Паронимы отмечены как <i>ära aja segi</i> (не путать со словом): <i>ehitus</i> ära aja segi <i>ehitis; õieti</i> ära aja segi <i>õigesti</i>.
          </p> 
          <h5 id="rekts" class="highlighted">Управление</h5>
          <p>
            Управление – это подчинительная связь, при которой главное слово в словосочетании требует постановки зависимого слова в определенной грамматической форме. В Sõnaveeb управление описывается при помощи различных вопросов: <i>põhinema –
              millel; usk – kellesse-millesse; viha – kelle-mille vastu; tahe – mida teha; kade – kelle-mille peale; tutvuma kellega-millega</i> и т.д. 
          </p> 
          <h5 id="naite" class="highlighted">Иллюстративные предложения</h5>
          <p>Приводимые в качестве примера предложения помогают лучше понять значение слов. Как правило, при выборе предложений за основу взяты данные “Национального корпуса эстонского языка» («Eesti keele ühendkorpus 2013, 2017, 2019, 2021»).
          </p>
        <h5 id="pilt" class="highlighted">Словарь в картинках</h5>
          <p>
          Словарь в картинках подходит для изучения эстонского, русского и украинского языков как на начальном, так и на продвинутом уровне. В словаре содержится около тысячи картинок, разделённых на 52 темы (например, предлоги, транспортные средства, одежда, фрукты и ягоды, спорт, школа и офис). В эстонской части словаря можно прослушать произношение всех слов. 
          </p>
          <p>
            Составители словаря: Елена Каллас, Кристина Коппель, Ольга Кийсла, Эллен Довган; художники: Кристель Карп и Анни Пийтс-Ямник; техническая поддержка: Катрин Цепелина и TripleDev OÜ.
          </p>  
          <h5 id="vene" class="highlighted">Русские соответствия</h5>
          <p>
            При составлении русской части портала используются академические словари на порталах <a href="http://orfo.ruslang.ru/">”Aкадемоc”</a>, <a href="http://gramota.ru/">"ГРАМОТА.РУ”</a> и <a href="https://dic.academic.ru/">“Словари на Академике”</a>,<a href="https://neolex.iling.spb.ru/search">”Новое в русской лексике”</a>. 
          </p>   
          <h5 id="autor" class="highlighted">Авторские права</h5>
          <p>Собственником авторских прав на Sõnaveeb является Институт эстонского языка.</p>
          <p> Авторское право: Институт эстонского языка, 2024</p>
          <h5 id="kuidas" class="highlighted">Как ссылаться на Sõnaveeb</h5>
          <p>На представленные в Sõnaveeb слова или выражения просим давать следующую ссылку:</p>
          <p>слово или выражение. Sõnaveeb 2024. https://sonaveeb.ee (14.03.2024)</p>
          <h5 id="ver" class="highlighted">Версионирование</h5>
          <p>Новая версия Sõnaveeb создаётся и архивируется один раз в год. Указывается год и дата создания версии, например: Sõnaveeb 2024.</p>
          <p>Предыдущие версии сохраняются. Каждая версия получает отдельный постоянный идентификатор, который используется при ссылке на эту версию. 
            Все версии регистрируются в METASHARE, архивируются в Эстонском центре языковых ресурсов (Eesti Keeleressursside Keskus).
          </p>
          <p>
            Дополнительная информация о портале содержится также в справочнике Института эстонского языка <a href="https://eki.ee/teatmik/sonaveebi-kasutajale/">EKI teatmik</a>.
          </p>
          <p>
            Портал создан при финансовой поддержки программы <a href="https://www.hm.ee/et/tegevused/digipoore">Digipöörde programm (2018-2021)</a>, программы <a href="http://adm.archimedes.ee/str/toetuse-edenemine/periood-2014-2020/projektid/astra-projektid/#EKI">EKI-ASTRA programm (2016-2022)</a> и программы <a href="https://portaal.eki.ee/component/content/article/101-projektid/4239-2023-01-16-07-26-32.html">Государственного центра вспомогательных услуг (Riigi Tugiteenuste Keskus) (24.01.2022 - 31.10.2023)</a>. 
          </p>
          <p>Техническую поддержу осуществляет OÜ TripleDev.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
</body>
</html>
