<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Sõnaveeb - Portaalist</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: wcag-sidebar"></th:block>
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <th:block th:replace="common-app :: header(withSearch = ${false})"></th:block>
  <div class="container ">
    <div class="row learn-container">
      <aside class="col-12 col-md-4 " role="navigation" id="sidebar">
        <div class="sticky-side-nav">
          <div th:replace="common-app :: important-links-menu"></div>
          <ul class="mt-4 list-unstyled">
            <li>
              <a href="#portaalist">Portaalist</a>
            </li>
            <li>
              <a href="#kuidas">Kuidas viidata</a>
            </li>
            <li>
              <a href="#ven">Keele ja sõnakogu valik</a>
            </li>
            <li>
              <a href="#det">Keeleõppija Sõnaveeb</a>
            </li>
            <li>
              <a href="#sam">Sama kujuga sõnad</a>
            </li>
            <li>
              <a href="#uue">Uued sõnad ja tähendused</a>
            </li>
            <li>
              <a href="#osselgitus">ÕSi selgitused</a>
            </li>
            <li>
              <a href="#son">Sünonüümid</a>
            </li>
            <li>
              <a href="#par">Päritolu</a>
            </li>
            <li>
              <a href="#haa">Hääldus</a>
            </li>
            <li>
              <a href="#dik">Dikteeri!</a>
            </li>
            <li>
              <a href="#sonavorm">Sõnavormid</a>
            </li>
            <li>
              <a href="#sonaseos">Sõna seosed</a>
            </li>
            <li>
              <a href="#uhe">Ühendid</a>
            </li>
            <li>
              <a href="#tahendused">Tähendused</a>
            </li>
            <li>
              <a href="#tahendussuhe">Tähendussuhted</a>
            </li>
            <li>
              <a href="#naaber">Naabersõnad</a>
            </li>
            <li>
              <a href="#rekts">Rektsioon ehk sõltumine</a>
            </li>
            <li>
              <a href="#naite">Näitelaused</a>
            </li>
            <li>
              <a href="#veeb">Veebilaused</a>
            </li>
            <li>
              <a href="#eri">Õpetaja tööriistad</a>
            </li>
            <li>
              <a href="#pilt">Piltsõnastik</a>
            </li>
            <li>
              <a href="#keeletund">Kuidas keeletunnis kasutada</a>
            </li>
            <li>
              <a href="#autor">Autoriõigused</a>
            </li>
            <li>
              <a href="#ver">Uued versioonid</a>
            </li>
            </ul>
        </div>

      </aside>
      <div id="main" role="main" class="col-12 col-md-8 learn-content">
        <div class="pb-4">
          <h3 class="mt-4 mb-2 text-left">Portaalist</h3>
          <p>
            <b>Sõnaveeb</b> on Eesti Keele Instituudi keeleportaal, kuhu on koondatud info paljudest sõnakogudest ja andmebaasidest.
            Nõuandeid Sõnaveebi kasutajale vaata ka <a href="https://eki.ee/teatmik/sonaveebi-kasutajale/">EKI teatmikust</a>.
          </p>
          <p>
            <b>Keeleõppija Sõnaveeb</b> on mõeldud eesti keele õppijale (A2 ja B1 keeleoskustasemel). Siin on umbes 6000 sõna.
          </p>
          <p>
            <b>EKI ühendsõnastik</b> [The EKI Combined Dictionary, CombiDic] on Eesti Keele Instituudi sõnaraamat, mida koostatakse, toimetatakse ja täiendatakse pidevalt.
            EKI ühendsõnastik esitab eeskätt üldkeele infot. Siia lisanduvad uued sõnad ja tähendused, ÕSi selgitused, sünonüümid, teiste keelte vasted.
            Ühendsõnastiku tuumiku moodustavad 2019. aastal Sõnaveebis ilmunud Eesti Keele Instituudi üldkeele sõnakogud: “Eesti keele
            sõnaraamat 2019”, “Eesti keele naabersõnad 2019”, “Eesti keele põhisõnavara sõnastik 2019” (1. trükk 2014),
            “Eesti-vene sõnaraamat 2019” (1. trükk 1997–2009) ja “Eesti Keele Instituudi eesti keele morfoloogiline andmebaas 2019–”. Ühendsõnastikku on alates
            2020. aastast täiendatud "Õigekeelsussõnaraamatu ÕS 2018" infoga. Pidevalt on infot lisandunud ka "Eesti keele seletavast sõnaraamatust" (2009, 1. trükk 1988–2007)
            ja "Võõrsõnade leksikonist" (2012, veebis 2015).
           <br>
            <b>Tähelepanu! Kuni järgmise ÕSi ilmumiseni määravad kirjakeele normi ÕSi uusim versioon ehk ÕS 2018 ja Emakeele Seltsi keeletoimkonna otsused.</b>
            Järgmine ÕS ilmub 2025. aastal trükitud raamatuna ja selle veebiversioonina EKI veebilehel.
          </p>
          <p>
            Ühendsõnastiku versioon arhiveeritakse kord aastas (versiooni näitab aastaarv).
          </p>
          <p>
            <b>Oskussõnastikud.</b> 2025. a seisuga on Sõnaveebis kokku rohkem kui 135 oskussõnastikku ja terminibaasi.
            Alates 2019. aastast korraldab Eesti terminitööd Eesti Keele Instituut.
          </p>
           <p>
             EKI terminibaasi Esterm versioon arhiveeritakse kord aastas (versiooni näitab aastaarv).
          </p>
          <p>
            <b>Ekilex</b> on Eesti Keele Instituudi hallatav ja arendatav sõnastiku- ja terminibaas. See on leksikograafide ja terminoloogide
            profitööriist, mida kasutavad nii EKI enda kui ka majavälised sõnakogude koostajad ja toimetajad. Ekilexis olevat infot kuvatakse kasutajale Sõnaveebis:
            üldkeeleinfot esitab EKI ühendsõnastik, oskuskeele infot oskussõnastikud.
          <br><b>NB!</b> <a href="https://ekilex.ee">Ekilexi</a> andmekogude tüüplitsents on
          <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>, mis tähendab, et materjal on <b>vabalt kasutatav</b>.
          Nõutav on vaid viitamine ja teie tehtud muutuste kirjeldamine. Sõnakogude sisu saate alla laadida, kui loote Ekilexis konto,
          taotlete API kasutamiseks vajalikku võtit ja <a href="https://github.com/keeleinstituut/ekilex/wiki/Ekilex-API">tutvute API võimalustega</a>.
          </p>
          <p>
            Sõnaveebiga on seotud “Eesti keele veebilausete korpus 2020”. Sellest korpusest päritakse veebilauseid korpuspäringusüsteemi
            <a href="https://korp.keeleressursid.ee/#?lang=et&stats_reduce=word&cqp=%5B%5D">KORP</a>
            <a href="https://github.com/spraakbanken/korp-backend/">API</a>
            kaudu.
          </p>
          <p>
            Portaali arendamist on rahastatud Haridus- ja Teadusministeeriumi <a href="https://www.hm.ee/et/tegevused/digipoore">digipöörde programmi</a>
            projektist "Eesti-vene-eesti sõnastikukeskkond" (2017–2019),
            <a href="https://www.ria.ee/et/struktuuritoetused/2014-2020/avalikud-teenused.html">avalike teenuste pakkumise arendamise
              meetme</a> projektist <a href="http://portaal.eki.ee/keeleteaduse-ja-tehnoloogia-osakond/2981-eki-ria-teavitus.html">"Sõnastiku-
            ja terminibaasisüsteemi Ekilex väliskasutajaliidesed ja API"</a> (2014–2020) ja <a href="https://rtk.ee/">Riigi Tugiteenuste Keskuse</a> meetmest <a href="https://portaal.eki.ee/component/content/article/101-projektid/4239-2023-01-16-07-26-32.html">2014-2020.12.3 Avalike teenuste pakkumise arendamine</a> (24.01.2022 - 31.10.2023).
          </p>
          <p>
            Sõnastikusüsteemi Ekilex arendamist on rahastatud <a href="http://adm.archimedes.ee/str/toetuse-edenemine/periood-2014-2020/projektid/astra-projektid/#EKI">ASTRA meetme</a>
            projektist <a href="http://portaal.eki.ee/keeleteaduse-ja-tehnoloogia-osakond/1920-eki-astra-teavitus.html">"Sõnastiku- ja
            terminibaasisüsteemi EELex2 loomine ning Eesti Keele Instituudi teadlaste mobiilsuse toetamine, välisteadlastekaasamine ja
            doktorikooli jätkamine"</a> ja projektist "Sõnastiku- ja terminibaasisüsteemi Ekilex väliskasutajaliidesed ja API“.
            Ekilexi ekspertide liidese ja API arendust ning sõnastike importi on toetatud projektist „Sõnastiku- ja terminibaasisüsteemi
            Ekilex väliskasutajaliidesed ja API“ (2014–2020).
          </p>
          <p>Arendaja OÜ TripleDev.</p>
          <h5 id="kuidas" class="highlighted">Kuidas viidata</h5>
          <p>
            <b>Portaalile viitamine:</b>
          </p>
          <p>
            Sõnaveeb <span th:text="${yearToday}">AASTAARV</span>. EKI keeleportaal. Eesti Keele Instituut. https://sonaveeb.ee/.. [= veebilink] (PP.KK.AAAA)
          </p>
          <p>
            <b>Sõnakogule viitamine:</b>
          </p>
          <p>
            EKI ühendsõnastik <span th:text="${yearToday}">AASTAARV</span>. Eesti Keele Instituut, Sõnaveeb <span th:text="${yearToday}">AASTAARV</span>. https://sonaveeb.ee/.. [= veebilink] (PP.KK.AAAA)
          </p>
          <p>
            [Oskussõnastiku või terminibaasi nimetus]. Eesti Keele Instituut, Sõnaveeb <span th:text="${yearToday}">AASTAARV</span>. https://sonaveeb.ee/.. [= veebilink] (PP.KK.AAAA)
          </p>
          <p>
            <b>Sõnale või väljendile viitamine:</b>
          </p>
          <p>
            sõna või väljend. EKI ühendsõnastik <span th:text="${yearToday}">AASTAARV</span>. Eesti Keele Instituut, Sõnaveeb <span th:text="${yearToday}">AASTAARV</span>. https://sonaveeb.ee/.. [= veebilink] (PP.KK.AAAA)
          </p>
          <p>
            sõna või väljend. [Oskussõnastiku või terminibaasi nimetus]. Eesti Keele Instituut, Sõnaveeb <span th:text="${yearToday}">AASTAARV</span>. https://sonaveeb.ee/.. [= veebilink] (PP.KK.AAAA)
          </p>      
          <h5 id="ees" class="highlighted">Keele ja sõnakogu valik</h5>
          <p>Vaikimisi on Sõnaveebis valitud kõik keeled ja kõik sõnakogud. Valikut saab kitsendada nii keelte kui ka sõnakogude kaupa.<br>
          </p>
          <h5 id="det" class="highlighted">Keeleõppija Sõnaveeb</h5>
          <p>Keeleõppija Sõnaveebis on umbes 6000 sõna, mida on seletatud lihtsas keeles ning mis aitavad nii algajal kui edasijõudnud keeleõppijal
            (eeskätt A2 ja B1 keeleoskustase) eesti keeles õigesti rääkida ja kirjutada. Need sõnad on seletatud lihtsas keeles ja on
            varustatud näitelausetega. Näited näitavad, kuidas sõna lauses kasutatakse ning aitavad sõna tähendusest aru saada. Tähenduse paremaks mõistmiseks on mõnede sõnade juurde lisatud pildid.
            Sõnaveebi avalehel saab kasutaja valida, kas ta eelistab näha põhjalikumat infot (Sõnaveeb) või lihtsamalt ja lühemalt esitatud infot (Keeleõppija Sõnaveeb).
            Kui Keeleõppija Sõnaveebi valikus küsitud sõna puudub, suunatakse kasutaja Sõnaveebi info juurde.</p>
           <p>Keeleõppijat abistavad:</p>
          <ul class="dotted-list">
            <li>
              õppekommentaarid: näiteks sõna <i>sada</i> juures on kommentaar “Kui on tegemist arvudega üle tuhande, kasuta sõna sada asemel <i>ükssada</i>, näiteks <i>viis tuhat ükssada</i>. Kasuta
              sõna <i>ükssada</i> ka siis, kui ametlikus dokumendis on vaja sõnadega märkida täpne rahasumma.”
            </li>
            <li>
              suhtlusväljendid: näiteks sõna <i>isu</i> juures on suhtlusväljend <i>Head isu!</i>
            </li>
            <li>
              liitsõnad, mida saab otsitud sõna abil moodustada: sõna <i>linn</i> juures on liitsõnad <i>kesklinn, kodulinn, pealinn, südalinn, vanalinn, äärelinn; linnaosa</i> ja <i>linnapea</i>
            </li>
            <li>
              info sarnassõnade kohta: näiteks <i>ehitus</i> ära aja segi <i>ehitis</i>; <i>õieti</i> ära aja segi <i>õigesti</i>
            </li>
          </ul>
          <p>
            Naabersõnade eesmärk on aidata edasijõudnud keeleõppijat ja muuta tema keelekasutus sarnaseks emakeelse kõneleja omaga.
            Näiteks sõna <i>päike</i> juures on esitatud sõnapaarid ere <i>päike, päike paistab</i> ja <i>päikest nautima</i>. Kui õppida uut keelt nö tükkidena, on keeleõppijal lihtsam selles keeles loomulikult ja ladusalt
            rääkida ning kirjutada.
          </p>
          <h5 id="sam" class="highlighted">Sama kujuga sõnad ehk homonüümid</h5>
          <p>
            Eesti keeles on umbes 1000 sõna, mille kirjakuju langeb kokku mõne teise sõnaga, aga mille tähendus on täiesti erinev. Sellised sõnad on homonüümid. Näiteks: <i>palk</i> ‘töötasu’ ja <i>palk</i>
            ‘langetatud puu’; <i>tee</i> ‘sõidutee’ ja <i>tee</i> ‘jook’; <i>pits</i> ‘võrkkudum’, <i>pits</i> ‘väike napsiklaas’ ja <i>pits</i> ‘piibuvarre osa’.
          </p>
          <p>Valdav osa homonüümidest on väga lühikesed sõnad, nad on aja jooksul kulunud lühemaks. Sõnaveebis kuvatakse sama kujuga
            sõnad eraldi sakkidena.</p>
          <h5 id="uue" class="highlighted">Uued sõnad ja tähendused</h5>
          <p>Igal aastal lisandub EKI ühendsõnastikku rohkem kui 1500 uut sõna ja väljendit.</p>
          <p>Uute sõnade hulgas on mitmeid uudiskeelendeid ehk neologisme – sõnu ja ühendeid, mis on hiljuti kasutusse tulnud ning tähistavad
            uusi nähtusi, tegevusi ja asju. Uusi sõnu ja tähendusi tähistab märgend UUS, selle juures on ära märgitud ka nende sõnastikku lisamise aasta,
            nt <i>rohestamine</i> UUS (2020), <i>kobarkäkk</i> UUS (2021), <i>kübersõdur</i> UUS (2022), <i>palgateadlikkus</i> UUS (2023).
            Sõnastikku lisandub ka uusi laiema levikuga kõnekeelseid sõnu, näiteks <i>salfa</i> (‘salvrätik’), <i>ökoemme</i>,
            <i>välkar</i> ‘välismaalane’, samuti sõnu, mis on keeles ammu olemas, ent pole varem sõnaraamatuis esinenud.</p>
          <p>Pärisnimesid kirjeldatakse samamoodi nagu mis tahes muid sõnu:
            tuuakse välja nende sisu, kirjakuju, muutmisviis, kasutuskontekst, paralleelvorm(id) jm keelekasutaja jaoks oluline info.
            Võõrnimede puhul on ära toodud ka nende hääldus.</p>
          <p>Uute lisandunud tähenduste puhul on hakatud olemasolevat sõna kasutama uues tähenduses harilikult mingi sarnasuse alusel
            või on võõrsõna tähendus teise keele mõjul avardunud.
          </p>
          <h5 id="osselgitus" class="highlighted">ÕSi selgitused</h5>
          <p>
            Alates 2019. aastast on täiendatud EKI ühendsõnastikku õigekeelsussõnaraamatu ÕS 2018 infoga. Rubriigis „ÕS selgitab“ on esitatud
            selgitused ja soovitused, mis aitavad keelekasutajal teha teadlikke keelelisi valikuid.
            ÕSi selgitusi täiendatakse uute andmete ilmnemisel ja uurimistulemuste järgi pidevalt (lisatud on kuupäev).
            <b>Tähelepanu!</b> Kirjakeele normi alus kuni uue ÕSi ilmumiseni on ÕS 2018 ja Emakeele Seltsi keeletoimkonna otsused.
            Järgmine "Eesti õigekeelsussõnaraamat ÕS 2025" on kirjakeele normi alus alates 1. jaanuarist 2026.
            ÕS 2025 ilmub paberil, veebis avaldatakse sellele vastav võrguversioon.
            </p>
          <p>
            <b>EKI ühendsõnastik</b> on ÕSi ja kirjakeele normiga kooskõlas.
          </p>
          <p>
            ÕSis on nii normingud kui ka selgitused.
          </p>
          <p>
            <b>ÕSi normingud</b> käivad sõnade kirjakuju (ortograafia) ja muutevormide (morfoloogia) kohta, neid käsitleb vastavalt esildistele Emakeele Seltsi keeletoimkond.
          </p>
          <p>
            <b>ÕSi selgitused</b> käivad sõnavaliku, tähenduste ja rektsiooni kohta, neid käsitlevad eeskätt EKI ühendsõnastiku ja ÕSi koostajad.
          </p>
          <p>
            EKI ühendsõnastiku ja ÕS 2025 infot täiendab <a href="http://193.40.33.167/teatmik/">EKI teatmik. Eesti õigekeelsuskäsiraamat</a>.
            Oskuskeele infot saab vaadata Sõnaveebi koondunud terminibaasidest.
          </p>
          <h5 id="son" class="highlighted">Sünonüümid</h5>
          <p>Sünonüümid on tähenduse poolest sarnased, ent kujult üksteisest erinevad sõnad. EKI ühendsõnastikus on sünonüümid näidatud
            tähenduse juures ning järjestatud seose tugevuse alusel.
            </p>
            <p>
            <b>Sünonüümid</b> on sõnad, mille tähenduse seletus on täpselt sama, nt <i>hingetoit</i> on sama mis <i>vaimutoit</i>, <i>karu</i> on sama mis <i>pruunkaru</i>.
            <b>Sarnase tähendusega</b> on sõnad, mille tähendused erinevad mingi asjaolu poolest. Need on lähisünonüümid ehk osasünonüümid,
             nt <i>rõõmu</i> lähisünonüümid on <i>rõõmutunne</i>, <i>heameel</i>, <i>meelehea</i> jt.
          </p>
          <h5 id="par" class="highlighted">Päritolu</h5>
          <p>EKI ühendsõnastikus esitatakse infot sõnade ja vahel ka väljendite päritolu kohta. Sõna päritolu on kirjeldatud umbes 20 000 sõna juures. Päritoluinfo pärineb “Eesti keele sõnaraamatust
            2019”. Sõna päritoluinfo on koostanud Udo Uibo.</p>
          <p>Sõnade päritolu selgitus võib olla erinev. Kõigepealt on esile toodud päritolu liik: põlissõna, laensõna, kõlasõna, nimi, tootenimi, tõlkelaen, pooltõlkelaen, kirjakeele sõna või
            tehissõna. Seejärel on vajaduse järgi esitatud muud infot: vasted teistes keeltes, levik sugulaskeeltes, tehissõna autor ja loomise aeg.</p>
          <p>
            <span class="highlighted">Põlissõna.</span>
            Need on vanemad sõnad, mille kohta pole teada, et nad oleksid laenatud, aga ka sellised eesti sõnavara ürgseimasse kihti kuuluvad sõnad, millel on küll selge vaste mõnes teises
            keelkonnas (näiteks mesi, muna, tooma, vask, vesi), kuid mille laenulisus pole ikkagi ühemõtteliselt kindel. Põlissõnade puhul on näidatud nende levik sugulaskeeltes ja esitatud
            maksimaalselt kolm näidet. Leviku iseloomustamisel on kasutatud järgmisi kategooriaid (kursiivis on esitatud näiteks olevad sõnad):
          </p>
          <ul class="dotted-list">
            <li>
              uurali sõna (vaste vähemalt ühes samojeedi keeles): <i>ei, elama, kaaren,</i>
            </li>
            <li>
              soome-ugri sõna (vaste vähemalt ühes ugri keeles): <i>kolm, kuru, köis,</i>
            </li>
            <li>
              läänemeresoome-permi sõna (vaste vähemalt ühes permi keeles): <i>jäse, kaas, amb,</i>
            </li>
            <li>
              läänemeresoome-volga sõna (vaste mari keeles): <i>jahvatama, haab, ihuma,</i>
            </li>
            <li>
              läänemeresoome-mordva sõna (vaste mordva keeltes): <i>inimene, istuma, aher,</i>
            </li>
            <li>
              läänemeresoome-saami sõna (vaste saami keeltes): <i>hiilgama, hõbe, ilves,</i>
            </li>
            <li>
              läänemeresoome sõna (levinud mitmes läänemeresoome keeles, kusjuures vaste on olemas nii vepsa kui ka liivi keeles): <i>matma, habras, jäme,</i>
            </li>
            <li>
              piiratud levikuga läänemeresoome sõna (levinud mitmes läänemeresoome keeles): <i>helmes, hirm, hulkuma,</i>
            </li>
            <li>
              läänemeresoome lõunarühma sõna (levinud eesti, liivi ja vadja keeles): <i>kudrutama, matma, niiske,</i>
            </li>
            <li>
              eesti-soome sõna: <i>eblakas, edenema, puju,</i>
            </li>
            <li>
              eesti-liivi sõna: <i>hullama, käi, maru,</i>
            </li>
            <li>
              eesti-vadja sõna: <i>jõhvikas, otsus, vaatama</i>.
            </li>
          </ul>
          <p>
            <span class="highlighted">Laensõna.</span>
            Need on sõnad, mis on laenatud teistest keeltest. Märgitud on laenuallikas või laenuallikad, uuemate laenude puhul enamasti konkreetne keel (nt alamsaksa, saksa, vene, soome), vanemate
            puhul keelerühm (nt aarja, balti, germaani). Kui lähtekeele sõna on omakorda laenatud, on võimaluse korral püütud esitada kogu teekond, kuidas ta on mitmeid keeli läbides eesti keelde
            jõudnud: näiteks <i>koma</i> &lt; saksa <i>Komma</i> 'koma' &lt; ladina <i>comma</i> 'lõige, lõik, tsesuur' &lt; kreeka <i>komma</i> 'löök, lõige, lõik'.
          </p>
          <p>
            <span class="highlighted">Kõlasõna.</span>
            Need on niihästi otsesed kõlajäljendused (onomatopoeetilised sõnad) kui ka nende ülekandelised kasutamisjuhud (nn onomatopoeetilis-deskriptiivsed sõnad). Kui võimalik, on kõlasõnade
            puhul esitatud sugulaskeelte vasteid, näiteks sõnadel <i>helisema, huikama, inisema, kaagutama</i>. Alati pole aga selge, kas sugulaskeeltes on tegemist ühe ja sama iidse sõna vastetega
            või hiljem eri keeltes iseseisvalt tekkinud sõnadega. Niisugustel segastel juhtudel on piirdutud lihtsalt märgendiga <i>kõlasõna</i>, näiteks <i>karsumm, hõkk, hops, joba, jonks,
              hubisema</i>.
          </p>
          <p>
            <span class="highlighted">Nimi ja tootenimi.</span>
            Kui sõna on pärit pärisnimest või tootenimest, siis osutavad seda märgendid <i>nimi</i> ja <i>tootenimi:</i> näiteks <i>kutt</i> pärineb mehenime <i>Gustav</i> familiaarsest lühikujust <i>Kutt,
              kets</i> Ameerika firma US Rubber Company kummitallaga spordijalatsite tootemargist Keds, <i>barbi</i> tootenimest Barbie.
          </p>
          <p>
            <span class="highlighted">Tõlkelaen ja pooltõlkelaen.</span>
            Tõlkelaenud on niisugused liitsõnad ja väljendid, mis on eesti keeles loodud mõne teise keele liitsõna või väljendi tõlkena: inglise <i>chain smoker</i> &gt; eesti <i>ahelsuitsetaja</i>,
            inglise <i>Internet of things</i> &gt; eesti <i>asjade internet</i>. Pooltõlkelaenude puhul on sõna või väljendi üks osa laenatud, teine tõlgitud: saksa <i>Bubikragen</i> &gt; eesti <i>bubikrae</i>,
            vrd saksa <i>Bubi</i> ‘poiss, poisu, poisike’ ja Kragen <i>‘krae’</i>.
          </p>
          <p>
            <span class="highlighted">Kirjakeele sõnad ja tehissõnad.</span>
            Päritolu käsitlus ei ole pelgalt tüvekeskne (nagu „Eesti etümoloogiasõnaraamatus“), vaid võimalust mööda on kaasa haaratud ka tuletisi, liitsõnu ja väljendeid. Suur osa
            selliseid keelendeid on eesti keeles üpris uued, kirjakeele arendamiseks teadlikult loodud. Tuletiste ja väliseeskujuta liitsõnade puhul katab niisuguseid juhtumeid märgend <i>kirjakeele
              sõna: adrik, aheraine</i>. Võimaluse korral on esile toodud ka sõna autor ja loomisaeg: <i>lõigend</i> – Harald Põld 1910, <i>aimekirjandus</i> – Harry Õiglane 1974. Sadakonna kunstlikult
            loodud tüvisõna puhul on kasutatud märgendit tehissõna. Nende puhul on autor ja loomisaeg enamasti teada ja ka esitatud: <i>lünk</i> – Johannes Aavik 1917/1921, <i>etlema</i> – Ain Kaalep
            1969.
          </p>
          <h5 id="haa" class="highlighted">Hääldus</h5>
          <p>
            Võõramate nimede, lühendite ja teistest keeltest tulnud sõnade puhul on sõnadele lisatud hääldus: Ali Baba [alii babaa], <i>alma mater</i> [alma maater], <i>cappuccino</i> [kaputšiino],
            KGB [kaa-gee-bee], TalTech [tal-tehh, tal-tek]. Eesti Keele Instituudi tänapäeva eesti keele sõnastikes on 2012. aastast kasutusel ühtne hääldusmärkide süsteem,
            vaata lähemalt <a href="https://eki.ee/teatmik/haaldusmargid-uhendsonastikus-us/">EKI teatmikus</a>.
          </p>
          <p>Hääldust saab ka kuulata, selleks tuleb klõpsata kõlari märgile. Kuulatavad hääldused on pärit „Võõrsõnade leksikoni“ (2015) veebiversioonist. Häälduse on sisse lugenud
            eesti emakeelega inimesed, kes valdavad vastavat võõrkeelt väga hästi, hääldus on originaalilähedane. Hääldused on Eesti Keele Instituudis salvestatud 2016. aasta lõpus ja 2017. aasta
            alguses.</p>
          <p>
            Kuulata saab ka mõnede muutevormide hääldust, selleks tuleb klõpsata kõlari märgile sõnavormide juures: sõna <i>lill</i> juures saab kuulata vorme <i>lill</i> (nimetav kääne), <i>lille</i>
            (omastav), <i>lille</i> (osastav). Omastava ja osastava vorm erinevad oma välte poolest. Kuulatavad sõnavormide hääldused on pärit „Eesti keele põhisõnavara sõnastiku“ (2014)
            veebiversioonist. Sõnavormide hääldused on Eesti Keele Instituudis salvestatud 2013. aastal. Häälduse lugesid sisse Eva Klemets ja Marju Avamere.
          </p>
          <p>
            Kuulata saab ka näitelausete hääldusi, selleks tuleb klõpsata kõlari märgile eestikeelse näitelause kõrval. Näitelauset loeb arvuti, mitte inimene. Tegemist on Eesti Keele Instituudis
            loodud tehishäälega, mida on kasutatud mitmetes
            <a href="http://www.eki.ee/heli/index.php?option=com_content&view=article&id=5&Itemid=466">kõnesünteesi rakendustes</a>.
          </p>
          <h5 id="dik" class="highlighted">Dikteeri!</h5>
          <p>Otsingusõna või -väljendit saab ka dikteerida. Selleks tuleb sisse lülitada otsingulahtris olev mikrofon ning see pärast dikteerimise lõppemist välja lülitada. Veebibrauser
            saadab reaalajas kõne TTÜ Küberneetika Instituudi serverisse, kus see muudetakse tekstiks ning saadetakse brauserisse tagasi.</p>
          <p>Parima tulemuse saamiseks tuleks dikteerida selge häälega ja mõõdukas tempos (umbes nagu raadiodiktor).</p>
          <p>
            Kõnetuvastuse rakendus on valminud riikliku programmi Eesti Keeletehnoloogia (2011–2017) projekti
            <a href="https://www.keeletehnoloogia.ee/et/ekt-projektid/konetuvastus">Kõnetuvastus</a>
            raames TTÜ Küberneetika Instituudi foneetika ja kõnetehnoloogia laboris. Rakenduse loojad on Tanel Alumäe (serveritarkvara, kõnetuvastus) ja Kaarel Kaljurand (serveriga suhtlev Javascripti
            moodul).
          </p>
          <h5 id="sonavorm" class="highlighted">Sõnavormid</h5>
          <p>Vaikimisi on näha lühivalik, kus on ainult kõige olulisemad muutevormid:</p>
          <ul class="dotted-list">
            <li>
              muutumatul sõnal tema ainus vorm
            </li>
            <li>
              käändsõnal nimetav, omastav, osastav ainsuses ja mitmuses
            </li>
            <li>
              pöördsõnal kindla kõneviisi oleviku ainsuse 3. pööre, <i>ma</i>-tegevusnimi, <i>da</i>-tegevusnimi, <i>tud</i>-kesksõna
            </li>
          </ul>
          <p>Kõiki muutevorme näeb, kui vajutada nuppu "Näita tabelina". Valik "Märkidega" kuvab tabelina sõnavormide häälduskuju</p>
          <p>Kui sõna saab käänata või pöörata mitmel moel (mitme eri muuttüübi järgi), siis näidatakse mitut paradigmat (nt <i>koer</i>,
            <i>kõnelema</i>).</p>
          <p>Keeleõppija Sõnaveebis on samad vormid, kuid lihtsamal (vähendatud) kujul: kuvamata jäävad käändsõna rohked mitmuse rööpvormid,
            mis on kasutusel väheste sõnade puhul.</p>
          <p>Muutevormid on vaikimisi harilikul kirjakujul. Hiirega vormi peale liikudes ilmub nähtavale täpsem info iga vormi kohta:
            vormi täielik nimi ja muutevormi morfonoloogiline kuju.</p>
          <p>Morfoloogiline info täieneb pidevalt. Ühendsõnastiku infot täiendavad üksikasjalikumad selgitused
            <a href="https://eki.ee/teatmik/kaanamine-pooramine/">EKI teatmikus</a>.</p>
          <p>Vene keele muuttüüpide eristamisel on aluseks <a href="https://gramdict.ru" target="_blank">“Vene keele grammatiline sõnaraamat”</a>. Paradigmade genereerimisel on kasutatud andmebaasi
            “Täisparadigma. Morfoloogia. Sagedussõnastik. Ühendsõnastik.” (Hagen, 2020) ja <a href="https://ru.wiktionary.org/wiki/Категория:Шаблоны_словоизменений" target="_blank"> vikisõnastiku vene vormimoodustusmalle</a>.
           </p>
          <h5 id="sonaseos" class="highlighted">Sõna seosed</h5>
          <p>Sõna seostena esitatakse otsitava sõnaga mingil viisil seotud sõnad ja väljendid: võrdlusvorme, tuletisi, sarjasõnu, täiendsõnu ja ühendeid.</p>
          <p>
            <span class="highlighted">Võrdlusvormid.</span>
            Võrdlusvorme näidatakse omadussõnade ja määrsõnade juures (nt <i>punane</i>, <i>kaugel</i>).
          </p>
          <p>
            <span class="highlighted">Tuletised.</span>
            Mõned tuletised on EKI ühendsõnastikus lihtsalt registreeritud, muu kirjeldus puudub. Kirjeldused täienevad pidevalt, aga seni võib infot leida põhisõna juurest.
          </p>
          <p>
            <span class="highlighted">Sarjasõnad.</span>
            Eesti keelele on omased määrsõnadest või sõnaühenditest moodustuvad sarjad, mis mõnikord on kolmikud, mõnikord paarid, nt <i>arvel : arvele : arvelt</i>,
            <i>lahus : lahku</i>, <i>otsa ees : otsa ette : otsa eest</i>. EKI ühendsõnastikus on sellised sarjad seosega seotud.
            Sarjasõnana esinevad kõige sagedamini seisundit või kohta tähistavad määrsõnad või sõnaühendid. Kõik sarjasõnad on kirjeldatud iseseisva sõnana.
          </p>
          <h5 id="uhe" class="highlighted">Ühendid</h5>
          <p>
            Otsitud sõna juures loetletakse ühendid, kus otsitav sõna ühe koostisosana esineb. Näiteks <i>punane</i> juures on ühendid <i>Aafrika punane tee</i>,
            <i>hari läheb punaseks</i>, <i>punane planeet</i> jt. Kõik ühendid on kirjeldatud iseseisva sõnana, neil on oma tähendusjaotus, seletused ja näited.
          </p>
          <span class="highlighted">Ühendina on esitatud:</span>
          <ul class="dotted-list">
            <li>
              ühendverbid: <i>ette trügima, järele kontrollima, kokku arvutama</i>
            </li>
            <li>
              ühendsidesõnad: <i>kui et, nii et, niikaua kui</i>
            </li>
            <li>
              metafoorsed, ekspressiivsed väljendid: <i>ajusid pesema, täispangale minema, vale puu all haukuma</i>
            </li>
            <li>
              idiomaatilised noomeniühendid (ka pärisnime sisaldavad): <i>kirju koer, tarkade kivi, Achilleuse kand, Ameerika mäed, onu Heino</i>
            </li>
            <li>
              väljendverbid: <i>nägu tegema, pahaks panema, silma jääma</i>
            </li>
            <li>
              idiomaatilised püsivõrdlused: <i>nagu kulda, raha nagu ratsahobuse sitta, täis nagu templielevant</i>
            </li>
            <li>
              terminiühendid ja terminilaadsed ühendid: <i>absoluutne kuulmine, erakorraline meditsiin, helkivad ööpilved, Hispaania avang, huvide konflikt</i>
            </li>
            <li>
              keelte nimetused, vaegomadussõnalise täiendiga ühendid: <i>aramea keel, akadi keel, krimmitatari keel, katoliku kirik, luteri usk</i>
            </li>
            <li>
              mitmesõnalised pärisnimed: <i>Vaikne ookean, Ameerika Ühendriigid, Liibüa kõrb</i>
            </li>
            <li>
              isolaadi ehk ainukordse komponendi ja verbi ühendid: <i>luuslanki lööma, peksa saama, plehku pääsema</i>
            </li>
            <li>
              kaassõnalised ühendid: <i>au sees, mitut pidi, ookeani taga, pöidla all, püssi alla</i>
            </li>
            <li>
              lauselised ütlused (ka mõned kõnekäänud ja vanasõnad): <i>mis liig, see liig, näitan, kuidas Luukas õlut teeb, uhkus ajab upakile, vanajumal oli lätlane</i>
            </li>
            <li>
              mitmesugused vormelid ja retoorilised hüüatused: <i>asi nudi, head aega, okas päkka, põrgu päralt, tere tulemast, tohoh tillae</i>
            </li>
          </ul>
          <p>
            Teist tüüpi ühendid on <b>naabersõnad</b> ehk <b>kollokatsioonid</b>. Need on sõnad, mis esinevad keeles sageli koos,
            näiteks sõnapaarid <i>noor inimene, hea inimene, inimene elab, inimene mõtleb</i>.
            Naabersõnad aitavad nii edasijõudnud keeleõppijat kui emakeelset kõnelejat teksti loomisel. Naabersõnade info pärineb sõnakogust “Eesti keele naabersõnad 2019”.
          </p>
          <h5 id="tahendused" class="highlighted">Tähendused</h5>
          <p>EKI ühendsõnastiku eesti keele osa põhineb varasematel sõnaraamatutel: “Eesti kirjakeele seletussõnaraamat” (1988–2007), “Eesti keele seletav sõnaraamat” (2009),
            “Eesti õigekeelsussõnaraamat 2018”, „Eesti keele sõnaraamat 2019“, “Eesti keele naabersõnad” (2019), “Eesti-vene sõnaraamat 2019”, “Võõrsõnade leksikon” (2012).
            Tähendustasandeid on kaks: põhitähendus (numbritega: 1, 2, 3 jne) ja alltähendus (numbritega: 1.1, 1.2 jne).
            Nii põhitähendus kui ka alltähendus võib sisaldada semikooloniga eraldatud väga lähedast, muul viisil raskesti eristatavat osa.
            Ümarsulgudes on kaudsem tähenduse seletus, täpsustus või seletuse osa, mis võib ära jääda.</p>
          <p>Tähendusinfo täieneb pidevalt. Keel muutub, juurde tekib uusi tähendusi, vastavalt sellele muutub ka keelekirjeldus.</p>
          <p>Keeleõppija Sõnaveebis avanevad üksnes õppijale mõeldud lihtsamas sõnastuses põhitähendused.</p>
          <p>
            Tähendused on üldjuhul järjestatud sageduse järgi: esikohal on keeles kõige sagedamini ettetulev tähendus. Alati pole seda põhimõtet rakendatud: mõnd sõna on olnud parem seletada,
            arvestades ajaloolist järgnevust või otsese-ülekantud tähenduste suhet.
          </p>
          <p>
            Rubriigis "Hea teada" on antud mitmesugust, hrl entsüklopeedilist lisainfot.
          </p>
          <h5 id="tahendussuhe" class="highlighted">Tähendussuhted</h5>
          <p>EKI ühendsõnastikus on esitatud valik sõna tähendussuhteid muude sõnadega: sünonüümid, antonüümid (vastandid) ja kaashüponüümid.</p>
          <p>
            <b>Sünonüümid</b> on tähenduse poolest sarnased, ent kujult üksteisest erinevad sõnad, nt <i>hingetoit</i> = <i>vaimutoit</i>.
          </p>
          <p>
            <b>Antonüümid</b> ehk <b>vastandid</b> on vastandlikud teatava tähendusliku tunnusjoone poolest, nt <i>absoluutne</i> vastand on <i>suhteline</i>.
          </p>
          <p>
            <b>Kaashüponüümid</b> on sõnad, mis on ühesuguses suhtes oma ülemmõistega, olles ülemmõiste suhtes samaväärsed alammõisted. Nad on kõrvutatavate eristustunnustega sõnad.
            EKI ühendsõnastikus on nad näidatud selgituse “võrdle” abil: <i>riigimets</i> võrdle <i>eramets</i>.
          </p>
          <h5 id="naaber" class="highlighted">Naabersõnad</h5>
          <p>
            Naabersõnad on sõnad, mis esinevad keeles sageli koos. Igal keelel on eriomaseid sõnade kombinatsioone, mille tundmine on vajalik, et oleks võimalik selles keeles loomulikult ja ladusalt
            rääkida ning kirjutada. Näiteks eesti keeles öeldakse <i>kange kohv</i> ja <i>lahja kohv</i>, mitte <i>tugev kohv</i> või <i>nõrk kohv</i>, aga inglise keeles just <i>strong coffee</i> ja
            <i>weak coffee</i>. Naabersõnade esitamise eesmärk on aidata eelkõige keeleõppijat ja muuta tema keelekasutus sarnaseks emakeelse kõneleja omaga. Naabersõnade info pärineb sõnakogust
            “Eesti keele naabersõnad 2019”.
          </p>
          <p>
            EKI ühendsõnastikus saab naabersõnu vaadata umbes 10 000 sõna juures, mis on välja valitud sageduse alusel. Otsitava sõna juures on naabersõnad rühmitatud sõnaliikide kaupa, vastavalt sellele, kas
            märksõna esineb koos omadussõna, pärisnime, määrsõna, tegusõna, nimisõna või kaassõnaga. Näiteks sõna <i>kohv</i> esineb kõige sagedamini koos omadussõnadega <i>kange, kuum,
              kofeiinivaba</i> jne. Tegusõnadest on esikohal: <i>kohv aurab, (kohv) jahtub, (kohv) ergutab</i>. Nimisõnadest on sagedamad: <i>kohvi joomine, (kohvi) hind, (kohvi) valmistamine</i>.
          </p>
          <p>
            Naabersõnu saab vaadata ka mõnede mitmesõnaliste tegusõnade juures (<i>nt aru saama, alla kirjutama</i>).
          </p>
          <p>
            Iga rühma või rea alguses on antud näidis koos märksõnaga, mis näitab, millises vormis selle rea naabersõnad esinevad. Kui naabersõnade näidis on <i>kohv aurab, jahtub, ergutab,</i> siis
            vastavad naabersõnade paarid on <i>kohv aurab, kohv jahtub, kohv ergutab</i>.
          </p>
          <p>Naabersõnade info on saadud “Eesti keele ühendkorpusest 2013”. Automaatselt loodud sisu on põhjalikult toimetatud ja vigadest puhastatud.</p>
          <p>Naabersõnade kasutamist illustreerivad näitelaused. Üldjuhul on antud vähemalt üks näitelause rühma kohta. Kuna naabersõnu on palju, on näitelaused esialgu peidus, et anda
            sõnapaaridest kiiresti võimalikult terviklik pilt. Kui vajutada kirjale “Kasutusnäited”, avaneb iga rühma all vähemalt üks näitelause.</p>
          <h5 id="rekts" class="highlighted">Rektsioon ehk sõltumine</h5>
          <p>
            Rektsioon näitab, millist grammatilist vormi nõuab mingi sõna teistelt temaga koos erinevatelt sõnadelt. Rektsiooni kirjeldatakse mitmesuguste küsimuste abil,
            nt <i>tutvuma</i> - kellega; <i>usk</i> – kellesse/millesse; <i>viha</i> – kelle/mille vastu; <i>tahe</i> – mida teha.
            On tegusõnu, mille juures saab kasutada ainult osasihitist, nende rektsioon on tähistatud tärniga, nt <i>alahindama</i> - keda/mida*, <i>kallistama</i> - keda*, <i>alustama</i> - mida*, millega, millest.
            Rektsiooni kasutamist keeles näitab näitelause.
          </p>
          <h5 id="naite" class="highlighted">Näitelaused</h5>
          <p>
            Näitelause toetab seletust ja aitab tähendust paremini mõista. Näidete valikul on toetutud eesti keele tekstikorpuste andmetele.
            Koostöös firmaga Lexical Computing Ltd. ja Tartu Ülikooliga uuendatakse Eesti Keele Instituudis eesti keele ühendkorpust iga kahe aasta tagant.
            Näitelaused on valitud võimalikult loomulikud, mõnel määral on näitelauseid sõnaraamatu jaoks kohandatud.
            Pikemaid infoüksusi saab täielikult avada “Näita rohkem” nupu alt.
          </p>
          <p>Keeleõppija Sõnaveebis kuvatakse õppijale mõeldud lühemad ja lihtsamad näitelaused.</p>
          <h5 id="veeb" class="highlighted">Veebilaused</h5>
          <p>
            Lisaks leksikograafi valitud näidetele on võimalik vaadata ka automaatselt valitud veebilauseid. Kuna neid valib arvuti, mitte inimene, ning neid ei ole toimetatud,
            siis võib nende hulka sattuda ebatäpsusi või suisa vigaseid lauseid. Eesti Keele Instituudis arendatakse veebilausete programmi edasi,
            nõnda muutuvad veebilaused edaspidi täpsemaks. Veebilaused on pärit eesti keele õpikutest, erinevatest meedia-, ilukirjandus-
            ja teadustekstidest ning eestikeelsest Vikipeediast. Arvuti pärib neid “Eesti keele veebikorpusest 2020”
            korpuspäringusüsteemi KORP <a href="https://github.com/spraakbanken/korp-backend/">API</a> kaudu.</p>
          <p>
            Veebilaused on valitud spetsiaalse programmi (Good Dictionary Example ehk GDEX) abil, toetudes lause teatud tunnustele. Lause pikkus peab olema 3 kuni 20 sõna, lause ei tohi sisaldada väga
            harva esinevaid sõnu ega väga pikki sõnu jm.
          </p>
          <h5 id="eri" class="highlighted">Õpetaja tööriistad</h5>
          <p>
            Eri keeleoskustasemete sõnavaraloendid on leitavad Sõnaveebi alamlehel “Õpetaja tööriistad”, mis avaneb menüü nupu alt.
            Sõnavaraloendid on koostatud kahele sihtgrupile: noor keeleõppija (keeleoskustasemed eelA1–B1) ja täiskasvanu keeleõppija
            (keeleoskustasemed A1–C1). Sõnavaraloendid on lingitud Sõnaveebiga – nii saab kasutaja kohe tundmatu sõna tähendust järele
            vaadata.
          </p>
          <p>
            Grammatika osa sisaldab noore ja täiskasvanud keeleõppija grammatikapädevuse kirjeldust. Noore keeleõppija grammatikapädevuse kirjeldus on koostatud tasemetele eelA1–B2. Täiskasvanud keeleõppija grammatikapädevuse kirjeldus on koostatud tasemetele A1–C1.
          </p>
          <h5 id="keeletund" class="highlighted">Kuidas keeletunnis kasutada</h5>
          <p>
            Pakume õpetajatele ideid, kuidas kasutada Sõnaveebi (keeleoskustasemed B2–C1) ja Keeleõppija Sõnaveebi (keeleoskustasemed A1–B1 ja üldhariduse I-III kooliaste), et arendada õppijate keelepädevust (sõnavara, grammatikat, õigekirja) ja leksikograafilist pädevust ehk oskust kasutada sõnastikku/keeleportaali.
          </p>
           <h5 id="pilt" class="highlighted">EKI piltsõnastik</h5>
          <p>
           EKI piltsõnastik on mitmekeelne abivahend nii algtasemel kui ka edasijõudnud keeleõppijale. Piltsõnastiku abil saab õppida eesti, inglise, vene, ukraina, saksa ja prantsuse keelt. Sõnastik sisaldab umbes tuhat pilti, mis on jagatud 52 teemasse (nt sõidukid, riietumine, puuviljad ja marjad, sport, kool ja kontor, kaassõnad jpm). Piltsõnastik sobib samuti lastele, kuna sõnu saab lugeda ka trükitähtedega. 
          </p>
          <p>
           Eestikeelne piltsõnastik on ka helindatud, st et kuulata saab kõikide sõnade hääldust. Pildid on varundatud näitelausetega, mida saab lasta sünteeshäälel ette lugeda, ja on lingitud otse Keeleõppija Sõnaveebiga, kust saab vajadusel järele vaadata sõna tähendust, naabersõnu, sünonüüme ja seda, kuidas sõna käänata või pöörata. 
          </p>
          <p>
            Piltsõnastiku autorid on Jelena Kallas ja Kristina Koppel, tehniline teostus Katrin Tsepelina. Võõrkeelsete vastetega on aidanud Olga Kiisla, Ellen Dovgan, Karit Jäärats, Felix Keiser ja Jean Pascal Ollivry. Pildid on meile joonistanud kunstnikud Kristel Karp ja Anni Piits-Jamnik. 
          </p>
          <p><span class="highlighted">Infoüksused</span></p>
          <p>Vaata sõna <i>rõõmus</i> ja leia:</p>
          <ul class="dotted-list">
            <li>Mitu tähendust sellel on?</li>
            <li>Mis on selle sõna sõnaliik?</li>
            <li>Mis on selle sõna kesk- ja ülivõrre?</li>
            <li>Mis on selle sõna sünonüümid/vastandid?</li>
            <li> Milliste teiste sõnadega see sõna sageli koos esineb (naabersõnad)?</li>
          </ul>
          <p>Vaata sõna <i>kurk</i> ja vasta järgmistele küsimustele:</p>
          <ul class="dotted-list">
            <li>Mitut sõna (homonüümi) sõnastik vastuseks pakub?</li>
            <li> Kas need sõnad käänduvad samamoodi?</li>
          </ul>
          <p>Vaata sõna <i>aktiivne</i> ja leia rubriigist “Sõna seosed”, milliseid teisi sõnu saab sellest moodustada (tuletised ja võrdlusastmed).</p>
          <p>Vaata sõna <i>silm</i> ja leia rubriigist “Ühendid”, milliseid väljendeid saab selle sõnaga moodustada. Vali paar väljendit ja vaata, mida nad tähendavad.</p>
          <p><span class="highlighted">Sõnavormid</span></p>
          <p>Kasuta rubriiki ”Sõnavormid” järgmiste ülesannete tegemisel:</p>
          <ul class="dotted-list">
            <li>Moodusta sõna <i>leib</i> nimetava, omastava ja osastava ainsuse vormid. Kontrolli.</li>
            <li>Moodusta puuduv käändevorm (näiteks ainsuse osastav). Näidis: <i>leib, leiva, … → leib, leiva, leiba</i>. Kontrolli.</li>
            <li>Kasuta tegusõna <i>kütma</i> umbisikulise tegumoe vorme järgmistes lausetes: <i>Maja ... (kütma) kamina abil. Augustis maju veel ei ... (kütma).</i> Kontrolli.</li>
          </ul>
          <p><span class="highlighted">Rektsioon</span></p>
          <p>Rektsioon näitab, millist grammatilist vormi nõuab sõna teistelt temaga koos erinevatelt sõnadelt. Rektsiooni näitavad küsimused on välja toodud sõnade tähenduste juures (nt <i>armastama keda-mida, mida teha</i>).</p>
          <p>Pane sulgudes olev sõna õigesse vormi. Näiteks: <i>Vanemad armastavad oma … (lapsed). Matka toimumine sõltub … (ilm).</i> Kontrolli.</p>
          <p>Vali õige tegusõnavorm. Näiteks: <i>Talle meeldib … (tantsima/tantsida). Sa peaksid talt vabandust … (paluma/paluda).</i> Kontrolli.</p>
          <p>Vali õige kaassõna. Näiteks: <i>Tal pole teiste … (vastu/poole) kaastunnet.</i> Kontrolli.</p>
          <p><span class="highlighted">Naabersõnad ja ühendid</span></p>
          <p>Paku omadussõnu, millega sõna <i>üllatus</i> iseloomustada, näiteks <i>suur/meeldiv/ebameeldiv/tore</i>. Vaata võimalikke vastuseid sõnastikust.</p>
          <p>Paku tegusõnu, millega sõna <i>abi</i> kasutatakse, nt <i>abi saama/vajama/paluma</i>. Kontrolli võimalikke vastuseid sõnastikust.</p>
          <p>Vaata sõna <i>majandus</i> naabersõnu. Analüüsi, milline majandus olla võib, mida see ise teeb (<i>kasvab/areneb/langeb</i>) ja mida sellega teha saab (<i>arendama/toetama/mõjutama</i>). Koosta leitud naabersõnadega lauseid.</p>
          <p>Vaata tegusõna <i>minema</i> ja leia näiteid, millal selle tegusõnaga saab väljendada liikumist ja millal seisundi muutust.</p>
          <p><span class="highlighted">“Õpime eesti keelt” alamlehed</span></p>
          <p>Moodusta viie riigi, seal elava rahvuse ja riigis räägitava keele nimetused, näiteks <i>Eesti → eestlane → eesti (keel)</i>. Kontrolli vastuseid, kasutades alamlehe “Maad ja rahvad” tabelit.</p>
          <p>Vaata alamlehelt “Kirjutamine” ametliku kirja vormistust ja võimalikke väljendeid, millega kirja alustada ja lõpetada. Kirjuta kiri näidise alusel.</p>
          <p>Nimeta kolm looma/putukat ... , mida eesti keeles tead. Vaata Sõnaveebi piltsõnastikku. Millised loomad/putukad on seal lisaks sinu nimetatutele?</p>
          <p><span class="highlighted">Aineõpe</span></p>
          <p>Alates 2021. a märtsist on Sõnaveebis kättesaadavad aastatel 2005–2010 välja antud kakskeelsed (eesti-vene-eesti) koolisõnastikud:
            bioloogia, geograafia, inimeseõpetus, füüsika, keemia, kehaline kasvatus, kirjandus, kodundus, kunstiõpetus, käsitöö, muusikaõpetus, töö- ja tehnoloogiaõpetus,
            ühiskonnaõpetus. Kokku 21 000 sõna. Aineõppes saab neid kasutada eestikeelsetes õppetekstides sisalduvate sõnade tähenduste otsimiseks ja vastuste kirjutamiseks.</p>
          <h5 id="autor" class="highlighted">Autoriõigused</h5>
          <p>
            EKI ühendsõnastiku autoriõiguste omanik on Eesti Keele Instituut.<br>
            Autoriõigus: Eesti Keele Instituut 2025
          </p>
          <p>
            EKI terminibaasi Esterm autoriõiguste omanik on Eesti Keele Instituut.<br>
            Autoriõigus: Eesti Keele Instituut 2025
         </p>
         <p>
           Oskussõnastike ja terminibaaside autoriõiguste omanikud on autorid.<br>
           Autoriõigus: autorid
         </p>
         <p>
           Keeleportaali Sõnaveeb autoriõiguste omanik on Eesti Keele Instituut.<br>
           Autoriõigus: Eesti Keele Instituut 2025
         </p>
         <p>Sõnastiku- ja terminibaasisüsteemi Ekilex autoriõiguste omanik on Eesti Keele Instituut.<br>
           Autoriõigus: Eesti Keele Instituut 2025
         </p>
          <h5 id="ver" class="highlighted">Uued versioonid</h5>
          <p>EKI ühendsõnastikku, EKI terminibaasi Esterm ja paljusid oskussõnastikke ja terminibaase täiendatakse ja toimetatakse
            pidevalt, sealhulgas kasutajate tagasiside põhjal.
          </p>
          <p>
            Sõnakogude uued versioonid luuakse ja arhiveeritakse kord aastas. Versiooni märgib aastaarv, millele on lisatud
            versiooni loomise kuupäev, nt EKI ühendsõnastik 2025 (PP.KK.AAAA), EKI terminibaas Esterm 2025 (PP.KK.AAAA).
          </p>
          <p>Keeleportaali Sõnaveeb uus versioon luuakse ja arhiveeritakse kord aastas. Versiooni märgib aastaarv, millele on
            lisatud versiooni loomise kuupäev, nt Sõnaveeb 2025 (PP.KK.AAAA).
          </p>
          <p>
            Iga versioon saab omaette püsiva identifikaatori, mida kasutatakse sellele versioonile viitamisel.
            Kõik versioonid registreeritakse METASHARE’is ja arhiveeritakse Eesti Keeleressursside Keskuses.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
</body>
</html>
