<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links})">
  <title>Kontaktid</title>
  <th:block th:fragment="links">
</th:block>
</head>
<body>
  <div th:replace="common-app :: menu"></div>
  <div class="container-fluid home-page-content">
    <div class="row">
      <div class="col align-self-center main-content-wrapper">
        <div class="row">
          <div class="col-12 mb-1 mb-md-2">
            <span class="icon icon-logo logo-main"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2 mb-md-3 mb-lg-4">
            <p th:text="#{index.title}">Kontakt kontakt kontakt</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <div class="row align-items-center">
              <div class="col-12 p-1 col-sm-6">
                <div th:replace="common-search :: lang-filter"></div>
              </div>
              <div class="col-12 col-sm-6 p-0">
                <div th:replace="common-search :: detail-filter"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="common-app :: footer-content">
  </div>
</body>
</html>