<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Sõnaveeb - About</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body>
  <th:block th:replace="common-app :: wcag-sidebar"></th:block>
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu"></div>
  <div class="container">
    <div class="row learn-container">
      <aside class="col-12 col-md-4" role="navigation" id="sidebar">
        <div class="sticky-side-nav">
          <div th:replace="common-app :: important-links-menu"></div>
          <ul class="mt-4 list-unstyled">
            <li>
              <a href="#portaalist">About</a>
            </li>
            <li>
              <a href="#ees">Estonian data</a>
            </li>
            <li>
              <a href="#ven">Russian data</a>
            </li>
            <li>
              <a href="#det">Learner's Sõnaveeb</a>
            </li>
            <li>
              <a href="#haa">Pronunciation</a>
            </li>
            <li>
              <a href="#dik">Dictate!</a>
            </li>
            <li>
              <a href="#sonavorm">Morphological forms</a>
            </li>
            <li>
              <a href="#naaber">Collocations</a>
            </li>
            <li>
              <a href="#naite">Usage examples</a>
            </li>
            <li>
              <a href="#veeb">Web examples</a>
            </li>
            <li>
              <a href="#sagedus">Frequency</a>
            </li>
            <li>
              <a href="#eri">Vocabulary of different language levels according to language proficiency</a>
            </li>
            <li>
              <a href="#autor">Copyrights</a>
            </li>
            <li>
              <a href="#kuidas">Referencing</a>
            </li>
            <li>
              <a href="#ver">Versioning</a>
            </li>
            </ul>
        </div>
      </aside>
      <div id="main" role="main" class="col-12 col-md-8 learn-content">
        <div class="pb-4">
          <h3 class="mt-4 mb-2 text-left">About</h3>
          <p>
            Sõnaveeb [WordWeb] is the language portal of the Institute of the Estonian Language (EKI) 
            containing the linguistic information from a growing number of dictionaries and databases. 
            The portal was released in February 2019. The information displayed in Sõnaveeb comes from Ekilex, 
            a Dictionary Writing System maintained and developed by the Institute in collaboration with the software company TripleDev. 
            As of February 2022, Ekilex contains about 110 lexical databases: general as well as specialised dictionaries. 
            Databases are constantly updated and edited, including changes that are made upon receiving feedback from users. 
            As of February 2022, the portal contained about 300,000 words and phrases in Estonian, about 220,000 words and phrases in Russian and 116,000 in English. 
            The versions of Sõnaveeb are updated and archived once a year.
          </p>
          <p>
            Since 2020 all information from separate lexical databases is displayed in a unified mode as a single source 
            titled EKI ühendsõnastik [The EKI Combined Dictionary, CombiDic]. The EKI Combined Dictionary displays information from 
            different lexical databases: "The Dictionary of Estonian 2019", "Estonian Collocations Dictionary 2019", "Basic Estonian Dictionary" (2014), 
            "The Estonian Morphological Database of the Institute of the Estonian Language 2022". It displays also information from bilingual 
            lexical databases: "Estonian-Russian orthographic dictionary for students 2018" (1st edition 2011), "Estonian-Russian Dictionary 2018" 
            (1st edition 1997–2009), "The Russian Morphological Database of the Institute of the Estonian Language 2022".
          </p>
          <p>
            In addition to carefully selected usage examples we display web examples from 'The Corpus of Web Examples for Estonian' 
            via the corpus query system KORP API.
          </p>
          <p></p>
          <p>
            The creation and development of the portal was funded by the Digital Focus Program of the Ministry of Education and Research (2018–2021) 
            and by EKI-ASTRA program (2016–2022).
          </p>
          <p>
            The creation of the dictionary and terminology database Ekilex was funded by EKI-ASTRA program (2016–2022).
          </p>
          <p>
            Technical support: OÜ TripleDev.
          </p>
          <p></p>
          <p>
            Copyright: Institute of the Estonian Language
          </p>   
          <h5 id="ees" class="highlighted">Estonian data</h5>
          <p>
            Information about Estonian is displayed when Estonian is selected as the target language. 
            The user can choose between the two modes of information display: Sõnaveeb or Learner's Sõnaveeb.
          </p>
          <p>
            Sõnaveeb displays all available information on the word that you are looking for.
          </p>
          <p>
            Learner's Sõnaveeb shows less information, there are fewer words here, and the information is presented in a simpler way: 
            the explanations are shorter, there is less additional material, fewer additional explanations and comments.            
          </p>
          <h5 id="det" class="highlighted">Learner's Sõnaveeb</h5>
          <p>
            The user can currently choose between two modes of information display: Sõnaveeb (for advanced users) or Learner's Sõnaveeb
            (for language learners). Sõnaveeb is intended primarily for native speakers. It displays all the information on a word that comes 
            from different sources. The advanced mode is a sophisticated view that might require more options for further filtering. 
            The Learner's Sõnaveeb is intended primarily for learners at the A2–B1 proficiency levels. It shows 6,000 basic Estonian words 
            and information is presented in a simpler way: the definitions are shorter, knowledge is organized using controlled 
            vocabulary, there is explicit information about the most frequent morphological forms, etc.
          </p>
          <h5 id="haa" class="highlighted">Pronunciation</h5>
          <p>
            Users can listen to the pronunciation of about 5,000 of the most frequent headwords, as well as their most important 
            inflected forms, and of about 7,000 unadapted loan words. The information on pronunciation has been aggregated from 
            different datasets. In the case of unadapted loan words, we used Estonians who speak foreign languages 
            at high proficiency levels. For the pronunciation of the most frequent words and their inflected forms, we 
            used professional actresses.
          </p>
          <p>
            Users can also listen the usage examples chosen by lexicographers. Text-to-Speech synthesis has been developed by the Institute of the Estonian Language.
          </p>
          <h5 id="dik" class="highlighted">Dictate!</h5>
          <p>
            Speech recognition, developed by the Department of Cybernetics of the Tallinn Technological University, 
            is used when dictating words. Speech recognition operates in real time. For optimum quality, users have to 
            pronounce the search word clearly and steadily.
          </p>
          <h5 id="sonavorm" class="highlighted">Morphological forms</h5>
          <p>
            The information on the morphological forms of Estonian and Russian come from "The EKI Estonian Morphological Database 2022".
          </p>
          <h5 id="naaber" class="highlighted">Collocations</h5>
          <p>
            Collocations are words that are often used together in a language. Each language has special combinations of words, 
            the knowledge of which is essential in order to be able to speak and write in that language naturally and fluently. 
            The purpose of displaying collocations is to help primarily language learners and assist them in using the language similar 
            to that of native speakers. The information on collocations comes from the dictionary database "Estonian Collocations Dictionary 2018".
            The collocations have been semi-automatically selected from the Estonian National Corpus (2013 and 2017).
          </p>
          <h5 id="naite" class="highlighted">Usage examples</h5>
          <p>
            Usage examples have been carefully selected from the Estonian National Corpus (2013, 2017, 2019, 2021) and minimally edited by the lexicographers.
          </p>
          <h5 id="veeb" class="highlighted">Web sentences</h5>
          <p>
            In Sõnaveeb, authentic examples from the corpus are displayed. They have been automatically selected 
            and they have not been edited. The examples are queried from the 'The Corpus of Web Examples for Estonian' 
            via the Corpus Query System KORP <a href="https://github.com/spraakbanken/korp-backend/">API</a>.
          </p>
          <p>
            The examples for Russian are queried from the ruSkELL 1.6 corpus via Sketch Engine JSON API. 
          </p>   
             <h5 id="autor" class="highlighted">Copyrights</h5>
          <p>
            The copyright of 'EKI ühendsõnastik' [Combined Dictionary of Estonian] belongs to Eesti Keele Instituut [Institute of the Estonian Language]<br>
            Copyright: Eesti Keele Instituut 2022
          </p>
          <p>The copyright of 'EKI terminibaas Esterm' belongs to Eesti Keele Instituut [Institute of the Estonian Language]<br>
            Copyright: Eesti Keele Instituut 2022
          </p>
          <p>
            The copyrights of terminological databases belong to the authors<br>
            Copyright: authors
          </p>
          <p>
            The copyright of the language portal Sõnaveeb belongs to Eesti Keele Instituut [Institute of the Estonian Language]<br>
            Copyright: Eesti Keele Instituut 2022
          </p>
          <p>
            The copyright of the dictionary system Ekilex belongs to Eesti Keele Instituut [Institute of the Estonian Language]<br>
            Copyright: Eesti Keele Instituut 2022
          </p>
          <h5 id="kuidas" class="highlighted">Referencing</h5>
          <p>
            A word or a phrase in 'EKI ühendsõnastik 2022' should be referenced as follows:
          </p>
          <p>
            Word or phrase. EKI ühendsõnastik 2022. Eesti Keele Instituut, Sõnaveeb 2022. https://sonaveeb.ee/sõna või väljend (14.2.2021)
          </p>
          <p>
            A word or a phrase in the terminological database should be referenced as follows:
          </p>
          <p>
            Word or phrase. The name of the database. Eesti Keele Instituut, Sõnaveeb 2022. https://sonaveeb.ee/sõna või väljend (14.2.2021)
          </p>
          <h5 id="ver" class="highlighted">Versioning</h5>
          <p>
            The <i>EKI ühendsõnastik</i> [Combined Dictionary of Estonian] and the terminological databases are constantly updated 
            and edited. The new versions of are created and archived once a year and marked by the date.
          </p>
          <p>
            All versions are registered in METASHARE, archived in the Centre of Estonian Language Resources and in Ekilex database.
          </p>
         </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
</body>
</html>
