<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links})">
<title>Sõnaveeb - About</title>
<th:block th:fragment="links">
  <link type="text/css" rel="stylesheet" th:href="@{/view/css/learn.css}" />
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body>
  <th:block th:replace="common-app :: wcag-sidebar"></th:block>
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu"></div>
  <div class="container home-page-content">
    <div class="row learn-container">
      <div class="col-12 col-md-3 nav-placeholder"></div>
      <aside class="col-12 col-md-3" role="navigation" id="sidebar">
        <div th:replace="common-app :: important-links-menu"></div>
        <ul class="mt-4">
          <li>
            <a href="#portaalist">About</a>
          </li>
          <li>
            <a href="#ees">Choosing the language: ESTONIAN->ESTONIAN</a>
          </li>
          <li>
            <a href="#ven">Choosing the language: ESTONIAN->RUSSIAN</a>
          </li>
          <li>
            <a href="#det">Advanced and simple mode</a>
          </li>
          <li>
            <a href="#haa">Pronunciation</a>
          </li>
          <li>
            <a href="#dik">Dictate!</a>
          </li>
          <li>
            <a href="#sonavorm">Morphological forms</a>
          </li>
          <li>
            <a href="#naaber">Collocations</a>
          </li>
          <li>
            <a href="#naite">Usage examples</a>
          </li>
          <li>
            <a href="#veeb">Web sentences</a>
          </li>
          <li>
            <a href="#sagedus">Frequency</a>
          </li>
          <li>
            <a href="#eri">Vocabulary of different language levels according to language proficiency</a>
          </li>
          <li>
            <a href="#autor">Copyright</a>
          </li>
          <li>
            <a href="#kuidas">Referencing</a>
          </li>
          <li>
            <a href="#ver">Versioning</a>
          </li>
          </ul>
      </aside>
      <div id="main" role="main" class="col-12 col-md-9 learn-content">
        <div class="pb-4">
          <h3 class="mt-4 mb-2 text-left">About</h3>
          <p>
            Sõnaveeb [WordWeb] is the new language portal of the Institute of the Estonian Language (EKI) 
            containing the linguistic information from a growing number of dictionaries and databases. 
            The portal was released in February 2019. The information displayed in Sõnaveeb comes from Ekilex, 
            a Dictionary Writing System maintained and developed by the Institute in collaboration with the software company TripleDev. 
            As of May 2019, Ekilex contains over 50 lexical databases: general as well as specialised dictionaries. 
            Databases are constantly updated and edited, including changes that are made upon receiving feedback from users. 
            As of May 2019, the portal contained about 130,000 words and phrases in Estonian and about 70,000 words and phrases in Russian. 
            The versions of Sõnaveeb are updated and archived once a year.
          </p>
          <p>
            Since January 2020 all information from separate databases will be displayed in a unified mode as a single source 
            titled EKI ühendsõnastik [EKI Combined Dictionary]. The combined dictionary for Estonian will display information from 
            different lexical databases: "The Dictionary of Estonian 2019", "Estonian Collocations Dictionary 2019", "Basic Estonian Dictionary" (2014), 
            "The Estonian Morphological Database of the Institute of the Estonian Language 2019". In the near future, we foresee 
            the compilation of prescriptive data, synonyms, Estonian L2 data, neologisms, terminological data etc.
          </p>
          <p>
            The combined dictionary for Russian will display information from different lexical databases: 
            "Estonian-Russian orthographic dictionary for students 2018" (1st edition 2011), "Estonian-Russian Dictionary 2018" 
            (1st edition 1997–2009), "The Russian Morphological Database of the Institute of the Estonian Language 2018". 
            In the near future, we foresee the compilation of new words as well as other bilingual data.
          </p>
          <p>
            In addition to carefully selected usage examples we display web sentences from "The Estonian Corpus for Learners 2018 (etSKELL)" 
            via the corpus query system KORP API.
          </p>
          <p></p>
          <p>
            The creation and development of the portal was funded by the Digital Focus Program of the Ministry of Education and Research (2018–2021) 
            and by EKI-ASTRA program (2016–2022).
          </p>
          <p>
            The creation of the dictionary and terminology database Ekilex was funded by EKI-ASTRA program (2016–2022).
          </p>
          <p>
            Technical support: OÜ TripleDev.
          </p>
          <p></p>
          <p>
            Copyright: Institute of the Estonian Language
          </p>
          <p></p>
          <p>
            A word or a phrase in Sõnaveeb should be referenced as follows:
          </p>
          <p>
            Word or phrase. EKI ühendsõnastik [EKI combined dictionary] 2020. Sõnaveeb 2020 [WordWeb]. 
            https://sonaveeb.ee.ADDRESS (1.1.2020)
          </p>
          <h5 id="ees" class="colored-bold">Choosing the language: ESTONIAN->ESTONIAN</h5>
          <p>
            Information about Estonian is displayed when Estonian is selected as the target language. 
            The user can choose between the two modes of information display: Advanced or Simple.
          </p>
          <p>
            The ADVANCED mode displays all the information on the word that you are looking for that is available in Sõnaveeb.
          </p>
          <p>
            The SIMPLE mode shows less information, there are fewer words here, and the information is presented in a simpler way: 
            the explanations are shorter, there is less additional material, fewer additional explanations and comments. 
            The simple view is intended primarily for learners.
          </p>
          <h5 id="ven" class="colored-bold">Choosing the language: ESTONIAN->ESTONIAN</h5>
          <p>
            Information about Russian is displayed when Russian is selected as the target language. 
            The user can choose between the two modes of information display: Advanced or Simple.
          </p>
          <p>
            The ADVANCED mode displays all the information on the word that you are looking for that is available in Sõnaveeb.
          </p>
          <p>
            The SIMPLE mode shows less information, there are fewer words here, and the information is presented in a simpler way: 
            the explanations are shorter, there is less additional material, fewer additional explanations and comments. 
            The simple view is intended primarily for learners.
          </p>
          <p>
            Attention! The direction RUSSIAN->ESTONIAN is not the 'real' dictionary. The translation equivalents have been 
            automatically collected by the reversion of the Estonian-Russian dictionary.
          </p>
          <h5 id="det" class="colored-bold">Advanced and simple mode</h5>
          <p>
            Modes are used to filter data. The user can currently choose between two modes of information display: advanced or simple. 
            The advanced mode is intended primarily for native speakers. It displays all the information on a word that comes 
            from different sources. The advanced mode is a sophisticated view that might require more options for further filtering. 
            The simple mode is intended primarily for learners at the A2–B1 proficiency levels. It shows 5,000 basic Estonian words 
            and information is presented in a simpler way: the definitions are shorter, knowledge is organized using controlled 
            vocabulary, there is explicit information about the most frequent morphological forms, etc.
          </p>
          <h5 id="haa" class="colored-bold">Pronunciation</h5>
          <p>
            Users can listen to the pronunciation of about 5,000 of the most frequent headwords, as well as their most important 
            inflected forms, and of about 7,000 unadapted loan words. The information on pronunciation has been aggregated from 
            different datasets. In the case of unadapted loan words, we used Estonians who speak foreign languages 
            at high proficiency levels. For the pronunciation of the most frequent words and their inflected forms, we 
            used professional actresses.
          </p>
          <p>
            Users can also listen the usage examples chosen by lexicographers. Text-to-Speech synthesis has been developed by the Institute of the Estonian Language.
          </p>
          <h5 id="dik" class="colored-bold">Dictate!</h5>
          <p>
            Speech recognition, developed by the Department of Cybernetics of the Tallinn Technological University, 
            is used when dictating words. Speech recognition operates in real time. For optimum quality, users have to 
            pronounce the search word clearly and steadily.
          </p>
          <h5 id="sonavorm" class="colored-bold">Morphological forms</h5>
          <p>
            The information on the morphological forms of Estonian comes from "The EKI Estonian Morphological Database 2019".
          </p>
          <p>
            The information on the morphological forms of Russian comes from "The EKI Russian Morphological Database 2019".
          </p>
          <h5 id="naaber" class="colored-bold">Collocations</h5>
          <p>
            Collocations are words that are often used together in a language. Each language has special combinations of words, 
            the knowledge of which is essential in order to be able to speak and write in that language naturally and fluently. 
            The purpose of displaying collocations is to help primarily language learners and assist them in using the language similar 
            to that of native speakers. The information on collocations comes from the dictionary database "Estonian Collocations Dictionary 2018".
            The collocations have been semi-automatically selected from the Estonian National Corpus (2013 and 2017).
          </p>
          <h5 id="naite" class="colored-bold">Usage examples</h5>
          <p>
            Usage examples have been carefully selected from the Estonian National Corpus (2013 and 2017) and minimally edited by the lexicographers.
          </p>
          <h5 id="veeb" class="colored-bold">Web sentences</h5>
          <p>
            In Sõnaveeb, uthentic example sentences from the corpus are displayed. They have been automatically selected 
            and they have not been edited. The example sentences are queried from the Estonian Corpus for Learners 2018 (etSkELL) 
            (250 million words) via the Corpus Query System KORP <a href="https://github.com/spraakbanken/korp-backend/">API</a>.
          </p>
          <p>
            The example sentences for Russian are queried from the ruSkELL 1.6 corpus via Sketch Engine JSON API. 
          </p>
          <h5 id="sagedus" class="colored-bold">Frequency</h5>
          <p>
            20,000 most frequently used words are marked (using stars) according to their frequency class. Frequency information comes from 
            the "Estonian National Corpus 2017".
          </p>
          <h5 id="eri" class="colored-bold">Vocabulary of different language levels according to language proficiency</h5>
          <p>
            Considering the needs of language learners, 13,000 words are classified based on language proficiency levels. 
            The data comes from <a href="http://www.eki.ee/keeletase/#/">etLex</a>, a database of vocabulary of different proficiency levels compiled in the Institute 
            of the Estonian Language.</p>
          <p>
            The Common European Framework of Reference for Languages distinguishes between the following language proficiency levels: 
            basic language user (levels A1, A2), independent language user (levels B1, B2) and proficient language user (levels C1, C2). In Web of Words the general proficiency levels are marked as follows: A (basic user) and B (independent user). The stars marking the frequency class are in different colours.
          </p>
          <h5 id="autor" class="colored-bold">Copyright</h5>
          <p>
            Copyright: Eesti Keele Instituut [Institute of the Estonian Language]
          </p>
          <h5 id="kuidas" class="colored-bold">Referencing</h5>
          <p>
            A word or a phrase in Sõnaveeb should be referenced as follows:
          </p>
          <p>
            Word or phrase. EKI ühendsõnastik [EKI combined dictionary] 2020. Sõnaveeb 2020 [WordWeb]. 
            https://sonaveeb.ee.ADDRESS (1.1.2020)
          </p>
          <h5 id="ver" class="colored-bold">Versioning</h5>
          <p>
            The <i>EKI ühendsõnastik</i> [The EKI Combined Dictionary] is constantly updated and edited. 
            The new versions of Sõnaveeb and <i>EKI ühendsõnastik</i> are created and archived once a year. 
            Each version is marked by a year and has additionally the date of its creation, e.g. EKI ühendsõnastik 2020 (1.1.2020).
          </p>
          <p>
            All versions are registered in METASHARE, archived in the Centre of Estonian Language Resources and in Ekilex database.
          </p>
         </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
</body>
</html>
