<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Sõnaveeb - Sõnakogud</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: header(withSearch = ${false})"></th:block>
  <div class="container">
    <div class="row learn-container">
      <aside class="col-12 col-md-4" role="navigation" id="sidebar">
        <div class="sticky-side-nav">
          <div th:replace="common-app :: important-links-menu"></div>
          <div>
            <ul class="mt-4 list-unstyled">
              <li>
                <a href="#dataset-eki">EKI ühendsõnastik <span th:text="${yearToday}">AASTAARV</span></a>
              </li>
              <th:block th:each="dataset : ${termDatasets}">
                <li>
                  <a th:href="${'#dataset-' + dataset.code}" th:text="${dataset.name}">Sõnakogu nimi</a>
                </li>
              </th:block>
              <li>
                <a href="#wordweb">Sõnaveeb <span th:text="${yearToday}">AASTAARV</span></a>
              </li>
              <li>
                <a href="#ekilex">Ekilex <span th:text="${yearToday}">AASTAARV</span></a>
              </li>
            </ul>
          </div>
        </div>
      </aside>
      <main id="main" tabindex="-1" class="col-12 col-md-8 learn-content">
        <div class="pb-4">
          <h3 class="mt-4 mb-2 text-left">Sõnakogud</h3>
          <br>
          <h5 id="dataset-eki" class="highlighted">EKI ühendsõnastik</h5>
          <p>
            <strong>Bibliograafiline kirje (veebisõnaraamat Sõnaveebis):</strong>
          </p>
          <p>
            <b>EKI ühendsõnastik <span th:text="${yearToday}">AASTAARV</span>.</b> [The EKI Combined Dictionary, CombiDic]<br>
            Koostanud ja toimetanud Langemets, Margit; Hein, Indrek; Jürviste, Madis; Kallas, Jelena; Kiisla, Olga; Koppel, Kristina;
            Kuusk, Külli; Leemets, Tiina; Mäearu, Sirje; Paet, Tiina; Päll, Peeter; Raadik, Maire; Risberg, Lydia; Rehemaa, Tuuli;
            Tiits, Mai; Tsepelina, Katrin; Tuulik, Maria; Uibo, Udo; Valdre, Tiia; Viks, Ülle; Dovgan, Ellen; Näreinen, Hanna;
            Karmo, Juula; Luhakivi, Liisa; Mardisoo, Ingrid; Ossiptšuk, Inna; Sai, Edgar; Smirnova, Alina; Tubin, Valentina; Volkova, Dona<br>
            Eesti Keele Instituut. Sõnaveeb <span th:text="${yearToday}">AASTAARV</span>. https://sonaveeb.ee (PP.KK.AAAA)<br>
          </p>
          <p>
            “EKI ühendsõnastik” sisaldab järgmiste varem ilmunud üldkeele sõnastike infot:<br>
          </p>
          <p>
            Eesti keele sõnaraamat 2019. [The Dictionary of Estonian, DicEst]<br>
            Toimetanud Margit Langemets, Mai Tiits, Udo Uibo, Tiia Valdre, Piret Voll.<br>
            Koostanud Katrin Kuusik, Külli Kuusk, Margit Langemets, Mai Tiits, Udo Uibo, Tiia Valdre, Piret Voll.<br>
            Eesti Keele Instituut. Sõnaveeb 2019. Arhiveeritud Eesti Keeleressursside Keskuses.
          </p>
          <p>
            Eesti keele naabersõnad 2019. [The Estonian Collocations Dictionary, ECD]<br>
            Toimetanud ja koostanud Jelena Kallas, Kristina Koppel, Geda Paulsen, Maria Tuulik.<br>
            Eesti Keele Instituut. Sõnaveeb 2019. Arhiveeritud Eesti Keeleressursside Keskuses.
          </p>
          <p>
            Eesti keele põhisõnavara sõnastik 2019 (1. trükk 2014). [The Basic Estonian Dictionary, BED] 2., kohandatud veebiväljaanne.<br>
            1. trüki toimetanud Jelena Kallas, Mai Tiits ja Maria Tuulik.<br>
            1. trüki koostanud Madis Jürviste, Kristina Koppel ja Maria Tuulik.<br>
            Eesti Keele Instituut. Sõnaveeb 2019. Arhiveeritud Eesti Keeleressursside Keskuses.<br>
            Sõnaraamatu 1. trüki <a href="http://www.eki.ee/dict/psv/">veebiversioon</a>
          </p>
          <p>
            Eesti-vene sõnaraamat 2019. (1. trükk 1997–2009.) 2., täiendatud ja kohandatud veebiväljaanne.<br>
            1. trüki toimetanud Anne Romet, Nelli Melts, Maimu Liiv, Elli Riikoja, Inna Martoja, Savvati Smirnov, Mare Tetsov, Mai Tiits, Tiia Valdre
            ja Enn Veskimägi.<br>
            1. trüki koostanud Jelena Kallas, Helga Laasi, Tiiu Lagle, Helle Leemets, Maimu Liiv, Hele Pärn, Anne Romet, Leeni Simm, Ülle Viks, Asta Õim.<br>
            Uute sõnade osa toimetanud Jelena Kallas, Nelli Melts.<br>
            Uute sõnade osa koostanud Nelli Kotova, Maia Melts, Kristiina Matt, Valentina Tubin.<br>
            Eesti Keele Instituut. Sõnaveeb 2019. Arhiveeritud Eesti Keeleressursside Keskuses.<br>
            Sõnaraamatu 1. trüki <a href="http://portaal.eki.ee/dict/evs/">veebiversioon</a>
          </p>
          <p>
            Eesti Keele Instituudi eesti keele morfoloogiline andmebaas 2019–.<br>
            Koostanud Ülle Viks, Indrek Hein, Katrin Tsepelina.<br>
            Eesti Keele Instituut. Sõnaveeb 2019. Arhiveeritud Eesti Keeleressursside Keskuses.
          </p>
          <p>
            Eesti Keele Instituudi vene keele morfoloogiline andmebaas 2019.<br>
            Arendanud ja toimetanud Indrek Hein, Katrin Tsepelina, Jelena Kallas.<br>
            Eesti Keele Instituut. Sõnaveeb 2019. Arhiveeritud Eesti Keeleressursside Keskuses.
          </p>
          <p>Andmebaas on genereeritud <a href="https://pymorphy2.readthedocs.io/en/latest/misc/citing.html#citing">pymorphy2</a> morfoanalüsaatori abil <a href="http://opencorpora.org/">Open Corpora</a> XML-sõnastiku alusel.
          </p>
          <h5 class="highlighted">Oskussõnastikud ja terminibaasid</h5>
          <th:block th:each="dataset : ${termDatasets}">
            <h6 class="highlighted" th:id="${'dataset-' + dataset.code}">
              <a th:href="|@{/ds}/${dataset.code}|">
                <span th:text="${dataset.name}">Terminibaas</span>
              </a>
            </h6>
            <p style="white-space: pre-wrap;" th:text="${dataset.description}">(info lisandub)</p>
          </th:block>
          <h5 id="wordweb" class="highlighted">Sõnaveeb <span th:text="${yearToday}">AASTAARV</span></h5>
          <p>
            Sõnaveeb on Eesti Keele Instituudi keeleportaal, mis kuvab andmeid Eesti Keele Instituudi sõnastiku- ja 
            terminibaasisüsteemist Ekilex. Sõnaveebi versioon luuakse kord aastas (versiooni näitab aastaarv) ning see 
            registreeritakse METASHARE’is ja arhiveeritakse Eesti Keeleressursside Keskuses.</p>
          <p>
            <strong>Bibliograafiline kirje (EKI keeleportaal Sõnaveeb):</strong>
          </p>
          <p>
            <b>Sõnaveeb <span th:text="${yearToday}">AASTAARV</span>.</b> [The WordWeb] Eesti Keele Instituut. https://sonaveeb.ee (PP.KK.AAAA)<br>
            Arendanud ja toimetanud Arvi Tavast, Indrek Hein, Jelena Kallas, Kristina Koppel, Margit Langemets, Kaur Männiko, 
            Tõnis Nurk, Merily Plado, Mari Vaus, Ülle Viks.<br>
            Arendaja OÜ TripleDev: Martin Laubre, Yogesh Sharma, Hardi Niilo, Henri Kokk.<br>
          </p>
          <p>
            Portaali loomist ja arendamist on rahastanud Haridus- ja Teadusministeeriumi <a href="https://www.hm.ee/et/tegevused/digipoore">digipöörde programmi</a> projektist "Eesti-vene-eesti sõnastikukeskkond" (2017–2019) 
            ja <a href="https://www.ria.ee/et/struktuuritoetused/2014-2020/avalikud-teenused.html">avalike teenuste 
            pakkumise arendamise meetme</a> projektist <a href="http://portaal.eki.ee/keeleteaduse-ja-tehnoloogia-osakond/2981-eki-ria-teavitus.html">"Sõnastiku- 
            ja terminibaasisüsteemi Ekilex väliskasu tajaliidesed ja API"</a> (2014–2020).<br>
          </p>
          <h5 id="ekilex" class="highlighted">Ekilex <span th:text="${yearToday}">AASTAARV</span></h5>
          <p>
            Ekilex on Eesti Keele Instituudi sõnastiku- ja terminibaasisüsteem, mille andmeid kuvatakse keeleportaalis Sõnaveeb. 
            Ekilexi versioon luuakse kord aastas (versiooni näitab aastaarv) ning see registreeritakse METASHARE’is ja 
            arhiveeritakse Eesti Keeleressursside Keskuses.
          </p>
          <p>
            <strong>Bibliograafiline kirje (EKI sõnastiku- ja terminibaasisüsteem Ekilex <span th:text="${yearToday}">AASTAARV</span>):</strong>
          </p>
          <p>
            <b>Ekilex <span th:text="${yearToday}">AASTAARV</span>.</b> [The Ekilex] Eesti Keele Instituut. https://ekilex.eki.ee (PP.KK.AAAA)<br>
            Arendaja Eesti Keele Instituut: Arvi Tavast, Indrek Hein, Kaur Männiko.<br>
            Arendaja OÜ TripleDev: Martin Laubre, Yogesh Sharma, Hardi Niilo, Henri Kokk.
          </p>
          <p>
            Sõnastiku- ja terminibaasisüsteemi Ekilex loomist on rahastanud <a href="http://adm.archimedes.ee/str/toetuse-edenemine/periood-2014-2020/projektid/astra-projektid/#EKI">ASTRA meetme</a> 
            projektist <a href="http://portaal.eki.ee/keeleteaduse-ja-tehnoloogia-osakond/1920-eki-astra-teavitus.html">"Sõnastiku- 
            ja terminibaasisüsteemi EELex2 loomine ning Eesti Keele Instituudi teadlaste mobiilsuse toetamine, 
            välisteadlastekaasamine ja doktorikooli jätkamine"</a> ja projektist "Sõnastiku- ja terminibaasisüsteemi 
            Ekilex väliskasutajaliidesed ja API“. Ekilexi ekspertide liidese ja API arendust ning sõnastike importi on toetatud 
            projektist „Sõnastiku- ja terminibaasisüsteemi Ekilex väliskasutajaliidesed ja API“ (2014–2020).
          </p>
        </div>
      </main>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
</body>
</html>
