<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links})">
<title>Sõnaveeb - Sõnakogud</title>
<th:block th:fragment="links">
  <link type="text/css" rel="stylesheet" th:href="@{/view/css/learn.css}" />
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body>
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu"></div>
  <div class="container home-page-content">
    <div class="row learn-container">
      <aside class="col-12 col-md-3" role="navigation">
        <div th:replace="common-app :: important-links-menu"></div>
      </aside>
      <div id="main" role="main" class="col-12 col-md-9 learn-content">
        <div class="pb-4">
          <h3 class="mt-4 mb-2 text-left">Sõnakogud</h3>
          <br>
          <h5 class="colored-bold">Eesti keele sõnaraamat 2019</h5>
          <p>
            <strong>Bibliograafiline kirje (uus veebisõnaraamat Sõnaveebis):</strong>
          </p>
          <p>Eesti keele sõnaraamat 2019. [The Dictionary of Estonian, DicEst]<br>
          Toimetanud Margit Langemets, Mai Tiits, Udo Uibo, Tiia Valdre, Piret Voll.<br>
          Koostanud Katrin Kuusik, Külli Kuusk, Margit Langemets, Mai Tiits, Udo Uibo, Tiia Valdre, Piret Voll.<br>
          Eesti Keele Instituut. Sõnaveeb 2019. http://www.sonaveeb.ee (14.2.2019)</p>
          <p>
            <i>Sõnaveebis avaneb selle sõnakogu sisu EESTI->EESTI detailses vaates.</i>
          </p>
          <br>
          <h5 class="colored-bold">Eesti keele naabersõnad 2019</h5>
          <p>
            <strong>Bibliograafiline kirje (uus veebisõnaraamat Sõnaveebis):</strong>
          </p>
          <p>Eesti keele naabersõnad 2019. [The Estonian Collocations Dictionary, ECD]<br>
          Toimetanud ja koostanud Jelena Kallas, Kristina Koppel, Geda Paulsen, Maria Tuulik.<br>
          Eesti Keele Instituut. Sõnaveeb 2019. http://www.sonaveeb.ee (14.2.2019)</p>
          <p>
            <i>Sõnaveebis avaneb selle sõnakogu sisu EESTI->EESTI detailses vaates.</i>
          </p>
          <br>
          <h5 class="colored-bold">Eesti keele põhisõnavara sõnastik 2019</h5>
          <p>
            <strong>Bibliograafiline kirje (2. veebiversioon Sõnaveebis):</strong>
          </p>
          <p>Eesti keele põhisõnavara sõnastik 2019 (1. trükk 2014). [The Basic Estonian Dictionary, BED]<br>
          Toimetanud Jelena Kallas, Mai Tiits ja Maria Tuulik.<br>
          Koostanud Madis Jürviste, Kristina Koppel ja Maria Tuulik.<br>
          Eesti Keele Instituut. Sõnaveeb 2019. http://www.sonaveeb.ee (14.2.2019)</p>
          <p>
            <i>Sõnaveebis avaneb selle sõnakogu sisu EESTI->EESTI lihtsas vaates.</i>
          </p>
          <p>
            Sõnaraamatu 1. trüki
            <a href="http://www.eki.ee/dict/psv/">veebiversioon</a>
          </p>
          <br>
          <h5 class="colored-bold">Eesti-vene õpilase ÕS 2019</h5>
          <p>
            <strong>Bibliograafiline kirje (2. veebiversioon Sõnaveebis):</strong>
          </p>
          <p>Eesti-vene õpilase ÕS 2019 (1. trükk 2011). 2., täiendatud ja parandatud veebiväljaanne.<br>
          Toimetanud Helle Leemets ja Tiina Leemets.<br>
          Eesti Keele Instituut. Sõnaveeb 2019. http://www.sonaveeb.ee (14.2.2019)</p>
          <p>
            <i>Sõnaveebis avaneb selle sõnakogu sisu EESTI->VENE lihtsas vaates.</i>
          </p>
          <p>
            Sõnaraamatu 1. trüki
            <a href="http://www.eki.ee/dict/qqv/">veebiversioon</a>
          </p>
          <br>
          <h5 class="colored-bold">Eesti-vene sõnaraamat 2019</h5>
          <p>
            <strong>Bibliograafiline kirje (2. veebiversioon Sõnaveebis):</strong>
          </p>
          <p>Eesti-vene sõnaraamat 2019. (1. trükk 1997–2009.) 2., täiendatud ja parandatud veebiväljaanne.<br>
          Toimetanud Anne Romet, Nelli Melts, Maimu Liiv, Elli Riikoja, Inna Martoja, Savvati Smirnov, Mare Tetsov, Mai Tiits, Tiia Valdre
          ja Enn Veskimägi.<br>
          Koostanud Jelena Kallas, Helga Laasi, Tiiu Lagle, Helle Leemets, Maimu Liiv, Hele Pärn, Anne Romet, Leeni Simm, Ülle Viks, Asta Õim.<br>
          Uute sõnade osa toimetanud Jelena Kallas, Nelli Melts.<br>
          Uute sõnade osa koostanud Nelli Kotova, Maia Melts, Kristiina Matt, Valentina Tubin.<br>
          Eesti Keele Instituut. http://www.sonaveeb.ee (14.2.2019)</p>
          <p>
            <i>Sõnaveebis avaneb selle sõnakogu sisu EESTI->VENE detailses vaates.</i>
          </p>
          <p>
            Sõnaraamatu 1. trüki
            <a href="http://portaal.eki.ee/dict/evs/">veebiversioon</a>
          </p>
          <br>
          <h5 class="colored-bold">EKI eesti keele morfoloogiline andmebaas 2019</h5>
          <p>
            <strong>Bibliograafiline kirje (veebiversioon Sõnaveebis):</strong>
          </p>
          <p>Eesti Keele Instituudi eesti keele morfoloogiline andmebaas 2019.<br>
          Koostanud Ülle Viks, Indrek Hein, Katrin Tsepelina.<br>
          Eesti Keele Instituut. Sõnaveeb 2019. http://www.sonaveeb.ee (14.2.2019)</p>
          <br>
          <h5 class="colored-bold">EKI vene keele morfoloogiline andmebaas 2019</h5>
          <p>
            <strong>Bibliograafiline kirje (veebiversioon Sõnaveebis):</strong>
          </p>
          <p>Eesti Keele Instituudi vene keele morfoloogiline andmebaas 2019.<br>
          Koostanud Ülle Viks, Indrek Hein, Katrin Tsepelina.<br>
          Eesti Keele Instituut. Sõnaveeb 2019. http://www.sonaveeb.ee (14.2.2019)</p>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
</body>
</html>
