<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,pageContext)">
<title th:replace="${title}" th:text="#{general.title}">Sõnaveeb</title>
<!-- Common styles and scripts -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<th:block th:if="${pageContext !='simpleSearch'}">
  <th:block th:replace=" :: favicon"></th:block>
</th:block>
<th:block th:if="${pageContext =='simpleSearch'}">
  <th:block th:replace=" :: faviconSimple"></th:block>
</th:block>
<th:block th:replace=" :: css"></th:block>
<th:block th:replace=" :: js"></th:block>
<!--/* Per-page placeholder for additional links */-->
<th:block th:replace="${links}"></th:block>
<script th:inline="javascript">
	var applicationUrl = /*[[@{/}]]*/'/';
	var sessionTimeoutSec = /*[[${appData == null ? 3600 : appData.sessionTimeoutSec}]]*/3600;
	const feedbackServiceUrl = /*[[${feedbackServiceUrl}]]*/'http://localhost/blah';
	var messages = {
		'this_is_form' : /*[[#{label.word.is.form.of}]]*/'see on ka vorm sõnadest',
		'audio_generation_failure' : /*[[#{label.audio.generation.failure}]]*/'Heli genereerimise teenus hetkel ei toimi, proovige hiljem uuesti.',
		'search_failure' : /*[[#{label.detail.search.failure}]]*/'Detailide päring ebaõnnestus, proovige hiljem uuesti.',
		'feedback_missing_service' : /*[[#{label.feedback.missing.service}]]*/'Tagasiside teenus ei ole seadistatud.'
	}
</script>
<!-- Google Tag Manager -->
<script defer type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TXK9BCXH');</script>
<!-- End Google Tag Manager -->
</head>
<body class="survey-active">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXK9BCXH" height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Default favicon -->
  <th:block th:fragment="favicon">
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">
  </th:block>
  <!-- Simple search favicon -->
  <th:block th:fragment="faviconSimple">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon-light.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32-light.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16-light.png}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon-light.ico}">
  </th:block>
  <!-- Bootstrap core CSS -->
  <th:block th:fragment="css">
    <link rel="stylesheet" th:href="@{/view/css/jquery-ui.min.css}" />
    <link rel="stylesheet" th:href="@{/view/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/view/js/kiosk-board/src/kioskboard.css}" />
    <!-- TODO MV, palun ressurss lae alla-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=apps,cancel,info,keyboard,language,record_voice_over,search,visibility" />
  </th:block>
  <!-- Bootstrap core JS -->
  <th:block th:fragment="js">
    <script type="text/javascript" th:src="@{/view/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/jquery.serializejson.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/simple-lightbox.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/ww-common-app.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/lazysizes.min.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/ww-custom-elements.js}"></script>
    <!--/* script type="text/javascript" th:src="@{/view/js/nps-survey.js}"></script */-->
    <script type="text/javascript" th:src="@{/view/js/kiosk-board/src/kioskboard-custom.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/kioskboard-run.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/eki-components/eki-components.js}" defer></script>
    <script th:inline="javascript">
		const viewPathWordweb = /*[[@{/view}]]*/'/view';
	</script>
  </th:block>
  <!-- menu -->
  <th:block th:fragment="header">
    <th:block th:replace="common-app :: update-msg"></th:block>
    <div class="header" th:classappend="${withSearch == false ? 'header--simple' : ''}">
      <div class="header__content">
        <a
          th:href="${pageContext == 'simpleSearch'} ? @{/lite} : @{/}"
          th:aria-label="#{aria.menu.logo}"
          class="header__logo"
          th:classappend="${pageContext == 'simpleSearch' ? 'header__logo--light' : ''}" th:if="${withLogo ?: true}"></a>
        <div class="header__search" id="language-detail-panel" th:if="${withSearch ?: true}">
          <div th:replace="common-search :: search(pageContext = 'search')"></div>
        </div>
        <a th:href="@{/feelinglucky}" class="header__lucky" th:text="#{button.label.feelinglucky}">
          Ehk mul veab
        </a>
        <th:block th:replace=":: lang-select"></th:block>
        <th:block th:replace=":: navigation"></th:block>
      </div>
    </div>
    <th:block th:replace=":: feedback-form"></th:block>
  </th:block>
  <th:block th:fragment="lang-select">
    <div class="dropdown lang-btn">
      <a href="#" th:aria-label="#{aria.menu.lang}" role="button" class="dropdown-toggle" id="uiLangMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span th:text="#{menu.current.lang}"></span>
      </a>
      <div class="dropdown-menu" data-target="uiLangMenuButton" aria-expanded="true" aria-labelledby="uiLangMenuButton">
        <a role="link" class="dropdown-item" href="?uilang=et">EST</a>
        <a role="link" class="dropdown-item" href="?uilang=ru">RUS</a>
        <a role="link" class="dropdown-item" href="?uilang=en">ENG</a>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="navigation">
    <div class="navigation__dropdown">
      <button
        type="button"
        th:aria-label="#{button.label.menu}"
        class="navigation__trigger"
        id="nav-menu"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-controls="nav-menu-links"
        >
        <span class="navigation__trigger-icon material-symbols-outlined">apps</span>
      </button>
      <div class="navigation__dropdown-menu" id="nav-menu-links" aria-labelledby="nav-menu">
        <a class="navigation__link" th:href="@{/}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/sonaveeb-logo-sm.svg'}" alt="">
          <span th:utext="#{general.title}"></span>
        </a>
        <a class="navigation__link" href="https://eki.ee/teatmik/" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-reference.svg'}" alt="">
          <span th:utext="#{menu.manual}"></span>
        </a>
        <a class="navigation__link navigation__link--disabled" th:href="@{/}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/od.svg'}" alt="">
          <span th:utext="#{menu.grammar.title}"></span>
          <span class="navigation__link-description" th:utext="#{menu.grammar.description}"></span>
        </a>
        <a class="navigation__link" href="https://eki.ee/keeleinfo/sonastikud/" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-dictionaries.svg'}" alt="">
          <span th:utext="#{menu.dictionaries}"></span>
        </a>
        <a class="navigation__link" th:href="@{/lite}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-lite.svg'}" alt="">
          <span th:utext="#{menu.split.lite}"></span>
        </a>
        <a class="navigation__link" th:href="@{/teacher-tools}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-teacher-tools.svg'}" alt="">
          <span th:utext="#{menu.ttools}"></span>
        </a>
        <a class="navigation__link" th:href="@{/pronunciation-exercises}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-spelling.svg'}" alt="">
          <span th:utext="#{menu.pronunciation.exercises}"></span>
        </a>
        <a class="navigation__link" th:href="@{/learn}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-learn.svg'}" alt="">
          <span th:utext="#{menu.learn}"></span>
        </a>
        <a class="navigation__link" th:href="@{/wordgame}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-word-games.svg'}" alt="">
          <span th:utext="#{menu.split.wordgame}"></span>
        </a>
        <a class="navigation__link" th:href="@{/games}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-games.svg'}" alt="">
          <span th:utext="#{menu.split.games}"></span>
        </a>
        <a class="navigation__link" th:href="@{/newwords}" target="_blank">
          <img class="navigation__image" th:src="@{'/view/images/menu-new-words.svg'}" alt="">
          <span th:utext="#{menu.newwords}"></span>
        </a>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="latest-ww-news-article">
    <th:block th:if="${latestWordwebNewsArticle}">
      <eki-toast id="latest-ww-news-toast-container"></eki-toast>
      <script th:inline="javascript">
        $(document).ready(function() {
          const toastContainer = $("#latest-ww-news-toast-container").get(0);
          // The following comment syntax is for thymeleaf to embed variables
          toastContainer.addToast({
            title:/*[[${latestWordwebNewsArticle.title} + ' ' + ${#temporals.format(latestWordwebNewsArticle.created, 'dd.MM.yyyy')}]]*/ "",
            body:/*[[${latestWordwebNewsArticle.contentCut}]]*/ "",
            closeLabel:/*[[#{menu.close}]]*/ "",
            readMoreText: /*[[#{button.read.more}]]*/ "",
            readMoreUrl: /*[[@{/news}]]*/ "",
            id: 'news-toast'
          });
        });
        $('#latest-ww-news-toast-container').on('eki-toast-closed', function(e) {
          if (newsAcceptUrl && e?.originalEvent?.detail?.id === 'news-toast') {
            $.post(newsAcceptUrl).done(function(response) {});
          }
        });
  	  </script>
    </th:block>
  </th:block>
  <!-- WCAG main -->
  <th:block th:fragment="wcag-main">
    <a class="sr-only sr-only-focusable" role="button" href="#main" th:text="#{aria.skip.link}">Põhisisu juurde</a>
  </th:block>
  <!-- WCAG sidebar -->
  <th:block th:fragment="wcag-sidebar">
    <a class="sr-only sr-only-focusable" role="button" href="#sidebar" th:text="#{aria.skip.link.sidebar}">Külgriba juurde</a>
  </th:block>
  <!-- WCAG search -->
  <th:block th:fragment="wcag-search">
    <a class="sr-only sr-only-focusable" role="button" href="#search" th:text="#{aria.skip.link.search}">Põhisisu juurde</a>
  </th:block>
  <!-- debugging aid -->
  <div th:fragment="dump_vars" class="m-4">
    <h4>Dump of all variables in Thymeleaf context</h4>
    <hr />
    <table>
      <tr th:each="var : ${#lists.sort(#vars.getVariableNames())}">
        <td th:text="${var}"></td>
        <td th:text="${#vars.getVariable(var)}"></td>
      </tr>
      <tr>
        <td>param</td>
        <td th:text="${#vars.getVariable('param')}"></td>
      </tr>
      <tr>
        <td>session</td>
        <td th:text="${#vars.getVariable('session')}"></td>
      </tr>
      <tr>
        <td>application</td>
        <td th:text="${#vars.getVariable('application')}"></td>
      </tr>
    </table>
  </div>
  <!-- IE user message -->
  <th:block th:fragment="ie-user">
    <div class="alert-danger-ie" th:if="${session.ieuser}">
      <div class="alert-danger-ie-container">
        <span th:text="#{warning.ieuser}">Bad bad browser, no Cookies for you!!!</span>
      </div>
    </div>
  </th:block>
  <!-- Feedback dialog -->
  <th:block th:fragment="feedback-form">
    <div class="modal fade" id="feedback-modal" tabindex="-1" aria-model="true" role="dialog" aria-hidden="false" aria-describedby="feedback-modal-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content feedback-modal">
          <div class="modal-header feedback-modal__header">
            <h1 class="modal-title" th:text="#{feedback.title}" id="feedback-modal-title">Tagasiside</h1>
            <h1 class="modal-title d-none" th:text="#{feedback.success.title}" id="feedback-modal-success-title">Aitäh</h1>
            <button type="button" class="feedback-modal__close" data-dismiss="modal" th:attr="aria-label=#{menu.close}">
              <span class="fa fa-times" aria-hidden="true"></span>
            </button>
          </div>
          <div id="feedback-data" class="modal-body">
            <div>
              <form id="feedback-form" novalidate>
                <input type="hidden" name="feedbackType" value="sõnaveeb">
                <input type="hidden" name="lastSearch" th:value="${sessionBean == null ? '' : sessionBean.searchWord}">
                <div class="feedback-modal__group">
                  <label for="descriptionInput2" class="col-form-label" th:text="#{label.feedback.description}">Probleemi lühikirjeldus</label>
                  <textarea id="descriptionInput2" class="form-control" name="description" required autocomplete="off" th:placeholder="#{label.feedback.placeholder.description}"></textarea>
                  <div class="invalid-feedback" th:text="#{label.feedback.required.description}">Väli on kohustuslik</div>
                </div>
                <div class="feedback-modal__want-response">
                  <h2 th:text="#{label.feedback.message.heading}">Kui soovid vastust oma probleemile</h2>
                  <p th:text="#{label.feedback.message.content}">Kui sul on küsimus....</p>
                  <div class="feedback-modal__group">
                    <label for="feedback-modal-email" class="col-form-label" th:text="#{label.feedback.email}">E-post</label>
                    <input id="feedback-modal-email" type="email" class="form-control form-email" name="senderEmail" autocomplete="email" th:placeholder="#{label.feedback.placeholder.email}">
                  </div>
                  <div class="feedback-modal__group d-none" id="feedback-modal-checkbox-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="feedback-email-checkbox">
                      <label class="custom-control-label" for="feedback-email-checkbox">
                        <span th:text="#{label.feedback.iagree}">Nõustun</span>
                        <a
                          target="_blank"
                          rel="noreferrer"
                          th:href="@{/regulations}"
                          data-item-name="regulations"
                          th:text="#{label.feedback.withterms}">
                          kasutus- ja privaatsustingimustega
                        </a>
                        <span>&ast;</span>
                      </label>
                      <div class="invalid-feedback" th:text="#{label.feedback.required.field}">Väli on kohustuslik</div>
                    </div>
                  </div>
                  <button id="feedback-submit" type="button" class="feedback-modal__button" name="feedbackSendBtn" th:text="#{button.send}">Saada</button>
                </div>
              </form>
            </div>
          </div>
          <div id="feedback-response" class="modal-body d-none">
            <div class="d-flex flex-column">
              <div id="feedback-error-message" class="alert alert-danger d-none" th:text="#{label.feedback.technical.error}">Tagasiside saatmine ebaõnnestus, proovige hiljem uuesti.</div>
              <p id="feedback-success-message" class="m-0 d-none" th:text="#{label.feedback.success}">Aitäh, saime tagasiside kätte</p>
              <button type="button" class="feedback-modal__button" data-dismiss="modal" th:text="#{menu.close}">Sulge</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <!-- About, Conditions, API, Regulations secondary IMPORTANT LINK MENU -->
  <th:block th:fragment="important-links-menu">
    <ul class="mt-4 list-unstyled">
      <li class="mb-1">
        <a class="font-weight-bold text-uppercase" th:href="@{/about}" data-item-name="about">Portaalist</a>
      </li>
      <li class="mb-1">
        <a class="font-weight-bold text-uppercase" th:href="@{/collections}" data-item-name="collections">Sõnakogud</a>
      </li>
      <li class="mb-1">
        <a class="font-weight-bold text-uppercase" th:href="@{/regulations}" data-item-name="regulations">Kasutus- ja privaatsustingimused</a>
      </li>
    </ul>
  </th:block>
  <!-- Footer -->
  <th:block th:fragment="footer-content" th:with="pageContext=${pageContext}?:''">
    <footer class="footer">
      <div class="footer__grid">
        <div class="footer__column">
          <div class="footer__column-header">
            <a href="https://eki.ee" target="_blank">
              <img class="footer__logo" th:src="@{'/view/images/eki.svg'}" th:alt="#{general.eki}">
            </a>
          </div>
          <div class="d-flex flex-column gap-1">
            <div>Roosikrantsi 6, 10119 Tallinn</div>
            <div th:text="#{label.footer.reg_code('70004011')}">Reg-kood: 70004011</div>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 flex-wrap">
              <span th:text="#{label.contact.tip}"></span>
              <a href="tel:6313731">631 3731</a>
            </div>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 flex-wrap">
              <span th:text="#{label.contact.general}"></span>
              <a href="tel:6177500">617 7500</a>
            </div>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 flex-wrap">
              <span th:text="#{label.feedback.email}"></span>
              <a href="mailto:eki@eki.ee">eki@eki.ee</a>
            </div>
          </div>
          <div class="footer__version" th:text="|${appData.appName} ${appData.appVersion}|" th:if="${appData}"></div>
        </div>
        <div class="footer__column">
          <div class="footer__column-header" th:text="#{general.title}"></div>
          <div class="d-flex flex-column gap-1">
            <a th:href="@{/about}" th:text="#{menu.about}">Portaalist</a>
            <a th:href="@{/collections}" th:text="#{label.filter.dataset}">Sõnakogud</a>
            <a th:href="@{/ekilex-api}" th:text="#{menu.ekilexapi}">Ekilex API</a>
            <a th:href="@{/news}" th:text="#{menu.news}">Versiooniajalugu</a>
            <a th:href="@{/regulations}" th:text="#{label.privacy.terms}">Kasutus- ja privaatsustingimused</a>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__column-header" th:text="#{label.socials.title}"></div>
          <span th:text="#{label.socials.description}"></span>
          <div class="d-flex flex-column gap-1">
            <a
              class="d-flex align-items-center justify-content-center justify-content-md-start gap-2"
              href="https://www.facebook.com/Eesti.Keele.Instituut"
              target="_blank"
              >
              <div class="footer__icon footer__icon--facebook" aria-hidden="true"></div>
              <span th:text="#{label.socials.facebook}">
                Jaga meid sotsiaalmeedias
              </span>
            </a>
            <a
              class="d-flex align-items-center justify-content-center justify-content-md-start gap-2"
              href="https://www.youtube.com/c/EestiKeeleInstituut"
              target="_blank"
            >
              <div class="footer__icon footer__icon--youtube" aria-hidden="true"></div>
              <span th:text="#{label.socials.youtube}">
                Jaga meid sotsiaalmeedias
              </span>
            </a>
            <a
              class="d-flex align-items-center justify-content-center justify-content-md-start gap-2"
              href="https://www.linkedin.com/company/institute-of-the-estonian-language/"
              target="_blank"
            >
              <div class="footer__icon footer__icon--linkedin" aria-hidden="true"></div>
              <span th:text="#{label.socials.linkedin}">
                Jaga meid sotsiaalmeedias
              </span>
            </a>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__column-header" th:text="#{label.footer.feedback.title}"></div>
          <p class="text-body-two m-0" th:text="#{label.footer.feedback.description}"></p>
          <button
            class="footer__feedback-button"
            type="button"
            data-toggle="modal"
            data-target="#feedback-modal"
            th:text="#{label.feedback.placeholder.description}">
            Kirjuta meile
          </button>
        </div>
      </div>
    </footer>
  </th:block>
  <!-- Scroll content top -->
  <th:block th:fragment="content-top">
    <a class="top-button" id="topUp" title="Tagasi päisesse" href="#">
    </a>
  </th:block>
  <th:block th:fragment="update-msg">
  </th:block>
  <th:block th:fragment="update-msg-example">
    <div class="alert   alert-dismissible fade show bg-warning text-black px-3 py-1 d-flex align-items-center update-alert" role="alert">
      <i class="fa fa-exclamation-triangle small mr-2" aria-hidden="true"></i>
      <span th:text="#{warning.underconstruction.everything}">Sõnaveeb uueneb. Uut versiooni tutvustame ... 2021</span>
      <button type="button" class="close btn bg-transparent ml-auto py-1" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </th:block>
  <th:block th:fragment="source-link" th:with="dataContent=${sourceLink.isSourcePublic} ? ${sourceLink.sourceValuePrese} : #{label.source.value.not.public}">
    <button
      type="button"
      class="lang-code text-caption lang-code--unrestricted"
      data-toggle="popover"
      data-html="true"
      th:title="#{label.source}"
      th:data-content="${dataContent}"
      th:unless="${#strings.isEmpty(sourceLink.sourceName)}"
      >
      <span class="text-underlined mr-1" th:utext="${sourceLink.sourceName}"></span>
      <span th:utext="|${sourceLink.sourceLinkName}|" th:unless="${#strings.isEmpty(sourceLink.sourceLinkName)}"></span>
    </button>
  </th:block>
  <th:block th:fragment="survey-banner-large">
    <!--/ Survey banner large /-->
    <div class="survey-banner survey-banner--large">
      <a class="banner-body" href="https://sonaveeb.limesurvey.net/923746?newtest=Y&lang=et">
        <span class="banner-left">
          <span class="header-text">Osale uuringus</span>
          <span class="small-text hide-md">Aita meil muuta Sõnaveeb veelgi kasutajasõbralikumaks!</span>
          <span class="small-text-alt show-md">See võtab 10-15 minutit ja lisaks võid võita tänukingituse!</span>
        </span>
        <span class="banner-right">
          <img th:src="@{'/view/images/banner-right-info.svg'}" alt="banner icons">
        </span>
      </a>
      <button class="close-banner">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </th:block>
  <th:block th:fragment="survey-banner-small">
    <!--/ Survey banner small /-->
    <div class="survey-banner survey-banner--small">
      <a class="banner-body" href="https://sonaveeb.limesurvey.net/923746?newtest=Y&lang=et">
        <span class="banner-left">
          <span class="small-banner-header-text hide-sm">Osale uuringus</span>
          <span class="small-banner-text hide-sm">Ja võid võita tänukingituse!</span>
          <span class="header-text show-sm">Osale uuringus</span>
          <span class="small-text-alt show-sm">See võtab 10-15 minutit ja lisaks võid võita tänukingituse!</span>
        </span>
        <span class="banner-right show-sm">
          <img th:src="@{'/view/images/banner-right-info.svg'}" alt="banner icons">
        </span>
      </a>
      <button class="close-banner">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </th:block>
</body>
</html>
