<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block th:fragment="search" th:with="pageContext=${pageContext}?:''">
    <div class="main-search" th:classappend="${pageContext == 'search' ? 'compact' : ''}">
      <form th:action="@{${searchUri}}" th:method="post" name="searchForm">
        <div>
          <input id="search" type="text" name="searchWord" th:value="${searchWord}"
                 class="main-search-input form-control search-phrase js-kioskboard-input" 
                 th:classappend="${pageContext == 'search' ? 'compact' : ''}"
                 th:placeholder="#{search.placeholder}" role="search"
                 autocapitalize="off" autocomplete="off"
                 data-kioskboard-type="keyboard" data-kioskboard-placement="bottom" data-kioskboard-specialcharacters="true" />
          <input type="hidden" name="destinLangsStr" th:value="${destinLangsStr}" />
          <input type="hidden" name="datasetCodesStr" th:value="${datasetCodesStr}" />
          <input type="hidden" name="selectedWordHomonymNr" />
          <input type="hidden" name="selectedWordLang" />
        </div>
        <div class="main-search-btns">
          <button th:aria-label="#{aria.search.clear}" id="clear-search-btn" type="button" class="clear-btn">
            <span class="material-symbols-outlined" aria-hidden="true">cancel</span>
          </button>
          <div class="keyboard-search">
            <button id="keyboard-search-btn" type="button" class="btn keyboard-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
              <span class="material-symbols-outlined" aria-hidden="true">keyboard</span>
            </button>
            <div id="keyboard-lang-search" class="dropdown dropdown-keyboard-lang" style="display: none;">
              <button type="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle">
                <span data-value="estonia" id="selected-language">ET</span>
                <span class="costom-keyboard-lang-angle-down">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
              <div class="dropdown-menu">
                <button type="button" class="dropdown-item" data-value="estonia">ET</button>
                <button type="button" class="dropdown-item" data-value="russian">RU</button>
                <button type="button" class="dropdown-item" data-value="english">EN</button>
              </div>
            </div>
          </div>
          <button th:aria-label="#{aria.search.search}" id="search-btn" type="submit" class="search-btn">
            <span class="material-symbols-outlined" aria-hidden="true">search</span>
          </button>
        </div>
      </form>
      <form th:action="@{${searchUri}}" th:method="post" id="hiddenSearchForm">
        <input type="hidden" name="searchWord" />
        <input type="hidden" name="selectedWordHomonymNr" />
        <input type="hidden" name="selectedWordLang" />
        <input type="hidden" name="destinLangsStr" th:value="${destinLangsStr}" />
        <input type="hidden" name="datasetCodesStr" th:value="${datasetCodesStr}" />
        <input type="hidden" name="linkedLexemeId" />
      </form>
    </div>
  </th:block>
  <th:block th:fragment="dataset-filter">
    <div class="dropdown search-filter__wrapper" id="dataset-filter-wrapper">
      <button class="dropdown-toggle search-filter__toggle" data-toggle="dropdown" aria-expanded="false" id="dataset-filters-popover">
        <span class="search-filter__toggle-label" th:text="#{label.filter.dataset}">Sõnakogud</span>
        <span class="search-filter__toggle-count" id="dataset-filter-count"></span>
      </button>
      <ul
        class="dropdown-menu search-filter__menu"
        aria-labelledby="dataset-filters-popover"
        th:style="|--search-filter-rows: ${#lists.size(datasetFilter) / 3 + 3}|">
        <th:block th:each="filterElem : ${datasetFilter}">
          <li class="search-filter__item" th:classappend="${filterElem.addSeparator ? 'search-filter__item--full-row' : ''}">
            <input
            type="checkbox"
            th:id="|dataset-input-${filterElem.code}|"
            th:data-filter-code="${filterElem.code}"
            th:name="${filterElem.value}"
            th:checked="${filterElem.selected or datasetFilter[0].selected}" />
            <label th:for="|dataset-input-${filterElem.code}|" th:text="${filterElem.value}">value</label>
          </li>
          <li class="search-filter__divider" th:if="${filterElem.addSeparator}" aria-hidden="true"></li>
        </th:block>
      </ul>
    </div>
  </th:block>
  <th:block th:fragment="lang-filter">
    <div class="dropdown search-filter__wrapper" id="lang-filter-wrapper">
      <button class="dropdown-toggle search-filter__toggle" data-toggle="dropdown" aria-expanded="false" id="lang-filters-popover">
        <span class="search-filter__toggle-label" th:text="#{label.filter.lang}">Keel</span>
        <span class="search-filter__toggle-count" id="lang-filter-count"></span>
      </button>
      <ul
        class="dropdown-menu search-filter__menu search-filter__menu--small"
        aria-labelledby="lang-filters-popover"
        th:style="|--search-filter-rows: ${#lists.size(langFilter) + 1}|">
        <th:block th:each="filterElem : ${langFilter}">
          <li class="search-filter__item" th:classappend="${filterElem.addSeparator ? 'search-filter__item--full-row' : ''}">
            <input
              type="checkbox"
              th:id="|lang-input-${filterElem.code}|"
              th:data-filter-code="${filterElem.code}"
              th:name="${filterElem.value}"
              th:checked="${filterElem.selected or langFilter[0].selected}" />
            <label th:for="|lang-input-${filterElem.code}|" th:text="${filterElem.value}">value</label>
          </li>
          <li class="search-filter__divider" th:if="${filterElem.addSeparator}" aria-hidden="true"></li>
        </th:block>
      </ul>
    </div>
    <div class="search-filter__tags" id="lang-filter-tags"></div>
  </th:block>
  <th:block th:fragment="homonyms">
    <div th:if="${wordsData.resultExists}" th:class="${wordsData.singleResult ? 'd-none' : 'overflow-hidden homonym-panel'}">
      <button type="button" class="homonym-list-toggle d-flex d-md-none" id="homonymListToggleButton">Nupu sisu</button>
      <ul class="homonym-list list-unstyled w-100">
        <li class="homonym-list-item" th:each="word : ${wordsData.wordMatchWords}">
          <form class="h-100">
            <input type="hidden" name="word-id" th:value="${word.wordId}" />
            <input type="hidden" name="word-selected" th:value="${word.selected}" />
            <input type="hidden" name="word-select-url" th:value="@{${@viewUtil.getSearchUri(sessionBean, searchMode, word.value, word.homonymNr, word.lang)}}" />
            <button type="button" th:id="${'word-details-link-' + word.wordId}" class="homonym-item homonym__item">
              <th:block th:with="langData=${@viewUtil.getLangData(word.lang)}">
                <span th:text="${langData.codeIso2}" th:aria-label="|${langData.codeIso2} - ${langData.label}|" th:title="${langData.label}" data-toggle="tooltip" th:unless="${langData.imageName}" class="lang-code text-caption">1</span>
                <img th:src="|@{/view/images}${langData.imageName}|" th:title="${langData.label}" data-toggle="tooltip" th:if="${langData.imageName}" class="lang-code-img">
              </th:block>
              <div class="homonym__body">
                <div class="text-body-two">
                  <span th:utext="${@decorUtil.getWordValueMarkup(word)}">tee</span>
                  <span class="homonym-nr d-none" th:text="${word.homonymNr}">1</span>
                </div>
                <div class="text-caption homonym__text">
                  <span class="homonym__matches" th:utext="${word.meaningWordsWrapup}"></span>
                  <p th:utext="${word.definitionsWrapup}"></p>
                </div>
              </div>
            </button>
          </form>
        </li>
      </ul>
    </div>
  </th:block>
  <th:block th:fragment="word-data">
    <div class="d-flex align-items-center flex-wrap" th:with="title = ${@decorUtil.getWordValueMarkup(wordData.word)}">
      <th:block th:with="langData=${@viewUtil.getLangData(wordData.word.lang)}">
        <span th:text="${langData.codeIso2}" th:aria-label="|${langData.codeIso2} - ${langData.label}|" tabindex="0" th:title="${langData.label}" data-toggle="tooltip" th:unless="${langData.imageName}" class="lang-code text-caption mr-2">1</span>
        <img th:src="|@{/view/images}${langData.imageName}|" th:title="${langData.label}" data-toggle="tooltip" th:if="${langData.imageName}" class="lang-code-img mr-2">
      </th:block>
      <div class="search__lex-title-wrapper">
        <h1 class="search__lex-title" th:utext="${@decorUtil.getWordValueMarkup(wordData.word)}">
          tee
        </h1>
        <button class="search__long-text-tooltip" th:if="${wordData.headwordOverflow}" th:title="${@decorUtil.getWordValueMarkup(wordData.word)}" data-toggle="tooltip" data-html="true" data-placement="bottom">
          <span class="material-symbols-outlined" aria-hidden="true">visibility</span>
        </button>
      </div>
      <span class="word-details-homonym-nr d-none mr-2" th:aria-label="|#{aria.homonym} ${wordData.word.homonymNr}|" th:text="${wordData.word.homonymNr}">1</span>
      <button th:aria-label="|#{aria.listen.human} - ${wordData.word.value}|" class="btn btn-speaker"
              th:if="${wordData.audioFileExists}"
              th:data-audio-url="@{'/files/audio/' + ${wordData.firstAvailableAudioFile}}" onclick="getAndPlayAudio(this)">
        <span class="material-symbols-outlined material-symbols-outlined--small" aria-hidden="true">record_voice_over</span>
      </button>
      <span id="spellingLine" class="mr-2" th:if="${wordData.word.vocalForm != null}" th:text="${wordData.word.vocalForm}"></span>
      <th:block th:each="wordType : ${wordData.word.wordTypes}" th:if="${not #lists.isEmpty(wordData.word.wordTypes)}">
        <span class="lang-code text-caption lang-code--unrestricted mr-2" th:text="${wordType.value}"></span>
      </th:block>
      <span class="lang-code text-caption lang-code--unrestricted mr-2" th:text="${wordData.word.displayMorph.value}" th:if="${wordData.word.displayMorph != null}">lühend</span>
      <span class="lang-code text-caption lang-code--unrestricted mr-2" th:text="${wordData.word.gender.value}" th:if="${wordData.word.gender != null}">sugu</span>
      <th:block th:each="summarisedPos : ${wordData.word.summarisedPoses}" th:if="${not #lists.isEmpty(wordData.word.summarisedPoses)}">
        <span class="lang-code text-caption lang-code--unrestricted mr-2" th:text="${summarisedPos.value}"></span>
      </th:block>
      <th:block th:if="${wordData.word.regYear}">
        <span class="lang-code text-caption lang-code--unrestricted mr-2">
          <span th:text="#{label.word.regyear}"></span>
          <span th:text="${wordData.word.regYear}" class="ml-1"></span>
        </span>
      </th:block>
    </div>
  </th:block>
  <th:block th:fragment="no-lexemes-exist">
    <div class="level-3-panel meaning-panel row d-block" th:if="${!wordData.lexemesExist}">
      <div class="col-12 meaning">
        <span th:text="#{label.word.has.no.description}">Selle sõna kirjeldust veel ei ole</span>
        <span th:if="${not #strings.isEmpty(wordData.word.alternativeWord)}">
          <span th:text="#{label.word.suggest}">Seni vaata</span>
          <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, wordData.word.alternativeWord)}}" th:text="${wordData.word.alternativeWord}"></a>
        </span>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="word-data-accordion">
    <section class="word-panel">
      <button class="word-panel__toggle" data-toggle="collapse" th:data-target="${'#' + panelId}" aria-expanded="true" th:aria-controls="${panelId}">
        <div class="word-panel__toggle-text">
          <i class="fa fa-chevron-down word-panel__toggle-icon"></i> 
          <span th:text="${panelTitle}">EKI ühendsõnastik 2020</span>
        </div>
        <div class="word-panel__modified" th:if="${lastModified != null}">
          <span class="word-panel__modified-prefix" th:text="#{label.tooltip.last_modified}"></span>
          <span th:text="${lastModified}"></span>
        </div>
      </button>
      <div
        class="word-panel__content collapse show"
        th:classappend="|${collapseName != null ? 'user-preferences' : ''}|"
        th:data-name="${collapseName}"
        th:id="${panelId}">
        <th:block th:replace="${panelContent}"></th:block>
      </div>
    </section>
  </th:block>
  <th:block th:fragment="lex-detail-view">
    <h3 class="search__block-title" th:text="#{label.lex.title}">Tähendused ja näited</h3>
    <div th:if="${wordData.rusHeadword}" class="search-alert search-alert--sm search-alert--warning mb-3" role="alert" th:text="#{warning.eki.rus}">
      See ei ole valmis sõnastik.
    </div>
    <section th:each="lexeme : ${wordData.lexLexemes}" class="level-3-panel meaning-panel d-flex flex-row text-body-two mb-2">
      <div th:replace="lex-details :: lexeme-data"></div>
    </section>
    <div th:replace="common-search :: no-lexemes-exist"></div>
  </th:block>
  <th:block th:fragment="lex-detail-view-simple">
    <th:block th:if="${wordData.lexemesExist}">
      <div th:if="${not #lists.isEmpty(wordData.lexLexemes)}">
        <section th:each="lexeme : ${wordData.lexLexemes}" class="level-3-panel meaning-panel d-flex flex-row mb-2">
          <div th:replace="lex-details :: lexeme-data"></div>
        </section>
      </div>
    </th:block>
    <div th:replace="common-search :: no-lexemes-exist"></div>
  </th:block>
  <th:block th:fragment="term-detail-view">
    <th:block th:each="lexeme : ${wordData.termLexemes}" th:with="
    isProTerm = ${@viewUtil.isProTermData(lexeme)},
    isLimTerm = ${@viewUtil.isLimTermData(lexeme)}">
      <div class="search__block" th:id="|lexeme-section-${lexeme.lexemeId}|">
        <th:block th:replace="term-details :: meaning-data"></th:block>
      </div>
    </th:block>
  </th:block>
</body>
</html>
