<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- search -->
  <th:block th:fragment="search" th:with="pageContext=${pageContext}?:''">
    <div class="main-search" th:classappend="${pageContext == 'search' ? 'compact' : ''}">
      <form th:action="@{${searchUri}}" th:method="post" name="searchForm">
        <div>
          <input id="search" type="text" name="searchWord" th:value="${searchWord}"
                 class="main-search-input form-control search-phrase" 
                 th:classappend="${pageContext == 'search' ? 'compact' : ''}"
                 th:placeholder="#{search.placeholder}" role="search" />
          <input type="hidden" name="destinLangsStr" th:value="${destinLangsStr}" />
          <input type="hidden" name="datasetCodesStr" th:value="${datasetCodesStr}" />
          <input type="hidden" name="selectedWordHomonymNr" />
        </div>
        <div class="main-search-btns">
          <button th:aria-label="#{aria.search.clear}" id="clear-search-btn" type="button" class="btn btn-icon clear-btn" style="display: none;">
            <span class="fas fa-times"></span>
          </button>
          <button type="button" id="start-rec-btn" class="btn btn-icon speak-btn" th:title="#{button.label.start.rec}">
            <span class="fas fa-microphone"></span>
          </button>
          <button type="button" th:aria-label="#{aria.search.stoprecord}" id="stop-rec-btn" class="btn btn-icon" hidden th:text="#{button.label.stop.rec}">Finish</button>
          <button th:aria-label="#{aria.search.search}" id="search-btn" type="submit" class="btn btn-success search-btn">
            <span class="fas fa-search"></span>
          </button>
        </div>
      </form>
      <form th:action="@{${searchUri}}" th:method="post" id="hiddenSearchForm">
        <input type="hidden" name="searchWord" />
        <input type="hidden" name="selectedWordHomonymNr" />
        <input type="hidden" name="destinLangsStr" th:value="${destinLangsStr}" />
        <input type="hidden" name="datasetCodesStr" th:value="${datasetCodesStr}" />
        <input type="hidden" name="linkedLexemeId" />
      </form>
    </div>
  </th:block>
  <th:block th:fragment="form-match">
    <div class="mr-4 homonym-innerwrap show-with-details d-flex align-items-center" id="form-words" th:if="${not #lists.isEmpty(wordsData.formMatchWordValues)}">
      <span th:text="#{label.word.form}">see on ka vorm sõnast</span>
      <button class="btn btn-link px-0 ml-1 word-form" th:each="word : ${wordsData.formMatchWordValues}" th:text="${word}" th:data-word="${word}"></button>
    </div>
  </th:block>
  <th:block th:fragment="lang-filter">
    <div class="mr-auto mr-md-2 d-flex align-items-center flex-wrap">
      <label class="mr-2 my-0 p-0" th:text="#{label.filter.lang}">Keel</label>
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle p-0" type="button" id="destinLangMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="selected-langs" th:text="${selectedLangsStr}"></span>
        </button>
        <div class="dropdown-menu px-3" aria-labelledby="destinLangMenuButton">
          <th:block th:each="filterElem : ${langFilter}">
            <a href="#" th:id="${'destin-lang-' + filterElem.code}" class="dropdown-item px-2 py-1 dropdown-item-multiselect"
               th:data-filter-code="${filterElem.code}" 
               th:text="${filterElem.value}" 
               th:classappend="${filterElem.selected ? 'active' : ''}">Keel</a>
            <th:block th:if="${filterElem.addSeparator}">
              <div class="dropdown-divider"></div>
              <div class="text-muted font-italic pl-1" th:text="#{label.pick.some}">vali üks või mitu</div>
            </th:block>
          </th:block>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="homonyms">
    <div th:if="${(wordsData.resultsExist)}" class="row overflow-hidden homonym-panel" th:class="${wordsData.singleResult ? 'd-none border-0' : 'row overflow-hidden homonym-panel'}">
      <button type="button" class="homonym-list-toggle d-flex d-md-none" id="homonymListToggleButton">Nupu sisu</button>
      <ul class="homonym-list list-unstyled w-100">
        <li class="homonym-list-item" th:each="word : ${wordsData.wordMatchWords}">
          <form class="h-100">
            <input type="hidden" name="word-id" th:value="${word.wordId}" />
            <input type="hidden" name="word-selected" th:value="${word.selected}" />
            <input type="hidden" name="word-select-url" th:value="@{${viewUtil.getSearchUri(sessionBean, searchMode, word.word, word.homonymNr)}}" />
            <a href="#" role="button" tabindex="0" th:id="${'word-details-link-' + word.wordId}" class="homonym-item">
              <span class="homonym-item-wrap">
                <span class="homonym-header d-flex align-items-center">
                  <span class="text-muted mr-1 lang-code lang-code-sm" th:with="langData=${viewUtil.getLangData(word.lang)}" th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip">1</span>
                  <span class="homonym-name-container">
                    <span class="homonym-name" th:utext="${viewUtil.getWordValueMarkup(word)}">tee</span>
                  </span>
                  <span class="homonym-nr d-none" th:text="${word.homonymNr}">1</span>
                </span>
                <span class="homonym-matches" th:utext="${word.meaningWordsWrapup}"></span>
                <span class="homonym-intro d-block" th:utext="${word.definitionsWrapup}"></span>
              </span>
            </a>
          </form>
        </li>
      </ul>
    </div>
  </th:block>
  <th:block th:fragment="word-data">
    <div class="col-12 content-title d-flex align-items-center flex-wrap position-relative">
      <h1 class="mb-0 font-weight-bold d-flex align-items-start align-items-lg-center">
        <span class="additional-meta lang-code lang-code-sm mt-2 mt-lg-0" th:with="langData=${viewUtil.getLangData(wordData.word.lang)}" th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip"></span>
        <span class="homonym-name" th:utext="${viewUtil.getWordValueMarkup(wordData.word)}">tee</span>
      </h1>
      <span class="word-details-homonym-nr d-none" th:aria-label="|#{aria.homonym} ${wordData.word.homonymNr}|" th:text="${wordData.word.homonymNr}">1</span>
      <button th:aria-label="|#{aria.listen} - ${wordData.word.word}|" class="btn btn-speaker"
              th:if="${wordData.firstAvailableAudioFile != null}"
              th:data-url-to-audio="@{'/files/audio/' + ${wordData.firstAvailableAudioFile}}" onclick="generateAudioAndPlay(this)">
        <span class="icon icon-speaker"></span>
      </button>
      <span id="spellingLine" class="mr-2" th:if="${wordData.word.vocalForm != null}" th:text="${wordData.word.vocalForm}"></span>
      <th:block th:each="wordType : ${wordData.word.wordTypes}" th:if="${not #lists.isEmpty(wordData.word.wordTypes)}">
        <span class="tag my-1" th:text="${wordType.value}"></span>
      </th:block>
      <span class="tag my-1" th:text="${wordData.word.displayMorph.value}" th:if="${wordData.word.displayMorph != null}">lühend</span>
      <th:block th:each="summarisedPos : ${wordData.word.summarisedPoses}" th:if="${not #lists.isEmpty(wordData.word.summarisedPoses)}">
        <span class="tag my-1" th:text="${summarisedPos.value}"></span>
      </th:block>
      <div th:title="#{label.tooltip.last_modified}" class="ml-auto content-title-date d-none d-md-block" data-toggle="tooltip" th:if="${not #lists.isEmpty(wordData.lexLexemes)}">
        <i class="fa fa-edit"></i>
        <span th:text="${#dates.format(wordData.word.manualEventOn, 'dd.MM.yyyy')}"></span>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="no-lexemes-exist">
    <div class="level-3-panel meaning-panel row d-block" th:if="${!wordData.lexemesExist}">
      <div class="col-12 meaning">
        <span th:text="#{label.word.has.no.description}">Selle sõna kirjeldust veel ei ole</span>
        <span th:if="${not #strings.isEmpty(wordData.word.alternativeWord)}">
          <span th:text="#{label.word.suggest}">Seni vaata</span>
          <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, wordData.word.alternativeWord)}}" th:text="${wordData.word.alternativeWord}"></a>
        </span>
      </div>
    </div>
  </th:block>
</body>
</html>
