<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- search -->
  <th:block th:fragment="search" th:with="pageContext=${pageContext}?:''">
    <div class="main-search" th:classappend="${pageContext == 'search' ? 'compact' : ''}" >
      <form th:action="@{${searchUri}}" th:method="post" name="searchForm">
        <div>
          <input type="text" id="search" role="search" class="main-search-input form-control search-phrase" th:classappend="${pageContext == 'search' ? 'compact' : ''}" name="searchWord" th:value="${searchWord}" th:placeholder="#{search.placeholder}" />
          <input type="hidden" name="destinLangsStr" th:value="${destinLangsStr}" />
          <input type="hidden" name="datasetCodesStr" th:value="${datasetCodesStr}" />
          <input type="hidden" name="selectedWordHomonymNr"/>
        </div>
        <div class="main-search-btns">
          <button th:aria-label="#{aria.search.clear}" id="clear-search-btn" type="button" class="btn btn-icon clear-btn" style="display: none;">
            <span class="fas fa-times"></span>
          </button>
          <button type="button" id="start-rec-btn" class="btn btn-icon speak-btn" th:title="#{button.label.start.rec}">
            <span class="fas fa-microphone"></span>
          </button>
          <button type="button" th:aria-label="#{aria.search.stoprecord}" id="stop-rec-btn" class="btn btn-icon" hidden th:text="#{button.label.stop.rec}">Finish</button>

        <button th:aria-label="#{aria.search.search}" id="search-btn" type="submit" class="btn btn-success search-btn">
          <span class="fas fa-search"></span>
        </button>
        </div>
      </form>
    </div>
  </th:block>
  <th:block th:fragment="form-match">
    <div class="mr-4 homonym-innerwrap show-with-details d-flex align-items-center" id="form-words" th:if="${not #lists.isEmpty(wordsData.formMatchWords)}">
      <span th:text="#{label.word.form}">see on ka vorm sõnast</span>
      <button class="btn btn-link px-0 ml-1 " name="word-form-btn" th:each="word : ${wordsData.formMatchWords}" th:text="${word}" th:data-word="${word}"></button>
    </div>
  </th:block>
  <th:block th:fragment="lang-filter">
    <div class="mr-auto mr-md-2 d-flex align-items-center flex-wrap">
      <label class="mr-2 my-0 p-0" th:text="#{label.filter.lang}">Keel</label>
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle p-0" type="button" id="destinLangMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="selected-langs" th:text="${selectedLangsStr}"></span>
        </button>
        <div class="dropdown-menu px-3" aria-labelledby="destinLangMenuButton">
          <th:block th:each="filterElem : ${langFilter}">
            <a href="#" th:id="${'destin-lang-' + filterElem.code}" th:data-filter-code="${filterElem.code}" th:text="${filterElem.value}"
               class="dropdown-item px-2 py-1 dropdown-item-multiselect" th:classappend="${filterElem.selected ? 'active' : ''}">Keel</a>
            <th:block th:if="${filterElem.addSeparator}">
              <div class="dropdown-divider"></div>
              <div class="text-muted font-italic pl-1" th:text="#{label.pick.some}">vali üks või mitu</div>
            </th:block>
          </th:block>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="homonyms">
    <div th:if="${(wordsData.resultsExist)}" class="row overflow-hidden homonym-panel"
         th:class="${wordsData.singleResult ? 'd-none border-0' : 'row overflow-hidden homonym-panel'}">
      <button type="button" class="homonym-list-toggle d-flex d-md-none" id="homonymListToggleButton">Nupu sisu</button>
      <ul class="homonym-list list-unstyled w-100">
        <li class="homonym-list-item" th:each="word : ${wordsData.fullMatchWords}">
          <form class="h-100">
            <input type="hidden" name="word-id" th:value="${word.wordId}" />
            <input type="hidden" name="word-value" th:value="${word.word}" />
            <input type="hidden" name="word-lang" th:value="${word.lang}" />
            <input type="hidden" name="word-selected" th:value="${word.selected}" />
            <input type="hidden" name="word-select-url" th:value="@{${viewUtil.getSearchUri(sessionBean, searchMode, word.word, word.homonymNr)}}" />
            <a href="#" role="button" tabindex="0" th:id="${'word-details-link-' + word.wordId}" class="homonym-item">
                <span class="homonym-item-wrap">
                  <span class="homonym-header d-flex align-items-center">
                    <span class="text-muted mr-1 lang-code lang-code-sm"
                          th:with="langData=${viewUtil.getLangData(word.lang)}"
                          th:text="${langData.codeIso2}"
                          th:title="${langData.label}">1</span>
                    <span class="homonym-name-container">
                      <span class="homonym-name" th:utext="${viewUtil.getWordValueMarkup(word)}">tee</span>
                    </span>
                    <span class="homonym-nr d-none" th:text="${word.homonymNr}">1</span>
                  </span>
                  <span class="homonym-matches" th:text="${word.meaningWordsWrapup}"></span>
                  <span class="homonym-intro d-block" th:text="${word.definitionsWrapup}"></span>
                </span>
            </a>
          </form>
        </li>
      </ul>
    </div>
  </th:block>
  <th:block th:fragment="word-data">
    <div class="col-12 content-title d-flex align-items-center flex-wrap">
      <span class="additional-meta lang-code" th:with="langData=${viewUtil.getLangData(wordData.word.lang)}" th:text="${langData.codeIso2}" th:title="${langData.label}"></span>
      <h1 class="mb-0 font-weight-bold">
        <span class="homonym-name" th:utext="${viewUtil.getWordValueMarkup(wordData.word)}">tee</span>
      </h1>
      <span class="word-details-homonym-nr d-none" th:aria-label="|#{aria.homonym} ${wordData.word.homonymNr}|" th:text="${wordData.word.homonymNr}">1</span>
      <button th:aria-label="|#{aria.listen} - ${wordData.word.word}|" class="btn btn-speaker" th:if="${wordData.firstAvailableAudioFile != null}"
              th:data-url-to-audio="@{'/files/audio/' + ${wordData.firstAvailableAudioFile}}" onclick="generateAudioAndPlay(this)">
        <span class="icon icon-speaker"></span>
      </button>
      <span id="spellingLine" class="mr-2"
            th:if="${wordData.firstAvailableVocalForm != null}"
            th:text="${'['+wordData.firstAvailableVocalForm+']'}"></span>
      <th:block th:each="wordType : ${wordData.word.wordTypes}" th:if="${not #lists.isEmpty(wordData.word.wordTypes)}">
        <span class="tag my-1" th:text="${wordType.value}"></span>
      </th:block>
      <span class="tag my-1" th:text="${wordData.word.displayMorph.value}" th:if="${wordData.word.displayMorph != null}">lühend</span>
      <th:block th:each="summarisedPos : ${wordData.word.summarisedPoses}" th:if="${not #lists.isEmpty(wordData.word.summarisedPoses)}">
        <span class="tag my-1" th:text="${summarisedPos.value}"></span>
      </th:block>
    </div>
  </th:block>
  <th:block th:fragment="no-lexemes-exist">
    <div class="level-3-panel meaning-panel row d-block" th:if="${!wordData.lexemesExist}">
      <div class="col-12 meaning">
        <span th:text="#{label.word.has.no.description}">Selle sõna kirjeldust veel ei ole</span>
        <span th:if="${not #lists.isEmpty(wordData.word.relatedWords)}">
          <span th:text="#{label.word.suggest}">Seni vaata</span>
          <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, wordData.word.relatedWords.get(0).word)}}" th:text="${wordData.word.relatedWords.get(0).word}"> </a>
        </span>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="lexeme-data">
    <div th:classappend="${lexeme.levels != null && lexeme.levels.length() == 3} ? 'pl-lg-4 pl-3': ''">
      <h6 class="font-weight-bold" th:if="${lexeme.datasetName != null}" th:text="${lexeme.datasetName}">Eesti keele sõnaraamat 2019</h6>
      <div class="d-flex flex-row">
        <th:block th:if="${lexeme.datasetType.name() == 'LEX' && wordData.multipleLexLexemesExist}">
          <strong class="lexeme-level mr-2 definition-value font-weight-bold" th:aria-label="${wordData.word.word}" th:text="${lexeme.levels}"></strong>
        </th:block>
        <div>
          <div class="meaning">
            <div class="definition-row definition-area">
              <div class="mb-3" th:if="${
              (lexeme.datasetType.name() == 'TERM') or
              (not #lists.isEmpty(lexeme.poses) && !wordData.word.singlePos)or
              (not #lists.isEmpty(lexeme.grammars))}">
                <th:block th:if="${lexeme.datasetType.name() == 'TERM'}">
                  <span>ID:</span>
                  <span class="mr-2" th:aria-label="${wordData.word.word}" th:text="${lexeme.meaningId}"></span>
                </th:block>
                <th:block th:if="${not #lists.isEmpty(lexeme.poses) && !wordData.word.singlePos}">
                  <span class="tag" th:each="pos : ${lexeme.poses}" th:text="${pos.value}"></span>
                </th:block>
                <span class="lexeme grammars tag" th:if="${not #lists.isEmpty(lexeme.grammars)}">
                  <span th:each="grammar,grammarIter : ${lexeme.grammars}" th:text="${grammar.value + (grammarIter.last ? '' : ', ')}"></span>
                </span>

              </div>
              <th:block th:if="${not #maps.isEmpty(lexeme.definitionsByLang)}">
                <div class="mb-0 d-flex flex-row" th:each="definitionEntry : ${lexeme.definitionsByLang}">
                  <span class="additional-meta lang-code lang-code-sm mr-2 align-self-start" th:with="langData=${viewUtil.getLangData(definitionEntry.key)}" th:text="${langData.codeIso2}" th:title="${langData.label}"></span>

                  <div class="flex-shrink-1">
                    <span class="domain register mr-1 mb-2" th:each="register,registerIter : ${lexeme.registers}" th:text="${register.value + (registerIter.last ? '' : ', ')}"></span>
                    <span class="domain mr-1 mb-2" th:each="domain,domainIter : ${lexeme.domains}" th:text="${domain.value + (domainIter.last ? '' : ', ')}"></span>
                    <th:block  th:each="definition,definitionIter : ${definitionEntry.value}">
                      <th:block th:if="${!definition.subDataExists}">
                        <span class="definition-value mb-2 mr-1" th:utext="${definition.valuePrese + (definitionIter.last ? '' : '; ')}"></span>
                      </th:block>
                      <th:block th:if="${definition.subDataExists}">
                        <span class="definition-value mb-2 mr-1" th:utext="${definition.valuePrese}"></span>
                        <th:block th:if="${not #lists.isEmpty(definition.publicNotes)}">
                        <span th:each="note : ${definition.publicNotes}">
                          <span class="additional-meta mb-2" th:utext="${note}"></span>
                        </span>
                        </th:block>
                        <th:block th:if="${not #lists.isEmpty(definition.sourceLinks)}">
                          [
                          <th:block th:each="sourceLink,sourceLinkIter : ${definition.sourceLinks}">
                            <button type="button" class="source-link btn btn-link-dark p-0" data-toggle="popover" th:title="#{label.source}" th:attr="data-content=${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                              <span th:utext="${sourceLink.name + ' - '}" th:if="${sourceLink.name != null}"></span>
                              <span th:utext="${sourceLink.value}"></span>
                            </button>
                            <span th:unless="${sourceLinkIter.last}">&nbsp;</span>
                          </th:block>
                          ]
                        </th:block>
                      </th:block>
                    </th:block>
                  </div>


                </div>
              </th:block>
            </div>
            <div class="matches" th:if="${not #maps.isEmpty(lexeme.destinLangMatchWordsByLang)}">
              <div class="additional-meta" >
                <div th:each="meaningWordEntry : ${lexeme.destinLangMatchWordsByLang}">
                  <span class="lang-code lang-code-sm mr-2 align-self-start" th:with="langData=${viewUtil.getLangData(meaningWordEntry.key)}" th:text="${langData.codeIso2}" th:title="${langData.label}"></span>
                  <span th:each="meaningWord,meaningWordIter : ${meaningWordEntry.value}">
                    <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, meaningWord.word, meaningWord.homonymNr)}}"
                       class="matching-word" th:classappend="${meaningWord.wordId == wordId ? 'match' : ''}">
                      <span th:utext="${viewUtil.getWordValueMarkup(meaningWord)}">tee</span>
                    </a>
                    <span th:if="${meaningWord.additionalDataExists}" class="text-small text-uppercase">
                      <span th:if="${meaningWord.aspect != null}" th:text="${meaningWord.aspect.value}" data-toggle="tooltip" data-placement="top" data-html="true"
                        th:title="#{'label.aspect.' + ${meaningWord.aspect.code}}" class="type-three">
                      </span>
                      <span th:if="${meaningWord.mwLexValueState != null}" th:text="${meaningWord.mwLexValueState.value}"></span>
                      <th:block th:if="${not #lists.isEmpty(meaningWord.mwLexGovernments)}">
                        <span class="type-one tag rection" th:each="government,govIter : ${meaningWord.mwLexGovernments}" th:text="${government.value + (govIter.last ? '' : ', ')}"></span>
                      </th:block>
                      <th:block th:if="${not #lists.isEmpty(meaningWord.mwLexRegisters)}">
                        <span class="type-two" th:each="register,regIter : ${meaningWord.mwLexRegisters}" th:text="${register.value + (regIter.last ? '' : ', ')}"></span>
                      </th:block>
                    </span>
                    <span th:unless="${meaningWordIter.last}" class="ml-n1">,</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="meaning-meta" th:if="${not #lists.isEmpty(lexeme.sourceLangMeaningWords)}">
              <div class="synonyms">
                <span class="additional-meta">
                  <span th:text="#{label.same.as}">sama mis</span>
                  <span th:each="meaningWord,meaningWordIter : ${lexeme.sourceLangMeaningWords}">
                    <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, meaningWord.word, meaningWord.homonymNr)}}" class="synonym">
                      <span th:utext="${viewUtil.getWordValueMarkup(meaningWord)}">tee</span>
                    </a>
                    <span th:if="${meaningWord.additionalDataExists}" class="synonym-additional-meta text-uppercase text-small">
                      <th:block th:if="${not #lists.isEmpty(meaningWord.mwLexRegisters)}">
                        <span class="type-two" th:each="register,regIter : ${meaningWord.mwLexRegisters}" th:text="${register.value + (regIter.last ? '' : ', ')}"></span>
                      </th:block>
                    </span>
                    <span th:unless="${meaningWordIter.last}" class="ml-n1">,</span>
                  </span>
                </span>
              </div>
            </div>
            <div class="meaning-meta" th:if="${not #lists.isEmpty(lexeme.odLexemeRecommendations)}">
              <th:block th:each="odLexemeRecommendation : ${lexeme.odLexemeRecommendations}">
                <div>
                  <span class="recommended-usage-label d-block"><i class="fa fa-book mr-1"></i><span class="label-text" th:text="#{label.od.recommend}" >ÕS soovitab</span></span>
                  <span th:utext="${odLexemeRecommendation}"></span>
                </div>
              </th:block>
            </div>
          </div>
          <div class="additional-meta mb-2" th:if="${
          (not #lists.isEmpty(lexeme.relatedLexemes)) or
          (not #lists.isEmpty(lexeme.relatedMeanings)) or
          (not #lists.isEmpty(lexeme.adviceNotes)) or
          (not #lists.isEmpty(lexeme.learnerComments)) or
          (not #lists.isEmpty(lexeme.lexemePublicNotes)) or
          (not #lists.isEmpty(lexeme.meaningPublicNotes)) or
          (not #lists.isEmpty(lexeme.lexemeSourceLinks))}">
            <div class="d-flex" th:if="${not #lists.isEmpty(lexeme.relatedLexemes)}">

              <div th:each="relationType, relationTypeIter : ${lexeme.relatedLexemesByType.keySet()}">
                <span th:text="${relationType.value}"></span>
                <th:block th:each="relation, relationIter : ${lexeme.relatedLexemesByType.get(relationType)}">
                  <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, relation.word, relation.homonymNr)}}"
                     th:utext="${viewUtil.getWordValueMarkup(relation) + (relationIter.last ? '' : ',')}"></a>
                </th:block>
              </div>
            </div>
            <div class="d-flex" th:if="${not #lists.isEmpty(lexeme.relatedMeanings)}">

              <div class="relation-list d-flex flex-row flex-wrap" th:each="relationType, relationTypeIter : ${lexeme.relatedMeaningsByType.keySet()}">
                <span class="mr-2" th:text="${relationType.value}"></span>
                <th:block th:each="relation, relationIter : ${lexeme.relatedMeaningsByType.get(relationType)}">
                  <div class="relation-item mr-1">
                    <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, relation.word, relation.homonymNr)}}">
                      <span th:utext="${viewUtil.getWordValueMarkup(relation)}">tee</span>
                    </a>
                    <th:block th:if="${relation.aspect != null}">
                      <span class="rections" th:text="${'('+relation.aspect.value+')'}"></span>
                    </th:block>
                    <th:block th:each="valueState, vsIter : ${relation.lexValueStates}">
                        <span class="rections ml-n1">
                          <span th:if="${vsIter.first}" class="mr-n1">(</span>
                          <span th:text="${valueState.value}"></span>
                          <span th:unless="${vsIter.last}" class="ml-n1">,</span>
                          <span th:if="${vsIter.last}" class="ml-n1">)</span>
                        </span>
                    </th:block>
                    <th:block th:each="register, rIter : ${relation.lexRegisters}">
                        <span class="rections">
                          <span th:if="${rIter.first}" class="mr-n1">(</span>
                          <span th:text="${register.value}"></span>
                          <span th:unless="${rIter.last}" class="ml-n1">,</span>
                          <span th:if="${rIter.last}" class="ml-n1">)</span>
                        </span>
                    </th:block>
                    <th:block th:each="government, gIter : ${relation.lexGovernmentValues}">
                        <span class="rections">
                          <span th:if="${gIter.first}" class="ml-n1">(</span>
                          <span th:text="${government}"></span>
                          <span th:unless="${gIter.last}" class="ml-n1">,</span>
                          <span th:if="${gIter.last}" class="ml-n1">)</span>
                        </span>
                    </th:block>
                    <span th:unless="${relationIter.last}" class="ml-n1">,</span>
                  </div>
                </th:block>
              </div>
            </div>
            <div class="row" th:if="${not #lists.isEmpty(lexeme.adviceNotes)}">
              <div class="col-3">
                <b th:text="#{label.advice.note}">Keelenõu</b>
              </div>
              <div class="col-9">
                <div th:each="note : ${lexeme.adviceNotes}" th:text="${note}"></div>
              </div>
            </div>
            <div class="row" th:if="${not #lists.isEmpty(lexeme.learnerComments)}">
              <div class="col-6">
                <b th:text="#{label.learner.comment}">Õppekommentaar</b>
              </div>
              <div class="col-12">
                <div th:each="note : ${lexeme.learnerComments}" th:utext="${note}"></div>
              </div>
            </div>
            <div class="row" th:if="${(not #lists.isEmpty(lexeme.lexemePublicNotes)) or (not #lists.isEmpty(lexeme.meaningPublicNotes))}">
              <div class="col-6">
                <b th:text="#{label.public.note}">Hea teada</b>
              </div>
              <div class="col-12">
                <th:block th:if="${not #lists.isEmpty(lexeme.lexemePublicNotes)}">
                  <div th:each="note : ${lexeme.lexemePublicNotes}" th:utext="${note.value}"></div>
                </th:block>
                <th:block th:if="${not #lists.isEmpty(lexeme.meaningPublicNotes)}">
                  <div th:each="note : ${lexeme.meaningPublicNotes}">
                    <span th:utext="${note.value}"></span>
                    <th:block th:if="${not #lists.isEmpty(note.sourceLinks)}">
                      <span th:each="sourceLink : ${note.sourceLinks}">
                        <button type="button" class="source-link btn btn-link-dark p-0" data-toggle="popover" th:title="#{label.source}" th:attr="data-content=${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                          <span th:text="${sourceLink.value}"></span>
                        </button>
                      </span>
                    </th:block>
                  </div>
                </th:block>
              </div>
            </div>
            <div class="row" th:if="${not #lists.isEmpty(lexeme.lexemeSourceLinks)}">
              <div class="col-6">
                <b></b>
              </div>
              <div class="col-12">
                [
                <th:block th:each="sourceLink,sourceLinkIter : ${lexeme.lexemeSourceLinks}">
                  <button class="source-link btn btn-link-dark p-0"  data-toggle="popover" th:title="#{label.source}" th:attr="data-content=${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                    <span th:utext="${sourceLink.name + ' - '}" th:if="${sourceLink.name != null}"></span>
                    <span th:utext="${sourceLink.value}"></span>
                  </button>
                  <span th:unless="${sourceLinkIter.last}">&nbsp;</span>
                </th:block>
                ]
              </div>
            </div>
          </div>
          <div class="dependencies" th:if="${
          (not #lists.isEmpty(lexeme.governments)) or
          (not #lists.isEmpty(lexeme.usages)) or
          (not #lists.isEmpty(lexeme.imageFiles))
          }">
            <div th:if="${not #lists.isEmpty(lexeme.governments)}" class="rekts-est">
              <span class="tag mb-1 d-inline-block" th:each="government,iter : ${lexeme.governments}" th:text="${government.value + (iter.last ? '' : ', ')}"> </span>
            </div>
            <div class="dependence-group" th:if="${not #lists.isEmpty(lexeme.usages)}">
              <th:block th:each="usage,usageIter : ${lexeme.usages}">
                <div class="usage-item"  >
                  <div  class="example-sentence-wrap" >
                    <span class="example-text example-text-w-audio">
                      <span th:utext="${usage.usagePrese}"></span>
                      <button class="btn btn-speaker" th:aria-label="|#{aria.listen} - ${usage.usage}|" th:if="${usage.putOnSpeaker}" th:data-words="${usage.usage}" th:attr="onclick=${usage.putOnSpeaker ? 'generateAudioAndPlay(this)' : ''}">
                        <span class="icon icon-speaker"></span>
                      </button>
                    </span>

                    <th:block th:if="${not #lists.isEmpty(usage.sourceLinks)}">
                      <span class="example-text" th:each="sourceLink : ${usage.sourceLinks}">
                        <span th:if="${sourceLink.translator}" th:text="#{reference.type.translator}">tõlkinud</span>
                        <button type="button" class="source-link btn btn-link-dark p-0" data-toggle="popover" th:title="#{label.source}" th:attr="data-content=${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                          <span th:text="${sourceLink.value}"></span>
                        </button>
                      </span>
                    </th:block>

                    <th:block th:if="${not #lists.isEmpty(usage.usageTranslations)}">
                      <span th:each="usageTranslation : ${usage.usageTranslations}" class="example-text" th:utext="${usageTranslation}"></span>
                    </th:block>

                    <th:block th:if="${not #lists.isEmpty(usage.usageDefinitions)}">
                      <span th:each="usageDefinition : ${usage.usageDefinitions}" class="example-text" th:utext="${usageDefinition}"></span>
                    </th:block>

                    <th:block th:if="${not #lists.isEmpty(usage.odUsageDefinitions)}">
                      <div class="example-text">
                        <span class="recommended-usage-label d-block"><i class="fa fa-book mr-1"></i><span class="label-text"  th:text="#{label.od.recommend}">ÕS soovitab</span></span>
                        <span th:each="odUsageDefinition : ${usage.odUsageDefinitions}" style="padding: .5rem .5rem .25rem" th:utext="${odUsageDefinition}"></span>
                      </div>
                    </th:block>

                    <th:block th:if="${not #lists.isEmpty(usage.odUsageAlternatives)}">
                      <div class="example-text">
                        <span>=</span>
                        <span th:each="odUsageAlternative : ${usage.odUsageAlternatives}" style="padding: .5rem .5rem .25rem" th:utext="${odUsageAlternative}"></span>
                      </div>
                    </th:block>
                  </div>
                </div>
              </th:block>
            </div>
            <div class="mt-3 d-flex flex-wrap row" th:if="${not #lists.isEmpty(lexeme.imageFiles)}">
              <th:block th:each="imageFile : ${lexeme.imageFiles}">
                <div class="col-12 col-md-4 mb-3">
                  <a th:href="@{'/files/images/' + ${imageFile.imageFile}}" class="gallery-image" >
                  <img class="homonym-image m-0 p-0" th:src="@{'/files/images/' + ${imageFile.imageFile}}" th:title="${imageFile.imageTitle}">
                  <span class="additional-meta text-muted text-small py-1 d-block" th:utext="${imageFile.imageTitle}"></span>
                  </a>

                  <th:block th:if="${not #lists.isEmpty(imageFile.sourceLinks)}">
                    <div th:each="sourceLink : ${imageFile.sourceLinks}">
                      <button type="button" class="source-link btn btn-link-dark p-0" data-toggle="popover" th:title="#{label.source}" th:attr="data-content=${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                        <span th:text="${sourceLink.value}"></span>
                      </button>
                    </div>
                  </th:block>
                </div>
              </th:block>
            </div>
          </div>

          <div class="collocations-section" th:if="${not #lists.isEmpty(lexeme.collocationPosGroups)}">
            <div th:id="${'collocs-area-' + lexeme.lexemeId}">
              <div class="w-100 colloc-samples">
                <div class="colloc-heading">
                    <span th:text="#{label.collocations}" class="font-weight-bold pr-2">Naabersõnad</span>
                </div>
                <div class="colloc-section " th:if="${not #lists.isEmpty(lexeme.collocationPosGroups)}">
                  <div class="colloc-inner-section">
                    <div class="colloc-row">
                      <span class="colloc-member" th:each="displayColloc,displayCollocIter : ${lexeme.limitedPrimaryDisplayCollocs}">
                        <span th:if="${displayCollocIter.first}">
                          <span th:each="collocMemGr : ${displayColloc.memberGroupOrder}">
                            <span th:if="${collocMemGr == T(eki.wordweb.constant.CollocMemberGroup).HEADWORD}">
                              <span th:if="${displayColloc.headwordMember.conjunct != null && displayColloc.headwordMember.preConjunct}" class="value"
                                th:text="${displayColloc.headwordMember.conjunct}"></span>
                              <span class="font-weight-bold" th:text="${displayColloc.headwordMember.form}"></span>
                              <span th:if="${displayColloc.headwordMember.conjunct != null && displayColloc.headwordMember.postConjunct}" class="value"
                                th:text="${displayColloc.headwordMember.conjunct}"></span>
                            </span>
                            <span th:if="${collocMemGr == T(eki.wordweb.constant.CollocMemberGroup).PRIMARY}">
                              <span th:each="collocMem,collocMemIter : ${displayColloc.primaryMembers}">
                                <span th:if="${collocMem.conjunct != null && collocMem.preConjunct}" class="value" th:text="${collocMem.conjunct}"></span>
                                <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, collocMem.word, collocMem.homonymNr)}}" th:if="${collocMem.wordExists}">
                                  <span th:text="${collocMem.form}" class="value"></span>
                                </a>
                                <span th:text="${collocMem.form}" class="value" th:if="${!collocMem.wordExists}"></span>
                                <span th:if="${collocMem.conjunct != null && collocMem.postConjunct}" class="value" th:text="${collocMem.conjunct}"></span>
                              </span>
                            </span>
                            <span th:if="${collocMemGr == T(eki.wordweb.constant.CollocMemberGroup).CONTEXT}">
                              <span th:each="collocMem,collocMemIter : ${displayColloc.contextMembers}">
                                <span th:if="${collocMem.conjunct != null}" class="value" th:text="${collocMem.conjunct}"></span>
                                <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, collocMem.word, collocMem.homonymNr)}}">
                                  <i><span th:text="${collocMem.form + (collocMemIter.last ? '' : ',')}" class="value"></span></i>
                                </a>
                                <i th:if="${!collocMem.wordExists}"> <span th:text="${collocMem.form + (collocMemIter.last ? '' : ',')}" class="value"></span>
                                </i>
                              </span>
                            </span>
                          </span>
                        </span>
                        <span th:if="${!displayCollocIter.first}" data-toggle="tooltip" data-placement="top" data-html="true" th:title="${viewUtil.getTooltipHtml(displayColloc)}">
                          <span th:each="collocMem,collocMemIter : ${displayColloc.primaryMembers}">
                            <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, collocMem.word, collocMem.homonymNr)}}">
                              <span th:text="${collocMem.form}" class="value"></span>
                            </a>
                            <span th:unless="${collocMemIter.last}">&nbsp;</span>
                          </span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="colloc-fulldata">
                <th:block th:if="${not #lists.isEmpty(lexeme.collocationPosGroups)}">
                  <div class="colloc-heading">
                      <span th:text="#{label.collocations}" class="pr-2 font-weight-bold">Naabersõnad</span>
                  </div>
                  <div class="w-100">
                    <div class="colloc-section w-100" th:each="collocPosGr,collocPosGrIter : ${lexeme.collocationPosGroups}">
                      <div class="colloc-name">
                        <span class="font-weight-bold text-capitalize" th:text="${collocPosGr.posGroup.value}"></span>
                      </div>
                      <div class="colloc-inner-section" th:each="collocRelGr,collocRelGrIter : ${collocPosGr.relationGroups}">
                        <div class="colloc-row">
                          <span class="colloc-member" th:each="displayColloc,displayCollocIter : ${collocRelGr.displayCollocs}">
                            <span th:if="${displayCollocIter.first}">
                              <span th:each="collocMemGr : ${displayColloc.memberGroupOrder}">
                                <span th:if="${collocMemGr == T(eki.wordweb.constant.CollocMemberGroup).HEADWORD}">
                                  <span th:if="${displayColloc.headwordMember.conjunct != null && displayColloc.headwordMember.preConjunct}" class="value"
                                    th:text="${displayColloc.headwordMember.conjunct}"></span>
                                  <span class="font-weight-bold" th:text="${displayColloc.headwordMember.form}"></span>
                                  <span th:if="${displayColloc.headwordMember.conjunct != null && displayColloc.headwordMember.postConjunct}" class="value"
                                    th:text="${displayColloc.headwordMember.conjunct}"></span>
                                </span>
                                <span th:if="${collocMemGr == T(eki.wordweb.constant.CollocMemberGroup).PRIMARY}">
                                  <span th:each="collocMem,collocMemIter : ${displayColloc.primaryMembers}">
                                    <span th:if="${collocMem.conjunct != null && collocMem.preConjunct}" class="value" th:text="${collocMem.conjunct}"></span>
                                    <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, collocMem.word, collocMem.homonymNr)}}" th:if="${collocMem.wordExists}">
                                      <span th:text="${collocMem.form}" class="value"></span>
                                    </a>
                                    <span th:text="${collocMem.form}" class="value" th:if="${!collocMem.wordExists}"></span>
                                    <span th:if="${collocMem.conjunct != null && collocMem.postConjunct}" class="value" th:text="${collocMem.conjunct}"></span>
                                  </span>
                                </span>
                                <span th:if="${collocMemGr == T(eki.wordweb.constant.CollocMemberGroup).CONTEXT}">
                                  <span th:each="collocMem,collocMemIter : ${displayColloc.contextMembers}">
                                    <span th:if="${collocMem.conjunct != null}" class="value" th:text="${collocMem.conjunct}"></span>
                                    <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, collocMem.word, collocMem.homonymNr)}}" th:if="${collocMem.wordExists}">
                                      <i><span th:text="${collocMem.form + (collocMemIter.last ? '' : ',')}" class="value"></span></i>
                                    </a>
                                    <i th:if="${!collocMem.wordExists}">
                                      <span th:text="${collocMem.form + (collocMemIter.last ? '' : ',')}" class="value"></span>
                                    </i>
                                  </span>
                                </span>
                              </span>
                            </span>
                            <span th:if="${!displayCollocIter.first}" data-toggle="tooltip" data-placement="top" data-html="true" th:title="${viewUtil.getTooltipHtml(displayColloc)}">
                              <span th:each="collocMem,collocMemIter : ${displayColloc.primaryMembers}">
                                <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, collocMem.word, collocMem.homonymNr)}}" th:if="${collocMem.wordExists}">
                                  <span th:text="${collocMem.form}" class="value"></span>
                                </a>
                                <span th:text="${collocMem.form}" class="value" th:if="${!collocMem.wordExists}"></span>
                                <span th:unless="${collocMemIter.last}">&nbsp;</span>
                              </span>
                            </span>
                          </span>
                        </div>
                        <div th:id="${'colloc-usages-area-' + collocPosGr.posGroupId + '-' + collocRelGr.relGroupId}" th:if="${not #lists.isEmpty(collocRelGr.allUsages)}" class="pb-1 pl-2 pl-md-4 collapse">
                          <div class="colloc-usage-row examle-text-wrap" th:each="collocUsage : ${collocRelGr.allUsages}">
                            <span class="font-italic" th:text="${collocUsage}"></span>
                            <button th:aria-label="|#{aria.listen} - ${collocUsage}|" class="btn btn-speaker" th:data-words="${collocUsage}" onclick="generateAudioAndPlay(this)">
                              <span class="icon icon-speaker"></span>
                            </button>
                          </div>
                        </div>
                        <button th:if="${not #lists.isEmpty(collocRelGr.allUsages)}" class="btn btn-link-muted btn-sm btn-collapse" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseExample" th:attr="data-target=${'#colloc-usages-area-' + collocPosGr.posGroupId + '-' + collocRelGr.relGroupId}" >
                          <i class="collapse-icon fa fa-angle-down" aria-hidden="true"></i>
                          <span th:text="#{button.label.usages}"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </th:block>
              </div>
              <button class="show-more btn btn-link-muted btn-sm ml-n2" aria-expanded="false" name="colloc-expand-btn" th:data-see-more="#{button.see.more}" th:data-see-less="#{button.see.less}">
                <i class="show-more-arrow fa fa-angle-down" aria-hidden="true"></i>
                <span th:text="#{button.see.more}"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <section class="level-3-panel " th:fragment="korp">
    <div class="corp-panel">
      <div class="heading-wrapper">
        <h5 class="font-weight-bold mb-0 d-flex align-items-center">
          <span th:text="#{label.korp.examples}">Veebilauseid</span>
          <button type="button" class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" th:if="${corp_language == 'est'}" th:aria-label="#{corpus.title.est}" th:title="#{corpus.title.est}"><i class="fas fa-info-circle"></i></button>
          <button type="button" class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" th:if="${corp_language == 'rus'}" th:aria-label="#{corpus.title.rus}" th:title="#{corpus.title.rus}"><i class="fas fa-info-circle"></i></button>
        </h5>
      </div>
      <div class="corp-warning mb-1" th:unless="${#lists.isEmpty(sentences)}">
        <i class="text-danger fa fa-exclamation-triangle mr-1 mt-1" aria-hidden="true"></i>
        <span th:text="#{corpus.warning}"></span>
      </div>
      <div class="sentence-wrapper" th:each="sentence : ${sentences}">
        <p class="mb-2" th:utext="${sentence.getLeftPart() + '<b>' + sentence.getMiddlePart() + '</b>' + sentence.getRightPart()}"></p>
      </div>
      <button class="show-more btn btn-link-muted btn-sm ml-n2" aria-expanded="false" th:data-see-more="#{button.see.more}" th:data-see-less="#{button.see.less}" th:unless="${#lists.isEmpty(sentences)}">
        <i class="show-more-arrow fa fa-angle-down" aria-hidden="true"></i>
        <span th:text="#{button.see.more}"></span>
      </button>
    </div>
    <script th:inline="javascript">
		$('.corp-panel [data-toggle="tooltip"]').tooltip();
	</script>
  </section>
</body>
</html>
