<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">
<title th:replace="${title}" th:text="#{general.title}">Sõnaveeb</title>
<!-- Common styles and scripts -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--<link rel="shortcut icon" th:href="@{/favicon.ico}">-->
<th:block th:replace=" :: css"></th:block>
<th:block th:replace=" :: js"></th:block>
<link href="https://fonts.googleapis.com/css?family=Montserrat:800&amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
<!--/* Per-page placeholder for additional links */-->
<th:block th:replace="${links}" />
<script th:inline="javascript">
	var applicationUrl = /*[[@{/}]]*/'/';
</script>
</head>
<body>
  <!-- Bootstrap core CSS -->
  <th:block th:fragment="css">
    <link rel="stylesheet" th:href="@{/view/css/jquery-ui.css}" />
    <link rel="stylesheet" th:href="@{/view/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/view/css/bootstrap-grid.css}" />
    <link rel="stylesheet" th:href="@{/view/css/bootstrap-reboot.css}" />
    <link rel="stylesheet" th:href="@{/view/css/wordweb.css}" />
  </th:block>
  <!-- Bootstrap core JS -->
  <th:block th:fragment="js">
    <script type="text/javascript" th:src="@{/view/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/ww-common.js}"></script>
  </th:block>
  <!-- menu -->
  <th:block th:fragment="menu">
    <div class="container-fluid header-container">
      <div class="row header-wrap">
        <div class="col-12 header-panel">
          <a th:href="@{/}" class="logo">
            <span class="icon icon-logo-s d-md-none"></span>
            <span class="icon icon-logo  d-none  d-md-block"></span>
          </a>
          <a class="back">
            <span class="icon icon-back"></span>
          </a>
          <div th:replace=":: menu-links"></div>
          <button class="btn menu-btn">
            <span class="icon icon-menu"></span>
          </button>
        </div>
      </div>
    </div>
  </th:block>
  <th:block th:fragment="menu-links">
    <div class="header-links">
      <button class="btn menu-btn float-right clear-both">
        <span th:text="#{menu.close}">Sulge</span>
        <span class="icon icon-close"></span>
      </button>
      <a th:href="@{/search}" class="menu-item" data-item-name="search">
        <span th:text="#{menu.search}">Otsing</span>
      </a>
      <a th:href="@{/learn}" class="menu-item" data-item-name="learn">
        <span th:text="#{menu.learn}">Õpi eesti keelt</span>
      </a>
      <a th:href="@{/}" class="menu-item">
        <span th:text="#{menu.games}">Keelemängud</span>
      </a>
      <a th:href="@{/}" class="menu-item">
        <span th:text="#{menu.info}">Portaalist</span>
      </a>
      <a th:href="@{/}" class="menu-item">
        <span th:text="#{menu.contacts}">Kontakt</span>
      </a>
    </div>
  </th:block>
  <!-- search -->
  <th:block th:fragment="search">
    <div class="search-main">
      <form th:action="@{/search}" th:method="post">
        <div>
          <input type="text" class="form-control search-phrase" name="searchWord" th:value="${searchWord}" th:placeholder="#{search.placeholder}"/>
          <input type="hidden" name="sourceLang" th:value="${sessionBean.sourceLang}" />
          <input type="hidden" name="destinLang" th:value="${sessionBean.destinLang}" />
          <input type="hidden" name="isBeginner" th:value="${sessionBean.beginner}" />
        </div>
        <div class="extra-buttons">
          <button id="clear-search-btn" type="button" class="btn btn-light clear-btn" style="display: none;">
            <span class="icon icon-close"></span>
          </button>
          <button type="button" id="start-rec-btn" class="btn btn-light speak-btn" th:title="#{button.label.start.rec}">
            <span class="icon icon-mic"></span>
          </button>
          <button type="button" id="stop-rec-btn" class="btn btn-light speak-btn" hidden th:text="#{button.label.stop.rec}">Finish</button>
        </div>
        <button id="search-btn" type="submit" class="btn btn-green search-btn">
          <span class="icon icon-search"></span>
        </button>
      </form>
    </div>
  </th:block>
  <!-- lang filter -->
  <th:block th:fragment="lang-filter">
    <div class="row align-items-center">
      <div class="col pr-0 pl-0">
          <div class="search-lang dropdown">
            <button id="lang-selector-btn" class="btn btn-light lang-btn float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="source-lang-lbl">eesti</span>
              <span class="icon icon-arrow-right"></span>
              <span id="destin-lang-lbl">vene</span>
            </button>
            <form class="dropdown-menu p-4 container">
              <div class="row">
                <div class="col-6">
                  <button name="source-lang-btn" value="est" class="dropdown-item" type="button" th:text="#{button.label.estonian}">eesti keel</button>
                  <button name="source-lang-btn" value="rus" class="dropdown-item" type="button" th:text="#{button.label.russian}">vene keel</button>
                </div>
                <div class="col-6">
                  <button name="destin-lang-btn" value="est" class="dropdown-item" type="button" th:text="#{button.label.estonian}">eesti keel</button>
                  <button name="destin-lang-btn" value="rus" class="dropdown-item" type="button" th:text="#{button.label.russian}">vene keel</button>
                </div>
              </div>
            </form>
          </div>
      </div>
      <div class="col pl-1 pr-0">
        <div id="detail-toggle-container">
          <div class="inner-container">
            <div class="toggle">
              <p th:text="#{button.label.simple}">Lihtne</p>
            </div>
            <div class="toggle">
              <p th:text="#{button.label.detail}">Detailne</p>
            </div>
          </div>
          <div class="inner-container" id="toggle-container">
            <div class="toggle">
              <p th:text="#{button.label.simple}">Lihtne</p>
            </div>
            <div class="toggle">
              <p th:text="#{button.label.detail}">Detailne</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <!-- debugging aid -->
  <div th:fragment="dump_vars" class="m-4">
    <h4>Dump of all variables in Thymeleaf context</h4>
    <hr />
    <table>
      <tr th:each="var : ${#lists.sort(#vars.getVariableNames())}">
        <td th:text="${var}"></td>
        <td th:text="${#vars.getVariable(var)}"></td>
      </tr>
      <tr>
        <td>param</td>
        <td th:text="${#vars.getVariable('param')}"></td>
      </tr>
      <tr>
        <td>session</td>
        <td th:text="${#vars.getVariable('session')}"></td>
      </tr>
      <tr>
        <td>application</td>
        <td th:text="${#vars.getVariable('application')}"></td>
      </tr>
    </table>
  </div>
</body>
</html>
