<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <section class="search__sidebar-block search__block text-body-two" id="word-morphology-results" th:fragment="paradigms">
      <th:block th:if="${wordData.morphologyExists}">
        <div class="d-flex align-items-center">
          <h2 class="search__sidebar-block-title" th:text="#{label.word.forms}">
            Sõnavormid
          </h2>
          <button type="button" class="btn btn-icon btn-sm" th:aria-label="#{forms.dataset.title}" data-toggle="tooltip" th:title="#{forms.dataset.title}">
            <i class="fas fa-info-circle"></i>
          </button>
        </div>
        <div th:if="${wordData.word.morphComment}">
          <span th:utext="${wordData.word.morphComment}"></span>
        </div>
        <th:block th:each="paradigm,paradigmIter : ${wordData.paradigms}">
          <div class="morphology-paradigm"
            th:with="morphtemplates=${ {'muutumatu_est', 'verb_est', 'noomen_est', 'verb_rus', 'noun_rus', 'numeral_rus', 'adjective_rus', 'adjective1_rus', 'adjective2_rus', 'indeclinable_rus', 'participle_rus'} }">
            <th:block th:if="${morphtemplates.contains(paradigm.wordClass + '_' + wordData.word.lang)}">
              <th:block th:replace="morpho-short :: ${'morpho-' + paradigm.wordClass + '_' + wordData.word.lang}"></th:block>
            </th:block>
            <hr th:unless="${paradigmIter.last}" />
          </div>
        </th:block>
      </th:block>
      <th:block th:unless="${wordData.morphologyExists}">
        <div class="d-flex align-items-center">
          <h2 class="search__sidebar-block-title" th:text="#{label.word.forms}">
            Sõnavormid
          </h2>
          <button type="button" class="btn btn-icon btn-sm" th:aria-label="#{forms.dataset.title}" data-toggle="tooltip" data-placement="bottom" th:title="#{forms.dataset.title}">
            <i class="fas fa-info-circle"></i>
          </button>
        </div>
        <span th:text="#{label.no.data}">Andmed puuduvad</span>
      </th:block>
    </section>
  <th:block th:fragment="od-word-recommendations">
    <section class="search__sidebar-block search__block text-body-two" th:if="${not #lists.isEmpty(wordData.word.odWordRecommendations)}">
      <th:block th:each="odWordRecommendation : ${wordData.word.odWordRecommendations}">
        <div>
          <h5 class="recommended-usage-label">
            <i class="fa fa-book mr-1"></i>
            <span th:text="#{label.od.recommend}" class="label-text">ÕS selgitab</span>
          </h5>
          <div class="recommendation-additional-info">
            <i class="fas fa-info-circle"></i>
            <span>Selgitused on töös, nende sõnastus võib muutuda. Järgmine ÕS ilmub 2025. aastal.</span>
          </div>
          <p th:utext="${odWordRecommendation.value}"></p>
          <p th:text="|(${#dates.format(odWordRecommendation.modifiedOn, 'dd.MM.yyyy')})|" th:if="${odWordRecommendation.modifiedOn != null}"></p>
        </div>
      </th:block>
    </section>
  </th:block>
  <th:block th:fragment="word-relations">
    <section class="search__sidebar-block search__block text-body-two">
      <div class="word-relations">
        <div class="d-flex align-items-center">
          <h2 class="search__sidebar-block-title" th:text="#{label.word.relations}">
            Sõna seosed
          </h2>
          <button type="button" th:aria-label="#{label.word.relations.info}" class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" th:title="#{label.word.relations.info}">
            <i class="fas fa-info-circle"></i>
          </button>
        </div>
        <div th:unless="${wordData.word.wordRelationsExist}">
          <span th:text="#{label.no.data}">Andmed puuduvad</span>
        </div>
        <div th:if="${wordData.word.wordRelationsExist}">
          <div th:if="${not #lists.isEmpty(wordData.word.wordGroups)}">
            <div class="mb-1" th:each="wordGroup : ${wordData.word.wordGroups}" th:with="isAspect=${wordGroup.wordRelTypeCode == T(eki.common.constant.GlobalConstant).WORD_REL_TYPE_CODE_ASCPECTS}">
              <span th:text="${#strings.capitalize(wordGroup.wordRelType.value) + ':'}"></span>
              <th:block th:if="${isAspect}">
                <th:block th:each="relation, relationIter : ${wordGroup.wordGroupMembers}">
                  <span class="word-options mb-1">
                    <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, relation.word, relation.homonymNr, relation.lang)}}" th:classappend="${relation.homonymsExist ? 'is-homonym':''}">
                      <span th:utext="${@viewUtil.getWordValueMarkup(relation)}" data-toggle="tooltip" data-placement="top" th:title="${relation.aspect?.value}">tee</span>
                      <sup th:if="${relation.homonymsExist}" th:text="${relation.homonymNr}"></sup>
                    </a>
                    <span th:unless="${relationIter.last}">-</span>
                  </span>
                </th:block>
              </th:block>
              <th:block th:unless="${isAspect}">
                <th:block th:each="relation, relationIter : ${wordGroup.wordGroupMembers}">
                  <span class="word-options mb-1">
                    <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, relation.word, relation.homonymNr, relation.lang)}}" th:classappend="${relation.homonymsExist ? 'is-homonym':''}">
                      <span th:utext="${@viewUtil.getWordValueMarkup(relation)}">tee</span>
                      <sup th:if="${relation.homonymsExist}" th:text="${relation.homonymNr}"></sup>
                    </a>
                  </span>
                </th:block>
              </th:block>
            </div>
          </div>
          <div class="relations-wrapper" th:if="${not #lists.isEmpty(wordData.word.secondaryRelatedWordTypeGroups)}">
            <div class="word-group">
              <div th:each="relationTypeGroup,relGroupIter : ${wordData.word.secondaryRelatedWordTypeGroups}" class="mb-2">
                <div class="word-grouper-wrapper">
                  <span class="word-grouper" th:text="${#strings.capitalize(relationTypeGroup.wordRelType.value) + ':'}"></span>
                  <th:block th:with="wordRelType = ${relationTypeGroup.wordRelType}" th:include=" :: word-rel-group"></th:block>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <th:block th:if="${not #lists.isEmpty(wordData.word.primaryRelatedWordTypeGroups)}">
      <th:block th:each="relationTypeGroup,relGroupIter : ${wordData.word.primaryRelatedWordTypeGroups}">
        <section class="search__sidebar-block search__block text-body-two" th:id="${relationTypeGroup.wordRelType.code.equals('ühend') ? 'word-relation-results' : null}">
          <div class="word-relations">
            <div class="d-flex align-items-center">
              <h2 class="search__sidebar-block-title">
                <th:block th:if="${relationTypeGroup.collapsible}">
                  <a data-toggle="collapse" th:href="|#word-rel-type-collapse-${relationTypeGroup.wordRelType.code}|"
                    th:text="${#strings.capitalize(relationTypeGroup.wordRelType.value)}">
                    Sõna seose liik
                  </a>
                </th:block>
                <th:block th:unless="${relationTypeGroup.collapsible}">
                  <span th:text="${#strings.capitalize(relationTypeGroup.wordRelType.value)}">Sõna seose liik</span>
                </th:block>
              </h2>
              <button type="button" th:aria-label="#{label.word.primary.relations.info}" class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top"
                th:title="#{label.word.primary.relations.info}">
                <i class="fas fa-info-circle"></i>
              </button>
            </div>
            <th:block th:if="${relationTypeGroup.collapsible}" th:with="collapseName=|word-rel-type-${relationTypeGroup.wordRelType.code}-panel|">
              <div th:id="|word-rel-type-collapse-${relationTypeGroup.wordRelType.code}|" th:data-name="${collapseName}" class="collapse user-preference"
                th:classappend="${#lists.contains(uiSections, collapseName) ? 'show' : ''}">
                <div th:if="${relationTypeGroup.empty}">
                  <span th:text="#{label.no.data}">Andmed puuduvad</span>
                </div>
                <div th:unless="${relationTypeGroup.empty}">
                  <div class="word-grouper-wrapper">
                    <th:block th:with="wordRelType = ${relationTypeGroup.wordRelType}" th:include=" :: word-rel-group"></th:block>
                  </div>
                </div>
              </div>
            </th:block>
            <th:block th:unless="${relationTypeGroup.collapsible}">
              <div th:if="${relationTypeGroup.empty}">
                <span th:text="#{label.no.data}">Andmed puuduvad</span>
              </div>
              <div th:unless="${relationTypeGroup.empty}">
                <div class="word-grouper-wrapper">
                  <th:block th:with="wordRelType = ${relationTypeGroup.wordRelType}" th:include=" :: word-rel-group"></th:block>
                </div>
              </div>
            </th:block>
          </div>
        </section>
      </th:block>
    </th:block>
  </th:block>
  <th:block th:fragment="word-rel-group">
    <th:block th:if="${relationTypeGroup.asList}">
      <div class="collapse-panel d-flex flex-wrap" th:id="${'word-rel-group-collapse-panel-' + wordRelType.code + '-' + relGroupIter.index}">
        <th:block th:each="relation, relationIter : ${relationTypeGroup.relatedWords}"
          th:with="
                  isCollapsable=${relationIter.count > T(eki.wordweb.constant.WebConstant).WORD_RELATIONS_DISPLAY_LIMIT},
                  isLimit=${relationIter.count == T(eki.wordweb.constant.WebConstant).WORD_RELATIONS_DISPLAY_LIMIT}">
          <span class="word-options mb-1" th:classappend="${isCollapsable ? 'collapse collapse-target': isLimit ? 'limit limit-collapsed' : ''}">
            <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, relation.word, relation.homonymNr, relation.lang)}}" th:classappend="${relation.homonymsExist ? 'is-homonym' : ''}">
              <span th:utext="${@viewUtil.getWordValueMarkup(relation)}">tee</span>
              <sup th:if="${relation.homonymsExist}" th:text="${relation.homonymNr}"></sup>
            </a>
          </span>
        </th:block>
      </div>
      <button class="btn btn-collapse btn-link-muted btn-sm ml-n2" type="button" aria-expanded="false" data-toggle="collapse" data-dynamic-text="true"
        th:data-toggle-container="${'#word-rel-group-collapse-panel-' + wordRelType.code + '-' + relGroupIter.index}"
        th:data-target="${'#word-rel-group-collapse-panel-' + wordRelType.code + '-' + relGroupIter.index + ' .collapse-target'}"
        th:if="${#lists.size(relationTypeGroup.relatedWords) > T(eki.wordweb.constant.WebConstant).WORD_RELATIONS_DISPLAY_LIMIT}">
        <span class="btn-content see-more-content" data-tooltip="tooltip" th:title="#{button.see.more}">
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </span>
        <span class="btn-content see-less-content">
          <i class="fa fa-angle-up" aria-hidden="true"></i>
          <span class="btn-txt" th:text="#{button.see.less}"></span>
        </span>
      </button>
    </th:block>
    <th:block th:if="${relationTypeGroup.asMap}">
      <th:block th:each="relationEntry,relEntryIter : ${relationTypeGroup.relatedWordsByLang}" th:with="relatedWords=${relationEntry.value}">
        <div th:id="${'word-rel-map-collapse-panel-' + wordRelType.code + '-' + relEntryIter.index}" class="collapse-panel d-flex flex-wrap">
          <span class="lang-code text-caption mr-2 align-self-start" th:with="langData=${@viewUtil.getLangData(relationEntry.key)}" th:text="${langData.codeIso2}" th:title="${langData.label}"
            data-toggle="tooltip"> </span>
          <th:block th:each="relation, relationIter : ${relatedWords}"
            th:with="
                    isCollapsable=${relationIter.count > T(eki.wordweb.constant.WebConstant).WORD_RELATIONS_DISPLAY_LIMIT},
                    isLimit=${relationIter.count == T(eki.wordweb.constant.WebConstant).WORD_RELATIONS_DISPLAY_LIMIT}">
            <span class="word-options mb-1" th:classappend="${isCollapsable ? 'collapse collapse-target' : isLimit ? 'limit limit-collapsed' : ''}">
              <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, relation.word, relation.homonymNr, relation.lang)}}" th:classappend="${relation.homonymsExist ? 'is-homonym':''}">
                <span th:utext="${@viewUtil.getWordValueMarkup(relation)}">tee</span>
                <sup th:if="${relation.homonymsExist}" th:text="${relation.homonymNr}"></sup>
              </a>
            </span>
          </th:block>
        </div>
        <button class="btn btn-collapse btn-link-muted btn-sm ml-n2" type="button" aria-expanded="false" data-toggle="collapse" data-dynamic-text="true"
          th:data-toggle-container="${'#word-rel-map-collapse-panel-' + wordRelType.code + '-' + relEntryIter.index}"
          th:data-target="${'#word-rel-map-collapse-panel-' + wordRelType.code + '-' + relEntryIter.index + ' .collapse-target'}"
          th:if="${#lists.size(relatedWords) > T(eki.wordweb.constant.WebConstant).WORD_RELATIONS_DISPLAY_LIMIT}">
          <span class="btn-content see-more-content" data-tooltip="tooltip" th:title="#{button.see.more}">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </span>
          <span class="btn-content see-less-content">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
            <span class="btn-txt" th:text="#{button.see.less}"></span>
          </span>
        </button>
      </th:block>
    </th:block>
  </th:block>
  <th:block th:fragment="etymology">
    <section class="search__sidebar-block search__block text-body-two" id="word-etymology-results">
      <div>
        <div class="d-flex align-items-center flex-wrap">
          <h2 class="search__sidebar-block-title" th:text="#{label.word.etymology}">
            Päritolu
          </h2>
          <button type="button" th:aria-label="#{label.word.etymology.info}" class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" th:title="#{label.word.etymology.info}">
            <i class="fas fa-info-circle"></i>
          </button>
          <th:block th:if="${wordData.word.wordEtymologyTree != null}">
            <span class="lang-code text-caption lang-code--unrestricted" style='font-variant: small-caps;' th:if="${wordData.word.wordEtymologyTree.etymologyType != null}" th:text="${wordData.word.wordEtymologyTree.etymologyType.value}">
            </span>
          </th:block>
        </div>
        <div th:if="${wordData.word.wordEtymologyTree == null}">
          <span th:text="#{label.no.data}">Andmed puuduvad</span>
        </div>
        <div th:if="${wordData.word.wordEtymologyTree != null}">
          <ul class="list-unstyled etymology-tree">
            <th:block th:with="etymLevel = ${wordData.word.wordEtymologyTree}" th:include=" :: etymology_level"></th:block>
          </ul>
        </div>
      </div>
    </section>
  </th:block>
  <th:block th:fragment="etymology_level">
    <li class="align-items-start">
      <div>
        <span class="lang-code text-caption mr-2 align-self-start" th:with="langData=${@viewUtil.getLangData(etymLevel.lang)}" th:text="${langData.codeIso2}" th:title="${langData.label}"
          data-toggle="tooltip"> </span>
        <span>
          <span th:if="${etymLevel.compound}">+</span>
          <span th:if="${etymLevel.questionable}">?</span>
          <i th:utext="${etymLevel.word}"></i>
          <span th:if="${not #lists.isEmpty(etymLevel.meaningWords)}" th:utext="${'''' + #strings.listJoin(etymLevel.meaningWords, ', ') + ''''}"></span>
          <th:block th:if="${not #lists.isEmpty(etymLevel.sourceLinkValues)}">
            <span>(</span>
            <span th:text="${#strings.listJoin(etymLevel.sourceLinkValues, ', ')}" class="ml-n1"></span>
            <span th:if="${etymLevel.etymYear != null}" th:text="${etymLevel.etymYear}"></span>
            <span class="ml-n1">)</span>
          </th:block>
          <span th:if="${etymLevel.comment != null}" th:utext="${@viewUtil.wrapDecorations(etymLevel.comment)}"></span>
        </span>
      </div>
      <th:block th:if="${not #lists.isEmpty(etymLevel.tree)}">
        <ul class="list-unstyled etymology-tree">
          <th:block th:each="nextEtymLevel : ${etymLevel.tree}">
            <th:block th:with="etymLevel = ${nextEtymLevel}" th:include=" :: etymology_level"></th:block>
          </th:block>
        </ul>
      </th:block>
    </li>
  </th:block>
  <th:block th:fragment="keelenou">
    <section class="search__sidebar-block search__block text-body-two" th:if="${wordData.estHeadword || wordData.rusHeadword}">
      <div class="corp-panel">
        <div class="mb-0 d-flex align-items-center">
          <h2 class="search__sidebar-block-title" th:text="#{label.same.word}"></h2>
          <a th:if="${wordData.estHeadword}" th:aria-label="|#{aria.search.from.keelenou} ${wordData.word.word}, #{aria.new.window}|" th:href="${ekiKeeleinfoUrl}" target="_blank">
            <span th:text="#{label.same.word.eki}">EKI teistes sõnastikes</span>
            <i class="fas fa-external-link-alt" aria-hidden="true"></i>
          </a>
          <a th:if="${wordData.rusHeadword}" th:aria-label="|#{aria.search.from.eki.rus.est} ${wordData.word.word}, #{aria.new.window}|"
            th:href="${@viewUtil.getEkiOldskoolRusDictUrl(wordData.word.word)}" target="_blank">
            <span th:text="#{label.same.word.rusest}">vene-eesti sõnaraamatus</span>
            <i class="fas fa-external-link-alt" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
    <section class="search__sidebar-block search__block text-body-two">
      <div class="corp-panel">
        <div class="mb-0 d-flex align-items-center">
          <h2 class="search__sidebar-block-title" th:text="#{label.same.word}"></h2>
          <a th:aria-label="|#{label.same.word.iate} ${wordData.word.word}, #{aria.new.window}|" th:href="${@viewUtil.getIateSearchUrl(wordData.word.word, wordData.word.lang)}" target="_blank">
            <span th:text="#{label.same.word.iate}">IATE terminibaasis</span>
            <i class="fas fa-external-link-alt" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
  </th:block>
  <th:block th:fragment="corp">
    <div class="corp-panel">
      <div class="heading-wrapper">
        <h5 class="font-weight-bold mb-0 d-flex align-items-center text-dark">
          <a data-toggle="collapse" href="#corp-panel-collapse">
            <span th:text="#{label.corp.examples}">Veebilauseid</span>
          </a>
          <button type="button" class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" th:aria-label="#{|corpus.title.${searchMode}.${corpLang}|}"
            th:title="#{|corpus.title.${searchMode}.${corpLang}|}">
            <i class="fas fa-info-circle"></i>
          </button>
        </h5>
      </div>
      <div id="corp-panel-collapse" data-name="corp-panel" class="collapse user-preference" th:classappend="${#lists.contains(uiSections, 'corp-panel') ? 'show' : ''}">
        <div id="corp-panel-sentences" class="collapse-subset">
          <div class="corp-warning mb-1" th:unless="${#lists.isEmpty(sentences)}">
            <i class="text-danger fa fa-exclamation-triangle mr-1 mt-1" aria-hidden="true"></i>
            <span th:text="#{corpus.warning}"></span>
          </div>
          <th:block th:each="sentence, sentenceIter : ${sentences}" th:with="isCollapsable=${sentenceIter.count > 2}">
            <div class="sentence-wrapper" th:classappend="${isCollapsable ? 'collapse collapse-target' : ''}">
              <p class="mb-2" th:utext="${sentence.getLeftPart() + '<b>' + sentence.getMiddlePart() + '</b>' + sentence.getRightPart()}"></p>
            </div>
          </th:block>
          <button class="show-more btn btn-collapse btn-link-muted btn-sm ml-n2" type="button" aria-expanded="false" data-dynamic-text="true" data-toggle="collapse"
            data-target="#corp-panel-sentences .collapse-target" th:if="${#lists.size(sentences) > T(eki.wordweb.constant.WebConstant).CORPUS_SENTENCES_DISPLAY_LIMIT}">
            <span class="btn-content see-more-content" data-toggle="tooltip" th:title="#{button.see.more}">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </span>
            <span class="btn-content see-less-content">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
              <span class="btn-txt" th:text="#{button.see.less}"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
		$('.corp-panel [data-toggle="tooltip"]').tooltip();
	</script>
  </th:block>
  <th:block th:fragment="corp_trans">
    <div class="corp-panel">
      <div class="heading-wrapper">
        <h5 class="font-weight-bold mb-0 d-flex align-items-center text-dark">
          <a data-toggle="collapse" href="#corp-trans-panel-collapse">
            <span th:text="#{label.corp.translations}">Tõlgitud näited</span>
          </a>
          <button type="button" class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" th:aria-label="#{corpus.translations.title}" th:title="#{corpus.translations.title}">
            <i class="fas fa-info-circle"></i>
          </button>
        </h5>
      </div>
      <div id="corp-trans-panel-collapse" data-name="corp-trans-panel" class="collapse user-preference" th:classappend="${#lists.contains(uiSections, 'corp-trans-panel') ? 'show' : ''}">
        <div id="corp-trans-panel-sentences" class="collapse-subset">
          <th:block th:each="translation, translationIter : ${translations}" th:with="isCollapsable=${translationIter.count > 2}">
            <div class="sentence-wrapper" th:classappend="${isCollapsable ? 'collapse collapse-target' : ''}">
              <p class="mb-2" th:utext="${translation.sentence + ' - ' + translation.translatedSentence}"></p>
            </div>
          </th:block>
          <button class="show-more btn btn-collapse btn-link-muted btn-sm ml-n2" type="button" aria-expanded="false" data-dynamic-text="true" data-toggle="collapse"
            data-target="#corp-trans-panel-sentences .collapse-target" th:if="${#lists.size(translations) > T(eki.wordweb.constant.WebConstant).CORPUS_SENTENCES_DISPLAY_LIMIT}">
            <span class="btn-content see-more-content" data-toggle="tooltip" th:title="#{button.see.more}">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </span>
            <span class="btn-content see-less-content">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
              <span class="btn-txt" th:text="#{button.see.less}"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
		$('.corp-panel [data-toggle="tooltip"]').tooltip();
	</script>
  </th:block>
  <th:block th:fragment="skell-search-link">
    <div class="corp-panel">
      <div class="heading-wrapper">
        <h5 class="font-weight-bold mb-0 d-flex align-items-center text-dark">
          <span th:text="#{label.corp.examples}">Veebilauseid</span>
          <button type="button" class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" th:aria-label="#{|corpus.title.${searchMode}.rus|}"
            th:title="#{|corpus.title.${searchMode}.rus|}">
            <i class="fas fa-info-circle"></i>
          </button>
        </h5>
      </div>
      <div class="corp-warning mb-1">
        <i class="text-danger fa fa-exclamation-triangle mr-1 mt-1" aria-hidden="true"></i>
        <span th:text="#{corpus.warning.rus}"></span>
      </div>
      <div class="col-6">
        <a th:href="${@viewUtil.getSkellSearchUrl(wordData.word.word, wordData.word.lang)}" target="_blank">
          <img th:src="@{'/view/images/skell-logo.jpg'}" alt="Skell logo" class="img-fluid">
        </a>
      </div>
    </div>
    <script th:inline="javascript">
      $('.corp-panel [data-toggle="tooltip"]').tooltip();
    </script>
  </th:block>
</body>
</html>
