<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Sõnaveeb - Kontakt</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu"></div>
  <div class="container ">
    <div class="row learn-container">
      <div id="main" role="main" class="col-12 col-md-8 offset-md-4 learn-content">
        <div class="py-4">
          <h3>Kontakt</h3>
          <p>
            <strong>Eesti Keele Instituut</strong>
            <br>
            Roosikrantsi 6, 10119 Tallinn
            <br>
            tel: 617 7500
            <br>
            e-post:
            <a class="text-underline" href="mailto:eki@eki.ee">eki@eki.ee</a>
            <br>
            reg-kood: 70004011
          </p>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <!--/ Survey banner small /-->
  <div class="survey-banner survey-banner--small">
    <a class="banner-body" href="https://sonaveeb.limesurvey.net/923746?newtest=Y&lang=et">
      <span class="banner-left">
        <span class="small-banner-header-text hide-sm">Osale uuringus</span>
        <span class="small-banner-text hide-sm">Ja võid võita tänukingituse!</span>
        <span class="header-text show-sm">Osale uuringus</span>
        <span class="small-text-alt show-sm">See võtab 10-15 minutit ja lisaks võid võita tänukingituse!</span>
      </span>
      <span class="banner-right show-sm">
        <img src="../../view/images/banner-right-info.svg" alt="">
      </span>
    </a>
    <button class="close-banner">
      <i class="fas fa-times"></i>
    </button>
  </div>
</body>
</html>
