<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Sõnaveeb - Kontakt</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu"></div>
  <div class="container ">
    <div class="row learn-container">
      <div id="main" role="main" class="col-12 col-md-8 offset-md-4 learn-content">
        <div class="py-4">
          <h3>Kontakt</h3>
          <p>
            <strong>Eesti Keele Instituut</strong>
            <br>
            Roosikrantsi 6, 10119 Tallinn
            <br>
            tel: 617 7500
            <br>
            e-post:
            <a class="text-underline" href="mailto:eki@eki.ee">eki@eki.ee</a>
            <br>
            reg-kood: 70004011
          </p>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <script th:inline="javascript">
    setActiveMenuItem('contact');
  </script>
</body>
</html>
