<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},_,_,'Sõnaveeb - Viga')">
<title>Sõnaveeb - Viga</title>
</head>
<body class="survey-active" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <div id="main" role="main" class="container">
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title" th:text="${errorName}"></h4>
        <p class="card-text" th:text="${errorId}" th:if="${errorId != null}"></p>
        <p class="card-text" th:text="${errorDescription}"></p>
        <p th:unless="${httpStatus.value() == 200}" th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|"></p>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
</body>
</html>
