<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block th:fragment="feedback-form">
    <div class="modal fade" id="feedback-modal" tabindex="-1" aria-model="true" role="dialog" aria-hidden="false" aria-describedby="feedback-modal-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content feedback-modal">
          <div class="modal-header feedback-modal__header">
            <h1 class="modal-title" th:text="#{label.feedback.title}" id="feedback-modal-title">Tagasiside</h1>
            <h1 class="modal-title d-none" th:text="#{message.feedback.success.title}" id="feedback-modal-success-title">Aitäh</h1>
            <button type="button" class="feedback-modal__close" data-dismiss="modal" th:aria-label="#{menu.close}">
              <span class="fa fa-times" aria-hidden="true"></span>
            </button>
          </div>
          <div id="feedback-data" class="modal-body">
            <div>
              <form id="feedback-form" th:action="@{/feed}" novalidate="novalidate">
                <input type="hidden" name="feedbackType" th:value="${feedbackType}">
                <div class="feedback-modal__group">
                  <label for="descriptionInput2" class="col-form-label" th:text="#{label.feedback.description.generic}">Probleemi lühikirjeldus</label>
                  <textarea id="descriptionInput2" class="form-control" name="description" required autocomplete="off" th:placeholder="#{label.feedback.description.placeholder.generic}"></textarea>
                  <div class="invalid-feedback" th:text="#{message.feedback.missing.description.generic}">Väli on kohustuslik</div>
                </div>
                <div class="feedback-modal__want-response">
                  <h2 th:text="#{label.feedback.message.heading}">Kui soovid vastust oma probleemile</h2>
                  <p th:text="#{label.feedback.message.content}">Kui sul on küsimus....</p>
                  <div class="feedback-modal__group">
                    <label for="feedback-modal-email" class="col-form-label" th:text="#{label.feedback.email}">E-post</label>
                    <input id="feedback-modal-email" type="email" class="form-control form-email" name="senderEmail" autocomplete="email" th:placeholder="#{label.feedback.email.placeholder.generic}">
                  </div>
                  <div class="feedback-modal__group d-none" id="feedback-modal-checkbox-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="feedback-email-checkbox">
                      <label class="custom-control-label" for="feedback-email-checkbox">
                        <span th:text="#{label.feedback.iagree}">Nõustun</span>
                        <a
                          target="_blank"
                          rel="noreferrer"
                          th:href="@{/regulations}"
                          data-item-name="regulations"
                          th:text="#{label.feedback.withterms}">
                          kasutus- ja privaatsustingimustega
                        </a>
                        <span>&ast;</span>
                      </label>
                      <div class="invalid-feedback" th:text="#{label.feedback.required.field}">Väli on kohustuslik</div>
                    </div>
                  </div>
                  <button id="feedback-submit" type="button" class="feedback-modal__button" name="feedbackSendBtn" th:text="#{button.send}">Saada</button>
                </div>
              </form>
            </div>
          </div>
          <div id="feedback-response" class="modal-body d-none">
            <div class="d-flex flex-column">
              <div id="feedback-error-message" class="alert alert-danger d-none" th:text="#{message.feedback.failing.service}">Tagasiside saatmine ebaõnnestus, proovige hiljem uuesti.</div>
              <p id="feedback-success-message" class="m-0 d-none" th:text="#{message.feedback.success.generic}">Aitäh, saime tagasiside kätte</p>
              <button type="button" class="feedback-modal__button" data-dismiss="modal" th:text="#{menu.close}">Sulge</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</body>
</html>
