<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{general.title}">Sõnaveeb</title>
<link type="text/css" rel="stylesheet" th:href="@{/view/css/font-import.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/view/css/font-awesome.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/view/css/bootstrap-games.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/view/css/jquery-ui.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/view/css/games.css}" />
<script type="text/javascript" th:src="@{/view/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/view/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/view/js/ww-game-lexicdecis.js}"></script>
</head>
<body style="overflow-y: auto;">
  <div id="lexicalDecisionStartPage" class="frame col-sm-8 col-sm-offset-2">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <h2 th:text="#{game.lexicdecis}">Sõnatundmise mäng.</h2>
    </div>
    <div class="col-sm-12">
      <div class="howtoplay"></div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 text-center clear-20">
      <div th:text="#{game.lexicdecis.instruction.1}"></div>
      <div th:text="#{game.lexicdecis.instruction.2}"></div>
      <div>
        <span th:text="#{game.lexicdecis.instruction.3}"></span>
        <strong>J</strong>
      </div>
      <div>
        <span th:text="#{game.lexicdecis.instruction.4}"></span>
        <strong>F</strong>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 text-center clear-20">
      <button id="playGameButton" th:text="#{game.label.play}" type="button" class="btn btn-success" autofocus="autofocus">Play!</button>
    </div>
  </div>
  <div id="lexicalDecisionGamePage" style="display: none;">
    <div class="wrapper game-friggin-content">
      <div id="lexicalDecisionHeader">
        <nav class="navbar landing-page navbar-fixed-top" role="navigation" style="padding: 20px">
          <div class="col-md-2">
            <a th:href="@{/}">
              <span>LOGO!</span>
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <div class="nav-game-title">
              <div class="game-abc-small"></div>
              <span th:text="#{game.lexicdecis}" style="font-variant: small-caps;">Sõnatundmise mäng.</span>
            </div>
            <div class="nav navbar-nav navbar-right">
              <span> </span>
            </div>
          </div>
        </nav>
      </div>
      <div id="lexicDecisValidationNotification" class="col-md-12" style="display: none;">
        <div class="row">
          <div class="alert alert-danger text-center" style="position: relative; top: 100px" th:text="#{game.lexicdecis.notification.validation}">Vale klahv</div>
        </div>
      </div>
      <form id="lexicalDecisionResultForm" th:action="@{/games/lexicdecis/finish}" method="POST">
        <input id="lexicDecisExitMode" name="lexicDecisExitMode" type="hidden" />
      </form>
      <div class="col-sm-10 col-sm-offset-1 words-block">
        <div class="col-sm-12 text-center">
          <h2>
            <span id="suggestedWordWrapper" class="bg-success" style="padding: 20px">
              <span id="suggestedWordValue"></span>
            </span>
          </h2>
        </div>
      </div>
      <div class="col-sm-12 help-tip">
        <div class="col-sm-5">
          <div class="help-letters-right">
            <h4 th:text="#{game.label.fno}">F(No)</h4>
          </div>
        </div>
        <div class="col-sm-2 text-center">
          <!--<h5 th:text="'(' + #{quitGame} + ')'">-->
          <!--0 / 9-->
          <!--</h5>-->
        </div>
        <div class="col-sm-5">
          <div class="help-letters-left">
            <h4 th:text="#{game.label.jyes}">J(Yes)</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
  	var getLexicDecisGameBatchUrl = /*[[@{/games/lexicdecis/getgamebatch}]]*/"/games/lexicdecis/getgamebatch";
  	var submitLexicDecisGameRowUrl = /*[[@{/games/lexicdecis/submitgamerow}]]*/"/games/lexicdecis/submitgamerow";
  </script>
</body>
</html>