<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(_,~{::links},_)">
<title>Sõnaveeb - Keelemängud</title>
<th:block th:fragment="links">
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <th:block th:replace="common-app :: header(withSearch = ${false})"></th:block>
  <div class="container games-wrap home-page-content" id="main" role="main">
    <div class="row">
      <div class="col-12">
        <h3 class="mt-4 mb-2 text-left">Keelemängud</h3>
        <div class="games-list row">
          <div class="col-12 col-lg-6 the-game mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="m-0">
                  <a th:href="@{/games/lexicdecis}">
                    <span class="text-center" th:text="#{game.lexicdecis}">Sõnatundmise mäng</span>
                  </a>
                </h5>
                <th:block th:if="${(gameStat != null) && (gameName == 'lexicdecis')}">
                  <h6 class="mt-2" th:text="#{game.label.thanks}" th:if="${!gameStat.brainlessExit}">Aitäh!</h6>
                  <div>
                    <b th:text="#{game.brainless.exit}" th:if="${gameStat.brainlessExit}"></b>
                  </div>
                  <th:block th:if="${gameStat.gameResult != null}">
                    <div>
                      <span th:text="#{|game.lexicdecis.result.stat.1|(${gameStat.gameResult.allAnswersCount},${gameStat.gameResult.correctAnswersCount})}"></span>
                    </div>
                    <div>
                      <span th:text="#{|game.lexicdecis.result.stat.2|(${gameStat.playerCount},${gameStat.averageDelayPosition},${gameStat.correctAnswersPosition})}"></span>
                    </div>
                  </th:block>
                </th:block>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 the-game mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="m-0">
                  <a th:href="@{/games/similjudge/est-rus-easy}">
                    <span class="text-center" th:text="#{game.similjudge.est.rus.easy}">Sarnasuse mäng</span>
                  </a>
                </h5>
                <th:block th:if="${(gameStat != null) && (gameName == 'similjudge') && (gameKey == 'est-rus-easy')}">
                  <h6 class="mt-2" th:text="#{game.label.thanks}" th:if="${!gameStat.brainlessExit}">Aitäh!</h6>
                  <div>
                    <b th:text="#{game.brainless.exit}" th:if="${gameStat.brainlessExit}"></b>
                  </div>
                  <th:block th:if="${gameStat.gameResult != null}">
                    <div>
                      <span th:text="#{|game.similjudge.result.stat.1|(${gameStat.gameResult.allAnswersCount},${gameStat.gameResult.correctAnswersCount})}"></span>
                    </div>
                    <div>
                      <span th:text="#{|game.similjudge.result.stat.2|(${gameStat.playerCount},${gameStat.averageDelayPosition},${gameStat.correctAnswersPosition})}"></span>
                    </div>
                  </th:block>
                </th:block>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 the-game mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="m-0">
                  <a th:href="@{/games/similjudge/est-rus-hard}">
                    <span class="text-center" th:text="#{game.similjudge.est.rus.hard}">Sarnasuse mäng</span>
                  </a>
                </h5>
                <th:block th:if="${(gameStat != null) && (gameName == 'similjudge') && (gameKey == 'est-rus-hard')}">
                  <h6 class="mt-2" th:text="#{game.label.thanks}" th:if="${!gameStat.brainlessExit}">Aitäh!</h6>
                  <div>
                    <b th:text="#{game.brainless.exit}" th:if="${gameStat.brainlessExit}"></b>
                  </div>
                  <th:block th:if="${gameStat.gameResult != null}">
                    <div>
                      <span th:text="#{|game.similjudge.result.stat.1|(${gameStat.gameResult.allAnswersCount},${gameStat.gameResult.correctAnswersCount})}"></span>
                    </div>
                    <div>
                      <span th:text="#{|game.similjudge.result.stat.2|(${gameStat.playerCount},${gameStat.averageDelayPosition},${gameStat.correctAnswersPosition})}"></span>
                    </div>
                  </th:block>
                </th:block>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 the-game mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="m-0">
                  <a th:href="@{/games/similjudge/est-est-easy}">
                    <span class="text-center" th:text="#{game.similjudge.est.est.easy}">Sarnasuse mäng</span>
                  </a>
                </h5>
                <th:block th:if="${(gameStat != null) && (gameName == 'similjudge') && (gameKey == 'est-est-easy')}">
                  <h6 class="mt-2" th:text="#{game.label.thanks}" th:if="${!gameStat.brainlessExit}">Aitäh!</h6>
                  <div>
                    <b th:text="#{game.brainless.exit}" th:if="${gameStat.brainlessExit}"></b>
                  </div>
                  <th:block th:if="${gameStat.gameResult != null}">
                    <div>
                      <span th:text="#{|game.similjudge.result.stat.1|(${gameStat.gameResult.allAnswersCount},${gameStat.gameResult.correctAnswersCount})}"></span>
                    </div>
                    <div>
                      <span th:text="#{|game.similjudge.result.stat.2|(${gameStat.playerCount},${gameStat.averageDelayPosition},${gameStat.correctAnswersPosition})}"></span>
                    </div>
                  </th:block>
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <script th:inline="javascript">
  	var currentPage = /*[[@{/games}]]*/"/games";
  	setActiveMenuItem('games');
  </script>
</body>
</html>
