<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(_,~{::links})">
<th:block th:fragment="links">
  <link type="text/css" rel="stylesheet" th:href="@{/view/css/games.css}" />
</th:block>
</head>
<body class="home-page">
  <div class="header-container">
    <div th:replace="common-app :: menu-links"></div>
    <button class="btn menu-btn">
      <span class="d-none d-md-block" th:text="#{button.label.menu}">Menüü</span>
      <span class="icon icon-menu"></span>
    </button>
  </div>
  <div class="container-fluid search-wrap">
    <h5>Mängude avaleht</h5>
    <p>
      <a th:href="@{/games/lexicdecis}">Sõnatundmise mäng</a>
    </p>
    <th:block th:if="${lexicDecisGameStat != null}">
      <h6 th:text="#{game.label.thanks}" th:if="${!lexicDecisGameStat.brainlessExit}">Aitäh!</h6>
      <div>
        <b th:text="#{game.lexicdecis.brainless.exit}" th:if="${lexicDecisGameStat.brainlessExit}"></b>
      </div>
      <th:block th:if="${lexicDecisGameStat.gameResult != null}">
        <div>
          <span th:text="#{|game.lexicdecis.result.stat.1|(${lexicDecisGameStat.gameResult.allAnswersCount},${lexicDecisGameStat.gameResult.correctAnswersCount})}"></span>
        </div>
        <div>
          <span th:text="#{|game.lexicdecis.result.stat.2|(${lexicDecisGameStat.playerCount},${lexicDecisGameStat.averageDelayPosition},${lexicDecisGameStat.correctAnswersPosition})}"></span>
        </div>
      </th:block>
    </th:block>
  </div>
  <script th:inline="javascript">
  	var currentPage = /*[[@{/games}]]*/"/games";
  	setActiveMenuItem('games');
  </script>
</body>
</html>
