<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{general.title}">Sõnaveeb - Keelemängud</title>
<head th:replace="common-app :: common_header(_,~{::links},_)">
<th:block th:fragment="links">
  <link type="text/css" rel="stylesheet" th:href="@{/view/css/games.css}" />
</th:block>
</head>
<body class="games-body survey-active" style="overflow-y: hidden;">
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu"></div>
  <div id="gameStartPage" class="frame col-sm-12">
    <div class="col-sm-112 text-center">
      <h2 th:text="#{game.lexicdecis}">Sõnatundmise mäng</h2>
    </div>
    <div class="col-sm-12">
      <div class="howtoplay"></div>
    </div>
    <div class="col-sm-12 text-center clear-20">
      <div th:text="#{game.lexicdecis.instruction.1}"></div>
      <div th:text="#{game.lexicdecis.instruction.2}"></div>
      <div>
        <span th:utext="#{game.lexicdecis.instruction.3}"></span>
      </div>
      <div>
        <span th:utext="#{game.lexicdecis.instruction.4}"></span>
      </div>
      <div>
        <span th:utext="#{game.lexicdecis.instruction.5}"></span>
      </div>
    </div>
    <div class="col-sm-12 text-center clear-20">
      <button id="playGameButton" th:text="#{game.label.play}" type="button" class="btn btn-success" autofocus="autofocus">Play!</button>
    </div>
  </div>
  <div id="gamePage" style="display: none;">
    <div class="wrapper game-friggin-content">
      <div id="gameValidationNotification" class="col-md-12" style="display: none;">
        <div class="row justify-content-center">
          <div class="alert alert-danger text-center" style="position: relative; top: 100px" th:text="#{game.lexicdecis.notification.validation}">Vale klahv</div>
        </div>
      </div>
      <form id="gameResultForm" th:action="@{/games/lexicdecis/finish}" method="POST">
        <input id="gameExitMode" name="gameExitMode" type="hidden" />
      </form>
      <div class="col-sm-12 words-block">
        <div class="col-12 col-sm-8 text-center inner-block">
          <h2>
            <span id="suggestedWordWrapper" style="padding: 20px">
              <span id="suggestedWordValue"></span>
            </span>
          </h2>
        </div>
      </div>
      <div class="col-sm-12 help-tip key-row">
        <div id="answerFbtn" class="col-sm-5">
          <div class="help-letters-right btn-box">
            <h4 th:text="#{game.label.fno}">F(No)</h4>
          </div>
        </div>
        <div class="col-sm-2 text-center">
          <!--<h5 th:text="'(' + #{quitGame} + ')'">-->
          <!--0 / 9-->
          <!--</h5>-->
        </div>
        <div id="answerJbtn" class="col-sm-5">
          <div class="help-letters-left btn-box">
            <h4 th:text="#{game.label.jyes}">J(Yes)</h4>
          </div>
        </div>
      </div>
      <div id="escBtn" style="position: fixed; bottom: 50px; width: 100%;">
        <div class="help-letters-center btn-box">
          <h4>Esc</h4>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/view/js/ww-game-lexicdecis.js}"></script>
  <script th:inline="javascript">
  	var getLexicDecisGameBatchUrl = /*[[@{/games/lexicdecis/getgamebatch}]]*/"/games/lexicdecis/getgamebatch";
  	var submitLexicDecisGameRowUrl = /*[[@{/games/lexicdecis/submitgamerow}]]*/"/games/lexicdecis/submitgamerow";
  </script>
  <!--/ Survey banner small /-->
  <div class="survey-banner survey-banner--small">
    <a class="banner-body" href="https://sonaveeb.limesurvey.net/923746?newtest=Y&lang=et">
      <span class="banner-left">
        <span class="small-banner-header-text hide-sm">Osale uuringus</span>
        <span class="small-banner-text hide-sm">Ja võid võita tänukingituse!</span>
        <span class="header-text show-sm">Osale uuringus</span>
        <span class="small-text-alt show-sm">See võtab 10-15 minutit ja lisaks võid võita tänukingituse!</span>
      </span>
      <span class="banner-right show-sm">
        <img src="../../view/images/banner-right-info.svg" alt="">
      </span>
    </a>
    <button class="close-banner">
      <i class="fas fa-times"></i>
    </button>
  </div>
</body>
</html>
