<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(_,~{::links})">
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/recorder.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/index_page.js}" src="js/demo/demo.js"></script>
</th:block>
</head>
<body>
  <div class="container-fluid header-container">
    <div class="row header-wrap">
      <div class="col-12 header-panel">
        <a class="logo" th:text="#{button.label.back}"> &lt; Back </a>
        <div class="header-links d-none d-md-block">
          <a th:href="@{/}" class="menu-item selected ">
            <span th:text="#{menu.search}">Otsing</span>
          </a>
          <a th:href="@{/}" class="menu-item ">
            <span th:text="#{menu.learn}">Õpi eesti keelt</span>
          </a>
          <a th:href="@{/}" class="menu-item ">
            <span th:text="#{menu.games}">Keelemängud</span>
          </a>
          <a th:href="@{/}" class="menu-item ">
            <span th:text="#{menu.info}">Portaalist</span>
          </a>
          <a th:href="@{/}" class="menu-item ">
            <span th:text="#{menu.contacts}">Kontakt</span>
          </a>
        </div>
        <button class="menu-btn" th:text="#{button.label.menu}">Menu</button>
      </div>
    </div>
  </div>
  <div class="container-fluid homonym-page">
    <div class="row search-wrap">
      <div class="col-12 search-panel">
        <div class="row">
          <div class="col-md-6">
            <div class="search-lang dropdown">
              <button id="lang-selector-btn" class="btn btn-light lang-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="source-lang-lbl">eesti</span>
                <span class="icon icon-arrow-right"></span>
                <span id="destin-lang-lbl">vene</span>
              </button>
              <form class="dropdown-menu p-4 container" aria-labelledby="dropdwonTest1">
                <!-- 
                <div class="row">
                  <div class="col-12">
                    <button class="dropdown-item" type="button">Automaatne keeletuvastus</button>
                  </div>
                  <div class="col-12">
                    <button class="dropdown-item" type="button">eesti ükskeelne</button>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                 -->
                <div class="row">
                  <div class="col-6">
                    <button name="source-lang-btn" value="est" class="dropdown-item" type="button">eesti keel</button>
                    <button name="source-lang-btn" value="rus" class="dropdown-item" type="button">vene keel</button>
                  </div>
                  <div class="col-6">
                    <button name="destin-lang-btn" value="est" class="dropdown-item" type="button">eesti keel</button>
                    <button name="destin-lang-btn" value="rus" class="dropdown-item" type="button">vene keel</button>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                  <div class="col-12">
                    <button id="lang-sel-complete-btn" class="btn btn-light" type="button">Jätka</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 order-md-first">
            <div class="search-main"></div>
            <div class="search-main">
              <form th:action="@{/}" th:method="post">
                <div class="awesomplete">
                  <input type="text" class="form-control search-phrase" name="simpleSearchFilter" th:value="${simpleSearchFilter}" list="mylist" placeholder="Kirjuta mõni sõna" />
                  <input type="hidden" name="sourceLang" value="" />
                  <input type="hidden" name="destinLang" value="" />
                  <ul class="d-none">
                    <li>
                      <mark>Highl</mark>
                      ighted
                    </li>
                    <li>Regular</li>
                    <li aria-selected="true">Selected row</li>
                  </ul>
                </div>
                <div class="extra-buttons">
                  <button type="button" class="btn btn-light clear-btn">
                    <span class="icon icon-close"></span>
                  </button>
                  <button type="button" id="start-rec-btn" class="btn btn-light speak-btn">
                    <span class="icon icon-mic"></span>
                  </button>
                  <button type="button" id="stop-rec-btn" class="btn btn-light speak-btn" hidden th:text="#{button.label.stop.rec}">Finish</button>
                </div>
                <button id="search-btn" type="submit" class="btn btn-green search-btn">
                  <span class="icon icon-search"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row homonym-wrap" th:if="${not #lists.isEmpty(wordsData.fullMatchWords)}">
      <div class="col-12" style="max-width: 80vw; margin-left: auto; margin-right: auto; margin-top: 1.5em;" id="form-words" th:if="${not #lists.isEmpty(wordsData.formMatchWords)}">
        <span>see on ka vorm sõnast</span>
        <button class="btn btn-sm" name="word-form-btn" th:each="word : ${wordsData.formMatchWords}" th:text="${word}" th:data-word="${word}"></button>
      </div>
      <div class="col-12 homonym-panel">
        <ul class="homonym-list">
          <li th:each="word : ${wordsData.fullMatchWords}">
            <form>
              <input type="hidden" name="word-id" th:value="${word.wordId}" />
              <input type="hidden" name="word-value" th:value="${word.word}" />
              <a th:id="${'word-details-link-' + word.wordId}" class="homonym-item">
                <span class="homonym-item-wrap">
                  <span class="homonym-header">
                    <div class="homonym-name-container">
                      <span class="homonym-name" th:text="${word.word}">tee</span>
                    </div>
                    <span class="homonym-nr" th:text="${word.homonymNr}">1</span>
                  </span>
                  <span class="homonym-matches" th:text="${word.meaningWordsWrapup}"></span>
                  <span class="homonym-intro" th:text="${word.definitionsWrapup}"></span>
                </span>
              </a>
            </form>
          </li>
        </ul>
      </div>
      <div class="col-12 homonym-panel-empty d-none" style="margin-bottom: 1.5em;"></div>
    </div>
    <div class="word-details"></div>
    <div class="row word-details" th:fragment="worddetails" th:if="${not #lists.isEmpty(wordData.lexemes)}">
      <div class="col-12 content-panel d-md-block">
        <div class="row">
          <div class="col-12 content-title">
            <h3>
              <span class="homonym-name" th:text="${wordData.word.word}">tee</span>
              <span class="homonym-nr" th:text="${wordData.word.homonymNr}">1</span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-lg-8 main-data">
            <div class="level-2-panel">
              <div class="level-3-panel row" th:each="lexeme : ${wordData.lexemes}">
                <span class="dictionary-source" th:text="${lexeme.datasetName}">Eesti-vene sõnaraamat</span>
                <div class="col-lg-6">
                  <div class="matches">
                    <h6 th:if="${not #lists.isEmpty(lexeme.destinLangMatchWords)}">
                      <span th:each="meaningWord,meaningWordIter : ${lexeme.destinLangMatchWords}">
                        <span th:text="${meaningWord.word}"></span>
                        <span th:unless="${meaningWordIter.last}">, </span>
                      </span>
                    </h6>
                  </div>
                  <div class="definition">
                    <span th:each="definition,definitionIter : ${lexeme.definitions}">
                      <span th:text="${definition.value}"></span>
                      <span th:unless="${definitionIter.last}">, </span>
                    </span>
                    <div th:if="${not #lists.isEmpty(lexeme.otherLangMatchWords)}">
                      <span th:each="meaningWord,meaningWordIter : ${lexeme.otherLangMatchWords}">
                        <span th:text="${meaningWord.word}"></span>
                        <span th:unless="${meaningWordIter.last}">, </span>
                      </span>
                    </div>
                  </div>
                  <div class="word-type" th:if="${not #lists.isEmpty(lexeme.poses)}">
                    <span class="tag" th:each="pos : ${lexeme.poses}" th:text="${pos.value}"></span>
                  </div>
                  <div class="synonyms">
                    <span th:if="${not #lists.isEmpty(lexeme.synonymWords)}">
                      <span th:each="meaningWord,meaningWordIter : ${lexeme.synonymWords}">
                        <a th:id="${'word_search_link_syn_' + meaningWordIter.count}" href="" class="synonym">
                          <span th:text="${meaningWord.word}"></span>
                        </a>
                        <span th:unless="${meaningWordIter.last}">, </span>
                      </span>
                    </span>
                  </div>
                  <div class="additional-meta">
                    <!-- need vajavad kõik veel kujundamist. enamus on komplekstüüpide kollektsioonid -->
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.lexemeRelations)}">
                      <div class="col-3">
                        <b>Seosed</b>
                      </div>
                      <div class="col-9">
                        <div th:each="relation, relationIter : ${lexeme.lexemeRelations}">
                          <a th:id="${'word_search_link_lex_rel_' + lexeme.lexemeId + '_' + relationIter.count}" href="">
                            <span th:text="${relation.getLabel()}"></span>
                          </a>
                          <span th:text="${'('+relation.getRelationType().getValue()+')'}"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.adviceNotes)}">
                      <div class="col-3">
                        <b>Keelenõu</b>
                      </div>
                      <div class="col-9">
                        <div th:each="note : ${lexeme.adviceNotes}" th:text="${note}"></div>
                      </div>
                    </div>
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.learnerComments)}">
                      <div class="col-3">
                        <b>Õppekommentaar</b>
                      </div>
                      <div class="col-9">
                        <div th:each="note : ${lexeme.learnerComments}" th:text="${note}"></div>
                      </div>
                    </div>
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.publicNotes)}">
                      <div class="col-3">
                        <b>Märkused</b>
                      </div>
                      <div class="col-9">
                        <div th:each="note : ${lexeme.publicNotes}" th:text="${note}"></div>
                      </div>
                    </div>
                    <!---->
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.registers)}">
                      <div class="col-3">
                        <b>Register</b>
                      </div>
                      <div class="col-9">
                        <div th:each="register : ${lexeme.registers}" th:text="${register.value}"></div>
                      </div>
                    </div>
                    <!-- Kliendiga kokku lepitud: Tuletuskoodi ei näita
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.derivs)}">
                      <div class="col-3"><b>Tuletuskood</b></div>
                      <div class="col-9">
                        <div th:each="deriv : ${lexeme.derivs}" th:text="${deriv.value}"></div>
                      </div>
                    </div>-->
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.domains)}">
                      <div class="col-3">
                        <b>Valdkond</b>
                      </div>
                      <div class="col-9">
                        <div th:each="domain : ${lexeme.domains}" th:text="${domain.value}"></div>
                      </div>
                    </div>
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.grammars)}">
                      <div class="col-3">
                        <b>Grammar</b>
                      </div>
                      <div class="col-9">
                        <div th:each="note : ${lexeme.grammars}" th:text="${note}"></div>
                      </div>
                    </div>
                    <!-- Kliendiga kokku lepitud: Tuletuskoodi ei näita
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.systematicPolysemyPatterns)}">
                      <div class="col-3"><b>süst-polüseemia mall</b></div>
                      <div class="col-9">
                        <div th:each="patter : ${lexeme.systematicPolysemyPatterns}" th:text="${patter}"></div>
                      </div>
                    </div>-->
                    <!-- Kliendiga kokku lepitud: Tuletuskoodi ei näita
                    <div class="row" th:if="${not #lists.isEmpty(lexeme.semanticTypes)}">
                      <div class="col-3"><b>Semantiline tüüp</b></div>
                      <div class="col-9">
                        <div th:each="semanticType : ${lexeme.semanticTypes}" th:text="${semanticType}"></div>
                      </div>
                    </div>-->
                  </div>
                </div>
                <button class="more-btn">
                  <span class="icon icon-chevron-left"></span>
                </button>
                <div class="dependencies col-lg-6" th:if="${not #lists.isEmpty(lexeme.governments)}">
                  <!-- rektsioonid -->
                  <div class="dependence" th:each="government : ${lexeme.governments}">
                    <h6 th:if="${government.government != '-'}" th:text="${government.government}"></h6>
                    <div th:if="${not #lists.isEmpty(government.usageMeanings)}">
                      <!-- kasutusnäite tähendused -->
                      <span class="example-item" th:each="usageMeaning : ${government.usageMeanings}">
                        <!-- Kliendiga kokku lepitud: Kasutusnäite tähendusI ei näita -->
                        <!-- <span th:text="${usageMeaning.usageMeaningType.value}" th:if="${usageMeaning.usageMeaningType != null}">
                        </span> -->
                        <!-- kasutusnäited -->
                        <span th:if="${not #lists.isEmpty(usageMeaning.usages)}">
                          <span th:each="usage : ${usageMeaning.usages}" th:data-words="${usage.usage}" onclick="generateVoiceAndPlay(this)">
                            <span class="example-text" th:text="${usage.usage}"></span>
                            <span class="example-text" th:text="${usage.usageAuthor}" th:if="${usage.usageAuthor != null}"></span>
                            <span class="example-text" th:text="${usage.usageTranslator}" th:if="${usage.usageTranslator != null}"></span>
                            <button class="btn btn-speaker">
                              <span class="icon icon-speaker"></span>
                            </button>
                          </span>
                        </span>
                        <!-- kasutusnäidete tõlked -->
                        <span th:if="${not #lists.isEmpty(usageMeaning.usageTranslations)}">
                          <span th:each="usageTranslation : ${usageMeaning.usageTranslations}">
                            <span th:text="${usageTranslation}"></span>
                          </span>
                        </span>
                        <!-- kasutusnäidete seletused -->
                        <!-- Kliendiga kokku lepitud: Kasutusnäite seletusi ei näita -->
                        <!-- <span th:if="${not #lists.isEmpty(usageMeaning.usageDefinitions)}">
                          <span th:each="usageDefinition : ${usageMeaning.usageDefinitions}">
                            <span class="example-text" th:text="${usageDefinition}"></span>
                          </span>
                        </span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 more-data">
            <!--
            <div class="level-3-panel row">
              <div class="col-12 morphology-panel">
                <div class="morphology-section">
                  <div class="intro">
                    <h6>Käänamine</h6>
                    <div class="row label-md">
                      <div class="col-6">Ainsus</div>
                      <div class="col-6">Mitmus</div>
                    </div>
                    <div class="row intro">
                      <div class="col-12 label">nimetav</div>
                      <div class="col">
                        <div>tekk</div>
                        <button class="btn btn-speaker" data-toggle="tooltip" title="[hääldusmärgid]">
                          <span class="icon icon-speaker"></span>
                        </button>
                      </div>
                      <div class="col">
                        <div>tekid</div>
                        <button class="btn btn-speaker" data-toggle="tooltip" title="[hääldusmärgid]">
                          <span class="icon icon-speaker"></span>
                        </button>
                      </div>
                    </div>
                    <div class="row intro">
                      <div class="col-12 label">omastav</div>
                      <div class="col">
                        <div>teki</div>
                      </div>
                      <div class="col">
                        <div>tekkide</div>
                      </div>
                    </div>
                    <div class="row intro">
                      <div class="col-12 label">osastav</div>
                      <div class="col">
                        <div>tekki</div>
                      </div>
                      <div class="col">
                        <div>tekke</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 label">[kääne]</div>
                    <div class="col">
                      <div>[sõna]</div>
                    </div>
                    <div class="col">
                      <div>[sõna]</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 label">[kääne]</div>
                    <div class="col">
                      <div>[sõna]</div>
                    </div>
                    <div class="col">
                      <div>[sõna]</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="more-btn">
                <span class="icon icon-chevron-left"></span>
              </button>
            </div>
             -->
            <!-- esialgne morfoloogia -->
            <div class="level-3-panel row" th:if="${not #lists.isEmpty(wordData.wordRelations)}">
              <div class="col-12">
                <h6>Sõna seosed</h6>
                <div style="margin-bottom: 0.5em;" th:each="relation, relationIter : ${wordData.wordRelations}">
                  <a th:id="${'word_search_link_rel_' + relationIter.count}" href="">
                    <span th:text="${relation.getLabel()}"></span>
                  </a>
                  <span th:text="${'('+relation.getRelationType().getValue()+')'}"></span>
                </div>
              </div>
            </div>
            <div class="level-3-panel morphology-test row" th:if="${not #lists.isEmpty(wordData.paradigms)}">
              <h6 class="col-12">Sõnavormid</h6>
              <div class="col" th:each="paradigm : ${wordData.paradigms}">
                <div th:if="${not #lists.isEmpty(paradigm.forms)}">
                  <table>
                    <tr th:each="form : ${paradigm.forms}">
                      <td>
                        <span th:text="${form.morph.value}" th:if="${form.morph != null}"></span>
                      </td>
                      <td>
                        <span th:text="${form.form}"></span>
                      </td>
                      <td>
                        <span th:text="${form.displayForm}" th:unless="${#strings.isEmpty(form.displayForm)}"></span>
                      </td>
                      <td>
                        <span th:text="${form.vocalForm}" th:unless="${#strings.isEmpty(form.vocalForm)}"></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!-- end esialgne morfoloogia -->
            <div class="level-3-panel row" th:if="${not #lists.isEmpty(wordData.imageFiles)}">
              <div class="col">
                <img class="homonym-image" th:each="imageFile : ${wordData.imageFiles}" th:src="@{'/files/images/' + ${imageFile}}"></img>
              </div>
            </div>
            <div id="korp">
              <hr />
              Otsin näitelauseid...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="level-3-panel row" th:fragment="korp" th:if="${!#lists.isEmpty(sentences)}">
    <div class="col-12 corp-panel">
      <h6>Veel näitelauseid</h6>
      <div style="margin-bottom: 0.5em;" th:each="sentence : ${sentences}">
        <span th:text="${sentence.getLeftPart()}"></span>
        <b th:text="${sentence.getMiddlePart()}"></b>
        <span th:text="${sentence.getRightPart()}"></span>
      </div>
    </div>
    <button class="more-btn">
      <span class="icon icon-chevron-left"></span>
    </button>
  </div>
  <script th:inline="javascript">
  	var sourceLang = /*[[${sessionBean.sourceLang}]]*/"est";
  	var destinLang = /*[[${sessionBean.destinLang}]]*/"est";
  	var speechRecognitionServiceUrl = /*[[${speechRecognitionServiceUrl}]]*/'/';
  	initialisePage();
  	initialiseRecording(speechRecognitionServiceUrl);
  </script>
</body>
</html>
