<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="survey-active">
  <th:block th:fragment="lexeme-data">
    <div th:id="|lexeme-section-${lexeme.lexemeId}|" class="w-100">
      <div th:classappend="${lexeme.levels != null && lexeme.levels.length() == 3} ? 'pl-lg-4 pl-3': ''">
        <th:block th:if="${lexeme.correctMeaningWord != null}">
          <div>
            <span th:text="#{label.word.incorrect}"></span>
            <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, lexeme.correctMeaningWord.value, lexeme.correctMeaningWord.homonymNr, lexeme.correctMeaningWord.lang)}}" class="synonym">
              <span th:utext="${@decorUtil.getWordValueMarkup(lexeme.correctMeaningWord)}">tee</span>
            </a>
          </div>
          <div class="row" th:if="${not #maps.isEmpty(lexeme.lexemeNotesByLang)}">
            <div class="col-6">
              <span th:text="#{label.public.note}" class="text-caption">Hea teada</span>
            </div>
            <div class="col-12">
              <div class="d-flex flex-row" th:each="noteEntry : ${lexeme.lexemeNotesByLang}">
                <th:block th:with="langData=${@viewUtil.getLangData(noteEntry.key)}">
                  <span th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip" th:unless="${langData.imageName}" class="lang-code text-caption mr-2 align-self-start">1</span>
                  <img th:src="|@{/view/images}${langData.imageName}|" th:title="${langData.label}" data-toggle="tooltip" th:if="${langData.imageName}" class="lang-code-img mr-2 align-self-start">
                </th:block>
                <div><p class="mb-1" th:each="note, noteIter : ${noteEntry.value}" th:utext="${note.valuePrese}"></p></div>
              </div>
            </div>
          </div>
        </th:block>
        <th:block th:if="${lexeme.correctMeaningWord == null}">
          <div class="d-flex flex-row" th:with="hasMultipleLexLexemes=${wordData.multipleLexLexemesExist}" th:classappend="${hasMultipleLexLexemes ? 'mt-2' : ''}">
            <th:block th:if="${hasMultipleLexLexemes}">
              <strong class="lexeme-level mr-2 definition-value font-weight-bold" th:aria-label="${wordData.word.value}" th:text="${lexeme.levels}"></strong>
            </th:block>
            <div class="w-100">
              <div class="meaning">
                <div class="definition-row definition-area">
                  <th:block th:if="${not #maps.isEmpty(lexeme.definitionsByLang)}">
                    <div class="mb-0 d-flex gap-2" th:each="definitionEntry : ${lexeme.definitionsByLang}">
                      <th:block th:with="langData=${@viewUtil.getLangData(definitionEntry.key)}">
                        <span th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip" th:unless="${langData.imageName}" class="lang-code text-caption align-self-start">1</span>
                        <img th:src="|@{/view/images}${langData.imageName}|" th:title="${langData.label}" data-toggle="tooltip" th:if="${langData.imageName}" class="lang-code-img align-self-start">
                      </th:block>
                      <span class="lang-code text-caption align-self-start"
                            th:if="${lexeme.proficiencyLevelCode != null}"
                            th:text="${lexeme.proficiencyLevelCode}" th:title="#{label.lexeme.proficiency.level}" data-toggle="tooltip"></span>
                      <div class="d-inline-block">
                        <span class="domain mr-1 mb-2" th:each="domain,domainIter : ${lexeme.domains}" th:text="${domain.value + (domainIter.last ? '' : ', ')}"></span>
                        <span class="domain register text-caption search__helper-text mr-1 mb-2" th:each="register,registerIter : ${lexeme.registers}" th:text="${register.value + (registerIter.last ? '' : ', ')}"></span>
                        <th:block th:each="definition,definitionIter : ${definitionEntry.value}">
                          <th:block th:unless="${definition.subDataExists}">
                            <span class="definition-value mb-2 mr-1 text-weight-semi-bold text-body-regular" th:utext="${definition.valuePrese + (definitionIter.last ? '' : '; ')}"></span>
                          </th:block>
                          <th:block th:if="${definition.subDataExists}">
                            <div class="d-flex gap-2 flex-wrap" th:id="${'definition-entry-' + definition.id}">
                              <span class="definition-value mb-2 mr-1 text-weight-semi-bold text-body-regular">
                                <th:block th:utext="${definition.valuePrese}"></th:block>
                                <th:block th:unless="${#lists.isEmpty(definition.sourceLinks)}">
                                  <span class="definition-sources">
                                    <th:block th:each="sourceLink,sourceLinkIter : ${definition.sourceLinks}">
                                      <th:block th:replace="common-app :: source-link"></th:block>
                                      <span th:unless="${sourceLinkIter.last}">, </span>
                                    </th:block>
                                  </span>
                                </th:block>
                              </span>
                              <th:block th:unless="${#lists.isEmpty(definition.notes)}">
                                <span th:each="note : ${definition.notes}">
                                  <span class="additional-meta mb-2" th:utext="${note.valuePrese}"></span>
                                  <span class="definition-sources">
                                    <th:block th:each="sourceLink,sourceLinkIter : ${note.sourceLinks}">
                                      <th:block th:replace="common-app :: source-link"></th:block>
                                      <span th:unless="${sourceLinkIter.last}">, </span>
                                    </th:block>
                                  </span>
                                </span>
                              </th:block>
                            </div>
                          </th:block>
                        </th:block>
                        <th:block th:if="${lexeme.showSection1}">
                          <th:block th:if="${lexeme.showPoses}">
                            <span class="lang-code text-caption lang-code--unrestricted" th:each="pos : ${lexeme.poses}" th:text="${pos.value}"></span>
                          </th:block>
                          <span class="lexeme grammars lang-code text-caption lang-code--unrestricted" th:unless="${#lists.isEmpty(lexeme.grammars)}">
                            <span th:each="grammar,grammarIter : ${lexeme.grammars}" th:utext="${grammar.valuePrese + (grammarIter.last ? '' : ',')}" th:classappend="${grammarIter.last ? '' : 'mr-1'}"></span>
                          </span>
                          <span class="lexeme lang-code text-caption lang-code--unrestricted" th:if="${lexeme.valueState != null}" th:text="${lexeme.valueState.value}"></span>
                        </th:block>
                      </div>
                    </div>
                  </th:block>
                </div>
              <div class="meaning-meta"
                  th:unless="${#lists.isEmpty(lexeme.sourceLangFullSynonyms)} AND ${#lists.isEmpty(lexeme.sourceLangNearSynonyms)}">
                  <div class="synonyms" th:unless="${#lists.isEmpty(lexeme.sourceLangFullSynonyms)}">
                    <div th:id="${'full-synonym-collapse-panel-' + lexeme.lexemeId}" class="d-flex flex-wrap align-items-center">
                      <span th:text="#{label.syno.full}" class="mr-2 text-caption">sama mis</span>
                      <th:block th:each="syn,synIter : ${lexeme.sourceLangFullSynonyms}"
                                th:with="
                                isCollapsable=${synIter.count > T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT},
                                isLimit=${synIter.count == T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT}">
                        <span class="text-nowrap mr-1" th:classappend="${isCollapsable ? 'collapse collapse-target' : ''}" >
                          <a
                            th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, syn.value, syn.homonymNr, syn.lang)}}"
                            class="synonym"
                            th:attr="data-toggle=${syn.mwLexemeWeight == 1} ? 'tooltip' : null, title=${syn.mwLexemeWeight == 1} ? #{label.tooltip.synonym.full} : null"
                            th:utext="${@decorUtil.getWordValueMarkup(syn)}">
                            tee
                          </a>
                          <span th:if="${syn.additionalDataExists}" class="synonym-additional-meta text-small">
                            <span th:if="${(syn.mwLexemeValueState != null)}" th:text="${syn.mwLexemeValueState.value}"></span>
                            <th:block th:unless="${#lists.isEmpty(syn.wordTypes)}">
                              <th:block th:each="wordType,wtIter : ${syn.wordTypes}">
                                <span th:text="${wordType.value}" class="type-two text-uppercase text-caption search__helper-text"></span>
                                <span th:unless="${wtIter.last}" class="ml-n1">,</span>
                              </th:block>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(syn.mwLexemeRegisters)}">
                              <th:block th:each="register, rIter : ${syn.mwLexemeRegisters}">
                                <span th:text="${register.value}" class="type-two text-uppercase text-caption search__helper-text"></span>
                                <span th:unless="${rIter.last}" class="ml-n1">,</span>
                              </th:block>
                            </th:block>
                          </span>
                          <span th:unless="${synIter.last}" class="ml-n1" th:classappend="${isLimit ? 'collapse-target collapse' : ''}">,</span>
                        </span>
                      </th:block>
                      <button
                            th:id="${'full-synonym-show-more-btn-' + lexeme.lexemeId}"
                            class="btn-collapse show-more-btn btn-ellipsis"
                            type="button"
                            data-toggle="collapse"
                            data-dynamic-text="true"
                            th:data-target="${'#full-synonym-collapse-panel-' + lexeme.lexemeId + ' .collapse-target'}"
                            aria-expanded="false"
                            th:aria-controls="${'#full-synonym-collapse-panel-' + lexeme.lexemeId}"
                            th:if="${#lists.size(lexeme.sourceLangFullSynonyms) > T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT}">
                        <span class="btn-content see-more-content" th:title="#{button.see.more}">
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </span>
                        <span class="btn-content see-less-content">
                          <i class="fa fa-angle-up" aria-hidden="true"></i>
                          <span class="btn-txt" th:text="#{button.see.less}"></span>
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="synonyms" th:unless="${#lists.isEmpty(lexeme.sourceLangNearSynonyms)}">
                    <div th:id="${'near-synonym-collapse-panel-' + lexeme.lexemeId}" class="d-flex flex-wrap align-items-center">
                      <span th:text="#{label.syno.near}" class="mr-2 text-caption">sama mis</span>
                      <th:block th:each="syn,synIter : ${lexeme.sourceLangNearSynonyms}"
                                th:with="
                                isCollapsable=${synIter.count > T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT},
                                isLimit=${synIter.count == T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT}">
                        <span class="text-nowrap mr-1" th:classappend="${isCollapsable ? 'collapse collapse-target' : ''}" >
                          <a
                            th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, syn.value, syn.homonymNr, syn.lang)}}"
                            class="synonym"
                            th:attr="data-toggle=${syn.mwLexemeWeight == 1} ? 'tooltip' : null, title=${syn.mwLexemeWeight == 1} ? #{label.tooltip.synonym.full} : null"
                            th:utext="${@decorUtil.getWordValueMarkup(syn)}">
                            tee
                          </a>
                          <span th:if="${syn.additionalDataExists}" class="synonym-additional-meta text-small">
                            <span th:if="${(syn.mwLexemeValueState != null)}" th:text="${syn.mwLexemeValueState.value}"></span>
                            <th:block th:unless="${#lists.isEmpty(syn.wordTypes)}">
                              <th:block th:each="wordType,wtIter : ${syn.wordTypes}">
                                <span th:text="${wordType.value}" class="type-two text-uppercase text-caption search__helper-text"></span>
                                <span th:unless="${wtIter.last}" class="ml-n1">,</span>
                              </th:block>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(syn.mwLexemeRegisters)}">
                              <th:block th:each="register, rIter : ${syn.mwLexemeRegisters}">
                                <span th:text="${register.value}" class="type-two text-uppercase text-caption search__helper-text"></span>
                                <span th:unless="${rIter.last}" class="ml-n1">,</span>
                              </th:block>
                            </th:block>
                          </span>
                          <span th:unless="${synIter.last}" class="ml-n1" th:classappend="${isLimit ? 'collapse-target collapse' : ''}">,</span>
                        </span>
                      </th:block>
                      <button
                            th:id="${'near-synonym-show-more-btn-' + lexeme.lexemeId}"
                            class="btn-collapse show-more-btn btn-ellipsis"
                            type="button"
                            data-toggle="collapse"
                            data-dynamic-text="true"
                            th:data-target="${'#near-synonym-collapse-panel-' + lexeme.lexemeId + ' .collapse-target'}"
                            aria-expanded="false"
                            th:aria-controls="${'#near-synonym-collapse-panel-' + lexeme.lexemeId}"
                            th:if="${#lists.size(lexeme.sourceLangNearSynonyms) > T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT}">
                        <span class="btn-content see-more-content" th:title="#{button.see.more}">
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </span>
                        <span class="btn-content see-less-content">
                          <i class="fa fa-angle-up" aria-hidden="true"></i>
                          <span class="btn-txt" th:text="#{button.see.less}"></span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="matches" th:unless="${#maps.isEmpty(lexeme.destinLangSynonymsByLang)}">
                  <div class="additional-meta">
                    <th:block th:each="synEntry : ${lexeme.destinLangSynonymsByLang}"
                              th:with="destinLangSyns=${synEntry.value}">
                      <div th:id="${'matches-show-more-panel-' + lexeme.lexemeId + '-' + synEntry.key}" class="d-flex flex-wrap">
                        <th:block th:with="langData=${@viewUtil.getLangData(synEntry.key)}">
                          <span th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip" th:unless="${langData.imageName}" class="lang-code text-caption mr-2 align-self-start">1</span>
                          <img th:src="|@{/view/images}${langData.imageName}|" th:title="${langData.label}" data-toggle="tooltip" th:if="${langData.imageName}" class="lang-code-img mr-2 align-self-start">
                        </th:block>
                        <th:block th:each="syn,synIter : ${destinLangSyns}"
                                  th:with="
                                  isCollapsable=${synIter.count > T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT},
                                  isLimit=${synIter.count == T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT},
                                  isNearSyn=${syn.type == T(eki.common.constant.SynonymType).INEXACT_SYN_MEANING_REL}">
                          <span class="mr-1" th:classappend="${isCollapsable ? 'collapse collapse-target':''}">
                            <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, syn.value, syn.homonymNr, syn.lang)}}"
                               th:classappend="${syn.wordId == wordId ? 'word-matches-search' : ''}"
                               th:utext="${@decorUtil.getWordValueMarkup(syn)}">
                               tee
                            </a>
                            <span th:if="${syn.additionalDataExists}" class="text-small">
                              <span th:if="${(syn.mwLexemeValueState != null)}" th:text="${syn.mwLexemeValueState.value}"></span>
                              <th:block th:unless="${#lists.isEmpty(syn.wordTypes)}">
                                <th:block th:each="wordType,wtIter : ${syn.wordTypes}">
                                  <span th:text="${wordType.value}" class="type-two text-uppercase text-caption search__helper-text"></span>
                                  <span th:unless="${wtIter.last}" class="ml-n1">,</span>
                                </th:block>
                              </th:block>
                              <th:block th:unless="${#lists.isEmpty(syn.mwLexemeRegisters)}">
                                <th:block th:each="register, rIter : ${syn.mwLexemeRegisters}">
                                  <span th:text="${register.value}" class="type-two text-uppercase"></span>
                                  <span th:unless="${rIter.last}" class="ml-n1">,</span>
                                </th:block>
                              </th:block>
                            </span>
                            <th:block th:if="${isNearSyn}">
                              <span th:if="${nearSynDefinitionValue}">
                                <span class="mr-n1">(</span>
                                <span th:text="${syn.nearSynDefinitionValue}"></span>
                                <span class="ml-n1">)</span>
                              </span>
                            </th:block>
                            <span th:unless="${synIter.last}" class="ml-n1" th:classappend="${isLimit ? 'collapse-target collapse' : ''}">,</span>
                          </span>
                        </th:block>
                        <button 
                              th:id="${'matches-show-more-btn-' + lexeme.lexemeId + '-' + synEntry.key}"
                              class="btn-collapse show-more-btn btn-ellipsis"
                              type="button"
                              data-toggle="collapse"
                              data-dynamic-text="true"
                              th:data-target="${'#matches-show-more-panel-' + lexeme.lexemeId + '-' + synEntry.key + ' .collapse-target'}"
                              aria-expanded="false"
                              th:aria-controls="${'#matches-show-more-panel-' + lexeme.lexemeId + '-' + synEntry.key}"
                              th:if="${#lists.size(destinLangSyns) > T(eki.wordweb.constant.WebConstant).SYN_WORDS_DISPLAY_LIMIT}">
                          <span class="btn-content see-more-content" th:title="#{button.see.more}">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </span>
                          <span class="btn-content see-less-content">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                            <span class="btn-txt" th:text="#{button.see.less}"></span>
                          </span>
                        </button>
                      </div>
                    </th:block>
                  </div>
                </div>
              </div>
              <div class="additional-meta mb-2" th:if="${lexeme.showSection2}">
                <div class="d-flex related-lexemes flex-column" th:unless="${#lists.isEmpty(lexeme.relatedLexemes)}">
                  <div th:each="relationType, relationTypeIter : ${lexeme.relatedLexemesByType.keySet()}">
                    <span th:text="${relationType.value}" class="text-caption"></span>
                    <th:block th:each="relation, relationIter : ${lexeme.relatedLexemesByType.get(relationType)}">
                      <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, relation.value, relation.homonymNr, relation.lang)}}"
                         th:utext="${@decorUtil.getWordValueMarkup(relation) + (relationIter.last ? '' : ',')}"></a>
                    </th:block>
                  </div>
                </div>
                <div class="related-meanings mb-3" th:unless="${#lists.isEmpty(lexeme.relatedMeanings)}">
                  <div class="relation-list d-flex flex-row flex-wrap" th:each="relationType, relationTypeIter : ${lexeme.relatedMeaningsByType.keySet()}">
                    <span class="mr-2 search__helper-text text-caption" th:text="${relationType.value}"></span>
                    <th:block th:each="relation, relationIter : ${lexeme.relatedMeaningsByType.get(relationType)}">
                      <div class="relation-item mr-1">
                        <a class="font-weight-bold" th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, relation.value, relation.homonymNr, relation.lang)}}">
                          <span th:utext="${@decorUtil.getWordValueMarkup(relation)}">tee</span>
                        </a>
                        <th:block th:unless="${#lists.isEmpty(relation.wordTypes)}">
                          <th:block th:each="wordType,wtIter : ${relation.wordTypes}">
                            <span th:text="${wordType.value}" class="text-small text-uppercase"></span>
                            <span th:unless="${wtIter.last}" class="ml-n1">,</span>
                          </th:block>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(relation.lexRegisters)}">
                          <th:block th:each="register, rIter : ${relation.lexRegisters}">
                            <span class="rections register">
                              <span th:text="${register.value}" class="text-uppercase text-small"></span>
                              <span th:unless="${rIter.last}" class="ml-n1">,</span>
                            </span>
                          </th:block>
                        </th:block>
                        <span th:unless="${relationIter.last}" class="ml-n1">,</span>
                      </div>
                    </th:block>
                  </div>
                </div>
                <div class="row" th:unless="${#lists.isEmpty(lexeme.learnerComments)}">
                  <div class="col-6">
                    <span th:text="#{label.learner.comment}" class="text-caption">Õppekommentaar</span>
                  </div>
                  <div class="col-12">
                    <div th:each="note : ${lexeme.learnerComments}" th:utext="${note}"></div>
                  </div>
                </div>
                <div class="row" th:if="${(not #maps.isEmpty(lexeme.lexemeNotesByLang)) or (not #maps.isEmpty(lexeme.meaningNotesByLang))}">
                  <div class="col-6">
                    <span th:text="#{label.public.note}" class="text-caption">Hea teada</span>
                  </div>
                  <div class="col-12">
                    <th:block th:if="${not #maps.isEmpty(lexeme.lexemeNotesByLang)}">
                      <div class="d-flex flex-row" th:each="noteEntry : ${lexeme.lexemeNotesByLang}">
                        <th:block th:with="langData=${@viewUtil.getLangData(noteEntry.key)}">
                          <span th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip" th:unless="${langData.imageName}" class="lang-code text-caption mr-2 align-self-start">1</span>
                          <img th:src="|@{/view/images}${langData.imageName}|" th:title="${langData.label}" data-toggle="tooltip" th:if="${langData.imageName}" class="lang-code-img mr-2 align-self-start">
                        </th:block>
                        <div><p  class="mb-1 text-body-two text-weight-medium" th:each="note, noteIter : ${noteEntry.value}" th:utext="${note.valuePrese}"></p></div>
                      </div>
                    </th:block>
                    <th:block th:if="${not #maps.isEmpty(lexeme.meaningNotesByLang)}">
                      <div class="d-flex flex-row" th:each="noteEntry : ${lexeme.meaningNotesByLang}">
                        <th:block th:with="langData=${@viewUtil.getLangData(noteEntry.key)}">
                          <span th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip" th:unless="${langData.imageName}" class="lang-code text-caption mr-2 align-self-start">1</span>
                          <img th:src="|@{/view/images}${langData.imageName}|" th:title="${langData.label}" data-toggle="tooltip" th:if="${langData.imageName}" class="lang-code-img mr-2 align-self-start">
                        </th:block>
                        <div class="d-flex flex-column good-to-know-info">
                          <div th:each="note : ${noteEntry.value}">
                            <span th:utext="${note.valuePrese}"></span>
                            <th:block th:unless="${#lists.isEmpty(note.sourceLinks)}">
                              <span class="definition-sources">
                                <span th:each="sourceLink : ${note.sourceLinks}">
                                  <th:block th:replace="common-app :: source-link"></th:block>
                                </span>
                              </span>
                            </th:block>
                          </div>
                        </div>
                      </div>
                    </th:block>
                  </div>
                </div>
                <div class="row" th:unless="${#lists.isEmpty(lexeme.lexemeSourceLinks)}">
                  <div class="col-6">
                    <b></b>
                  </div>
                  <div class="col-12">
                    <span class="definition-sources">
                      <th:block th:each="sourceLink,sourceLinkIter : ${lexeme.lexemeSourceLinks}">
                        <th:block th:replace="common-app :: source-link"></th:block>
                        <span th:unless="${sourceLinkIter.last}">,</span>
                      </th:block>
                    </span>
                  </div>
                </div>
              </div>
              <div class="dependencies" th:if="${lexeme.showSection3}">
                <div th:unless="${#lists.isEmpty(lexeme.governments)}" class="rekts-est d-flex flex-row align-items-baseline flex-wrap">
                  <span class="text-caption" th:text="#{label.government}">Rektsioon</span>
                  <span class="lang-code text-caption lang-code--unrestricted mb-1 d-inline-block" data-toggle="tooltip"
                        th:each="government : ${lexeme.governments}"
                        th:text="${government.value}"
                        th:title="${@viewUtil.getGovernmentTooltipText(government, lexeme.posCodes)}"></span>
                </div>
                <div class="dependence-group" th:unless="${#lists.isEmpty(lexeme.usages)}">
                  <span class="text-caption" th:text="#{button.label.usages}">Näited</span>
                  <th:block th:each="usage,usageIter : ${lexeme.usages}"
                            th:with="isCollapsable=${usageIter.count > T(eki.wordweb.constant.WebConstant).TYPICAL_COLLECTIONS_DISPLAY_LIMIT}">
                    <div class="usage-item" th:if="${!isCollapsable}">
                      <div class="example-sentence-wrap">
                        <span class="example-text example-text-w-audio">
                          <span class="text-body-two text-weight-medium" th:utext="${usage.valuePrese}"></span>
                          <button class="btn btn-speaker btn-speaker--inactive" th:aria-label="|#{aria.listen} - ${usage.value}|" th:if="${usage.langEst}"
                                  th:data-text="${usage.value}"
                                  data-service-id="speech"
                                  onclick="getAndPlayAudio(this)">
                            <span class="icon icon-speaker icon--small"></span>
                          </button>
                        </span>
                        <th:block th:unless="${#lists.isEmpty(usage.sourceLinks)}">
                          <span class="example-text" th:each="sourceLink : ${usage.sourceLinks}">
                            <th:block th:replace="common-app :: source-link"></th:block>
                          </span>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(usage.usageTranslationValues)}">
                          <span th:each="usageTranslation : ${usage.usageTranslationValues}" class="example-text">
                            <span class="example-text-value text-body-two text-weight-medium" th:utext="${@viewUtil.wrapDecorations(usageTranslation)}"></span>
                          </span>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(usage.usageDefinitionValues)}">
                          <span th:each="usageDefinition : ${usage.usageDefinitionValues}" class="example-text" >
                            <span class="example-text-value text-body-two text-weight-medium" th:utext="${usageDefinition}"></span>
                          </span>
                        </th:block>
                      </div>
                    </div>
                  </th:block>
                  <div th:id="${'lexeme-usages-more-panel-' + lexeme.lexemeId}" class="collapse" th:if="${lexeme.moreUsages}">
                    <div class="d-flex flex-column">
                      <th:block th:each="usage,usageIter : ${lexeme.usages}"
                                th:with="isCollapsable=${usageIter.count > T(eki.wordweb.constant.WebConstant).TYPICAL_COLLECTIONS_DISPLAY_LIMIT}">
                        <div class="usage-item" th:if="${isCollapsable}">
                          <div class="example-sentence-wrap">
                            <span class="example-text example-text-w-audio">
                              <span class="example-text-value text-body-two text-weight-medium" th:utext="${usage.valuePrese}"></span>
                              <button class="btn btn-speaker btn-speaker--inactive" th:aria-label="|#{aria.listen} - ${usage.value}|" th:if="${usage.langEst}"
                                      th:data-text="${usage.value}"
                                      data-service-id="speech"
                                      onclick="getAndPlayAudio(this)">
                                <span class="icon icon-speaker icon--small"></span>
                              </button>
                            </span>
                            <th:block th:unless="${#lists.isEmpty(usage.sourceLinks)}">
                              <span class="example-text" th:each="sourceLink : ${usage.sourceLinks}">
                                <th:block th:replace="common-app :: source-link"></th:block>
                              </span>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(usage.usageTranslationValues)}">
                              <span th:each="usageTranslation : ${usage.usageTranslationValues}" class="example-text">
                                <span class="example-text-value text-body-two text-weight-medium" th:utext="${@viewUtil.wrapDecorations(usageTranslation)}"></span>
                              </span>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(usage.usageDefinitionValues)}">
                              <span th:each="usageDefinition : ${usage.usageDefinitionValues}" class="example-text" >
                                <span class="example-text-value text-body-two text-weight-medium" th:utext="${usageDefinition}"></span>
                              </span>
                            </th:block>
                          </div>
                        </div>
                      </th:block>
                    </div>
                  </div>
                  <button
                        th:id="${'lexeme-usages-show-more-btn-' + lexeme.lexemeId}"
                        class="btn-collapse show-more-btn btn-ellipsis"
                        th:title="#{button.see.more}"
                        type="button"
                        data-toggle="collapse"
                        aria-expanded="false"
                        th:aria-controls="${'#lexeme-usages-more-panel-' + lexeme.lexemeId}"
                        th:data-target="${'#lexeme-usages-more-panel-' + lexeme.lexemeId}"
                        th:if="${lexeme.moreUsages}">
                    <span class="btn-content see-more-content" th:title="#{button.see.more}">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </span>
                    <span class="btn-content see-less-content">
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                      <span class="btn-txt" th:text="#{button.see.less}"></span>
                    </span>
                  </button>
                </div>
                <div class="mt-3 gallery-image__wrapper" th:unless="${#lists.isEmpty(lexeme.meaningImages)}">
                  <th:block th:each="meaningImage : ${lexeme.meaningImages}">
                    <div>
                      <a th:href="${meaningImage.url}" class="gallery-image my-auto">
                        <img class="homonym-image m-0 p-0" th:src="${meaningImage.url}" th:title="${meaningImage.title}">
                        <span class="gallery-image__title" th:utext="${meaningImage.title}"></span>
                      </a>
                      <th:block th:unless="${#lists.isEmpty(meaningImage.sourceLinks)}">
                        <div th:each="sourceLink : ${meaningImage.sourceLinks}">
                          <th:block th:replace="common-app :: source-link"></th:block>
                        </div>
                      </th:block>
                    </div>
                  </th:block>
                </div>
                <div class="mt-3 d-flex flex-wrap row" th:unless="${#lists.isEmpty(lexeme.meaningMedias)}">
                  <th:block th:each="mediaFile : ${lexeme.meaningMedias}">
                    <div class="col-12 col-md-4 mb-3 d-flex flex-column">
                      <iframe th:src="${mediaFile.url}" allowfullscreen></iframe>
                    </div>
                  </th:block>
                </div>
              </div>
              <div class="collocations-section" th:if="${lexeme.collocExists}">
                <div th:id="|collocs-area-${lexeme.lexemeId}|">
                  <div th:id="|colloc-fulldata-${lexeme.lexemeId}|" class="collapse">
                    <th:block th:unless="${#lists.isEmpty(lexeme.collocPosGroups)}">
                      <div class="colloc-heading">
                        <span th:text="#{label.collocations}" class="text-caption">Naabersõnad</span>
                      </div>
                      <div class="w-100">
                        <div th:each="collocPosGr,collocPosGrIter : ${lexeme.collocPosGroups}" class="colloc-section w-100">
                          <div class="colloc-name">
                            <span class="text-caption" th:text="${collocPosGr.posGroup.value}"></span>
                          </div>
                          <div th:each="collocRelGr,collocRelGrIter : ${collocPosGr.relGroups}" class="colloc-inner-section">
                            <div class="colloc-row">
                              <span th:each="displayColloc,displayCollocIter : ${collocRelGr.displayCollocs}" class="colloc-member" >
                                <span th:if="${displayCollocIter.first}">
                                  <span th:each="collocMemGr : ${displayColloc.memberGroupOrder}">
                                    <span th:if="${@viewUtil.enumEquals(collocMemGr, T(eki.wordweb.constant.CollocMemberGroup).HEADWORD)}">
                                      <span th:if="${displayColloc.headwordMember.conjunct != null && displayColloc.headwordMember.preConjunct}" class="value"
                                            th:text="${displayColloc.headwordMember.conjunct}">
                                      </span>
                                      <span class="font-weight-bold" th:text="${displayColloc.headwordMember.formValue}"></span>
                                      <span th:if="${displayColloc.headwordMember.conjunct != null && displayColloc.headwordMember.postConjunct}" class="value"
                                            th:text="${displayColloc.headwordMember.conjunct}">
                                      </span>
                                    </span>
                                    <span th:if="${@viewUtil.enumEquals(collocMemGr, T(eki.wordweb.constant.CollocMemberGroup).PRIMARY)}">
                                      <span th:each="collocMem,collocMemIter : ${displayColloc.primaryMembers}">
                                        <span th:if="${collocMem.conjunct != null && collocMem.preConjunct}" class="value" th:text="${collocMem.conjunct}"></span>
                                        <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, collocMem.wordValue, collocMem.homonymNr, collocMem.lang)}}">
                                          <span th:text="${collocMem.formValue}" class="value"></span>
                                        </a>
                                        <span th:if="${collocMem.conjunct != null && collocMem.postConjunct}" class="value" th:text="${collocMem.conjunct}"></span>
                                      </span>
                                    </span>
                                    <span th:if="${@viewUtil.enumEquals(collocMemGr, T(eki.wordweb.constant.CollocMemberGroup).CONTEXT)}">
                                      <span th:each="collocMem,collocMemIter : ${displayColloc.contextMembers}">
                                        <span th:if="${collocMem.conjunct != null}" class="value" th:text="${collocMem.conjunct}"></span>
                                        <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, collocMem.wordValue, collocMem.homonymNr, collocMem.lang)}}">
                                          <i>
                                            <span th:text="${collocMem.formValue + (collocMemIter.last ? '' : ',')}" class="value"></span>
                                          </i>
                                        </a>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                                <span th:if="${!displayCollocIter.first}" data-toggle="tooltip" data-placement="top" data-html="true" th:title="${@viewUtil.getTooltipHtml(displayColloc)}">
                                  <span th:each="collocMem,collocMemIter : ${displayColloc.primaryMembers}">
                                    <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, collocMem.wordValue, collocMem.homonymNr, collocMem.lang)}}">
                                      <span th:text="${collocMem.formValue}" class="value"></span>
                                    </a>
                                    <span th:unless="${collocMemIter.last}">&nbsp;</span>
                                  </span>
                                </span>
                              </span>
                              <button th:id="|colloc-toggle-btn-${lexeme.lexemeId}-${collocPosGrIter.index}-${collocRelGrIter.index}|" 
                                      class="show-more-btn btn-ellipsis"
                                      th:title="#{button.see.more}"
                                      type="button"
                                      data-toggle="collapse"
                                      aria-expanded="false"
                                      th:aria-controls="|#colloc-usages-area-${lexeme.lexemeId}-${collocPosGrIter.index}-${collocRelGrIter.index}|"
                                      th:data-target="|#colloc-usages-area-${lexeme.lexemeId}-${collocPosGrIter.index}-${collocRelGrIter.index}, #colloc-toggle-btn-${lexeme.lexemeId}-${collocPosGrIter.index}-${collocRelGrIter.index}|"
                                      th:unless="${#lists.isEmpty(collocRelGr.allUsageValues)}">
                                <i class="collapse-icon fa fa-ellipsis-h" aria-hidden="true"></i>
                              </button>
                            </div>
                            <div th:id="|colloc-usages-area-${lexeme.lexemeId}-${collocPosGrIter.index}-${collocRelGrIter.index}|" 
                                 th:unless="${#lists.isEmpty(collocRelGr.allUsageValues)}" class="pb-1 pl-2 pl-md-4 collapse">
                              <div th:each="collocUsage : ${collocRelGr.allUsageValues}" class="colloc-usage-row examle-text-wrap">
                                <span class="font-italic" th:text="${collocUsage}"></span>
                                <button th:aria-label="|#{aria.listen} - ${collocUsage}|" class="btn btn-speaker btn-speaker--inactive"
                                        th:data-text="${collocUsage}"
                                        data-service-id="speech"
                                        onclick="getAndPlayAudio(this)">
                                  <span class="icon icon-speaker icon--small"></span>
                                </button>
                              </div>
                              <button th:unless="${#lists.isEmpty(collocRelGr.allUsageValues)}" class="show-more-btn show-more-btn--unrestricted" data-toggle="collapse" aria-expanded="true"
                                      th:aria-controls="|#colloc-usages-area-${lexeme.lexemeId}-${collocPosGrIter.index}-${collocRelGrIter.index}|"
                                      th:data-target="|#colloc-usages-area-${lexeme.lexemeId}-${collocPosGrIter.index}-${collocRelGrIter.index}, #colloc-toggle-btn-${lexeme.lexemeId}-${collocPosGrIter.index}-${collocRelGrIter.index}|">
                                <i class="collapse-icon fa fa-angle-up" aria-hidden="true"></i>
                                <span th:text="#{button.see.less}"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </th:block>
                    <button class="show-more-btn show-more-btn--unrestricted" data-toggle="collapse" th:data-target="${'#colloc-samples-' + lexeme.lexemeId + ', ' + '#colloc-fulldata-' + lexeme.lexemeId}" >
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                      <span th:text="#{button.see.less}"></span>
                    </button>
                  </div>
                  <div th:id="|colloc-samples-${lexeme.lexemeId}|" class="w-100 collapse show">
                    <div class="colloc-heading">
                      <span th:text="#{label.collocations}" class="text-caption">Naabersõnad</span>
                    </div>
                    <div class="colloc-section" th:unless="${#lists.isEmpty(lexeme.collocPosGroups)}">
                      <div class="colloc-inner-section">
                        <div class="colloc-row">
                          <span th:each="displayColloc,displayCollocIter : ${lexeme.limitedPrimaryDisplayCollocs}" class="colloc-member">
                            <span th:if="${displayCollocIter.first}">
                              <span th:each="collocMemGr : ${displayColloc.memberGroupOrder}">
                                <span th:if="${@viewUtil.enumEquals(collocMemGr, T(eki.wordweb.constant.CollocMemberGroup).HEADWORD)}">
                                  <span th:if="${displayColloc.headwordMember.conjunct != null && displayColloc.headwordMember.preConjunct}" class="value"
                                        th:text="${displayColloc.headwordMember.conjunct}"></span>
                                  <span class="font-weight-bold" th:text="${displayColloc.headwordMember.formValue}"></span>
                                  <span th:if="${displayColloc.headwordMember.conjunct != null && displayColloc.headwordMember.postConjunct}" class="value"
                                        th:text="${displayColloc.headwordMember.conjunct}"></span>
                                </span>
                                <span th:if="${@viewUtil.enumEquals(collocMemGr, T(eki.wordweb.constant.CollocMemberGroup).PRIMARY)}">
                                  <span th:each="collocMem,collocMemIter : ${displayColloc.primaryMembers}">
                                    <span th:if="${collocMem.conjunct != null && collocMem.preConjunct}" class="value" th:text="${collocMem.conjunct}"></span>
                                    <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, collocMem.wordValue, collocMem.homonymNr, collocMem.lang)}}">
                                      <span th:text="${collocMem.formValue}" class="value"></span>
                                    </a>
                                    <span th:if="${collocMem.conjunct != null && collocMem.postConjunct}" class="value" th:text="${collocMem.conjunct}"></span>
                                  </span>
                                </span>
                                <span th:if="${@viewUtil.enumEquals(collocMemGr, T(eki.wordweb.constant.CollocMemberGroup).CONTEXT)}">
                                  <span th:each="collocMem,collocMemIter : ${displayColloc.contextMembers}">
                                    <span th:if="${collocMem.conjunct != null}" class="value" th:text="${collocMem.conjunct}"></span>
                                    <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, collocMem.wordValue, collocMem.homonymNr, collocMem.lang)}}">
                                      <i>
                                        <span th:text="${collocMem.formValue + (collocMemIter.last ? '' : ',')}" class="value"></span>
                                      </i>
                                    </a>
                                  </span>
                                </span>
                              </span>
                            </span>
                            <span th:if="${!displayCollocIter.first}" data-toggle="tooltip" data-placement="top" data-html="true" th:title="${@viewUtil.getTooltipHtml(displayColloc)}">
                              <span th:each="collocMem,collocMemIter : ${displayColloc.primaryMembers}">
                                <a th:href="@{${@viewUtil.getSearchUri(sessionBean, searchMode, collocMem.wordValue, collocMem.homonymNr, collocMem.lang)}}">
                                  <span th:text="${collocMem.formValue}" class="value"></span>
                                </a>
                                <span th:unless="${collocMemIter.last}">&nbsp;</span>
                              </span>
                            </span>
                          </span>
                          <button class="show-more-btn btn-ellipsis"
                                  th:title="#{button.see.more}"
                                  type="button"
                                  data-toggle="collapse"
                                  aria-expanded="false"
                                  th:data-target="|#colloc-samples-${lexeme.lexemeId}, #colloc-fulldata-${lexeme.lexemeId}|">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </th:block>
</body>
</html>
