<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common-app :: common_header(~{::title},~{::links},_)">
    <title>Sõnaveeb - Uued sõnad</title>
    <th:block th:fragment="links">
      <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
    </th:block>
  </head>
  <body class="survey-active">
    <th:block th:replace="common-app :: wcag-sidebar"></th:block>
    <th:block th:replace="common-app :: wcag-main"></th:block>
    <th:block th:replace="common-app :: ie-user"></th:block>
    <th:block
      th:replace="common-app :: header(withSearch = ${false})"
    ></th:block>
    <div class="news-page__wrapper">
      <div class="new-words-page__header">
        <h1 th:text="#{label.newwords.title}">Uued sõnad</h1>
        <p th:text="#{label.newwords.description}">Midagi midagi</p>
        <img
          class="new-words-page__illustration"
          th:src="@{/view/images/nature.svg}"
          alt=""
          width="60"
          height="60"
        />
      </div>
      <div class="new-words-page__content">
        <th:block th:if="${newWordYears}">
          <th:block th:each="newWordYear, newWordYearIter : ${newWordYears}">
            <div
              class="new-words-page__separator"
              th:classappend="${newWordYearIter.isFirst ? 'new-words-page__separator--connected' : ''}"
            ></div>
            <h1
              class="new-words-page__year"
              th:text="${newWordYear.regYear}"
            ></h1>
            <div class="new-words-page__word-container">
              <th:block th:each="newWord : ${newWordYear.newWords}">
                <a
                  class="new-words-page__word"
                  th:href="@{${@viewUtil.getDetailSearchUri(newWord.word, newWord.homonymNr)}}"
                  th:utext="${@viewUtil.getWordValueMarkup(newWord)}"
                >
                Sõna
                </a>
              </th:block>
            </div>
          </th:block>
        </th:block>
      </div>
    </div>
    <div th:replace="common-app :: footer-content"></div>
    <th:block th:replace="common-app :: content-top"></th:block>
  </body>
</html>
