<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Sõnaveeb - Versioonid</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: wcag-sidebar"></th:block>
  <th:block th:replace="common-app :: wcag-main"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu"></div>
  <div class="container">
    <div class="learn-container p-5">
      <div class="row">
        <h3 th:text="#{label.news.title}">Sõnaveebi versiooniajalugu</h3>
      </div>
      <th:block th:unless="${newsArticles}">
        <div class="row mt-3">
          <span th:text="#{label.news.missing.data}">Hetkel andmed puuduvad....</span>
        </div>
      </th:block>
      <th:block th:if="${newsArticles}">
        <div class="row mt-3">
          <th:block th:each="newsArticle, newsArticleIter : ${newsArticles}">
            <div>
              <div>
                <h5>
                  <span th:text="${newsArticle.title}"></span>
                  <small th:text="${#temporals.format(newsArticle.created, 'dd.MM.yyyy')}"></small>
                </h5>
              </div>
              <ul>
                <th:block th:each="newsSection : ${newsArticle.newsSections}">
                  <li>
                    <span th:text="${newsSection}" style="white-space: pre-line"></span>
                  </li>
                </th:block>
              </ul>
              <hr th:unless="${newsArticleIter.last}"/>
            </div>
          </th:block>
        </div>
      </th:block>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
  <script th:inline="javascript">
    setActiveMenuItem('news');
  </script>
</body>
</html>
