<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(_,~{::links},_)">
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ww-od.js}"></script>
</th:block>
</head>
<body class="home-page d-flex flex-column survey-active">
  <th:block th:replace="common-app :: ie-user"></th:block>
  <th:block th:replace="common-app :: header(
    logoTemplate = ~{od-comp :: logo},
    withLucky = ${false},
    withLangSelect = ${false},
    withSearch = ${false},
    searchInputTemplate = ~{od-comp :: search}
  )"></th:block>
  <div class="container-fluid home-page-content">
    <div class="row">
      <div class="col align-self-center main-content-wrapper">
        <div class="row">
          <div aria-hidden="true" class="col-12 mb-1 mb-md-2">
            <span class="logo logo-big"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
            <th:block th:replace="od-comp :: search"></th:block>
          </div>
        </div>
        <div class="logo-wrapper">
          <ul class="logo-list list-unstyled">
            <li>
              <a href="https://eki.ee" th:aria-label="#{general.eki}" target="_blank">
                <span class="eki-logo mini-logo"></span>
              </a>
            </li>
            <li>
              <span class="esf-logo mini-logo"></span>
            </li>
            <li>
              <span class="erf-logo mini-logo"></span>
            </li>
            <li>
              <span class="htm-logo mini-logo"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <div th:replace="common-app :: feedback-form"></div>
  <script th:inline="javascript">
  </script>
</body>
</html>
