<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title th:text="#{search.title(${searchValue})}">Otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ww-od.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: ie-user"></th:block>
  <th:block th:replace="od-comp :: search-header"></th:block>
  <div class="container-fluid homonym-page mb-5">
    <main id="mainContentArea" role="main" class="content-panel loading">
      <th:block th:replace="od-comp :: homonyms"></th:block>
      <th:block th:unless="${searchResult.resultExists}">
        <div class="no-results__wrapper">
          <th:block th:if="${searchResult.validSearch}">
            <h1 class="no-results__title">
              <span th:text="#{label.word.not.found.od}"></span>
            </h1>
          </th:block>
          <th:block th:unless="${searchResult.validSearch}">
            <h1 class="no-results__title" th:text="#{label.search.word.invalid}"></h1>
          </th:block>
        </div>
      </th:block>
      <th:block th:if="${searchResult.resultExists}">
        <div th:if="${searchResult.selectedWord != null}">
          <div class="word-results">
            <th:block th:with="word = ${searchResult.selectedWord}">
              <div class="d-flex align-items-center flex-wrap">
                <div class="search__lex-title-wrapper">
                  <h1 class="search__lex-title" th:utext="${@decorUtil.getWordValueMarkup(word)}">tee</h1>
                </div>
                <strong class="mr-2" th:aria-label="|#{aria.homonym} ${word.homonymNr}|" th:text="${word.homonymNr}">1</strong>
                <span class="mr-2" th:if="${word.displayMorph != null}" th:text="${word.displayMorph.value}"></span>
                <th:block th:each="wordType : ${word.wordTypes}" th:if="${not #lists.isEmpty(word.wordTypes)}">
                  <span class="lang-code text-caption lang-code--unrestricted mr-2" th:text="${wordType.value}"></span>
                </th:block>
              </div>
              <div class="d-flex align-items-end flex-wrap gap-2">
                <!-- if needed -->
              </div>
              <div class="search__block search__block--unified">
                <th:block th:if="${word.wordOdMorph}">
                  <div class="mt-2">
                    <div th:text="#{label.od.morpho}" class="text-muted">Lühimorfo</div>
                    <div th:utext="${word.wordOdMorph.valuePrese}"></div>
                  </div>
                </th:block>
                <th:block th:if="${word.lexemeMeaningsContentExist}">
                  <div class="mt-2">
                    <div th:text="#{label.od.meaning}" class="text-muted">Tähendusvihjed</div>
                    <div>
                      <th:block th:each="lexemeMeaning, lexemeMeaningIter : ${word.lexemeMeanings}">
                        <th:block th:each="register, registerIter : ${lexemeMeaning.registers}">
                          <span th:text="${register.value}"></span>
                          <span th:unless="${registerIter.last}" class="ml-n1">,</span>
                        </th:block>
                        <span th:if="${lexemeMeaning.valueState != null}" th:text="${lexemeMeaning.valueState.value}"></span>
                        <th:block th:if="${lexemeMeaning.meaning.lexemeWords}">
                          <span>(=</span>
                          <th:block th:each="lexemeWord, lexemeWordIter : ${lexemeMeaning.meaning.lexemeWords}">
                            <span th:utext="${lexemeWord.valuePrese}"></span>
                            <th:block th:each="register, registerIter : ${lexemeWord.registers}">
                              <span th:text="${register.value}"></span>
                              <span th:unless="${registerIter.last}" class="ml-n1">,</span>
                            </th:block>
                            <span th:if="${lexemeWord.valueState != null}" th:text="${lexemeWord.valueState.value}"></span>
                            <span th:unless="${lexemeWordIter.last}" class="ml-n1">,</span>
                          </th:block>
                          <span class="ml-n1">)</span>
                        </th:block>
                        <span th:if="${lexemeMeaning.meaning.definition}" th:utext="${lexemeMeaning.meaning.definition.valuePrese}"></span>
                        <span th:unless="${lexemeMeaningIter.last}" class="ml-n1">;</span>
                      </th:block>
                    </div>
                  </div>
                </th:block>
                <th:block th:if="${word.wordOdRecommend}">
                  <div class="mt-2">
                    <div th:text="#{label.od.recommend}" class="text-muted">Selgitus</div>
                    <div th:utext="${word.wordOdRecommend.valuePrese}"></div>
                  </div>
                </th:block>
                <th:block th:if="${word.wordOdUsages}">
                  <div class="mt-2">
                    <div th:text="#{label.od.usage}" class="text-muted">Näited</div>
                    <th:block th:each="usage : ${word.wordOdUsages}">
                      <span th:utext="${usage.valuePrese}"></span>
                    </th:block>
                  </div>
                </th:block>
                <th:block th:if="${word.primaryWordRelationGroups}">
                  <div class="mt-2">
                    <div th:text="#{label.od.word.rel.comp}" class="text-muted">Liitsõnad</div>
                    <ul>
                      <th:block th:each="wordRelationGroup : ${word.primaryWordRelationGroups}">
                        <li>
                          <th:block th:each="relatedWord, relatedWordIter : ${wordRelationGroup.relatedWords}">
                            <span th:utext="${relatedWord.valuePrese}"></span>
                            <span th:unless="${relatedWordIter.last}" class="ml-n1">,</span>
                          </th:block>
                        </li>
                      </th:block>
                    </ul>
                  </div>
                </th:block>
                <th:block th:if="${word.secondaryWordRelationGroups}">
                  <th:block th:each="wordRelationGroup : ${word.secondaryWordRelationGroups}">
                    <div class="mt-2">
                      <div th:text="${wordRelationGroup.wordRelType.value}" class="text-muted">Võrded</div>
                      <div>
                        <th:block th:each="relatedWord, relatedWordIter : ${wordRelationGroup.relatedWords}">
                          <span th:utext="${relatedWord.valuePrese}"></span>
                          <span th:unless="${relatedWordIter.last}" class="ml-n1">,</span>
                        </th:block>
                      </div>
                    </div>
                  </th:block>
                </th:block>
              </div>
            </th:block>
          </div>
        </div>
      </th:block>
    </main>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <script th:inline="javascript"></script>
</body>
</html>
