<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title th:text="#{menu.os.title}">ÕS</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/ww-os.js}"></script>
</th:block>
</head>
<body class="home-page d-flex flex-column survey-active os-home">
  <th:block th:replace="common-app :: ie-user"></th:block>
  <th:block
    th:replace="common-app :: header(
    withLogo = ${false},
    osPage = ${true},
    withLucky = ${false},
    withLangSelect = ${false},
    withSearch = ${false},
    searchInputTemplate = ~{os-comp :: search})">
  </th:block>
  <div class="home-page-content">
    <div class="os-home__logo" th:src="@{'/view/images/os-full.svg'}" aria-hidden="true"></div>
    <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
      <th:block th:replace="os-comp :: search"></th:block>
    </div>
    <a class="os-link" href="https://www.riigiteataja.ee/akt/114062011003" target="_blank">
      <span th:text="#{label.os.home.link.prefix}"></span>
      <span th:text="#{label.os.home.link.suffix}"></span>
      <i class="fas fa-external-link-alt ml-1" aria-hidden="true"></i>
    </a>
  </div>
  <div th:replace="os-comp :: footer"></div>
  <div th:replace="common-app :: feedback-form"></div>
  <script th:inline="javascript">
  	var searchWordFragUrl = /*[[@{/searchwordfrag/os}]]*/"/searchwordfrag/os";
  </script>
</body>
</html>
