<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title th:text="#{search.title(${searchValue})}">Otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/shared.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-os.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: ie-user"></th:block>
  <th:block
    th:replace="common-app :: header(
    osPage = ${true},
    logoTemplate = ~{os-comp :: logo},
    withLucky = ${false},
    withLangSelect = ${false},
    searchInputTemplate = ~{os-comp :: search})">
  </th:block>
  <div class="container-fluid homonym-page homonym-page--os">
    <main id="mainContentArea" role="main" class="content-panel loading">
      <th:block th:replace="os-comp :: homonyms"></th:block>
      <th:block th:unless="${searchResult.resultExists}">
        <div class="no-results__wrapper">
          <th:block th:if="${searchResult.validSearch}">
            <h1 class="no-results__title">
              <span th:text="#{label.search.word.not.found(${searchValue}, '')}"></span>
            </h1>
            <div th:utext="#{label.word.not.found.os}">Ei leidnud midagi</div>
            <a th:href="@{${@viewUtil.getDetailSearchUri(searchValue)}}" class="text-break" th:text="${searchValue}" target="_blank"></a>
          </th:block>
          <th:block th:unless="${searchResult.validSearch}">
            <h1 class="no-results__title" th:text="#{label.search.word.invalid}"></h1>
          </th:block>
        </div>
      </th:block>
      <th:block th:if="${searchResult.resultExists}">
        <div class="os-results" th:if="${searchResult.selectedWord != null}" th:with="word = ${searchResult.selectedWord}">
          <div class="d-flex align-items-center flex-wrap">
            <div class="os-search__title-wrapper">
              <h1 class="search__lex-title" th:utext="${@decorUtil.getWordValueMarkup(word)}">tee</h1>
              <strong class="os-search__title-number" th:aria-label="|#{aria.homonym} ${word.homonymNr}|" th:text="${word.homonymNr}" th:unless="${searchResult.singleResult}">1</strong>
            </div>
            <span class="os-tag mr-2" th:if="${word.displayMorph != null}" th:text="${word.displayMorph.value}"></span>
            <th:block th:each="wordType : ${word.wordTypes}" th:if="${not #lists.isEmpty(word.wordTypes)}">
              <span class="lang-code text-caption lang-code--unrestricted mr-2" th:text="${wordType.value}"></span>
            </th:block>
          </div>
          <div class="d-flex align-items-end flex-wrap gap-2">
            <!-- if needed -->
          </div>
          <div class="search__block search__block--unified">
            <th:block th:if="${word.wordOsMorph}">
              <div class="mt-2">
                <div th:text="#{label.os.morpho}" class="text-caption text-darker-gray">Lühimorfo</div>
                <div>
                  <span>&lt;</span>
                  <span th:utext="${word.wordOsMorph.valuePrese}"></span>
                  <span>&gt;</span>
                </div>
              </div>
            </th:block>
            <th:block th:if="${word.lexemeMeaningsContentExist}">
              <div class="mt-2">
                <div th:text="#{label.os.meaning}" class="text-caption text-darker-gray">Tähendusvihjed</div>
                <div class="os-hints">
                  <th:block th:each="lexemeMeaning, lexemeMeaningIter : ${word.lexemeMeanings}">
                    <th:block th:each="register, registerIter : ${lexemeMeaning.registers}">
                      <span class="os-hints__small" th:text="${register.value}"></span>
                      <span th:unless="${registerIter.last}" class="ml-n1">,</span>
                    </th:block>
                    <span class="os-hints__small" th:if="${lexemeMeaning.valueState != null}" th:text="${lexemeMeaning.valueState.value}"></span>
                    <th:block th:if="${lexemeMeaning.meaning.lexemeWords}">
                      <span>(=</span>
                      <th:block th:each="lexemeWord, lexemeWordIter : ${lexemeMeaning.meaning.lexemeWords}">
                        <a th:href="@{${@viewUtil.getOsSearchUri(lexemeWord.value, lexemeWord.homonymNr)}}">
                          <span th:utext="${@decorUtil.getWordValueMarkup(lexemeWord)}">tee</span>
                        </a>
                        <sup th:text="${lexemeWord.homonymNr}" th:if="${lexemeWord.homonymExists}"></sup>
                        <th:block th:each="register, registerIter : ${lexemeWord.registers}">
                          <span class="os-hints__small" th:text="${register.value}"></span>
                          <span th:unless="${registerIter.last}" class="ml-n1">,</span>
                        </th:block>
                        <span class="os-hints__small" th:if="${lexemeWord.valueState != null}" th:text="${lexemeWord.valueState.value}"></span>
                        <th:block th:each="wordType, wordTypeIter : ${lexemeWord.wordTypes}" th:if="${not #lists.isEmpty(lexemeWord.wordTypes)}">
                          <span class="os-hints__small" th:text="${wordType.value}"></span>
                          <span th:unless="${wordTypeIter.last}"></span>
                        </th:block>
                        <span th:unless="${lexemeWordIter.last}" class="ml-n1">,</span>
                      </th:block>
                      <span class="ml-n1">)</span>
                    </th:block>
                    <span th:if="${lexemeMeaning.meaning.definition}" th:utext="${lexemeMeaning.meaning.definition.valuePrese}"></span>
                    <span th:unless="${lexemeMeaningIter.last}" class="ml-n1">;</span>
                  </th:block>
                </div>
              </div>
            </th:block>
            <th:block th:if="${word.wordOsUsages}">
              <div class="mt-2">
                <div th:text="#{label.os.usage}" class="text-caption text-darker-gray">Näited</div>
                <th:block th:each="usage : ${word.wordOsUsages}">
                  <span th:utext="${usage.valuePrese}"></span>
                </th:block>
              </div>
            </th:block>
            <th:block th:if="${word.primary1WordRelationGroups}">
              <div class="mt-2">
                <div th:text="#{label.os.word.rel.comp}" class="text-caption text-darker-gray">Liitsõnad</div>
                <ul>
                  <th:block th:each="wordRelationGroup : ${word.primary1WordRelationGroups}">
                    <li>
                      <th:block th:each="relatedWord, relatedWordIter : ${wordRelationGroup.relatedWords}">
                        <span th:utext="${relatedWord.valuePrese}"></span>
                        <sup th:text="${relatedWord.homonymNr}" th:if="${relatedWord.homonymExists}"></sup>
                        <span th:unless="${relatedWordIter.last}" class="ml-n1">,</span>
                      </th:block>
                    </li>
                  </th:block>
                </ul>
              </div>
            </th:block>
            <th:block th:if="${word.primary2WordRelationGroups}">
              <div class="mt-2">
                <div th:text="#{label.os.word.rel.degr}" class="text-caption text-darker-gray">Võrded</div>
                <div>
                  <th:block th:each="wordRelationGroup, wordRelationGroupIter : ${word.primary2WordRelationGroups}">
                    <span th:utext="${wordRelationGroup.wordRelType.value}"></span>
                    <th:block th:each="relatedWord, relatedWordIter : ${wordRelationGroup.relatedWords}">
                      <span th:utext="${relatedWord.valuePrese}"></span>
                      <sup th:text="${relatedWord.homonymNr}" th:if="${relatedWord.homonymExists}"></sup>
                      <span th:unless="${relatedWordIter.last}">~</span>
                    </th:block>
                    <span th:unless="${wordRelationGroupIter.last}" class="ml-n1">,</span>
                  </th:block>
                </div>
              </div>
            </th:block>
            <th:block th:if="${word.secondaryWordRelationGroups}">
              <th:block th:each="wordRelationGroup : ${word.secondaryWordRelationGroups}">
                <div class="mt-2">
                  <div th:text="${wordRelationGroup.wordRelType.value}" class="text-caption text-darker-gray text-capitalize">Võrded</div>
                  <div>
                    <th:block th:each="relatedWord, relatedWordIter : ${wordRelationGroup.relatedWords}">
                      <span th:utext="${relatedWord.valuePrese}"></span>
                      <sup th:text="${relatedWord.homonymNr}" th:if="${relatedWord.homonymExists}"></sup>
                      <span th:unless="${relatedWordIter.last}" class="ml-n1">,</span>
                    </th:block>
                  </div>
                </div>
              </th:block>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(word.wordOsRecommendations)}">
              <div class="os-explanation mt-3">
                <span class="material-symbols-outlined" aria-hidden="true"> info </span>
                <th:block th:each="wordOsRecommendation : ${word.wordOsRecommendations}">
                  <p th:utext="${wordOsRecommendation.valuePrese}"></p>
                </th:block>
              </div>
            </th:block>
          </div>
        </div>
      </th:block>
    </main>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <script th:inline="javascript">
  	var searchWordFragUrl = /*[[@{/searchwordfrag/os}]]*/"/searchwordfrag/os";
  </script>
</body>
</html>
