<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Sõnaveeb - Privaatsuspoliitika</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <th:block th:replace="common-app :: wcag-sidebar"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <th:block th:replace="common-app :: header(withSearch = ${false})"></th:block>
  <div class="container">
    <div class="row learn-container">
      <aside class="col-12 col-md-4 " role="navigation" id="sidebar">
        <div class="sticky-side-nav">
        <div th:replace="common-app :: important-links-menu"></div>
        <ul class="mt-4 list-unstyled">
          <li>
            <a href="#use1">Sõnaveebi kasutamine</a>
          </li>
          <li>
            <a href="#use2">Kasutajate privaatsus</a>
          </li>
          <li>
            <a href="#use3">Teave, mida Sõnaveeb salvestab</a>
          </li>
          <li>
            <a href="#use4">Andmete hoiustamise aeg</a>
          </li>
          <li>
            <a href="#use5">Küsimused ja kommentaarid</a>
          </li>
        </ul>
        </div>
      </aside>
      <main class="col-12 col-md-8 learn-content" id="main" tabindex="-1">
        <div class="pb-4">
          <h3 class="mt-4 mb-2 text-left">Kasutus- ja privaatsustingimused</h3>
          <h5 id="use1" class="highlighted">Sõnaveebi kasutamine</h5>
          <p>
            Sõnaveeb on Eesti Keele Instituudi uus sõnastikuportaal, kuhu on koondatud keeleinfo instituudi paljudest sõnakogudest ja andmebaasidest. Sõnaveebis pakutava teabe kohta kehtib litsents
            <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a>
            BY 4.0, mis tähendab, et materjali on lubatud töödelda ja esitada mis tahes vajalikul moel, näiteks liitsõnaraamatuks, õppematerjaliks, äpiks, spelleri lähtematerjaliks jne.
            Kommertskasutust ei piirata, kuid te peate oma rakenduse juures säilitama viite Eesti Keele Instituudile ja Sõnaveebile või vastavale sõnakogule. Samuti peate kirjeldama omapoolseid
            muudatusi. Viitamise juhised on
            <a th:href="@{/about#kuidas}">siin</a>.
          </p>
          <h5 id="use2" class="highlighted">Kasutajate privaatsus</h5>
          <p>Sõnaveebi teenused on avaliku juurdepääsuga. Sõnaveebi kasutaja edastab meile teavet, mis on vajalik Sõnaveebi teenuste mugavaks tarbimiseks. Kogume ainult seda informatsiooni, mis on
            vajalik teenuse pakkumiseks. Sõnaveeb kasutab e-teenuste osutamisel üldtunnustatud privaatsuspõhimõtteid.</p>
          <p>Isikuandmeid sisaldava teabe kogumisel ja säilitamisel lähtub Sõnaveeb isikuandmete kaitse reeglitest.</p>
          <p>Sõnaveebi eesmärk on tagada kõikide andmete täpsus ja vastavus tegelikkusele.</p>
          <h5 id="use3" class="highlighted">Teave, mida Sõnaveeb salvestab</h5>
          <p>Kasutaja toimingute kirjed (logid). Sõnaveebi kasutamisega tekib meie serverisse teave kasutaja toimingute kohta, mis sisaldab lisaks konkreetse teenuste kasutamise kirjetele
            järgnevat:</p>
          <ol>
            <li>missuguseid teenuseid kasutati, mis sõnu, sõnakogusid, linke vmt vaadati (nt otsingud, klikitud lingid, andmekogud);</li>
            <li>teenuse kasutamise aeg ja kasutaja IP aadress (unikaalne aadress kohtvõrgus, mille kaudu on vajadusel võimalik tuvastada kasutaja asukoht füüsilises võrgus).</li>
          </ol>
          <p>Sõnaveeb kasutab ajutisi ehk seansi küpsiseid, mis kustuvad pärast sessiooni lõpetamist ja veebilehitseja sulgemist. Küpsiseid kasutatakse keelevaliku meeldejätmiseks.</p>
          <h5 id="use4" class="highlighted">Andmete hoiustamise aeg</h5>
          <p>Kasutame kogutud statistilisi andmeid analüüside jaoks ühe aasta jooksul pärast andmete kogumist.</p>
          <h5 id="use5" class="highlighted">Küsimused ja kommentaarid</h5>
          <p>Palume kõik küsimused, tähelepanekud ja ettepanekud saata Sõnaveebi tagasiside vormi kaudu või Eesti Keele Instituudi e-posti aadressil eki@eki.ee.</p>
        </div>
      </main>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
</body>
</html>
