<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links})">
<title>Sõnaveeb - Privaatsuspoliitika</title>
<th:block th:fragment="links">
  <link type="text/css" rel="stylesheet" th:href="@{/view/css/learn.css}" />
  <script type="text/javascript" th:src="@{/view/js/hash.js}"></script>
</th:block>
</head>
<body>
  <!-- WCAG helpers -->
  <th:block th:replace="common-app :: wcag-sidebar"></th:block>
  <!-- WCAG helpers -->
  <div th:replace="common-app :: menu"></div>
  <div class="container home-page-content">
    <div class="row learn-container">
      <aside class="col-12 col-md-3" role="navigation" id="sidebar">
        <div th:replace="common-app :: important-links-menu"></div>
        <ul class="mt-4">
          <li>
            <a href="#">Tähtis alapealkiri üks</a>
          </li>
          <li>
            <a href="#">Ohoooo! Veel üks tähtis alapealkiri</a>
          </li>
          <li>
            <a href="#">Oi-Oi! Leidub veel üks alapealkiri</a>
          </li>
          <li>
            <a href="#">Viimane mitte nii tähtis sisujupp</a>
          </li>
        </ul>
      </aside>
      <div class="col-12 col-md-9 learn-content" id="main" role="main">
        <div class="pb-4">
          <h3 class="mt-4 mb-2 text-left">Privaatsuspoliitika</h3>
          <p>Info lisandub lähinädalate jooksul</p>
          <!--           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <ul class="dotted-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
            <li>Incididunt ut labore et dolore magna aliqua. </li>
            <li>Officia deserunt mollit anim id est laborum.</li>
            <li>Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</li>
            <li>Exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit</li>
          </ul>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <th:block th:replace="common-app :: content-top"></th:block>
</body>
</html>
