<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links}, simpleSearch)">
<title>Otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/recorder.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-audio.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-horizontal-scroll-panel.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <div>
    <th:block th:replace="common-app :: wcag-search"></th:block>
    <th:block th:replace="common-app :: wcag-main"></th:block>
  </div>
  <th:block th:replace="common-app :: latest-ww-news-article"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu-with-back-btn(pageContext = 'simpleSearch')"></div>
  <div class="container-fluid homonym-page mt-3 mb-5">
    <div class="search-results-header px-0">
      <div class="d-flex flex-row flex-wrap align-items-center pb-3">
        <th:block th:replace="common-search :: form-match"></th:block>
        <div class="d-flex align-items-center">
          <th:block th:replace="common-search :: lang-filter"></th:block>
        </div>
        <button name="feedback-btn" value="feedback" class="feedback-btn ml-auto btn btn-success py-0 show-with-details" role="button" type="button"
                data-toggle="modal" data-target="#feedbackModal"
                data-item-name="feedback" th:text="#{feedback.title}">Tagasiside</button>
      </div>
    </div>
    <main id="mainContentArea" role="main" class="content-panel px-3 loading">
      <div th:if="${wordsData.resultsExist}" class="loading-indicator">
        <div class="spinner-border text-primary " role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <th:block th:replace="common-search :: homonyms"></th:block>
      <div class="word-details">
        <div class="message-wrap" th:unless="${wordsData.resultsExist}">
          <th:block th:if="${wordsData.availableLanguagesDatasets.availableFiltersExist}">
            <div class="h3 mt-4 ml-3 d-inline-block">
              <span th:text="#{label.search.filter.suggestion.simple}">Otsing annab tulemusi teistes keeltes kui sinu valitud filtris.</span>
            </div>
            <div class="row mt-4 ml-3">
              <div class="col-md-2">
                <th:block th:each="language : ${wordsData.availableLanguagesDatasets.languages}">
                  <h6 th:text="${language.value}" class="font-wight-bold"></h6>
                </th:block>
              </div>
            </div>
            <div class="mt-4 ml-3">
              <a th:href="@{${viewUtil.getSimpleSearchUri(searchWord)}}">
                <span th:text="#{label.search.filter.clear}">Otsi uuesti ilma piiranguteta</span>
              </a>
            </div>
          </th:block>
          <th:block th:unless="${wordsData.availableLanguagesDatasets.availableFiltersExist}">
            <div class="mt-4 ml-3 d-inline-block">
              <span th:text="#{label.word.not.found.simple}" class="h1">Ei leidnud midagi</span>
              <a th:href="@{${viewUtil.getDetailSearchUri(searchWord)}}" class="h1 text-break" th:text="${searchWord}"></a>
            </div>
          </th:block>
        </div>
      </div>
    </main>
    <div class="row word-details" th:fragment="worddetails" th:if="${wordData.word != null}">
      <input id="selected-word-homonym-nr" type="hidden" th:value="${wordData.word.homonymNr}">
      <div class="col-12 pt-2 ml-2" th:unless="${wordData.relevantDataExists}">
        <div class="row">
          <h5 th:text="#{label.lexeme.not.found}">Soovitud keeltes tulemusi ei leidu</h5>
        </div>
      </div>
      <div class="col-12  d-md-block d-md-block d-flex flex-column" th:if="${wordData.relevantDataExists}">
        <div class="row h-100 flex-grow-1 flex-shrink-1">
          <div class="col-md-7 col-lg-8 main-data">
            <div class="row">
              <th:block th:replace="common-search :: word-data"></th:block>
            </div>
            <div class="level-2-panel">
              <th:block th:if="${wordData.lexemesExist}">
                <th:block th:if="${not #lists.isEmpty(wordData.lexLexemes)}">
                  <section class="level-3-panel meaning-panel d-flex flex-row" th:each="lexeme : ${wordData.lexLexemes}">
                    <div th:replace="lex-details :: lexeme-data"></div>
                  </section>
                </th:block>
              </th:block>
              <div th:replace="common-search :: no-lexemes-exist"></div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 more-data sidebar">
            <th:block th:replace="common-search-sidebar :: paradigms"></th:block>
            <th:block th:replace="common-search-sidebar :: word-relations"></th:block>
            <th:block th:if="${wordData.estHeadword || wordData.rusHeadword}">
              <th:block th:replace="common-search-sidebar :: keelenou"></th:block>
            </th:block>
            <th:block th:if="${wordData.estHeadword}">
              <div id="corp" th:text="#{label.corp.search}">Otsin veebilauseid ...</div>
            </th:block>
            <th:block th:if="${wordData.estHeadword && wordData.rusContent}">
              <div id="corpTrans" th:text="#{label.corp.translations.search}">Otsin tõlgitud näiteid ...</div>
            </th:block>
            <th:block th:if="${wordData.rusHeadword}">
              <section th:replace="common-search-sidebar :: corp_rus"></section>
            </th:block>
          </div>
        </div>
      </div>
      <script th:inline="javascript">
        var currentWord = /*[[${wordData.word.word}]]*/'';
        var currentWordId = /*[[${wordData.word.wordId}]]*/'';
        var currentWordLang = /*[[${wordData.word.lang}]]*/'';
      </script>
    </div>
  </div>
  <div th:replace="common-app :: footer-content(pageContext = 'simpleSearch')"></div>
  <script th:inline="javascript">
  	var currentPage = /*[[@{/search/lite}]]*/"/search/lite";
  	var searchWordFragUrl = /*[[@{/searchwordfrag/lite}]]*/"/searchwordfrag/lite";
  	var wordDetailsUrl = /*[[@{/worddetails/lite}]]*/"/worddetails/lite";
  	var newsAcceptUrl = /*[[@{/newsaccept}]]*/"/newsaccept";
  	var morphoUrl = /*[[@{/morpho/lite}]]*/"/morpho/lite";
  	var corpUrl = /*[[@{/corp/simple}]]*/"/corp/simple";
  	var corpTransUrl = /*[[@{/corptrans}]]*/"/corptrans";
  	var speechRecognitionServiceUrl = /*[[${speechRecognitionServiceUrl}]]*/'/';
  	var userPrefUrl = /*[[@{/user-pref}]]*/"/user-pref";
  	setActiveMenuItem('search-lite');
  </script>
</body>
</html>
