<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links}, simpleSearch)">
<title>Otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/recorder.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-audio.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-horizontal-scroll-panel.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <div>
    <th:block th:replace="common-app :: wcag-search"></th:block>
    <th:block th:replace="common-app :: wcag-main"></th:block>
  </div>
  <th:block th:replace="common-app :: latest-ww-news-article"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu-with-back-btn(pageContext = 'simpleSearch')"></div>
  <div class="container-fluid homonym-page mt-3 mb-5">
    <div class="search-results-header px-0">
      <div class="d-flex flex-row flex-wrap align-items-center pb-3">
        <div class="d-flex align-items-center">
          <th:block th:replace="common-search :: lang-filter"></th:block>
        </div>
        <button name="feedback-btn" value="feedback" class="feedback-btn ml-auto btn btn-success py-0 show-with-details" role="button" type="button"
                data-toggle="modal" data-target="#feedback-modal"
                data-item-name="feedback" th:text="#{feedback.title}">Tagasiside</button>
      </div>
    </div>
    <main id="mainContentArea" role="main" class="content-panel loading">
      <div th:if="${wordsData.resultsExist}" class="loading-indicator">
        <div class="spinner-border text-primary " role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <th:block th:replace="common-search :: homonyms"></th:block>
      <div class="word-details">
        <div class="no-results__wrapper" th:unless="${wordsData.resultsExist}">
          <h1
            class="no-results__title"
            th:text="${#strings.replace(#messages.msg('label.search.word.not.found'), '%word%', searchWord)}"></h1>
          <th:block th:if="${wordsData.availableLanguagesDatasets.availableFiltersExist}">
            <div th:text="#{label.search.filter.suggestion.simple}">
              Otsing annab tulemusi teistes keeltes või sõnakogudes kui sinu valitud filtris.
            </div>
            <div class="no-results__columns no-results__columns--single"
              th:with="hasLanguages = ${not #lists.isEmpty(wordsData.availableLanguagesDatasets.languages)}"
                >
              <div th:if="${hasLanguages}">
                <div
                  th:each="language : ${wordsData.availableLanguagesDatasets.languages}"
                  th:text="${language.value}"></div>
              </div>
            </div>
            <div>
              <a th:href="@{${@viewUtil.getSimpleSearchUri(searchWord)}}" th:text="#{label.search.filter.clear}">
                Otsi uuesti ilma piiranguteta
              </a>
            </div>
          </th:block>
          <th:block th:unless="${wordsData.availableLanguagesDatasets.availableFiltersExist}">
            <div th:utext="#{label.word.not.found.simple}">
              Ei leidnud midagi
            </div>
            <a th:href="@{${@viewUtil.getDetailSearchUri(searchWord)}}" class="text-break" th:text="${searchWord}"></a>
          </th:block>
        </div>
      </div>
    </main>
    <div th:fragment="worddetails" th:if="${wordData.word != null}">
      <input id="selected-word-homonym-nr" type="hidden" th:value="${wordData.word.homonymNr}">
      <input id="selected-word-lang" type="hidden" th:value="${wordData.word.lang}">
      <div class="py-2" th:text="#{label.lexeme.not.found}" th:unless="${wordData.relevantDataExists}">Soovitud keeltes tulemusi ei leidu</div>
      <div class="word-results" th:if="${wordData.relevantDataExists}">
        <div>
          <th:block th:replace="common-search :: word-data"></th:block>
          <th:block th:if="${wordData.lexemesExist}">
            <th:block th:if="${not #lists.isEmpty(wordData.lexLexemes)}">
              <div class="search__block">
                <th:block th:replace="common-search :: lex-detail-view-simple"></th:block>
              </div>
            </th:block>
          </th:block>
        </div>
        <div>
          <th:block th:replace="common-search-sidebar :: paradigms"></th:block>
          <th:block th:replace="common-search-sidebar :: word-relations"></th:block>
          <th:block th:replace="common-search-sidebar :: keelenou"></th:block>
          <div class="search__sidebar-block search__block" th:if="${wordData.estHeadword}">
            <div id="corp" th:text="#{label.corp.search}">Otsin veebilauseid ...</div>
          </div>
          <div class="search__sidebar-block search__block" th:if="${wordData.estHeadword && wordData.rusContent}">
            <div id="corpTrans" th:text="#{label.corp.translations.search}">Otsin tõlgitud näiteid ...</div>
          </div>
          <div class="search__sidebar-block search__block" th:if="${wordData.rusHeadword}">
            <section th:replace="common-search-sidebar :: corp_rus"></section>
          </div>
        </div>
      </div>
      <script th:inline="javascript">
        var currentWord = /*[[${wordData.word.word}]]*/'';
        var currentWordId = /*[[${wordData.word.wordId}]]*/'';
        var currentWordLang = /*[[${wordData.word.lang}]]*/'';
      </script>
    </div>
  </div>
  <div th:replace="common-app :: footer-content(pageContext = 'simpleSearch')"></div>
  <script th:inline="javascript">
  	var currentPage = /*[[@{/search/lite}]]*/"/search/lite";
  	var searchWordFragUrl = /*[[@{/searchwordfrag/lite}]]*/"/searchwordfrag/lite";
  	var wordDetailsUrl = /*[[@{/worddetails/lite}]]*/"/worddetails/lite";
  	var newsAcceptUrl = /*[[@{/newsaccept}]]*/"/newsaccept";
  	var morphoUrl = /*[[@{/morpho/lite}]]*/"/morpho/lite";
  	var corpUrl = /*[[@{/corp/simple}]]*/"/corp/simple";
  	var corpTransUrl = /*[[@{/corptrans}]]*/"/corptrans";
  	var speechRecognitionServiceUrl = /*[[${speechRecognitionServiceUrl}]]*/'/';
  	var userPrefUrl = /*[[@{/user-pref}]]*/"/user-pref";
  	setActiveMenuItem('search-lite');
  </script>
</body>
</html>
