<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links}, simpleSearch)">
<title th:text="#{search.title(${searchWord})}">Otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/recorder.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-audio.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-horizontal-scroll-panel.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <div>
    <th:block th:replace="common-app :: wcag-search"></th:block>
    <th:block th:replace="common-app :: wcag-main"></th:block>
  </div>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <th:block th:replace="common-app :: header(pageContext = 'simpleSearch')"></th:block>
  <div class="container-fluid homonym-page mb-5">
    <div class="search-results-header">
      <div class="d-flex align-items-center">
        <th:block th:replace="common-search :: lang-filter"></th:block>
      </div>
    </div>
    <main id="mainContentArea" role="main" class="content-panel loading">
      <div th:if="${wordsData.resultExists}" class="loading-indicator">
        <div class="spinner-border text-primary " role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <th:block th:replace="common-search :: homonyms"></th:block>
      <div id="word-details">
        <div class="no-results__wrapper" th:unless="${wordsData.resultExists}">
          <th:block th:if="${wordsData.validSearch}">
            <h1 class="no-results__title">
              <span th:text="#{label.search.word.not.found(${searchWord}, ${wordsData.formResultExists ? ',' : ''})}"></span>
              <th:block th:if="${wordsData.formResultExists}">
                <span th:text="${wordsData.suggestedWordValues.size() > 1 
                  ? #messages.msg('label.suggest.form.plural') 
                  : #messages.msg('label.suggest.form.single')}">see on ka vorm sõnast</span>
                <a href="#" class="word-form" th:each="word,wordIter : ${wordsData.suggestedWordValues}" th:text="${wordIter.last ? word : word + ',&nbsp;'}" th:data-word="${word}"> </a>
              </th:block>
            </h1>
            <th:block th:if="${wordsData.availableLanguagesDatasets.availableFiltersExist}">
              <div th:text="#{label.search.filter.suggestion.simple}">Otsing annab tulemusi teistes keeltes või sõnakogudes kui sinu valitud filtris.</div>
              <div class="no-results__columns no-results__columns--single" th:with="hasLanguages = ${not #lists.isEmpty(wordsData.availableLanguagesDatasets.languages)}">
                <div th:if="${hasLanguages}">
                  <div th:each="language : ${wordsData.availableLanguagesDatasets.languages}" th:text="${language.value}"></div>
                </div>
              </div>
              <div>
                <a th:href="@{${@viewUtil.getSimpleSearchUri(searchWord)}}" th:text="#{label.search.filter.clear}"> Otsi uuesti ilma piiranguteta </a>
              </div>
            </th:block>
            <th:block th:unless="${wordsData.availableLanguagesDatasets.availableFiltersExist}">
              <div th:utext="#{label.word.not.found.simple}">Ei leidnud midagi</div>
              <a th:href="@{${@viewUtil.getDetailSearchUri(searchWord)}}" class="text-break" th:text="${searchWord}"></a>
            </th:block>
          </th:block>
          <th:block th:unless="${wordsData.validSearch}">
            <h1 class="no-results__title" th:text="#{label.search.word.invalid}"></h1>
          </th:block>
        </div>
      </div>
    </main>
    <div id="word-details" th:fragment="worddetails" th:if="${wordData.word != null}">
      <input id="selected-word-homonym-nr" type="hidden" th:value="${wordData.word.homonymNr}">
      <input id="selected-word-lang" type="hidden" th:value="${wordData.word.lang}">
      <div class="py-2" th:text="#{label.lexeme.not.found}" th:unless="${wordData.relevantDataExists}">Soovitud keeltes tulemusi ei leidu</div>
      <div class="word-results" th:if="${wordData.relevantDataExists}">
        <div>
          <th:block th:replace="common-search :: word-data"></th:block>
          <th:block th:if="${wordData.lexemesExist}">
            <th:block th:if="${not #lists.isEmpty(wordData.lexLexemes)}">
              <div class="d-flex align-items-end flex-wrap gap-2">
                <h2 class="search__pre-block-title search__pre-block-title--no-bottom-margin" th:text="#{lexdata.title}"></h2>
                <div class="text-caption text-darker-gray">
                  <span th:text="#{label.tooltip.last_modified}"></span>
                  <span th:text="${
                    wordData.word.manualEventOn == null
                    ? null
                    : #temporals.format(wordData.word.manualEventOn, 'dd.MM.yyyy')}"></span>
                </div>
              </div>
              <div class="search__block search__block--unified">
                <th:block th:replace="common-search :: lex-detail-view-simple"></th:block>
              </div>
            </th:block>
          </th:block>
        </div>
        <div>
          <th:block th:replace="common-search-sidebar :: paradigms"></th:block>
          <th:block th:replace="common-search-sidebar :: word-relations"></th:block>
          <th:block th:replace="common-search-sidebar :: keelenou"></th:block>
          <div class="search__sidebar-block search__block text-body-two" th:if="${wordData.estHeadword}">
            <div id="corp" th:text="#{label.corp.search}">Otsin veebilauseid ...</div>
          </div>
          <div class="search__sidebar-block search__block text-body-two" th:if="${wordData.estHeadword && wordData.rusContent}">
            <div id="corpTrans" th:text="#{label.corp.translations.search}">Otsin tõlgitud näiteid ...</div>
          </div>
          <div class="search__sidebar-block search__block text-body-two" th:if="${wordData.skellCompatible}">
            <section th:replace="common-search-sidebar :: skell-search-link"></section>
          </div>
        </div>
      </div>
      <script th:inline="javascript">
		var currentWord = /*[[${wordData.word.value}]]*/'';
		var currentWordId = /*[[${wordData.word.wordId}]]*/'';
		var currentWordLang = /*[[${wordData.word.lang}]]*/'';
		var currentWordPosCodes = /*[[${wordData.word.summarisedPosCodesStr}]]*/'';
	  </script>
    </div>
  </div>
  <div th:replace="common-app :: footer-content(pageContext = 'simpleSearch')"></div>
  <script th:inline="javascript">
  	var currentPage = /*[[@{/search/lite}]]*/"/search/lite";
  	var searchWordFragUrl = /*[[@{/searchwordfrag/lite}]]*/"/searchwordfrag/lite";
  	var wordDetailsUrl = /*[[@{/worddetails/lite}]]*/"/worddetails/lite";
  	var newsAcceptUrl = /*[[@{/newsaccept}]]*/"/newsaccept";
  	var morphoUrl = /*[[@{/morpho/lite}]]*/"/morpho/lite";
  	var corpUrl = /*[[@{/corp/simple}]]*/"/corp/simple";
  	var corpTransUrl = /*[[@{/corptrans}]]*/"/corptrans";
  	var speechRecognitionServiceUrl = /*[[${speechRecognitionServiceUrl}]]*/'/';
  	var userPrefUrl = /*[[@{/user-pref}]]*/"/user-pref";
  </script>
</body>
</html>
