<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="survey-active">
  <th:block th:fragment="meaning-data" th:with="
            isProTerm = ${viewUtil.isProTermData(lexeme)},
            isLimTerm = ${viewUtil.isLimTermData(lexeme)}">
    <div th:id="|lexeme-section-${lexeme.lexemeId}|">
      <h6 class="font-weight-bold">
        <a th:href="@{'/ds/' + ${lexeme.datasetCode}}" th:text="${lexeme.datasetName}">Aianduse terminibaas</a>
      </h6>
      <div>
        <div class="meaning">
          <div class="definition-row">
            <div class="mb-1">
              <span>ID:</span>
              <th:block th:if="${isLimTerm}">
                <a th:href="${viewUtil.getEkilexLimTermMeaningDetailsUrl(lexeme.meaningId)}">
                  <span class="mr-2" th:aria-label="${wordData.word.word}" th:text="${lexeme.meaningId}"></span>
                </a>
              </th:block>
              <th:block th:if="${isProTerm}">
                <span class="mr-2" th:aria-label="${wordData.word.word}" th:text="${lexeme.meaningId}"></span>
              </th:block>
              <span th:title="#{label.tooltip.last_modified}" class="ml-auto content-title-date" data-toggle="tooltip" >
                <i class="fa fa-edit"></i>
                <span th:text="${#dates.format(lexeme.meaningManualEventOn, 'dd.MM.yyyy')}"></span>
              </span>
            </div>
            <th:block th:if="${not #lists.isEmpty(lexeme.domains)}">
              <div class="mb-2">
                <span class="domain mr-1" th:each="domain,domainIter : ${lexeme.domains}" th:text="${domain.value + (domainIter.last ? '' : ', ')}"></span>
              </div>
            </th:block>
            <th:block th:if="${not #maps.isEmpty(lexeme.definitionsByLang)}">
              <div class="mb-0 d-flex flex-row" th:each="definitionEntry : ${lexeme.definitionsByLang}">
                <span class="additional-meta lang-code lang-code-sm mr-2 align-self-start"
                      th:with="langData=${viewUtil.getLangData(definitionEntry.key)}"
                      th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip"></span>
                <div class="flex-shrink-1" style="font-weight: 500;">
                  <ul th:class="${definitionEntry.value.size() &lt;= 1}  ? 'list-unstyled m-0' : 'ul-list-style' ">
                    <li th:each="definition,definitionIter : ${definitionEntry.value}"
                        th:with="isCollapsable=${not #strings.isEmpty(definition.valuePreseCut)}">
                      <th:block th:if="${!definition.subDataExists}">
                        <div th:id="${'definition-entry-' + definition.definitionId}">
                          <th:block th:if="${isCollapsable}">
                            <div class="definition-value mb-2 text-weight-medium text-dark collapse-text">
                              <span class="small-text-addition" th:utext="${definition.valuePreseCut}"></span>
                            </div>
                            <div class="small-text-container get-height d-none">
                              <span class="small-text-addition" th:utext="${definition.valuePreseCut}"></span>
                            </div>
                            <div class="large-text-container get-height d-none">
                              <span class="large-text-addition" th:utext="${definition.valuePrese}"></span>
                            </div>
                            <button
                                  th:id="${'definition-show-more-btn-' + definition.definitionId}"
                                  class="btn btn-link-muted btn-sm btn-collapse text-nowrap d-inline-flex align-items-end pb-0 ml-n2"
                                  type="button"
                                  data-toggle="collapse-text"
                                  th:data-target="${'#definition-entry-' + definition.definitionId + ' .collapse-text'}"
                                  aria-expanded="false"
                                  th:aria-controls="${'#definition-entry-' + definition.definitionId + ' .collapse-text'}">
                              <span class="btn-content see-more-content" data-tooltip="tooltip" th:title="#{button.see.more}">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                              </span>
                              <span class="btn-content see-less-content">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                                <span class="btn-txt" th:text="#{button.see.less}"></span>
                              </span>
                            </button>
                          </th:block>
                          <th:block th:unless="${isCollapsable}">
                            <span class="definition-value mb-2 mr-1 text-weight-medium text-dark" th:utext="${definition.valuePrese}"></span>
                          </th:block>
                        </div>
                      </th:block>
                      <th:block th:if="${definition.subDataExists}"> 
                        <div th:id="${'definition-entry-' + definition.definitionId}">
                          <th:block th:if="${isCollapsable}">
                            <div class="definition-value mb-2 text-weight-medium text-dark collapse-text">
                              <span class="small-text-addition" th:utext="${definition.valuePreseCut}"></span>
                            </div>
                            <div class="small-text-container get-height d-none">
                              <span class="small-text-addition" th:utext="${definition.valuePreseCut}"></span>
                            </div>
                            <div class="large-text-container get-height d-none">
                              <span class="large-text-addition" th:utext="${definition.valuePrese}"></span>
                            </div>
                            <button
                                  th:id="${'definition-show-more-btn-' + definition.definitionId}"
                                  class="btn btn-link-muted btn-sm btn-collapse text-nowrap d-inline-flex align-items-end pb-0 ml-n2"
                                  type="button"
                                  data-toggle="collapse-text"
                                  th:data-target="${'#definition-entry-' + definition.definitionId + ' .collapse-text'}"
                                  aria-expanded="false"
                                  th:aria-controls="${'#definition-entry-' + definition.definitionId + ' .collapse-text'}">
                              <span class="btn-content see-more-content" data-tooltip="tooltip" th:title="#{button.see.more}">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                              </span>
                              <span class="btn-content see-less-content">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                                <span class="btn-txt" th:text="#{button.see.less}"></span>
                              </span>
                            </button>
                          </th:block>
                          <span th:unless="${isCollapsable}"
                                class="definition-value mb-2 mr-1 text-weight-medium text-dark"
                                th:utext="${definition.valuePrese}"></span>
                          <th:block th:if="${not #lists.isEmpty(definition.sourceLinks)}">
                            <span class="definition-sources ">
                              <!--<span th:text="#{label.sources}">Allikad:</span>:-->
                              <th:block th:each="sourceLink,sourceLinkIter : ${definition.sourceLinks}">
                                <button type="button" class="source-link btn btn-link-dark pt-0 px-0 pb-1" data-toggle="popover" data-html="true"
                                        th:title="#{label.source}" th:data-content="${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                                  <span th:utext="${sourceLink.value}"></span>
                                  <span th:utext="${' - ' + sourceLink.name  }" th:unless="${#strings.isEmpty(sourceLink.name)}"></span>
                                </button>
                                <span th:unless="${sourceLinkIter.last}">, </span>
                              </th:block>
                            </span>
                          </th:block>
                          <th:block th:if="${not #lists.isEmpty(definition.notes)}">
                            <ul class="ul-list-style m-0">
                              <li th:each="note : ${definition.notes}">
                                <span class="additional-meta mb-2" th:utext="${note.value}"></span>
                                <span class="definition-sources">
                                  <th:block th:each="sourceLink,sourceLinkIter : ${note.sourceLinks}">
                                    <button type="button" class="source-link btn btn-link-dark pt-0 px-0 pb-1" data-toggle="popover" data-html="true"
                                            th:title="#{label.source}" th:data-content="${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                                      <span th:utext="${sourceLink.value}"></span>
                                      <span th:utext="${' - ' + sourceLink.name  }" th:unless="${#strings.isEmpty(sourceLink.name)}"></span>
                                    </button>
                                    <span th:unless="${sourceLinkIter.last}">, </span>
                                  </th:block>
                                </span>
                              </li>
                            </ul>
                          </th:block>
                        </div>
                      </th:block>
                    </li>
                  </ul>
                </div>
              </div>
            </th:block>
          </div>
          <th:block th:if="${not #maps.isEmpty(lexeme.meaningNotesByLang)}">
            <div class="row">
              <div class="col-6 mb-1">
                <b th:unless="${isLimTerm}" th:text="#{label.public.note}" class="text-gray-350 text-medium">Hea teada</b>
                <b th:if="${isLimTerm}" th:text="#{label.limterm.note}">Arutelu</b>
              </div>
              <div class="col-12">
                <div class="mb-0 d-flex flex-row" th:each="noteEntry : ${lexeme.meaningNotesByLang}">
                  <span class="lang-code lang-code-sm mr-2 align-self-start"
                        th:with="langData=${viewUtil.getLangData(noteEntry.key)}"
                        th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip"></span>
                    <div class="flex-shrink-1">
                      <ul th:class="${noteEntry.value.size() &lt;= 1}  ? 'list-unstyled m-0' : 'ul-list-style' ">
                        <li th:each="note : ${noteEntry.value}"
                            th:with="isCollapsable=${not #strings.isEmpty(note.valueCut)}">
                          <div th:id="${'note-entry-text-' + note.freeformId}">
                            <th:block th:if="${isCollapsable}">
                              <div class="note-value collapse-text">
                                <span class="small-text-addition" th:utext="${note.valueCut}"></span>
                              </div>
                              <div class="small-text-container get-height d-none">
                                <span class="small-text-addition" th:utext="${note.valueCut}"></span>
                              </div>
                              <div class="large-text-container get-height d-none">
                                <span class="large-text-addition" th:utext="${note.value}"></span>
                              </div>
                              <button
                                    th:id="${'note-entry-show-more-btn-' + note.freeformId}"
                                    class="btn btn-link-muted btn-sm btn-collapse text-nowrap d-inline-flex align-items-end pb-0 ml-n2"
                                    type="button"
                                    data-toggle="collapse-text"
                                    data-dynamic-text="true"
                                    th:data-target="${'#note-entry-text-' + note.freeformId + ' .collapse-text'}"
                                    aria-expanded="false"
                                    th:aria-controls="${'#note-entry-text-' + note.freeformId + ' .collapse-text'}">
                                <span class="btn-content see-more-content" data-tooltip="tooltip" th:title="#{button.see.more}">
                                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </span>
                                <span class="btn-content see-less-content">
                                  <i class="fa fa-angle-up" aria-hidden="true"></i>
                                  <span class="btn-txt" th:text="#{button.see.less}"></span>
                                </span>
                              </button>
                            </th:block>
                            <span th:unless="${isCollapsable}" th:utext="${note.value}"></span>
                            <span th:if="${isLimTerm}" th:utext="${'[' + note.createdBy + ']'}" class="text-muted text-small"></span>
                            <th:block th:if="${not #lists.isEmpty(note.sourceLinks)}">
                              <span class="definition-sources">
                                  <span th:each="sourceLink : ${note.sourceLinks}">
                                    <button type="button" class="source-link btn btn-link-dark p-0 pt-0 px-0 pb-1" data-toggle="popover" data-html="true"
                                            th:title="#{label.source}" th:data-content="${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                                      <span th:utext="${sourceLink.value}"></span>
                                    </button>
                                  </span>
                              </span>
                            </th:block>
                          </div>
                        </li>
                      </ul>
                    </div>
                </div>               
              </div>
            </div>
          </th:block>
          <th:block th:if="${not #lists.isEmpty(lexeme.imageFiles)}">
            <div class="mt-3 d-flex flex-wrap row">
              <th:block th:each="imageFile : ${lexeme.imageFiles}">
                <div class="col-12 col-md-4 mb-3 d-flex flex-column">
                  <a th:href="${imageFile.sourceUrl}" class="gallery-image my-auto">
                    <img class="homonym-image m-0 p-0" th:src="${imageFile.sourceUrl}" th:title="${imageFile.title}">
                    <span class="additional-meta text-muted text-small py-1 d-block" th:utext="${imageFile.title}"></span>
                  </a>
                  <th:block th:if="${not #lists.isEmpty(imageFile.sourceLinks)}">
                    <div th:each="sourceLink : ${imageFile.sourceLinks}">
                      <button type="button" class="source-link btn btn-link-dark pt-0 px-0 pb-1" data-toggle="popover" data-html="true"
                              th:title="#{label.source}" th:data-content="${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                        <span th:utext="${sourceLink.value}"></span>
                      </button>
                    </div>
                  </th:block>
                </div>
              </th:block>
            </div>
          </th:block>
          <th:block th:if="${not #lists.isEmpty(lexeme.mediaFiles)}">
            <div class="mt-3 d-flex flex-wrap row">
              <th:block th:each="mediaFile : ${lexeme.mediaFiles}">
                <div class="col-12 col-md-4 mb-3 d-flex flex-column">
                  <iframe th:src="${mediaFile.sourceUrl}" allowfullscreen></iframe>
                </div>
              </th:block>
            </div>
          </th:block>
          <th:block th:if="${not #lists.isEmpty(lexeme.relatedMeanings)}">
            <div class="related-meanings mb-2">
              <div class="relation-list d-flex flex-row flex-wrap" th:each="relationType, relationTypeIter : ${lexeme.relatedMeaningsByType.keySet()}">
                <span class="mr-2" th:text="${relationType.value}"></span>
                <th:block th:each="relation, relationIter : ${lexeme.relatedMeaningsByType.get(relationType)}">
                  <div class="relation-item mr-1">
                    <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, relation.word, relation.homonymNr)}}">
                      <span th:utext="${viewUtil.getWordValueMarkup(relation)}">tee</span>
                    </a>
                    <th:block th:if="${not #lists.isEmpty(relation.lexRegisters)}">
                      <th:block th:each="register, rIter : ${relation.lexRegisters}">
                        <span class="rections register">
                          <span th:text="${register.value}" class="text-uppercase text-small"></span>
                          <span th:unless="${rIter.last}" class="ml-n1">,</span>
                        </span>
                      </th:block>
                    </th:block>
                    <span th:unless="${relationIter.last}" class="ml-n1">,</span>
                  </div>
                </th:block>
              </div>
            </div>
          </th:block>
          <th:block th:if="${not #maps.isEmpty(lexeme.meaningLexemesByLang)}">
            <div>
              <div class="additional-meta">
                <div class="d-flex flex-row" th:each="meaninglexemeEntry,meaninglexemeEntryIter : ${lexeme.meaningLexemesByLang}"
                     th:with="meaningLangLexemes=${meaninglexemeEntry.value}"
                     th:classappend="${meaninglexemeEntryIter.last ? '' : 'mb-2'}">
                  <span class="lang-code lang-code-sm mr-2 align-self-start"
                        th:with="langData=${viewUtil.getLangData(meaninglexemeEntry.key)}"
                        th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip">
                  </span>
                  <div class="flex-shrink-1">
                    <div th:each="meaningLexeme,meaninglexemeIter : ${meaningLangLexemes}" th:classappend="${meaninglexemeIter.last ? '' : 'mb-1'}">
                      <div class="row">
                        <div class="col-12">
                          <a th:href="@{${viewUtil.getSearchUri(sessionBean, searchMode, meaningLexeme.word, meaningLexeme.homonymNr)}}" class="matching-word "
                             th:classappend="${meaningLexeme.wordId == wordId ? 'match' : ''}">
                            <span th:utext="${viewUtil.getWordValueMarkup(meaningLexeme)}">tee</span>
                          </a>
                          <span class="text-small" th:if="${meaningLexeme.valueState != null}" th:text="${meaningLexeme.valueState.value}"></span>
                        </div>
                      </div>
                      <div class="row text-small" th:if="${meaningLexeme.reliability != null}">
                        <div class="col">
                          <span th:text="#{label.lexeme.reliability}">Usaldusväärsus</span>
                          <span class="fa fa-star" th:classappend="${meaningLexeme.reliability >= 1} ? 'text-warning': ''"></span>
                          <span class="fa fa-star" th:classappend="${meaningLexeme.reliability >= 2} ? 'text-warning': ''"></span>
                          <span class="fa fa-star" th:classappend="${meaningLexeme.reliability >= 3} ? 'text-warning': ''"></span>
                          <span class="fa fa-star" th:classappend="${meaningLexeme.reliability >= 4} ? 'text-warning': ''"></span>
                          <span class="fa fa-star" th:classappend="${meaningLexeme.reliability >= 5} ? 'text-warning': ''"></span>
                        </div>
                      </div>
                      <div class="row" th:if="${not #lists.isEmpty(meaningLexeme.lexemeSourceLinks)}">
                        <div class="col">
                          <span class="definition-sources">
                            <!--<span th:text="#{label.sources}">Allikad:</span>: -->
                            <th:block th:each="sourceLink,sourceLinkIter : ${meaningLexeme.lexemeSourceLinks}">
                              <button class="source-link btn btn-link-dark pt-0 px-0 pb-1" data-toggle="popover" data-html="true"
                                      th:title="#{label.source}" th:data-content="${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                                <span th:utext="${sourceLink.value}"></span>
                                <span th:utext="${' - ' + sourceLink.name}" th:unless="${#strings.isEmpty(sourceLink.name)}"></span>
                              </button>
                              <span th:unless="${sourceLinkIter.last}">,</span>
                            </th:block>
                          </span>
                        </div>
                      </div>
                      <div class="row" th:if="${not #lists.isEmpty(meaningLexeme.regions)}">
                        <div class="col">
                          <span class="domain register mr-1 mb-1" th:each="region,regionIter : ${meaningLexeme.regions}" th:text="${region.value + (regionIter.last ? '' : ', ')}"></span>                          
                        </div>
                      </div>
                      <div class="row" th:if="${not #lists.isEmpty(meaningLexeme.grammars)}">
                        <div class="col">
                          <span class="lexeme grammars tag">
                            <span th:each="grammar,grammarIter : ${meaningLexeme.grammars}" th:utext="${grammar.value + (grammarIter.last ? '' : ', ')}"></span>
                          </span>
                        </div>
                      </div>
                      <div class="row" th:if="${meaningLexeme.gender != null}">
                        <div class="col">
                          <span th:text="${meaningLexeme.gender.value}"></span>
                        </div>
                      </div>
                      <div class="row" th:if="${not #lists.isEmpty(meaningLexeme.poses)}">
                        <div class="col">
                          <span class="tag" th:each="pos : ${meaningLexeme.poses}" th:text="${pos.value}"></span>
                        </div>
                      </div>
                      <div class="row" th:if="${not #lists.isEmpty(meaningLexeme.registers)}">
                        <div class="col">
                          <span class="domain register mr-1 mb-1" th:each="register,registerIter : ${meaningLexeme.registers}" th:text="${register.value + (registerIter.last ? '' : ', ')}"></span>                          
                        </div>
                      </div>
                      <div class="row" th:if="${not #lists.isEmpty(meaningLexeme.wordTypes)}">
                        <div class="col">
                          <span class="tag my-1">
                            <span th:each="wordType,wordTypeIter : ${meaningLexeme.wordTypes}" th:utext="${wordType.value + (wordTypeIter.last ? '' : ', ')}"></span>
                          </span>
                        </div>
                      </div>
                      <th:block th:if="${not #lists.isEmpty(meaningLexeme.usages)}">
                        <div class="dependencies mt-2">
                          <div class="dependence-group">
                            <b class="text-medium text-gray-350" th:text="#{button.label.usages}">Näited</b>
                            <th:block th:each="usage,usageIter : ${meaningLexeme.usages}"
                                      th:with="isCollapsable=${usageIter.count > T(eki.wordweb.constant.WebConstant).TYPICAL_COLLECTIONS_DISPLAY_LIMIT}">
                              <div class="usage-item" th:if="${!isCollapsable}">
                                <div class="example-sentence-wrap">
                                  <span class="example-text example-text-w-audio">
                                    <span class="example-text-value" th:utext="${usage.usagePrese}"></span>
                                    <button class="btn btn-speaker" th:aria-label="|#{aria.listen} - ${usage.usage}|" th:if="${usage.putOnSpeaker}"
                                            th:data-words="${usage.usage}"
                                            th:attr="onclick=${usage.putOnSpeaker ? 'generateAudioAndPlay(this)' : ''}">
                                      <span class="icon icon-speaker"></span>
                                    </button>
                                  </span>
                                  <th:block th:if="${not #lists.isEmpty(usage.sourceLinks)}">
                                    <span class="example-text" th:each="sourceLink : ${usage.sourceLinks}">
                                      <span th:if="${sourceLink.translator}" th:text="#{reference.type.translator}">tõlkinud</span>
                                      <span class="definition-sources">
                                        <button type="button" class="source-link btn btn-link-dark pt-0 px-0 pb-1" data-toggle="popover" data-html="true"
                                                th:title="#{label.source}" th:data-content="${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                                          <span th:utext="${sourceLink.value}"></span>
                                        </button>
                                      </span>
                                    </span>
                                  </th:block>
                                </div>
                              </div>
                            </th:block>
                            <div th:id="${'lexeme-usages-more-panel-' + meaningLexeme.lexemeId}" class="collapse" th:if="${meaningLexeme.moreUsages}">
                              <div class="d-flex flex-column">
                                <th:block th:each="usage,usageIter : ${meaningLexeme.usages}"
                                          th:with="isCollapsable=${usageIter.count > T(eki.wordweb.constant.WebConstant).TYPICAL_COLLECTIONS_DISPLAY_LIMIT}">
                                  <div class="usage-item" th:if="${isCollapsable}">
                                    <div class="example-sentence-wrap">
                                      <span class="example-text example-text-w-audio">
                                        <span class="example-text-value" th:utext="${usage.usagePrese}"></span>
                                        <button class="btn btn-speaker" th:aria-label="|#{aria.listen} - ${usage.usage}|" th:if="${usage.putOnSpeaker}" th:data-words="${usage.usage}"
                                                th:attr="onclick=${usage.putOnSpeaker ? 'generateAudioAndPlay(this)' : ''}">
                                          <span class="icon icon-speaker"></span>
                                        </button>
                                      </span>
                                      <th:block th:if="${not #lists.isEmpty(usage.sourceLinks)}">
                                        <span class="example-text" th:each="sourceLink : ${usage.sourceLinks}">
                                          <span th:if="${sourceLink.translator}" th:text="#{reference.type.translator}">tõlkinud</span>
                                          <button type="button" class="source-link btn btn-link-dark pt-0 px-0 pb-1" data-toggle="popover" data-html="true"
                                                  th:title="#{label.source}" th:data-content="${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                                            <span th:utext="${sourceLink.value}"></span>
                                          </button>
                                        </span>
                                      </th:block>
                                    </div>
                                  </div>
                                </th:block>
                              </div>
                              <button
                                  th:id="${'lexeme-usages-show-more-btn-' + meaningLexeme.lexemeId}"
                                  class="btn btn-collapse btn-link-muted btn-sm btn-ellipsis text-nowrap d-inline-flex align-items-end pb-0 ml-n2 align-self-start"
                                  th:title="#{button.see.more}"
                                  type="button"
                                  data-tooltip="tooltip"
                                  data-toggle="collapse"
                                  aria-expanded="false"
                                  th:aria-controls="${'#lexeme-usages-more-panel-' + meaningLexeme.lexemeId}"
                                  th:data-target="${'#lexeme-usages-more-panel-' + meaningLexeme.lexemeId}"
                                  th:if="${meaningLexeme.moreUsages}">
                              <span class="btn-content see-more-content" data-tooltip="tooltip" th:title="#{button.see.more}">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                              </span>
                              <span class="btn-content see-less-content">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                                <span class="btn-txt" th:text="#{button.see.less}"></span>
                              </span>
                            </button>
                            </div>
                          </div>
                        </div>
                      </th:block>
                      <th:block th:if="${not #maps.isEmpty(meaningLexeme.lexemeNotesByLang)}">
                        <div class="row">
                          <div class="col-6 mb-1">
                            <b th:unless="${isLimTerm}" th:text="#{label.public.note}" class="text-gray-350 text-medium">Hea teada</b>
                            <b th:if="${isLimTerm}" th:text="#{label.limterm.note}">Arutelu</b>
                          </div>
                          <div class="col-12">
                            <div class="d-flex flex-row" th:each="noteEntry : ${meaningLexeme.lexemeNotesByLang}">
                              <span class="lang-code lang-code-sm mr-2 align-self-start"
                                    th:with="langData=${viewUtil.getLangData(noteEntry.key)}"
                                    th:text="${langData.codeIso2}" th:title="${langData.label}" data-toggle="tooltip"></span>
                              <div class="d-flex flex-column">
                                <th:block th:each="note : ${noteEntry.value}"
                                          th:with="isCollapsable=${not #strings.isEmpty(note.valueCut)}">
                                  <div th:id="${'note-entry-text-' + note.freeformId}">
                                    <th:block th:if="${isCollapsable}">
                                      <div class="note-value collapse-text">
                                        <span class="small-text-addition" th:utext="${note.valueCut}"></span>
                                      </div>
                                      <div class="small-text-container get-height d-none">
                                        <span class="small-text-addition" th:utext="${note.valueCut}"></span>
                                      </div>
                                      <div class="large-text-container get-height d-none">
                                        <span class="large-text-addition" th:utext="${note.value}"></span>
                                      </div>
                                      <button
                                          th:id="${'note-entry-show-more-btn-' + note.freeformId}"
                                          class="btn btn-link-muted btn-sm btn-collapse text-nowrap d-inline-flex align-items-end pb-0 ml-n2"
                                          type="button"
                                          data-toggle="collapse-text"
                                          th:data-target="${'#note-entry-text-' + note.freeformId + ' .collapse-text'}"
                                          aria-expanded="false"
                                          th:aria-controls="${'#note-entry-text-' + note.freeformId + ' .collapse-text'}">
                                        <span class="btn-content see-more-content" data-tooltip="tooltip" th:title="#{button.see.more}">
                                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                        </span>
                                        <span class="btn-content see-less-content">
                                          <i class="fa fa-angle-up" aria-hidden="true"></i>
                                          <span class="btn-txt" th:text="#{button.see.less}"></span>
                                        </span>
                                      </button>
                                    </th:block>
                                    <span th:unless="${isCollapsable}" th:utext="${note.value}"></span>
                                    <th:block th:if="${not #lists.isEmpty(note.sourceLinks)}">
                                      <span class="definition-sources">
                                        <!--<span th:text="#{label.sources}">Allikad:</span>:-->
                                        <th:block th:each="sourceLink,sourceLinkIter : ${note.sourceLinks}">
                                          <button type="button" class="source-link btn btn-link-dark pt-0 px-0 pb-1" data-toggle="popover" data-html="true"
                                                  th:title="#{label.source}" th:data-content="${#strings.listJoin(sourceLink.sourceProps, ', ')}">
                                            <span th:utext="${sourceLink.value}"></span>    
                                            <span th:utext="${' - ' + sourceLink.name }" th:unless="${#strings.isEmpty(sourceLink.name)}"></span>
                                          </button>
                                          <span th:unless="${sourceLinkIter.last}">, </span>
                                        </th:block>
                                      </span>
                                    </th:block>
                                  </div>
                                </th:block>
                              </div>
                            </div>
                          </div>
                        </div>
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </th:block>
</body>
</html>
