<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title th:text="#{search.title(${searchWord})}">Otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/recorder.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-audio.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-horizontal-scroll-panel.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <div>
    <th:block th:replace="common-app :: wcag-search"></th:block>
    <th:block th:replace="common-app :: wcag-main"></th:block>
  </div>
  <th:block th:replace="common-app :: latest-ww-news-article"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu-with-back-btn"></div>
  <div class="container-fluid homonym-page mb-5">
    <div class="sticky-scroll-panel">
      <div class="search-results-header px-0">
        <div class="d-flex flex-row flex-wrap align-items-center pb-3">
          <div class="d-flex align-items-center">
            <th:block th:replace="common-search :: dataset-filter"></th:block>
            <div class="mr-auto mr-md-2 pl-2 d-flex align-items-center flex-wrap">
              <th:block th:replace="common-search :: lang-filter"></th:block>
              <a th:href="@{/feelinglucky}" class="link ml-3 d-none d-md-block">
                <span th:text="#{button.label.feelinglucky}">Ehk mul veab</span>
              </a>
            </div>
          </div>
          <button name="feedback-btn" value="feedback" class="feedback-btn ml-auto btn btn-success py-0 show-with-details" role="button" type="button" data-toggle="modal" data-target="#feedback-modal"
            data-item-name="feedback" th:text="#{feedback.title}">Tagasiside</button>
        </div>
      </div>
      <div class="sticky-scroll-panel__tags"
        th:classappend="${wordsData.resultExists} ? '' : 'sticky-scroll-panel__tags--empty'">
        <a href="#word-morphology-results" class="sticky-scroll-panel__tag" th:text="#{label.word.forms}">Sõnavormid</a>
        <a href="#word-etymology-results" class="sticky-scroll-panel__tag" th:text="#{label.word.etymology}">Päritolu</a>
        <a href="#word-relation-results" class="sticky-scroll-panel__tag" th:text="#{label.word.relations.union}">Ühendid</a>
      </div>
    </div>
    <main id="mainContentArea" role="main" class="content-panel loading">
      <div th:if="${wordsData.resultExists}" class="loading-indicator">
        <div class="spinner-border text-primary " role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <th:block th:replace="common-search :: homonyms"></th:block>
      <div class="word-details">
        <div class="no-results__wrapper" th:unless="${wordsData.resultExists}" th:with="isFiltered = ${isLangFiltered || isDatasetFiltered}">
          <th:block th:if="${wordsData.validSearch}">
            <h1 class="no-results__title" th:text="#{label.search.word.not.found(${searchWord})}"></h1>
            <th:block th:unless="${wordsData.suggestionExists}">
              <th:block th:if="${wordsData.availableLanguagesDatasets.availableFiltersExist}">
                <div th:text="#{label.search.filter.suggestion.detail}">Otsing annab tulemusi teistes keeltes või sõnakogudes kui sinu valitud filtris.</div>
                <div th:with="
                      hasLanguages = ${not #lists.isEmpty(wordsData.availableLanguagesDatasets.languages)},
                      hasDatasets = ${not #lists.isEmpty(wordsData.availableLanguagesDatasets.datasets)}"
                      class="no-results__columns" th:classappend="${!hasLanguages || !hasDatasets ? 'no-results__columns--single' : ''}">
                  <div th:if="${hasLanguages}">
                    <div th:each="language : ${wordsData.availableLanguagesDatasets.languages}" th:text="${language.value}"></div>
                  </div>
                  <div th:if="${hasDatasets}">
                    <div th:each="dataset : ${wordsData.availableLanguagesDatasets.datasets}" th:text="${dataset.name}"></div>
                  </div>
                </div>
                <div>
                  <a th:href="@{${@viewUtil.getDetailSearchUri(searchWord)}}" th:text="#{label.search.filter.clear}"> Otsi uuesti ilma piiranguteta </a>
                </div>
              </th:block>
              <th:block th:unless="${wordsData.availableLanguagesDatasets.availableFiltersExist}">
                <h2>#1</h2>
                <div th:utext="#{|label.word.not.found.detail.filtered.${isFiltered}|}">Ei leidnud midagi</div>
              </th:block>
            </th:block>
            <th:block th:if="${wordsData.formResultExists}">
              <div>
                <span th:text="#{label.suggest.form}">see on ka vorm sõnast</span>
                <a href="#" class="word-form" th:each="word,wordIter : ${wordsData.suggestedWordValues}" th:text="${wordIter.last ? word : word + ',&nbsp;'}" th:data-word="${word}"> </a>
              </div>
              <div th:utext="#{|label.form.found.detail.filtered.${isFiltered}|}">Ei leidnud midagi</div>
            </th:block>
            <th:block th:if="${wordsData.altResultExists}">
              <span th:text="#{label.suggest.alt}">mõned sarnased märksõnad</span>
              <div class="no-results__list">
                <a href="#" class="word-form" th:each="word,wordIter : ${wordsData.suggestedWordValues}" th:text="${word}" th:data-word="${word}"> </a>
              </div>
              <div th:utext="#{|label.form.found.detail.filtered.${isFiltered}|}">Ei leidnud midagi</div>
            </th:block>
          </th:block>
          <th:block th:unless="${wordsData.validSearch}">
            <h1 class="no-results__title" th:text="#{label.search.word.invalid}"></h1>
          </th:block>
        </div>
      </div>
    </main>
    <div class="word-details" th:fragment="worddetails" th:if="${wordData.word != null}">
      <input id="selected-word-homonym-nr" type="hidden" th:value="${wordData.word.homonymNr}">
      <input id="selected-word-lang" type="hidden" th:value="${wordData.word.lang}">
      <div class="py-2" th:text="#{label.lexeme.not.found}" th:unless="${wordData.relevantDataExists}">Soovitud keeltes tulemusi ei leidu</div>
      <div class="word-results" th:if="${wordData.relevantDataExists}">
        <div>
          <th:block th:replace="common-search :: word-data"></th:block>
          <th:block th:if="${wordData.lexemesExist}">
            <th:block th:if="${not #lists.isEmpty(wordData.lexLexemes)}">
              <div class="d-flex align-items-end flex-wrap gap-2">
                <h2 class="search__pre-block-title search__pre-block-title--no-bottom-margin" th:text="#{lexdata.title}"></h2>
                <div class="text-caption text-darker-gray">
                  <span th:text="#{label.tooltip.last_modified}"></span>
                  <span th:text="${
                    wordData.word.manualEventOn == null
                    ? null
                    : #dates.format(wordData.word.manualEventOn, 'dd.MM.yyyy')}"></span>
                </div>
              </div>
              <div class="search__block search__block--unified">
                <th:block th:replace="common-search :: lex-detail-view"></th:block>
              </div>
            </th:block>
            <th:block th:if="${not #lists.isEmpty(wordData.termLexemes)}">
              <h2 class="search__pre-block-title" th:text="#{termdata.title}">Oskussõnastikud</h2>
              <th:block th:replace="common-search :: term-detail-view">
              </th:block>
            </th:block>
          </th:block>
          <th:block th:replace="common-search :: no-lexemes-exist"></th:block>
        </div>
        <div>
          <th:block th:unless="${wordData.word.incorrectWordForm}">
            <th:block th:replace="common-search-sidebar :: paradigms"></th:block>
            <th:block th:replace="common-search-sidebar :: word-od-recommendation"></th:block>
            <th:block th:replace="common-search-sidebar :: etymology"></th:block>
            <th:block th:replace="common-search-sidebar :: word-relations"></th:block>
            <th:block th:replace="common-search-sidebar :: keelenou"></th:block>
            <div class="search__sidebar-block search__block text-body-two" th:if="${wordData.estHeadword}">
              <div id="corp" th:text="#{label.corp.search}">Otsin veebilauseid ...</div>
            </div>
            <div class="search__sidebar-block search__block text-body-two" th:if="${wordData.estHeadword && wordData.rusContent}">
              <div id="corpTrans" th:text="#{label.corp.translations.search}">Otsin tõlgitud näiteid ...</div>
            </div>
            <div class="search__sidebar-block search__block text-body-two" th:if="${wordData.skellCompatible}">
              <th:block th:replace="common-search-sidebar :: skell-search-link"></th:block>
            </div>
          </th:block>
        </div>
      </div>
      <script th:inline="javascript">
		var currentWord = /*[[${wordData.word.word}]]*/'';
		var currentWordId = /*[[${wordData.word.wordId}]]*/'';
		var currentWordLang = /*[[${wordData.word.lang}]]*/'';
		var currentLinkedLexemeId = /*[[${wordData.linkedLexemeId}]]*/'';
		scrollToLexeme(currentLinkedLexemeId);
	  </script>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <script th:inline="javascript">
  	var currentPage = /*[[@{/search/unif}]]*/"/search/unif";
  	var searchWordFragUrl = /*[[@{/searchwordfrag/unif}]]*/"/searchwordfrag/unif";
  	var wordDetailsUrl = /*[[@{/worddetails/unif}]]*/"/worddetails/unif";
  	var newsAcceptUrl = /*[[@{/newsaccept}]]*/"/newsaccept";
  	var morphoUrl = /*[[@{/morpho/unif}]]*/"/morpho/unif";
  	var searchLinkUrl = /*[[@{/searchlink/unif}]]*/"/searchlink/unif";
  	var corpUrl = /*[[@{/corp/detail}]]*/"/corp/detail";
  	var corpTransUrl = /*[[@{/corptrans}]]*/"/corptrans";
  	var speechRecognitionServiceUrl = /*[[${speechRecognitionServiceUrl}]]*/'/';
  	var userPrefUrl = /*[[@{/user-pref}]]*/"/user-pref";
  	setActiveMenuItem('search-unif');
  </script>
</body>
</html>
