<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
<title>Otsing</title>
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/recorder.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-audio.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-search.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-horizontal-scroll-panel.js}"></script>
</th:block>
</head>
<body class="survey-active">
  <div>
    <th:block th:replace="common-app :: wcag-search"></th:block>
    <th:block th:replace="common-app :: wcag-main"></th:block>
  </div>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div th:replace="common-app :: menu-with-back-btn"></div>
  <div class="container-fluid homonym-page mt-3 mb-5">
    <div class="search-results-header px-0">
      <div class="d-flex flex-row flex-wrap align-items-center pb-3">
        <th:block th:replace="common-search :: form-match"></th:block>
        <div class="d-flex align-items-center">
          <th:block th:replace="common-search :: lang-filter"></th:block>
          <div class="mr-auto mr-md-2 pl-2 d-flex align-items-center flex-wrap">
            <label class="mr-2 my-0 p-0" th:text="#{label.filter.dataset}">Sõnakogud</label>
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle p-0" type="button" id="datasetMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="selected-datasets" th:text="${selectedDatasetsStr}"></span>
              </button>
              <div class="dropdown-menu py-0" aria-labelledby="datasetMenuButton">
                <div class="dropdown-menu-scroll px-2 py-1">
                  <th:block th:each="filterElem : ${datasetFilter}">
                    <a href="#" th:id="${'dataset-' + filterElem.code}" th:data-filter-code="${filterElem.code}" th:text="${filterElem.value}"
                      class="dropdown-item dropdown-item-multiselect px-2 text-wrap py-1" th:classappend="${filterElem.selected ? 'active' : ''}">Sõnakogu</a>
                    <th:block th:if="${filterElem.addSeparator}">
                      <div class="dropdown-divider"></div>
                      <div class="text-muted font-italic pl-1" th:text="#{label.pick.some}">vali üks või mitu</div>
                    </th:block>
                  </th:block>
                </div>
              </div>
            </div>
            <div>
              <a th:href="@{/feelinglucky}" class="link ml-3 d-none d-md-block">
                <span th:text="#{button.label.feelinglucky}">Ehk mul veab</span>
              </a>
            </div>
          </div>
        </div>
        <button name="feedback-btn" value="feedback" class="feedback-btn ml-auto btn btn-success py-0 show-with-details" role="button" type="button"
                data-toggle="modal" data-target="#feedbackModal"
                data-item-name="feedback" th:text="#{feedback.title}">Tagasiside</button>
      </div>
    </div>
    <main id="mainContentArea" role="main" class="content-panel px-3 loading">
      <div th:if="${wordsData.resultsExist}" class="loading-indicator">
        <div class="spinner-border text-primary " role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <th:block th:replace="common-search :: homonyms"></th:block>
      <div class="word-details">
        <th:block th:unless="${wordsData.resultsExist}" th:with="isFiltered = ${isLangFiltered || isDatasetFiltered}">
          <th:block th:if="${#lists.isEmpty(wordsData.formMatchWordValues)}">
            <th:block th:if="${wordsData.availableLanguagesDatasets.suggestionsExist}">
              <div class="h3 mt-4 ml-3 d-inline-block">
                <span th:text="#{label.search.filter.suggestion.detail}">Otsing annab tulemusi teistes keeltes või sõnakogudes kui sinu valitud filtris.</span>
              </div>
              <div class="row mt-4 ml-3">
                <div class="col-md-2">
                  <th:block th:each="language : ${wordsData.availableLanguagesDatasets.languages}">
                    <h6 th:text="${language.value}" class="font-wight-bold"></h6>
                  </th:block>
                </div>
                <div class="col-md-6">
                  <th:block th:each="dataset : ${wordsData.availableLanguagesDatasets.datasets}">
                    <h6 th:text="${dataset.name}" class="font-wight-bold"></h6>
                  </th:block>
                </div>
              </div>
              <div class="mt-4 ml-3">
                <a th:href="@{${viewUtil.getDetailSearchUri(searchWord)}}">
                  <span th:text="#{label.search.filter.clear}">Otsi uuesti ilma piiranguteta</span>
                </a>
              </div>
            </th:block>
            <th:block th:unless="${wordsData.availableLanguagesDatasets.suggestionsExist}">
              <div class="h1 mt-4 ml-3 d-inline-block">
                <span th:utext="#{|label.word.not.found.detail.filtered.${isFiltered}|}">Ei leidnud midagi</span>
              </div>
            </th:block>
          </th:block>
          <th:block th:unless="${#lists.isEmpty(wordsData.formMatchWordValues)}">
            <div class="h1 mt-4 ml-3 d-inline-block">
              <div>
                <span th:text="#{label.word.form}">see on ka vorm sõnast</span>
                <a href="#" class="word-form"
                   th:each="word,wordIter : ${wordsData.formMatchWordValues}"
                   th:text="${wordIter.last ? word : word + ',&nbsp;'}"
                   th:data-word="${word}">
                </a>
              </div>
              <div th:utext="#{|label.form.found.detail.filtered.${isFiltered}|}">Ei leidnud midagi</div>
            </div>
          </th:block>
          <!-- /Removed termsearch -->
        </th:block>
      </div>
    </main>
    <div class="row word-details" th:fragment="worddetails" th:if="${wordData.word != null}">
      <input id="selected-word-homonym-nr" type="hidden" th:value="${wordData.word.homonymNr}">
      <div class="col-12 pt-2 ml-2" th:unless="${wordData.relevantDataExists}">
        <div class="row">
          <h5 th:text="#{label.lexeme.not.found}">Soovitud keeltes tulemusi ei leidu</h5>
        </div>
      </div>
      <div class="col-12 d-md-block d-md-block d-flex flex-column" th:if="${wordData.relevantDataExists}">
        <div class="row h-100 flex-grow-1 flex-shrink-1">
          <div class="col-md-7 col-lg-8 main-data">
            <div class="row">
              <th:block th:replace="common-search :: word-data"></th:block>
            </div>
            <div class="level-2-panel">
              <th:block th:if="${wordData.lexemesExist}">
                <th:block th:if="${not #lists.isEmpty(wordData.lexLexemes)}">
                  <h5 class="meaning-sub-heading">
                    <i class="fa fa-book mr-1 text-muted"></i>
                    <span th:text="#{lexdata.title}">EKI ühendsõnastik 2020</span>
                  </h5>
                  <div th:if="${wordData.rusHeadword}" class="alert bg-warning text-black px-3 py-1 d-flex align-items-center update-alert flex-nowrap" role="alert">
                    <i class="fa fa-exclamation-triangle small mr-2 mt-1" aria-hidden="true"></i>
                    <span th:text="#{warning.eki.rus}">See ei ole valmis sõnastik.</span>
                  </div>
                  <th:block th:each="lexeme : ${wordData.lexLexemes}">
                    <section class="level-3-panel meaning-panel d-flex flex-row">
                      <div th:replace="lex-details :: lexeme-data"></div>
                    </section>
                  </th:block>
                </th:block>
                <th:block th:if="${not #lists.isEmpty(wordData.termLexemes)}">
                  <h5 class="meaning-sub-heading">
                    <a data-toggle="collapse" href="#term-section-collapse">
                      <i class="fa fa-book mr-1 text-muted"></i>
                      <span th:text="#{termdata.title}">Oskussõnastikes</span>
                    </a>
                  </h5>
                  <div id="term-section-collapse" data-name="term-section" class="collapse user-preference show">
                    <th:block th:each="lexeme : ${wordData.termLexemes}">
                      <section class="level-3-panel meaning-panel d-block">
                        <div th:replace="term-details :: meaning-data"></div>
                      </section>
                    </th:block>
                  </div>
                </th:block>
                <!-- /Removed termsearch -->
                <th:block th:if="${not #lists.isEmpty(wordData.limTermLexemes)}">
                  <section class="level-3-panel meaning-panel d-block" th:each="lexeme : ${wordData.limTermLexemes}">
                    <div th:replace="term-details :: meaning-data"></div>
                  </section>
                </th:block>
              </th:block>
              <div th:replace="common-search :: no-lexemes-exist"></div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 more-data sidebar" th:unless="${wordData.word.incorrectWordForm}">
            <th:block th:replace="common-search-sidebar :: paradigms"></th:block>
            <th:block th:replace="common-search-sidebar :: od-word-recommendations"></th:block>
            <th:block th:replace="common-search-sidebar :: word-relations"></th:block>
            <th:block th:replace="common-search-sidebar :: etymology_new"></th:block>
            <th:block th:if="${wordData.estHeadword || wordData.rusHeadword}">
              <th:block th:replace="common-search-sidebar :: keelenou"></th:block>
            </th:block>
            <th:block th:if="${wordData.estHeadword}">
              <div id="corp" th:text="#{label.corp.search}">Otsin veebilauseid ...</div>
            </th:block>
            <th:block th:if="${wordData.estHeadword && wordData.rusContent}">
              <div id="corpTrans" th:text="#{label.corp.translations.search}">Otsin tõlgitud näiteid ...</div>
            </th:block>
            <th:block th:if="${wordData.rusHeadword}">
              <section th:replace="common-search-sidebar :: corp_rus"></section>
            </th:block>
          </div>
          <div class="col-md-5 col-lg-4 more-data sidebar" th:if="${wordData.word.incorrectWordForm}">
            <th:block th:replace="common-search-sidebar :: od-word-recommendations"></th:block>
          </div>
        </div>
      </div>
      <script th:inline="javascript">
  	    var currentWord = /*[[${wordData.word.word}]]*/'';
  	    var currentWordId = /*[[${wordData.word.wordId}]]*/'';
  	    var currentWordLang = /*[[${wordData.word.lang}]]*/'';
  	    var currentLinkedLexemeId = /*[[${wordData.linkedLexemeId}]]*/'';
  	    scrollToLexeme(currentLinkedLexemeId);
      </script>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <script th:inline="javascript">
  	var currentPage = /*[[@{/search/unif}]]*/"/search/unif";
  	var searchWordFragUrl = /*[[@{/searchwordfrag/unif}]]*/"/searchwordfrag/unif";
  	var wordDetailsUrl = /*[[@{/worddetails/unif}]]*/"/worddetails/unif";
  	var morphoUrl = /*[[@{/morpho/unif}]]*/"/morpho/unif";
  	var searchLinkUrl = /*[[@{/searchlink/unif}]]*/"/searchlink/unif";
  	var corpUrl = /*[[@{/corp/detail}]]*/"/corp/detail";
  	var corpTransUrl = /*[[@{/corptrans}]]*/"/corptrans";
  	var speechRecognitionServiceUrl = /*[[${speechRecognitionServiceUrl}]]*/'/';
  	var userPrefUrl = /*[[@{/user-pref}]]*/"/user-pref";
  	setActiveMenuItem('search-unif');
  </script>
</body>
</html>
