<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(_,~{::links},_)">
<th:block th:fragment="links">
  <script type="text/javascript" th:src="@{/view/js/recorder.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-audio.js}"></script>
  <script type="text/javascript" th:src="@{/view/js/ww-common-search.js}"></script>
</th:block>
</head>
<body class="home-page d-flex flex-column survey-active">
  <th:block th:replace="common-app :: update-msg"></th:block>
  <th:block th:replace="common-app :: wcag-search"></th:block>
  <th:block th:replace="common-app :: latest-ww-news-article"></th:block>
  <th:block th:replace="common-app :: ie-user"></th:block>
  <div class="header-container d-flex">
    <div th:replace="common-app :: lang-and-menu-btn"></div>
  </div>
  <div class="container-fluid home-page-content">
    <div class="row">
      <div class="col align-self-center main-content-wrapper">
        <div class="row">
          <div aria-hidden="true" class="col-12 mb-1 mb-md-2">
            <span class="logo logo-big"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
            <div th:replace="common-search :: search"></div>
          </div>
        </div>
        <div class="text-center mt-5 align-middle">
          <span class="align-middle">
            <a th:href="@{/lite}" target="_blank" class="link simple-search-brand-link" data-item-name="search-lite">
              <span th:text="#{menu.search.lite}">Keeleõppija Sõnaveeb</span>
              <i class="fas fa-external-link-alt ml-2" aria-hidden="true"></i>
            </a>
          </span>
          <span class="align-middle d-none d-md-inline">
            <a th:href="@{/feelinglucky}" class="link ml-5">
              <span th:text="#{button.label.feelinglucky}">Ehk mul veab</span>
            </a>
          </span>
        </div>
        <div class="logo-wrapper">
          <ul class="logo-list list-unstyled">
            <li>
              <span class="eki-logo mini-logo"></span>
            </li>
            <li>
              <span class="esf-logo mini-logo"></span>
            </li>
            <li>
              <span class="erf-logo mini-logo"></span>
            </li>
            <li>
              <span class="htm-logo mini-logo"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="common-app :: footer-content"></div>
  <div th:replace="common-app :: feedback-form"></div>
  <script th:inline="javascript">
  	var currentPage = /*[[@{/}]]*/"/";
  	var searchWordFragUrl = /*[[@{/searchwordfrag/unif}]]*/"/searchwordfrag/unif";
  	var wordDetailsUrl = /*[[@{/worddetails/unif}]]*/"/worddetails/unif";
  	var newsAcceptUrl = /*[[@{/newsaccept}]]*/"/newsaccept";
  	var speechRecognitionServiceUrl = /*[[${speechRecognitionServiceUrl}]]*/'/';
  	setActiveMenuItem('search-unif');
  </script>
</body>
</html>
