<!DOCTYPE html>
<html lang="et"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-app :: common_header(~{::title},~{::links},_)">
  <title>Sõnaveeb - Õpime eesti keelt</title>
  <th:block th:fragment="links">
    <script type="text/javascript"
            th:src="@{/view/js/hash.js}"></script>
    <!-- <script type="text/javascript"
            th:src="@{/view/js/ww-aside-menu.js}"></script> -->
    <script type="text/javascript" th:src="@{/view/js/shared.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/recorder.js}"></script>
    <script type="text/javascript" th:src="@{/view/js/ww-common-audio.js}"></script>
    <script th:inline="javascript">
      // siin saab lisada keelte nimetusi
      var wordGameLearningLanguages = {     
        'et' : /*[[#{label.wordgame.languages.et}]]*/'eesti keel',
        'ru' : /*[[#{label.wordgame.languages.ru}]]*/'vene keel',
        'uk' : /*[[#{label.wordgame.languages.uk}]]*/'ukraina keel',
        'en' : /*[[#{label.wordgame.languages.en}]]*/'inglise keel',
        'de' : /*[[#{label.wordgame.languages.de}]]*/'saksa keel',
      }

      // siin saab lisada otsingu vihjeid desktop ja mobiili puhul
      var wordGameSearchHints = {
        'desktop': {          
          'et' : /*[[#{label.wordgame.search.et}]]*/'Otsi sõna või teemat eesti keeles',
          'ru' : /*[[#{label.wordgame.search.ru}]]*/'Otsi sõna või teemat vene keeles',
          'uk' : /*[[#{label.wordgame.search.uk}]]*/'Otsi sõna või teemat ukraina keeles',
          'en' : /*[[#{label.wordgame.search.en}]]*/'Otsi sõna või teemat inglise keeles',
          'de' : /*[[#{label.wordgame.search.de}]]*/'Otsi sõna või teemat saksa keeles',
        },
        'mobile': {
          'et' : /*[[#{label.wordgame.search.et.mobile}]]*/'Otsi eesti keeles',
          'ru' : /*[[#{label.wordgame.search.ru.mobile}]]*/'Otsi vene keeles',
          'uk' : /*[[#{label.wordgame.search.uk.mobile}]]*/'Otsi ukraina keeles',
          'en' : /*[[#{label.wordgame.search.en.mobile}]]*/'Otsi inglise keeles',
          'de' : /*[[#{label.wordgame.search.de.mobile}]]*/'Otsi saksa keeles',
        },
      }

      var wordGameTranslations = {
        'seeMore' : /*[[#{button.see.more}]]*/'Näita rohkem',
        'seeLess' : /*[[#{button.see.less}]]*/'Näita vähem',
        'searchClear' : /*[[#{aria.search.clear}]]*/'Puhasta otsing',
        'search' : /*[[#{aria.search.search}]]*/'Otsi',
        'recStart' : /*[[#{button.label.start.rec}]]*/'Dikteeri',
        'recStop' : /*[[#{button.label.stop.rec}]]*/'Lõpeta',
        'selectedLanguage' : /*[[#{label.wordgame.selected.language}]]*/'Õpitav keel',
        'wgSearch' : /*[[#{label.wordgame.search}]]*/'Otsi sõna või teemat',
        'level' : /*[[#{label.wordgame.level}]]*/'Keeletase',
        'texttransform' : /*[[#{label.wordgame.texttransform}]]*/'Kirjatüüp',
        'beginner' : /*[[#{label.wordgame.beginner}]]*/'Algtase',
        'advanced' : /*[[#{label.wordgame.advanced}]]*/'Kesktase',
        'lowercase' : /*[[#{label.wordgame.lowercase}]]*/'Kirjatäht',
        'uppercase' : /*[[#{label.wordgame.uppercase}]]*/'Trükitäht',
        'towiki' : /*[[#{label.wordgame.towiki}]]*/'Sõnaveebi',
        'example' : /*[[#{label.wordgame.example}]]*/'Näitelause',
        'examples' : /*[[#{label.wordgame.examples}]]*/'Näited',
        'examplesmissing' : /*[[#{label.wordgame.examplesmissing}]]*/'Näitelause puudub.',
        'searchnoresult' : /*[[#{label.wordgame.search.noresult}]]*/'Otsing “[0]” ei andnud tulemusi. Proovi muuta otsingut või õpitavat keelt.',
        'searchnoresultshort' : /*[[#{label.wordgame.search.noresult.short}]]*/'Ei leidnud vastet',
        'nocategory' : /*[[#{label.wordgame.nocategory}]]*/'Valitud õpitavas keeles ei ole sellist teemat. Proovi leida sõnu läbi otsingu või vali muu teema.',
        'nowords' : /*[[#{label.wordgame.nowords}]]*/'Sellel tasemel ei ole pilte. Vaheta piltide nägemiseks keeleoskustaset.',
        'selectionOfCategories' : /*[[#{label.wordgame.selection.of.categories}]]*/'Teemade valik',
        'word' : /*[[#{label.wordgame.word}]]*/'SÕNA',
        'category' : /*[[#{label.wordgame.category}]]*/'TEEMA',
        'tocardfront' : /*[[#{label.wordgame.tocardfront}]]*/'Pilt',
        'nosound' : /*[[#{label.wordgame.nosound}]]*/'Sellel sõnal ei ole heli',
        'autoplay' : /*[[#{label.wordgame.autoplay}]]*/'Automaatne hääldamine',
        'on' : /*[[#{label.wordgame.on}]]*/'Sees',
        'off' : /*[[#{label.wordgame.off}]]*/'Väljas',
        'wordgame' : /*[[#{menu.wordgame}]]*/'Pilt ja heli',
        'feedback' : /*[[#{feedback.title}]]*/'Tagasiside',
        'learningLanguagesList': wordGameLearningLanguages,
        'searchHintsList': wordGameSearchHints
      }

      var speechRecognitionServiceUrl = /*[[${speechRecognitionServiceUrl}]]*/'/';
      const viewPath = /*[[@{/view}]]*/'/view';
    </script>
    <script th:src="@{/view/js/twig.min.js}"></script>
    <script th:src="@{/view/js/ww-wordgame.js}"></script>
  </th:block>
</head>
<body class="survey-active">
<th:block th:replace="common-app :: wcag-sidebar"></th:block>
<th:block th:replace="common-app :: wcag-main"></th:block>
<th:block th:replace="common-app :: aria-live-announcer"></th:block>
<th:block th:replace="common-app :: ie-user"></th:block>
<th:block th:replace="common-app :: header(withSearch = ${false})"></th:block>
<div class="container-fluid learn">
    <div id="wordgame"></div>
</div>
<div th:replace="common-app :: footer-content"></div>
<th:block th:replace="common-app :: content-top"></th:block>
<script th:inline="javascript">
    $(document).on("click", ".back", function (e) {
        window.location = applicationUrl;
    });
</script>
</body>
</html>
