// LARGE+
////////////////////////////////

@include media-breakpoint-up(lg) {

////////////////////////////////
.menu-btn{
	background-color: $white;
	box-shadow: $dropdown-box-shadow;
}
.homonym-list{
	margin-left:-($gutter);
	margin-right:-($gutter);
}
.content-panel{
	background-color: $white;
	@include border-radius($border-radius-sm);
}
.header-wrap,
.search-panel,
.content-panel{
	max-width: 80vw !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.homonym-panel{
	padding-left: 0;
	padding-right: 0;
}
.homonym-list{
	padding-left: calc((100% - 80vw)/2 + #{$gutter} ) !important;
	padding-right: calc((100% - 80vw)/2 + #{$gutter} ) !important;
	width: calc( 100% + 2 * #{$gutter});
	li:last-child{
		padding-right: calc(10vw ) !important;
		a{
			padding-right: 0;
		}
	}
}
.search-panel{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
// .container-fluid:first-child{
// 	background-color: $black;
// }
.dependencies{
	margin-top: rem(-4);
}

////////////////////////////////

}