////////////////////////////////
////// MOBILE -> ALL /////////
////////////////////////////////

.dependencies + div {
	display: none;
}

*{
	transition: 50ms ease-out;
}
html{
	background-color: $gray-100;
}
ul{
	list-style: none;
	padding-left: 0;
}
input{
}
.header-container{
	position: fixed;
	z-index: 111;
	top:0;
}
.header-wrap{
	background-color: $gray-100;
	height: rem(70);
}
.header-links{
	a{
		color: rgba($white, 0.8);
		font-weight: $font-weight-bold;
		padding-left: rem(15);
		padding-right: rem(15);
		&.selected{
			color: $white;
		}
	}
}
.search-wrap{
	top: rem(70);
	width: 100%;
	position: fixed;
	z-index: 111;
	background-color: $gray-100;
}
.search-main{
	position: relative;
}
.extra-buttons,
.search-btn{
	position: absolute;	
	top:rem(5);
}
.clear-btn,
.speak-btn,
.search-btn{
	width: rem(50);
	height: rem(50);
	border-radius: $border-radius-lg !important;
	padding: rem(4) 0 0 0;
	}
.search-btn{
	right:rem(5);
	border-radius: $border-radius-lg !important;
	box-shadow: $dropdown-box-shadow;
	padding-top: rem(8);
	.icon{
		font-size: $font-size-base * 2 !important;		
	}
}
.dropdown-menu{
	border:none;
	box-shadow: $dropdown-box-shadow;
	&.container div{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
.extra-buttons{
	right: rem(65);
	.btn{
		color: $gray-600;
		background-color: transparent;
	}
}
.lang-btn{
	transition: 0ms;
	.icon{
		font-size: $font-size-base;
	}
}
.btn{
	text-transform: uppercase;
	font-weight: $font-weight-bold;
}
.icon{
	font-size: $font-size-base * 1.5;
	padding-top: 10px;
}
.btn-light{
	color: $teal;
}
.homonym-item-wrap{
	display: block;
	transition: 0ms !important;
}
.homonym-name,
.homonym-matches,
.homonym-intro{
		white-space: nowrap;
	}
.homonym-header{
	font-weight: $font-weight-bold;
}
.homonym-name{
    transition: 0ms !important;
	color: $teal;
}
.homonym-matches,
.homonym-intro{
	font-size: $tiny-font-size;
}
.homonym-matches{
	font-weight: $font-weight-bold;
}
.homonym-intro *{
	color: $gray-600 !important;
}
.content-wrap{
	padding-top: rem(10);
}
.search-panel,
.homonym-panel,
.level-2-panel{
	padding-top: rem(0);
	padding-bottom: rem(15);
}
.content-wrap{
	background-color: $gray-100;
}
.menu-btn{
	position: absolute;
	z-index: 99999;
	top:0;
	right:0;
}
.search-panel{
	background-color: $gray-100;
}
.content-panel{
	background-color: $white;
	box-shadow: $dropdown-box-shadow;
}
.level-2-panel,
.level-3-panel{
	margin-left:-($gutter);
	margin-right:-($gutter);
	padding:$gutter;
	padding-right:$gutter;
}
.level-2-panel:first-child{
	margin-top: rem(30);
	border-top-color: transparent; 
}
.level-2-panel{
	position: relative;
	border-top: $border-width-lg $border-color-lg solid ;
}
.level-3-panel{
	position: relative;
	outline: 0 solid $border-color-lg !important;
	// max-height: 500px;
	// overflow: hidden;
	margin-top:	-$border-width; 
	border-color: $border-color !important;
	border-top: $border-width solid;
	border-bottom: $border-width solid;
	&:not(.expand){ 
		.additional-meta,
		.dictionary-source,
		.dependence:not(:first-child),
		.example-item:not(:first-child)
		{
			display: none;
			opacity: 0;
		}
	}
	&.expand{
		outline: $border-width-lg solid $border-color-lg !important;
		border: $border-width $border-color solid;
		margin-right: -3 * $border-width-lg !important;
    	margin-left: -3 * $border-width-lg !important;
    	margin-top: $border-width-lg !important;
    	margin-bottom: $border-width-lg !important;
    	max-height: 1000px;
		.dependence{
			padding-bottom: rem(5);
		}
		.example-text{
			margin-bottom: rem(3);
		}
	}
	&:hover{
		.more-btn{
			color: $black;
		}
	}
}
.level-3-panel:first-child{
	// margin-top: rem(-30) !important;
}
.level-3-panel:not(:last-child){
	
	// border-bottom: $border-width $border-color solid ;
}
.dictionary-source{
	position: absolute;
	top:rem(-5);
	right: $gutter;
	color: $gray-600;
	font-size: $tiny-font-size;
	background-color: $white;
	padding: 0 rem(5);
}
.additional-meta{
	margin-top:rem(10);
	color: $gray-600;
	opacity: 1;
}

.fade-target {
  animation: fade 750ms linear ;
}
@keyframes fade { 
	0%   { opacity: 0; }
	10%  { opacity: 0; }
	100% { opacity: 1; }
}


.more-btn{
	cursor: pointer;
	position: absolute;
	height: 100%;
    top: 0;
    right: 0;
    width: rem(60);
    background: transparent;
    border: none;
    &:active, &:hover, &:focus{
    	outline: none !important;
	    .icon::before{
	        background-color: $gray-100;
			color: $teal !important;
	    }
    }
    .icon::before{
	color: $gray-600;
	transform: rotate(270deg);
	display: inline-block;
	border-radius: $border-radius;
	padding: rem(10);
	margin-left: rem(-10);
    }
}
.expand .more-btn{
	top: -$border-width-lg;
    right: -$border-width-lg;
    height: calc(100% + #{$border-width-lg});
    width: rem(70);
	.icon:before{
		color: $black !important;
		transform: rotate(90deg);
	}
}
.dependencies *{
	transition: 0ms;
}
.dependence{
	overflow: auto;
	margin-bottom: rem(-7);
	max-width: rem(500);
}
.example-item{
	display: flex;
	&:hover{
		cursor: pointer;
		.example-text{
			background-color: $gray-200;
		}
		.btn-speaker{
			color: $teal;
		}
	}
}
.example-text{
	float: left;
	font-style: italic;
	letter-spacing: rem(.32);
	background-color: $gray-100;
	border-radius: $border-radius-sm;
	// padding: rem(2) rem(7);
	strong{
		font-weight: $font-weight-bold;
	}
}
.example-text{
	padding: rem(4) rem(10) rem(6) rem(10);
}

.btn-speaker{
	color: $gray-300;
	padding: rem(2);
	float: left;
	display: block;
    background: transparent;
        &:active, &:hover, &:focus{
    	outline: none !important;
    	border: none !important;
		color: $teal !important;
		box-shadow: none !important;
    }
}