
// color
$color-bg:						#fdfdfd; //#fefefe;
$color-menu:					#fff;
$color-border:					rgba(0,0,0,0.1);

$color-gray-thin:				rgba(0,0,0,0.4);
$color-gray-area:				rgba(0,0,0,0.4);

$color-gold:					#BEAD6F;
