// DESKTOP +
////////////////////////////////

@media (min-width: 767px){
	.home-page-content{
		.logo-main{
			font-size: calc(5vw);
		}
	}
}

@include media-breakpoint-up(md) {

////////////////////////////////
.homonym-page{
	background-color: $gray-100;
}
.search-panel,
.homonym-panel,
.word-details{
	// padding-top: rem(30);
}
.search-wrap{
	top: rem(70);
	box-shadow: 0 rem(10) rem(10) $gray-100;
}
.dropdown-menu.container{
	max-width: rem(500) !important;
	width: auto !important;
}
.back{
	display: none;
}
.homonym-panel{
	background-color: $gray-100;
	overflow: hidden;
	height: rem(150);
}
.homonym-list{
    width: calc(100% + 2 * #{$gutter});
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    padding: $gutter;
    margin: -$gutter;
    padding-bottom: rem(1600000);
}
.homonym-list li{
	display: flex;
	.homonym-item{
		margin-left: rem(-10);
		margin-right: rem(10);
	}
	&:last-child{
		padding-right: rem(30);
		.homonym-item{
			margin-right: 0;
		}
	}
}
.homonym-item{
	height: 100%;
    display: flex;
	&:hover{
		text-decoration: none;
	}
	.homonym-name-container{
		max-width: calc( 100% - 24px );
		padding-right:rem(6);
	    display: inline-block;
	    position: relative;
	    &:before, &:after{
	    	content: "";
	    	display: block;
	    	position: absolute;
	    	top:0;
			left: rem(140);
	    	margin-right: rem(-1);
	    	height: 100%;
	    	width: rem(30);
	    	z-index: 10000;
	    	background: $white;
		    background: -webkit-linear-gradient(185deg, $white 20%, rgba($white,0) 100%);
		    background: -o-linear-gradient(185deg, $white 20%, rgba($white,0) 100%);
		    background: linear-gradient(275deg, $white 20%, rgba($white,0) 100%);
	    }
	}
	&.selected{
		.homonym-name-container{
		    &:before, &:after{
		    	background: $primary;
			    background: -webkit-linear-gradient(185deg, $primary 20%, rgba($primary,0) 100%);
			    background: -o-linear-gradient(185deg, $primary 20%, rgba($primary,0) 100%);
			    background: linear-gradient(275deg, $primary 20%, rgba($primary,0) 100%);
		    }
		}
	}
	.homonym-nr{
	    color: $white;
	    display: inline-block;
	}
}
h3 span + span{
	font-size:rem(19.2);
	font-family: $font-family-sans-serif !important;
}
.homonym-item{
	cursor: pointer;
	float: left;
	position: relative;
	padding: 0 rem(10);
	*{
		white-space: nowrap; 
	    overflow: hidden;
	}
	.homonym-item-wrap{
		transform: scale(1);
		transition: 50ms ease-out !important;
		display: flex;
		flex-direction: column;
	}
	&:not(.selected){
			&:hover .homonym-item-wrap{
				transform: scale(1.03);				
			}
		.homonym-item-wrap{
			color: $teal;
			transform-origin: center;
			box-shadow: $dropdown-box-shadow;
			background-color: $white;
		}
	}
	.homonym-item-wrap{
		// height: rem(120);
		width: rem(240) !important;
		padding:rem(15) rem(25);
		border-radius: $border-radius-card;
	}
	&:after{
		transition: 50ms ease-out;
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		background-image: url(../images/icons/homonym-arrowhead.svg);
		background-size: 100%;
		width: rem(40);
		height: rem(20);
		margin-left: rem(-20);
		left: 50%;
		bottom:rem(-10);
		transform: scale(0.25);
	}
	&.selected{
		color: $white;
		transform: scale(1);
		.homonym-item-wrap{
			background-color: $primary;
		}
		&:after{
			opacity: 1;
			margin-left: rem(-20);
			left: 50%;
			bottom:rem(-18);
			transform: scale(1);
		}
		.homonym-nr{
			background-color: $primary;
			color: $white;
			font-weight: $font-weight-bold;
		}
		span:not(.homonym-nr){
			color: $white !important;
		}
	}
	span:not(.homonym-name-container, .homonym-name, .homonym-nr){
	    transition: 0ms !important;
		margin-bottom: 0;
		color: $black;
	    text-overflow: ellipsis;
	    display: block;
	}
	.homonym-header{
		font-family: $headings-font-family;
		font-size: $h5-font-size;
	}
}
.homonym-intro{
	max-height: ($line-height-base)+rem;
	// position: absolute;
    top: rem(76);
    // width: calc(100% - 70px );
    margin-top: auto;
}
.homonym-matches{
	// min-height: rem(18);
	margin-bottom: auto;
}


// www.bouncejs.com
.animation-target {
  animation: animation 1250ms linear both;
}
@keyframes animation { 
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	70% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }  
	75% { transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	80% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
	85% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }  
	90% { transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
.homonym-wrap{
	// position: fixed;
	margin-top: rem(160);
	top: 150px;	
	// z-index: 11;	
}
.homonym-panel{
	// padding-bottom: rem(20);
}
.content-panel{
	box-shadow: $dropdown-box-shadow;
}
.main-data{
	border-right: $border-width $border-color solid ;	
}
.dictionary-source{
	// top:rem(5);
	// right: rem(5);
	font-size: $tiny-font-size;
}
.level-2-panel,
.level-3-panel{
	margin-left:-($gutter);
	margin-right:-($gutter);
	padding-right:$gutter;
}
.level-2-panel{
	padding:$gutter;
	padding-top:0;
}
.level-3-panel{
	padding:$gutter * 1.5 $gutter * 2;
}
.content-title{
    z-index: 1;
}
.meaning-panel{
	// &:not(:first-child){
		border-color: $gray-100 !important;
	// }
	overflow:auto;
	&, .meaningpanel > div {
		display: block !important;
	}
	.meaning,
	.meaning-meta{
		max-width: 50.01% !important;
		float: left;
	}
	.dependencies{
		max-width: 49.99% !important;
		float: right;
	}
}
.example-text{
	max-width: calc( 100% - 30px ) ;
}

////////////////////////////////

}