// MOBILE
////////////////////////////////
// @media (min-width: 401px) and (min-height: 561px) and (max-width: 767px)  {
// 	html{
// 		font-size: calc( (4.2666666666666666666666666vw + 3.007518797vh) / 2 );
// 	}
// }
@media (min-width: 401px) and (max-width: 767px) {
	// html{
	// 	font-size: 4vw;
	// }
	.home-page-content{
		.logo-main{
			font-size: 10.5vw;
		}
	}
}

@include media-breakpoint-down(sm) {

////////////////////////////////

html{
	background-color: $white;
}
.menu-btn{
	background-color: transparent;
	top: 0;
	right: 0;
}
body{
	.lang-btn{
		font-size: $supertiny-font-size;
	}	
	&:not(.home-page){
		.lang-btn{
			position: fixed;
			top:0;
			width: 50%;
			margin: 0 calc(25% - 15px ) ;
			z-index: 1111;
		}	
	}
}
.dropdown-menu{
	transform: translate3d(0px, 0px, 0px) !important;
}
.homonym-wrap{
	overflow: hidden;
}
.homonym-panel{
	margin-top: rem(150);
	background-color: $white;
}
.homonym-item{
	display: block;
	position: relative;
	overflow: hidden;
	// min-height: rem(100);
	margin-left:-($gutter);
	margin-right:-($gutter);
	padding:$gutter;
	padding-right: (3 * $gutter); 
	border-bottom: $border-width $border-color solid ;
	&.last-selected{
		background-color: rgba($black, 0.15);
		border-top: $border-width solid $white;
		border-bottom-color: $white;
		margin-top: -$border-width;
		*:not(.homonym-nr), *:after{
			color: $black !important;
		}
		.homonym-nr{
			background-color: $black; 
		}
	}
	*:not(.homonym-nr){
		display: block;
		white-space: nowrap;
		float: left;
	}
	&:after{
		content: unicode($icon-chevron-right);
		color: $gray-600;
		font-family: 'material-icons';
		position: absolute;
		top:50%;
		right:$gutter;
		width:$gutter;
		height:$gutter;
		margin-top: -($gutter / 2);
	}
}
.homonym-item-wrap{
	max-width: 100%;
}
.homonym-name,
.homonym-matches,
.homonym-intro{
		white-space: nowrap !important;
		text-overflow: ellipsis !important; 
		overflow: hidden !important;
		max-width: 100%;
	}
.homonym-nr{
    // height: rem(22);
    // width: rem(22);
    // display: inline-block;
    // font-size: $tiny-font-size;
    padding-top: rem(2);
    top: rem(-1);
    margin: 0 rem(10);
}
.homonym-matches{
	font-size: $font-size-base;
	font-weight: $font-weight-normal;
}
.word-details{
	margin-top: rem(70);
}
.level-3-panel{
	padding-top:$gutter * 1.5;
	padding-bottom:$gutter * 1.5;
}
.examples-wrap{
	float:right;
}
.btn-speaker{
	color: $teal;
}
////////////////////////////////

}
