.badge-counter{
  min-width: 18px;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
}
.btn-compact .badge-top-left{
  position: absolute;
  top: -$spacer * .5;
  left: -$spacer * .5;
}

.badge-data-exists {
  font-size: .50rem;
  vertical-align: top;
  color: $white;
  background-color: $red-400;
}
