.breadcrumbs {
  line-height: 32px;
  border-top: 1px solid $gray-200;
  flex-shrink: 0;
  position: relative;
  &--term-view {
    position: sticky;
    bottom: 0;
    background-color: white;
    border: 1px solid $gray-200;
    margin-top: auto;
    z-index: 10;
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 1px;
    padding: 0 8px;
  }

  li {
    &:not(:first-child):not(:last-child)::after{
      content: '';
      font-family: FontAwesome;
      display: inline-block;
      vertical-align: middle;
      margin:0 8px;
    }
    button {
      font-size: 12px;
      line-height: 15px;
      color: $gray-900;
      appearance: none;
      border: none;
      padding: 0;
      margin: 0;
      background: none;
      &[data-current="true"] {
        pointer-events: none;
        color: $gray-400;
      }
    }
    &:last-child {
      &:after {
        display: none;
      }
      padding-right: 20px;
    }
  }

  &__left-dots,
  &__right-dots {
    width: 12px;
    color: $gray-breadcrumbs-dots;
    font-size: 1rem;
    display: none;
    position: absolute;
  }

  &--right-scrollable {
    & .breadcrumbs__right-dots {
      display: block;
      right: 1px;
      padding-right: 8px;
      background-color: white;
      width: 20px;
      padding-left: 2px;
    }

    & ul {
      padding-right: 12px;
    }
  }
  &--left-scrollable {
    & .breadcrumbs__left-dots {
      display: block;
      left: 0;
      background-color: white;
      width: 22px;
      padding-left: 6px;
    }
    & ul {
      padding-left: 12px;
    }
  }
}