.action-icon{
  color: $icon-btn-color;
}

.btn-primary,
.btn-secondary{
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.btn-secondary{
  @include button-variant($gray-100, $gray-200);
}

.btn-compact{
  padding: 0 $spacer * .5;
}

.btn-xs{
  padding: 0 $spacer * .25;
  font-size: $btn-font-size-sm;
  @include border-radius($btn-border-radius-sm);
}


.detail-search-mode-less {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  z-index: 1;

  .detail-search-mode-less-border {
    border-top: 1px solid $gray-200;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 4px;
  }

  &-btn {
    position: relative;
    background: $white;
    padding: 4px 8px;
    width: 40px;
    height: 15px;
    border-radius: 0 0 2px 2px;

    &-i {
      position: absolute;
      color: $gray-300;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 7px;

      &.fa-sort-asc {
        top: 7px;
      }

      &.fa-sort-desc {
        bottom: 6px;
      }
    }
  }
}

#manualEventOnDiv {
  position: fixed;
  bottom: 54px;
  right: 39.5px;
  z-index: 1;

  .date-check-box {
    cursor: default !important;
    width: 32px;
    height: 32px;

    .date-i-edit {
      padding-top: 2px;
      width: 14px;
      height: 14px;
      font-style: normal;
      font-weight: 900;
      font-size: $font-size-sm;
      line-height: 14px;

      &-small {
        margin: 8px 8px 10px 10px;
      }

      &-big {
        margin: 8px 0 10px 8px;
        order: 1;
        text-align: center;
      }
    }

    .date-text {
      display: block;
      font-style: normal;
      font-weight: 400;
      font-size: $font-size-base;
      line-height: 16px;
      margin: 10px;
      order: 2;
    }

    .date-check {
      display: flex;
      flex-direction: row;
      justify-content: center;
      cursor: pointer !important;
      background-color: $white;
      z-index: 1;
      width: 16px;
      height: 16px;
      background: $white;
      border: 1.08417px solid $gray-300  !important;
      border-radius: 4.33667px !important;
      order: 3 !important;
      position: relative;

      input[type="checkbox"] {
        cursor: pointer !important;
        display: flex;
        position: absolute;
        z-index: 2;
        outline: none;
        opacity: 0;
      }

      &-i {
        display: block;
        cursor: pointer !important;
        position: absolute;
        color: $blue-400;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

  }

  @mixin btn-defaulf {
    padding: 8px;
    font-size: 14px;
  }
}

.button {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  font-size: .875rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding, 16px 20px);
  border-radius: 100px;
  width: max-content;
  transition: 125ms color ease-in-out;

  &:hover {
    color: var(--color-light-gray);
    text-decoration: none;
  }

  &:disabled {
    background-color: var(--color-icon-gray);
    color: var(--color-hall-taust-final-final-final-hall-500);
  }
}
