.input-switch {
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
  cursor: pointer;

  & input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }

  & span {
    font-weight: 600;
    font-size: .5rem;
    color: var(--color-dark-blue);
  }

  &::before {
    content: "";
    width: 23px;
    height: 12px;
    border-radius: 100px;
    background-color: var(--color-medium-blue);
    transition: background-color 250ms ease-in-out;
  }

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--color-white);
    position: absolute;
    left: 10px;
    transition: left 250ms ease-in-out;
  }

  &:has(input:checked) {
    &::before {
      background-color: var(--color-green);
    }

    &::after {
      left: 2px;
    }
  }
}


.action-dropdown {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 24px;
  position: relative;
  margin-left: auto;

  &~.publishing {
    margin-left: 8px;
  }

  &__menu {
    display: none;
    padding: 8px 12px;
    border: 1px solid var(--color-medium-blue);
    flex-direction: column;
    border-radius: 4px;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
    box-shadow: 0px 2px 4px 0px #00000040;
    // Move menu closer to trigger
    margin-top: -10px;
    gap: 8px;
    min-width: auto;

    &--visible {
      display: flex;
    }
  }

  &__trigger {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 4px;
    --icon-size: 16px;
    width: var(--icon-size);
    height: var(--icon-size);

    &>* {
      pointer-events: none;
    }
  }
}

.plain-action {
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: 600;
  font-size: var(--plain-action-font-size, .75rem);
  color: var(--color-dark-blue);
  text-align: left;

  &--red {
    color: var(--color-light-red);
  }
}


.input-text {
  display: flex;
  flex-direction: column;
  gap: 6px;

  & label {
    margin: 0;
  }

  &__container {
    padding: 10px 16px;
    display: flex;
    gap: 8px;
    border: 1px solid var(--color-dark-blue-75);
    border-radius: 8px;
    color: var(--color-dark-blue);
    font-size: .875rem;

    & input {
      width: 100%;
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--color-dark-blue-75);
      }
    }

    // Prevent outline if focus is on something that is not an input
    &:focus-within:not(&:has(*:not(input):focus)) {
      outline: 1px solid black;
    }
  }

  &__password-toggle {
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    --icon-size: 24px;
    --icon-variation-settings: 'FILL' 1;
    --icon-color: var(--color-icon-gray);
    border: none;
  }
}


.input-checkbox {
  padding: 12px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--color-dark-blue);
  position: relative;
  isolation: isolate;

  &:not(:has(input:disabled)) {
    cursor: pointer;
  }

  & input {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &__box {
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-dark-blue);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    --icon-size: 18px;
    --icon-color: var(--color-white);
    --icon-variation-settings: 'WEIGHT' 700;
    & span {
      display: none;
    }
  }

  &:hover {
    &::after {
      content: "";
      position: absolute;
      left: 1px;
      top: calc(50% - 20px);
      width: 40px;
      height: 40px;
      border-radius: 100px;
      background-color: var(--color-light-blue);
      z-index: -1;
    }
  }

  &:has(input:checked) {
    & .input-checkbox__box {
      background-color: var(--color-dark-blue);

      & span {
        display: block;
      }
    }
  }
}


.hover-container {
  &:hover {
    & .hover-container__item {
      display: block;
    }
  }

  &__item {
    display: none;
  }
}
