.detail-search{
  &-group {
    & + &{
      margin-top: $spacer;
    }
  }
  &-sub-group{
    position: relative;

    &::before{
      position: absolute;
      top: $spacer;
      left: -$spacer * .5;
      display: block;
      width: $spacer;
      height: $spacer;
      content: "";
      background: $light;
      transform: rotate(45deg);
      @include border-bottom-left-radius($border-radius-sm);
    }
  }
  &-sub-row{
    & + &{
      border-top: 1px solid $white;
    }
  }
}

.detail-search-box-less {
  display: none;

  &-value {
    position: absolute;
    background-color: transparent !important;
  }

  .over-flow-opacity-box {
    @extend .form-control;
    position: relative;
    width: 5%;
    background: linear-gradient(270deg, white 0%, rgba(255, 255, 255, 0) 100%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    z-index: 1;
  }
}