.ui-draggable-dragging{
  background: $white;
}

.lexeme-list-item {
  &.ui-state-active {
    color: $gray-900;
    background: $blue-100;
    border: 2px dotted $blue-300;
    a{
      color: inherit;
    }
  }
}
