.drag-handle{
  cursor: move;
  font-size: 11px;
}

// Class used by jquery.sorter.js on draggable elements
.ui-sortable-handle{
  cursor: move;
}

// Limit height of draggable object to make sure it can be dragged to target
.ui-draggable-dragging {
  overflow: hidden;
  max-height: 15rem;
}