.wordetym-wrapper {
  padding: 44px;
  background-color: $white;
  min-height: 2500px;

  &.modifier-active {
    padding-left: 450px;
  }
}

.wordetym-card {
  position: relative;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid $gray-200;
  background-color: $white;
  cursor: pointer;
  z-index: 2;

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 16px;

    .lang-abbr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      color: $gray-900;
      background-color: $gray-200;
      border-radius: 2px;
    }
    
    .etym-text {
      margin-left: 16px;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: $gray-900;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 16px;
  }

  &__footer {
    display: none;
    width: 100%;
    padding: 14px;
  }

  &__edit {
    position: relative;
    display: none;
    flex-direction: column;
  }

  &--active {
    border-color: $blue-400-v2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .wordetym-card__header {
      .lang-abbr {
        color: $white;
        background-color: $blue-400-v2;
      }
    }

    .wordetym-card__links {
      display: flex;
    }

    .etym-tree-link {
      &::before {
        height: 24px !important;
        background-color: $green-400 !important;
      }

      .btn-add-etym {
        display: flex !important;
        z-index: 3;
      }
    }
  }

  &--small {
    width: fit-content;
    border: transparent;

    .wordetym-card__header {
      padding: 0;
    }

    .wordetym-card__info {
      .lang-abbr {
        width: 24px;
        height: 24px;
        font-size: 12px;
      }

      .etym-text {
        font-size: 14px;
        line-height: 21px;
      }
    }

    &.wordetym-card--active {
      width: 400px;
      height: auto;
      border: 2px solid $blue-400-v2;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
      .wordetym-card__header {
        padding: 14px;

        .lang-abbr {
          color: $white;
          background-color: $blue-400-v2;
        }
      }

      .wordetym-card__info {
        .lang-abbr {
          width: 40px;
          height: 40px;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
        }
        
        .etym-text {
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
        }
      }
  
      .wordetym-card__links {
        display: flex;
      }
  
      .etym-tree-link {
        &::before {
          height: 24px !important;
          background-color: $green-400 !important;
        }
  
        .btn-add-etym {
          display: flex !important;
        }
      }
    }
  }

  // &:hover {
  //   border-color: $blue-400-v2;
  //   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  //   .lang-abbr {
  //     background-color: $blue-400-v2;
  //   }

  //   .wordetym-card__links {
  //     display: flex;
  //   }

  //   .etym-tree-link {
  //     display: block;
  //   }
  // }

  &__info {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__links {
    position: absolute;
    top: -2px;
    right: -34px;
    display: none;
    flex-direction: column;
    background-color: $gray-100;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: $blue-400-v2;
    border-radius: 0px 4px 4px 0px;

    &.active {
      display: flex;
    }

    @mixin btn-defaulf {
      position: relative;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0;
      font-size: 14px;
      color: $gray-350;
      background-color: $gray-100;
      outline: none;
    }
    
    .btn-edit-etym {
      border-top-right-radius: 2px; 
      @include btn-defaulf;

      &:hover {
        background-color: $green-400;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: $white;
        }
      }

      &.active {
        background-color: $green-400;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: $white;
        }
      }
    }

    .btn-delete-etym {
      @include btn-defaulf;
      margin-top: 1px;
      border-bottom-right-radius: 2px;

      &:hover {
        background-color: $red-400;

        span {
          color: $white;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 7px;
        width: 16px;
        height: 1px;
        background-color: $gray-350;
      }
    }
  }

  &.add-edit-open {
    .add-edit-etym {
      .wordetym-card__body {
        display: flex;
      }
    }

    .wordetym-card__body {
      display: none;
    }
    
    .display-etym-info {
      display: none;
    }

    .wordetym-card__edit {
      display: flex;
    }

    .etym-tree-link {
      display: none !important;
    }
  }

  .wordetym-card__body {
    display: flex;

    .origin {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: auto;
      padding: 8px;
      background-color: $gray-100;
      border-radius: 2px;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: $gray-900;
    }

    .comment {
      font-size: 14px;
      line-height: 21px;
      color: $gray-900;
    }

    .sources-links {
      display: flex;
      
      .source-item {
        font-size: 14px;
        line-height: 21px;
        color: $blue-400-v2;
        padding-right: 16px;

        &:not(:first-of-type) {
          border-left: 1px solid $gray-200;
          padding-left: 16px;
        }
      }
    }
  }

  .etym-tree-link {
    position: absolute;
    bottom: -50px;
    left: 24px;

    &::before {
      content: '';
      position: relative;
      top: 0;
      left: 11px;
      display: block;
      width: 2px;
      height: 48px;
    }

    .btn-add-etym {
      position: relative;
      width: 24px;
      height: 24px;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: $green-400;
      border-radius: 50%;
      border: none;
      outline: none;
  
      span {
        font-size: 12px;
        font-weight: 900;
        color: $white;
      }
    }
  }

  .comment-box {
    display: flex;
    width: 100%;
  }

  .reference_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $green-400;
    border-radius: 2px;
    border: none;

    span {
      font-size: 14px;
      color: $white;
      font-weight: 900;
    }
  }

  .etym-devider-top {
    content: '';
    position: absolute;
    top: 0px;
    left: 15px;
    right: 15px;
    height: 1px;
    border: none;
    background-color: $gray-200;
    margin: 0;
  }

  .etym-devider-bottom {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 15px;
    right: 15px;
    display: flex;
    height: 1px;
    border: none;
    background-color: $gray-200;
    margin: 0;
  }
}

.questionable-etym {
  input {
    width: 20px;
    height: 20px;
    margin: 0 0 0 -20px;
  }

  label {
    margin-left: 8px;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 48px 0 0 0;
  list-style: none;
}

.etym-tree {
  display: block;
  position: relative;
  @include reset-list;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 37px;
    width: 0;
    height: 100%;
    background-color: $white;
    border-left: 2px solid $gray-350
  }

  &.mofify-linking {
    &::before {
      border-color: $blue-200;
    }
  }

  li > ul {
    @include reset-list;
  }

  li {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      &::before {
        background:$white;
        left: -85px;
        width: 85px;
        height: auto;
        bottom: 0;
      }
    }
  }

  ul {
    &::before {
      content: '';
      position: absolute;
      top: 72px;
      bottom: 0;
      left: 37px;
      width: 0;
      height: auto;
      background-color: $white;
      border-left: 2px solid $gray-350
    }
  }

  ul > li:last-of-type {
    .btn-add-etym-step {
      &::before {
        height: 108px;
      }
    }
  }

  .tree-edit-link {
    .btn-add-etym-step {
      &.active {
        z-index: 3;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }

    .wordetym-card {
      display: none;
      position: absolute;
      left: -504px;
      top: 17px;
      padding: 16px;

      &__links {
        top: unset;
        bottom: -2px;
      }

      &--active {
        display: flex;
        z-index: 4;
      }
    }
  }
}

.step-block {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 34px;
    left: -83px;
    width: 83px;
    height: auto;
    display: block;
    background-color: $white;
    margin-top: 2px;
    border-top: 2px solid $gray-350;
    bottom: 0;
  }

  &.mofify-link {
    &::before {
      border-color: $blue-200;
    }  
  }

  .btn-add-etym-step {
    position: absolute;
    left: -104px;
    top: 17px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-350;
    border-radius: 50%;
    border: none;
    outline: none;

    span {
      font-size: 16px;
      font-weight: 900;
      line-height: 18px;
      color: $white;
      z-index: 2;
    }

    &.active {
      background-color: $blue-400-v2;
      border-radius: 0 100px 100px 0;
    }
  }

  .wordetym-card {
    .etym-tree-link {
      bottom: -42px;
      left: 24px;
  
      &::before {
        height: 0;
      }
    }

    &--active {
      .etym-tree-link {
    
        &::before {
          height: 16px !important;
        }
      }
    }
  }

  ul {
    li {
      &:last-of-type {
        &::before {
          background:$white;
          left: -86px;
          width: 86px;
          height: auto;
          bottom: 0;
        }
      }
    }
  }

  &.level-1 {
    margin: 48px 0 0 122px;
  }

  &.level-2 {
    margin: 48px 0 0 122px;
  }

  &.level-3 {
    margin: 48px 0 0 122px;

    &::before {
      top: 34px;
      left: -85px;
      width: 85px;
    }

    &.small {
      margin: 48px 0 0 84px;

      &:first-of-type {
        margin-top: 0;
      }

      &::before {
        top: 10px;
        left: -47px;
        width: 35px;
      }

      .btn-add-etym-step {
        top: -8px;
        left: -66px;
      }

      &.active {
        margin-left: 122px;

        &::before {
          top: 34px;
          background:$white;
          left: -85px;
          width: 85px;
          height: auto;
          bottom: 0;
        }

        .btn-add-etym-step {
          left: -104px;
          top: 17px;
        }


      }

      .edit-tree {
        .wordetym-card--active {
          top: -8px;
          left: -466px;
        }
      }
    }

    .btn-add-etym-step {
      &::before {
        top: -16px;
        height: 17px !important;
      }
    }

    .wordetym-card {
      &::before {
        top: 11px;
        left: -28px;
        width: 20px;
      }
    }
  }

  .related-records {
    list-style: none;
    padding: 0;

    &::before {
      content: none;
    }

    li {
      display: flex;
      align-items: center;
      margin-top: 8px;

      .lang-abbr {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
        color: $gray-900;
        background-color: $gray-200;
        border-radius: 2px;
      }

      .etym-text {
        margin-left: 8px;
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
      }
    }
  }
}

.w-30 {
  width: 30%;
}
