.footer {
  background-color: var(--color-light-gray);
  color: var(--color-dark-blue);
  padding: 36px 8vw;
  margin-top: auto;
  font-size: .875rem;

  &__grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 300px));
    justify-content: center;
    font-weight: 500;
    gap: 24px;

    & a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;

    &:last-child {
      &::after {
        content: "";
        background-image: url(../img/erf.svg);
        background-repeat: no-repeat;
        width: 86px;
        height: 54px;
        position: absolute;
        left: calc(100% - 86px);
        // Subtract the leftover from (footer's bottom padding - logo's height) to line it up with the bottom of the footer
        top: calc(100% - 18px);
        // Subtract padding from image size
        background-size: calc(100% - 16px);
        padding: 8px;
        background-color: var(--color-white);
        background-position: center;
      }
    }

    @media (max-width: 767px) {
      align-items: center;
    }
  }

  &__column-header {
    min-height: 30px;
    font-size: 1.25rem;
  }

  &__logo {
    height: 30px;
  }

  &__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &--facebook {
      background-image: url(../img/facebook.svg);
    }

    &--youtube {
      background-image: url(../img/youtube.svg);
    }

    &--linkedin {
      background-image: url(../img/linkedin.svg);
    }
  }

  &__version {
    font-size: .75rem;
    font-weight: 400;
  }

  &__terms {
    background-color: transparent;
    border: none;
    color: inherit;
    text-align: left;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
