#inexactSynDlg {
  .modal-header {
    @extend %shadow-elevation-02;
    border: 0;
    & .inexact-syn-header {
      display: flex;
      align-items: center;
      gap: 24px;

      &__step {
        font-size: 1rem;
        color: $gray-300-v2;

        &--active {
          color: $blue-400-v2;
        }
      }
    }
  }

  .modal-body {
    background-color: $gray-100;

    & .card {
      @extend %shadow-elevation-02;
      border: 0;
      &-body {
        // Enable margin-top: auto for search change div
        display: flex;
        flex-direction: column;
      }
    }
  }
  & .inexact-syn-body-card {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-350;
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    gap: 8px;
    // Add margin to all subsequent occurrences
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  & .inexact-syn-body-candidate {
    &__header {
      display: flex;
      align-items: center;
    }
    &__input-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &__identifier,
    &__dataset {
      color: $gray-1000;
    }

    &__dataset,
    &__link {
      font-weight: 700;
      font-size: 1rem;
    }

    &__dataset {
      margin-left: auto;
    }

    &__identifier {
      font-size: 0.75rem;
    }

    &__link {
      color: $blue-350;
      margin-left: 16px;
    }

    & .inexact-syn-body-divider {
      margin: 8px 0;
    }
  }

  & .inexact-syn-body-list {
    padding-left: 32px;
    margin: 0;
    &__wrapper {
      display: grid;
      gap: 16px;
      grid-template-columns: 0.1fr 1fr;
      grid-auto-flow: column;
    }

    &__title {
      text-transform: uppercase;
      color: $gray-350;
      font-size: 0.875rem;
      font-weight: 700;
    }
    &__item {
      color: $gray-1000;
      font-size: 1rem;
      font-weight: 400;
      &--exact {
        font-weight: 700;
      }
    }
  }

  & .inexact-syn-body-new {
    color: $gray-1000;
    font-size: 1rem;

    &__label {
      margin: 0;
    }
  }

  & .inexact-syn-body-title {
    color: $gray-1000;
    font-size: 1.125rem;
  }

  & .inexact-syn-body-divider {
    border-top: 1px solid $gray-200;
    margin: 24px 0;
    &--negative-margin {
      margin: 24px -20px;
    }

    &--small {
      margin: 8px 0;
    }
  }

  & .inexact-syn-body-change-search {
    font-size: 0.875rem;
    color: $blue-400-v2;
    border: 0;
    background: none;
    cursor: pointer;

    &:focus {
      outline-style: auto;
    }
    &__wrapper {
      padding-top: 24px;
      background-color: white;
      border-top: 1px solid $gray-200;
      display: flex;
      align-items: center;
      justify-content: center;
      // Move to end vertically, break out of padding
      margin: auto -20px 0;
    }
  }

  & .inexact-syn-relation-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    & i {
      font-size: 3rem;
      color: $gray-900;
      font-weight: 900;
    }
  }

  .modal-footer {
    & .inexact-syn-prev {
      &__wrapper {
        margin-left: 0;
        margin-right: auto;
        color: $gray-400;
      }
      &__contents {
        display: flex;
        align-items: center;
      }
      &__arrow {
        font-size: 1.25rem;
        color: $gray-400;
      }

      &__back-button {
        padding: 0;
        margin-left: 12px;
        outline: 0;
        border: 0;
        background: none;
        color: $gray-400;
        // Re-add outline when focused
        &:focus {
          outline-style: auto;
        }
      }

      &__progress {
        margin-left: 16px;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        color: $gray-400;
        &::before {
          margin-right: 16px;
          content: "|";
          color: $gray-200;
          font-size: 1rem;
        }
      }
    }

    & .inexact-syn-next-btns {
      display: flex;
      gap: 16px;
      align-items: center;
      font-size: 0.875rem;

      &__cancel,
      &__next {
        // Reset button styles
        border: 0;
        padding: 0;
        outline: 0;
        margin: 0;
        background: none;
      }
      &__cancel {
        color: $gray-400;
      }
      &__next {
        border-radius: 2px;
        padding: 8px;
        color: white;
        cursor: pointer;
        background-color: $blue-400-v2;
        &:disabled {
          background-color: $gray-350;
          cursor: default;
        }
      }
    }
  }
}
