#inexactSynDlg {
  & .modal-content {
    border-radius: 0;
  }
  .modal-header {
    @extend %shadow-elevation-02;
    border: 0;
    border-radius: 0;
    & .inexact-syn-header {
      display: flex;
      align-items: center;
      gap: 24px;

      &__step {
        font-size: 1rem;
        color: $gray-300-v2;

        &--active {
          color: $blue-400-v2;
        }
      }
    }
  }

  .modal-body {
    background-color: $gray-100;
    padding: 8px;

    & .container-fluid {
      padding: 0;
    }

    & .card {
      @extend %shadow-elevation-02;
      border: 0;
      &-body {
        // Enable margin-top: auto for search change div
        display: flex;
        flex-direction: column;
        // Add slight padding to the bottom in case scroll is needed
        // This prevents last element from being edge to edge with the border
        & form {
          padding-bottom: 8px;
        }
      }
    }
  }

  & .inexact-syn-body-card {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-350;
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    gap: 8px;
    // Add margin to all subsequent occurrences
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  & .inexact-syn-meaning-candidate {
    &__header {
      display: flex;
      align-items: center;
    }
    &__input-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &__identifier,
    &__dataset {
      color: $gray-1000;
    }

    &__dataset,
    &__link {
      font-weight: 700;
      font-size: 1rem;
    }

    &__dataset {
      margin-left: auto;
    }

    &__identifier {
      font-size: 0.75rem;
    }

    &__link {
      color: $blue-350;
      margin-left: 16px;
    }

    & .inexact-syn-body-divider {
      margin: 8px 0;
    }
  }

  & .inexact-syn-word-candidate {
    &:not(:first-child) {
      margin-top: 40px;
    }
    &__trigger {
      width: 100%;
      padding: 8px 16px;
      background-color: $gray-200;
      display: flex;
      align-items: center;
      gap: 8px;
      border: 0;
      border-radius: 4px;

      & .inexact-syn-word-candidate__arrow-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        &::after {
          font-family: "Font Awesome 6 Free Solid";
          font-weight: 900;
          content: "\f078";
          transition: transform 350ms ease-in-out;
        }
      }

      &[aria-expanded="true"] {
        & .inexact-syn-word-candidate__arrow-indicator {
          &::after {
            // Using transform instead of content change to allow for transition
            transform: rotateZ(180deg);
          }
        }
      }
    }

    &__icon {
      background-color: white;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      display: flex;
      justify-content: center;

      &::after {
        font-family: "Font Awesome 6 Free Solid";
        font-weight: 900;
        content: "\3f";
        color: $gray-200;
      }

      &[data-success="true"] {
        background-color: $green-400;

        &::after {
          content: "\f00c";
        }
      }
    }

    &__button-title {
      color: $gray-1000;
      font-size: 1rem;
      font-weight: 700;
    }

    &__contents {
      padding: 24px 16px;
    }

    &__header {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid $gray-200;
    }

    &__name,
    &__identifier {
      color: black;
    }

    &__name,
    &__source,
    &__link,
    &__read-more {
      font-size: 1rem;
      font-weight: 700;
    }

    &__identifier {
      font-size: 0.75rem;
      font-weight: 400;
    }

    &__source {
      hyphens: auto;
    }

    &__link {
      color: $blue-350;
      // don't enlarge the link with whitespace when something else is tall
      height: min-content;
    }

    &__read-more {
      border: 0;
      background: none;
      color: $gray-350;
      display: inline-flex;
      align-items: center;
      gap: 8px;

      &::after {
        font-family: "Font Awesome 6 Free Solid";
        font-weight: 900;
        content: "\f078";
        transition: transform 350ms ease-in-out;
      }

      &[aria-expanded="true"] {
        &::after {
          // Using transform instead of content change to allow for transition
          transform: rotateZ(180deg);
        }
      }
    }
  }

  & .inexact-syn-body-list {
    padding-left: 32px;
    margin: 0;
    &__wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-auto-flow: column;

      &--with-text {
        // Add some level of responsiveness
        grid-template-columns: 100px minmax(50px, 2fr) repeat(2, minmax(25px, 1.125fr));
        gap: 8px;
      }
    }

    &__title {
      text-transform: uppercase;
      color: $gray-350;
      font-size: 0.875rem;
      font-weight: 700;
    }
    &__item {
      color: $gray-1000;
      font-size: 1rem;
      font-weight: 400;
      &--exact {
        font-weight: 700;
      }
    }
  }

  & .inexact-syn-body-new {
    color: $gray-1000;
    font-size: 1rem;

    &__label {
      margin: 0;
    }
  }

  & .inexact-syn-body-title {
    color: $gray-1000;
    font-size: 1.125rem;
  }

  & .inexact-syn-body-divider {
    border-top: 1px solid $gray-200;
    margin: 24px 0;
    &--negative-margin {
      margin: 24px -20px;
    }

    &--small {
      margin: 8px 0;
    }
  }

  & .inexact-syn-body-change-search {
    font-size: 0.875rem;
    color: $blue-400-v2;
    border: 0;
    background: none;
    cursor: pointer;

    &:focus {
      outline-style: auto;
    }
    &__wrapper {
      padding-top: 24px;
      background-color: white;
      border-top: 1px solid $gray-200;
      display: flex;
      align-items: center;
      justify-content: center;
      // Move to end vertically, break out of padding
      margin: auto -20px 0;
    }
  }

  & .inexact-syn-relation-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    & i {
      font-size: 3rem;
      color: $gray-900;
      font-weight: 900;
    }
  }

  & .inexact-syn-body-search {
    &__wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__button {
      width: 100%;
      &-wrapper {
        padding: 24px;
        border-top: 1px solid $gray-200;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto -20px -20px;
      }
    }
  }

  .modal-footer {
    & .inexact-syn-prev {
      &__wrapper {
        margin-left: 0;
        margin-right: auto;
        color: $gray-400;
      }
      &__contents {
        display: flex;
        align-items: center;
      }
      &__arrow {
        font-size: 1.25rem;
        color: $gray-400;
      }

      &__back-button {
        padding: 0;
        margin-left: 12px;
        outline: 0;
        border: 0;
        background: none;
        color: $gray-400;
        // Re-add outline when focused
        &:focus {
          outline-style: auto;
        }
      }

      &__progress {
        margin-left: 16px;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        color: $gray-400;
        &::before {
          margin-right: 16px;
          content: "|";
          color: $gray-200;
          font-size: 1rem;
        }
      }
    }

    & .inexact-syn-next-btns {
      display: flex;
      gap: 16px;
      align-items: center;
      font-size: 0.875rem;

      &__cancel,
      &__next {
        // Reset button styles
        border: 0;
        padding: 0;
        outline: 0;
        margin: 0;
        background: none;
      }
      &__cancel {
        color: $gray-400;
      }
      &__next {
        border-radius: 2px;
        padding: 8px;
        color: white;
        cursor: pointer;
        background-color: $blue-400-v2;
        &:disabled {
          background-color: $gray-350;
          cursor: default;
        }
      }
    }
  }
}

// Custom switch based on proto
.inexact-syn-switch {
  width: 0;
  height: 0;
  opacity: 0;
  &__wrapper {
    width: 40px;
    height: 20px;
    margin: 0;
    border-radius: 100px;
    position: relative;
  }
  &__slider {
    background-color: $gray-350;
    display: block;
    border-radius: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: background-color 250ms ease-in-out;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 250ms ease-in-out, color 250ms ease-in-out;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background: white;
      font-family: "Font Awesome 6 Free Solid";
      font-weight: 900;
      content: "\f537";
      color: $gray-350;
      text-align: center;
    }
  }

  &:checked + &__slider {
    background-color: $blue-400-v2;
    &::before {
      transform: translateX(100%);
      color: $blue-400-v2;
    }
  }
}
