//.main-nav-tabs{
//  .nav-link{
//    height: $spacer * 3;
//    padding-top: $spacer;
//    color: $white;
//    border-top: 0;
//    @include border-radius(0);
//    &.active{
//      border-color: $white;
//    }
//  }
//}


.paging-submit-icon{
  width: 13px;
  height: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: $blue-400;
  
}
.paging-submit{
  visibility: hidden;
  margin: 3px 13px 3px 8px;

  &-icon{
    width: 13px;
    height: 16px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: $blue-400;
    
  }
}

.paging-input{
  width: 32px;
  height: 20px;
  border: 1px solid #5D6E6C;
  margin: 5px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  padding: 3px 6px 3px 6px;
}

.paging-page-number{
  margin-right: 9px;
}

.size-zero{
  visibility: hidden;
  position: absolute;
}

