.publishing {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 16px;
  position: relative;
  margin-left: auto;

  &__button {
    background-color: transparent;
    border: 1px solid var(--color-medium-blue);
    padding: 0;
    border-radius: 4px;
    --icon-size: 16px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--icon {
      width: 10px;
      height: 10px;

      &[data-publishing-item-active='false'] {
        display: none;
      }
    }

    &[data-publishing-item='unif'] {
      background-image: url('../img/wordweb.svg');
    }

    &[data-publishing-item='od'] {
      background-image: url('../img/od.svg');
    }

    &[data-publishing-item='lite'] {
      background-image: url('../img/wordweb-lite.svg');
    }

    &>span {
      pointer-events: none;
    }

    &:not(&--icon):active {
      background-color: var(--color-light-blue);
    }
  }

  &__menu {
    display: none;
    padding: 4px;
    border: 1px solid var(--color-medium-blue);
    grid-template-columns: repeat(3, 60px);
    border-radius: 4px;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
    box-shadow: 0px 2px 4px 0px #00000040;
    // Move menu closer to trigger
    margin-top: -10px;

    &--visible {
      display: grid;
    }
  }

  &__menu-item {
    font-weight: 600;
    font-size: .5rem;
    padding: 34px 8px 8px;
    border-radius: 8px;
    color: var(--color-dark-blue);
    hyphens: auto;
    text-align: center;
    border: none;
    background-color: transparent;

    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center 8px;

    &[data-publishing-item='unif'] {
      background-image: url('../img/wordweb.svg');
    }

    &[data-publishing-item='od'] {
      background-image: url('../img/od.svg');
    }

    &[data-publishing-item='lite'] {
      background-image: url('../img/wordweb-lite.svg');
    }

    &:hover,
    &[data-publishing-item-active='true'] {
      background-color: var(--color-light-blue);
    }
  }

  &__switch-container {
    grid-column: 1/-1;
    display: flex;
    border-top: 1px solid var(--color-medium-blue);
    padding: 8px 8px 0;
    margin-top: 8px;
  }
}
