.search-result{
  &-status{
    top: 0;
    right: $spacer;
  }
}

.search-result-item{
  &.active{
    .search-result-btn{
      color: $white;
    }
  }
}

.search-input-error {
  padding-left: 13px;
  color: rgba(255,0,0,1);
}

.search-input-invalid {
  border-color: rgba(255,0,0,1);
}

#searchColumn, #toolsColumn {
  display: none;
}
.searchResultsToggle{
  display: flex;
  border-radius: 2px;
  width: 33px;
  height: 33px;
  justify-content: center;
  align-items: center;
  appearance: none;
  font-size: 18px;
  background: $gray-100;
  border: 1px solid $gray-200;
  color: $gray-300;
  margin-right: 8px;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  transition: color .25s, background-color .25s, border-color .25s;
  &:hover {
    color: $gray-900;
    background-color: #d5dee2;
    border-color: #acc1cd;
  }
  &.active {
    background: $gray-300;
    border-color: $gray-300;
    color: $white;
  }
}

#resultColumn {
  width: 100%;
}

#resultColumn .searchResultsToggle{
  margin:0 0 0 8px;
  height: 24px;
  width: 30px;
}

#searchColumn{
  .dropdown-toggle {
    background: $white;
    border: 1px solid $gray-200;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .btn-tabs {
    .btn {
      border: none;
      background: none;
      padding: 0 4px;
      font-size:12px;
      line-height: 120%;
      box-shadow: none;
      border-bottom: $white 2px solid;
      border-radius: 0;
      height:32px;
      line-height: 30px;
      &.active {
        font-weight: 700;
        border-color: $gray-900;
      }
      &+.btn {
        margin-left: 16px;
      }
    }
  }
}

.source-search-pagination {
  background-color: #fff;
  padding-bottom: 8px;
}

.source-search-results {
  margin-bottom: 64px;

  hr {
    margin: 4px 0;
  }
}
