//.user-menu{
//  border-left: 1px solid $blue-300;
//  &-btn{
//    position: relative;
//    max-width: 200px;
//    padding-right: $spacer * 2;
//    padding-bottom: $spacer * .25;
//    @include border-radius(0);
//    &::after{
//      position: absolute;
//      top: 50%;
//      right: $spacer * .5;
//      transform: translateY(-50%);
//    }
//  }
//  &-active-role{
//    color: $gray-200;
//  }
//  &-content{
//    width: 300px;
//  }
//}
//
.alert-small {

  &-custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
   // height: 45px;
    //bottom: 50px;
    max-width: 90%;
    margin-bottom: 50px;

    &-content {
      max-width: 100%;
     // height: 45px;
      background: $white;
      border: 1px solid ;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      min-height: 45px;
    }

    &-header {
      align-items: center;
      padding: 12px 16px;
      border: none;
    }
  }
}


.alert-custom {
  overflow: hidden;


  & i {
    width: 16px;
    height: 18px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    margin-right: 16px;
  }

  &-warning {
    align-items: center;

    &>i {
      color: $red-400;

    }
  }

  &-success {
    align-items: center;

    &>i {
      color: $green-400;

    }
  }

  &-message {
    //overflow: hidden;
    //white-space: nowrap;
    word-wrap: break-word;
  }
}

.border-color {

  &-red-400 {
    border-color: $red-400;
  }

  &-green-400 {
    border-color: $green-400;
  }
}

#alertSmall {
  z-index: 30;
  display: none;
  position: fixed;
  max-width: 90%;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);

  button[type=button] {
    margin-left: 32px;

    &>i {
      width: 16px;
      height: 16px;
      justify-content: center;
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 16px;


      display: flex;
      align-items: center;
      text-align: center;
    }
  }

}