$gray-100: #ecf0f2;
$gray-200: #ccd9e0;
$gray-300: #8a98a5;
$gray-300-v2: #7D8C9B;
$gray-350: #687887;
$gray-400: #5d606e;
$gray-900: #3f3f3f;
$gray-1000: #0e1013;
$gray-breadcrumbs-dots: #6F8090;

$white: #fff;

$blue-100: #a0dcf8;
$blue-200: #5aabe0;
$blue-300: #3173b8;
$blue-350: #0073E6;
$blue-400: #005aa9;
// Different blue-400 from inexactsyn proto?
$blue-400-v2: #0053B3;
$blue-900: #00377a;

$red-100: #ffb9b9;
$red-400: #ec0138;

$green-100: #a9eeb4;
$green-400: #00892e;

$yellow-100: #ffffe8;

$purple-100: #db8dff;

$blue: $blue-400;
$red: $red-400;
$green: $green-400;

$primary:   $blue-400;

// stylelint-disable value-keyword-case
$font-family-sans-serif:     "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// stylelint-enable value-keyword-case

$font-size-base: .875rem; //14px // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .857;//12px

$h1-font-size:                $font-size-base * 1.857;
$h2-font-size:                $font-size-base * 1.642;
$h3-font-size:                $font-size-base * 1.428;
$h4-font-size:                $font-size-base * 1.285;
$h5-font-size:                $font-size-base * 1.142;
$h6-font-size:                $font-size-base;

$body-bg: $gray-100;

$navbar-padding-y: 0;
$nav-tabs-link-active-bg: $white;

$padding-y-base: .322rem;//vertical padding for 32px high elements
$input-btn-padding-y: $padding-y-base;
$nav-link-padding-y: $padding-y-base;

$dropdown-item-padding-x: 1rem;

$input-color: $gray-400;
$input-border-color: $gray-300;
$form-check-input-bg: $white;

$text-muted: $gray-300;

$icon-btn-color: $gray-300;
$input-group-addon-bg: $gray-100;

$border-color: $gray-200;
$text-muted: $gray-200;

$popover-inverted-bg: $gray-1000;

// Use with @extend %shadow-elevation-02;
%shadow-elevation-02 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}