$gray-100: #ecf0f2 !default;
$gray-200: #ccd9e0 !default;
$gray-300: #8a98a5 !default;
$gray-400: #5d606e !default;
$gray-900: #3f3f3f !default;
$gray-1000: #0e1013 !default;

$white: #fff !default;

$blue-100: #a0dcf8 !default;
$blue-200: #5aabe0 !default;
$blue-300: #3173b8 !default;
$blue-400: #005aa9 !default;
$blue-900: #00377a !default;

$primary:   $blue-400 !default;

$font-size-base: .875rem !default; //14px // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 1.857 !default;
$h2-font-size:                $font-size-base * 1.642 !default;
$h3-font-size:                $font-size-base * 1.428 !default;
$h4-font-size:                $font-size-base * 1.285 !default;
$h5-font-size:                $font-size-base * 1.142 !default;
$h6-font-size:                $font-size-base !default;

$body-bg: $gray-100 !default;

$navbar-padding-y: 0 !default;
$nav-tabs-link-active-bg: $white !default;

$padding-y-base: .322rem !default;//vertical padding for 32px high elements
$input-btn-padding-y: $padding-y-base !default;
$nav-link-padding-y: $padding-y-base !default;

$dropdown-item-padding-x: 1rem !default;

$input-color: $gray-400 !default;
$input-border-color: $gray-300 !default;
$form-check-input-bg: $white !default;

$text-muted: $gray-300 !default;

$icon-btn-color: $gray-300 !default;
$input-group-addon-bg: $gray-100 !default;

$border-color: $gray-200 !default;




