.ekiAccordion {
  margin: -1px 0 0 0;
  position: relative;

  &__instance {
    border: $gray-200 1px solid;
    margin-bottom: -1px;
    &--active {
      .ekiAccordion__title:before {
        content: "\f0d8";
      }
      > .ekiAccordion__content {
        display: block;
      }
    }
  }

  &__title {
    font-family: Inter;
    font-size: 14px;
    line-height: 17px;
    background: $gray-100;
    padding:6px 56px 6px 24px;
    cursor: pointer;
    position: relative;
    span {
      pointer-events: none;
    }
    &:before {
      content: '\f0d7';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 3px;
      font-family:FontAwesome;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray-300;
    }
  }

  &__add {
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 4px;
    width: 32px;
    border: none;
    padding: 0;
    background: none;
    border-left: $gray-200 1px solid;
    display: flex;
    appearance: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $gray-300;
  }

  &__content {
    padding:8px;
    overflow-x: auto;
    display: none;
  }

  table {
    td:first-child {
      white-space: nowrap;
    }
  }

  &.lex-internal-notice {
    display: block;
    width: 250px;
    height: 28px;

    .ekiAccordion__instance {
      &--active {
        position: absolute;
        top: 0;
        z-index: 1;

        >.ekiAccordion__content {
          background-color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .ekiAccordion {
    &.lex-internal-notice {
      display: block;
      height: 31px;
      margin: 8px 0 0 0;
  
      .ekiAccordion__instance {
        &--active {
          top: 0;
        }
      }
    }
  }
}

.modal-open {
  .ekiAccordion {
    &.lex-internal-notice {
      .ekiAccordion__instance {
        &--active {
          z-index: unset;
        }
      }
    }
  }
}
