/* stylelint-disable */
html, body {
	height: 100%;
}

th {
	padding: 3px;
}

td {
	padding: 3px;
}

.lbl {
	font-variant: small-caps;
	font-weight: bold;
	color: rgba(102, 102, 102, 0.6);
}

.ttl {
	font-size: 120%;
	font-weight: bold;
	color: #000;
}

.wttl {
	font-size: 120%;
	color: #000;
}

.stxt {
	font-style: italic;
	color: #666;
}

.ctxt {
	font-size: 80%;
	color: #888;
}

.bubble {
	width: 30px;
	line-height: 0px;
	border-radius: 50%;
	text-align: center;
	padding: 1px;
	background: #eee;
}

.bubble span {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}

.modal-backdrop.show {
	opacity: 0.1;
}

.select-dlg .modal-body {
	padding: 0;
}

.select-dlg select {
	overflow-y: auto;
}

.hidden-buttons .badge,
.invisible-buttons .show-on-mouseover,
.invisible-buttons .badge.hidden {
	display: none;
}

.hidden-buttons:hover .badge,
.invisible-buttons:hover .show-on-mouseover,
.invisible-buttons:hover .badge.hidden {
	display: inline-block;
}

.invisible-buttons .badge {
	visibility: hidden;
}

.invisible-buttons:hover .badge {
	visibility: visible;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.body-with-navbar {
	height: 100vh;
	padding-top: 3rem;
}


.body-with-navbar hr {
	margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.btn-text-wrap {
	white-space: initial;
	text-align: initial;
}

.btn-custom {
	font-weight: 400;
	color: $link-color;
	background-color: transparent;
	cursor: auto !important;
}


.table-condensed th,
.table-condensed td {
	padding: 0.25rem;
}

.compacted .card-body {
	padding: 0.5rem;
}

.compacted th, .compacted td {
	padding: initial;
}

.with-horizontal-padding tr th, .with-horizontal-padding tr td {
	padding: 0 3px;
}

.compacted hr {
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
}

.col-w2rem {
	flex: 0 0 2rem;
	max-width: 2rem;
}

.col-w7rem {
	flex: 0 0 7rem;
	max-width: 7rem;
}

.col-w13rem {
	flex: 0 0 13rem;
	max-width: 13rem;
}

.row > hr {
	margin-left: 15px;
	margin-right: 15px;
	width: 100%;
}



.action-buttons-anchor {
	position: relative;
	display: flex;
	align-items: center;
}

.action-buttons-2 {
	position: absolute;
	top: -1px;
	right: -3.5rem;
	background: white;
	border-radius: 3px;
	padding: 0 3px;
	z-index: 9;
}

.action-buttons-3 {
	position: absolute;
	top: 0;
	right: -5.2rem;
	background: white;
	border-radius: 3px;
	padding: 0 2px;
	z-index: 9;
}

.orderable .action-column {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s ease-in;
}

.orderable:hover .action-column {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s 0s;
}

.action-column {
	display: flex;
	position: absolute;
	right: 100%;
	margin-top: 0.15rem;
	margin-right: 0.25rem;
}

.position-right {
	position: absolute;
	right: 6px;
	z-index: 99;
}

.mw-80 {
	max-width: 80%;
}

.mw-90 {
	max-width: 90%;
}

select:invalid {
    color: #6c757d;
}

.alert-danger.hide {
	display: none;
}

.list-item-value {
	font-size: 14px;
}


.bordered-paragraph {
	margin: 0;
	// Add a border and margin if there's multiple in a row and they're not empty
	& + &:not(:empty) {
		border-top: 1px solid var(--color-gray-200);
		margin-top: 4px;
	}
}

span.material-symbols-outlined {
  font-size: var(--icon-size, var(--fallback-icon-size, inherit));
  font-variation-settings: var(--icon-variation-settings);

  &--default-size {
    --fallback-icon-size: 1.5rem;
  }

  &--small {
    --fallback-icon-size: 1.3125rem;
  }
}
