/* stylelint-disable */
eki-foreign {
	color: #00874F;
	font-style: italic;
}

eki-highlight {
	font-weight: bold;
}

eki-stress {
	font-weight: bold;
	color: #EC0138;
}

.word-value eki-highlight {
	font-weight: normal;
}

eki-sub {
	vertical-align: sub;
	font-size: 70%;
}

eki-sup {
	vertical-align: super;
	font-size: 70%;
}

eki-meta {
	color: #00874F;
	font-variant: small-caps;
	font-stretch: expanded;
}

eki-link,
ext-link {
	color: #004F87;
	cursor: pointer;
}
