/* stylelint-disable */
.eki-editor-menu {
    visibility: hidden;
    width: 200px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    top: -25%;
    left: 65%;
}

.eki-editor-menu.show {
    visibility: visible;
}

.eki-tag-select {
    width: 100%;
    overflow-y: auto;
}

.eki-tag-select option {
    padding: 2px 4px;
}

.edit-area-sm {
    height: 4em;
    overflow: auto;
}

.edit-area-lg {
    height: 8em;
    overflow: auto;
}


.navigate-disabled-panel {
    pointer-events : none;
    opacity : 0.4;
}

.navigate-marked {
    outline: 2px solid lightskyblue;
    background : #ffc107;
    font-size : large;
}

.navigate-declined {
    background : lightgray;
}
