/* stylelint-disable */

.footer {
	width: 100%;
	background: #001124;
	padding: 1rem 0;

	p {
		color: #d8d8d8;
		margin-bottom: 0;
	}
}

.footer-wrapper {
    max-width: 80vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.copyright {
    display: block;
    margin: 0 auto 0 auto;
    color: #d8d8d8;
    text-align: center;
    width: 100%;
}

.col-reverse {
    display: flex;
    flex-direction: column-reverse;
}
.text-gray {
  color: $gray-300;
}
.eki-logo {
    background: url(../img/eki.svg) center center no-repeat;
    display: inline-block;
    height: calc(6.25rem / 1.8);
    width: calc(16.875rem / 1.8);
    background-size: calc(16.875rem / 1.8) calc(6.25rem / 1.8);
}

.erf-logo {
    background: url(../img/erf.svg) center center no-repeat;
    display: inline-block;
    height: calc(11.6875rem / 2);
    width: calc(22.125rem / 2);
    background-size: calc(22.125rem / 2) calc(11.6875rem / 2);
}

.mini-logo {
    justify-content: center;
    margin: 0 2rem;
}

.last-update {  
  display: block; 
  margin: 0 auto 0 auto; 
  color: #d8d8d8; 
  text-align: center; 
  width: 100%;
}

.fontSize-12 {
  font-size: 12px;
}
.breadcrumbs {
  line-height: 32px;
  border-top: 1px solid #CCD9E0;
  padding:0 8px;
  flex-shrink: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul {
    display: flex;
  }
  li {
    &:after{
      content: 'ï„…';
      font-family: FontAwesome;
      display: inline-block;
      vertical-align: middle;
      margin:0 8px;
    }
    button {
      font-size: 12px;
      line-height: 15px;
      color: #3F3F3F;
      appearance: none;
      border: none;
      padding: 0;
      margin: 0;
      background: none;
    }
    &:last-child {
      &:after {
        display: none;
      }
      padding-right: 20px;
      pointer-events: none;
      button {
        color: #5D606E;
      }
    }
  }
}

.multiselect-active {
  background: #EAF1F8 !important;
  .px-2.py-0.bg-light.rounded.font-weight-bold.mr-2 {
    background: #fff !important;
  }
}

.date-modified {
  color: $gray-400;
  font-size: 12px;
  line-height: 29px;
  .fa {
    margin-right: 8px;
  }
}

.orderable-item {
  display: inline-flex;
  &:after {
    content: ' | ';
    display: inline-block;
    margin:0 8px;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}

.list-group-item.active {
  .badge-primary {
    background: white;
  }
  .badge-light {
    opacity: 0.3;
  }
}

.complexity-icon {
  display: inline-block;
  margin:0 5px;
}

.ui-sortable{
  .ui-state-highlight{
    height: 45px;
    border-color: #5AABE0;
    background-color: #EAF1F8;
  }
  .ui-sortable-helper {
    background: white;
  }
}

.orderable.ui-sortable {
  display: inline-flex !important;
  flex-wrap: wrap;
  width: 50%;
}
.draggable-syn-rel {
  display: inline-flex;
  max-width: 98%;
  position: relative;
  .handle {
    padding: 3px 4px 0 4px;
  }
  .floating-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
#syn-details-area {
  .orderable {
    width: 100% !important;
    &:hover {
      z-index: 10;
    }
  }
}

.ui-sortable-helper {
  opacity: 0.6;
  .meaning_buttons {
    display: none !important;
  }
}
.sorter-wrapper {
  padding-right: 20px;
  box-sizing: content-box;
  position: relative;
  .ui-sortable-placeholder {
    display: inline-flex !important;
    height: 17px !important;
  }
  .indicator {
    margin-left: -7px;
    background: white;
    width: 7px;
    height: 25px;
    padding-top: 4px;
    z-index: 1;
    position: relative;

    cursor: pointer;
    color:#687887;
    font-size: 0.875rem;
    z-index: 20;
    font-weight: 700;
    vertical-align: bottom;
    margin-bottom: -3px;
    display: inline-block;
    white-space: nowrap;
    &.indicator-with-label {
      width: auto;
      margin-left: 3px;
      font-size: 12px;
    }
    i {
      margin-right: 5px;
    }
  }
  .sorter-more {
    max-height: 48px;
    overflow: hidden;
  }
  .sorter-item {
    position: relative;
    padding-right: 10px;
    margin-left: -2px;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      width: 1px;
      right: 5px;
      top: 6px;
      bottom: 3px;
      background: #000;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.draggable-syn-rel {
  .meaning_buttons {
    display: none;
    position: absolute;
    bottom: 4px;
    left: 98%;
    background:white;
    z-index: 10;
    text-align: center;
    margin-left: -7px;
    white-space: nowrap;
    button {
      display: inline-block;
    }
  }
  &:hover {
    .meaning_buttons{
      display: block;
    }
  }
}

.btn.btn-link sup {
  margin-left: -3px;
}

.relationSort {
  list-style: none;
  padding: 0;
  margin: 0;
  .badge-warning {display: none;}
  li:hover {
    .badge-warning {
      display: inline-block;
    }
  }
}

.formItem {
  &__title {
    font-size: 14px;
    line-height: 120%;
  }
  &__element {
    margin-top: 6px;
  }
  &+.formItem {
    margin-top: 15px;
  }
}

.radioTabs {
  display: inline-flex;
  background: #CCD9E0;
  &__item {
    margin: 2px;
    height: 28px;
    line-height: 28px;
    position: relative;
    &+.radioTabs__item {
      margin-left: 0;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      &:checked + span {
        background: white;
      }
      &:focus + span {
        box-shadow: 0 0 0 2px rgba(38, 115, 182, 50%);
      }
      &:disabled {
        cursor: not-allowed;
      }
      &:disabled + span {
        background: rgba(0,0,0,0.1);
        color: rgba(255,255,255,0.5);
      }
    }
    span {
      color: $gray-400;
      font-size: 16px;
      display: inline-block;
      padding: 0 10px;
    }
  }
}

.sidebar-ordering {
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    display: inline-block;
    position: relative;
    &:hover {
      .sidebar-ordering__buttons {
        display: block;
      }
    }
  }
  &__buttons {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
  }
  .sorter-handle {
    width: 11px;
    height: 16px;
    color: $gray-400;
    display: inline-block;
    cursor: move;
    padding-top: 0.1875rem;
    vertical-align: top;
    margin-right: -8px;
    position: relative;
  }
}
.levels-handle {
  cursor: move;
}