/* stylelint-disable */
.logout-area {
	position: absolute;
	top: 10px;
	right: 50px;
}

.username+.btn {
	margin-top: -10px;
}

.username {
	font-size: 12px;
	max-width: 200px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.invalid-form-item {
	box-shadow: 0 0 2px 2px rgba(255,0,0,1);
}

.input-error-text {
	color: rgba(255,0,0,1);
}

.error-text {
	color: rgba(255,0,0,1);
}

.scrollable-area {
	overflow: auto;
	height: 100%;
	position: relative;
	white-space: nowrap;
	&>div {
		width: 50%;
		vertical-align:top;
		display: inline-block;
		white-space: normal;
		&+div {
			padding-left: 8px;
		}
		&:first-child {
			&:last-child {
				width: 100%;
			}
		}
	}
}

.ui-sortable-placeholder {
	visibility: visible !important;
	height: 100%;
	flex-shrink: 0;
	flex-grow: 0;
	position: relative;
	&:after {
		content: " ";
		display: block;
		height: 100%;
		width: 100%;
		background: $white;
		border:0.0625rem solid rgba(0,0,0,.125);
		opacity: 0.7;
		border-radius:.25rem;
	}
}

.resize-area {
	position: absolute; 
	top: 0;
	left: -5px;
	bottom: 0;
	width: 10px;
	cursor: ew-resize;
	z-index: 10;
}

.paneMenu {
	width: 30px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	color: #7D8C9B;
	font-size: 18px;
	cursor: pointer;
	margin-left: 4px;
}

.dragHandle {
	align-self: flex-start;
	font-size: 18px;
	color: #7D8C9B;
	cursor: move;
	margin-right: 13px;
	width: 16px;
	white-space: nowrap;
}

.term-panel {
	.lbl {
		font-weight: normal;
		color: $gray-400;
		padding-left: 14px;
		font-size: 12px;
		font-variant: normal;
	}
	.date-modified {
		font-size: 12px;
	}
	.dragHandle {
		font-size: 1.4rem;
	}
	.block-title {
		background: $gray-100;
		display: flex;
		padding:5px 16px;
		[class*='fa-caret'] {
			font-size: 17px;
		}
	}
	.block-subtitle {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border-top: 1px solid $gray-200;
		border-bottom: 1px solid $gray-100;
		margin:0 -8px 10px -8px;
		padding:0 20px 4px 20px;
		.fa-info-circle {
			padding-top: 6px;
		}
	}

	.orderable .card:first-child .block-subtitle {
		border-top: none;
	}

	.badge-secondary {
		color: $gray-900;
		background-color: $gray-100;
		border-color: $gray-200;
		&:hover {
			background-color: #d5dee2;
			border-color: #acc1cd;
		}
	}
	.btn-lang {
		appearance: none;
		border: none;
		background:none;
		padding: 0;
		color: $gray-300;
	}
	.lang-block {
		border: 1px solid $gray-200;
		margin-bottom: -1px;
	}
	.fa-info-circle, .fa-lock, .fa-unlock {
		font-size: 20px;
		color: $gray-300;
	}
	.fa-lock, .fa-unlock {
		margin-top:6px;
	}
	.title-bar {
		margin: 0 -8px 8px -8px;
		padding-left: 8px;
		padding-right: 8px;
	}
	.valuestatus {
		span {
			font-weight: bold;
		}
		button {
			visibility:hidden;
			pointer-events: none;
		}
		&:hover, &:focus {
			button {
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
}
.syn-handle {
	white-space:nowrap;
}
.update-date-manually {
  height: 32px;

  &-input {
    height: 32px;
    padding: 6px 8px 5px 8px;
    width: 98px !important;
    text-align: center;
    border: 1px solid $gray-300;
    border-radius: 2px;
  }

  &-box {
    height: 32px;
    width: 32px;
    margin-left: 16px;
    background: $blue-400;
    border-radius: 2px;

    &-text {
      border: none;
      background-color: transparent;
      color: $white;

      &>i {
        color: $white;
      }
    }
  }
}

select {
	&.form-control {
		&.is-invalid {
			background-image: none;
		}
	}
}
