eki-elem-1 {
	color: #00874F;
	font-style: italic;
}

eki-elem-2 {
	font-weight: bold;
}

eki-elem-3 {
	vertical-align: sub;
	font-size: 70%;
}

eki-elem-4 {
	vertical-align: super;
	font-size: 70%;
}
