@charset "UTF-8";
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.popover .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.popover .arrow::before, .popover .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-top, .bs-popover-auto[x-placement^="top"] {
  margin-bottom: 0.5rem;
}

.bs-popover-top > .arrow, .bs-popover-auto[x-placement^="top"] > .arrow {
  bottom: calc(-0.5rem - 1px);
}

.bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^="top"] > .arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^="top"] > .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #fff;
}

.bs-popover-right, .bs-popover-auto[x-placement^="right"] {
  margin-left: 0.5rem;
}

.bs-popover-right > .arrow, .bs-popover-auto[x-placement^="right"] > .arrow {
  left: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-right > .arrow::before, .bs-popover-auto[x-placement^="right"] > .arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
}

.bs-popover-bottom, .bs-popover-auto[x-placement^="bottom"] {
  margin-top: 0.5rem;
}

.bs-popover-bottom > .arrow, .bs-popover-auto[x-placement^="bottom"] > .arrow {
  top: calc(-0.5rem - 1px);
}

.bs-popover-bottom > .arrow::before, .bs-popover-auto[x-placement^="bottom"] > .arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
}

.bs-popover-bottom .popover-header::before, .bs-popover-auto[x-placement^="bottom"] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.bs-popover-left, .bs-popover-auto[x-placement^="left"] {
  margin-right: 0.5rem;
}

.bs-popover-left > .arrow, .bs-popover-auto[x-placement^="left"] > .arrow {
  right: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-left > .arrow::before, .bs-popover-auto[x-placement^="left"] > .arrow::before {
  right: 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^="left"] > .arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.popover-header:empty {
  display: none;
}

.popover-body {
  padding: 0.5rem 0.75rem;
  color: #212529;
}

/* stylelint-disable */
.homonym-item-wrap {
  display: block;
  -webkit-transition: 0ms !important;
  transition: 0ms !important;
}

.homonym-name,
.homonym-matches,
.homonym-intro {
  white-space: nowrap;
  line-height: 1.4;
}

.homonym-header {
  font-weight: 700;
}

.homonym-name {
  -webkit-transition: 0ms !important;
  transition: 0ms !important;
  color: #001124;
  font-weight: 900;
}

.homonym-nr {
  background-color: #001124;
  color: #fff;
  height: 1.375rem;
  width: 1.375rem;
  display: inline-block;
  border-radius: 6.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Klavika", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-top: 0.125rem;
  text-align: center;
  position: relative;
  top: -0.1875rem;
  -webkit-transition: 0ms !important;
  transition: 0ms !important;
}

.homonym-matches,
.homonym-intro {
  font-size: 0.75rem;
}

.homonym-matches {
  font-weight: 700;
}

.homonym-intro * {
  color: #7F8891 !important;
}

@media (min-width: 768px) {
  .homonym-panel {
    overflow: hidden;
  }
  .homonym-list {
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    display: -webkit-box;
    display: flex;
    margin-bottom: -15px;
  }
  .homonym-item {
    height: 100%;
    display: -webkit-box;
    display: flex;
  }
  .homonym-item:hover {
    text-decoration: none;
  }
  .homonym-item .homonym-name-container {
    max-width: calc(100% - 24px);
    padding-right: 0.375rem;
    display: inline-block;
    position: relative;
  }
  .homonym-item .homonym-nr {
    color: #fff;
    display: inline-block;
  }
  .homonym-item {
    position: relative;
    background: #ecf0f2;
  }
  .homonym-item * {
    white-space: nowrap;
    overflow: hidden;
  }
  .homonym-item .homonym-item-wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .homonym-item .homonym-item-wrap {
    width: 15rem !important;
    padding: 0.9375rem 1.5625rem;
  }
  .homonym-item.selected {
    background: white;
  }
  .homonym-item.selected .homonym-item-wrap {
    background-color: #fff;
  }
  .homonym-item.selected .homonym-nr {
    background-color: #fff;
    font-weight: 700;
  }
  .word-details-homonym-nr {
    background-color: #0077FF;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    border-radius: 6.25rem;
    height: 1.75rem;
    width: 1.75rem;
    text-align: center;
    position: relative;
    top: -0.25rem;
    line-height: 1.6;
    -webkit-transition: 0ms !important;
    transition: 0ms !important;
  }
  .homonym-item span {
    -webkit-transition: 0ms !important;
    transition: 0ms !important;
    margin-bottom: 0;
    color: #001124;
    text-overflow: ellipsis;
    display: block;
  }
  .homonym-item .homonym-header {
    font-family: "Klavika";
    font-size: 1.25rem;
  }
  .homonym-intro {
    max-height: 1.5rem;
    margin-top: auto;
  }
  .homonym-matches {
    margin-bottom: auto;
  }
}

@media (max-width: 767px) {
  .homonym-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 1.25rem;
    padding-right: 3.75rem;
    border-bottom: 1px #D8D8D8 solid;
    margin-left: -1px;
  }
  .homonym-item.last-selected {
    background-color: rgba(0, 17, 36, 0.15);
    border-top: 1px solid #fff;
    border-bottom-color: #fff;
    margin-top: -1px;
  }
  .homonym-item.last-selected *:not(.homonym-nr), .homonym-item.last-selected *:after {
    color: #0077FF !important;
  }
  .homonym-item.last-selected .homonym-nr {
    background-color: #0077FF;
  }
  .homonym-item *:not(.homonym-nr) {
    display: -webkit-box;
    display: flex;
    white-space: nowrap;
    float: left;
    -webkit-box-align: center;
    align-items: center;
  }
  .homonym-item:after {
    content: "\e908";
    color: #7F8891;
    font-family: 'material-icons';
    position: absolute;
    top: 50%;
    right: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.725rem;
  }
  .homonym-item-wrap {
    max-width: 100%;
  }
  .homonym-name,
  .homonym-matches,
  .homonym-intro {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    max-width: 100%;
  }
  .homonym-nr {
    padding-top: 0.125rem;
    top: -0.0625rem;
    margin: 0 0.625rem;
  }
  .homonym-matches {
    font-size: 1rem;
    font-weight: 400;
    flex-shrink: 0;
    margin-right: 0.125rem;
    font-weight: 700;
  }
}

.lang-code {
  font-size: 16px;
}

.lang-code-sm {
  font-size: 12px;
}

/*stylelint-disable*/
.overflow-hidden {
  overflow: hidden !important;
}

.text-wrap {
  white-space: normal !important;
}

.dropdown-menu {
  overflow: hidden;
}

.dropdown-menu .dropdown-menu-scroll {
  max-height: calc(100vh - 20px);
  overflow: auto;
}

@media (min-width: 576px) {
  .dropdown-menu .dropdown-menu-scroll {
    max-height: calc(100vh - 80px);
  }
}

.dropdown-item-multiselect.active::before {
  display: inline-block;
  margin-right: 5px;
  font-family: FontAwesome, sans-serif;
  content: "";
}

.meaning-sub-heading {
  padding: 10px;
  margin: 0 -20px;
  text-transform: uppercase;
  background: #ecf0f2;
}
/*# sourceMappingURL=styles.css.map */