#detail-toggle-container {
    width: 160px;
    height: 32px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .1em;
    background: #e9e9e9;
    color: #a9a9a9;
}

.inner-container .active {
    background: dodgerblue;
    color: white;
}

.toggle {
    width: 50%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

.toggle p {
    margin: auto;
}

.toggle:nth-child(2) {
    right: 0;
}

@media (max-width: 768px) {
    body:not(.home-page) #language-detail-panel {
		margin-top: 1rem;
        width: calc(100vw - 4em);
    }
    .menu-btn {
        padding: 0.625em;
        padding-right: 0.25em;
    }
    .more-btn {
        margin-right: 0em;
    }
}

.message-wrap {
    margin-top: 9.5em;
}
.details-message {
    top: -1.5em;
    right: 2em;
    position: absolute;
}

.robo-icon {
    width: 26px;
    height: 26px;
    opacity: 0.5;
}

.example-item:hover .robo-icon{
    opacity: 1;
}

.collocations-section {
    clear: both;
    display: block;
}
.level-3-panel:not(.expand) .filler-row,
.level-3-panel:not(.expand) .lexeme-list,
.level-3-panel:not(.expand) .collocations-section .colloc-section .colloc-inner-section,
.level-3-panel:not(.expand) .collocations-section .colloc-heading,
.level-3-panel:not(.expand) .collocations-section .colloc-section .colloc-name,
.level-3-panel:not(.expand) .collocations-section .colloc-section .colloc-row .colloc-col {
    display: none;
    opacity: 0;
}

.level-3-panel .collocations-section .colloc-section:nth-child(1) .colloc-inner-section:nth-of-type(2) .colloc-row .colloc-col:nth-of-type(1),
.level-3-panel .collocations-section .colloc-section:nth-child(1) .colloc-inner-section:nth-of-type(2) .colloc-row .colloc-col:nth-of-type(2),
.level-3-panel .collocations-section .colloc-section:nth-child(1) .colloc-inner-section:nth-of-type(2) .colloc-row .colloc-col:nth-of-type(3) {
  display: block;
  opacity: 1;
}

.level-3-panel .collocations-section .colloc-section:nth-child(1) .colloc-inner-section:nth-of-type(2) { display: block; opacity: 1 }

.homonym-item,
.back {
    cursor: pointer;

}

.header-container .back { display:none; }

.header-container .show-btn.back {
 display:block;
}

.lang-btn {
    padding: 1em;
}

.dropdown-menu {
    min-width: 18em;
}

.morphology-section {
    position: relative;
}

.morphology-section .more-btn{
    top: -0.5rem;
    right: -2rem;
}

.morphology-section:not(.expand) .row:not(.intro) {
    display: none;
    opacity: 0;
}

.morphology-section .row div:not(.label) {
    display: block;
    height: 1.875rem;
}