#detail-toggle-container {
	width: 160px;
	height: 32px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

#dataset-type-toggle-container {
	width: 160px;
	height: 32px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

.inner-container {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	text-transform: uppercase;
	font-size: .7em;
	letter-spacing: .1em;
	background: #e9e9e9;
	color: #a9a9a9;
}

.inner-container .toggle {
	overflow: hidden;
}

.inner-container .active {
	background: dodgerblue;
	color: white;
}

.inner-container .active:focus {
	  box-shadow: 0 0 0 0.2rem rgba(0, 63, 135, 0.5);
    background: #0263d2;
}

.toggle {
	width: 50%;
	position: absolute;
	height: inherit;
	display: flex;
	box-sizing: border-box;
}

.toggle:focus {
	background: #a9a9a9;
	color: white;
}

.toggle p {
	margin: auto;
}

.toggle:nth-child(2) {
	right: 0;
}

@media ( max-width : 767px) {
	body:not(.home-page ) #language-detail-panel {
		margin-top: 1rem;
		width: calc(100vw - 4em);
	}
	.menu-btn {
		padding: 1rem;
	}
	.more-btn {
		margin-right: 0em;
	}
	.nav-placeholder {
		display: none;
	}
	#sidebar {
		position: relative !important;
	}
}

.nav-placeholder {
	display: initial;
}

#sidebar {
	position: fixed;
}

@media ( min-width : 768px) {
	.header-container .show-btn.back {
		display: none !important;
	}
	.meaning {
		margin-bottom: 0.625rem;
	}
	.message-wrap {
		margin-top: 9.5em;
	}
}

.homonym-page {
	margin-top: 10rem;
}

.message-wrap {
	margin-top: 15.5em;
}

.details-message {
	top: -1.5em;
	right: 2em;
	position: absolute;
}

.collocations-section {
	clear: both;
	display: block;
}

.level-3-panel .collocations-section:not(.expand ) .colloc-fulldata,
	.level-3-panel .collocations-section.expand .colloc-samples {
	display: none;
	opacity: 0;
}

.level-3-panel .collocations-section.expand .colloc-fulldata,
	.level-3-panel .collocations-section:not(.expand ) .colloc-samples {
	display: block;
	opacity: 1;
}

.homonym-item, .back {
	cursor: pointer;
}

.back.show-btn {
	display: none !important;
}

.header-container .show-btn.back {
	display: block;
	margin-top: 0.5rem;
}

.lang-btn {
	padding: 1em;
}

.dropdown-menu {
	min-width: 18em;
}

.morphology-section {
	position: relative;
}

.morphology-section:not(.expand ) .row:not(.intro ) {
	display: none;
	opacity: 0;
}

.morphology-section .row div:not(.label ) {
	display: block;
	height: 1.75rem;
}

.word-group {
	display: block;
	margin-bottom: 0.5rem;
	position: relative;
	line-height: 1;
}

.word-relations.expand .limited-group, .word-relations:not(.expand ) .full-group
	{
	display: none;
}

.word-relations.expand .full-group, .word-relations:not(.expand ) .limited-group
	{
	display: inline;
}

.matches span {
	margin-bottom: 0.625rem;
}

.meaning {
	margin-bottom: 0.25rem;
}

.hide-simple {
	display: none;
}

.content-title .btn-speaker {
	float: none;
	display: initial;
	padding: 0.5em 0 0 0;
}

[id^=colloc-usages-area] .btn-speaker {
	display: initial;
	float: none;
	margin-top: -0.8rem;
	margin-bottom: -1rem;
}

.btn-speaker, .alert-icn, .lang-btn {
	outline: none !important;
}

.matching-word {
	color: #00874F;
	margin-right: -0.2rem;
}

.alert-danger-rus {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0.4rem;
	background: red;
	display: flex;
	z-index: 9999;
	color: white;
	border: 0px solid #730000;
	border-top: 1px;
	justify-content: center;
}

.ui-menu {
	z-index: 999;
}

.dependence .fa-spinner {
	margin-right: 0.5rem;
	font-size: 1rem;
}

.show-more {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	display: block;
	color: dodgerblue;
	font-size: 0.85rem;
	margin-bottom: 0.5rem;
	outline: none !important;
	alignment: top;
}

.show-more-arrow {
	font-size: 1.6em ;
	vertical-align: middle;
}

.corp-warning {
	font-style: italic;
	font-size: 0.7rem;
	line-height: normal;
}