.btn-icon{
  @include button-variant(transparent, transparent, $hover-background: $gray-010, $hover-border: $gray-010, $active-background: $gray-100, $active-border: $gray-100);
  color: $gray-300;
  @include box-shadow(none);
}
.btn-primary,
.btn-success{
  box-shadow: none;
}


// Make a button look and behave like a link
.btn-link-dark {
  font-weight: $font-weight-normal;
  color: $body-color;
  text-decoration: underline;

  @include hover () {
    color: $gray-1000;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    text-decoration: none;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

// Make a button look and behave like a link
.btn-link-muted {
  font-weight: $font-weight-bold;
  color: $gray-350;
  text-decoration: none;

  @include hover () {
    color: $gray-1000;
    text-decoration: underline;
  }

  &:focus,
  &.focus {
    text-decoration: underline;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

/* stylelint-disable */
.feedback-btn {
  @include media-breakpoint-down(sm){
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: $zindex-dropdown;
  }
}

.survey-active {
  .feedback-btn {
    bottom: 80px;
  }

  .top-button {
    bottom: 80px;
  }
}

.btn-collapse {
  &.show{
    .collapse-icon{
      transform: rotate(180deg);
    }
  }
  .collapse-icon{
    transition: transform ease-in-out .32s;
  }

  &[aria-expanded=false] .see-less-content {
    display: none;
  }

  &[aria-expanded=true]  {
    & .see-more-content {
      display: none;
    }
    & .see-less-content {
      display: block;
    }
  }
}

.btn-ellipsis{
  .collapse-icon{
    margin-bottom: 2px;
  }

  &.collapsing{
    text-decoration: none;
  }

  //repurpose  collapse plugin "show" class to toggle ellipsis plugin
  &.show{
    display: none !important;
  }
}

.btn-bold {
  font-size: 12px;
  font-weight: bold;
  color: $gray-350;
  .fa {
    margin-right: 8px;
  }
}
