.colloc-row {
  padding: 0 15px;
}

.colloc-inner-section {
  padding: 0 10px;
}

.colloc-member {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 2px 5px;
  background-color: $gray-100;
  @include border-radius($border-radius-sm);
}

.colloc-col{
  padding: 2px;
}
