.colloc-row {
  padding: 0 15px;
}

.colloc-inner-section {
  padding: 0 10px;
}

.colloc-member {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

.colloc-col{
  padding: 2px;
}
