.colloc-row {
  padding: 0 16px;
  display: flex;
  flex-flow: row wrap;
}

.colloc-inner-section {
  padding: 0 16px;
  margin-bottom: 4px;
}

.colloc-member {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 2px;
}


.colloc-section {
  padding-left: 1rem;
}
