.collapse-text {
  overflow: hidden;
}

.get-height {
  position: absolute;
  visibility: hidden;
}


.clipboard {
  height: 18px;
  &__trigger {
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    padding: 0;
    --icon-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-dark-blue);
  }

  &__popup:not([x-placement]) {
    display: none;
  }

  &__popup {
    background-color: var(--color-white);
    border: 1px solid var(--color-light-blue);
    border-radius: 8px;
    padding: 16px;
    font-size: .75rem;
    z-index: 1;
    max-width: 100cqw;

    & a {
      font-weight: 500;
    }

    & p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include media-breakpoint-down(sm) {
      left: 0px !important;
    }
  }

  &__word {
    font-weight: 700;
    display: inline-flex;
    & sup {
      position: static;
      line-height: 1;
    }
  }
}
