.definition-area .domain {
  text-transform: uppercase;
}

.definition-area,
.matches{
  padding-bottom: 12px;
}

.definition-sources {
  font-size: .75rem;
  font-weight: 400;
  color: #6b7885;
  .source-link{
    font-size: 12px;
    color: #6b7885;
    text-align: left;
    word-break: break-all;
  }
}

.ul-list-style{
  margin-bottom: 12px;
  list-style: disc;
}
