.dependencies * {
  @include transition(0);
}

.dependence .dependence-unit {
  position: relative;
  padding-bottom: .1875rem;
  margin-bottom: -.4375rem;
  overflow: inherit;
}

.question {
  font-size: .75rem;
  font-style: italic;
  font-weight: $font-weight-normal;
  color: $gray-100;
}

.dependence-group {
  display: flex;
  flex-direction: column;
}

.example-item{
  clear: both;

  .btn-speaker {
    clear: right;
  }

  .btn-speaker + .example-text {
    float: none;
    padding-left: 0;
  }

  .dependence-unit {
    display: flex;
    margin-bottom: .125rem;
  }

  .dependence-unit:hover {
    cursor: pointer;
    background-color: $gray-200;
  }
}

.example-text {
  align-items: center;
  float: left;
  padding: 0 .5rem ;
  font-size: 1rem;
  font-style: italic;
  line-height: 1;
}

.btn-speaker {
  padding: 10px 5px 0;
  color: $gray-300;
  background: transparent;
}
.dependencies{
  padding-bottom: 4px;
}
