.dropdown-menu {
  overflow: hidden;

  .dropdown-menu-scroll {
    max-height: calc(100vh - 20px);
    overflow: auto;

    @include media-breakpoint-up(sm){
      max-height: calc(100vh - 80px);
    }
  }
}

.dropdown-item-multiselect {
  &.active {
    &::before {
      display: inline-block;
      margin-right: 5px;
      font-family: FontAwesome, sans-serif;
      content: "";
    }
  }
}
