// Homonym styles
/* stylelint-disable */
.homonym-item-wrap {
  display: block;
  -webkit-transition: 0ms !important;
  transition: 0ms !important;
}

.homonym-name,
.homonym-matches,
.homonym-intro {
  line-height: 1.4;
  white-space: nowrap;
}

.homonym-header {
  font-weight: 700;
}

.homonym-name {
  font-weight: 900;
  color: #001124;
  -webkit-transition: 0ms !important;
  transition: 0ms !important;
}

.homonym-nr {
  position: relative;
  top: -.1875rem;
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  padding-top: .125rem;
  font-family: "Klavika", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: .75rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #001124;
  border-radius: 6.25rem;
  -webkit-transition: 0ms !important;
  transition: 0ms !important;
}

.homonym-matches,
.homonym-intro {
  font-size: .75rem;
}

.homonym-matches {
  font-weight: 700;
}

.homonym-intro * {
  color: #7f8891 !important;
}

@media (min-width: 768px) {
  .homonym-panel {
    overflow: hidden;
  }
  .homonym-list {
    display: -webkit-box;
    display: flex;
    margin-bottom: -15px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .homonym-item {
    display: -webkit-box;
    display: flex;
    height: 100%;
  }
  .homonym-item:hover {
    text-decoration: none;
  }
  .homonym-item .homonym-name-container {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 24px);
    padding-right: .375rem;
  }

  .homonym-item .homonym-nr {
    display: inline-block;
    color: #fff;
  }
  .homonym-item {
    position: relative;
    background: $gray-100;
  }

  .homonym-item * {
    overflow: hidden;
    white-space: nowrap;
  }
  .homonym-item .homonym-item-wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }


  .homonym-item .homonym-item-wrap {
    width: 15rem !important;
    padding: .9375rem 1.5625rem;

  }

  .homonym-item.selected {
    background: white;
  }
  .homonym-item.selected .homonym-item-wrap {
    background-color: #fff;
  }

  .homonym-item.selected .homonym-nr {
    font-weight: 700;
    background-color: #fff;
  }
  .word-details-homonym-nr {
    position: relative;
    top: -.25rem;
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    font-weight: 700;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    background-color: #07f;
    border-radius: 6.25rem;
    -webkit-transition: 0ms !important;
    transition: 0ms !important;
  }

  .homonym-item span {
    display: block;
    margin-bottom: 0;
    color: #001124;
    text-overflow: ellipsis;
    -webkit-transition: 0ms !important;
    transition: 0ms !important;
  }
  .homonym-item .homonym-header {
    font-family: "Klavika";
    font-size: 1.25rem;
  }
  .homonym-intro {
    max-height: 1.5rem;
    margin-top: auto;
  }
  .homonym-matches {
    margin-bottom: auto;
  }
}


@media (max-width: 767px) {

  .homonym-item {
    position: relative;
    display: block;
    padding: 1.25rem;
    padding-right: 3.75rem;
    margin-left: -1px;
    overflow: hidden;
    border-bottom: 1px #d8d8d8 solid;
  }
  .homonym-item.last-selected {
    margin-top: -1px;
    background-color: rgba(0, 17, 36, .15);
    border-top: 1px solid #fff;
    border-bottom-color: #fff;
  }
  .homonym-item.last-selected *:not(.homonym-nr),
  .homonym-item.last-selected *::after {
    color: #07f !important;
  }
  .homonym-item.last-selected .homonym-nr {
    background-color: #07f;
  }
  .homonym-item *:not(.homonym-nr) {
    display: -webkit-box;
    display: flex;
    align-items: center;
    float: left;
    white-space: nowrap;
    -webkit-box-align: center;
  }
  .homonym-item::after {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -.725rem;
    font-family: "material-icons";
    color: #7f8891;
    content: "\e908";
  }
  .homonym-item-wrap {
    max-width: 100%;
  }
  .homonym-name,
  .homonym-matches,
  .homonym-intro {
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
  .homonym-nr {
    top: -.0625rem;
    padding-top: .125rem;
    margin: 0 .625rem;
  }
  .homonym-matches {
    flex-shrink: 0;
    margin-right: .125rem;
    font-size: 1rem;
    font-weight: 400;
    font-weight: 700;
  }

}
