// Homonym styles
/* stylelint-disable */
.homonym-item-wrap {
  display: block;
  transition: 0ms !important;
}

.homonym-name,
.homonym-matches,
.homonym-intro {
  line-height: 1.4;
  white-space: nowrap;
}

.homonym-header {
  font-weight: 700;
}

.homonym-name {
  font-weight: 900;
  color: #001124;
  transition: 0ms !important;
}

.homonym-nr {
  position: relative;
  top: -.1875rem;
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  padding-top: .125rem;
  font-size: .75rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #001124;
  border-radius: 6.25rem;
  transition: 0ms !important;
}

.homonym-matches,
.homonym-intro {
  font-size: .75rem;
}

.homonym-matches {
  font-weight: 700;
}

.homonym-intro * {
  color: #7f8891 !important;
}

.homonym-panel {
  @include media-breakpoint-up(md) {
    overflow: hidden;
    border-bottom: 1px solid $border-color;
  }
}

.homonym-list-toggle {
  width: 100%;
  background: $white;
  border: 3px solid $gray-300;
  margin-bottom: 24px;
  padding: 9px 16px;
  @include border-radius(10px);

  .homonym-item-wrap {
    width: 100%;
    display: flex;
  }
}

.homonym-list {
  background: $white;
  @include media-breakpoint-down(sm) {

    display: none;
    border: 3px solid $gray-300;
    @include border-radius(10px);
    &.expand {
      display: block;
    }

  }
  @include media-breakpoint-up(md) {
    display: flex;
    margin-bottom: -15px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .homonym-list-item:last-child .homonym-item {
    border-bottom: 0;
  }
}

.homonym-list-item {
  @include media-breakpoint-down(sm) {

    &.selected {
      background: $blue-300;
      color: $white;
    }
  }

  &.selected {
    .homonym-item {
      @include media-breakpoint-up(md) {
        background: $white;
      }
    }
  }
}

.homonym-item {
  position: relative;
  display: block;
  padding: 1.25rem;
  padding-right: 3.75rem;
  margin-left: -1px;
  overflow: hidden;
  border-bottom: 1px #d8d8d8 solid;

  @include media-breakpoint-up(md) {
    display: flex;
    height: 100%;
    position: relative;
    background: $gray-100;
  }

  &.selected {
    @include media-breakpoint-up(md) {
      background: $white;
    }

    .homonym-item-wrap {
      @include media-breakpoint-up(md) {
        background-color: $white;
      }
    }

    .homonym-nr {
      @include media-breakpoint-up(md) {
        font-weight: $font-weight-bold;
        background-color: $white;
      }
    }
  }

  &:hover {
    text-decoration: none;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -.725rem;
    font-family: "material-icons";
    color: #7f8891;
    content: "\e908";
  }

  .homonym-name-container {
    @include media-breakpoint-up(md) {
      position: relative;
      display: inline-block;
      max-width: calc(100% - 24px);
      padding-right: .375rem;
    }
  }

  .homonym-nr {
    @include media-breakpoint-up(md) {
      display: inline-block;
      color: $white;
    }
  }

  .homonym-item-wrap {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
      width: 15rem !important;
      padding: .9375rem 1.5625rem;
      margin-bottom: 0;
      color: #001124;
      text-overflow: ellipsis;
      transition: 0ms !important;
    }
  }

  .homonym-header {
    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }

  * {
    @include media-breakpoint-up(md) {
      overflow: hidden;
      white-space: nowrap;
    }

  }
}


.word-details-homonym-nr {
  @include media-breakpoint-up(md) {
    position: relative;
    top: -.25rem;
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    font-weight: 700;
    line-height: 1.6;
    color: $white;
    text-align: center;
    border-radius: 6.25rem;
    transition: 0ms !important;
  }

}


.homonym-intro {
  @include media-breakpoint-up(md) {

    max-height: 1.5rem;
    margin-top: auto;
  }
}

.homonym-matches {
  @include media-breakpoint-up(md) {
    margin-bottom: auto;
  }

}


@media (max-width: 767px) {

  .homonym-item *:not(.homonym-nr) {
    display: flex;
    align-items: center;
    float: left;
    white-space: nowrap;
  }
  .homonym-item-wrap {
    max-width: 100%;
  }
  .homonym-name,
  .homonym-matches,
  .homonym-intro {
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
  .homonym-nr {
    top: -.0625rem;
    padding-top: .125rem;
    margin: 0 .625rem;
  }
  .homonym-matches {
    flex-shrink: 0;
    margin-right: .125rem;
    font-size: 1rem;
    font-weight: 700;
  }

}
