@include media-breakpoint-up(md){
  .meaning-panel {
    padding: 5px;
    overflow: auto;

    .meaning,
    .meaning-meta {
      float: left;
    }

    .dependencies {
      float: right;
    }
  }
}
.meaning-sub-heading {
  padding: 10px;
  margin: 0 -16px;
  text-transform: uppercase;
  background: $gray-100;
}
