/* stylelint-disable */
//TODO: Split this file in to separate component based partials
@media (max-width: 319px) {
  html::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999999;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, .5);
  }
  *:not(html) {
    -webkit-filter: blur(.0625rem);
    filter: blur(.0625rem);
  }
}
.break {
  flex-basis: 100%;
  width: 0;
  height: 0;
  overflow: hidden;
}
.morphology-full {
  margin-right: -2.5rem !important;
  margin-left: -2.5rem !important;
  font-size: .75rem;
}


.dropdown-menu {
  border: none;
  box-shadow: 0 .125rem .625rem rgba(0, 17, 36, .3);
}
.dropdown-menu.container div {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}


.icon {
  padding-top: 10px;
  font-size: 1.5rem;
}


.dictionary-source {
  display: block;
  clear: both;
  color: #7f8891;
}
.fade-target {
  animation: fade 750ms linear;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.more-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.75rem;
  cursor: pointer;
  background: transparent;
  border: none;
}
.more-btn:active,
.more-btn:hover,
.more-btn:focus {
  outline: none !important;
}
.more-btn:active .icon::before,
.more-btn:hover .icon::before,
.more-btn:focus .icon::before {
  color: white;
  background-color: #07f;
  opacity: .7;
}
.more-btn .icon::before {
  position: relative;
  display: inline-block;
  padding: 0;
  color: white;
  background: #07f;
  border: 2px solid #07f;
  border-radius: 1.375rem;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.expand .more-btn:focus .icon::before {
  color: black;
  background: white;
  border-color: black;
  outline: 0;
  opacity: 1;
}
.more-btn:focus .icon::before {
  color: white;
  background: black;
  border-color: black;
  outline: 0;
  opacity: 1;
}
.sidebar .more-btn {
  top: 1.5rem;
}
.label {
  font-size: .75rem;
  color: #7f8891;
}
.label-md {
  color: #7f8891;
}
.expand .more-btn .icon::before {
  color: #07f;
  background: white;
  border: 2px solid #07f;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.homonym-image {
  display: block;
  max-width: 100%;
  max-height: 20vh;
  margin: 0 auto;
}

/* Customize the label (the container) */
.checkcontainer {
  position: relative;
  display: block;
  padding-left: 35px;
  margin-top: 18px;
  font-weight: 700;
  color: #07f;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 .125rem .625rem rgba(0, 17, 36, .3);
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
  background-color: #07f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  position: absolute;
  display: none;
  content: "";
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark::after {
  top: 5px;
  left: 9px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"] {
  margin-top: 0;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #007bff;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(0, 123, 255, .25);
}
.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
}
.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}
.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}
.custom-control-label {
  position: relative;
  margin-bottom: 0;
  padding-left: 0.5rem;
}
.custom-control-label::before {
  position: absolute;
  top: 0.125rem;
  left: -1.25rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
}
.custom-control-label::after {
  position: absolute;
  top: 0.125rem;
  left: -1.25rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65% 65%;
}
.custom-checkbox .custom-control-label::before {
  border-radius: .25rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0053B3;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #0053B3;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, .5);
}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, .5);
}
.custom-radio .custom-control-label::before {
  border-radius: 50%;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0053B3;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, .5);
}
.custom-control-label::before,
.custom-file-label,
.custom-select {
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
@media screen and (prefers-reduced-motion: reduce) {
  .custom-control-label::before,
  .custom-file-label,
  .custom-select {
    -webkit-transition: none;
    transition: none;
  }
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}
.form-check-input:disabled ~ .form-check-label {
  color: #6c757d;
}
.form-check-label {
  margin-bottom: 0;
}
.form-check-inline {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: .75rem;
}
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0;
}
.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: #28a745;
}
.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip,
.form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip {
  display: block;
}
.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: #dc3545;
}
.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip,
.form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}
.form-inline .form-check {
  width: 100%;
}
.form-inline .form-check {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  padding-left: 0;
}
.form-inline .form-check-input {
  position: relative;
  margin-top: 0;
  margin-right: .25rem;
  margin-left: 0;
}
.custom-control-inline {
  display: -webkit-inline-box;
  display: inline-flex;
  margin-right: 2.8rem;
}


/* Custome Response */

@media (max-width: 767px) {
  html {
    background-color: #fff;
  }
  .menu-btn {
    top: 0;
    right: 0;
    background-color: transparent;
  }


  .examples-wrap {
    float: right;
  }
}

@media (min-width: 768px) {

  .search-wrap {
    top: 4.375rem;
    box-shadow: 0 0 .625rem .3125rem #f2f2f2;
  }
  .dropdown-menu.container {
    width: auto !important;
    max-width: 31.25rem !important;
  }

  .back {
    display: none;
  }
  .menu-btn {
    right: 0;
  }


  .animation-target {
    -webkit-animation: animation 1250ms linear both;
    animation: animation 1250ms linear both;
  }
  @-webkit-keyframes animation {
    0% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    70% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75% {
      -webkit-transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    80% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    90% {
      -webkit-transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  @keyframes animation {
    0% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    70% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75% {
      -webkit-transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    80% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    90% {
      -webkit-transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }

  .main-data {
    border-right: 1px #d8d8d8 solid;
  }

}


@media (min-width: 1200px) {

  .header-wrap,
  .search-panel,
  .footer-wrapper,
  .content-panel,
  .search-results-header{
    max-width: 80vw !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .dependencies {
    margin-top: -.25rem;
  }
}
textarea.form-control {
  padding: .25rem 9.5rem .25rem 1.15625rem;
}


.alert-icn {
  position: relative;
  top: .1rem;
  right: 0;
  left: .25rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url(../images/alert-icn.svg) center center no-repeat;
  background-size: 1rem;
}


.morphology-section .morph-word {
  position: relative;
  top: -.125rem;
}
.morphology-panel .btn-speaker {
  margin-top: -.25rem;
  margin-bottom: -1rem;
}
.word-grouper-wrapper .word-options a {
  line-height: 1.3;
}
.dependence-group {
  margin-right: 2.5rem;
}

.show-section { display: block !important; }
.formarea { display: none; }

.heading-wrapper {
  display: -webkit-inline-box;
  display: inline-flex;
}

.custom-control-label::before {
  background-color: #FFFFFF;
  border: 1px solid #8A98A5;
  width: 1.25rem;
  height: 1.25rem;
}

.games-wrap {
  margin-top: 4.375rem;
}
.games-list .card-body {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.games-list .card-body div {
  width: 100%;
  padding-bottom: .25rem;
  margin-bottom: .25rem;
  border-bottom: 1px solid rgba(0, 17, 36, .125);
}
.games-list .card-body div:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0 solid red;
}
.has-error {
  display: none;
  color: #800;
}
.alert-danger.hide {
  display: none;
}
.alert-mail.hide {
  display: none;
}
.error-show {
  display: inline-block !important;
}
.errors .alert:last-of-type {
  margin-bottom: -1rem;
}
.errors {
  padding: 0 1.15625rem;
  line-height: 0;
}
.errors .alert {
  position: relative;
  top: .8rem;
  color: #800;
}
.custom-checkbox .custom-control-label::before {
  top: .2rem;
}
.custom-checkbox .custom-control-label::before {
  top: .2rem;
}
.dotted-list {
  padding-left: 1.5rem;
}
.dotted-list li {
  position: relative;
}
.dotted-list li::before {
  position: absolute;
  top: .5rem;
  left: -1rem;
  display: inline-block;
  width: .5rem;
  height: .5rem;
  content: "";
  background-color: rgb(0, 157, 181);
  border-radius: 1rem;
}
.btn.disabled {
  color: #efefef;
  pointer-events: none;
  cursor: none;
  background-color: dodgerblue;
  box-shadow: inset 0 -2px 10px #fff;
  opacity: .65;
}
.positive-feedback {
  color: #00874f;
}
.negative-feedback {
  color: #800;
}
.top-button {
  position: fixed;
  right: calc(5%);
  bottom: 2rem;
  z-index: 10;
  width: 2rem;
  height: 2rem;
  background: rgba(255, 255, 255, .7);
  border-radius: 3.125rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.top-button:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 1);
}
.top-button .icon{
  font-size: 2rem;
}
.rections {
  margin-right: -.2rem;
  margin-left: .2rem;
}
.rections .type-one {
  margin-right: 0;
  font-style: italic;
  color: #658ad4;
}
.rections .type-two {
  padding: .125rem 0 .0625rem;
  font-size: 14px;
  font-weight: 400;
  color: #003f87 !important;
  text-transform: uppercase;
  border-radius: .3125rem;
}
.rections .type-three {
  font-style: normal;
}
.rekts-est {
  font-style: italic;
  color: #658ad4;
}
.lexeme {
  padding: .125rem .3125rem .0625rem;
  margin-right: .25rem;
  font-size: .75rem;
  color: rgba(0, 17, 36, .5);
  border: 1px dotted rgba(0, 17, 36, .25);
  border-radius: .3125rem;
}
.definition-row {
  line-height: 1.5;
}
.definition-area {
  padding-bottom: 12px;
}
.definition-area .domain {
  font-size: 14px;
  font-weight: 400;
  color: #003f87;
  text-transform: uppercase;
}
.definition-value {
  font-size: 1.2em;
}
.secondary-morph {
  display: none;
}
.position-relative:not(.expand) .secondary-morph {
  display: none;
  opacity: 0;
}
.position-relative.expand .secondary-morph {
  display: inline;
  opacity: 1;
}
.morphology-panel .more-btn {
  top: 0;
  right: -3.75rem;
}
.morphology-panel .icon-speaker {
  display: inline;
  padding-top: 0;
}
.btn-speaker:hover {
  opacity: 1;
}
.morphology-panel h6,
.morphology-panel h6.main-title {
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin-top: .25rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #658ad4;
}
.morphology-panel h6.main-title {
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 700;
  border-bottom: 1px solid #658ad4;
}

.skip-link {
  position: fixed;
  top: -200px;
  left: 0;
  z-index: 100;
  padding: 8px;
  color: #07f;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 grey;
}
.skip-link:focus {
  top: 0;
  outline: 5px auto -webkit-focus-ring-color;
}

.alert-danger-ie {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  color: #856404;
  background: #fff3cd;
  border: 1px solid #ffeeba;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  -webkit-box-pack: center;
}
.alert-danger-ie-container {
  max-width: 1400px;
}
@media (max-width: 767px) {
  .main-content-wrapper.align-self-center {
    align-self: auto !important;
    margin-top: 3.125rem;
  }


  .detail-toggle-container {
    margin: 0 auto;
  }

  .search-lang .dropdown-menu {
    right: 1rem !important;
    left: 1rem !important;
    width: unset;
    min-width: inherit;
    -webkit-transform: translate3d(0, 43px, 0) !important;
    transform: translate3d(0, 43px, 0) !important;
  }
  .more-btn .icon::before {
    top: .85rem;
  }
  .morphology-panel .more-btn {
    top: -.5rem;
    right: -1.25rem;
  }
  .morphology-panel .position-relative,
  .relations-wrapper,
  .sentence-wrapper {
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {

  .more-btn {
    right: -2.5rem;
  }

  .dependence-group {
    margin-left: -.5rem;
  }
  .colloc-inner-section {
    margin-left: -.5rem;
  }
}
@media (max-width: 1200px) {
  .lg-max-noneset {
    margin-left: 0 !important;
  }
}
