/* stylelint-disable */
.overflow-hidden{
  overflow: hidden !important;
}

.text-wrap{
  white-space: normal !important;
}
.text-small{
  font-size: $font-size-sm !important;
}
.tex-weight-medium{
  font-weight: $font-weight-medium;
}
