/* stylelint-disable */
.learn-container {
  text-align: left;
}
.learn-content{
  margin-bottom: 32px;
  //Hide overflow because content editors might make mistakes
  overflow: hidden;
  background: $white;
  @include border-radius(10px);
}
.col-num {
  width: 4rem;
  padding-right: 1rem;
  font-weight: bold;
  color: rgb(0, 157, 181);
  text-align: right;
}

.col-bold {
  width: 4rem;
  padding-left: 1rem;
  font-weight: bold;
  color: rgb(0, 157, 181);
}

.colored-bold {
  font-weight: bold;
  color: rgb(0, 157, 181);
}

.highlighted {
  font-weight: bold;
  color: rgb(0, 157, 181);
}

.col-text {
  width: 30%;
}
