/* stylelint-disable */
:root {
  --wordgame-gray: #CCD9E0;
  --wordgame-card-top-padding: 8px;
  --wordgame-card-top-button-size: 1;
  --wordgame-card-description-padding: 20px;
  --wordgame-card-bottom-padding: 8px;
  --wordgame-card-bottom-text-padding: 8px;
  --wordgame-menu-margin-left: 24px;
  --wordgame-menu-min-width: 250px;
  --wordgame-menu-category-spacing: 9px;
  --wordgame-options-bottom-margin: 18px;
  --wordgame-grid-margin: 8px;
}

.wordgame {
  &__main {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 12px;

    @media (min-width: 1500px) {
      max-width: 1200px !important;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__options {
    width: 100%;
    margin-bottom: var(--wordgame-options-bottom-margin);
    background: none;
    box-shadow: none;

    
    .form-check-label {
      cursor: pointer;
    }
    .form-check {
      display: flex;
      align-items: center;
      .wordgame-customRadio {
        margin-right: 10px !important;
      }
    }

    @media (min-width: 1200px) {
      max-width: 80vw !important;
      margin-right: auto !important;
      margin-left: auto !important;
    }

    @media (min-width: 1500px) {
      max-width: 1200px !important;
    }
    
    ul {
      display: flex;
      flex-wrap: wrap;
      
      li:nth-of-type(3) {
        span {
          margin-right: 10px;
        }

        span:nth-of-type(3) {
          margin-right: 0;
          margin-left: 5px;
        }
        
        margin-right: 0;
      }
      
      li:last-of-type {
        margin-left: auto;
        margin-right: 0;
      }
      
      li {
        .form-check {
          padding-left: 0.5rem;
        }
      }
    }
    
    ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      display: flex;
      margin: 4px 30px;
      margin-left: 0;
    }
    
    @media (max-width: 768px) {
      ul {
        li:nth-of-type(2) {
          display: none;
        }

        li:nth-of-type(3) {
          display: none;
        }

        flex-wrap: nowrap;
      } 
    }

    @media (max-width: 340px) {
      ul {
        li {
          .form-check {
            padding-left: 0.4rem;

            .wordgame-customRadio {
              margin-right: 5px !important;
            }
          }
        }
      }
    }

    @media (any-hover: none), (pointer: coarse) {
      ul {
        li:nth-of-type(3) {
          display: none;
        }
      }
    }
  }

  &__content {
    width: 100%;

    h2 {
      font-weight: 700;
    }

    .wordgame__category--header,
    .wordgame__subcategory--header {

      h2,
      h3 {
        margin-right: 16px;
        margin-left: 16px;
      }
    }

    .wordgame__category--header {
      h2 {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 1.75em;
        color: #000;

        @media (max-width: 768px) {
          font-size: 1.4em;
        }
      }
    }

    .wordgame__subcategory--header {
      border-top: 1px var(--wordgame-gray) solid;

      h3 {
        margin-top: 16px;
        font-size: 1.25em;
        font-weight: 700;
        color: #5D606E;
      }
    }
  }

  &__menu {
    min-width: var(--wordgame-menu-min-width);
    flex-shrink: 0;

    border-right: 1px var(--wordgame-gray) solid;

    h1 {
      margin: 16px 24px 20px var(--wordgame-menu-margin-left);
      font-weight: bold;
      color: #000;
    }

    ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    ul {
      margin-top: 16px;
    }

    li {
      display: block;
      margin-right: 30px;
      margin-left: var(--wordgame-menu-margin-left);
      font-size: 20px;
    }

    button {
      padding: 0;
      margin: var(--wordgame-menu-category-spacing) 0;
      color: var(--primary);
      background: none;
      border: none;
      appearance: none;

      &:hover {
        color: #1d4978;
        
        img {
          filter: brightness(80%);
        }
      }

      &:focus {
        outline: 2px solid black;
      }
    }

    img {
      display: inline-block;
      width: 26px;
      margin-right: 5px;
    }
  }

  &__col {
    padding: var(--wordgame-grid-margin);
  }
}

.wordgame__card {
  font-size: 14px;

  p {
    font-size: 1em;
    padding: 0;
    margin: 0;
    margin-top: var(--wordgame-card-description-padding);
  }

  h3 {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 10px;
    color: #687887;
    font-weight: 700;
  }
  
  img {
    width: 16px;
  }

  &--bottom {
    flex-shrink: 0;
    flex-grow: 0;
    color: black;
    padding: var(--wordgame-card-bottom-padding);
    font-size: 1em;
    border-top: 1px var(--wordgame-gray) solid;
  }

  @media (max-width: 576px) {
    font-size: 14px;
  }

  @media (min-width: 576px) {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    font-size: 14px;
  }

  &__icon {
    height: 20px;
    margin: 5px;
  }

  &__thumb {
    position: relative;
    padding-bottom: 120%;
    background: center center no-repeat;
    background-size: contain;
    border-radius: 3px;

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &.wordgame-no-image {
      background-color: #ECF0F2;
    }
  }

  &--top {
    position: relative;
    flex-grow: 1;
    min-width: 100px;
    overflow: hidden;
    font-size: 1em;
    padding: var(--wordgame-card-top-padding);

    .wordgame-no-image-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        z-index: 1;
        text-align: center;
        color: #8996A4;
        user-select: none;
        line-height: 24px;
        font-size: 16px;
      }
    }
  }

  &__audiobtn {
    border: none;
    appearance: none;
    background: none;
  }

  &__name {
    min-height: 32px;
    background-color: var(--light);
    display: block;
    font-weight: bold;
    width: 100%;
    border-radius: 40px;
    border: none;
    appearance: none;
    color: black;

    img {
      display: none;
    }

    @media (any-hover: none), (pointer: coarse) {
      img {
        display: inline;
        width: 16px;
        height: auto;
      }
    }

    &:hover {
      color: #fff;
      cursor: url("../images/speaker-icon-light.png"), auto;
      background-color: var(--primary);

      img {
        filter: brightness(0) invert(1);
      }

      &.wordgame-no-sound {
        cursor: default;
      }
    }

    &:focus {
      outline: 2px solid black;
    }
  }
}

.card--type-2 {
  position: relative;
  backface-visibility: hidden;
  transition: transform 0.25s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.25s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 0.25s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 0.25s;

  .card__face {
    position: relative;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    border: 1px var(--wordgame-gray) solid;
    border-radius: 4px;
    transition: transform 0.25s;
    -webkit-transition: -webkit-transform 0.25s;
    -o-transition: -o-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    border-radius: 4px;
    transform: rotateX(0deg);
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    background-color: white;

    @media print {
      z-index: 3;
    }
  }

  .card__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    border: 1px var(--primary) solid;
    border-radius: 4px;
    display: flex;
    transform: rotateX(0deg);
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    flex-direction: column;
    transition: transform 0.25s;
    -webkit-transition: -webkit-transform 0.25s;
    -o-transition: -o-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    background-color: white;

    .wordgame__card--top {
      overflow-y: auto;
    }
  }

  .card__button {
    position: absolute;
    top: var(--wordgame-card-top-padding);
    z-index: 2;
    padding: 0;
    background-color: #fff;
    border: 1px solid var(--wordgame-gray);
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    appearance: none;

    &:focus {
      outline: 2px solid black;
    }

    img {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0;
    }

    &--left {
      left: var(--wordgame-card-top-padding);
    }

    &--right {
      right: var(--wordgame-card-top-padding);
    }

  }

  &.card--flipped .card__face {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }

  &.card--flipped .card__back {
    transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

.wordgame-static-picture {
  display: flex;
  padding: 8px;
  position: relative;
  border: 1px var(--wordgame-gray) solid;
  justify-content: center;
  border-radius: 4px;

  width: 80%;
  margin: 0 auto;

  @media (max-width: 992px) {
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 340px;
  }
}

.wordgame-multicard {
  display: flex;
  position: relative;
  border: 1px var(--wordgame-gray) solid;
  justify-content: center;
  border-radius: 4px;

  width: 50%;
  margin: 0 auto;
  
  &.bigger {
    width: 70%;
  }

  @media (max-width: 992px) {
    width: 100%;

    &.bigger {
      width: 100%;
    }
  }

  img {
    width: 100%;
  }

  &-label:hover {
    cursor: url("../images/speaker-icon-light.png"), auto;

    &.wordgame-no-sound {
      cursor: default;
    }
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.wordgame__row {
  @media (min-width: 768px) {
    margin: var(--wordgame-grid-margin) !important;
  }

  @media (max-width: 768px) {
    margin: 0 !important;
  }
}

.wordgame-active {
  font-weight: 700;
}

.wordgame-card-hidden {
  visibility: hidden;

  .wordgame__card--top {
    overflow-y: hidden;
  }
}

.wordgame-text-upper {
  text-transform: uppercase;

  button {
    text-transform: uppercase;
  }
}

.wordgame-customRadio {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  width: 1.25em;
  height: 1.25em;
  border-radius: 0.625em;
  background: white;
  margin: 0 !important;
  
  input:checked .wordgame-customRadio {
    border: none;
  }
  * {
    margin: 0 !important;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    &:checked + .wordgame-customRadio__indicator:before {
      display: block;
    }
    &:focus + .wordgame-customRadio__indicator {
      outline: 2px solid black;
    }
  }
  &__indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.625em;
    border: 0.0625em solid #8996A4;
    &:before {
      display: block;
      content: " ";
      position: absolute;
      top: -0.0625em;
      left: -0.0625em;
      right: -0.0625em;
      bottom: -0.0625em;
      background: var(--primary);
      border-radius: 0.625em;
      display: none;
    }
    
    &:after {
      display: block;
      content: " ";
      position: absolute;
      top: 0.3125em;
      left: 0.3125em;
      right: 0.3125em;
      bottom: 0.3125em;
      background: #fff;
      border-radius: 0.625em;
    }
  }
}

.wordgame-custom-toggle {
  .custom-control-label::before{
    width: 2rem;
    border-radius: 0.6rem;
    top: 0.2rem;
    height: 1.2rem;
  }

  &:focus-within .custom-control-label::before{
    box-shadow: none;
    outline: 2px solid black;
  }

  .custom-control-label::after{
    top: calc(0.20rem + 2px);
    left: calc(-2.20rem + 2px);
    width: calc(1.2rem - 4px);
    height: calc(1.2rem - 4px);
    border-radius: 0.6rem;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #007025;
    background-color: #007025;
  }
}

.wordgame-top-category {
  display: none;
}

@media (max-width: 768px) {
  .wordgame-top-menu {
    position: sticky;
    top: 30px;
    z-index: 1;
    background: #f0f0f0;
  
    aside:nth-child(2) {
      width: 100%;
    }
  }

  .wordgame-top-category {
    display: block;
    position: fixed;
    top: 20px;
    left: 80px;
    z-index: 10;

    h1 {     
      color: black; 
      font-size: 1.25rem;
      font-weight: 700 !important;
    }
  }
}
